Repository dbt-labs/docs.getdbt.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dbt-labs/product-docs, @KiraFuruichi, @dataders, @dbeatty10, @amychen1776

.github/CODEOWNERS:

# Lower entries on this list take precedence

# Anything unmatched by selectors below
*      @dbt-labs/product-docs

# The blog 
/website/blog @KiraFuruichi


# Adapter & Package Development Docs
/website/docs/docs/supported-data-platforms.md                @dbt-labs/product-docs @dataders
/website/docs/reference/warehouse-setups                      @dbt-labs/product-docs @dataders
# `resource-configs` contains more than just warehouse setups
/website/docs/reference/resource-configs/*-configs.md           @dbt-labs/product-docs @dataders
/website/docs/guides/advanced/adapter-development              @dbt-labs/product-docs @dataders @dbeatty10

/website/docs/guides/building-packages                          @dbt-labs/product-docs @amychen1776 @dataders @dbeatty10
/website/docs/guides/creating-new-materializations              @dbt-labs/product-docs @dataders @dbeatty10

Adding 'incremental_predicates1 information
  website/docs/docs/build/incremental-models.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Clarify github app integration requirements
  website/docs/docs/collaborate/git/connect-github.md
Owners: @dbt-labs/product-docs

Update install-python-compatibility.md
  website/docs/faqs/Core/install-python-compatibility.md
Owners: @dbt-labs/product-docs

remove extra word "the" (#2680)
  website/docs/guides/best-practices/how-we-structure/3-intermediate.md
Owners: @dbt-labs/product-docs

Update dbt-versions.js
  website/dbt-versions.js
Owners: @dbt-labs/product-docs

Update website/dbt-versions.js
  website/dbt-versions.js
Owners: @dbt-labs/product-docs

Update website/docs/docs/dbt-versions/core-versions.md
  website/docs/docs/dbt-versions/core-versions.md
Owners: @dbt-labs/product-docs

Update website/docs/faqs/Tests/testing-sources.md
  website/docs/faqs/Tests/testing-sources.md
Owners: @dbt-labs/product-docs

Update website/docs/reference/dbt-jinja-functions/local_md5.md
  website/docs/reference/dbt-jinja-functions/local_md5.md
Owners: @dbt-labs/product-docs

Update website/docs/reference/dbt-jinja-functions/local_md5.md
  website/docs/reference/dbt-jinja-functions/local_md5.md
Owners: @dbt-labs/product-docs

Update local_md5.md
  website/docs/reference/dbt-jinja-functions/local_md5.md
Owners: @dbt-labs/product-docs

Update local_md5.md
  website/docs/reference/dbt-jinja-functions/local_md5.md
Owners: @dbt-labs/product-docs

Rename local_md5.md to local-md5.md
  website/docs/reference/dbt-jinja-functions/local-md5.md
Owners: @dbt-labs/product-docs

Update exposures.md
  website/docs/docs/build/exposures.md
Owners: @dbt-labs/product-docs

Update website/docs/docs/build/exposures.md
  website/docs/docs/build/exposures.md
Owners: @dbt-labs/product-docs

Update website/docs/reference/node-selection/defer.md
  website/docs/reference/node-selection/defer.md
Owners: @dbt-labs/product-docs

Update website/docs/reference/node-selection/defer.md
  website/docs/reference/node-selection/defer.md
Owners: @dbt-labs/product-docs

Update defer.md
  website/docs/reference/node-selection/defer.md
Owners: @dbt-labs/product-docs

Update website/docs/docs/build/packages.md
  website/docs/docs/build/packages.md
Owners: @dbt-labs/product-docs

Updates to upgrade guides for 1.4
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
  website/docs/guides/migration/versions/06-upgrading-to-v1.2.md
  website/docs/guides/migration/versions/07-upgrading-to-v1.1.md
  website/docs/guides/migration/versions/08-upgrading-to-v1.0.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
Owners: @dbt-labs/product-docs

Sort authors yaml file alphabetically
  website/blog/authors.yml
Owners: @KiraFuruichi

Add images
  website/static/img/blog/2023-01-17-grouping-data-tests/1-monotonicity.png
  website/static/img/blog/2023-01-17-grouping-data-tests/2-missing.png
  website/static/img/blog/authors/emily-riederer.jpeg
Owners: @dbt-labs/product-docs

Add Emily's author entry
  website/blog/authors.yml
Owners: @KiraFuruichi

Sort authors keys alphabetically
  website/blog/authors.yml
Owners: @KiraFuruichi

Create blog post
  website/blog/2023-01-17-grouping-data-tests.md
  website/blog/authors.yml
Owners: @KiraFuruichi

Adding vertica setup final changes
  website/docs/reference/warehouse-setups/vertica-setup.md
Owners: @dbt-labs/product-docs, @dataders

adding final changes of vertica-setup
  website/docs/reference/warehouse-setups/vertica-setup.md
Owners: @dbt-labs/product-docs, @dataders

Add term for monotonically increasing
  website/blog/2022-08-17-managing-surrogate-keys-in-dbt.md
  website/blog/2023-01-17-grouping-data-tests.md
  website/docs/terms/monotonically-increasing.md
  website/docs/terms/surrogate-key.md
Owners: @KiraFuruichi, @dbt-labs/product-docs

adding final changes to vertica setup
  website/docs/reference/warehouse-setups/vertica-setup.md
Owners: @dbt-labs/product-docs, @dataders

Update website/docs/reference/dbt-jinja-functions/model.md
  website/docs/reference/dbt-jinja-functions/model.md
Owners: @dbt-labs/product-docs

change to list
  website/docs/docs/collaborate/git/connect-github.md
Owners: @dbt-labs/product-docs

updates
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
Owners: @dbt-labs/product-docs

Adding final changes
  website/docs/reference/warehouse-setups/vertica-setup.md
Owners: @dbt-labs/product-docs, @dataders

Update 04-upgrading-to-dbt-utils-v1.0.md
  website/docs/guides/migration/versions/04-upgrading-to-dbt-utils-v1.0.md
Owners: @dbt-labs/product-docs

Update config.yml
  .github/config.yml
Owners: @dbt-labs/product-docs

Update website/docs/docs/collaborate/git/connect-github.md
  website/docs/docs/collaborate/git/connect-github.md
Owners: @dbt-labs/product-docs

Update website/docs/docs/collaborate/git/connect-github.md
  website/docs/docs/collaborate/git/connect-github.md
Owners: @dbt-labs/product-docs
