Repository dbt-labs/docs.getdbt.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @annafil, @runleonarun, @dbt-labs/devex, @amychen1776

Update website/docs/reference/project-configs/version.md
  website/docs/reference/project-configs/version.md
Owners: @annafil, @runleonarun

Update website/docs/reference/project-configs/version.md
  website/docs/reference/project-configs/version.md
Owners: @annafil, @runleonarun

use useLocation hook to get path instead of window
  website/src/theme/NavbarItem/DropdownNavbarItem.js
Owners: @annafil, @runleonarun

Update maching-learning-dbt-baton-pass.md
  website/blog/data-ecosystem/maching-learning-dbt-baton-pass.md
Owners: @dbt-labs/devex

Fixing bad link
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-azure-devops.md
Owners: @runleonarun

.github/CODEOWNERS:

# Lower entries on this list take precedence

# Anything unmatched by selectors below
*                                     @annafil @runleonarun

# Cloud docs and images are assigned to Leona
/website/docs/docs/dbt-cloud/dbt-cloud-changelog.md    @runleonarun 
/website/docs/docs/dbt-cloud/                          @runleonarun 
/website/src/pages/dbt-cloud/                          @runleonarun 
/website/static/img/docs/dbt-cloud/                    @runleonarun 

# Blog content assigned to Developer experience team
/website/blog/                       @dbt-labs/devex 


# Partner Related docs assigned to Amy C
/website/docs/docs/available-adapters.md/                       @amychen1776 @runleonarun
/website/docs/reference/warehouse-profiles/                     @amychen1776 @runleonarun
