Repository dbt-labs/docs.getdbt.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @annafil, @runleonarun, @dbt-labs/devex, @amychen1776, @dataders, @dbeatty10

new feature template (#1168)
  .github/ISSUE_TEMPLATE/new-dbt-feature.yml
Owners: @annafil, @runleonarun

Update publication date
  website/blog/2022-04-19-complex-deduplication.md
Owners: @dbt-labs/devex

Simplify regex per Phils advice
  website/src/components/faqs/index.js
Owners: @annafil, @runleonarun

Update 2022-04-19-complex-deduplication.md
  website/blog/2022-04-19-complex-deduplication.md
Owners: @dbt-labs/devex

Fix/remove smart failure reruns language (#1308)
  website/blog/2019-05-01-how-we-structure-dbt-projects.md
  website/blog/2021-02-05-dbt-project-checklist.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-upgrading-dbt-versions.md
  website/docs/docs/dbt-cloud/dbt-cloud-api/metadata/schema/schema-metadata-snapshots.mdx
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-enabling-continuous-integration-with-github.md
  website/package-lock.json
Owners: @dbt-labs/devex, @runleonarun, @annafil

Update website/sidebars.js
  website/sidebars.js
Owners: @annafil, @runleonarun

Add dbt Business Intelligence project
  website/docs/faqs/example-projects.md
Owners: @annafil, @runleonarun

more specific features
  website/docs/docs/guides/migration-guide/migrating-from-spark-to-databricks.md
Owners: @annafil, @runleonarun

add pre-reqs and slack link
  website/docs/docs/contributing/building-a-new-adapter.md
Owners: @annafil, @runleonarun

moving release notes into their own pages
  website/docs/docs/dbt-cloud/release-notes.md
  website/docs/docs/dbt-cloud/release-notes/01-January-2022/IDE-autocomplete-more.md
  website/docs/docs/dbt-cloud/release-notes/01-January-2022/model-timing-more.md
  website/docs/docs/dbt-cloud/release-notes/02-February-2022/DAG-updates-more.md
  website/docs/docs/dbt-cloud/release-notes/02-February-2022/service-tokens-more.md
  website/docs/docs/dbt-cloud/release-notes/03-March-2022/ide-timeout-message.md
  website/docs/docs/dbt-cloud/release-notes/03-March-2022/prep-and-waiting-time.md
  website/docs/docs/dbt-cloud/release-notes/04-April-2022/audit-log.md
  website/docs/docs/dbt-cloud/release-notes/04-April-2022/email-verification.md
  website/docs/docs/dbt-cloud/release-notes/13-dbt-cloud-changelog-2019-2020.md
  website/docs/docs/dbt-cloud/release-notes/14-dbt-cloud-changelog-2021.md
Owners: @runleonarun

adding new notes
  website/docs/docs/dbt-cloud/release-notes/04-April-2022/audit-log.md
  website/docs/docs/dbt-cloud/release-notes/05-May-2022/credentials-saved.md
  website/docs/docs/dbt-cloud/release-notes/05-May-2022/scheduler-improvements.md
Owners: @runleonarun

new changelog entries
  website/docs/docs/dbt-cloud/release-notes/04-April-2022/credentials-saved.md
  website/docs/docs/dbt-cloud/release-notes/04-April-2022/scheduler-improvements.md
Owners: @runleonarun

fix databricks snippet
  website/snippets/tutorial-initiate-project.md
Owners: @annafil, @runleonarun

Update the exposure page to remove the metrics word
  website/docs/docs/building-a-dbt-project/exposures.md
Owners: @annafil, @runleonarun

improve doc and inheritate from spark
  website/docs/reference/resource-configs/glue-configs.md
  website/docs/reference/warehouse-profiles/glue-profile.md
Owners: @annafil, @runleonarun, @amychen1776, @dataders

changing order and capping
  website/docs/docs/dbt-cloud/release-notes/09-April-2022/audit-log.md
  website/docs/docs/dbt-cloud/release-notes/09-April-2022/credentials-saved.md
  website/docs/docs/dbt-cloud/release-notes/09-April-2022/email-verification.md
  website/docs/docs/dbt-cloud/release-notes/09-April-2022/scheduler-improvements.md
  website/docs/docs/dbt-cloud/release-notes/10-March-2022/ide-timeout-message.md
  website/docs/docs/dbt-cloud/release-notes/10-March-2022/prep-and-waiting-time.md
  website/docs/docs/dbt-cloud/release-notes/11-February-2022/DAG-updates-more.md
  website/docs/docs/dbt-cloud/release-notes/11-February-2022/service-tokens-more.md
  website/docs/docs/dbt-cloud/release-notes/12-January-2022/IDE-autocomplete-more.md
  website/docs/docs/dbt-cloud/release-notes/12-January-2022/model-timing-more.md
  website/sidebars.js
Owners: @runleonarun, @annafil

capping
  website/docs/docs/dbt-cloud/release-notes.md
Owners: @runleonarun

Update website/docs/docs/dbt-cloud/release-notes/09-April-2022/scheduler-improvements.md
  website/docs/docs/dbt-cloud/release-notes/09-April-2022/scheduler-improvements.md
Owners: @runleonarun

Update _redirects
  _redirects
Owners: @annafil, @runleonarun

Add line break to have the types listed in a list.
  website/docs/docs/building-a-dbt-project/building-models/materializations.md
Owners: @annafil, @runleonarun

Update website/docs/docs/dbt-cloud/release-notes.md
  website/docs/docs/dbt-cloud/release-notes.md
Owners: @runleonarun

Updating release notes format (#1438)
  _redirects
  website/docs/docs/dbt-cloud/release-notes.md
  website/docs/docs/dbt-cloud/release-notes/09-April-2022/audit-log.md
  website/docs/docs/dbt-cloud/release-notes/09-April-2022/credentials-saved.md
  website/docs/docs/dbt-cloud/release-notes/09-April-2022/email-verification.md
  website/docs/docs/dbt-cloud/release-notes/09-April-2022/scheduler-improvements.md
  website/docs/docs/dbt-cloud/release-notes/10-March-2022/ide-timeout-message.md
  website/docs/docs/dbt-cloud/release-notes/10-March-2022/prep-and-waiting-time.md
  website/docs/docs/dbt-cloud/release-notes/11-February-2022/DAG-updates-more.md
  website/docs/docs/dbt-cloud/release-notes/11-February-2022/service-tokens-more.md
  website/docs/docs/dbt-cloud/release-notes/12-January-2022/IDE-autocomplete-more.md
  website/docs/docs/dbt-cloud/release-notes/12-January-2022/model-timing-more.md
  website/docs/docs/dbt-cloud/release-notes/13-dbt-cloud-changelog-2019-2020.md
  website/docs/docs/dbt-cloud/release-notes/14-dbt-cloud-changelog-2021.md
  website/sidebars.js
Owners: @annafil, @runleonarun

Update list.md
  website/docs/reference/commands/list.md
Owners: @annafil, @runleonarun

.github/CODEOWNERS:

# Lower entries on this list take precedence

# Anything unmatched by selectors below
*                                     @annafil @runleonarun

# Cloud docs and images are assigned to Leona
/website/docs/docs/dbt-cloud/dbt-cloud-changelog.md    @runleonarun 
/website/docs/docs/dbt-cloud/                          @runleonarun 
/website/src/pages/dbt-cloud/                          @runleonarun 
/website/static/img/docs/dbt-cloud/                    @runleonarun 

# Blog content assigned to Developer experience team
/website/blog/                       @dbt-labs/devex 


# Adapter & Package Development Docs
/website/docs/docs/available-adapters.md/                       @runleonarun @amychen1776 @dataders
/website/docs/reference/warehouse-profiles/                     @runleonarun @amychen1776 @dataders
/website/docs/guides/building-packages                          @runleonarun @amychen1776 @dataders @dbeatty10 
/website/docs/contributing/building-a-new-adapter               @runleonarun @dataders @dbeatty10
/website/docs/contributing/testing-a-new-adapter                @runleonarun @dataders @dbeatty10
/website/docs/guides/creating-new-materializations              @runleonarun @dataders @dbeatty10
