Repository dbt-labs/docs.getdbt.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dbt-labs/product-docs, @KiraFuruichi, @dataders, @dbeatty10, @amychen1776

Update exposure-properties.md
  website/docs/reference/exposure-properties.md
Owners: @dbt-labs/product-docs

Update website/docs/docs/build/incremental-models.md
  website/docs/docs/build/incremental-models.md
Owners: @dbt-labs/product-docs

Update website/docs/docs/build/incremental-models.md
  website/docs/docs/build/incremental-models.md
Owners: @dbt-labs/product-docs

Update website/docs/docs/build/incremental-models.md
  website/docs/docs/build/incremental-models.md
Owners: @dbt-labs/product-docs

Update website/dbt-versions.js
  website/dbt-versions.js
Owners: @dbt-labs/product-docs

Update website/dbt-versions.js
  website/dbt-versions.js
Owners: @dbt-labs/product-docs

Update website/dbt-versions.js
  website/dbt-versions.js
Owners: @dbt-labs/product-docs

Update version-control-basics.md
  website/docs/docs/collaborate/git/version-control-basics.md
Owners: @dbt-labs/product-docs

Update website/docs/reference/artifacts/manifest-json.md
  website/docs/reference/artifacts/manifest-json.md
Owners: @dbt-labs/product-docs

Update website/docs/reference/dbt-jinja-functions/local-md5.md
  website/docs/reference/dbt-jinja-functions/local-md5.md
Owners: @dbt-labs/product-docs

Update website/docs/reference/dbt-jinja-functions/local-md5.md
  website/docs/reference/dbt-jinja-functions/local-md5.md
Owners: @dbt-labs/product-docs

Update version-control-basics.md
  website/docs/docs/collaborate/git/version-control-basics.md
Owners: @dbt-labs/product-docs

Update 04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/docs/build/packages.md
  website/docs/docs/build/packages.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update 04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update 04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/docs/build/exposures.md
  website/docs/docs/build/exposures.md
Owners: @dbt-labs/product-docs

Update single-sourcing-content.md
  contributing/single-sourcing-content.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Owners: @dbt-labs/product-docs

Update website/docs/reference/node-selection/defer.md
  website/docs/reference/node-selection/defer.md
Owners: @dbt-labs/product-docs

Update website/docs/reference/node-selection/defer.md
  website/docs/reference/node-selection/defer.md
Owners: @dbt-labs/product-docs

Add line breaks between entries
  website/blog/authors.yml
Owners: @KiraFuruichi

Add line breaks between authors
  website/blog/authors.yml
Owners: @KiraFuruichi

Update website/blog/2023-01-17-grouping-data-tests.md
  website/blog/2023-01-17-grouping-data-tests.md
Owners: @KiraFuruichi

Update website/blog/2023-01-17-grouping-data-tests.md
  website/blog/2023-01-17-grouping-data-tests.md
Owners: @KiraFuruichi

Changes from review
  website/blog/2023-01-17-grouping-data-tests.md
  website/blog/authors.yml
  website/docs/terms/monotonically-increasing.md
Owners: @KiraFuruichi, @dbt-labs/product-docs

Fix etl term usage
  website/blog/2023-01-17-grouping-data-tests.md
  website/docs/terms/etl.md
Owners: @KiraFuruichi, @dbt-labs/product-docs

.github/CODEOWNERS:

# Lower entries on this list take precedence

# Anything unmatched by selectors below
*      @dbt-labs/product-docs

# The blog 
/website/blog @KiraFuruichi


# Adapter & Package Development Docs
/website/docs/docs/supported-data-platforms.md                @dbt-labs/product-docs @dataders
/website/docs/reference/warehouse-setups                      @dbt-labs/product-docs @dataders
# `resource-configs` contains more than just warehouse setups
/website/docs/reference/resource-configs/*-configs.md           @dbt-labs/product-docs @dataders
/website/docs/guides/advanced/adapter-development              @dbt-labs/product-docs @dataders @dbeatty10

/website/docs/guides/building-packages                          @dbt-labs/product-docs @amychen1776 @dataders @dbeatty10
/website/docs/guides/creating-new-materializations              @dbt-labs/product-docs @dataders @dbeatty10
