Repository dbt-labs/docs.getdbt.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dbt-labs/product-docs, @KiraFuruichi, @dataders, @dbeatty10, @amychen1776

.github/CODEOWNERS:

# Lower entries on this list take precedence

# Anything unmatched by selectors below
*      @dbt-labs/product-docs

# The blog 
/website/blog @KiraFuruichi


# Adapter & Package Development Docs
/website/docs/docs/supported-data-platforms.md                @dbt-labs/product-docs @dataders
/website/docs/reference/warehouse-setups                      @dbt-labs/product-docs @dataders
# `resource-configs` contains more than just warehouse setups
/website/docs/reference/resource-configs/*-configs.md           @dbt-labs/product-docs @dataders
/website/docs/guides/advanced/adapter-development              @dbt-labs/product-docs @dataders @dbeatty10

/website/docs/guides/building-packages                          @dbt-labs/product-docs @amychen1776 @dataders @dbeatty10
/website/docs/guides/creating-new-materializations              @dbt-labs/product-docs @dataders @dbeatty10

fixes
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
Owners: @dbt-labs/product-docs

fixes
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
Owners: @dbt-labs/product-docs

Update content-style-guide.md
  contributing/content-style-guide.md
Owners: @dbt-labs/product-docs

Update website/docs/reference/node-selection/yaml-selectors.md
  website/docs/reference/node-selection/yaml-selectors.md
Owners: @dbt-labs/product-docs

Update sql-datediff.md
  website/docs/sql-reference/date-functions/sql-datediff.md
Owners: @dbt-labs/product-docs

fixes
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
  website/sidebars.js
Owners: @dbt-labs/product-docs

Update website/docs/reference/node-selection/yaml-selectors.md
  website/docs/reference/node-selection/yaml-selectors.md
Owners: @dbt-labs/product-docs

removing metrics ready integration content
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
Owners: @dbt-labs/product-docs

fixes
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
Owners: @dbt-labs/product-docs

Updating get started next steps (#2665)
  _redirects
  website/docs/docs/dbt-cloud/cloud-ide/ide-beta.md
  website/docs/docs/get-started/getting-started/building-your-first-project.md
  website/snippets/tutorial-next-steps-setting-up.md
Owners: @dbt-labs/product-docs

adding integration
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
Owners: @dbt-labs/product-docs

add content
  website/blog/2022-07-05-date-trunc-sql-love-letter.md
  website/docs/sql-reference/date-functions/sql-date-trunc.md
  website/docs/sql-reference/operators/sql-and.md
  website/docs/sql-reference/operators/sql-ilike.md
  website/docs/sql-reference/operators/sql-like.md
  website/docs/sql-reference/operators/sql-not.md
  website/sidebars.js
Owners: @KiraFuruichi, @dbt-labs/product-docs

add assetlinks.json
  .well-known/assetlinks.json
Owners: @dbt-labs/product-docs

Apply suggestions from code review
  website/docs/sql-reference/date-functions/sql-date-trunc.md
  website/docs/sql-reference/operators/sql-and.md
  website/docs/sql-reference/operators/sql-like.md
  website/docs/sql-reference/operators/sql-not.md
Owners: @dbt-labs/product-docs

Update website/docs/sql-reference/operators/sql-not.md
  website/docs/sql-reference/operators/sql-not.md
Owners: @dbt-labs/product-docs

Update website/docs/docs/dbt-versions/release-notes/02-Dec-2022/new-jobs-default-as-off.md
  website/docs/docs/dbt-versions/release-notes/02-Dec-2022/new-jobs-default-as-off.md
Owners: @dbt-labs/product-docs

adding insert overwrite
  website/docs/reference/resource-configs/vertica-configs.md
Owners: @dbt-labs/product-docs, @dataders

Update config.yml
  .github/config.yml
Owners: @dbt-labs/product-docs

Update content-style-guide.md
  contributing/content-style-guide.md
Owners: @dbt-labs/product-docs

Update dbt-docs screenshots
  website/static/img/docs/building-a-dbt-project/dag-exposures.png
  website/static/img/docs/building-a-dbt-project/dbt-docs-exposures.png
Owners: @dbt-labs/product-docs

adding
  website/docs/reference/resource-configs/vertica-configs.md
Owners: @dbt-labs/product-docs, @dataders

mw edits
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
Owners: @dbt-labs/product-docs

improvements
  website/docs/docs/use-dbt-semantic-layer/quickstart-semantic-layer.md
Owners: @dbt-labs/product-docs

Update avail-sl-integrations.md
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
Owners: @dbt-labs/product-docs

new faq for rotating api token
  website/docs/faqs/API/rotate-token.md
Owners: @dbt-labs/product-docs

new faqs for api and accounts
  website/docs/faqs/API/rotate-token.md
  website/docs/faqs/Accounts/find-user-id.md
Owners: @dbt-labs/product-docs

additions
  website/docs/docs/dbt-cloud-apis/user-tokens.md
  website/docs/faqs/API/rotate-token.md
  website/docs/faqs/Accounts/find-user-id.md
Owners: @dbt-labs/product-docs

adding append new columns
  website/docs/reference/resource-configs/vertica-configs.md
Owners: @dbt-labs/product-docs, @dataders

add manifest with tags
  website/static/dbt_projects/dbt_sample_project/manifest_with_tags.json
Owners: @dbt-labs/product-docs

replace existing manifest with tags manifest for dbt_sample_project
  website/docs/docs/dbowser-demo.md
  website/src/components/dbt-editor/index.js
  website/static/dbt_projects/dbt_sample_project/manifest.json
  website/static/dbt_projects/dbt_sample_project/manifest_with_tags.json
Owners: @dbt-labs/product-docs

add check for current step in tags array
  website/docs/docs/dbowser-demo.md
  website/src/components/dbt-editor/index.js
  website/src/components/dbt-editor/utils/build-sidebar.js
Owners: @dbt-labs/product-docs

add all 4 steps from initial demo
  website/docs/docs/dbowser-demo.md
Owners: @dbt-labs/product-docs

cleanup old projects and add seeds to current example project
  website/static/dbt_projects/dbt_sample_project/seeds/.gitkeep
  website/static/dbt_projects/dbt_sample_project/seeds/contact.csv
  website/static/dbt_projects/dbt_sample_project/seeds/email_event.csv
  website/static/dbt_projects/dbt_sample_project/seeds/email_event_sent.csv
  website/static/dbt_projects/dbt_sample_project/seeds/marketing_email.csv
  website/static/dbt_projects/dbt_sample_project/seeds/marketing_email_campaign.csv
  website/static/dbt_projects/hackathon-email-step1/manifest.json
  website/static/dbt_projects/hackathon-email-step2/manifest.json
  website/static/dbt_projects/hackathon-email-step2/seeds/.gitkeep
  website/static/dbt_projects/hackathon-email-step2/seeds/contact.csv
  website/static/dbt_projects/hackathon-email-step2/seeds/email_event.csv
  website/static/dbt_projects/hackathon-email-step2/seeds/email_event_sent.csv
  website/static/dbt_projects/hackathon-email-step2/seeds/marketing_email.csv
  website/static/dbt_projects/hackathon-email-step2/seeds/marketing_email_campaign.csv
  website/static/dbt_projects/hackathon-email-step3/manifest.json
  website/static/dbt_projects/hackathon-email-step3/seeds/.gitkeep
  website/static/dbt_projects/hackathon-email-step3/seeds/contact.csv
  website/static/dbt_projects/hackathon-email-step3/seeds/email_event.csv
  website/static/dbt_projects/hackathon-email-step3/seeds/email_event_sent.csv
  website/static/dbt_projects/hackathon-email-step3/seeds/marketing_email.csv
  website/static/dbt_projects/hackathon-email-step3/seeds/marketing_email_campaign.csv
  website/static/dbt_projects/hackathon-email-step4/manifest.json
  website/static/dbt_projects/hackathon-email-step4/seeds/.gitkeep
  website/static/dbt_projects/hackathon-email-step4/seeds/contact.csv
  website/static/dbt_projects/hackathon-email-step4/seeds/email_event.csv
  website/static/dbt_projects/hackathon-email-step4/seeds/email_event_sent.csv
  website/static/dbt_projects/hackathon-email-step4/seeds/marketing_email.csv
  website/static/dbt_projects/hackathon-email-step4/seeds/marketing_email_campaign.csv
  website/static/dbt_projects/hackathon/manifest.json
  website/static/dbt_projects/hackathon/seeds/contact.csv
  website/static/dbt_projects/hackathon/seeds/email_event.csv
  website/static/dbt_projects/hackathon/seeds/email_event_sent.csv
  website/static/dbt_projects/hackathon/seeds/marketing_email.csv
  website/static/dbt_projects/hackathon/seeds/marketing_email_campaign.csv
  website/static/dbt_projects/jaffle_shop/manifest.json
Owners: @dbt-labs/product-docs

Adding changelog note to address the v1.4 changes to the defer feature
  website/docs/reference/node-selection/defer.md
Owners: @dbt-labs/product-docs

Call out explicit need to create new branches
  website/docs/docs/collaborate/git/version-control-basics.md
Owners: @dbt-labs/product-docs

add FAQ, remove custom branch from PR template page
  website/docs/docs/collaborate/git/pr-template.md
  website/docs/faqs/Environments/custom-branch-settings.md
Owners: @dbt-labs/product-docs

Adding new section to address support for tarball URLs to install packages.
  website/docs/docs/build/packages.md
Owners: @dbt-labs/product-docs

add redirect to admin api page
  _redirects
Owners: @dbt-labs/product-docs

update docs based on new parsing
  website/docs/reference/resource-configs/constraints_enabled.md
Owners: @dbt-labs/product-docs

remove extra word "the"
  website/docs/guides/best-practices/how-we-structure/3-intermediate.md
Owners: @dbt-labs/product-docs
