Repository dbt-labs/docs.getdbt.com, changes with the labels that .github/labeler.yml gives for each.
All labels: developer blog, guides, content

.github/labeler.yml:

developer blog:
- website/blog/**/*

guides:
- website/docs/guides/**/*
- website/docs/quickstarts/**/*

content:
- website/docs/**/*
- website/snippets/**/*
- website/static/**/*

Update pre-hook-post-hook.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
Labels: content

Update website/docs/reference/resource-configs/pre-hook-post-hook.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
Labels: content

Update website/docs/reference/resource-configs/pre-hook-post-hook.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
Labels: content

Update website/docs/reference/resource-configs/pre-hook-post-hook.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
Labels: content

Update pre-hook-post-hook.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
Labels: content

Update pre-hook-post-hook.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
Labels: content

Update website/docs/reference/resource-configs/pre-hook-post-hook.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
Labels: content

Update pre-hook-post-hook.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
Labels: content

updates to pages
  website/docs/reference/resource-configs/resource-path.md
  website/docs/reference/source-configs.md
  website/sidebars.js
Labels: content

tweak
  website/docs/reference/resource-configs/resource-path.md
  website/docs/reference/source-configs.md
Labels: content

Delete .github/workflows/repo-sync.yml
  .github/workflows/repo-sync.yml
Labels: none

Update website/docs/docs/build/sl-getting-started.md
  website/docs/docs/build/sl-getting-started.md
Labels: content

update faqs
  website/docs/docs/use-dbt-semantic-layer/sl-architecture.md
Labels: content

PrivateLink availability banner
  website/docs/docs/cloud/secure/about-privatelink.md
  website/docs/docs/cloud/secure/databricks-privatelink.md
  website/docs/docs/cloud/secure/postgres-privatelink.md
  website/docs/docs/cloud/secure/redshift-privatelink.md
  website/docs/docs/cloud/secure/snowflake-privatelink.md
  website/snippets/_available-tiers-privatelink.md
Labels: content

add cycle detection info
  website/docs/guides/best-practices/how-we-mesh/mesh-2-structures.md
Labels: guides, content

Update website/docs/guides/best-practices/how-we-mesh/mesh-2-structures.md
  website/docs/guides/best-practices/how-we-mesh/mesh-2-structures.md
Labels: guides, content

Update website/docs/guides/best-practices/how-we-mesh/mesh-2-structures.md
  website/docs/guides/best-practices/how-we-mesh/mesh-2-structures.md
Labels: guides, content

Update website/docs/guides/best-practices/how-we-mesh/mesh-2-structures.md
  website/docs/guides/best-practices/how-we-mesh/mesh-2-structures.md
Labels: guides, content

Fold in feedback
  website/docs/docs/deploy/job-notifications.md
  website/static/img/docs/deploy/example-notification-external-email.png
Labels: content

Update both prereqs sections
  website/docs/docs/deploy/job-notifications.md
Labels: content

Add info about sending email alerts to more people
  website/docs/docs/deploy/job-notifications.md
Labels: content

moving more guides
  website/docs/best-practices/dbt-unity-catalog-best-practices.md
  website/docs/guides/airflow-and-dbt-cloud.md
  website/docs/guides/building-packages.md
  website/docs/guides/creating-new-materializations.md
  website/docs/guides/custom-cicd-pipelines.md
  website/docs/guides/dbt models on Databricks.md
  website/docs/guides/debugging-schema-names.md
  website/docs/guides/how-to-set-up-your-databricks-dbt-project.md
  website/docs/guides/how-to-use-databricks-workflows-to-run-dbt-cloud-jobs.md
  website/docs/guides/migrating-from-spark-to-databricks.md
  website/docs/guides/migrating-from-stored-procedures.md
  website/docs/guides/orchestration/custom-cicd-pipelines/1-cicd-background.md
  website/docs/guides/orchestration/custom-cicd-pipelines/4-dbt-cloud-job-on-pr.md
  website/docs/guides/orchestration/custom-cicd-pipelines/5-something-to-consider.md
  website/docs/guides/orchestration/set-up-ci/1-introduction.md
  website/docs/guides/orchestration/set-up-ci/2-quick-setup.md
  website/docs/guides/orchestration/set-up-ci/3-run-dbt-project-evaluator.md
  website/docs/guides/orchestration/set-up-ci/4-lint-on-push.md
  website/docs/guides/orchestration/set-up-ci/5-multiple-checks.md
  website/docs/guides/productionizing-your-dbt-databricks-project.md
  website/docs/guides/set-up-ci.md
  website/docs/guides/sl-migration.md
Labels: guides, content

Mark 1.6 under critical support
  website/snippets/core-versions-table.md
Labels: content

Fix typo
  website/snippets/_sl-define-metrics.md
Labels: content

remove file add redirect
  website/docs/faqs/Project/docs-for-multiple-projects.md
  website/vercel.json
Labels: content

remove callout and add tabs as examples
  website/docs/reference/resource-configs/alias.md
  website/docs/reference/resource-configs/database.md
  website/docs/reference/resource-configs/schema.md
Labels: content

Update constraints.md
  website/docs/reference/resource-properties/constraints.md
Labels: content

Add info about run duration
  website/docs/docs/deploy/jobs.md
Labels: content

Nit
  website/docs/docs/deploy/jobs.md
Labels: content
