Repository dbt-labs/docs.getdbt.com, pull requests merged in 2022-07, with the labels that each got.

#1648 Cross database `type_{X}` macros
  website/docs/reference/dbt-jinja-functions/cross-database-macros.md
Labels: content, size: medium

#1668 Update cloud-choosing-a-dbt-version.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-choosing-a-dbt-version.md
Labels: content, size: x-small

#1663 Fix the `Getting Started Tutorial` link
  website/docs/faqs/Project/example-projects.md
Labels: content, size: x-small

#1675 Add splat redirect for legacy guides
  _redirects
  website/docs/docs/building-a-dbt-project/snapshots.md
  website/docs/docs/building-a-dbt-project/tests.md
Labels: content, size: x-small

#1657 Add cypress
  .github/workflows/cypress_tests.yml
  README.md
  website/.gitignore
  website/cypress.config.js
  website/cypress/e2e/docs.cy.js
  website/cypress/e2e/homepage.cy.js
  website/cypress/support/commands.js
  website/cypress/support/e2e.js
  website/package-lock.json
  website/package.json
Labels: size: large

#1682 update wording in ci/cd guide
  website/docs/guides/orchestration/custom-cicd-pipelines/1-cicd-background.md
Labels: content, size: x-small

#1680 Add documentation about dbt-mysql adapter
  website/docs/docs/available-adapters.md
  website/docs/reference/warehouse-profiles/mysql-profile.md
  website/sidebars.js
Labels: content, size: medium

#1618 Update snapshotting-freshness-for-one-source.md
  website/docs/docs/faqs/snapshotting-freshness-for-one-source.md
  website/docs/faqs/Snapshots/snapshotting-freshness-for-one-source.md
Labels: content, size: small

#1689 Added documentation on dbt-ibmdb2 adapter
  website/docs/docs/available-adapters.md
  website/docs/reference/warehouse-profiles/ibmdb2-profile.md
  website/sidebars.js
Labels: content, size: medium

#1642 Grants as configs - Core v1.2
  website/dbt-versions.js
  website/docs/docs/building-a-dbt-project/hooks-operations.md
  website/docs/guides/migration/versions/06-upgrading-to-v1.2.md
  website/docs/reference/model-configs.md
  website/docs/reference/resource-configs/bigquery-configs.md
  website/docs/reference/resource-configs/grants.md
  website/docs/reference/seed-configs.md
  website/docs/reference/snapshot-configs.md
  website/sidebars.js
  website/snippets/grants-vs-access-to.md
Labels: content, size: large

#1641 Foundation for Grants as configs (core 1.2 feature)
  website/blog/2021-11-23-how-to-upgrade-dbt-versions.md
  website/dbt-versions.js
  website/docs/docs/building-a-dbt-project/building-models/using-custom-schemas.md
  website/docs/docs/building-a-dbt-project/building-models/using-variables.md
  website/docs/docs/building-a-dbt-project/hooks-operations.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-upgrading-dbt-versions.md
  website/docs/docs/dbt-cloud/release-notes/13-dbt-cloud-changelog-2019-2020.md
  website/docs/guides/migration/versions/06-upgrading-to-v1.2.md
  website/docs/guides/migration/versions/07-upgrading-to-v1.1.md
  website/docs/guides/migration/versions/08-upgrading-to-v1.0.md
  website/docs/guides/migration/versions/09-upgrading-to-v0.21.md
  website/docs/guides/migration/versions/10-upgrading-to-v0.20.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-11-0.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-12-0.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-13-0.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-14-0.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-14-1.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-15-0.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-16-0.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-17-0.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-18-0.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-19-0.md
  website/docs/reference/model-configs.md
  website/docs/reference/project-configs/asset-paths.md
  website/docs/reference/project-configs/config-version.md
  website/docs/reference/resource-configs/bigquery-configs.md
  website/docs/reference/resource-configs/grants.md
  website/docs/reference/seed-configs.md
  website/docs/reference/snapshot-configs.md
  website/sidebars.js
  website/snippets/available-prerelease-beta-banner.md
  website/snippets/grants-vs-access-to.md
Labels: content, size: large

#1699 Update sharing-documentation.md
  website/docs/faqs/Docs/sharing-documentation.md
Labels: content, size: x-small

#1692 Document TestDocsGenerate for 1.2 upgrade guide
  website/docs/guides/migration/versions/06-upgrading-to-v1.2.md
Labels: content, size: small

#1614 anders owns more, Amy owns less
  .github/CODEOWNERS
Labels: size: x-small

#1702 Update cross-database-macros.md
  website/docs/reference/dbt-jinja-functions/cross-database-macros.md
Labels: content, size: x-small

#1701 excise adapter-specific guidance to GitHub discussion
  website/docs/guides/migration/versions/06-upgrading-to-v1.2.md
Labels: content, size: medium

#1676 Adding Expression Metrics & Metric Types to Metric Page
  website/docs/docs/building-a-dbt-project/metrics.md
  website/docs/guides/migration/versions/06-upgrading-to-v1.2.md
Labels: content, size: medium

#1708 Remove next.docs redirect
  _redirects
Labels: size: x-small

#1712 Revert "verify updates to next are pulling"
  website/src/pages/index.js
Labels: size: x-small

#1688 Update Oracle profile
  website/docs/reference/warehouse-profiles/oracle-profile.md
Labels: content, size: large

#1698 v1.2 docs omnibus
  website/docs/guides/migration/versions/06-upgrading-to-v1.2.md
  website/docs/reference/artifacts/dbt-artifacts.md
  website/docs/reference/artifacts/manifest-json.md
  website/docs/reference/dbt-jinja-functions/modules.md
  website/docs/reference/dbt-jinja-functions/set.md
  website/docs/reference/dbt-jinja-functions/zip.md
  website/docs/reference/global-configs.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/node-selection/yaml-selectors.md
  website/docs/reference/project-configs/log-path.md
  website/docs/reference/project-configs/target-path.md
Labels: content, size: large

#1707 Update to `grants` documentation
  website/docs/docs/building-a-dbt-project/hooks-operations.md
  website/docs/reference/project-configs/on-run-start-on-run-end.md
  website/docs/reference/resource-configs/grants.md
  website/docs/reference/resource-configs/plus-prefix.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
  website/snippets/grants-vs-access-to.md
  website/snippets/hooks-to-grants.md
Labels: content, size: medium

#1714 add git action to merge current branch into next
  .github/workflows/create_next_pr.yml
Labels: size: small

#1678 Fix broken links
  _redirects
  website/blog/2019-05-01-how-we-structure-dbt-projects.md
  website/blog/2021-02-05-dbt-project-checklist.md
  website/blog/2021-12-05-how-to-build-a-mature-dbt-project-from-scratch.md
  website/blog/categories.yml
  website/docs/docs/core-versions.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-setting-up-bigquery-oauth.md
  website/docs/docs/dbt-cloud/on-premises/setup.md
  website/docs/faqs/Accounts/dbt-specific-jinja.md
  website/docs/faqs/Jinja/which-jinja-docs.md
  website/docs/faqs/Models/create-dependencies.md
  website/docs/guides/getting-started/building-your-first-project/schedule-a-job.md
  website/docs/terms/view.md
Labels: content, size: medium, developer blog

#1654 Add dimensional modeling glossary
  website/blog/2021-02-05-dbt-project-checklist.md
  website/blog/authors.yml
  website/docs/terms/dimensional-modeling.md
  website/static/img/docs/terms/dimensional-modeling/fact-star.png
Labels: content, size: medium, developer blog

#1652 Add data warehouse glossary
  website/blog/2019-05-01-how-we-structure-dbt-projects.md
  website/blog/2021-02-09-how-to-configure-your-dbt-repository-one-or-many.md
  website/blog/2021-09-11-sql-dateadd.md
  website/blog/2021-11-22-primary-keys.md
  website/blog/2021-11-22-sql-surrogate-keys.md
  website/blog/2022-02-07-customer-360-view-census-playbook.md
  website/blog/2022-02-23-founding-an-AE-team-smartsheet.md
  website/blog/2022-04-19-complex-deduplication.md
  website/blog/2022-05-17-stakeholder-friendly-model-names.md
  website/blog/maching-learning-dbt-baton-pass.md
  website/docs/dbt-cli/configure-your-profile.md
  website/docs/docs/building-a-dbt-project/building-models.md
  website/docs/docs/building-a-dbt-project/building-models/configuring-incremental-models.md
  website/docs/docs/building-a-dbt-project/building-models/materializations.md
  website/docs/docs/building-a-dbt-project/building-models/using-custom-aliases.md
  website/docs/docs/building-a-dbt-project/documentation.md
  website/docs/docs/building-a-dbt-project/projects.md
  website/docs/docs/building-a-dbt-project/seeds.md
  website/docs/docs/contributing/building-a-new-adapter.md
  website/docs/docs/contributing/testing-a-new-adapter.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-your-database.md
  website/docs/docs/dbt-cloud/cloud-quickstart.md
  website/docs/docs/dbt-cloud/deployments/architecture.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-enabling-continuous-integration-with-github.md
  website/docs/docs/faqs/define-a-column-type.md
  website/docs/docs/faqs/load-raw-data-with-seed.md
  website/docs/docs/faqs/loading-data.md
  website/docs/docs/introduction.md
  website/docs/faqs/Project/define-a-column-type.md
  website/docs/faqs/Seeds/load-raw-data-with-seed.md
  website/docs/faqs/Warehouse/loading-data.md
  website/docs/guides/getting-started/getting-set-up/setting-up-bigquery.md
  website/docs/guides/getting-started/learning-more/getting-started-dbt-core.md
  website/docs/guides/getting-started/learning-more/refactoring-legacy-sql.md
  website/docs/guides/legacy/best-practices.md
  website/docs/guides/legacy/building-packages.md
  website/docs/guides/legacy/debugging-errors.md
  website/docs/guides/legacy/managing-environments.md
  website/docs/guides/legacy/navigating-the-docs.md
  website/docs/guides/migration/tools/migrating-from-stored-procedures/1-migrating-from-stored-procedures.md
  website/docs/guides/migration/versions/07-upgrading-to-v1.1.md
  website/docs/reference/artifacts/catalog-json.md
  website/docs/reference/commands/seed.md
  website/docs/reference/dbt-classes.md
  website/docs/reference/dbt-jinja-functions/dispatch.md
  website/docs/reference/dbt-jinja-functions/env_var.md
  website/docs/reference/project-configs/profile.md
  website/docs/reference/resource-configs/teradata-configs.md
  website/docs/terms/cte.md
  website/docs/terms/data-warehouse.md
  website/docs/terms/ddl.md
  website/docs/terms/elt.md
  website/docs/terms/etl.md
  website/docs/terms/materialization.md
  website/docs/terms/primary-key.md
  website/docs/terms/subquery.md
  website/docs/terms/surrogate-key.md
  website/docs/terms/table.md
  website/docs/terms/view.md
Labels: content, size: medium, developer blog

#1645 Add LOWER love letter
  website/blog/2022-06-30-lower-sql-function.md
Labels: size: medium, developer blog

#1646 Add EXTRACT sql function love letter
  website/blog/2022-06-30-extract-sql-function.md
Labels: size: medium, developer blog

#1647 Add COALESCE sql function love letter
  website/blog/2022-06-30-coalesce-sql.md
Labels: size: medium, developer blog

#1670 Add DATE_TRUNC SQL love letter
  website/blog/2022-07-05-date-trunc-sql-love-letter.md
Labels: size: medium, developer blog

#1722 Update snowflake-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: x-small

#1715 Sched job
  website/docs/guides/getting-started/building-your-first-project/schedule-a-job.md
Labels: content, size: small

#1726 change data capture blog language tweaks
  website/blog/2022-07-12-change-data-capture.md
  website/static/img/blog/2022-07-12-change-data-capture-metrics/income-meme.png
  website/static/img/blog/2022-07-12-change-data-capture-metrics/revenue-meme.png
Labels: size: medium, developer blog

#1608 FAQ Audit combined PRs
  website/docs/faqs/Accounts/change-billing.md
  website/docs/faqs/Accounts/payment-accepted.md
  website/docs/faqs/Accounts/slack.md
  website/docs/faqs/Git/managed-repo.md
  website/docs/faqs/Models/create-dependencies.md
  website/docs/faqs/Models/run-downtime.md
  website/docs/faqs/Project/why-version-2.md
  website/docs/faqs/Runs/checking-logs.md
  website/docs/faqs/Runs/failed-prod-run.md
  website/docs/faqs/Runs/failed-tests.md
  website/docs/faqs/Runs/run-downstream-of-seed.md
  website/docs/faqs/Runs/run-one-model.md
  website/docs/faqs/Runs/run-one-snapshot.md
  website/docs/faqs/Runs/running-models-downstream-of-source.md
  website/docs/faqs/Runs/snapshot-frequency.md
  website/docs/faqs/Seeds/leading-zeros-in-seed.md
  website/docs/faqs/Troubleshooting/git-revlist-error.md
  website/docs/faqs/Troubleshooting/gitignore.md
Labels: content, size: small

#1559 Update which-jinja-docs.md
  website/docs/faqs/Jinja/which-jinja-docs.md
Labels: content, size: x-small

#1560 Update managed-repo.md
  website/docs/faqs/Git/managed-repo.md
Labels: content, size: x-small

#1561 Update create-dependencies.md
  website/docs/faqs/Models/create-dependencies.md
Labels: content, size: x-small

#1562 Update run-downtime.md
  website/docs/faqs/Models/run-downtime.md
Labels: content, size: x-small

#1563 Update example-projects.md
  website/docs/faqs/Project/example-projects.md
Labels: content, size: x-small

#1564 Update why-version-2.md
  website/docs/faqs/Project/why-version-2.md
Labels: content, size: x-small

#1565 Update checking-logs.md
  website/docs/faqs/Runs/checking-logs.md
Labels: content, size: x-small

#1567 Update failed-tests.md
  website/docs/faqs/Runs/failed-tests.md
Labels: content, size: x-small

#1568 Update run-downstream-of-seed.md
  website/docs/faqs/Runs/run-downstream-of-seed.md
Labels: content, size: x-small

#1569 Update run-one-model.md
  website/docs/faqs/Runs/run-one-model.md
Labels: content, size: x-small

#1570 Update run-one-snapshot.md
  website/docs/faqs/Runs/run-one-snapshot.md
Labels: content, size: x-small

#1571 Update running-models-downstream-of-source.md
  website/docs/faqs/Runs/running-models-downstream-of-source.md
Labels: content, size: x-small

#1573 Update leading-zeros-in-seed.md
  website/docs/faqs/Seeds/leading-zeros-in-seed.md
Labels: content, size: x-small

#1553 Update gitignore.md
  website/docs/faqs/Troubleshooting/gitignore.md
Labels: content, size: x-small

#1557 Update change-billing.md
  website/docs/faqs/Accounts/change-billing.md
Labels: content, size: x-small

#1558 Update payment-accepted.md
  website/docs/faqs/Accounts/payment-accepted.md
Labels: content, size: x-small

#1732 updating choosing dbt version page
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-choosing-a-dbt-version.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/Environment-settings.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/job-settings.png
Labels: content, size: small

#1737 fix typo `Coree` -> `Core`
  website/docs/guides/migration/versions/06-upgrading-to-v1.2.md
Labels: content, size: x-small

#1723 Add star macro love letter
  website/blog/2022-07-13-star-sql-love-letter.md
  website/static/img/blog/2022-07-13-star-sql-love-letter/star-is-born.jpg
  website/static/img/blog/2022-07-13-star-sql-love-letter/utils-madness-1.png
  website/static/img/blog/2022-07-13-star-sql-love-letter/utils-madness-2.png
Labels: size: medium, developer blog

#1350 Remove out-of-date information from Azure AD docs
  website/docs/docs/dbt-cloud/dbt-cloud-enterprise/setting-up-enterprise-sso-with-azure-active-directory.md
Labels: content, size: small

#1745 Update SQL magic posts
  website/blog/2022-06-30-coalesce-sql.md
  website/blog/2022-06-30-extract-sql-function.md
  website/blog/2022-06-30-lower-sql-function.md
  website/blog/2022-07-05-date-trunc-sql-love-letter.md
  website/blog/2022-07-05-datediff-sql-love-letter.md
  website/blog/2022-07-13-star-sql-love-letter.md
Labels: size: small, developer blog

#1662 Fix typo in dbt tests documentation page
  website/docs/reference/resource-properties/tests.md
Labels: content, size: x-small

#1643 Add redirects for /guides/legacy/
  _redirects
Labels: size: small

#1747 Grammar fixes to Best Practices
  website/docs/guides/best-practices/how-we-structure/2-staging.md
  website/docs/guides/best-practices/how-we-structure/4-marts.md
  website/docs/guides/best-practices/how-we-structure/5-the-rest-of-the-project.md
Labels: content, size: small

#1752 Update bigquery-configs.md
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: x-small

#1742 Update docusaurus.config.js
  website/docusaurus.config.js
Labels: size: x-small

#1724 Add Migrating from Stored Procs devblog
  website/blog/2022-07-19-migrating-from-stored-procs.md
  website/blog/authors.yml
  website/static/img/blog/2022-07-19-migrating-from-stored-procs/dbt-approach-model.png
  website/static/img/blog/2022-07-19-migrating-from-stored-procs/dbt-diagram.png
  website/static/img/blog/2022-07-19-migrating-from-stored-procs/stored-procs-diagram.png
  website/static/img/blog/authors/jonathan-natkins.jpeg
Labels: size: medium, developer blog

#1759 Remove references to data build tool
  website/docs/docs/introduction.md
  website/docusaurus.config.js
Labels: content, size: x-small

#1717 Clean up v1.2 guide
  website/dbt-versions.js
  website/docs/docs/building-a-dbt-project/hooks-operations.md
  website/docs/guides/migration/versions/06-upgrading-to-v1.2.md
  website/docs/reference/dbt-jinja-functions/set.md
  website/docs/reference/dbt-jinja-functions/this.md
  website/docs/reference/dbt-jinja-functions/zip.md
  website/docs/reference/project-configs/on-run-start-on-run-end.md
  website/docs/reference/resource-configs/grants.md
  website/docs/reference/resource-configs/plus-prefix.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
  website/snippets/available-prerelease-banner.md
  website/snippets/available-prerelease-beta-banner.md
  website/snippets/grants-vs-access-to.md
  website/snippets/hooks-to-grants.md
Labels: content, size: medium

#1756 Retries in postgres + redshift
  website/docs/guides/migration/versions/06-upgrading-to-v1.2.md
  website/docs/reference/resource-configs/postgres-configs.md
  website/docs/reference/warehouse-profiles/postgres-profile.md
  website/docs/reference/warehouse-profiles/redshift-profile.md
Labels: content, size: small

#1731 Image help
  .github/CODEOWNERS
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-generating-documentation.md
  website/src/components/lightbox/styles.module.css
  website/static/img/docs/dbt-cloud/using-dbt-cloud/568adab-Screen_Shot_2019-02-08_at_9.13.09_PM.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/98c05c5-Screen_Shot_2019-02-08_at_9.18.22_PM.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/documentation-job-execution-settings.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/documentation-project-details.png
Labels: content, size: medium

#1771 revert commit
  website/blog/2022-06-30-coalesce-sql.md
  website/blog/2022-07-12-change-data-capture-metrics.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-choosing-a-dbt-version.md
  website/docs/guides/getting-started/getting-set-up/setting-up-bigquery.md
  website/static/img/blog/2022-07-12-change-data-capture-metrics/revenue-meme.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/Environment-settings.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/job-settings.png
Labels: content, size: large, developer blog

#1772 Revert "Merge branch 'next' into current"
  .github/CODEOWNERS
  website/docs/docs/building-a-dbt-project/projects.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-generating-documentation.md
  website/src/components/lightbox/styles.module.css
  website/static/img/dbt-cloud-project-setup-flow-next.png
  website/static/img/dbt-cloud-project-setup-flow.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/568adab-Screen_Shot_2019-02-08_at_9.13.09_PM.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/98c05c5-Screen_Shot_2019-02-08_at_9.18.22_PM.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/documentation-job-execution-settings.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/documentation-project-details.png
Labels: content, size: medium

#1773 Revert "Merge branch 'next' into current"
  website/docs/guides/getting-started/building-your-first-project/schedule-a-job.md
  website/docusaurus.config.js
Labels: content, size: small

#1778 Sched job
  website/docs/guides/getting-started/building-your-first-project/schedule-a-job.md
Labels: content, size: small

#1783 Updates for Project flow
  website/docs/docs/building-a-dbt-project/projects.md
  website/static/img/docs/building-a-dbt-project/dbt-cloud-project-setup-flow-next.png
Labels: content, size: small

#1780 Image help
  .github/CODEOWNERS
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-generating-documentation.md
  website/src/components/lightbox/styles.module.css
  website/static/img/docs/dbt-cloud/using-dbt-cloud/568adab-Screen_Shot_2019-02-08_at_9.13.09_PM.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/98c05c5-Screen_Shot_2019-02-08_at_9.18.22_PM.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/documentation-job-execution-settings.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/documentation-project-details.png
Labels: content, size: medium

#1779 Choose version
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-choosing-a-dbt-version.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/Environment-settings.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/job-settings.png
Labels: content, size: small

#1784 Updates for Snowflake, Redshift, Databricks setup
  website/docs/guides/getting-started/getting-set-up/setting-up-databricks.md
  website/docs/guides/getting-started/getting-set-up/setting-up-redshift.md
  website/docs/guides/getting-started/getting-set-up/setting-up-snowflake.md
  website/snippets/tutorial-create-new-dbt-cloud-account.md
  website/static/img/databricks_tutorial/images/dbt_cloud_setup_databricks_connection_details.png
  website/static/img/databricks_tutorial/images/dbt_cloud_setup_databricks_connection_start.png
  website/static/img/databricks_tutorial/images/setup_databricks_connect.png
  website/static/img/redshift_tutorial/images/dbt_cloud_redshift_account_settings.png
  website/static/img/redshift_tutorial/images/dbt_cloud_redshift_development_credentials.png
  website/static/img/redshift_tutorial/images/dbt_cloud_setup_redshift_connection_start.png
  website/static/img/redshift_tutorial/images/setup_redshift_connect.png
  website/static/img/snowflake_tutorial/dbt_cloud_setup_snowflake_connection_start.png
  website/static/img/snowflake_tutorial/dbt_cloud_snowflake_account_settings.png
  website/static/img/snowflake_tutorial/dbt_cloud_snowflake_development_credentials.png
Labels: content, size: medium

#1781 update running dbt in prod docs
  website/static/img/docs/running-a-dbt-project/8e7a6eb-cloud-img.png
  website/static/img/docs/running-a-dbt-project/dbt_cloud_airflow_trigger.png
Labels: size: x-small

#1736 upgrading dbt version in cloud
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-upgrading-dbt-versions.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-upgrading-dbt-versions/upgrade-environment.png
Labels: content, size: x-small

#1776 update source freshness docs
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-snapshotting-source-freshness.md
  website/static/img/docs/dbt-cloud/select-source-freshness.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/3c3c1ca-Screen_Shot_2019-03-21_at_11.05.28_AM.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/data-sources-next.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/job-step-source-freshness.png
Labels: content, size: x-small

#1777 update custom cron schedule docs
  website/docs/docs/dbt-cloud/cloud-overview.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-environment-variables.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-using-a-custom-cron-schedule.md
  website/static/img/docs/dbt-cloud/28f97e6-job-schedule.gif
  website/static/img/docs/dbt-cloud/overview-job-schedule.gif
  website/static/img/docs/dbt-cloud/using-dbt-cloud/d43d5e6-job-schedule.gif
  website/static/img/docs/dbt-cloud/using-dbt-cloud/job-schedule.png
Labels: content, size: small

#1789 Update setting custom target name doc
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-setting-a-custom-target-name.md
  website/static/img/docs/dbt-cloud/using-dbt-cloud/60f3fa2-Screen_Shot_2019-02-08_at_10.33.20_PM.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/development-credentials.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/jobs-settings-target-name.png
Labels: content, size: x-small

#1795 `grants` Developer Blog post for dbt Core 1.2
  website/blog/2022-07-26-configuring-grants.md
  website/blog/authors.yml
  website/static/img/blog/authors/dbeatty.jpeg
  website/static/img/blog/authors/jerco.jpeg
Labels: size: medium, developer blog

#1798 Release v1.2
  website/dbt-versions.js
  website/docs/guides/migration/versions/06-upgrading-to-v1.2.md
  website/docs/guides/migration/versions/07-upgrading-to-v1.1.md
  website/docs/reference/resource-configs/grants.md
  website/snippets/core-versions-table.md
Labels: content, size: small

#1794 Change billing
  website/docs/faqs/Accounts/change-billing.md
Labels: content, size: x-small

#1797 Getting started with semantic layer
  website/blog/2022-07-27-getting-started-with-the-dbt-semantic-layer.md
  website/blog/authors.yml
  website/static/img/blog/2022-07-27-getting-started-with-the-dbt-semantic-layer/crypto-meme.png
  website/static/img/blog/2022-07-27-getting-started-with-the-dbt-semantic-layer/metrics-dag.png
  website/static/img/blog/2022-07-27-getting-started-with-the-dbt-semantic-layer/semantic-layer-description.png
  website/static/img/blog/authors/callum-mccann.jpg
Labels: size: medium, developer blog

#1765 Update seats and users docs
  website/docs/docs/dbt-cloud/access-control/access-control-overview.md
  website/static/img/docs/dbt-cloud/access-control/license-manual.png
  website/static/img/docs/dbt-cloud/access-control/license-mapping.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/group-detail.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/group-list.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/group-permissions.png
Labels: content, size: small

#1767 Update notifications doc
  website/docs/docs/building-a-dbt-project/projects.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-notifications.md
  website/static/img/dbt-cloud-project-setup-flow-next.png
  website/static/img/dbt-cloud-project-setup-flow.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/email-notifications.png
Labels: content, size: small

#1803 Updating Hex Link To Documentation Page
  website/blog/2022-07-27-getting-started-with-the-dbt-semantic-layer.md
Labels: size: x-small, developer blog

#1804 Aad sso
  website/docs/docs/dbt-cloud/dbt-cloud-enterprise/setting-up-enterprise-sso-with-azure-active-directory.md
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/azure/azure-cloud-sso.png
Labels: content, size: x-small

#1792 update Using the dbt IDE article
  website/docs/docs/running-a-dbt-project/using-the-dbt-ide.md
  website/static/img/docs/running-a-dbt-project/0d9f366-Screen_Shot_2019-11-19_at_12.13.28_PM.png
  website/static/img/docs/running-a-dbt-project/65fb95f-Screen_Shot_2019-11-19_at_11.30.00_AM.png
  website/static/img/docs/running-a-dbt-project/a810a20-Screen_Shot_2019-11-19_at_11.26.55_AM.png
  website/static/img/docs/running-a-dbt-project/ec04c10-Screen_Shot_2019-11-19_at_12.13.46_PM.png
  website/static/img/docs/running-a-dbt-project/using-the-dbt-ide/create-dev-env.png
  website/static/img/docs/running-a-dbt-project/using-the-dbt-ide/dev-cred-edit-proj.png
  website/static/img/docs/running-a-dbt-project/using-the-dbt-ide/dev-cred-project-setup.png
  website/static/img/docs/running-a-dbt-project/using-the-dbt-ide/empty-env-page.png
Labels: content, size: small

#1809 link fix; minor edits in python-models.md
  website/docs/docs/building-a-dbt-project/building-models.md
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: small

#1814 Add Kira until we can add her to the team
  .github/CODEOWNERS
Labels: size: x-small

#1807 minor fix to reverse ETL glossary
  website/docs/terms/reverse-etl.md
  website/docs/terms/surrogate-key.md
  website/docs/terms/view.md
  website/package-lock.json
Labels: content, size: medium
