Repository dbt-labs/docs.getdbt.com, pull requests merged in 2022-05, with the labels that each got.

#1385 Update oracle profile
  website/docs/docs/available-adapters.md
  website/docs/reference/warehouse-profiles/oracle-profile.md
Labels: content, improvement, priority: high, size: small, needs testing

#1076 Update introduction.md
  website/docs/docs/introduction.md
Labels: size: x-small

#1185 Remove unused tab from seed configurations page
  website/docs/reference/seed-configs.md
Labels: size: x-small

#1357 Publish Bitbucket CI/CD Article
  website/blog/2022-04-14-add-ci-cd-to-bitbucket.md
  website/blog/authors.yml
  website/static/img/blog/2022-04-14-add-ci-cd-to-bitbucket/2022-04-14-add-ci-cd-to-bitbucket-image-1.png
  website/static/img/blog/2022-04-14-add-ci-cd-to-bitbucket/2022-04-14-add-ci-cd-to-bitbucket-image-2.png
  website/static/img/blog/2022-04-14-add-ci-cd-to-bitbucket/2022-04-14-add-ci-cd-to-bitbucket-image-3.png
  website/static/img/blog/authors/simon-podhajsky.jpeg
Labels: developer blog

#1183 Update connecting-your-database.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-your-database.md
Labels: size: small

#1188 Fix typo in code example in YAML selectors
  website/docs/reference/node-selection/yaml-selectors.md
Labels: size: x-small

#1212 Update: adding reference for configuring artifacts in source freshness docs
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-snapshotting-source-freshness.md
Labels: size: x-small

#1194 Add in airflow, dbt Cloud Provider into official ways to run dbt in production
  website/docs/docs/running-a-dbt-project/running-dbt-in-production.md
  website/static/img/docs/running-a-dbt-project/airflow_dbt_connector.png
  website/static/img/docs/running-a-dbt-project/dbt_cloud_airflow_trigger.png
Labels: size: x-small

#1168 new feature template
  .github/ISSUE_TEMPLATE/new-dbt-feature.yml
Labels: size: small

#1359 Add Lauren's article on complex deduplication
  website/blog/2022-04-19-complex-deduplication.md
  website/blog/authors.yml
  website/static/img/blog/2022-04-19-complex-deduplication/dancing-baby.gif
  website/static/img/blog/authors/lauren-benezra.jpeg
Labels: developer blog

#1456 Add `build` to commands that generate artifacts
  website/docs/reference/artifacts/dbt-artifacts.md
Labels: improvement, size: x-small

#1461 Feature/update databricks getting started
  website/docs/tutorial/getting-set-up/setting-up-databricks.md
  website/snippets/tutorial-initiate-project.md
  website/static/img/databricks_tutorial/images/create_table_using_databricks_SQL.png
  website/static/img/databricks_tutorial/images/databricks_table_loader.png
  website/static/img/databricks_tutorial/images/jaffle_shop_customers_upload.png
  website/static/img/databricks_tutorial/images/jaffle_shop_orders_upload.png
  website/static/img/databricks_tutorial/images/start_cluster.png
  website/static/img/databricks_tutorial/images/stripe_payments_upload.png
Labels: content, size: medium

#670 Update cloud-configuring-repositories.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-configuring-repositories.md
Labels: content, size: x-small

#1457 Update where.md
  website/docs/reference/resource-configs/where.md
Labels: content, size: x-small

#1468 Fix links & grammar on Redshift Optimization blog post
  website/blog/2022-05-19-redshift-configurations-dbt-model-optimizations.md
Labels: size: x-small, developer blog

#1195 initial testing setup
  website/.swcrc
  website/jest.setup.js
  website/package-lock.json
  website/package.json
  website/src/components/versionBlock/index.js
  website/src/components/versionBlock/index.test.js
  website/src/stores/VersionContext.js
Labels: size: small

#1470 Fix redshift optimization blog post grammar and formatting
  website/blog/2022-05-19-redshift-configurations-dbt-model-optimizations.md
Labels: size: medium, developer blog

#1453 Add documentation for dbt-glue adapter
  website/docs/docs/available-adapters.md
  website/docs/reference/resource-configs/glue-configs.md
  website/docs/reference/warehouse-profiles/glue-profile.md
  website/sidebars.js
Labels: content, size: x-small

#1472 Create gitlab-auth
  website/docs/docs/dbt-cloud/release-notes/09-April-2022/gitlab-auth.md
Labels: content, size: x-small

#1473 Update gitlab-auth.md
  website/docs/docs/dbt-cloud/release-notes/08-May-2022/gitlab-auth.md
  website/docs/docs/dbt-cloud/release-notes/09-April-2022/gitlab-auth.md
Labels: content, size: small

#1476 Add support for dbt Cloud by Dagster
  website/docs/docs/running-a-dbt-project/running-dbt-in-production.md
Labels: content, size: x-small

#1467 Add "How to Document Adapter" guide
  website/docs/docs/available-adapters.md
  website/docs/docs/contributing/building-a-new-adapter.md
  website/docs/docs/contributing/documenting-a-new-adapter.md
  website/sidebars.js
Labels: content, size: x-small

#1469 Add joining snapshots devblog
  website/blog/2022-05-24-joining-snapshot-complexity.md
  website/static/img/blog/2022-05-24-joining-snapshot-complexity/backtothefuture.gif
  website/static/img/blog/2022-05-24-joining-snapshot-complexity/clean-data-meme.png
Labels: size: large, developer blog

#1481 Update the Getting Started guide with Next steps (after the schedule job)
  website/docs/tutorial/building-your-first-project/schedule-a-job.md
Labels: content, size: x-small

#1486 Add glossary batch internal links
  website/blog/2019-05-01-how-we-structure-dbt-projects.md
  website/blog/2020-07-01-how-to-create-near-real-time-models-with-just-dbt-sql.md
  website/blog/2021-02-05-dbt-project-checklist.md
  website/blog/2021-09-11-union-all.md
  website/blog/2021-11-22-dbt-labs-pr-template.md
  website/blog/2021-11-22-primary-keys.md
  website/blog/2021-11-22-sql-surrogate-keys.md
  website/blog/2021-12-05-how-to-build-a-mature-dbt-project-from-scratch.md
  website/blog/2022-01-12-time-on-task-calculation.md
  website/blog/2022-04-05-when-backend-devs-spark-joy.md
  website/blog/2022-04-19-complex-deduplication.md
  website/blog/2022-05-19-redshift-configurations-dbt-model-optimizations.md
  website/docs/docs/building-a-dbt-project/package-management.md
  website/docs/docs/building-a-dbt-project/snapshots.md
  website/docs/docs/dbt-cloud/access-control/access-control-overview.md
  website/docs/docs/dbt-cloud/release-notes/14-dbt-cloud-changelog-2021.md
  website/docs/docs/guides/best-practices.md
  website/docs/docs/guides/migration-guide/upgrading-to-v1.1.md
  website/docs/faqs/recommended-tests.md
  website/docs/reference/warehouse-profiles/bigquery-profile.md
  website/docs/terms/elt.md
  website/docs/terms/grain.md
  website/docs/terms/primary-key.md
Labels: content, size: x-small, developer blog, guides

#1488 Update minor glossary edits
  website/blog/2021-11-22-primary-keys.md
  website/docs/terms/ddl.md
  website/docs/terms/dml.md
  website/docs/terms/elt.md
  website/docs/terms/etl.md
  website/docs/terms/primary-key.md
  website/docs/terms/subquery.md
  website/docs/terms/surrogate-key.md
  website/sidebars.js
Labels: content, size: x-small, developer blog

#1483 docs/fix: fixed typo
  website/docs/docs/building-a-dbt-project/building-models/using-variables.md
Labels: content, size: x-small

#1494 Remove old recommendation from `init` command
  website/docs/reference/project-configs/profile.md
Labels: content, size: x-small

#1496 Clarify that you can't use `dbt clean` in IDE
  website/docs/reference/commands/clean.md
Labels: content, size: x-small

#1429 Fix an example code for building-a-new-adapter.md
  website/docs/docs/contributing/building-a-new-adapter.md
Labels: content, size: x-small

#1493 Aligns sidebar arrows
  website/src/css/custom.css
Labels: size: x-small

#1503 Updating the version
  website/docs/docs/dbt-cloud/release-notes/09-April-2022/credentials-saved.md
Labels: content, size: x-small
