Repository dbt-labs/docs.getdbt.com, pull requests merged in 2022-08, with the labels that each got.

#1817 Fix HoverSnippet dimensional modeling glossary
  website/docs/terms/dimensional-modeling.md
Labels: content, size: x-small

#1754 [Beta] Python models
  website/dbt-versions.js
  website/docs/docs/building-a-dbt-project/building-models.md
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
  website/docs/reference/warehouse-profiles/bigquery-profile.md
  website/docs/terms/dataframe.md
  website/sidebars.js
  website/static/img/docs/building-a-dbt-project/building-models/python-models/dataproc-connector-initialization.png
  website/static/img/docs/building-a-dbt-project/building-models/python-models/dataproc-pip-packages.png
  website/static/img/docs/building-a-dbt-project/building-models/python-models/python-model-dag.png
Labels: content, size: large

#1821 Add data extraction glossary
  website/docs/terms/data-extraction.md
Labels: content, size: medium

#1823 Fixing Typo
  website/blog/2022-07-27-getting-started-with-the-dbt-semantic-layer.md
Labels: size: x-small, developer blog

#1810 fishtown-analytics => dbt-labs; master to main where its default
  README.md
  website/docs/dbt-cli/install/from-source.md
  website/docs/docs/dbt-cloud/on-premises/dependencies.md
  website/docs/faqs/Git/gitignore.md
  website/docs/faqs/Troubleshooting/gitignore.md
  website/docs/guides/getting-started/learning-more/refactoring-legacy-sql.md
  website/docs/guides/legacy/best-practices.md
  website/docs/guides/legacy/building-packages.md
  website/docs/guides/migration/versions/09-upgrading-to-v0.21.md
  website/docs/guides/migration/versions/10-upgrading-to-v0.20.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-19-0.md
  website/docs/reference/dbt-jinja-functions/dispatch.md
  website/docs/reference/node-selection/defer.md
  website/docs/reference/parsing.md
  website/docs/reference/resource-configs/enabled.md
  website/docs/reference/resource-configs/store_failures.md
  website/docs/reference/resource-properties/description.md
  website/docs/reference/warehouse-profiles/ibmdb2-profile.md
  website/docs/reference/warehouse-profiles/snowflake-profile.md
Labels: content, size: medium

#1786 Add Benoit's re commit dbt devblog
  website/blog/2022-07-26-pre-commit-dbt.md
  website/blog/authors.yml
  website/static/img/blog/2022-07-26-pre-commit-dbt/checks-failed.png
  website/static/img/blog/2022-07-26-pre-commit-dbt/customers-model.png
  website/static/img/blog/2022-07-26-pre-commit-dbt/define-strategy.png
  website/static/img/blog/2022-07-26-pre-commit-dbt/error-logs.png
  website/static/img/blog/2022-07-26-pre-commit-dbt/install-pre-commit.png
  website/static/img/blog/2022-07-26-pre-commit-dbt/next-strategy.png
  website/static/img/blog/2022-07-26-pre-commit-dbt/testing-running.png
  website/static/img/blog/2022-07-26-pre-commit-dbt/why-not-both-meme.png
  website/static/img/blog/authors/benoit-perigaud.jpeg
Labels: size: large, developer blog

#1762 clarify Snowflake account location
  website/docs/guides/getting-started/getting-set-up/setting-up-snowflake.md
Labels: content, size: x-small

#1825 Update - Clarify we don't track raw model contents
  website/docs/reference/global-configs.md
Labels: content, size: x-small

#1836 remove "on disk" from table glossary definition
  website/docs/terms/table.md
Labels: content, size: x-small

#1051 updates docker install docs
  website/docs/dbt-cli/install/docker.md
Labels: content, size: medium

#1837 fix typos
  website/blog/2022-07-19-migrating-from-stored-procs.md
Labels: size: x-small, developer blog

#1827 Specify that Metadata API is Multi Tenant only
  website/docs/docs/dbt-cloud/dbt-cloud-api/metadata/metadata-querying.md
Labels: content, size: x-small

#1826 fix duplicated word in generic test doc
  website/docs/guides/legacy/custom-generic-tests.md
Labels: content, size: x-small

#1661 Remove leftover TODO from stored procs guide
  website/docs/guides/migration/tools/migrating-from-stored-procedures/2-mapping-inserts.md
  website/docs/guides/migration/tools/migrating-from-stored-procedures/3-mapping-updates.md
  website/docs/guides/migration/tools/migrating-from-stored-procedures/4-mapping-deletes.md
  website/docs/guides/migration/tools/migrating-from-stored-procedures/5-mapping-merges.md
Labels: content, size: medium

#1840 Fix a typo
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: x-small

#1833 Update firebolt-profile.md
  website/docs/reference/warehouse-profiles/firebolt-profile.md
Labels: content, size: x-small

#1822 fix formatting in [ Adapter-specific configs > Snowflake configurations ]
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: x-small

#1818 🚨 Beta IDE refresh - to merge on Aug 16th
  _redirects
  website/docs/docs/dbt-cloud/cloud-ide/ide-beta.md
  website/docs/docs/dbt-cloud/cloud-ide/the-dbt-ide.md
  website/docs/docs/dbt-cloud/cloud-ide/the-ide-git-button.md
  website/docs/docs/dbt-cloud/release-notes/07-Aug-2022/ide-improvement-beta.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/cloud-ide/breadcrumbs.png
  website/static/img/docs/dbt-cloud/cloud-ide/build.png
  website/static/img/docs/dbt-cloud/cloud-ide/command_bar.png
  website/static/img/docs/dbt-cloud/cloud-ide/file-explorer.png
  website/static/img/docs/dbt-cloud/cloud-ide/git-overview.png
  website/static/img/docs/dbt-cloud/cloud-ide/lineage.png
  website/static/img/docs/dbt-cloud/cloud-ide/multi-selector.gif
  website/static/img/docs/dbt-cloud/cloud-ide/status-icon.png
  website/static/img/docs/dbt-cloud/cloud-ide/tab-options.png
  website/static/img/docs/dbt-cloud/cloud-ide/view-docs.png
Labels: content, size: large, IDE-v1.1

#1867 Update DataFrame glossary page
  website/docs/terms/dataframe.md
Labels: content, size: medium

#1870 Updates for Beta IDE
  website/docs/docs/dbt-cloud/cloud-ide/ide-beta.md
Labels: content, size: x-small

#1846 Add EDW glossary entry
  website/docs/terms/edw.md
  website/docs/terms/elt.md
  website/static/img/docs/terms/edw/meme.png
Labels: content, size: medium

#1874 update collection docs link
  website/blog/2022-04-19-dbt-cloud-postman-collection.md
Labels: size: x-small, developer blog

#1685 Replace docs.getdbt.com GH reference with "the Developer Hub"
  website/docs/docs/contributing/oss-expectations.md
Labels: content, size: x-small

#1730 #1706 always show migration guides
  website/dbt-versions.js
Labels: size: x-small

#1876 minor formatting
  website/docs/reference/warehouse-profiles/glue-profile.md
Labels: content, size: x-small

#1875 Update ide-beta.md
  website/docs/docs/dbt-cloud/cloud-ide/ide-beta.md
Labels: size: small, IDE-v1.1

#1882 reorganize release note
  website/docs/docs/dbt-cloud/release-notes/06-Aug-2022/ide-improvement-beta.md
Labels: content, size: x-small

#1884 add view connections permission to job admin and analyst
  website/docs/docs/dbt-cloud/access-control/enterprise-permissions.md
Labels: content, size: small

#1868 Blog Post: Model Timing
  website/blog/2022-08-12-model-timing.md
  website/blog/authors.yml
  website/static/img/blog/2022-08-12-model-timing/model_timing_after.png
  website/static/img/blog/2022-08-12-model-timing/model_timing_before.png
  website/static/img/blog/2022-08-12-model-timing/snowflake_query_plan.png
  website/static/img/blog/authors/barr-yaron.png
  website/static/img/blog/authors/bennie-regenold.png
Labels: size: large, developer blog

#1887 update slug for blog post
  _redirects
  website/blog/2022-08-12-how-we-shaved-90-minutes-off-long-running-model.md
Labels: size: medium, developer blog

#1881 Create render-lineage-feature.md
  website/docs/docs/dbt-cloud/release-notes/07-July-2022/render-lineage-feature.md
Labels: content, size: small

#1886 Update impala profile docs
  website/docs/reference/warehouse-profiles/impala-profile.md
Labels: content, size: small

#1889 Blog post: Narrative modeling
  website/blog/2022-08-22-narrative-modeling.md
  website/blog/authors.yml
  website/static/img/blog/2022-08-22-narrative-modeling/dimensional-modeling-dag.png
  website/static/img/blog/2022-08-22-narrative-modeling/narrative-modeling-dag.png
  website/static/img/blog/authors/ian-fahey.png
Labels: size: medium, developer blog

#1893 Fix typo
  website/blog/2022-08-22-narrative-modeling.md
Labels: size: x-small, developer blog

#1891 Fix typo and update for more specific permission needed to run dbt command
  website/docs/reference/warehouse-profiles/impala-profile.md
Labels: content, size: small

#1896 Update tidb-profile
  website/docs/reference/warehouse-profiles/tidb-profile.md
Labels: content, size: small

#1900 Update setting-up-sso-with-google-gsuite.md
  website/docs/docs/dbt-cloud/dbt-cloud-enterprise/setting-up-sso-with-google-gsuite.md
Labels: content, size: x-small

#1877 add surrogate key blog post
  website/blog/2022-08-17-managing-surrogate-keys-in-dbt.md
  website/blog/authors.yml
Labels: size: medium, developer blog

#1901 update pagination_next and pagination_prev
  website/docs/guides/getting-started/getting-set-up/setting-up-bigquery.md
  website/docs/guides/getting-started/getting-set-up/setting-up-databricks.md
  website/docs/guides/getting-started/getting-set-up/setting-up-redshift.md
  website/docs/guides/getting-started/getting-set-up/setting-up-snowflake.md
Labels: content, size: x-small

#1905 Add truncate, fix date for Dave's post
  website/blog/2022-08-17-managing-surrogate-keys-in-dbt.md
Labels: size: x-small, developer blog

#1859 fixes #1858: added a save command
  website/snippets/tutorial-change-way-model-materialized.md
Labels: size: x-small

#1855 Custom node colors for the dbt docs DAG
  _redirects
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
  website/docs/reference/resource-configs/docs.md
  website/docs/reference/resource-properties/docs.md
  website/sidebars.js
  website/static/img/node_color_example.png
Labels: content, size: large

#1908 Update stored procs blog
  website/blog/2022-07-19-migrating-from-stored-procs.md
Labels: size: x-small, developer blog

#1841 Added `catalog` to Databricks profile docs.
  website/docs/reference/warehouse-profiles/databricks-profile.md
Labels: content, size: x-small

#993 update should_full_refresh() macro code
  website/docs/reference/resource-configs/full_refresh.md
Labels: content, size: x-small

#1890 load unit testing post
  website/blog/2022-08-22-unit-testing-dbt-package.md
  website/blog/authors.yml
  website/static/img/blog/authors/yu-ishikawa.jpg
Labels: size: medium, developer blog

#807 Update SAML 2.0 docs with Azure instructions
  website/docs/docs/dbt-cloud/dbt-cloud-enterprise/setting-up-sso-with-saml-2.0.md
Labels: content, size: medium

#1907 Make CTA button casing consistent with others
  website/src/pages/index.js
Labels: size: x-small

#1001 update quoting.md
  website/docs/reference/resource-properties/quoting.md
Labels: content, size: x-small

#1918 Update banner
  website/docusaurus.config.js
Labels: size: x-small

#1898 add dbt-hive in vendor supported profiles
  website/docs/docs/available-adapters.md
  website/docs/reference/resource-configs/hive-configs.md
  website/docs/reference/warehouse-profiles/hive-profile.md
Labels: content, size: medium

#1919 Update sidebars.js
  website/sidebars.js
Labels: size: x-small

#1921 Update the slack channel link
  website/docs/reference/warehouse-profiles/hive-profile.md
Labels: content, size: x-small

#1914 Ado improvements
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-import-a-project-by-git-url.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-azure-devops.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/setup-azure.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-enabling-continuous-integration-with-github.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-environment-variables.md
Labels: content, size: medium

#1923 Create snowflake-acct-name.md
  website/snippets/snowflake-acct-name.md
Labels: size: x-small

#1922 Quick Wins changes to docs pages
  website/docs/docs/building-a-dbt-project/building-models/configuring-incremental-models.md
  website/docs/reference/resource-configs/severity.md
Labels: content, size: x-small

#1916 Filter blog categories by is_featured
  website/src/theme/BlogSidebar/index.js
Labels: size: x-small
