Repository dbt-labs/docs.getdbt.com, pull requests merged in 2022-12, with the labels that each got.

#2445 Update Athena adapter references
  website/docs/reference/warehouse-setups/athena-setup.md
Labels: content, size: small

#2448 update h2 header within version block
  website/docs/reference/project-configs/target-path.md
Labels: content, size: x-small

#2454 updated cli bullet
  website/docs/reference/dbt-commands.md
Labels: content, size: x-small

#2418 Example of custom macros in get_where_subquery
  website/docs/reference/resource-configs/where.md
Labels: content, size: small

#2459 Fixing link to point to current guide
  website/docs/docs/get-started/learning-more/refactoring-legacy-sql.md
  website/docs/faqs/Project/multiple-resource-yml-files.md
  website/docs/faqs/Project/structure-a-project.md
  website/docs/guides/legacy/best-practices.md
  website/docs/guides/legacy/building-packages.md
Labels: content, size: small

#2475 Updating typo for table name in Redshift
  website/snippets/tutorial-initiate-project.md
Labels: size: x-small

#2472 fix typo
  website/docs/guides/legacy/understanding-state.md
Labels: content, size: x-small

#2479 remove unneeded space
  website/docs/reference/advanced-config-usage.md
Labels: content, size: x-small

#2430 update redirect for adapter docs
  _redirects
Labels: size: small

#2469 remove nav bar promo for survey
  website/docusaurus.config.js
Labels: size: small

#2476 release note for dbt-databricks in Cloud
  website/docs/docs/dbt-versions/release-notes/04-Nov-2022/dbt-databricks-unity-catalog-support.md
Labels: content, size: small

#2473 adapter docs ownership: update and specify further
  .github/CODEOWNERS
Labels: size: small

#2482 CLI typo
  website/docs/docs/get-started/about-the-cli.md
Labels: content, size: x-small

#2481 fix for details dark mode
  website/src/css/custom.css
Labels: size: small

#2485 add caveat about VPC customers and CI hooks
  website/docs/docs/deploy/cloud-ci-job.md
Labels: content, size: x-small

#2483 Update deployment-overview.md
  website/docs/docs/deploy/deployment-overview.md
Labels: content, size: small

#2463 Update ide-features-ide-deprecation.md
  website/docs/docs/dbt-versions/release-notes/04-Nov-2022/ide-features-ide-deprecation.md
Labels: content, size: x-small

#2446 Add config() example to snowflake warehouse size
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: medium

#2471 Migration guide to dbt utils v1
  website/docs/guides/migration/versions/04-upgrading-to-dbt-utils-v1.0.md
  website/static/img/guides/migration/versions/surrogate_key_behaviour.png
Labels: content, size: medium

#2495 Fix typos
  website/docs/reference/global-configs.md
Labels: content, size: x-small

#2494 Release note: New jobs default to off
  website/docs/docs/dbt-versions/release-notes/02-Dec-2022/new-jobs-default-as-off.md
  website/docs/docs/dbt-versions/release-notes/03-Nov-2022/dbt-databricks-unity-catalog-support.md
  website/docs/docs/dbt-versions/release-notes/03-Nov-2022/ide-features-ide-deprecation.md
  website/docs/docs/dbt-versions/release-notes/04-Oct-2022/cloud-integration-azure.md
  website/docs/docs/dbt-versions/release-notes/04-Oct-2022/new-ide-launch.md
  website/static/img/docs/release-notes/new-jobs-default-as-off.png
Labels: content, size: small

#2376 Update website/docs/reference/warehouse-setups/tidb-setup.md
  website/docs/reference/warehouse-setups/tidb-setup.md
Labels: content, size: x-small

#2436 switch from "private preview" to "public preview"
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: x-small

#2503 Fix `&mdash` to `&mdash;`
  website/docs/docs/get-started/connection-profiles.md
Labels: content, size: x-small

#2499 Update labeler.yml to include snippets and static directories
  .github/labeler.yml
Labels: size: x-small

#2498 Update add_pr_to_project.yml
  .github/workflows/add_pr_to_project.yml
Labels: size: medium

#2500 Add changes to recency test
  website/docs/guides/migration/versions/04-upgrading-to-dbt-utils-v1.0.md
Labels: content, size: x-small, guides

#2466 update link
  website/docs/docs/collaborate/git-version-control.md
  website/docs/docs/collaborate/git/version-control-basics.md
Labels: content, size: x-small

#2480 moving understanding state doc to docs
  _redirects
  website/docs/docs/deploy/about-state.md
  website/sidebars.js
Labels: content, size: x-small

#2513 update link
  _redirects
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-19-0.md
Labels: content, size: x-small, guides

#2478 sl docs improvements
  website/docs/docs/use-dbt-semantic-layer/dbt-semantic-layer.md
Labels: content, size: x-small

#2525 fix spelling error
  website/docs/reference/commands/clean.md
Labels: content, size: x-small

#861 Update bigquery-configs.md
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: x-small

#2355 Updates to the Dremio Setup page
  website/docs/reference/warehouse-setups/dremio-setup.md
  website/static/img/reference/dremio-setup/dbt-Samples.png
  website/static/img/reference/dremio-setup/dbt-SamplesPath.png
  website/static/img/reference/dremio-setup/dbt-Spaces.png
  website/static/img/reference/dremio-setup/dbt-SpacesPath.png
Labels: content, size: small

#2504 Fix clickhouse references in dbt-trino profile
  website/docs/reference/warehouse-setups/trino-setup.md
Labels: content, size: x-small

#2538 Revert "Updates to the Dremio Setup page"
  website/docs/reference/warehouse-setups/dremio-setup.md
  website/static/img/reference/dremio-setup/dbt-Samples.png
  website/static/img/reference/dremio-setup/dbt-SamplesPath.png
  website/static/img/reference/dremio-setup/dbt-Spaces.png
  website/static/img/reference/dremio-setup/dbt-SpacesPath.png
Labels: content, size: small

#2510 Organizing getting started redirects and adding search terms
  _redirects
  website/docs/docs/get-started/getting-started/building-your-first-project/build-your-first-models.md
  website/docs/docs/get-started/getting-started/create-a-project.md
Labels: content, size: medium

#2489 create dbt Ecosystem section and move other content
  _redirects
  website/docs/guides/advanced/creating-new-materializations.md
  website/docs/guides/best-practices/custom-generic-tests.md
  website/docs/guides/best-practices/debugging-errors.md
  website/docs/guides/best-practices/how-we-structure/1-guide-overview.md
  website/docs/guides/best-practices/how-we-structure/2-staging.md
  website/docs/guides/best-practices/how-we-structure/3-intermediate.md
  website/docs/guides/best-practices/how-we-structure/4-marts.md
  website/docs/guides/best-practices/how-we-structure/5-the-rest-of-the-project.md
  website/docs/guides/dbt-ecosystem/adapter-development/1-what-are-adapters.md
  website/docs/guides/dbt-ecosystem/adapter-development/2-prerequisites-for-a-new-adapter.md
  website/docs/guides/dbt-ecosystem/adapter-development/3-building-a-new-adapter.md
  website/docs/guides/dbt-ecosystem/adapter-development/4-testing-a-new-adapter.md
  website/docs/guides/dbt-ecosystem/adapter-development/5-documenting-a-new-adapter.md
  website/docs/guides/dbt-ecosystem/adapter-development/6-promoting-a-new-adapter.md
  website/docs/guides/dbt-ecosystem/adapter-development/7-verifying-a-new-adapter.md
  website/docs/guides/dbt-ecosystem/adapter-development/adapter-development
  website/sidebars.js
Labels: content, size: medium, guides

#2536 Rename ask a mod channel
  website/docs/community/resources/maintaining-a-channel.md
Labels: content, size: x-small

#2526 Text clean-up
  website/docs/reference/commands/compile.md
Labels: content, size: x-small

#2542 Update links
  website/docs/docs/supported-data-platforms.md
Labels: content, size: x-small

#2141 Adding Google SAML group info
  website/docs/docs/collaborate/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: x-small, merge-conflict-cli

#2497 Update surrogate key references
  website/blog/2021-11-22-sql-surrogate-keys.md
  website/blog/2022-04-19-complex-deduplication.md
  website/blog/2022-05-24-joining-snapshot-complexity.md
  website/blog/2022-08-17-managing-surrogate-keys-in-dbt.md
  website/docs/guides/migration/versions/04-upgrading-to-dbt-utils-v1.0.md
  website/static/img/blog/2021-11-22-sql-surrogate-keys/surrogate_key_comparison.png
Labels: content, size: medium, developer blog, guides

#2450 doris_adapter_docs
  website/docs/docs/supported-data-platforms.md
  website/docs/reference/resource-configs/doris-configs.md
  website/docs/reference/warehouse-setups/doris-setup.md
  website/sidebars.js
Labels: content, size: large

#2543 Add correct rel tag to target blank links
  website/docs/docs/collaborate/manage-access/set-up-sso-google-workspace.md
  website/docs/reference/warehouse-setups/dremio-setup.md
  website/src/components/author/index.js
  website/src/components/discourse/index.js
  website/src/theme/BlogLayout/index.js
  website/static/fonts/burlingame/dbt_cloud-04112018/demo-async.htm
  website/static/fonts/burlingame/dbt_cloud-04112018/demo.htm
Labels: content, size: large

#2433 Create SQL glossary
  website/docs/sql-reference/aggregate-functions/sql-avg.md
  website/docs/sql-reference/aggregate-functions/sql-count.md
  website/docs/sql-reference/aggregate-functions/sql-max.md
  website/docs/sql-reference/aggregate-functions/sql-min.md
  website/docs/sql-reference/aggregate-functions/sql-round.md
  website/docs/sql-reference/aggregate-functions/sql-sum.md
  website/sidebars.js
Labels: content, size: large

#2539 Revert "Revert "Updates to the Dremio Setup page""
  website/docs/reference/warehouse-setups/dremio-setup.md
  website/static/img/reference/dremio-setup/dbt-Samples.png
  website/static/img/reference/dremio-setup/dbt-SamplesPath.png
  website/static/img/reference/dremio-setup/dbt-Spaces.png
  website/static/img/reference/dremio-setup/dbt-SpacesPath.png
Labels: content, size: small

#2502 small ide updates
  website/docs/docs/get-started/dbt-cloud-features.md
  website/docs/docs/get-started/develop-in-the-cloud.md
Labels: content, size: x-small

#2423 Feature/community spotlight
  website/docusaurus.config.js
  website/plugins/buildSpotlightIndexPage/index.js
  website/src/components/blogPostCard/styles.module.css
  website/src/components/card/index.js
  website/src/components/communitySpotlightCard/index.js
  website/src/components/communitySpotlightCard/styles.module.css
  website/src/components/communitySpotlightList/index.js
  website/src/components/hero/index.js
  website/src/css/custom.css
  website/src/pages/index.js
  website/src/theme/DocItem/Content/index.js
  website/src/theme/MDXComponents/index.js
  website/src/theme/Navbar/Logo/index.js
  website/src/utils/get-spotlight-member.js
  website/static/img/community/spotlight/placeholder-img-1.jpg
Labels: content, size: large

#2554 release note to add new thread count change
  website/docs/docs/dbt-versions/release-notes/02-Dec-2022/default-thread-value.md
Labels: content, size: small

#2556 fix typo in tojson.md
  website/docs/reference/dbt-jinja-functions/tojson.md
Labels: content, size: x-small

#2555 match end tag with opening tag
  website/docs/reference/dbt-jinja-functions/selected_resources.md
Labels: content, size: x-small

#2557 fix typo in toyaml.md
  website/docs/reference/dbt-jinja-functions/toyaml.md
Labels: content, size: x-small

#2560 fix typo in zip.md
  website/docs/reference/dbt-jinja-functions/zip.md
Labels: content, size: x-small

#2561 fix typo in on-run-end-context.md
  website/docs/reference/dbt-jinja-functions/on-run-end-context.md
Labels: content, size: x-small

#2549 CICD Guide - Add Bitbucket
  website/docs/guides/orchestration/custom-cicd-pipelines/1-cicd-background.md
  website/docs/guides/orchestration/custom-cicd-pipelines/2-lint-on-push.md
  website/docs/guides/orchestration/custom-cicd-pipelines/3-dbt-cloud-job-on-merge.md
  website/docs/guides/orchestration/custom-cicd-pipelines/4-dbt-cloud-job-on-pr.md
  website/docs/guides/orchestration/custom-cicd-pipelines/5-something-to-consider.md
  website/sidebars.js
  website/static/img/guides/orchestration/custom-cicd-pipelines/bitbucket-dbt-cloud-pr.png
  website/static/img/guides/orchestration/custom-cicd-pipelines/bitbucket-run-on-pr.png
  website/static/img/guides/orchestration/custom-cicd-pipelines/dbt-api-key-bitbucket.png
  website/static/img/guides/orchestration/custom-cicd-pipelines/dbt-cloud-job-bitbucket-triggered.png
  website/static/img/guides/orchestration/custom-cicd-pipelines/dbt-macro-cleanup-pr.png
  website/static/img/guides/orchestration/custom-cicd-pipelines/dbt-run-on-merge-bitbucket.png
  website/static/img/guides/orchestration/custom-cicd-pipelines/lint-on-push-bitbucket.png
  website/static/img/guides/orchestration/custom-cicd-pipelines/lint-on-push-logs-bitbucket.png
Labels: content, size: large, guides

#2544 update regions name
  _redirects
  website/docs/docs/collaborate/manage-access/set-up-snowflake-oauth.md
  website/docs/docs/collaborate/manage-access/set-up-sso-azure-active-directory.md
  website/docs/docs/collaborate/manage-access/set-up-sso-saml-2.0.md
  website/docs/docs/deploy/regions-ip-addresses.md
  website/docs/docs/get-started/connect-your-database.md
  website/docs/docs/use-dbt-semantic-layer/dbt-semantic-layer.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-semantic-layer.md
  website/sidebars.js
  website/snippets/sl-prerequisites.md
  website/snippets/sl-public-preview-banner.md
Labels: content, size: small

#2375 Indicate the default thread value
  website/docs/docs/get-started/connection-profiles.md
Labels: content, size: x-small

#2508 Improving the way images work in Docs
  website/blog/2022-11-30-dbt-project-evaluator.md
  website/src/components/lightbox/index.js
  website/src/components/lightbox/styles.module.css
  website/static/css/featherlight-styles.css
Labels: content, size: medium, developer blog

#2565 Private Package Testing
  website/.npmrc
  website/package-lock.json
  website/package.json
  website/src/components/dbt-editor/index.js
  website/src/components/dbt-editor/styles.module.css
  website/src/components/lineage/index.js
  website/src/components/lineage/utils/transform-lineage-nodes.js
Labels: size: large

#2564 Adjust discourse function
  website/docs/docs/build/jinja-macros.md
  website/functions/get-discourse-topics.js
  website/src/components/discourse/index.js
Labels: content, size: small

#2535 Adding a FAQs for upcoming account changes
  website/docs/faqs/Accounts/change-users-license.md
  website/docs/faqs/Accounts/delete-users.md
  website/docs/faqs/Project/consolidate-projects.md
  website/docs/faqs/Project/delete-a-project.md
Labels: content, size: medium

#2569 Fix typo in tags.md
  website/docs/reference/resource-configs/tags.md
Labels: content, size: x-small

#2578 Fix typo in hooks-operations.md doc
  website/docs/docs/build/hooks-operations.md
Labels: content, size: x-small

#1660 select -> selector
  website/docs/reference/node-selection/set-operators.md
Labels: content, size: x-small

#2437 Update connect-your-database.md
  website/docs/docs/get-started/connect-your-database.md
Labels: content, size: small

#2581 Add Sam's devblog post
  website/blog/2022-12-14-sams-foundry-experience.md
  website/blog/authors.yml
  website/static/img/blog/authors/sam-harting.png
Labels: content, size: medium, developer blog

#2583 Update 2022-12-14-sams-foundry-experience.md
  website/blog/2022-12-14-sams-foundry-experience.md
Labels: size: x-small, developer blog

#2584 Clarify Enterprise vs. Non-Enterprise Support
  website/docs/docs/dbt-support.md
Labels: content, size: small

#2371 replace "analysis" with "asset" in asset-paths doc
  website/docs/reference/project-configs/asset-paths.md
Labels: content, size: x-small

#2576 Update cloud-ci-job.md
  website/docs/docs/deploy/cloud-ci-job.md
Labels: content, size: x-small

#2571 Redirect meta docs from properties to configs
  _redirects
Labels: size: x-small

#2509 Fix headings in the Azure section
  website/docs/docs/collaborate/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: x-small

#2582 small typo in cloud-ci-job.md
  website/docs/docs/deploy/cloud-ci-job.md
Labels: content, size: x-small

#2588 fix internal link
  website/docs/reference/dbt-classes.md
Labels: content, size: x-small

#2585 Update using-jinja.md
  website/docs/docs/get-started/learning-more/using-jinja.md
Labels: content, size: x-small

#2587 Update sidebars.js
  website/sidebars.js
Labels: size: x-small

#2567 fix url link
  website/docs/faqs/Models/reference-models-in-another-project.md
Labels: content, size: x-small

#2586 Add info on defining custom names for tests to migration guide
  website/docs/guides/migration/versions/04-upgrading-to-dbt-utils-v1.0.md
Labels: content, size: small, guides

#2591 fix typos in `state-comparison-caveats.md`
  website/docs/reference/node-selection/state-comparison-caveats.md
Labels: content, size: x-small

#2590 Add missing word
  website/docs/reference/resource-configs/strategy.md
Labels: content, size: x-small

#2580 Clarify tagging inheritance example
  website/docs/reference/resource-configs/tags.md
Labels: content, size: x-small

#2593 Specific data warehouses - header link fix
  website/docs/docs/build/python-models.md
Labels: content, size: x-small

#2579 fix troubleshooting format
  website/docs/docs/deploy/cloud-ci-job.md
Labels: content, size: medium

#2589 Add sql statement and clause content to SQL Reference
  website/docs/sql-reference/clauses/sql-limit.md
  website/docs/sql-reference/clauses/sql-order-by.md
  website/docs/sql-reference/clauses/sql-where.md
  website/docs/sql-reference/sql-distinct.md
  website/docs/sql-reference/sql-select.md
  website/sidebars.js
Labels: content, size: large

#1633 Add link to ghcr
  website/docs/docs/get-started/docker-install.md
Labels: content, size: x-small, merge-conflict-cli

#2533 Add Infer to supported community adapters
  website/docs/docs/supported-data-platforms.md
  website/docs/reference/warehouse-setups/infer-setup.md
  website/sidebars.js
Labels: content, size: medium

#2551 upgrade to dbt-vertica to 1.3.0 version basic setup details
  website/docs/reference/resource-configs/vertica-configs.md
  website/docs/reference/warehouse-setups/vertica-setup.md
  website/sidebars.js
Labels: content, size: large

#2599 combine-state-result-selector-description
  website/docs/docs/deploy/about-state.md
Labels: content, size: x-small

#2596 Fix bug in documentation re `is_incremental()`
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small

#2435 Replace module-path with packages-install-path
  website/docs/reference/project-configs/packages-install-path.md
Labels: content, size: x-small

#2153 Update 5-mapping-merges.md
  website/docs/guides/migration/tools/migrating-from-stored-procedures/5-mapping-merges.md
Labels: content, size: x-small, guides

#2123 change folder name for seeds from data to seeds
  website/docs/guides/best-practices/how-we-structure/5-the-rest-of-the-project.md
Labels: content, size: x-small, guides

#2460 Update spark-setup.md
  website/docs/reference/warehouse-setups/spark-setup.md
Labels: content, size: x-small

#2604 Patch 01
  website/docs/faqs/Docs/long-descriptions.md
Labels: content, size: small

#1230 Update fromyaml.md
  website/docs/reference/dbt-jinja-functions/fromyaml.md
Labels: content, size: x-small

#2595 Fix seed custom schema example
  website/docs/faqs/Seeds/seed-custom-schemas.md
Labels: content, size: x-small

#2263 Clarify incremental model docs for unique_key configuration
  website/docs/docs/build/incremental-models.md
Labels: content, size: small, Hackathon

#2607 Add VPC Classic IDE schedule disclaimer
  website/docs/docs/dbt-versions/release-notes/03-Nov-2022/ide-features-ide-deprecation.md
Labels: content, size: x-small

#2611 Fix small typo in redshift setup page
  website/docs/reference/warehouse-setups/redshift-setup.md
Labels: content, size: x-small

#1845 Set `<text | json | default>` for `config.log_format` of `profiles.yml`.
  website/docs/reference/profiles.yml.md
Labels: content, size: x-small

#2605 Update custom-generic-tests.md
  website/docs/guides/best-practices/custom-generic-tests.md
Labels: content, size: x-small, guides

#1671 Minor wording change in Architecture article opening sentence
  website/docs/docs/deploy/architecture.md
Labels: content, size: x-small, merge-conflict-cli

#1581 Create enterprise-permissions.md
  website/docs/docs/collaborate/manage-access/enterprise-permissions.md
Labels: content, size: x-small, merge-conflict-cli

#2537 dbt-databricks migration doc
  website/docs/guides/migration/tools/migrating-from-spark-to-databricks.md
Labels: content, size: medium, guides

#2597 broken link of Synapse setup
  website/docs/reference/warehouse-setups/azuresynapse-setup.md
Labels: content, size: x-small

#2610 Update 2022-12-14-sams-foundry-experience.md
  website/blog/2022-12-14-sams-foundry-experience.md
Labels: size: small, developer blog

#2243 LOG_FORMAT env var should be DBT_LOG_FORMAT
  website/docs/reference/global-configs.md
Labels: content, size: x-small

#1409 change `quote-columns` to `quote_columns` in v1.0 migration guide
  website/docs/guides/migration/versions/08-upgrading-to-v1.0.md
Labels: content, size: x-small, guides, merge-conflict-cli

#2507 Fix return.md example
  website/docs/reference/dbt-jinja-functions/return.md
Labels: content, size: x-small

#2619 dbt Cloud RN: Private packages must be cloned
  website/docs/docs/dbt-versions/release-notes/02-Dec-2022/private-packages-clone-git-token.md
Labels: content, size: small

#2614 added more details around the service user
  package-lock.json
  website/docs/docs/collaborate/git/setup-azure.md
Labels: content, size: small

#2631 Replace developer 'experiment' with developer 'experience'
  website/docs/guides/best-practices/how-we-structure/5-the-rest-of-the-project.md
Labels: content, size: x-small, guides

#2628 Add dummy-dbt in example projects
  website/docs/faqs/Project/example-projects.md
Labels: content, size: x-small
