Repository dbt-labs/docs.getdbt.com, pull requests merged in 2022-03, with the labels that each got.

#1170 removing ssh
  website/docs/docs/building-a-dbt-project/package-management.md
Labels: size: small

#1189 Update firebolt-configs.md
  website/docs/reference/resource-configs/firebolt-configs.md
Labels: size: small

#1061 First draft of core version policy
  website/docs/docs/core-versions.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-choosing-a-dbt-version.md
  website/sidebars.js
Labels: size: medium

#1172 Adding Nate Sooter's content to DevBlog
  website/blog/analytics-craft/2022-02-23-founding-an-AE-team-smartsheet.md
  website/blog/authors.yml
  website/static/img/blog/2022-02-23-founding-an-AE-team-smartsheet/completed-process.png
  website/static/img/blog/2022-02-23-founding-an-AE-team-smartsheet/current-enrichment-structure.png
  website/static/img/blog/2022-02-23-founding-an-AE-team-smartsheet/enrichment-structure-solutions.png
  website/static/img/blog/2022-02-23-founding-an-AE-team-smartsheet/new-structure-example.png
  website/static/img/blog/2022-02-23-founding-an-AE-team-smartsheet/new-transformation-workflow.png
  website/static/img/blog/authors/nate-sooter.jpeg
Labels: size: medium

#1198 quick typo fix
  website/blog/analytics-craft/2022-02-23-founding-an-AE-team-smartsheet.md
Labels: size: x-small

#1199 Fix: Remove release notes category
  website/blog/categories.yml
Labels: bug, size: x-small, code change (docs site)

#1200 add truncate tag to Founding AE Team Blog Post
  website/blog/analytics-craft/2022-02-23-founding-an-AE-team-smartsheet.md
Labels: size: x-small

#1196 Revert "removing ssh"
  website/docs/docs/building-a-dbt-project/package-management.md
Labels: size: small

#1186 v1.1.46 release notes
  website/docs/docs/dbt-cloud/dbt-cloud-changelog.md
  website/static/img/docs/dbt-cloud/v1.1.46releasenotes_img1.png
Labels: size: x-small

#1202 don't think we need this because the project board also does this
  .github/ISSUE_TEMPLATE/add_pr_to_project.yml
Labels: size: x-small

#1205 Attempting to fix PR workflow
  .github/workflows/add_pr_to_project.yml
Labels: size: medium

#1207 Fix workflow
  .github/workflows/add_pr_to_project.yml
Labels: size: x-small

#1209 Add information on version tag differences.
  website/docs/reference/project-configs/version.md
Labels: size: small

#1211 Fixing bad link
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-azure-devops.md
Labels: size: x-small

#1197 Replacing category-specific feeds w/ a global reverse-chronological blogroll
  website/blog/metadata.yml
  website/src/css/custom.css
  website/src/theme/BlogListPage/index.js
Labels: size: medium

#1218 Update dbt-jinja-functions.md
  website/docs/reference/dbt-jinja-functions.md
Labels: size: x-small

#1219 Update sidebars.js
  website/sidebars.js
Labels: size: x-small

#1153 Adding Sung & Izzy's content to Dev Blog
  website/blog/authors.yml
  website/blog/data-ecosystem/maching-learning-dbt-baton-pass.md
  website/static/img/blog/2022-02-18-machine-learning-dbt-baton-pass/JTBD-workflow.png
  website/static/img/blog/2022-02-18-machine-learning-dbt-baton-pass/fal-install-1.png
  website/static/img/blog/2022-02-18-machine-learning-dbt-baton-pass/fal-install-2.png
  website/static/img/blog/2022-02-18-machine-learning-dbt-baton-pass/lineage-graph.png
  website/static/img/blog/2022-02-18-machine-learning-dbt-baton-pass/macro-names.png
  website/static/img/blog/2022-02-18-machine-learning-dbt-baton-pass/modelbit-api.png
  website/static/img/blog/2022-02-18-machine-learning-dbt-baton-pass/notebook-dbt-sync.png
  website/static/img/blog/authors/izzy.jpeg
Labels: size: medium

#1220 Fixes truncate text in dbt+ML blog
  website/blog/data-ecosystem/maching-learning-dbt-baton-pass.md
Labels: size: x-small

#1221 dbt + Machine Learning: What makes a great baton pass?: Fix fal links
  website/blog/data-ecosystem/maching-learning-dbt-baton-pass.md
Labels: size: x-small

#1222 Adding release note about how spotty internet issues no longer cause “IDE session timed out” message
  website/blog/categories.yml
  website/blog/product-updates/release-notes/2022-03-10-ide-timeout-message.md
Labels: size: small

#1225 Fix author tags and unnecessary folders
  website/blog/2019-05-01-how-we-structure-dbt-projects.md
  website/blog/2020-07-01-how-to-create-near-real-time-models-with-just-dbt-sql.md
  website/blog/2021-02-05-dbt-project-checklist.md
  website/blog/2021-02-09-how-to-configure-your-dbt-repository-one-or-many.md
  website/blog/2021-09-11-sql-dateadd.md
  website/blog/2021-09-11-union-all.md
  website/blog/2021-09-15-september-21-product-email.md
  website/blog/2021-10-15-october-21-product-update-email.md
  website/blog/2021-11-15-november-21-product-email.md
  website/blog/2021-11-22-dbt-labs-pr-template.md
  website/blog/2021-11-22-exact-commands-we-run-in-production.md
  website/blog/2021-11-22-primary-keys.md
  website/blog/2021-11-22-sql-surrogate-keys.md
  website/blog/2021-11-23-how-to-upgrade-dbt-versions.md
  website/blog/2021-11-23-on-the-importance-of-naming.md
  website/blog/2021-11-23-so-you-want-to-build-a-package.md
  website/blog/2021-11-26-welcome-to-the-dbt-developer-blog.md
  website/blog/2021-11-29-dbt-airflow-spiritual-alignment.md
  website/blog/2021-11-29-open-source-community-growth.md
  website/blog/2021-11-29-the-missing-role-of-design-in-analytics.md
  website/blog/2021-12-05-how-to-build-a-mature-dbt-project-from-scratch.md
  website/blog/2022-01-12-time-on-task-calculation.md
  website/blog/2022-02-07-customer-360-view-census-playbook.md
  website/blog/2022-02-23-founding-an-AE-team-smartsheet.md
  website/blog/2022-03-10-ide-timeout-message.md
  website/blog/authors.yml
  website/blog/maching-learning-dbt-baton-pass.md
Labels: size: medium

#1238 Update docusaurus
  website/package-lock.json
  website/package.json
  website/src/theme/CodeBlock/README.md
  website/src/theme/CodeBlock/index.js
  website/src/theme/CodeBlock/styles.module.css
  website/src/theme/MDXComponents/index.js
  website/src/theme/MDXComponents/styles.css
  website/src/theme/MDXComponents/styles.module.css
  website/src/theme/SearchBar/index.js
  website/src/theme/SearchBar/styles.css
  website/src/theme/SearchBar/styles.module.css
Labels: size: x-large

#1242 documenting new versioning components
  README.md
  contributing/versioningdocs.md
Labels: size: large
