Repository dbt-labs/docs.getdbt.com, pull requests merged in 2022-02, with the labels that each got.

#1067 v1.1.44 changelog updates
  website/docs/docs/dbt-cloud/dbt-cloud-changelog.md
Labels: size: x-small

#1070 Editing layout for wh specific tutorials
  website/docs/tutorial/1-setting-up.md
  website/docs/tutorial/create-a-project.md
  website/docs/tutorial/set-up-data-platform.md
  website/sidebars.js
Labels: size: medium

#1018 load time on task blog
  website/blog/analytics-craft/2022-01-12-time-on-task-calculation.md
  website/blog/ctas.yml
  website/blog/data-ecosystem/2021-11-22-dbt-labs-pr-template.md
  website/static/img/blog/2022-01-12-time-on-task/image_0.png
  website/static/img/blog/2022-01-12-time-on-task/image_1.png
  website/static/img/blog/2022-01-12-time-on-task/image_2.png
  website/static/img/blog/2022-01-12-time-on-task/image_3.png
  website/static/img/blog/2022-01-12-time-on-task/image_4.png
Labels: size: medium, developer blog

#1034 Updating workflows to work on forked repos
  .github/workflows/add_pr_to_project.yml
Labels: size: x-small

#1069 Add discourse comments
  website/src/css/custom.css
  website/src/theme/BlogPostPage/index.js
Labels: size: small

#1075 Fix typo in docs
  website/docs/docs/dbt-cloud/dbt-cloud-changelog.md
Labels: size: x-small

#1074 Update our GitHub repo links
  website/docusaurus.config.js
Labels: size: x-small

#1033 Fix broken link in dbt-api
  _redirects
  website/docs/docs/running-a-dbt-project/dbt-api.md
Labels: size: x-small

#1085 Revert "Merge pull request #1069 from dbt-labs/feature/discourse-comm…
  website/src/css/custom.css
  website/src/theme/BlogPostPage/index.js
Labels: size: small

#1086 updating tense to be past tense
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-choosing-a-dbt-version.md
Labels: size: x-small

#1090 Replace shortlink with a link that actually works
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-metrics-layer.md
Labels: size: x-small

#1091 Blog on customer 360 views (Donny Flynn)
  website/blog/analytics-craft/2022-02-07-customer-360-view-census-playbook.md
  website/blog/authors.yml
  website/static/img/blog/2022-02-08-customer-360-view/image_0.jpg
  website/static/img/blog/2022-02-08-customer-360-view/image_1.png
  website/static/img/blog/2022-02-08-customer-360-view/image_10.png
  website/static/img/blog/2022-02-08-customer-360-view/image_11.png
  website/static/img/blog/2022-02-08-customer-360-view/image_2.png
  website/static/img/blog/2022-02-08-customer-360-view/image_3.png
  website/static/img/blog/2022-02-08-customer-360-view/image_4.png
  website/static/img/blog/2022-02-08-customer-360-view/image_5.png
  website/static/img/blog/2022-02-08-customer-360-view/image_6.png
  website/static/img/blog/2022-02-08-customer-360-view/image_7.png
  website/static/img/blog/2022-02-08-customer-360-view/image_8.png
  website/static/img/blog/2022-02-08-customer-360-view/image_9.png
  website/static/img/blog/2022-02-08-customer-360-view/jafflegaggle_screenshot.png
  website/static/img/blog/authors/dflynn.jpeg
Labels: size: large

#1095 Update Danny Flynn Author Bio
  website/blog/authors.yml
Labels: size: small

#1045 Service account tokens
  website/docs/docs/dbt-cloud/access-control/enterprise-permissions.md
  website/docs/docs/dbt-cloud/dbt-cloud-api/service-tokens.md
  website/docs/docs/dbt-cloud/dbt-cloud-api/user-tokens.md
Labels: size: medium

#1096 Update service-tokens.md
  website/docs/docs/dbt-cloud/dbt-cloud-api/service-tokens.md
Labels: size: small

#1098 Add generalized pip installation method
  website/docs/docs/available-adapters.md
Labels: size: small

#1083 Replace link to coding conventions to the style guide
  website/docs/docs/guides/best-practices.md
Labels: size: x-small

#1073 Feat/databricks tutorial
  website/docs/tutorial/1c-setting-up-databricks.md
  website/package-lock.json
  website/src/css/custom.css
  website/static/img/databricks_tutorial/images/Generate_user_token.png
  website/static/img/databricks_tutorial/images/IDE.png
  website/static/img/databricks_tutorial/images/SQL_Endpoint_Details.png
  website/static/img/databricks_tutorial/images/choose_plan.png
  website/static/img/databricks_tutorial/images/create_cluster.png
  website/static/img/databricks_tutorial/images/create_new_table.png
  website/static/img/databricks_tutorial/images/create_query.png
  website/static/img/databricks_tutorial/images/create_stack.png
  website/static/img/databricks_tutorial/images/create_table_upload.png
  website/static/img/databricks_tutorial/images/databricks_welcome.png
  website/static/img/databricks_tutorial/images/dbt_run.png
  website/static/img/databricks_tutorial/images/dbt_run_status.png
  website/static/img/databricks_tutorial/images/development_credentials.png
  website/static/img/databricks_tutorial/images/generate_token.png
  website/static/img/databricks_tutorial/images/go_to_sql.png
  website/static/img/databricks_tutorial/images/new_query.png
  website/static/img/databricks_tutorial/images/new_table_created.png
  website/static/img/databricks_tutorial/images/parameters.png
  website/static/img/databricks_tutorial/images/preview_query.png
  website/static/img/databricks_tutorial/images/query_check.png
  website/static/img/databricks_tutorial/images/query_table_test.png
  website/static/img/databricks_tutorial/images/quick_create_stack.png
  website/static/img/databricks_tutorial/images/raw_tables_created.png
  website/static/img/databricks_tutorial/images/select_cluster_to_preview_table.png
  website/static/img/databricks_tutorial/images/setup_database_connection.png
  website/static/img/databricks_tutorial/images/setup_databricks_connect.png
  website/static/img/databricks_tutorial/images/setup_first_workspace.png
  website/static/img/databricks_tutorial/images/setup_flow_dbt_cloud.png
  website/static/img/databricks_tutorial/images/signup_form.png
  website/static/img/databricks_tutorial/images/sql_endpoints.png
  website/static/img/databricks_tutorial/images/stack_status.png
  website/static/img/databricks_tutorial/images/start_cluster.png
  website/static/img/databricks_tutorial/images/token_generated.png
  website/static/img/databricks_tutorial/images/validate_1.png
  website/static/img/databricks_tutorial/images/validate_2.png
  website/static/img/databricks_tutorial/images/welcome_page.png
  website/static/img/databricks_tutorial/images/workspaces.png
Labels: size: x-large

#1071 Feat/snowflake tutorial
  website/docs/tutorial/1b-setting-up-snowflake.md
  website/static/img/snowflake_tutorial/dbt_cloud_account_info.png
  website/static/img/snowflake_tutorial/dbt_cloud_account_registration.png
  website/static/img/snowflake_tutorial/dbt_cloud_click_commit.png
  website/static/img/snowflake_tutorial/dbt_cloud_connect_snowflake.png
  website/static/img/snowflake_tutorial/dbt_cloud_dbt_run.png
  website/static/img/snowflake_tutorial/dbt_cloud_initialize_your_project.png
  website/static/img/snowflake_tutorial/dbt_cloud_preview_results.png
  website/static/img/snowflake_tutorial/dbt_cloud_run_results.png
  website/static/img/snowflake_tutorial/dbt_cloud_set_up_a_repository.png
  website/static/img/snowflake_tutorial/dbt_cloud_setup.png
  website/static/img/snowflake_tutorial/dbt_cloud_snowflake_account_settings.png
  website/static/img/snowflake_tutorial/dbt_cloud_snowflake_development_credentials.png
  website/static/img/snowflake_tutorial/dbt_cloud_snowflake_project_overview.png
  website/static/img/snowflake_tutorial/dbt_cloud_update_database_and_warehouse.png
  website/static/img/snowflake_tutorial/dbt_cloud_welcome_page.png
  website/static/img/snowflake_tutorial/dbt_cloud_write_commit_message.png
  website/static/img/snowflake_tutorial/snowflake_account_configuration.png
  website/static/img/snowflake_tutorial/snowflake_account_signup.png
  website/static/img/snowflake_tutorial/snowflake_classic_ui_activation_window.png
  website/static/img/snowflake_tutorial/snowflake_classic_ui_connection_box.png
  website/static/img/snowflake_tutorial/snowflake_classic_ui_partner_connect.png
  website/static/img/snowflake_tutorial/snowflake_create_customers_table.png
  website/static/img/snowflake_tutorial/snowflake_create_orders_table.png
  website/static/img/snowflake_tutorial/snowflake_create_payments_table.png
  website/static/img/snowflake_tutorial/snowflake_create_warehouse_database_and_schema_commands.png
  website/static/img/snowflake_tutorial/snowflake_free_trial_signup_form.png
  website/static/img/snowflake_tutorial/snowflake_new_ui_activation_window.png
  website/static/img/snowflake_tutorial/snowflake_new_ui_connection_box.png
  website/static/img/snowflake_tutorial/snowflake_new_ui_create_new_worksheet.png
  website/static/img/snowflake_tutorial/snowflake_new_ui_partner_connect.png
  website/static/img/snowflake_tutorial/snowflake_partner_connect_box.png
  website/static/img/snowflake_tutorial/snowflake_workspace.png
Labels: size: large

#1113 rm drew from codeowners
  .github/CODEOWNERS
Labels: size: small

#1110 upload redshift tutorial
  website/docs/tutorial/1b-setting-up-redshift.md
  website/docs/tutorial/1c-setting-up-databricks.md
  website/sidebars.js
  website/static/img/redshift_tutorial/images/IDE_initialize_project.png
  website/static/img/redshift_tutorial/images/choose_redshift.png
  website/static/img/redshift_tutorial/images/cloud_formation_in_progress.png
  website/static/img/redshift_tutorial/images/cluster_overview.png
  website/static/img/redshift_tutorial/images/connect_to_redshift_cluster.png
  website/static/img/redshift_tutorial/images/copy_data.png
  website/static/img/redshift_tutorial/images/create_schemas.png
  website/static/img/redshift_tutorial/images/go_to_S3.png
  website/static/img/redshift_tutorial/images/go_to_redshift.png
  website/static/img/redshift_tutorial/images/redshift_query_editor.png
  website/static/img/redshift_tutorial/images/review_jaffle_shop.png
  website/static/img/redshift_tutorial/images/s3_bucket.png
  website/static/img/redshift_tutorial/images/select_jaffle_redshift.png
  website/static/img/redshift_tutorial/images/setup_project.png
  website/static/img/redshift_tutorial/images/setup_redshift_connect.png
  website/static/img/redshift_tutorial/images/upload_csv.png
Labels: size: medium

#1114 [Minor] Update additional information regarding PII for seeds
  website/docs/docs/building-a-dbt-project/seeds.md
Labels: size: x-small

#1109 v1.1.45 Change log updates
  website/docs/docs/dbt-cloud/dbt-cloud-changelog.md
Labels: size: small

#1120 Update maintaining-a-channel.md
  website/docs/community/maintaining-a-channel.md
Labels: size: small

#1119 Create maintaining-a-channel.md
  website/docs/community/maintaining-a-channel.md
  website/docusaurus.config.js
Labels: size: small

#1125 Added dbt-vertica Adaptor to Community Adaptors
  website/docs/docs/available-adapters.md
  website/docs/reference/warehouse-profiles/vertica-profile
  website/sidebars.js
Labels: size: medium

#1127 Revert "Added dbt-vertica Adaptor to Community Adaptors"
  website/docs/docs/available-adapters.md
  website/docs/reference/warehouse-profiles/vertica-profile
  website/sidebars.js
Labels: size: medium

#1128 Adding dbt-vertica adapter
  website/docs/docs/available-adapters.md
  website/docs/reference/warehouse-profiles/vertica-profile.md
  website/sidebars.js
Labels: size: medium

#1155 fix: use underscore instead of dash for project-names
  website/docs/docs/building-a-dbt-project/projects.md
  website/docs/learn/2b-create-a-project-dbt-cli.md
  website/docs/tutorial/2b-create-a-project-dbt-cli.md
Labels: size: small

#1157 Update store_failures.md
  website/docs/reference/resource-configs/store_failures.md
Labels: size: x-small

#1122 Fixes flipped md link syntax causing bad link
  website/blog/analytics-craft/2022-02-07-customer-360-view-census-playbook.md
Labels: bug, size: x-small

#1169 Update number of people in dbt Slack
  website/docs/docs/contributing/slack-rules-of-the-road.md
Labels: size: x-small

#1171 Updates dbt logo with trademark and add trademark to focus areas
  website/docusaurus.config.js
  website/src/pages/index.js
  website/static/img/dbt-logo-light.svg
Labels: size: small

#1092 dbt-databricks adapter documentation.
  website/docs/docs/available-adapters.md
  website/docs/reference/warehouse-profiles/databricks-profile.md
  website/sidebars.js
Labels: size: medium

#1167 Update CODEOWNERS so blog content is managed by Devex
  .github/CODEOWNERS
Labels: size: x-small

#1174 Broken link typo fix for Databricks adapter configurations.
  website/docs/docs/available-adapters.md
  website/docs/reference/warehouse-profiles/databricks-profile.md
Labels: size: small

#1173 Update categories.yml to include release notes
  website/blog/categories.yml
Labels: size: small

#1179 Minor typo fix
  website/docs/reference/warehouse-profiles/bigquery-profile.md
Labels: size: x-small

#1181 Fix link to dbt-bigquery profile template
  website/docs/docs/contributing/building-a-new-adapter.md
Labels: size: x-small

#1124 [Minor] Correct file name for models example given
  website/docs/docs/building-a-dbt-project/seeds.md
Labels: size: x-small

#1059 Add links to upgrade guides for 1.0
  website/docs/docs/guides/migration-guide/upgrading-to-1-0-0.md
Labels: size: x-small

#1178 Add privacy policy to footer
  website/docusaurus.config.js
  website/src/css/custom.css
Labels: size: x-small

#1184 remove TM from header
  website/docusaurus.config.js
  website/static/img/dbt-logo-light.svg
  website/static/img/dbt-logo.svg
Labels: size: small
