Repository dbt-labs/docs.getdbt.com, pull requests merged in 2022-01, with the labels that each got.

#1013 Create labeler.yml
  .github/workflows/labeler.yml
Labels: size: small

#1020 Update README.md
  README.md
Labels: size: x-small

#1021 Update README.md
  README.md
Labels: size: x-small

#1023 Update README.md
  README.md
Labels: size: x-small

#1017 require-dbt-version docs reflect post-1.0 advice
  website/docs/reference/project-configs/require-dbt-version.md
Labels: size: medium

#915 Add filter examples to metrics
  website/docs/docs/building-a-dbt-project/metrics.md
Labels: size: medium

#998 Adding dbt Metrics Layer page
  website/docs/docs/dbt-cloud/cloud-overview.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/artifacts.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-dashboard-status-tiles.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-enabling-continuous-integration-with-github.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-environment-variables.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-generating-documentation.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-metrics-layer.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-model-timing-tab.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-setting-a-custom-target-name.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-slack-notifications.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-snapshotting-source-freshness.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-using-a-custom-cron-schedule.md
  website/sidebars.js
Labels: size: medium

#1029 pre-release v1.1.43
  website/docs/docs/dbt-cloud/dbt-cloud-changelog.md
Labels: size: small

#744 Update Notifications Page
  _redirects
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-notifications.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/using-dbt-cloud/email-notifications.png
Labels: size: small

#1026 update_metrics.md
  website/docs/docs/building-a-dbt-project/metrics.md
Labels: size: x-small

#1030 Adding an auto index page.
  website/sidebars.js
  website/src/css/custom.css
Labels: size: small

#1035 Swizzled TOC component to include CTA inside, then set position to re…
  website/src/css/custom.css
  website/src/theme/BlogLayout/index.js
  website/src/theme/TOC/index.js
  website/src/theme/TOC/styles.module.css
Labels: size: medium

#1063 Removes duplicate version of the prism-react-renderer
  website/package-lock.json
  website/package.json
Labels: size: x-small
