Repository dbt-labs/docs.getdbt.com, pull requests merged in 2022-09, with the labels that each got.

#1666 Update `persist_docs` docs for adapter support
  website/docs/reference/resource-configs/persist_docs.md
Labels: content, size: small

#1848 Snowpark setup third-party terms
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: x-small

#1417 Update: Core versions, v1.1 migration guide, adapter guide
  website/docs/docs/contributing/building-a-new-adapter.md
  website/docs/docs/core-versions.md
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
  website/docs/guides/migration/versions/06-upgrading-to-v1.2.md
  website/docs/guides/migration/versions/07-upgrading-to-v1.1.md
Labels: content, size: small

#1942 update installation method for dbt-athena
  website/docs/docs/available-adapters.md
  website/docs/reference/warehouse-profiles/athena-profile.md
Labels: content, size: x-small

#1716 Update exposures.md
  website/docs/docs/building-a-dbt-project/exposures.md
Labels: content, size: x-small

#1391 Update Apache Spark profile configs
  website/docs/reference/warehouse-profiles/spark-profile.md
Labels: content, size: small

#1941 Fix typo
  website/docs/guides/best-practices/how-we-structure/3-intermediate.md
Labels: content, size: x-small

#1484 Fix typos in `events-logging.md`
  website/docs/reference/events-logging.md
Labels: content, size: x-small

#1304 Update snapshots.md
  website/docs/docs/building-a-dbt-project/snapshots.md
Labels: content, size: x-small

#1932 add august product update to dev blog
  website/blog/2022-08-31-august-product-update.md
Labels: size: medium, developer blog

#1267 Update connecting-your-database.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-your-database.md
Labels: content, size: x-small

#1926 call out support for AlloyDB via dbt-postgres
  website/docs/docs/available-adapters.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-your-database.md
  website/docs/reference/warehouse-profiles/alloydb-profile.md
  website/sidebars.js
Labels: content, size: small

#1952 Add data lineage glossary page
  website/blog/2021-02-09-how-to-configure-your-dbt-repository-one-or-many.md
  website/blog/2021-12-05-how-to-build-a-mature-dbt-project-from-scratch.md
  website/blog/2022-02-23-founding-an-AE-team-smartsheet.md
  website/blog/2022-05-17-stakeholder-friendly-model-names.md
  website/blog/maching-learning-dbt-baton-pass.md
  website/docs/docs/building-a-dbt-project/documentation.md
  website/docs/docs/building-a-dbt-project/snapshots.md
  website/docs/guides/migration/tools/migrating-from-stored-procedures/2-mapping-inserts.md
  website/docs/terms/data-lineage.md
  website/static/img/docs/terms/data-lineage/bad_dag.png
  website/static/img/docs/terms/data-lineage/dag_example.png
Labels: content, size: medium, developer blog

#1927 Event feed
  website/package-lock.json
  website/src/components/events/index.js
  website/src/components/events/styles.module.css
  website/src/theme/MDXComponents/index.js
Labels: size: medium

#1957 Security update docs for SSO to show in Userflow
  website/docs/docs/dbt-cloud/dbt-cloud-enterprise/sso-overview.md
Labels: content, size: small

#1961 Fix line break and add windows commands
  website/docs/docs/dbt-cloud/cloud-ide/ide-beta.md
Labels: content, size: x-small

#959 Added guidance on how to add snowflake acct field
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-your-database.md
Labels: content, size: x-small

#1924 Update setting-up-snowflake.md
  website/docs/guides/getting-started/getting-set-up/setting-up-snowflake.md
Labels: content, size: x-small

#1968 add DAG glossary page
  website/docs/terms/dag.md
  website/static/img/docs/terms/dag/bad_dag.png
  website/static/img/docs/terms/dag/lineage_graph.png
  website/static/img/docs/terms/dag/mini_dag.png
Labels: content, size: medium

#1972 Remove page on Python API
  _redirects
  website/docs/docs/running-a-dbt-project/dbt-api.md
  website/sidebars.js
Labels: content, size: small

#1930 Update ETL table
  website/docs/terms/etl.md
Labels: content, size: x-small

#1991 Add Grace's Anti-Cherry Picking article
  website/blog/2022-09-13-the-case-against-cherry-picking.md
  website/static/img/blog/2022-09-13-the-case-against-cherry-picking/1_basic_git_workflow.png
  website/static/img/blog/2022-09-13-the-case-against-cherry-picking/2_multienvironment.png
  website/static/img/blog/2022-09-13-the-case-against-cherry-picking/3_gru.jpg
  website/static/img/blog/2022-09-13-the-case-against-cherry-picking/4_scenario_1.png
  website/static/img/blog/2022-09-13-the-case-against-cherry-picking/5_scenario_2.png
  website/static/img/blog/2022-09-13-the-case-against-cherry-picking/6_scenario_3.png
  website/static/img/blog/2022-09-13-the-case-against-cherry-picking/7_bernie.jpg
Labels: size: medium, developer blog

#1938 Removing videos and replacing with screenshots and written directions
  website/docs/docs/dbt-cloud/access-control/enterprise-permissions.md
  website/docs/docs/dbt-cloud/cloud-ide/viewing-docs-in-the-ide.md
  website/docs/docs/dbt-cloud/release-notes/10-March-2022/ide-timeout-message.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-model-timing-tab.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-notifications.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-slack-notifications.md
  website/docs/faqs/Accounts/slack.md
  website/snippets/slack-notifications-config-steps.md
  website/snippets/snowflake-acct-name.md
Labels: content, size: medium, upcoming release, UIRefresh

#1996 Image updates for Connecting Your Database
  website/static/img/docs/dbt-cloud/snowflake-conn-details.png
  website/static/img/docs/dbt-cloud/snowflake-keypair-auth.png
  website/static/img/docs/dbt-cloud/snowflake-userpass-auth.png
Labels: size: x-small

#1994 Image updates with new UI for Connecting Your Database
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-your-database.md
  website/src/components/lightbox/index.js
  website/src/components/lightbox/styles.module.css
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/bigquery-connection.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/databricks-connections.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/postgres-redshift-connection.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/postgres-redshift-ssh-tunnel.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/spark-connection.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/1bd0c42-Screen_Shot_2020-03-10_at_6.20.05_PM.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/database-connection-snowflake-oauth.png
  website/static/img/docs/dbt-cloud/snowflake-conn-details.png
  website/static/img/docs/dbt-cloud/snowflake-keypair-auth.png
  website/static/img/docs/dbt-cloud/snowflake-userpass-auth.png
Labels: content, size: small

#1947 Update Oracle profile for release 1.2
  website/docs/reference/warehouse-profiles/oracle-profile.md
Labels: content, size: small

#1998 Update custom-generic-tests.md
  website/docs/guides/legacy/custom-generic-tests.md
Labels: content, size: x-small

#1950 ra3 release note
  website/docs/docs/dbt-cloud/release-notes/06-Aug-2022/support-redshift-ra3.md
Labels: content, size: small

#1228 Update note on mapping with SAML 2.0
  website/docs/docs/dbt-cloud/access-control/enterprise-permissions.md
Labels: content, size: x-small

#1292 Update snapshot-configs.md
  website/docs/reference/snapshot-configs.md
Labels: content, size: x-small

#1336 Update store_failures.md
  website/docs/reference/resource-configs/store_failures.md
Labels: content, size: x-small

#1454 Remove erroneous args from `print()` docs
  website/docs/reference/dbt-jinja-functions/print.md
Labels: content, size: x-small

#1992 Update snowflake with permissions
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-your-database.md
  website/docs/reference/snowflake-permissions.md
  website/sidebars.js
Labels: content, size: small

#753 custom branch configs
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-configuring-repositories.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/dev-environment-custom-branch.png
Labels: content, size: small

#1873 invalid consent requests can mean multiple things
  website/docs/docs/dbt-cloud/dbt-cloud-enterprise/setting-up-snowflake-sso.md
Labels: content, size: x-small

#1727 Overhaul of Adapter Development Contributing Docs
  _redirects
  website/docs/docs/available-adapters.md
  website/docs/docs/contributing/adapter-development/1-what-are-adapters.md
  website/docs/docs/contributing/adapter-development/2-prerequisites-for-a-new-adapter.md
  website/docs/docs/contributing/adapter-development/3-building-a-new-adapter.md
  website/docs/docs/contributing/adapter-development/4-testing-a-new-adapter.md
  website/docs/docs/contributing/adapter-development/5-documenting-a-new-adapter.md
  website/docs/docs/contributing/adapter-development/6-promoting-a-new-adapter.md
  website/docs/docs/contributing/adapter-development/7-verifying-a-new-adapter.md
  website/sidebars.js
  website/static/img/adapter-guide/0-full-release-notes.png
  website/static/img/adapter-guide/1-announcement.png
  website/static/img/adapter-guide/2-short-description.png
  website/static/img/adapter-guide/3-additional-resources.png
  website/static/img/adapter-guide/4-installation.png
  website/static/img/adapter-guide/5-coming-up.png
  website/static/img/adapter-guide/6-thank-contribs.png
  website/static/img/adapter-guide/adapter architecture - postgres.png
Labels: content, size: large

#1917 Update docs for dbt-trino v1.2.1
  website/docs/reference/warehouse-profiles/trino-profile.md
Labels: content, size: medium

#1931 Update `snowflake-profile.md`
  website/docs/reference/warehouse-profiles/snowflake-profile.md
Labels: content, size: x-small

#1999 Add missing semicolon in example
  website/docs/reference/resource-configs/sql_header.md
Labels: content, size: x-small

#1912 Updated the apache spark adapter page to add Apache Hudi support
  website/docs/reference/resource-configs/spark-configs.md
Labels: content, size: small

#1945 "Available Adapters" -> "Supported Data Platforms"
  .github/CODEOWNERS
  _redirects
  contributing/versioningdocs.md
  website/blog/2022-07-05-date-trunc-sql-love-letter.md
  website/blog/2022-07-05-datediff-sql-love-letter.md
  website/cypress/e2e/docs.cy.js
  website/docs/dbt-cli/configure-your-profile.md
  website/docs/dbt-cli/install/homebrew.md
  website/docs/dbt-cli/install/overview.md
  website/docs/dbt-cli/install/pip.md
  website/docs/docs/about/overview.md
  website/docs/docs/contributing/adapter-development/3-building-a-new-adapter.md
  website/docs/docs/contributing/adapter-development/5-documenting-a-new-adapter.md
  website/docs/docs/contributing/adapter-development/7-verifying-a-new-adapter.md
  website/docs/docs/core-versions.md
  website/docs/docs/faqs/sample-profiles.md
  website/docs/docs/faqs/sql-dialect.md
  website/docs/docs/introduction.md
  website/docs/docs/supported-data-platforms.md
  website/docs/faqs/Models/sql-dialect.md
  website/docs/faqs/Warehouse/sample-profiles.md
  website/docs/reference/commands/init.md
  website/docs/reference/dbt-jinja-functions/dispatch.md
  website/docs/terms/dml.md
  website/sidebars.js
  website/src/pages/styles.js
Labels: content, size: medium, developer blog

#2002 soften language
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-your-database.md
  website/docs/reference/snowflake-permissions.md
Labels: content, size: x-small

#987 Add note about requirement for successful runs
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-model-timing-tab.md
Labels: content, size: x-small

#960 Update quote_columns.md
  website/docs/reference/resource-configs/quote_columns.md
Labels: content, size: x-small

#930 Update parsing.md
  website/docs/reference/parsing.md
Labels: content, size: x-small

#868 Update column_types.md
  website/docs/reference/resource-configs/column_types.md
Labels: content, size: x-small

#2000 Update setup-azure.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/setup-azure.md
Labels: content, size: small

#1861 Fix typo in setting-up-bigquery.md
  website/docs/guides/getting-started/getting-set-up/setting-up-bigquery.md
Labels: content, size: x-small

#2008 anders's typos
  website/docs/docs/contributing/adapter-development/1-what-are-adapters.md
  website/docs/docs/contributing/adapter-development/3-building-a-new-adapter.md
Labels: content, size: x-small

#2014 Fix link and add redirect
  _redirects
  website/docs/docs/supported-data-platforms.md
Labels: content, size: x-small

#2020 Upgrade docs for dbt-trino v1.2.2
  website/docs/reference/warehouse-profiles/trino-profile.md
Labels: content, size: small

#1009 snowflake role - from optional to mandatory
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-your-database.md
Labels: content, good first issue, size: x-small

#2015 Add files via upload
  README.md
  contributing/content-style-guide.md
  contributing/contributor-code-of-conduct.md
Labels: size: large

#2023 Fix typo
  README.md
Labels: size: x-small

#2022 Updates to the PR template
  .github/pull_request_template.md
Labels: size: x-small

#1452 add comment indicating default target
  website/docs/reference/profiles.yml.md
Labels: content, size: x-small

#990 Update configure-your-profile.md
  website/docs/dbt-cli/configure-your-profile.md
Labels: content, size: x-small

#1969 Create events page
  website/src/css/custom.css
  website/src/pages/events.js
Labels: size: small

#1990 Dev hub redesign
  website/docusaurus.config.js
  website/src/components/faqs/index.js
  website/src/components/faqs/styles.module.css
  website/src/components/file/styles.module.css
  website/src/css/custom.css
  website/src/theme/DocItem/index.js
  website/src/theme/TOC/index.js
  website/static/img/moon.svg
Labels: size: large

#2034 Revert "[Snyk] Security upgrade @svgr/webpack from 5.5.0 to 6.0.0"
  website/package-lock.json
  website/package.json
Labels: size: large

#2018 Updating more nav for UI Refresh project
  website/docs/docs/faqs/dbt-source-freshness.md
  website/docs/faqs/Git/managed-repo.md
  website/docs/faqs/Project/dbt-source-freshness.md
  website/docs/guides/getting-started/building-your-first-project/build-your-first-models.md
  website/docs/guides/getting-started/getting-set-up/setting-up-snowflake.md
  website/docs/reference/dbt-jinja-functions/target.md
  website/snippets/tutorial-initiate-project.md
Labels: content, size: small

#1526 Fixes: Typo in docs for sources external config
  website/docs/reference/resource-properties/external.md
Labels: content, size: x-small

#1449 Add line break to have the types listed in a list.
  website/docs/docs/building-a-dbt-project/building-models/materializations.md
Labels: content, size: x-small

#1915 fixed typo in "Set up and connect Databricks" page
  website/docs/guides/getting-started/getting-set-up/setting-up-databricks.md
Labels: content, size: x-small

#947 Update meta.md
  website/docs/reference/resource-configs/meta.md
Labels: content, size: x-small

#2035 dbt-iomete: Updated documentation for iomete adapter
  website/docs/reference/warehouse-profiles/iomete-profile.md
Labels: content, size: small

#2026 Dbt 1.2
  website/docs/reference/resource-configs/clickhouse-configs.md
  website/docs/reference/warehouse-profiles/clickhouse-profile.md
Labels: content, size: medium

#2003 added caution notice to cherry picking article
  website/blog/2022-09-13-the-case-against-cherry-picking.md
Labels: size: small, developer blog

#2007 Add Tableau setup to cloud-dashboard-status-tiles.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-dashboard-status-tiles.md
  website/static/img/docs/dbt-cloud/using-dbt-cloud/dashboard-status-tiles/tableau-object.png
Labels: content, size: x-small

#2037 Instructions to add Google Drive scope to gcloud
  website/docs/faqs/Troubleshooting/access-gdrive-credential.md
Labels: content, size: x-small

#1880 Update python-models.md
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: x-small

#1649 Remove link and reference to v4 since it is currently not in use
  website/docs/docs/dbt-cloud/dbt-cloud-api/admin-cloud-api.md
Labels: content, size: x-small

#1629 Change doc to show dbt Cloud is supported
  website/docs/reference/warehouse-profiles/databricks-profile.md
Labels: content, size: x-small

#1623 Update target.md
  website/docs/reference/dbt-jinja-functions/target.md
Labels: content, size: x-small

#1862 Update tags to include tests
  website/docs/reference/resource-configs/tags.md
Labels: content, size: x-small

#2045 Revert "Change doc to show dbt Cloud is supported"
  website/docs/reference/warehouse-profiles/databricks-profile.md
Labels: content, size: x-small

#2048 Fix glossary link
  website/docs/reference/model-configs.md
Labels: content, size: x-small

#2031 DevHub top navigation updates
  website/docusaurus.config.js
  website/src/css/custom.css
Labels: size: medium

#932 Update exposures.md
  website/docs/docs/building-a-dbt-project/exposures.md
Labels: content, size: x-small

#912 Update cloud-snapshotting-source-freshness.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-snapshotting-source-freshness.md
Labels: content, size: x-small

#889 Add clarifying note to ref two argument variant example
  website/docs/reference/dbt-jinja-functions/ref.md
Labels: content, size: x-small

#2058 Revert "DevHub top navigation updates"
  website/docusaurus.config.js
  website/src/css/custom.css
Labels: size: medium

#2004 Discourse integration
  .gitignore
  netlify.toml
  website/functions/get-discourse-topics.js
  website/package-lock.json
  website/package.json
  website/src/components/discourse/index.js
  website/src/components/discourse/index.test.js
  website/src/components/discourse/styles.module.css
  website/src/css/custom.css
  website/src/pages/forum.js
  website/src/theme/MDXComponents/index.js
  website/static/css/__mocks__/styleMock.js
Labels: size: large

#2046 update admonition icons, navbar size, version 2.0 darkmode styles, fo…
  website/src/css/custom.css
Labels: size: medium

#2051 Create liststeps-endpoint-deprecation.md
  website/docs/docs/dbt-cloud/release-notes/05-Sept-2002/liststeps-endpoint-deprecation.md
Labels: content, size: small

#2059 put darkmode icon back to right side
  website/src/css/custom.css
Labels: size: small

#2044 Add metadata frontmatter for AE glossary
  website/docs/terms/cte.md
  website/docs/terms/dag.md
  website/docs/terms/data-extraction.md
  website/docs/terms/data-lineage.md
  website/docs/terms/data-warehouse.md
  website/docs/terms/dataframe.md
  website/docs/terms/ddl.md
  website/docs/terms/dimensional-modeling.md
  website/docs/terms/dml.md
  website/docs/terms/dry.md
  website/docs/terms/edw.md
  website/docs/terms/elt.md
  website/docs/terms/etl.md
  website/docs/terms/grain.md
  website/docs/terms/idempotent.md
  website/docs/terms/materialization.md
  website/docs/terms/primary-key.md
  website/docs/terms/reverse-etl.md
  website/docs/terms/subquery.md
  website/docs/terms/surrogate-key.md
Labels: content, size: medium

#2032 refactor Supported Data Platform Page
  website/docs/docs/supported-data-platforms.md
  website/docs/reference/warehouse-profiles/alloydb-profile.md
  website/docs/reference/warehouse-profiles/athena-profile.md
  website/docs/reference/warehouse-profiles/dremio-profile.md
  website/docs/reference/warehouse-profiles/exasol-profile.md
  website/docs/reference/warehouse-profiles/glue-profile.md
  website/docs/reference/warehouse-profiles/ibmdb2-profile.md
  website/docs/reference/warehouse-profiles/mssql-profile.md
  website/docs/reference/warehouse-profiles/mysql-profile.md
  website/docs/reference/warehouse-profiles/sqlite-profile.md
  website/docs/reference/warehouse-profiles/vertica-profile.md
Labels: content, size: medium

#1866 Document adapter.quote()
  website/docs/reference/dbt-jinja-functions/adapter.md
Labels: content, size: small

#866 Update mssql-profile.md
  website/docs/reference/warehouse-profiles/mssql-profile.md
Labels: content, size: x-small, needs testing

#2061 Add JSON glossary entry
  website/blog/2020-07-01-how-to-create-near-real-time-models-with-just-dbt-sql.md
  website/blog/2021-11-29-open-source-community-growth.md
  website/blog/2022-04-14-add-ci-cd-to-bitbucket.md
  website/blog/2022-05-03-making-dbt-cloud-api-calls-using-dbt-cloud-cli.md
  website/blog/2022-07-26-pre-commit-dbt.md
  website/blog/2022-08-31-august-product-update.md
  website/docs/docs/building-a-dbt-project/building-models/using-variables.md
  website/docs/docs/building-a-dbt-project/snapshots.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-upgrading-dbt-versions.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-your-database.md
  website/docs/docs/dbt-cloud/on-premises/usage-statistics.md
  website/docs/guides/getting-started/getting-set-up/setting-up-bigquery.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-19-0.md
  website/docs/reference/artifacts/dbt-artifacts.md
  website/docs/reference/commands/source.md
  website/docs/reference/events-logging.md
  website/docs/reference/global-configs.md
  website/docs/reference/project-configs/query-comment.md
  website/docs/terms/data-warehouse.md
  website/docs/terms/dataframe.md
  website/docs/terms/elt.md
  website/docs/terms/json.md
  website/snippets/tutorial-document-your-models.md
Labels: content, size: medium, developer blog

#2065 fix typo in 'availabe'
  website/docs/reference/dbt-jinja-functions/dbt-project-yml-context.md
Labels: content, size: x-small

#2050 New cross db macros
  website/docs/reference/dbt-jinja-functions/cross-database-macros.md
Labels: content, size: large

#2068 Fix small typo - "viola" to "voilà"
  website/blog/2022-08-17-managing-surrogate-keys-in-dbt.md
Labels: size: x-small, developer blog

#2091 Move a page from Guides/Legacy to Docs
  _redirects
  website/docs/docs/building-a-dbt-project/managing-environments.md
  website/sidebars.js
Labels: content, size: x-small

#2093 Move content to Contributing guide and replace/fix images
  README.md
  _redirects
  contributing/adding-page-components.md
  website/docs/docs/dbt-cloud/cloud-overview.md
  website/docs/docs/dbt-cloud/dbt-cloud-enterprise/setting-up-snowflake-sso.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/artifacts.md
  website/static/img/docs/dbt-cloud/c3fe800-Screen_Shot_2019-02-08_at_6.53.29_PM.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/84427818-841b3680-abf3-11ea-8faf-693d4a39cffb.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/ae2045a-Screen_Shot_2019-04-25_at_6.05.12_PM.png
  website/static/img/docs/dbt-cloud/dbt-run-logs.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/edit-job-generate-artifacts.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/project-level-artifact-updated.png
Labels: content, size: medium

#2101 One FAQ entry not showing on the Sources page
  website/docs/docs/building-a-dbt-project/using-sources.md
Labels: content, size: x-small

#2084 Update metadata API retention limits
  website/docs/docs/dbt-cloud/dbt-cloud-api/metadata/metadata-overview.md
  website/docs/docs/dbt-cloud/release-notes/05-Sept-2002/metadata-api-data-retention-limits.md
Labels: content, size: small, metadata API, release note

#1954 Updating Metrics for 1.3 Changes
  website/docs/docs/building-a-dbt-project/metrics.md
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
Labels: content, size: large

#2099 Add Analysts Make the Best Analytics Engineers to the devblog
  website/blog/2022-09-28-analyst-to-ae.md
  website/blog/authors.yml
  website/static/img/blog/2022-09-28-analyst-to-ae/first_loop.png
  website/static/img/blog/2022-09-28-analyst-to-ae/multiple_loops.png
  website/static/img/blog/2022-09-28-analyst-to-ae/new_workflow.png
  website/static/img/blog/2022-09-28-analyst-to-ae/old_workflow.png
  website/static/img/blog/authors/brittany-krauth.png
Labels: size: medium, developer blog

#2087 nav updates
  website/docusaurus.config.js
  website/src/css/custom.css
Labels: size: medium

#2109 Editorial changes to python models document
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: medium

#2108 1.3 Metrics - Adding Callout For Ephemeral Models
  website/docs/docs/building-a-dbt-project/metrics.md
Labels: content, size: x-small

#2103 Update dbt-py model docs for v1.3.0rc1
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: large

#2100 Updates to the Docs left sidebar
  _redirects
  website/docs/docs/develop/about-the-cli.md
  website/docs/docs/develop/connection-profiles.md
  website/docs/docs/develop/dbt-cloud-features.md
  website/docs/docs/develop/docker-install.md
  website/docs/docs/develop/homebrew-install.md
  website/docs/docs/develop/installation-overview.md
  website/docs/docs/develop/pip-install.md
  website/docs/docs/develop/source-install.md
  website/docs/docs/introduction.md
  website/docs/docs/supported-data-platforms.md
  website/sidebars.js
Labels: content, size: large, docs-ia-refresh
