Repository dbt-labs/docs.getdbt.com, pull requests merged in 2022-06, with the labels that each got.

#1305 devhub group for blog articles, not all of dx
  .github/CODEOWNERS
Labels: size: x-small

#1399 Fix load_relation docs
  website/docs/reference/dbt-jinja-functions/adapter.md
Labels: content, size: x-small

#1463 Adds warehouse prop support for WHCode component
  website/snippets/tutorial-build-models-atop-other-models.md
  website/snippets/tutorial-initiate-project.md
  website/snippets/tutorial-sql-query.md
  website/src/components/whcode/index.js
Labels: size: x-small

#1511 Fix bad spacing in How we structure example code
  website/docs/guides/best-practices/how-we-structure/2-staging.md
Labels: content, size: x-small

#1487 New Developer Blog Contribution Flow
  .github/ISSUE_TEMPLATE/contribute-to-developer-blog.yml
  .github/ISSUE_TEMPLATE/direct-from-marketing.yml
  .github/ISSUE_TEMPLATE/promote-discussion-to-blog.yml
  contributing/developer-blog.md
Labels: size: medium

#1516 fix link to contribution guide
  .github/ISSUE_TEMPLATE/contribute-to-developer-blog.yml
Labels: size: x-small

#1519 fix broken non-breaking space character
  website/src/components/faqs/index.js
Labels: size: x-small

#1514 Fix the `Details` blocks on the snapshots doc page
  website/docs/docs/building-a-dbt-project/snapshots.md
Labels: content, size: x-small

#1513 couple tweaks to the new how-we-structure projects
  website/docs/guides/best-practices/how-we-structure/2-staging.md
  website/docs/guides/best-practices/how-we-structure/3-intermediate.md
  website/docs/guides/best-practices/how-we-structure/5-the-rest-of-the-project.md
Labels: content, size: x-small

#1520 Add link to Claire's original How we structure post
  website/docs/guides/best-practices/how-we-structure/1-guide-overview.md
Labels: content, size: x-small

#1524 Fix a bunch of links to Jinja reference
  website/blog/2020-07-01-how-to-create-near-real-time-models-with-just-dbt-sql.md
  website/blog/2021-09-11-sql-dateadd.md
  website/blog/2021-11-23-so-you-want-to-build-a-package.md
  website/blog/2021-12-05-how-to-build-a-mature-dbt-project-from-scratch.md
  website/docs/docs/building-a-dbt-project/building-models/using-variables.md
  website/docs/docs/building-a-dbt-project/documentation.md
  website/docs/docs/building-a-dbt-project/jinja-macros.md
  website/docs/docs/building-a-dbt-project/seeds.md
  website/docs/docs/building-a-dbt-project/using-sources.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-environment-variables.md
  website/docs/docs/faqs/create-dependencies.md
  website/docs/docs/faqs/dbt-specific-jinja.md
  website/docs/docs/faqs/which-jinja-docs.md
  website/docs/guides/legacy/building-packages.md
  website/docs/guides/legacy/creating-new-materializations.md
  website/docs/guides/legacy/debugging-errors.md
  website/docs/guides/migration/versions/upgrading-to-0-17-0.md
  website/docs/guides/migration/versions/upgrading-to-v1.1.md
  website/docs/reference/configs-and-properties.md
  website/docs/reference/dbt-jinja-functions/builtins.md
  website/docs/reference/resource-properties/external.md
  website/docs/reference/source-configs.md
Labels: content, size: x-small, developer blog

#1530 fix the data links
  website/docs/guides/getting-started/getting-set-up/setting-up-redshift.md
Labels: content, size: x-small

#1531 Update snowflake guide to not reference databricks
  website/docs/guides/getting-started/getting-set-up/setting-up-snowflake.md
Labels: content, size: x-small

#1518 Add docs for dbt-greenplum adapter
  website/docs/docs/available-adapters.md
  website/docs/reference/resource-configs/greenplum-configs.md
  website/docs/reference/warehouse-profiles/greenplum-profile.md
  website/sidebars.js
Labels: content, size: x-small

#1521 adding incremental append info jeff@firebolt.io
  website/docs/reference/resource-configs/firebolt-configs.md
Labels: content, size: small

#1529 Adds inline math equation for docs and dev blog
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: size: small

#1535 Fix typos in How we structure guide
  website/docs/guides/best-practices/how-we-structure/4-marts.md
  website/docs/guides/best-practices/how-we-structure/5-the-rest-of-the-project.md
Labels: content, size: x-small

#1507 Add MindsDB dbt adapter
  website/docs/docs/available-adapters.md
  website/docs/reference/resource-configs/mindsdb-configs.md
  website/docs/reference/warehouse-profiles/mindsdb-profile.md
  website/sidebars.js
Labels: content, size: x-small

#1533 Moving ClickHouse to Vendor Supported list
  website/docs/docs/available-adapters.md
  website/docs/reference/resource-configs/clickhouse-configs.md
  website/docs/reference/warehouse-profiles/clickhouse-profile.md
  website/sidebars.js
Labels: content, size: small

#1539 Azure DevOps connection for Enterprise tier only
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/authenticate-azure.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-azure-devops.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/setup-azure.md
  website/snippets/available-beta-banner.md
  website/snippets/available-enterprise-tier-only.md
Labels: content, size: x-small

#1538 Update package-management.md
  website/docs/docs/building-a-dbt-project/package-management.md
Labels: content

#1546 Rename website/docs/faqs/Project1/dbt-source-freshness.md to website/…
  website/docs/faqs/Project/dbt-source-freshness.md
Labels: content, size: x-small

#1543 Add banner on dbt docs site
  website/docusaurus.config.js
  website/src/theme/AnnouncementBar/index.js
  website/src/theme/AnnouncementBar/styles.module.css
Labels: size: medium

#1545 Support policy
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-choosing-a-dbt-version.md
  website/package-lock.json
  website/snippets/core-versions-table.md
Labels: content, size: x-large

#1536 link to the new How we structure our dbt projects guide
  website/blog/2022-05-17-stakeholder-friendly-model-names.md
Labels: size: x-small, developer blog

#1499 dbt-impala documentation
  website/docs/docs/available-adapters.md
  website/docs/reference/resource-configs/impala-configs.md
  website/docs/reference/warehouse-profiles/impala-profile.md
  website/sidebars.js
Labels: content, size: medium

#1552 disclaimer text
  website/docs/docs/core-versions.md
Labels: content, size: x-small

#1506 Add documentation for iomete adapter
  website/docs/docs/available-adapters.md
  website/docs/reference/warehouse-profiles/iomete-profile.md
  website/sidebars.js
Labels: content, size: medium

#1555 Oracle profile update - Added installation steps for Oracle Client libraries
  website/docs/reference/warehouse-profiles/oracle-profile.md
Labels: content, size: medium

#1549 updated-env-model
  website/docs/docs/dbt-cloud/dbt-cloud-api/metadata/schema/schema-metadata-model.mdx
  website/docs/docs/dbt-cloud/dbt-cloud-api/metadata/schema/schema-metadata-modelByEnv.mdx
  website/sidebars.js
  website/snippets/available-beta-banner-metadata.md
  website/snippets/available-beta-banner.md
Labels: content, size: medium

#1534 Fix migration guide redirects
  _redirects
  website/docs/guides/migration/versions/upgrading-to-v1.1.md
  website/docs/reference/dbt-jinja-functions/builtins.md
Labels: content, size: small

#1578 Fix various links and faqs
  website/docs/dbt-cli/install/from-source.md
  website/docs/dbt-cli/install/pip.md
  website/docs/docs/building-a-dbt-project/building-models.md
  website/docs/docs/building-a-dbt-project/documentation.md
  website/docs/docs/building-a-dbt-project/jinja-macros.md
  website/docs/docs/building-a-dbt-project/projects.md
  website/docs/docs/building-a-dbt-project/seeds.md
  website/docs/docs/building-a-dbt-project/snapshots.md
  website/docs/docs/building-a-dbt-project/tests.md
  website/docs/docs/building-a-dbt-project/using-sources.md
  website/docs/docs/faqs/example-projects.md
  website/docs/guides/best-practices/how-we-structure/5-the-rest-of-the-project.md
  website/docs/guides/getting-started/building-your-first-project/build-your-first-models.md
  website/docs/guides/getting-started/building-your-first-project/schedule-a-job.md
  website/docs/guides/getting-started/building-your-first-project/test-and-document-your-project.md
  website/docs/guides/getting-started/learning-more/getting-started-dbt-core.md
  website/docs/reference/configs-and-properties.md
  website/docs/reference/dbt-jinja-functions/dispatch.md
  website/docs/reference/resource-configs/full_refresh.md
  website/docs/reference/resource-configs/target_schema.md
  website/docs/reference/warehouse-profiles/bigquery-profile.md
  website/docs/terms/dml.md
  website/snippets/tutorial-add-tests-to-models.md
  website/snippets/tutorial-build-models-atop-other-models.md
  website/snippets/tutorial-change-way-model-materialized.md
  website/snippets/tutorial-delete-example-models.md
  website/src/pages/index.js
  website/src/pages/styles.js
Labels: content, size: medium

#1585 Clarify usage of secret env vars
  website/docs/reference/dbt-jinja-functions/env_var.md
Labels: content, size: x-small

#1591 Update running-models-downstream-of-source.md
  website/docs/faqs/Runs/running-models-downstream-of-source.md
Labels: content

#1594 Update run-downstream-of-seed.md
  website/docs/faqs/Runs/run-downstream-of-seed.md
Labels: content, size: x-small

#1605 Update change-billing.md
  website/docs/faqs/Accounts/change-billing.md
Labels: content

#1362 Making changes to ref new adapter scaffold
  website/docs/docs/contributing/building-a-new-adapter.md
Labels: content, size: small

#1580 Update the docs for dbt-impala
  website/docs/reference/resource-configs/impala-configs.md
  website/docs/reference/warehouse-profiles/impala-profile.md
Labels: content, size: x-small

#1588 Likely a typo
  website/docs/docs/faqs/configurable-model-path.md
Labels: content, size: x-small

#1576 Add example with the threads config
  website/docs/reference/warehouse-profiles/databricks-profile.md
Labels: content, size: x-small

#1613 Add SingleStore configurations
  website/docs/reference/resource-configs/singlestore-configs.md
  website/sidebars.js
Labels: content, size: medium

#1620 Add documentation about dbt-sqlite adapter
  website/docs/docs/available-adapters.md
  website/docs/reference/warehouse-profiles/sqlite-profile.md
  website/sidebars.js
Labels: content, size: medium

#1630 Update setup-azure.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/setup-azure.md
Labels: content, size: x-small

#1619 Initialize documentation for v1.2
  website/dbt-versions.js
  website/docs/guides/migration/versions/upgrading-to-v1.2.md
  website/docs/reference/dbt-jinja-functions/cross-database-macros.md
  website/sidebars.js
Labels: content, size: large

#1631 Adding BigQuery label length req
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: x-small

#1639 Fix L2 list indentation
  website/snippets/tutorial-change-way-model-materialized.md
Labels: size: small

#1637 Add onetrust cookie settings link to footer
  website/docusaurus.config.js
  website/src/css/custom.css
Labels: size: small

#1640 Update dry.md
  website/docs/terms/dry.md
Labels: content, size: medium

#1656 add redirect and fix links for getting help guide
  .github/pull_request_template.md
  _redirects
  website/docs/docs/dbt-cloud/cloud-dbt-cloud-support.md
  website/src/pages/index.js
Labels: content, size: small
