Repository dbt-labs/docs.getdbt.com, pull requests merged in 2022-04, with the labels that each got.

#1288 Add Spark `session` connection method
  website/docs/docs/guides/migration-guide/upgrading-to-v1.1.md
  website/docs/reference/warehouse-profiles/spark-profile.md
Labels: size: x-small, dbt-core v1.1.x, New dbt feature

#1299 Rotating blog CTA to April 19th's staging event
  website/blog/ctas.yml
  website/blog/metadata.yml
Labels: developer blog

#1294 Add When Backend Devs Spark Joy blog
  website/blog/2022-04-05-when-backend-devs-spark-joy.md
  website/blog/authors.yml
  website/static/img/blog/2022-04-05-when-backend-devs-spark-joy/slack_thread_screenshot.png
  website/static/img/blog/authors/kira-furuichi.png
Labels: content, developer blog

#1182 Clarify freshness changes in source aren't whether the data is new
  website/docs/reference/node-selection/methods.md
Labels: size: x-small

#1289 Update BigQuery timeout + retry configs for v1.1
  website/docs/docs/guides/migration-guide/upgrading-to-v1.1.md
  website/docs/reference/warehouse-profiles/bigquery-profile.md
Labels: content, size: x-small, dbt-core v1.1.x

#1327 Cache the selected database
  website/docs/reference/global-configs.md
Labels: dbt-core v1.1.x

#1324 Updates for v1.1 RC release
  website/docs/docs/guides/migration-guide/upgrading-to-v1.1.md
Labels: dbt-core v1.1.x

#1320 Create jinja print macro
  website/dbt-versions.js
  website/docs/reference/dbt-jinja-functions.md
  website/docs/reference/dbt-jinja-functions/print.md
  website/sidebars.js
Labels: dbt-core v1.1.x

#1319 Update global configs for v 1.1
  website/docs/reference/global-configs.md
Labels: dbt-core v1.1.x

#1038 Add documentation explaining keepalives_idle
  website/docs/reference/warehouse-profiles/postgres-profile.md
  website/docs/reference/warehouse-profiles/redshift-profile.md
Labels: size: small

#1333 Add `selected_resources` Jinja context to docs - v1.1
  website/dbt-versions.js
  website/docs/reference/dbt-jinja-functions.md
  website/docs/reference/dbt-jinja-functions/selected_resources.md
  website/sidebars.js
Labels: dbt-core v1.1.x

#1332 v1.1: support for inline source config (`enabled`)
  website/docs/docs/guides/migration-guide/upgrading-to-v1.1.md
  website/docs/reference/source-configs.md
  website/docs/reference/source-properties.md
Labels: dbt-core v1.1.x

#1080 Update description.md
  website/docs/reference/resource-properties/description.md
Labels: size: small

#1037 Sentence casing
  website/docs/docs/dbt-cloud/using-dbt-cloud/artifacts.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-dashboard-status-tiles.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-environment-variables.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-generating-documentation.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-metrics-layer.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-model-timing-tab.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-notifications.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-slack-notifications.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-snapshotting-source-freshness.md
Labels: size: small

#1301 Source Status Fresher Docs
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-enabling-continuous-integration-with-github.md
  website/docs/docs/guides/best-practices.md
  website/docs/docs/guides/understanding-state.md
  website/docs/reference/node-selection/methods.md
Labels: dbt-core v1.1.x

#1247 Add duo mobile mfa method to docs
  website/docs/reference/warehouse-profiles/snowflake-profile.md
Labels: size: small

#1297 Rearranging content for GS tutorials
  _redirects
  website/blog/2021-11-29-dbt-airflow-spiritual-alignment.md
  website/blog/2022-02-07-customer-360-view-census-playbook.md
  website/docs/docs/building-a-dbt-project/building-models.md
  website/docs/docs/building-a-dbt-project/projects.md
  website/docs/docs/building-a-dbt-project/tests.md
  website/docs/docs/guides/getting-help.md
  website/docs/faqs/create-dependencies.md
  website/docs/faqs/example-projects.md
  website/docs/learn/1-setting-up.md
  website/docs/learn/2a-create-a-project-dbt-cloud.md
  website/docs/learn/2b-create-a-project-dbt-cli.md
  website/docs/learn/3-build-your-first-models.md
  website/docs/learn/4-test-and-document-your-project.md
  website/docs/learn/load_data.sql
  website/docs/tutorial/1-setting-up.md
  website/docs/tutorial/1a-setting-up-bigquery.md
  website/docs/tutorial/1b-setting-up-snowflake.md
  website/docs/tutorial/1c-setting-up-databricks.md
  website/docs/tutorial/2a-create-a-project-dbt-cloud.md
  website/docs/tutorial/2b-create-a-project-dbt-cli.md
  website/docs/tutorial/3-build-your-first-models.md
  website/docs/tutorial/4-test-and-document-your-project.md
  website/docs/tutorial/5-deploy-your-project.md
  website/docs/tutorial/building-your-first-project.md
  website/docs/tutorial/building-your-first-project/build-your-first-models.md
  website/docs/tutorial/building-your-first-project/schedule-a-job.md
  website/docs/tutorial/building-your-first-project/test-and-document-your-project.md
  website/docs/tutorial/getting-set-up.md
  website/docs/tutorial/getting-set-up/setting-up-bigquery.md
  website/docs/tutorial/getting-set-up/setting-up-databricks.md
  website/docs/tutorial/getting-set-up/setting-up-redshift.md
  website/docs/tutorial/getting-set-up/setting-up-snowflake.md
  website/docs/tutorial/getting-started.md
  website/docs/tutorial/learning-more.md
  website/docs/tutorial/learning-more/getting-started-dbt-core.md
  website/docs/tutorial/learning-more/refactoring-legacy-sql.md
  website/docs/tutorial/learning-more/using-jinja.md
  website/docs/tutorial/set-up-data-platform.md
  website/docusaurus.config.js
  website/sidebars.js
  website/snippets/tutorial-add-tests-to-models.md
  website/snippets/tutorial-build-models-atop-other-models.md
  website/snippets/tutorial-change-way-model-materialized.md
  website/snippets/tutorial-create-new-dbt-cloud-account.md
  website/snippets/tutorial-delete-example-models.md
  website/snippets/tutorial-document-your-models.md
  website/snippets/tutorial-managed-repo-and-initiate-project.md
  website/snippets/tutorial-next-steps-1st-model.md
  website/snippets/tutorial-next-steps-setting-up.md
  website/snippets/tutorial-next-steps-tests.md
  website/snippets/tutorial-sql-query.md
  website/src/components/snippet/index.js
  website/src/components/whcode/index.js
  website/src/pages/index.js
  website/src/pages/styles.js
  website/src/theme/MDXComponents/index.js
  website/static/img/hamburger-icon.png
  website/static/img/kebob-menu.png
Labels: getting started tutorial
