Repository dbt-labs/docs.getdbt.com, pull requests merged in 2022-10, with the labels that each got.

#2117 table dark mode color change
  website/src/css/custom.css
Labels: size: x-small

#2104 v1.3 RC omnibus
  website/docs/docs/building-a-dbt-project/exposures.md
  website/docs/docs/building-a-dbt-project/metrics.md
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
  website/docs/reference/artifacts/run-results-json.md
  website/docs/reference/commands/run.md
  website/docs/reference/dbt-jinja-functions/env_var.md
  website/docs/reference/dbt-jinja-functions/flags.md
  website/docs/reference/exposure-properties.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/resource-configs/enabled.md
  website/docs/reference/resource-configs/full_refresh.md
  website/docs/reference/resource-properties/config.md
Labels: content, size: large

#1248 Update cloud-enabling-continuous-integration-with-github.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-enabling-continuous-integration-with-github.md
Labels: content, size: small

#1871 Add limitations of PR dropping
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-enabling-continuous-integration-with-github.md
Labels: content, size: small

#2119 Changing Version for Metrics Package
  website/docs/docs/building-a-dbt-project/metrics.md
Labels: content, size: x-small

#2125 Add and render post blurbs
  website/functions/get-discourse-topics.js
  website/src/components/discourse/index.js
  website/src/components/discourse/styles.module.css
Labels: size: small

#2132 More metric updates
  website/docs/docs/building-a-dbt-project/metrics.md
Labels: content, size: x-small

#2137 Update supported-data-platforms.md
  website/docs/docs/supported-data-platforms.md
Labels: content, size: x-small

#2114 Update hive-profile.md
  website/docs/reference/warehouse-profiles/hive-profile.md
Labels: content, size: small

#2029 docs update for dbt-sqlserver 1.2.0
  website/docs/reference/resource-configs/mssql-configs.md
  website/docs/reference/warehouse-profiles/azuresynapse-profile.md
  website/docs/reference/warehouse-profiles/mssql-profile.md
Labels: content, size: medium

#2106 Update title of release note for metadata
  website/docs/docs/dbt-cloud/release-notes/05-Sept-2022/liststeps-endpoint-deprecation.md
  website/docs/docs/dbt-cloud/release-notes/05-Sept-2022/metadata-api-data-retention-limits.md
Labels: content, size: x-small

#2136 Update cloud-enabling-continuous-integration-with-github.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-enabling-continuous-integration-with-github.md
Labels: content, size: small

#2146 `profiles.yml` within the current working directory
  website/docs/dbt-cli/configure-your-profile.md
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
Labels: content, size: small

#2140 Changing 302 to 301 for new IA redirects
  _redirects
Labels: size: medium

#2149 Update mssql-profile.md
  website/docs/reference/warehouse-profiles/mssql-profile.md
Labels: content, size: x-small

#2161 Updating the metrics doc based on customer feedback
  website/docs/docs/building-a-dbt-project/metrics.md
Labels: content, size: small

#2164 minor updates for python models
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: small

#2165 Minor fixes
  _redirects
  website/docs/docs/collaborate/manage-access/audit-log.md
  website/docs/docs/deploy/cloud-ci-job.md
  website/docs/docs/deploy/deployment-overview.md
  website/sidebars.js
Labels: content, size: small

#2124 Rework long discussions
  _redirects
  website/docs/community/community-docs/long-lived-discussions-guidelines.md
  website/docs/community/community-docs/slack-rules-of-the-road.md
  website/docs/community/contributing/contributing-online-community.md
  website/docs/docs/dbt-cloud/cloud-ide/ide-beta.md
  website/docs/docs/dbt-support.md
  website/docs/faqs/Snapshots/snapshot-target-schema.md
  website/docs/guides/legacy/getting-help.md
  website/docs/guides/legacy/navigating-the-docs.md
  website/functions/get-discourse-topics.js
  website/sidebars.js
  website/src/components/discourse/index.js
  website/src/components/discourse/styles.module.css
  website/src/pages/forum.js
Labels: content, size: large

#2175 navbar titles now have a hover and fixed the padding issue
  website/src/css/custom.css
Labels: size: medium

#2179 Update the leftbar under the Build dbt projects heading
  website/sidebars.js
Labels: size: small

#2172 Moving Getting Started guide and adding redirects
  _redirects
  website/docs/docs/build/projects.md
  website/docs/docs/build/sql-models.md
  website/docs/docs/build/tests.md
  website/docs/docs/collaborate/documentation.md
  website/docs/docs/dbt-cloud/cloud-ide/ide-beta.md
  website/docs/docs/develop/getting-started/add-a-seed.md
  website/docs/docs/develop/getting-started/building-your-first-project.md
  website/docs/docs/develop/getting-started/building-your-first-project/build-your-first-models.md
  website/docs/docs/develop/getting-started/building-your-first-project/schedule-a-job.md
  website/docs/docs/develop/getting-started/building-your-first-project/test-and-document-your-project.md
  website/docs/docs/develop/getting-started/create-a-project.md
  website/docs/docs/develop/getting-started/getting-set-up.md
  website/docs/docs/develop/getting-started/getting-set-up/setting-up-bigquery.md
  website/docs/docs/develop/getting-started/getting-set-up/setting-up-databricks.md
  website/docs/docs/develop/getting-started/getting-set-up/setting-up-redshift.md
  website/docs/docs/develop/getting-started/getting-set-up/setting-up-snowflake.md
  website/docs/docs/develop/getting-started/getting-started-dbt-core.md
  website/docs/docs/develop/getting-started/getting-started.md
  website/docs/docs/develop/getting-started/learning-more/refactoring-legacy-sql.md
  website/docs/docs/develop/getting-started/learning-more/using-jinja.md
  website/docs/faqs/Models/create-dependencies.md
  website/docs/faqs/Project/example-projects.md
  website/docs/guides/getting-started/getting-set-up.md
  website/docs/guides/getting-started/learning-more.md
  website/docs/guides/legacy/getting-help.md
  website/docs/reference/dbt-jinja-functions/run_query.md
  website/docs/terms/cte.md
  website/docs/terms/dag.md
  website/docusaurus.config.js
  website/sidebars.js
Labels: content, size: medium

#2181 Update setup-azure.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/setup-azure.md
Labels: content, size: x-small

#2183 Update connecting-azure-devops.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-azure-devops.md
Labels: content, size: x-small

#2184 changing image
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-enabling-continuous-integration-with-github.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-environment-variables.md
  website/package-lock.json
  website/package.json
  website/static/img/docs/dbt-cloud/using-dbt-cloud/Enabling-CI/ADO CI Check.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/Enabling-CI/ADO CI.png
Labels: content, size: large

#2182 Update authenticate-azure.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/authenticate-azure.md
Labels: content, size: x-small

#2185 Sidebar arrows rightside
  website/src/css/custom.css
Labels: size: small

#2116 Update impala-profile.md for default values
  website/docs/reference/warehouse-profiles/azuresynapse-profile.md
  website/docs/reference/warehouse-setups/azuresynapse-setup.md
  website/docs/reference/warehouse-setups/impala-setup.md
Labels: content, size: medium

#2069 Community Docs
  .gitignore
  .vscode/settings.json
  _redirects
  website/docs/community/contribute.md
  website/docs/community/contributing/contributing-coding.md
  website/docs/community/contributing/contributing-online-community.md
  website/docs/community/contributing/contributing-realtime-events.md
  website/docs/community/contributing/contributing-writing.md
  website/docs/community/join.md
  website/docs/community/resources/contributor-license-agreements.md
  website/docs/community/resources/long-lived-discussions-guidelines.md
  website/docs/community/resources/maintaining-a-channel.md
  website/docs/community/resources/oss-expectations.md
  website/docs/community/resources/oss-projects.md
  website/docs/community/resources/slack-rules-of-the-road.md
  website/docs/docs/contributing/long-long-conversations-discussions.md
  website/docs/docs/dbt-cloud/cloud-ide/ide-beta.md
  website/docs/docs/dbt-support.md
  website/docs/faqs/Snapshots/snapshot-target-schema.md
  website/docs/guides/advanced/adapter-development/1-what-are-adapters.md
  website/docs/guides/advanced/adapter-development/2-prerequisites-for-a-new-adapter.md
  website/docs/guides/advanced/adapter-development/3-building-a-new-adapter.md
  website/docs/guides/advanced/adapter-development/4-testing-a-new-adapter.md
  website/docs/guides/advanced/adapter-development/5-documenting-a-new-adapter.md
  website/docs/guides/advanced/adapter-development/6-promoting-a-new-adapter.md
  website/docs/guides/advanced/adapter-development/7-verifying-a-new-adapter.md
  website/docs/guides/legacy/getting-help.md
  website/docs/guides/legacy/navigating-the-docs.md
  website/docusaurus.config.js
  website/functions/get-discourse-topics.js
  website/sidebars.js
  website/src/components/card/index.js
  website/src/components/card/styles.module.css
  website/src/components/collapsible/index.js
  website/src/components/discourse/index.js
  website/src/components/discourse/styles.module.css
  website/src/css/custom.css
  website/src/pages/community/events.js
  website/src/pages/community/forum.js
  website/src/pages/forum.js
  website/src/theme/MDXComponents/index.js
  website/static/img/icons/calendar.png
  website/static/img/icons/discussion.png
  website/static/img/icons/folder.png
  website/static/img/icons/question-mark.svg
  website/static/img/icons/slack.png
  website/static/img/icons/star.png
  website/static/img/icons/white/calendar_white.png
  website/static/img/icons/white/discussion_white.png
  website/static/img/icons/white/folder_white.png
  website/static/img/icons/white/question-mark.svg
  website/static/img/icons/white/slack_white.png
  website/static/img/icons/white/star_white.png
  website/static/img/icons/white/writing_white.png
  website/static/img/icons/writing.png
Labels: content, size: large

#2157 Update hive-setup.md for incorrect impala ref.
  website/docs/reference/warehouse-setups/hive-setup.md
Labels: content, size: x-small

#2168 Overview page for Run your dbt projects
  website/docs/docs/develop/run-your-dbt-projects.md
  website/sidebars.js
Labels: content, size: small, docs-ia-refresh

#2191 Move viewpoint and rename site
  _redirects
  website/docs/community/resources/viewpoint.md
  website/docusaurus.config.js
  website/sidebars.js
Labels: content, size: small

#2192 Migrate pages from www to devhub
  website/docs/community/contributing/contributing-realtime-events.md
  website/docs/community/join.md
  website/docs/community/resources/code-of-conduct.md
  website/docs/community/resources/maintaining-a-channel.md
  website/docs/community/resources/slack-rules-of-the-road.md
  website/docs/community/resources/speaking-at-a-meetup.md
  website/sidebars.js
Labels: content, size: large

#2189 Removing vestigial content and adding example
  website/docs/docs/building-a-dbt-project/metrics.md
Labels: content, size: x-small

#2196 Release dbt Core v1.3
  website/dbt-versions.js
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
  website/docs/guides/migration/versions/06-upgrading-to-v1.2.md
  website/docs/reference/artifacts/manifest-json.md
Labels: content, size: small, upcoming release, dbt-core v1.3

#2167 Fix outdated links to Azure git docs
  website/docs/docs/collaborate/git/connect-azure-devops.md
Labels: content, size: x-small

#2202 update-summary
  website/blog/2022-10-12-how-to-design-and-structure-metrics.md
Labels: size: medium, developer blog

#2193 Cloud and Azure release note
  website/docs/docs/dbt-cloud/release-notes/04-Oct-2022/cloud-integration-azure.md
Labels: content, size: small

#2204 migrate remaining community resources from www site
  website/docs/community/resources/maintaining-a-channel.md
  website/docs/community/resources/organizing-inclusive-events.md
  website/docs/community/resources/vendor-guidelines.md
  website/sidebars.js
Labels: content, size: medium

#2205 Adding link to blog to metrics
  website/docs/docs/building-a-dbt-project/metrics.md
Labels: content, size: x-small

#2163 Refresh/new homepage
  website/docs/community/contribute.md
  website/docs/community/join.md
  website/package-lock.json
  website/package.json
  website/src/components/blogPostCard/index.js
  website/src/components/blogPostCard/styles.module.css
  website/src/components/callout/index.js
  website/src/components/callout/styles.module.css
  website/src/components/card/index.js
  website/src/components/card/styles.module.css
  website/src/components/hero/index.js
  website/src/components/hero/styles.module.css
  website/src/components/postCarousel/index.js
  website/src/css/custom.css
  website/src/pages/index.js
  website/src/theme/MDXComponents/index.js
  website/static/img/hero-graphic-2x.png
  website/static/img/hero-graphic.png
  website/static/img/icons/book.svg
  website/static/img/icons/calendar.png
  website/static/img/icons/calendar.svg
  website/static/img/icons/computer.svg
  website/static/img/icons/discussion.png
  website/static/img/icons/discussions.svg
  website/static/img/icons/docs.svg
  website/static/img/icons/folder.png
  website/static/img/icons/folder.svg
  website/static/img/icons/guides.svg
  website/static/img/icons/packages.svg
  website/static/img/icons/pencil-paper.svg
  website/static/img/icons/rocket.svg
  website/static/img/icons/slack.png
  website/static/img/icons/slack.svg
  website/static/img/icons/smiley-face.svg
  website/static/img/icons/star.png
  website/static/img/icons/star.svg
  website/static/img/icons/white/book.svg
  website/static/img/icons/white/calendar.svg
  website/static/img/icons/white/calendar_white.png
  website/static/img/icons/white/computer.svg
  website/static/img/icons/white/discussion_white.png
  website/static/img/icons/white/discussions.svg
  website/static/img/icons/white/docs.svg
  website/static/img/icons/white/folder.svg
  website/static/img/icons/white/folder_white.png
  website/static/img/icons/white/guides.svg
  website/static/img/icons/white/packages.svg
  website/static/img/icons/white/pencil-paper.svg
  website/static/img/icons/white/rocket.svg
  website/static/img/icons/white/slack.svg
  website/static/img/icons/white/slack_white.png
  website/static/img/icons/white/smiley-face.svg
  website/static/img/icons/white/star.svg
  website/static/img/icons/white/star_white.png
  website/static/img/icons/white/writing_white.png
  website/static/img/icons/writing.png
  website/static/img/structure-dbt-projects.png
Labels: content, size: large

#2190 Overview page for About dbt projects
  website/docs/docs/build/projects.md
  website/docs/faqs/Project/project-name.md
Labels: content, size: medium

#2201 change favicon to not conflict with autogenerated docs
  website/docusaurus.config.js
  website/static/img/favicon.ico
  website/static/img/favicon.png
  website/static/img/favicon.svg
Labels: size: small

#2208 Changing the date column name
  website/blog/2022-10-12-how-to-design-and-structure-metrics.md
Labels: size: small, developer blog

#2174 Add product lifecycle page and regions page
  website/docs/docs/collaborate/manage-access/set-up-snowflake-oauth.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-your-database.md
  website/docs/docs/dbt-versions/product-lifecycles.md
  website/docs/docs/deploy/regions.md
  website/sidebars.js
Labels: content, size: medium

#2210 tweak copy to maintain equal lengh of cards
  website/docs/community/join.md
Labels: content, size: x-small

#2211 fix wording in docs
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/setup-azure.md
Labels: content, size: x-small

#2213 manually trigger preference center
  website/docusaurus.config.js
  website/src/css/custom.css
  website/static/js/onetrust.js
Labels: size: small

#2187 IDE content changes for IA launch
  _redirects
  website/docs/docs/collaborate/git-version-control.md
  website/docs/docs/collaborate/git/version-control-basics.md
  website/docs/docs/dbt-cloud/cloud-ide/the-ide-git-button.md
  website/docs/docs/get-started/dbt-cloud-features.md
  website/docs/docs/get-started/dbt-cloud-tips.md
  website/docs/docs/get-started/develop-in-the-cloud.md
  website/docs/docs/get-started/getting-started/getting-set-up.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/cloud-ide/create-new.png
  website/static/img/docs/dbt-cloud/cloud-ide/credentials.png
  website/static/img/docs/dbt-cloud/cloud-ide/new-environment.png
Labels: content, size: large

#2215 Change link on slack icon in footer
  website/docusaurus.config.js
Labels: size: x-small

#2214 Update dbt-support.md
  website/docs/docs/dbt-support.md
Labels: content, size: small

#2212 Fixing spacing for the metrics blog
  website/blog/2022-10-12-how-to-design-and-structure-metrics.md
Labels: size: medium, developer blog

#2216 Fix 2 cards
  website/docs/docs/get-started/getting-started/overview.md
  website/src/css/custom.css
Labels: content, size: small

#2195 Create help feed embeds for a handful of pages
  website/docs/docs/build/incremental-models.md
  website/docs/docs/build/jinja-macros.md
  website/docs/docs/build/materializations.md
  website/docs/docs/build/metrics.md
  website/docs/docs/build/project-variables.md
  website/docs/docs/build/seeds.md
  website/docs/docs/build/snapshots.md
  website/docs/docs/build/tests.md
  website/docs/reference/node-selection/syntax.md
  website/snippets/discourse-help-feed-header.md
  website/src/components/discourse/index.js
Labels: content, size: small

#2209 Add Dremio to supported platforms
  website/docs/docs/supported-data-platforms.md
Labels: content, size: x-small

#2221 Remove rogue console log
  website/src/components/blogPostCard/index.js
Labels: size: x-small

#2220 Update sidebar label
  website/docs/docs/get-started/getting-started/getting-set-up.md
Labels: content, size: x-small

#2224 Make sure API docs can still be found
  website/docs/docs/dbt-cloud-apis/admin-cloud-api.md
Labels: content, size: x-small

#2222 Move two pages
  _redirects
  website/docs/docs/collaborate/git/managed-repository.md
  website/docs/docs/get-started/connect-your-database.md
  website/sidebars.js
Labels: content, size: small

#2217 Clean up duplicate content and stale pages
  _redirects
  website/docs/docs/about/license.md
  website/docs/docs/building-a-dbt-project/archival.md
  website/docs/docs/collaborate/manage-access/sso-overview.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud.md
  website/docs/docs/dbt-cloud/cloud-quickstart.md
  website/docs/docs/dbt-cloud/dbt-cloud-enterprise.md
  website/docs/docs/dbt-cloud/january-2020-pricing-updates.md
  website/docs/docs/dbt-cloud/using-dbt-cloud.md
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-slack-notifications.md
  website/docs/docs/running-a-dbt-project/profile.md
  website/docs/guides/orchestration/airflow-and-dbt-cloud/2-setting-up-airflow-and-dbt-cloud.md
  website/sidebars.js
Labels: content, size: medium, docs-ia-refresh

#2207 Updating the What is dbt? page
  website/docs/docs/build/tests.md
  website/docs/docs/introduction.md
Labels: content, size: medium

#2206 Matt's Python edits and moves for IA restructure
  _redirects
  website/dbt-versions.js
  website/docs/docs/build/materializations.md
  website/docs/docs/build/models.md
  website/docs/docs/build/python-models.md
  website/docs/docs/build/sql-models.md
  website/sidebars.js
Labels: content, size: large

#2226 Joel docs broken links community and api docs
  website/docs/community/contributing/contributing-coding.md
  website/docs/community/contributing/contributing-online-community.md
  website/docs/community/resources/code-of-conduct.md
  website/docs/community/resources/forum-guidelines.md
  website/docs/docs/dbt-cloud-apis/apis-overview.md
  website/docs/docs/dbt-cloud-apis/schema-metadata-metric.mdx
  website/docs/docs/dbt-cloud-apis/service-tokens.md
Labels: content, size: small

#2225 Overview page on deployments
  _redirects
  website/docs/docs/build/custom-schemas.md
  website/docs/docs/collaborate/environments.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/get-started/getting-started-dbt-core.md
  website/docs/docs/running-a-dbt-project/running-dbt-in-production.md
Labels: content, size: medium, docs-ia-refresh

#2228 Fixing bad links in docs
  website/blog/2019-05-01-how-we-structure-dbt-projects.md
  website/blog/2021-11-22-dbt-labs-pr-template.md
  website/blog/2021-11-22-primary-keys.md
  website/blog/2021-11-29-dbt-airflow-spiritual-alignment.md
  website/blog/2021-12-05-how-to-build-a-mature-dbt-project-from-scratch.md
  website/blog/2022-04-19-complex-deduplication.md
  website/blog/2022-09-28-analyst-to-ae.md
  website/docs/docs/build/custom-aliases.md
  website/docs/docs/build/custom-databases.md
  website/docs/docs/build/custom-schemas.md
  website/docs/docs/build/jinja-macros.md
  website/docs/docs/build/materializations.md
  website/docs/docs/build/sources.md
  website/docs/docs/build/sql-models.md
  website/docs/docs/build/tests.md
  website/docs/docs/collaborate/documentation.md
  website/docs/docs/collaborate/git/connect-gitlab.md
  website/docs/docs/get-started/connection-profiles.md
  website/docs/docs/get-started/dbt-cloud-tips.md
  website/docs/faqs/Models/specifying-column-types.md
  website/docs/faqs/Models/unique-model-names.md
  website/docs/faqs/Project/which-schema.md
  website/docs/faqs/Tests/available-tests.md
  website/docs/guides/best-practices/how-we-structure/3-intermediate.md
  website/docs/guides/legacy/best-practices.md
  website/docs/guides/legacy/building-packages.md
  website/docs/guides/legacy/debugging-schema-names.md
  website/docs/guides/migration/versions/08-upgrading-to-v1.0.md
  website/docs/guides/migration/versions/10-upgrading-to-v0.20.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-14-0.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-16-0.md
  website/docs/reference/commands/test.md
  website/docs/reference/configs-and-properties.md
  website/docs/reference/dbt-jinja-functions/schemas.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/project-configs/test-paths.md
  website/docs/reference/resource-configs/schema.md
  website/docs/reference/resource-configs/target_schema.md
  website/docs/reference/resource-properties/tests.md
  website/docs/reference/test-configs.md
  website/docs/reference/warehouse-setups/snowflake-setup.md
  website/docs/terms/primary-key.md
  website/docs/terms/surrogate-key.md
  website/snippets/tutorial-add-tests-to-models.md
Labels: content, size: medium, developer blog

#2219 Matts moves
  _redirects
  website/docs/docs/collaborate/cloud-build-and-view-your-docs.md
  website/docs/docs/collaborate/manage-access/about-access.md
  website/docs/docs/dbt-versions/upgrade-core-in-cloud.md
  website/docs/docs/get-started/about-the-cli.md
  website/sidebars.js
Labels: content, size: large

#2231 Matts links 4
  website/docs/docs/build/custom-schemas.md
  website/docs/docs/build/environment-variables.md
  website/docs/docs/build/jinja-macros.md
  website/docs/docs/build/materializations.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-choosing-a-dbt-version.md
  website/docs/docs/dbt-cloud/cloud-ide/ide-beta.md
  website/docs/docs/dbt-cloud/cloud-ide/viewing-docs-in-the-ide.md
  website/docs/docs/dbt-cloud/cloud-overview.md
  website/docs/docs/deploy/cloud-ci-job.md
  website/docs/docs/deploy/dashboard-status-tiles.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/deploy/source-freshness.md
  website/docs/docs/get-started/connect-your-database.md
  website/docs/docs/get-started/docker-install.md
  website/docs/docs/get-started/getting-started-dbt-core.md
  website/docs/docs/get-started/homebrew-install.md
  website/docs/docs/get-started/learning-more/using-jinja.md
  website/docs/docs/get-started/pip-install.md
Labels: content, size: medium

#2227 Correcting broken links
  website/docs/docs/build/custom-schemas.md
  website/docs/docs/build/environment-variables.md
  website/docs/docs/build/jinja-macros.md
  website/docs/docs/build/materializations.md
Labels: content, size: small

#2232 Fix links
  website/docs/docs/collaborate/git/import-a-project-by-git-url.md
  website/docs/docs/collaborate/git/setup-azure.md
  website/docs/docs/collaborate/manage-access/cloud-seats-and-users.md
Labels: content, size: medium

#2233 Fix links 2
  website/docs/docs/collaborate/manage-access/cloud-seats-and-users.md
  website/docs/docs/collaborate/manage-access/set-up-bigquery-oauth.md
  website/docs/docs/collaborate/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: small

#2234 fixing links
  website/docs/docs/get-started/connection-profiles.md
  website/docs/docs/get-started/getting-started/getting-set-up/setting-up-snowflake.md
  website/docs/docs/supported-data-platforms.md
  website/docs/faqs/Environments/profile-name.md
  website/docs/faqs/Environments/target-names.md
  website/docs/guides/legacy/best-practices.md
Labels: content, size: small

#2236 Fix links from npm output
  website/docs/reference/global-configs.md
  website/docs/reference/project-configs/version.md
  website/docs/reference/resource-configs/grants.md
  website/docs/reference/resource-configs/schema.md
Labels: content, size: small

#2237 Fixing more links
  contributing/adding-page-components.md
  website/blog/2021-09-15-september-21-product-email.md
  website/blog/2021-10-15-october-21-product-update-email.md
  website/blog/2021-12-05-how-to-build-a-mature-dbt-project-from-scratch.md
  website/blog/2022-07-27-understanding-the-components-of-the-dbt-semantic-layer.md
  website/blog/2022-08-31-august-product-update.md
  website/blog/ctas.yml
  website/docs/docs/build/models.md
  website/docs/docs/build/projects.md
  website/docs/docs/build/sql-models.md
  website/docs/docs/collaborate/manage-access/licenses-and-groups.md
  website/docs/docs/collaborate/manage-access/set-up-sso-azure-active-directory.md
  website/docs/docs/collaborate/manage-access/set-up-sso-google-workspace.md
  website/docs/docs/collaborate/manage-access/set-up-sso-okta.md
  website/docs/docs/dbt-cloud-apis/schema-metadata-exposure.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-exposures.mdx
  website/docs/docs/dbt-versions/upgrade-core-in-cloud.md
  website/docs/docs/get-started/dbt-cloud-tips.md
  website/docs/docs/get-started/develop-in-the-cloud.md
  website/docs/guides/best-practices/how-we-structure/4-marts.md
  website/docs/guides/orchestration/airflow-and-dbt-cloud/1-airflow-and-dbt-cloud.md
  website/docs/terms/dag.md
  website/docs/terms/data-lineage.md
Labels: content, size: medium, developer blog

#2238 add leading slash to img path
  website/docusaurus.config.js
Labels: size: x-small

#2241 Fix nesting of sidebar for Adapter guides
  website/sidebars.js
Labels: size: small

#2239 Added <br /> to adjust supported inputs table
  website/docs/docs/build/metrics.md
Labels: content, size: x-small

#2242 /docs pages links fixes
  website/docs/docs/dbt-versions/release-notes/14-dbt-cloud-changelog-2021.md
  website/docs/docs/deploy/dashboard-status-tiles.md
  website/docs/docs/deploy/deployment-overview.md
Labels: content, size: small

#2203 Update to the Dremio Profile page
  website/docs/reference/warehouse-setups/dremio-setup.md
Labels: content, size: medium

#2247 Add Synapse to verified adapter section
  website/docs/docs/supported-data-platforms.md
Labels: size: small

#2249 Adding some global variables for the hackathon
  website/dbt-global-variables.js
Labels: size: small

#2256 Update dbt-global-variables.js
  website/dbt-global-variables.js
Labels: size: x-small

#2255 Update Python model docs for v1.3 release
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
Labels: content, size: x-small

#2245 dbtignore and migration note
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
  website/docs/reference/dbtignore.md
  website/sidebars.js
Labels: content, size: small

#2266 Update metrics.md
  website/docs/docs/build/metrics.md
Labels: content, size: x-small

#2253 replace old ide image with new one
  website/docs/docs/collaborate/git/pr-template.md
  website/docs/docs/get-started/getting-started/building-your-first-project/build-your-first-models.md
Labels: content, size: small

#2148 🚨Do not merge until Oct 18 launch - dbt Semantic Layer docs
  _redirects
  website/docs/docs/build/custom-schemas.md
  website/docs/docs/build/jinja-macros.md
  website/docs/docs/build/sql-models.md
  website/docs/docs/collaborate/cloud-build-and-view-your-docs.md
  website/docs/docs/collaborate/git/connect-github.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-choosing-a-dbt-version.md
  website/docs/docs/dbt-versions/core-versions.md
  website/docs/docs/dbt-versions/upgrade-core-in-cloud.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/get-started/dbt-cloud-features.md
  website/docs/docs/get-started/dbt-cloud-tips.md
  website/docs/docs/get-started/learning-more/refactoring-legacy-sql.md
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/docs/docs/use-dbt-semantic-layer/dbt-semantic-layer.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-semantic-layer.md
  website/docs/docs/use-dbt-semantic-layer/set-dbt-semantic-layer.md
  website/sidebars.js
  website/snippets/sl-prerequisites.md
  website/static/img/docs/dbt-cloud/semantic-layer/configure_sl.png
  website/static/img/docs/dbt-cloud/semantic-layer/metrics_package.png
  website/static/img/docs/dbt-cloud/semantic-layer/metrics_red_nodes.png
  website/static/img/docs/dbt-cloud/semantic-layer/sl_architecture.png
Labels: content, size: large, semantic-layer-pp

#2274 Fixes to the metadata in the Dremio Setup file
  website/docs/reference/warehouse-setups/dremio-setup.md
Labels: content, size: x-small

#2278 add redirect
  _redirects
  website/src/components/discourse/index.js
Labels: size: x-small

#2254 added SSL parameter callout
  package-lock.json
  website/docs/docs/get-started/connect-your-database.md
Labels: content, size: x-small

#2281 DevBlog - Stronger together: Python, dataframes, and SQL
  website/blog/2022-10-19-polyglot-dbt-python-dataframes-and-sql.md
Labels: size: large, developer blog

#2286 Added sign up links to enhance experience
  website/docs/docs/get-started/getting-started/getting-set-up/setting-up-bigquery.md
Labels: content, size: x-small

#2133 change promo text and link in notification bar
  website/docusaurus.config.js
Labels: size: x-small

#2292 Update typo in BigQuery configs
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: x-small

#2296 Update set-up-sso-saml-2.0.md
  website/docs/docs/collaborate/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: x-small

#2257 Fix docker run command in docs
  website/docs/docs/get-started/docker-install.md
Labels: content, size: x-small

#2302 Fix typo in data platform name
  website/docs/docs/supported-data-platforms.md
Labels: content, size: x-small

#2306 Clarified language for windows users
  website/docs/faqs/Core/install-pip-best-practices.md
Labels: content, size: x-small

#2307 Remove duplicate ToS in footer
  website/docusaurus.config.js
Labels: size: x-small

#2303 Add data lake glossary entry
  website/docs/terms/data-lake.md
Labels: content, size: medium

#2301 Update set-up-sso-saml-2.0.md
  website/docs/docs/collaborate/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: medium

#2312 Add redirect
  _redirects
Labels: size: x-small

#2304 Throw error for broken Mark Down links
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
  website/docusaurus.config.js
  website/src/pages/styles.js
Labels: content, size: small

#2315 Fix broken links in blogs
  website/blog/2019-05-01-how-we-structure-dbt-projects.md
  website/blog/2021-02-05-dbt-project-checklist.md
  website/blog/2021-09-11-sql-dateadd.md
  website/blog/2021-10-15-october-21-product-update-email.md
  website/blog/2021-11-23-so-you-want-to-build-a-package.md
  website/blog/2021-11-29-dbt-airflow-spiritual-alignment.md
  website/blog/2021-11-29-the-missing-role-of-design-in-analytics.md
  website/blog/2022-05-03-making-dbt-cloud-api-calls-using-dbt-cloud-cli.md
Labels: size: medium, developer blog

#2309 adding metrics loom on metrics page
  website/docs/docs/build/metrics.md
Labels: content, size: x-small

#2288 fast follow for SL docs
  website/docs/docs/use-dbt-semantic-layer/dbt-semantic-layer.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-semantic-layer.md
  website/docs/docs/use-dbt-semantic-layer/set-dbt-semantic-layer.md
  website/snippets/sl-public-preview-banner.md
  website/snippets/sl-set-up-steps.md
  website/static/img/docs/dbt-cloud/semantic-layer/sl-architecture-flow.png
Labels: content, size: medium

#2321 fix typo
  website/docs/reference/commands/clean.md
Labels: content, size: x-small

#2324 add --select flag in dbt ide tips
  website/docs/docs/get-started/dbt-cloud-tips.md
Labels: content, size: x-small

#2319 add dbt-compile tip for docs only job
  website/docs/docs/collaborate/cloud-build-and-view-your-docs.md
Labels: content, size: x-small

#2316 Fixes broken links in the guides
  website/docs/guides/advanced/adapter-development/3-building-a-new-adapter.md
  website/docs/guides/legacy/debugging-errors.md
  website/docs/guides/legacy/debugging-schema-names.md
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
Labels: content, size: small

#2330 reword public preview banner to clarify hosted
  website/snippets/sl-public-preview-banner.md
Labels: size: x-small

#2332 fixed broken links
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
Labels: content, size: small

#2299 shorten survey CTA copy
  website/docusaurus.config.js
Labels: size: x-small

#2334 Fixing broken links in the References
  website/docs/reference/dbt-jinja-functions/dispatch.md
  website/docs/reference/dbt-jinja-functions/source.md
  website/docs/reference/events-logging.md
  website/docs/reference/project-configs/query-comment.md
  website/docs/reference/resource-configs/firebolt-configs.md
  website/docs/reference/resource-configs/glue-configs.md
  website/docs/reference/warehouse-setups/materialize-setup.md
Labels: content, size: medium

#2333 Add new FAQ entry
  website/docs/faqs/Project/extract-load-support.md
  website/sidebars.js
Labels: content, size: small

#2335 add snippet to sl quickstart
  website/docs/docs/use-dbt-semantic-layer/quickstart-semantic-layer.md
Labels: content, size: x-small

#2336 added extract/load addition to related docs
  website/docs/docs/get-started/run-your-dbt-projects.md
Labels: content, size: x-small

#2339 Update IDE GA banner
  website/docs/docs/get-started/dbt-cloud-features.md
  website/docs/docs/get-started/develop-in-the-cloud.md
  website/snippets/ide-ga-banner.md
Labels: content, size: small

#2340 create consid snippet and change env var
  website/docs/docs/use-dbt-semantic-layer/dbt-semantic-layer.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-semantic-layer.md
  website/docs/docs/use-dbt-semantic-layer/set-dbt-semantic-layer.md
  website/snippets/sl-considerations-banner.md
Labels: content, size: small

#2317 Clarify what the 🚧 emoji is for
  website/docs/docs/supported-data-platforms.md
Labels: content, size: x-small

#2156 Add info block for integer type env_vars
  website/docs/reference/dbt-jinja-functions/env_var.md
Labels: content, priority: low, size: x-small
