Repository dbt-labs/docs.getdbt.com, pull requests merged in 2022-11, with the labels that each got.

#2285 typo
  website/docs/docs/deploy/cloud-ci-job.md
Labels: content, size: x-small

#2131 fix-small-typo
  website/docs/guides/best-practices/how-we-structure/2-staging.md
Labels: content, size: x-small

#2284 Update python-models.md
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: x-small

#2279 Update installation.md
  website/docs/docs/dbt-cloud/on-premises/installation.md
Labels: content, size: x-small

#2275 Update python-models.md
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: x-small

#2200 Update cloud-ci-job.md
  website/docs/docs/deploy/cloud-ci-job.md
Labels: content, size: x-small

#2298 Documents dbt docs serve --no-browser flag
  website/docs/reference/commands/cmd-docs.md
Labels: content, size: x-small

#2344 remove metric layer dbt cloud page
  website/docs/docs/dbt-cloud/using-dbt-cloud/cloud-metrics-layer.md
  website/sidebars.js
Labels: content, size: small

#2342 Update exposures.md
  website/docs/docs/build/exposures.md
Labels: content, size: x-small

#2337 Clarify that discourse topics are user generated
  website/src/components/discourse/styles.module.css
Labels: size: small

#2310 Add data catalog glossary entry
  website/docs/terms/data-catalog.md
Labels: content, size: medium

#2320 Add data wrangling glossary entry
  website/docs/terms/data-wrangling.md
Labels: content, size: medium

#2305 Update metrics.md
  website/docs/docs/build/metrics.md
Labels: content, size: x-small

#2354 Update metadata-api.md
  website/docs/docs/dbt-cloud-apis/metadata-api.md
Labels: content, size: x-small

#2326 dbt-materialize: update setup and config guide
  website/docs/reference/resource-configs/materialize-configs.md
  website/docs/reference/warehouse-setups/materialize-setup.md
Labels: content, size: medium

#2294 Add Demystifying Event Streams devblog
  website/blog/2022-10-24-demystifying-event-streams.md
  website/blog/authors.yml
  website/static/img/blog/2022-10-24-demystifying-event-streams/kafka-topic-table.png
  website/static/img/blog/2022-10-24-demystifying-event-streams/merit-platform-kafka-load.png
  website/static/img/blog/2022-10-24-demystifying-event-streams/merit-platform-kafka.png
  website/static/img/blog/2022-10-24-demystifying-event-streams/merit-platform-stitch.png
  website/static/img/blog/2022-10-24-demystifying-event-streams/merit-platform.png
  website/static/img/blog/2022-10-24-demystifying-event-streams/omg-contract.png
  website/static/img/blog/authors/charlie-summers.jpeg
Labels: size: large, developer blog

#2362 Update core-versions-table.md
  website/snippets/core-versions-table.md
Labels: size: x-small

#2338 Additional page contexts for blog
  website/src/theme/BlogPostItem/index.js
Labels: size: small

#2360 postgres is hosted within dbt-core
  website/docs/reference/warehouse-setups/postgres-setup.md
Labels: content, size: x-small

#2367 Update 2022-10-24-demystifying-event-streams.md
  website/blog/2022-10-24-demystifying-event-streams.md
Labels: size: x-small, developer blog

#2372 Moving Azure release note
  website/docs/docs/dbt-versions/release-notes/05-Oct-2022/cloud-integration-azure.md
Labels: content, size: x-small

#2323 add project creator permission
  website/docs/docs/collaborate/manage-access/enterprise-permissions.md
Labels: content, size: small

#2379 Update ref to hostname and add callout for Redirect URI
  website/docs/docs/collaborate/manage-access/set-up-sso-azure-active-directory.md
Labels: content, size: x-small

#2364 Update setup-azure.md
  website/docs/docs/collaborate/git/setup-azure.md
Labels: content, size: x-small

#2382 Adding an example of the syntax
  website/docs/reference/resource-properties/tests.md
Labels: content, size: x-small

#2353 add dbt server repo
  website/docs/docs/use-dbt-semantic-layer/dbt-semantic-layer.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-semantic-layer.md
  website/docs/docs/use-dbt-semantic-layer/set-dbt-semantic-layer.md
Labels: content, size: x-small

#2359 fix typo: optimzed-->optimized
  website/docs/reference/warehouse-setups/databricks-setup.md
Labels: content, size: x-small

#2387 Update custom-generic-tests.md
  website/docs/guides/legacy/custom-generic-tests.md
Labels: content, size: x-small

#2389 Wistia videos overlapping H1 in docs
  website/docs/guides/orchestration/airflow-and-dbt-cloud/2-setting-up-airflow-and-dbt-cloud.md
  website/src/components/wistia/index.js
Labels: content, size: medium

#2388 Update 6-promoting-a-new-adapter.md
  website/docs/guides/advanced/adapter-development/6-promoting-a-new-adapter.md
Labels: content, size: x-small

#2383 added astrocloud init
  website/docs/guides/orchestration/airflow-and-dbt-cloud/2-setting-up-airflow-and-dbt-cloud.md
Labels: content, size: x-small

#2397 Update code-of-conduct.md
  website/docs/community/resources/code-of-conduct.md
Labels: content, size: x-small

#2402 convert blog images from png to jpgh
  website/blog/2022-05-19-redshift-configurations-dbt-model-optimizations.md
  website/static/img/blog/2022-05-19-redshift-configurations-dbt-model-optimizations/Resolve-to-single-key.jpg
  website/static/img/blog/2022-05-19-redshift-configurations-dbt-model-optimizations/Staggered-Joins.jpg
Labels: size: x-small, developer blog

#1617 Create transfer-account.md
  website/docs/faqs/Accounts/transfer-account.md
Labels: content, size: small

#2377 Arrow design for nav
  website/src/css/custom.css
Labels: size: small

#2373 Hacky rebuild of toc inside DocsItem
  website/snippets/tutorial-build-models-atop-other-models.md
  website/src/components/snippet/index.js
  website/src/css/custom.css
  website/src/theme/DocItem/index.js
Labels: size: medium

#2341 Fix/dbt-airflow-blog
  website/blog/2021-11-29-dbt-airflow-spiritual-alignment.md
Labels: size: small, developer blog

#2409 Add changes from PR 1435
  website/docs/guides/migration/tools/migrating-from-spark-to-databricks.md
  website/sidebars.js
Labels: content, size: medium

#2405 Fix typo
  website/docs/reference/node-selection/yaml-selectors.md
Labels: content, size: x-small

#2396 add all_time
  website/docs/docs/build/metrics.md
Labels: content, size: small

#2356 Update set-up-sso-google-workspace.md
  website/docs/docs/collaborate/manage-access/set-up-sso-google-workspace.md
Labels: content, size: x-small

#2391 Update column_types.md
  website/docs/reference/resource-configs/column_types.md
Labels: content, size: x-small

#2413 Fixing Label to be required
  website/docs/docs/build/metrics.md
Labels: content, size: x-small

#2401 updating add'l features
  website/docs/docs/get-started/dbt-cloud-features.md
Labels: content, size: small

#2404 Add relational database glossary entry
  website/docs/terms/relational-database.md
  website/static/img/docs/terms/relational-database/relation.png
Labels: content, size: medium

#2419 Fix typo in unique test YAML example
  website/docs/reference/resource-properties/tests.md
Labels: content, size: x-small

#2420 Shorten Descriptions on Devhub Homepage Blog Posts
  website/functions/post-preview.js
  website/src/components/blogPostCard/index.js
  website/src/components/blogPostCard/styles.module.css
Labels: size: small

#2434 Add Wasila's Foundry blog post
  website/blog/2022-11-21-wasilas-foundry-experience.md
  website/blog/authors.yml
  website/static/img/blog/authors/wasila-quader.png
Labels: size: medium, developer blog

#2392 remove "snowpark in public preview" note
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: x-small

#2440 Update packages.md: bump dbt-utils version
  website/docs/docs/build/packages.md
Labels: content, size: x-small

#2425 add batch saving
  website/docs/docs/get-started/dbt-cloud-features.md
Labels: content, size: x-small

#2352 edit the docs readme
  README.md
Labels: size: x-small

#2443 spelling fixes
  website/docs/docs/get-started/source-install.md
Labels: content, size: x-small

#2442 Update environments.md
  website/docs/docs/collaborate/environments.md
Labels: content, size: x-small

#2444 Add Joel's spreadsheet <> dwh blog post
  website/blog/2022-11-22-move-spreadsheets-to-your-dwh.md
  website/static/img/blog/2022-11-22-move-spreadsheets-to-your-dwh/fivetran-uploader-1.png
  website/static/img/blog/2022-11-22-move-spreadsheets-to-your-dwh/fivetran-uploader-2.png
  website/static/img/blog/2022-11-22-move-spreadsheets-to-your-dwh/google-drive-uploader.png
  website/static/img/blog/2022-11-22-move-spreadsheets-to-your-dwh/google-sheets-uploader.png
  website/static/img/blog/2022-11-22-move-spreadsheets-to-your-dwh/snowflake-uploader.png
Labels: size: medium, developer blog

#2449 Update v1.0 EOL date
  website/dbt-versions.js
Labels: size: x-small

#2447 Add useful link to config docs
  website/docs/reference/dbt-jinja-functions/config.md
Labels: content, size: x-small

#2455 update 90 days audit log
  website/docs/docs/collaborate/manage-access/audit-log.md
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/audit-log-section.jpg
Labels: content, size: small

#2458 spelling fix
  website/snippets/sl-set-up-steps.md
Labels: size: x-small

#2456 update link to 'how we structure our dbt projects'
  website/docs/faqs/Project/resource-yml-name.md
Labels: content, size: x-small

#2416 Addition of EMEA server URI
  website/docs/docs/collaborate/manage-access/set-up-snowflake-oauth.md
Labels: content, size: x-small

#2439 add ide deprecation and add'l features release note
  website/docs/docs/dbt-versions/release-notes/04-Nov-2022/ide-features-ide-deprecation.md
Labels: content, size: small

#2118 Changes to pandas to match branding
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: small

#2465 Fix typo
  website/docs/docs/build/hooks-operations.md
Labels: content, size: x-small

#2057 Update: dbt artifacts, and the commands that produce them
  website/docs/reference/artifacts/catalog-json.md
  website/docs/reference/artifacts/dbt-artifacts.md
  website/docs/reference/artifacts/manifest-json.md
  website/docs/reference/artifacts/other-artifacts.md
  website/docs/reference/artifacts/run-results-json.md
  website/docs/reference/artifacts/sources-json.md
Labels: content, size: small, merge-conflict-cloud

#2386 Clarify supported behavior in selector inheritance
  website/docs/reference/node-selection/yaml-selectors.md
Labels: content, size: x-small

#2441 Update resolve-merge-conflicts.md
  _redirects
  website/docs/docs/collaborate/git/merge-conflicts.md
  website/docs/docs/collaborate/git/resolve-merge-conflicts.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/cloud-ide/commit-changes.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/commit-resolve.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/commit-without-resolve.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/merge-conflict.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/resolve-conflict.jpg
Labels: content, size: medium

#2451 Patch path to warehouse-specific info in adapter development guide
  website/docs/guides/advanced/adapter-development/5-documenting-a-new-adapter.md
Labels: content, size: x-small

#2467 Changed pricing table to link to pricing plans
  website/docs/docs/collaborate/manage-access/cloud-seats-and-users.md
Labels: content, size: x-small
