Repository dbt-labs/docs.getdbt.com, pull requests merged in 2023-10, with the labels that each got.

#4164 jdbc clarification
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
Labels: content, size: x-small

#3914 Update sl-graphql.md
  website/docs/docs/build/sl-getting-started.md
  website/docs/docs/dbt-cloud-apis/sl-api-overview.md
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-sl.md
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
  website/sidebars.js
  website/snippets/_new-sl-changes.md
  website/snippets/_new-sl-setup.md
  website/snippets/_sl-partner-links.md
  website/snippets/_sl-plan-info.md
  website/snippets/_sl-test-and-query-metrics.md
Labels: content, size: large, guides, do not merge

#4169 Update sl-graphql.md
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
Labels: size: small, Docs team

#4166 Removing outdated section
  website/docs/docs/deploy/continuous-integration.md
Labels: content, size: x-small, Docs team

#4157 Update 2020-07-01-how-to-create-near-real-time-models-with-just-dbt-s…
  website/blog/2020-07-01-how-to-create-near-real-time-models-with-just-dbt-sql.md
Labels: size: x-small, developer blog, Docs team

#4077 Fast-follows for CI phase 2
  website/docs/docs/dbt-versions/release-notes/04-Sept-2023/ci-updates-phase2-rn.md
  website/static/img/docs/release-notes/ci-job-tag.png
Labels: content, size: small, Docs team, auto update

#4176 Add new CTA for coalesce 2023 to devblog
  website/blog/ctas.yml
  website/blog/metadata.yml
Labels: size: x-small, developer blog

#4181 Update about-cloud-ide.md
  website/docs/docs/cloud/about-cloud/about-cloud-ide.md
Labels: content, size: x-small

#4182 Update label.yml
  .github/workflows/label.yml
Labels: size: small, Docs team

#4185 editing permissions only
  .github/workflows/label.yml
Labels: size: small, Docs team

#4189 add coalesce banner to docs site
  website/docusaurus.config.js
Labels: size: x-small, Docs team

#4197 Update action
  .github/workflows/label.yml
Labels: size: x-small

#4200 Update integ
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/docs/docs/use-dbt-semantic-layer/gsheets.md
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
  website/sidebars.js
  website/snippets/_sl-partner-links.md
Labels: content, size: medium, guides, Docs team

#4211 Adding databricks materialization
  website/docs/guides/migration/versions/01-upgrading-to-v1.6.md
Labels: size: x-small, Docs team

#4170 Add Oracle and Materialize to trusted adapters lisst
  website/snippets/_adapters-trusted.md
  website/static/img/icons/materialize.svg
  website/static/img/icons/oracle.svg
  website/static/img/icons/white/materialize.svg
  website/static/img/icons/white/oracle.svg
Labels: content, size: medium

#4187 ci-jobs: document temp schema macro limitation
  website/docs/docs/deploy/ci-jobs.md
Labels: content, size: small, new contributor, auto update

#4222 `config` for metrics is singular rather than plural
  website/docs/docs/build/metrics-overview.md
Labels: content, size: x-small

#4223 Fix rendering of "Advice" for when to use materialized views
  website/docs/docs/build/materializations.md
Labels: content, size: x-small

#4216 Update the link for new Discussion
  .github/ISSUE_TEMPLATE/a-improve-docs.yml
  .github/ISSUE_TEMPLATE/improve-the-site.yml
  README.md
  website/docs/community/resources/oss-expectations.md
  website/docs/terms/materialization.md
  website/docs/terms/table.md
  website/docs/terms/view.md
Labels: content, size: small, new contributor

#4225 Update cloud-cli-installation.md
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: medium, Docs team

#4227 Update cloud-cli-installation.md
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: x-small, Docs team

#4194 Clairy format required for specifiying roles
  website/docs/docs/core/connect-data-platform/trino-setup.md
  website/snippets/connect-starburst-trino/roles-starburst-enterprise.md
Labels: content, size: x-small

#4201 update the link colors on darkmode
  website/src/css/custom.css
Labels: size: medium

#4234 Update labeler.yml
  .github/workflows/labeler.yml
Labels: size: x-small, Docs team

#4213 Retry jobs
  website/docs/docs/collaborate/git-version-control.md
  website/docs/docs/dbt-versions/release-notes/03-Oct-2023/native-retry-support-rn.md
  website/docs/docs/deploy/retry-jobs.md
  website/sidebars.js
  website/static/img/docs/deploy/native-retry.gif
Labels: content, size: small, Docs team, auto update

#4208 [fix] missing indentation level in profile example
  website/docs/quickstarts/manual-install-qs.md
Labels: content, size: small, new contributor

#4226 Update semantic-models.md
  website/docs/docs/build/semantic-models.md
Labels: content, size: small, Docs team

#4230 Creating the release note for Sept docs changes
  website/docs/docs/dbt-versions/release-notes/03-Oct-2023/product-docs-sept-rn.md
Labels: content, size: small, Docs team

#4209 Update reference-models-in-another-project.md
  website/docs/faqs/Models/reference-models-in-another-project.md
  website/vercel.json
Labels: content, size: small, Docs team

#4237 Correcting the Order as displayed in dbt cloud
  website/snippets/quickstarts/schedule-a-job.md
Labels: content, size: small

#4179 add cloud cli links
  website/docs/docs/about-setup.md
  website/docs/docs/cloud/about-cloud-develop.md
  website/docs/docs/cloud/about-cloud-setup.md
  website/docs/docs/cloud/about-cloud/about-cloud-ide.md
  website/docs/docs/cloud/about-cloud/dbt-cloud-features.md
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/configure-cloud-cli.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/git/authenticate-azure.md
  website/docs/docs/cloud/git/connect-azure-devops.md
  website/docs/docs/cloud/git/connect-github.md
  website/docs/docs/cloud/git/connect-gitlab.md
  website/docs/docs/cloud/git/setup-azure.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/cloud/manage-access/self-service-permissions.md
  website/docs/docs/connect-adapters.md
  website/docs/docs/core/about-the-cli.md
  website/docs/docs/dbt-cloud-environments.md
  website/docs/docs/environments-in-dbt.md
  website/docs/docs/introduction.md
  website/docs/docs/running-a-dbt-project/run-your-dbt-projects.md
  website/docs/docs/running-a-dbt-project/using-threads.md
  website/docs/docs/supported-data-platforms.md
  website/docs/docs/trusted-adapters.md
  website/docs/reference/dbt-commands.md
  website/sidebars.js
  website/snippets/_adapters-trusted.md
  website/snippets/_adapters-verified.md
  website/snippets/_cloud-cli-flag.md
  website/snippets/_cloud-environments-info.md
  website/vercel.json
Labels: content, size: large, Docs team, cloud-cli-beta

#4217 Docs Changes Needed from dbt-core PR #8772
  website/docs/reference/commands/cmd-docs.md
Labels: content, size: small

#4240 Fix typo
  website/docs/docs/core/connect-data-platform/trino-setup.md
Labels: content, size: x-small

#4144 Semantic model configs in project.yml
  website/docs/docs/build/semantic-models.md
Labels: content, size: small, Docs team

#4143 Adding --profile flag info
  website/docs/reference/commands/init.md
Labels: content, size: small, Docs team

#4248 Update gsheets.md
  website/docs/docs/use-dbt-semantic-layer/gsheets.md
Labels: content, size: x-small

#4247 Update project-dependencies.md
  website/docs/docs/collaborate/govern/project-dependencies.md
Labels: content, size: x-small

#4249 Add tests examples
  website/docs/reference/node-selection/test-selection-examples.md
Labels: content, size: medium, new contributor

#4229 add defer page to cloud develop docs
  website/docs/docs/cloud/about-cloud-develop-defer.md
  website/docs/docs/cloud/about-cloud-develop.md
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/cloud-ide/ide-command-bar.jpg
  website/static/img/docs/dbt-cloud/defer-toggle.jpg
Labels: content, size: medium, Docs team

#4232 Add label to semantic models
  website/docs/docs/build/semantic-models.md
Labels: content, size: x-small, Docs team

#4254 Fast-follows for retry
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/deploy/monitor-jobs.md
  website/docs/docs/deploy/retry-jobs.md
Labels: content, size: small, Docs team, auto update

#4146 Expanding `access` to configs
  website/docs/docs/build/groups.md
  website/docs/docs/collaborate/govern/model-access.md
  website/docs/reference/model-properties.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/resource-configs/access.md
  website/docs/reference/resource-properties/access.md
  website/sidebars.js
  website/vercel.json
Labels: content, size: medium, Docs team

#4255 Update contract.md to include specific rules
  website/docs/reference/resource-configs/contract.md
Labels: content, size: x-small, Docs team

#4257 Revert "Update contract.md to include specific rules"
  website/docs/reference/resource-configs/contract.md
Labels: content, size: x-small, Docs team

#4258 Update contract.md to include specific rules (reverted to get tech review)
  website/docs/reference/resource-configs/contract.md
Labels: content, size: x-small, Docs team

#4260 Remove callout
  website/docs/reference/commands/retry.md
Labels: content, size: x-small, Docs team, auto update

#4233 v1.7 Migration Guide updates
  website/docs/guides/migration/versions/00-upgrading-to-v1.7.md
Labels: content, size: small, guides, Docs team

#4231 Semantic model configs
  website/docs/reference/resource-configs/enabled.md
  website/docs/reference/resource-configs/group.md
  website/docs/reference/resource-configs/meta.md
Labels: content, size: medium, Docs team

#4215 Custom branch bug fix
  website/docs/docs/dbt-versions/release-notes/03-Oct-2023/custom-branch-fix-rn.md
Labels: content, size: small, Docs team, auto update

#4264 Update semantic-models.md
  website/docs/docs/build/semantic-models.md
Labels: content, size: x-small, Docs team

#4261 Update the link URL in docs page 1-airflow-and-dbt-cloud.md
  website/docs/guides/orchestration/airflow-and-dbt-cloud/1-airflow-and-dbt-cloud.md
Labels: content, size: x-small, guides

#4267 Typo fix about-cloud-ide.md
  website/docs/docs/cloud/about-cloud/about-cloud-ide.md
Labels: content, size: x-small, new contributor

#4271 updated 1.7 migration guide to call out a behavior change
  website/docs/guides/migration/versions/00-upgrading-to-v1.7.md
Labels: content, size: small, guides

#4262 Built in aliasing for data_type
  website/docs/reference/resource-configs/contract.md
Labels: content, size: small, Docs team

#4156 Adding semantic models to list
  website/docs/guides/migration/versions/01-upgrading-to-v1.6.md
  website/docs/reference/commands/list.md
  website/docs/reference/node-selection/methods.md
Labels: content, size: small, guides, Docs team

#4268 Adding docs generate to syntax table
  website/docs/reference/node-selection/syntax.md
Labels: content, size: x-small, Docs team

#4263 Time spine move from dbt-utils to dbt-core
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: medium, Docs team

#4270 Adding store_failures_as
  website/dbt-versions.js
  website/docs/docs/build/tests.md
  website/docs/reference/resource-configs/store_failures.md
  website/docs/reference/resource-configs/store_failures_as.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#4277 add docs for cumulative metrics limitations
  website/docs/docs/build/cumulative-metrics.md
  website/docs/docs/build/dimensions.md
Labels: content, size: x-small

#4274 Change pypi link from dbt to dbt-core
  website/docs/docs/core/pip-install.md
Labels: content, size: x-small

#4102 Update sl-jdbc.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/docs/guides/migration/sl-migration.md
Labels: content, size: small, guides, do not merge

#4192 cloud cli rn
  website/docs/docs/dbt-versions/release-notes/03-Oct-2023/cloud-cli-pp.md
Labels: content, size: small, Docs team

#4172 Update cloud cli docs with windows, new instructions
  website/docs/docs/about-setup.md
  website/docs/docs/cloud/about-cloud-develop-defer.md
  website/docs/docs/cloud/about-cloud-develop.md
  website/docs/docs/cloud/about-cloud-setup.md
  website/docs/docs/cloud/about-cloud/dbt-cloud-features.md
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/configure-cloud-cli.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
  website/docs/docs/cloud/git/authenticate-azure.md
  website/docs/docs/cloud/git/connect-azure-devops.md
  website/docs/docs/cloud/git/connect-github.md
  website/docs/docs/cloud/git/connect-gitlab.md
  website/docs/docs/cloud/git/setup-azure.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/cloud/manage-access/self-service-permissions.md
  website/docs/docs/connect-adapters.md
  website/docs/docs/core/about-core-setup.md
  website/docs/docs/core/about-dbt-core.md
  website/docs/docs/core/about-the-cli.md
  website/docs/docs/core/connect-data-platform/profiles.yml.md
  website/docs/docs/core/installation-overview.md
  website/docs/docs/dbt-cloud-environments.md
  website/docs/docs/deploy/job-commands.md
  website/docs/docs/environments-in-dbt.md
  website/docs/docs/introduction.md
  website/docs/docs/running-a-dbt-project/run-your-dbt-projects.md
  website/docs/docs/running-a-dbt-project/using-threads.md
  website/docs/docs/supported-data-platforms.md
  website/docs/docs/trusted-adapters.md
  website/docs/quickstarts/manual-install-qs.md
  website/docs/reference/dbt-commands.md
  website/sidebars.js
  website/snippets/_adapters-trusted.md
  website/snippets/_adapters-verified.md
  website/snippets/_cloud-cli-flag.md
  website/snippets/_cloud-environments-info.md
  website/snippets/_enterprise-permissions-table.md
  website/static/img/docs/dbt-cloud/cloud-ide/ide-command-bar.jpg
  website/static/img/docs/dbt-cloud/defer-toggle.jpg
  website/vercel.json
Labels: content, size: large, cloud-cli-beta

#4269 New databricks oauth
  website/docs/docs/cloud/manage-access/set-up-bigquery-oauth.md
  website/docs/docs/cloud/manage-access/set-up-databricks-oauth.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/using-dbt-cloud/dbt-cloud-enterprise/DBX-auth/dbt-databricks-oauth-user.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/dbt-cloud-enterprise/DBX-auth/dbt-databricks-oauth.png
Labels: content, size: medium, auto update

#4280 EOL dbt Core v1.3
  website/snippets/core-versions-table.md
Labels: content, size: x-small

#4282 Fast-follows for improvements to CI jobs
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/continuous-integration.md
Labels: size: small, Docs team, auto update

#4283 Ly docs explorer public preview
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/dbt-versions/release-notes/03-Oct-2023/explorer-public-preview-rn.md
  website/static/img/docs/collaborate/dbt-explorer/cross-project-lineage-child.png
  website/static/img/docs/collaborate/dbt-explorer/cross-project-lineage-parent.png
Labels: content, size: medium, Docs team, auto update

#4259 Callouts for upcoming Microsoft adapter support
  website/docs/docs/cloud/connect-data-platform/about-connections.md
  website/docs/docs/supported-data-platforms.md
  website/docs/docs/verified-adapters.md
  website/snippets/_microsoft-adapters-soon.md
Labels: content, size: small, Docs team, auto update

#4265 Adding configurable delimiters
  website/docs/guides/migration/versions/00-upgrading-to-v1.7.md
  website/docs/reference/resource-configs/delimiter.md
  website/docs/reference/seed-configs.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#4284 Mwong sl ga
  website/docs/docs/build/about-metricflow.md
  website/docs/docs/build/build-metrics-intro.md
  website/docs/docs/build/derived-metrics.md
  website/docs/docs/build/dimensions.md
  website/docs/docs/build/measures.md
  website/docs/docs/build/metricflow-commands.md
  website/docs/docs/build/sl-getting-started.md
  website/docs/docs/build/validation.md
  website/docs/docs/dbt-cloud-apis/sl-api-overview.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
  website/docs/docs/dbt-versions/release-notes/03-Oct-2023/sl-ga.md
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/docs/docs/use-dbt-semantic-layer/gsheets.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-sl.md
  website/docs/docs/use-dbt-semantic-layer/setup-sl.md
  website/docs/docs/use-dbt-semantic-layer/sl-architecture.md
  website/docs/docs/use-dbt-semantic-layer/tableau.md
  website/docs/guides/best-practices/how-we-build-our-metrics/semantic-layer-2-setup.md
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
  website/docs/guides/migration/sl-migration.md
  website/sidebars.js
  website/snippets/_new-sl-setup.md
  website/snippets/_sl-connect-and-query-api.md
  website/snippets/_sl-create-semanticmodel.md
  website/snippets/_sl-define-metrics.md
  website/snippets/_sl-install-metricflow.md
  website/snippets/_sl-partner-links.md
  website/snippets/_sl-plan-info.md
  website/snippets/_sl-run-prod-job.md
  website/snippets/_sl-test-and-query-metrics.md
  website/snippets/_v2-sl-prerequisites.md
  website/src/css/custom.css
  website/static/img/icons/google-sheets-logo-icon.svg
  website/static/img/icons/hex.svg
  website/static/img/icons/lightdash.svg
  website/static/img/icons/mode.svg
  website/static/img/icons/tableau-software.svg
  website/static/img/icons/white/google-sheets-logo-icon.svg
  website/static/img/icons/white/hex.svg
  website/static/img/icons/white/lightdash.svg
  website/static/img/icons/white/mode.svg
  website/static/img/icons/white/tableau-software.svg
  website/vercel.json
Labels: content, size: large, guides, Docs team

#4279 slight rephrasing on 1.7 migration guide for clarity
  website/docs/guides/migration/versions/00-upgrading-to-v1.7.md
Labels: content, size: x-small, guides

#4286 Fix date
  website/docs/docs/dbt-versions/release-notes/03-Oct-2023/explorer-public-preview-rn.md
Labels: content, size: x-small, Docs team

#4212 [ENT-948] updating permissions table to reflect some dbt-cloud permission changes
  website/snippets/_enterprise-permissions-table.md
Labels: size: small

#4287 Package-lock update to deps
  website/docs/reference/commands/deps.md
Labels: content, size: small, Docs team

#4081 Feature/add mesh guide
  website/docs/guides/best-practices/how-we-mesh/mesh-1-intro.md
  website/docs/guides/best-practices/how-we-mesh/mesh-2-structures.md
  website/docs/guides/best-practices/how-we-mesh/mesh-3-implementation.md
  website/sidebars.js
Labels: content, size: medium, guides, auto update

#4278 Update project-dependencies.md
  website/docs/docs/build/packages.md
  website/docs/docs/collaborate/govern/project-dependencies.md
Labels: content, size: medium, Docs team, auto update

#4243 release note for ide dbt deps
  website/docs/docs/dbt-versions/release-notes/03-Oct-2023/dbt-deps-auto-install.md
Labels: content, size: small, Docs team

#4292 Unit querying
  website/docs/docs/cloud/billing.md
  website/docs/docs/dbt-versions/release-notes/03-Oct-2023/sl-ga.md
  website/docs/terms/model.md
Labels: content, size: medium, Docs team

#4294 Update keyboard shortcut for multi-line edit
  website/docs/docs/cloud/dbt-cloud-ide/dbt-cloud-tips.md
Labels: content, size: x-small, Docs team

#4291 Fixing Azure SSO screenshot
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/azure/azure-redirect-uri.png
Labels: content, size: x-small, Docs team

#4293 Updates to billing doc
  website/docs/docs/cloud/billing.md
Labels: content, size: x-small, Docs team

#4298 Update cloud-cli-installation.md
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/configure-cloud-cli.md
Labels: content, size: x-small, Docs team

#4300 [DBT Doc Update] Updating the latest options visible in the BigQuery Create credentials Wizard
  website/docs/quickstarts/bigquery-qs.md
Labels: content, size: x-small

#4253 Update bigquery-configs.md
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: x-small, new contributor

#4295 Fixed typo errors.
  website/docs/guides/orchestration/custom-cicd-pipelines/4-dbt-cloud-job-on-pr.md
Labels: content, size: x-small, guides, new contributor

#4275 Update architecture.md: close parenthesis
  website/docs/docs/cloud/about-cloud/architecture.md
Labels: content, size: x-small

#4168 Update enterprise-permissions.md
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/enterprise-permission-sets-diagram.png
Labels: content, size: x-small, Docs team

#4036 Update test-selection-examples.md
  website/docs/reference/node-selection/test-selection-examples.md
Labels: content, size: x-small

#4148 Update labeler.yml
  .github/labeler.yml
Labels: size: x-small, Docs team, auto update

#4305 Update tableau.md
  website/docs/docs/use-dbt-semantic-layer/tableau.md
Labels: content, size: x-small

#4307 fix docs generate syntax selector
  website/docs/reference/node-selection/syntax.md
Labels: content, size: x-small

#4302 Splitting tabs up
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
Labels: content, size: medium, Docs team, auto update

#4308 Update docusaurus.config.js
  website/docusaurus.config.js
Labels: size: x-small

#4309 Fix a typo
  website/docs/docs/build/incremental-models.md
Labels: size: x-small, new contributor

#2270 Provide an example of meta in dbt_project
  website/docs/reference/resource-configs/meta.md
Labels: content, size: small

#4312 Update configure-cloud-cli.md
  website/docs/docs/cloud/configure-cloud-cli.md
Labels: content, size: small, Docs team

#4315 Update configure-cloud-cli.md
  website/docs/docs/cloud/configure-cloud-cli.md
Labels: content, size: x-small

#4316 Update cloud-cli-installation.md
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: small, Docs team

#4317 Update gsheets.md
  website/docs/docs/use-dbt-semantic-layer/gsheets.md
Labels: content, size: x-small

#4310 add initial FAQ for BQ OAuth related to Google Drive scope
  website/docs/docs/cloud/manage-access/set-up-bigquery-oauth.md
  website/docs/faqs/Warehouse/bq-oauth-drive-scope.md
Labels: content, size: small

#4319 adding klipfolio docs to SL integrations
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/snippets/_sl-partner-links.md
  website/static/img/icons/klipfolio.svg
  website/static/img/icons/white/klipfolio.svg
Labels: content, size: small, Docs team

#4266 Update custom-branch-settings.md
  website/docs/faqs/Environments/custom-branch-settings.md
Labels: content, size: small, Docs team

#4304 Ensure learners don't try to save a new file in main branch
  website/docs/quickstarts/bigquery-qs.md
Labels: content, size: small, guides

#4297 Change Alloy repo
  website/docs/docs/core/connect-data-platform/alloydb-setup.md
Labels: content, size: x-small, Docs team

#4321 Update cloud-build-and-view-your-docs.md
  website/docs/docs/collaborate/cloud-build-and-view-your-docs.md
Labels: content, size: small, Docs team

#4327 Update metricflow-commands.md
  website/docs/docs/build/metricflow-commands.md
Labels: content, size: small, Docs team

#4329 add cards to integration page
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/snippets/_sl-partner-links.md
  website/static/img/icons/delphi.svg
  website/static/img/icons/push.svg
  website/static/img/icons/white/delphi.svg
  website/static/img/icons/white/push.svg
Labels: content, size: large, Docs team

#4320 add cloud cli video and alias info
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: medium, Docs team

#4331 Update sl-jdbc.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
Labels: content, size: x-small, Docs team, auto update

#4328 Rpourzand metadata for partners
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
Labels: content, size: small, guides, Docs team

#4324 Update set-up-sso-okta.md
  website/docs/docs/cloud/manage-access/set-up-sso-okta.md
Labels: content, size: x-small

#4332 Clarify applicability of EAT
  website/snippets/_cloud-environments-info.md
Labels: content, size: x-small

#4290 Add Starrocks adapter documentation to DBT docs
  website/docs/docs/community-adapters.md
  website/docs/docs/core/connect-data-platform/starrocks-setup.md
  website/docs/reference/resource-configs/starrocks-configs.md
  website/sidebars.js
Labels: content, size: medium

#4323 Update set-up-sso-saml-2.0.md
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
Labels: size: x-small

#4338 Fix: Updated dever-env-id to defer-env-id in Cloud CLI docs
  website/docs/docs/cloud/about-cloud-develop-defer.md
Labels: content, size: small, new contributor

#4207 sql in caps
  website/docs/docs/build/analyses.md
Labels: size: x-small, Docs team

#4342 update blog cta
  website/blog/ctas.yml
  website/blog/metadata.yml
Labels: size: x-small, developer blog, Docs team

#4343 Update set-up-sso-saml-2.0.md
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: x-small

#4339 update klipfolio
  website/snippets/_sl-partner-links.md
Labels: content, size: small, Docs team, auto update

#4349 Indent cloud cli configuration example code
  website/docs/docs/cloud/configure-cloud-cli.md
Labels: content, size: x-small

#4348 Ensure we load stoplight css first so that base styles get overridden
  website/docusaurus.config.js
  website/src/components/stoplight/index.js
Labels: size: small

#4351 Revert "Ensure we load stoplight css first so that base styles get overridden"
  website/docusaurus.config.js
  website/src/components/stoplight/index.js
Labels: size: small, Docs team

#4352 Corrected APAC cloud-cli link
  website/docs/docs/cloud/configure-cloud-cli.md
Labels: content, size: x-small

#4353 update links
  website/snippets/_sl-partner-links.md
Labels: content, size: x-small, Docs team

#4325 Update set-up-sso-azure-active-directory.md
  website/docs/docs/cloud/manage-access/set-up-sso-azure-active-directory.md
Labels: content, size: x-small

#4356 Update mentions of dbt CLI
  website/blog/2021-11-29-dbt-airflow-spiritual-alignment.md
  website/blog/2022-02-23-founding-an-AE-team-smartsheet.md
  website/blog/2022-07-26-pre-commit-dbt.md
  website/docs/dbt-cli/cli-overview.md
  website/docs/docs/build/jinja-macros.md
  website/docs/docs/build/tests.md
  website/docs/docs/deploy/deployment-tools.md
  website/docs/faqs/Project/which-schema.md
  website/docs/faqs/Runs/checking-logs.md
  website/docs/faqs/Runs/failed-tests.md
  website/docs/guides/advanced/using-jinja.md
  website/docs/guides/best-practices/debugging-errors.md
  website/docs/guides/best-practices/materializations/materializations-guide-6-examining-builds.md
  website/docs/quickstarts/manual-install-qs.md
  website/docs/reference/dbt-jinja-functions/target.md
  website/docs/reference/programmatic-invocations.md
Labels: content, size: medium, developer blog, guides, Docs team

#4360 Update Delphi icon
  website/static/img/icons/delphi.svg
  website/static/img/icons/white/delphi.svg
Labels: content, size: large

#4367 Remove beta flag
  website/docs/docs/cloud/configure-cloud-cli.md
Labels: content, size: x-small

#4364 Hyperlink to relevant docs for log format, log levels, log colorization, and cache population
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
Labels: content, size: x-small, guides

#4350 Update stoplight css
  website/src/components/stoplight/index.js
  website/static/css/stoplight-base.css
  website/static/css/stoplight-custom.css
Labels: content, size: medium

#4363 Clarify order of precedence for global configs
  website/docs/reference/global-configs/about-global-configs.md
Labels: content, size: x-small

#4368 More clearly delineate the two points of time for the `graph_summary.json` artifact
  website/docs/reference/artifacts/other-artifacts.md
Labels: content, size: x-small

#4119 Update custom-aliases: usage methods, File formatting, and version numbers
  website/docs/docs/build/custom-aliases.md
Labels: content, size: small

#4375 Add note about Snowflake using Dynamic Tables instead of Materialized Views
  website/docs/docs/build/materializations.md
Labels: content, size: x-small, new contributor

#4379 Release note: limit Get methods to 100 results for Admin API
  website/docs/docs/dbt-versions/release-notes/03-Oct-2023/api-v2v3-limit.md
Labels: content, size: small, Docs team
