Repository dbt-labs/docs.getdbt.com, pull requests merged in 2023-09, with the labels that each got.

#4008 update dbt-glue documentation according to latest version 1.6.2
  website/docs/docs/core/connect-data-platform/glue-setup.md
Labels: content, size: large, new contributor

#4009 Update pip install instructions in semantic-layer-2-setup.md
  website/docs/guides/best-practices/how-we-build-our-metrics/semantic-layer-2-setup.md
Labels: content, size: x-small, guides

#3999 Clarify note about dbt-rpc deprecation
  website/docs/reference/commands/rpc.md
Labels: content, size: small

#3868 Correct the definition of monotonically increasing
  website/docs/terms/monotonically-increasing.md
Labels: content, size: x-small, new contributor

#4018 create workflow to label autogenerated issues from core repos
  .github/workflows/autogenerated_labeler.yml
Labels: size: small

#4020 swap out token and token name
  .github/workflows/autogenerated_labeler.yml
Labels: size: x-small

#4024 add repo and remove extra quotation marks
  .github/workflows/autogenerated_labeler.yml
Labels: size: x-small

#4027 Update bigquery-setup.md
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
Labels: content, size: x-small, new contributor

#4029 refine trusted adapter issue template
  .github/ISSUE_TEMPLATE/zzz_add-adapter-to-trusted-list.yml
Labels: size: small

#4028 Add dbt-athena-community to trusted adapters list
  website/docs/docs/trusted-adapters.md
  website/snippets/_adapters-trusted.md
  website/static/img/icons/athena.svg
  website/static/img/icons/white/athena.svg
Labels: content, size: small

#4030 Refactor Quickstart component to prevent error
  website/src/components/quickstartTOC/index.js
Labels: size: small

#4032 drop cloud-specifc requirements from Trusted adapter requirements
  website/docs/guides/dbt-ecosystem/adapter-development/8-building-a-trusted-adapter.md
Labels: content, size: x-small, guides

#4012 breakdown cli quickstart steps
  website/docs/quickstarts/manual-install-qs.md
  website/src/components/quickstartTOC/index.js
  website/static/img/docs/dbt-cloud/deployment/run-overview.jpg
Labels: content, size: large, Docs team

#4031 Simplify the templates
  .github/ISSUE_TEMPLATE/a-improve-docs.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/improve-the-site.yml
  .github/ISSUE_TEMPLATE/new-dbt-feature.yml
Labels: size: small, Docs team

#4033 Update extended attributes
  website/snippets/_cloud-environments-info.md
Labels: content, size: x-small

#4038 add metric offset
  website/docs/docs/build/derived-metrics.md
Labels: content, size: medium, Docs team

#4023 Update deploy-jobs.md for self-deferral
  website/docs/docs/deploy/deploy-jobs.md
Labels: content, size: x-small, auto update

#4039 Update cloud-seats-and-users.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/deploy/job-notifications.md
Labels: content, size: small, Docs team

#4037 Update audit-log.md
  website/docs/docs/cloud/manage-access/audit-log.md
Labels: content, size: small, Docs team

#4048 Update use cases for 'local' packages
  website/docs/docs/build/packages.md
Labels: content, size: small

#4047 Remove-1.6 from future releases table
  website/snippets/core-versions-table.md
Labels: content, size: x-small

#4052 Update ref.md
  website/docs/reference/dbt-jinja-functions/ref.md
Labels: content, size: x-small, Docs team

#3908 Deprecate v1.0 from docs
  contributing/single-sourcing-content.md
  website/dbt-versions.js
  website/docs/docs/build/incremental-models.md
  website/docs/docs/build/python-models.md
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
  website/docs/docs/core/connect-data-platform/spark-setup.md
  website/docs/faqs/Core/install-python-compatibility.md
  website/docs/guides/legacy/best-practices.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/node-selection/syntax.md
  website/docs/reference/resource-configs/persist_docs.md
  website/docs/reference/resource-properties/config.md
  website/docs/reference/source-configs.md
Labels: content, size: large, guides, Docs team

#4053 Update Databricks Section of grants.md
  website/docs/reference/resource-configs/grants.md
Labels: content, size: x-small, new contributor

#4010 Update SL-MF tutorial for proper expr usage and BigQuery
  website/docs/guides/best-practices/how-we-build-our-metrics/semantic-layer-3-build-semantic-models.md
Labels: content, size: small, guides

#3998 [Future scope] Distinguish 'inferred' vs 'partial' contracts
  website/docs/docs/collaborate/govern/model-contracts.md
Labels: content, size: x-small

#3963 ENTERPRISE-724: Allie / updating ip restriction docs
  website/docs/docs/cloud/git/connect-azure-devops.md
  website/docs/docs/cloud/git/connect-gitlab.md
  website/docs/docs/cloud/secure/ip-restrictions.md
Labels: content, size: x-small

#4051 Release notes for CI updates phase 2
  website/docs/docs/dbt-versions/release-notes/04-Sept-2023/ci-updates-phase2-rn.md
  website/static/img/docs/release-notes/ci-job-setup.gif
Labels: content, size: small, Docs team, auto update

#4046 Add API triggers for CI jobs
  website/docs/docs/deploy/ci-jobs.md
Labels: content, size: small, Docs team, auto update

#4061 Update run.md
  website/docs/reference/commands/run.md
Labels: content, size: x-small, new contributor

#4057 Update set-up-sso-saml-2.0.md
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: small

#4058 Update set-up-sso-okta.md
  website/docs/docs/cloud/manage-access/set-up-sso-okta.md
Labels: content, size: x-small

#4064 Update set-up-sso-azure-active-directory.md
  website/docs/docs/cloud/manage-access/set-up-sso-azure-active-directory.md
Labels: content, size: x-small

#4066 update ide image
  website/docs/terms/data-lineage.md
  website/static/img/docs/terms/data-lineage/dag_example.jpg
Labels: content, size: x-small, Docs team

#4067 Update set-up-sso-saml-2.0.md
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: x-small

#4070 Add update to previous limitation mentioned in Data Vault blog post
  website/blog/2023-07-03-data-vault-2-0-with-dbt-cloud.md
Labels: size: x-small, developer blog

#4013 clarify unversioned models error and move to another page
  website/docs/reference/resource-configs/contract.md
  website/docs/reference/resource-properties/versions.md
Labels: content, size: medium, Docs team

#4071 Update duckdb-setup.md
  website/docs/docs/core/connect-data-platform/duckdb-setup.md
Labels: content, size: x-small

#4065 Update Netlify mention in readme
  README.md
Labels: size: x-small

#4068 Beta docs for dbt Explorer phase 1
  website/docs/docs/cloud/about-cloud/dbt-cloud-features.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/reference/node-selection/graph-operators.md
  website/sidebars.js
  website/static/img/docs/collaborate/dbt-explorer/catalog-sidebar-v1.gif
  website/static/img/docs/collaborate/dbt-explorer/lineage-v1.gif
  website/static/img/docs/collaborate/dbt-explorer/model-resource-details-v1.gif
  website/static/img/docs/collaborate/dbt-explorer/search-v1.gif
Labels: content, size: medium, Docs team, auto update

#4059 Create product-docs-summer-rn.md
  website/docs/docs/dbt-versions/release-notes/04-Sept-2023/product-docs-summer-rn.md
Labels: content, size: small, Docs team

#4073 Initializing 1.7 in docs
  website/dbt-versions.js
  website/docs/guides/migration/versions/00-upgrading-to-v1.7.md
  website/snippets/core-versions-table.md
Labels: content, size: small, guides, Docs team

#4074 Remove beta tabs/callouts for CI phase 2
  website/docs/docs/dbt-versions/release-notes/04-Sept-2023/ci-updates-phase2-rn.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/deploy-jobs.md
  website/docs/docs/deploy/jobs.md
  website/docs/guides/orchestration/set-up-ci/2-quick-setup.md
  website/docs/guides/orchestration/set-up-ci/5-multiple-checks.md
Labels: content, size: medium, guides, Docs team, auto update

#4078 Correcting AWS ST feature availability
  website/snippets/cloud-feature-parity.md
Labels: content, size: x-small

#4076 Update set-up-sso-saml-2.0.md
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: x-small

#4085 Fix version-based listing of supported incremental strategies
  website/docs/reference/resource-configs/postgres-configs.md
Labels: content, size: x-small

#4083 Split out the `file` and `fqn` selection methods into their own sections
  website/docs/reference/node-selection/methods.md
Labels: content, size: small

#4084 Relationship between `selected_resources` and `graph` context variable
  website/docs/reference/dbt-jinja-functions/selected_resources.md
Labels: content, size: x-small

#4011 add relation examples for {{this}}
  website/docs/reference/dbt-classes.md
  website/docs/reference/dbt-jinja-functions/ref.md
  website/docs/reference/dbt-jinja-functions/source.md
  website/docs/reference/dbt-jinja-functions/this.md
Labels: content, size: small, Docs team

#4093 Update 01-upgrading-to-v1.6.md
  website/docs/guides/migration/versions/01-upgrading-to-v1.6.md
Labels: content, size: x-small, guides, Docs team

#4095 Add .vercel to gitignore
  .gitignore
  website/.gitignore
Labels: size: x-small

#4045 Update databricks-configs.md to include MV/ST
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: medium, new contributor, Initialize

#3953 Update sl-jdbc.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
  website/docs/terms/predicate-pushdown.md
Labels: content, size: medium

#4098 Update databricks-configs.md
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: x-small, Docs team

#4088 Updates for CI phase 3
  website/docs/docs/dbt-versions/release-notes/04-Sept-2023/ci-updates-phase3-rn.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/continuous-integration.md
Labels: content, size: medium, Docs team, auto update

#4103 Remove whitespace to render properly
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: x-small, Docs team

#4096 Adjust code tag link colors
  website/src/css/custom.css
Labels: size: small

#4104 Add example copypastable style guide starter to style guide
  website/docs/guides/best-practices/how-we-style/6-how-we-style-conclusion.md
Labels: content, size: medium, guides

#4112 Update link to macro generate_schema_name_for_env() in debugging-schema-names.md
  website/docs/guides/legacy/debugging-schema-names.md
Labels: size: x-small, new contributor

#4110 Update profiles-yml-context.md
  website/docs/reference/dbt-jinja-functions/profiles-yml-context.md
Labels: content, size: small

#4109 Update dbt-project-yml-context.md
  website/docs/reference/dbt-jinja-functions/dbt-project-yml-context.md
Labels: content, size: small

#4113 Document the `Column.is_integer()` instance method
  website/docs/reference/dbt-classes.md
Labels: content, size: x-small

#4101 Adding cost optimization to billing page
  website/docs/docs/cloud/billing.md
Labels: content, size: medium, Docs team

#4118 Update broken blog link
  website/docs/guides/best-practices/how-we-style/2-how-we-style-our-sql.md
Labels: content, size: x-small, guides, new contributor

#4108 Update builtins.md
  website/docs/reference/dbt-jinja-functions/builtins.md
Labels: content, size: x-small

#4107 Update GitHub labels related to expectations for OSS contributors
  website/docs/community/resources/oss-expectations.md
Labels: content, size: x-small

#4122 docs: Update manifest-json.md
  website/docs/reference/artifacts/manifest-json.md
Labels: content, size: small

#4116 fix: correcting jinja graph exposure property name from "source" to "exposure"
  website/docs/reference/dbt-jinja-functions/graph.md
Labels: content, size: x-small, new contributor

#4111 Update log.md
  website/docs/reference/dbt-jinja-functions/log.md
Labels: content, size: small

#4094 add faq
  website/docs/docs/cloud/git/authenticate-azure.md
  website/docs/docs/cloud/git/connect-github.md
  website/docs/docs/cloud/git/connect-gitlab.md
  website/docs/docs/cloud/git/import-a-project-by-git-url.md
  website/docs/faqs/Git/git-migration.md
  website/static/img/docs/dbt-cloud/disconnect-repo.gif
  website/static/img/docs/dbt-cloud/on-premises/disconnect-repo.gif
  website/static/img/docs/dbt-cloud/on-premises/self-signed-cert.png
Labels: content, size: small, Docs team

#4092 clarify private key exmple
  website/docs/docs/cloud/connect-data-platform/connect-snowflake.md
Labels: content, size: medium, Docs team

#4128 Update build-metrics-intro.md
  website/docs/docs/build/about-metricflow.md
  website/docs/docs/build/build-metrics-intro.md
  website/docs/docs/build/sl-getting-started.md
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-sl.md
  website/snippets/_sl-plan-info.md
  website/snippets/_sl-test-and-query-metrics.md
  website/snippets/_v2-sl-prerequisites.md
Labels: content, size: medium, Docs team

#4131 Release note for removing old versions
  website/docs/docs/dbt-versions/release-notes/04-Sept-2023/removing-prerelease-versions.md
  website/static/img/docs/release-notes/dbt-cloud-versions.png
Labels: content, size: small, Docs team

#4135 Updated hyperlink to section on base models
  website/docs/guides/best-practices/how-we-structure/2-staging.md
Labels: content, size: x-small, guides, new contributor

#4136 Update git-migration.md
  website/docs/faqs/Git/git-migration.md
Labels: content, size: x-small, Docs team

#3786 add pem option to doc
  website/docs/docs/core/connect-data-platform/snowflake-setup.md
Labels: content, size: x-small, new contributor, dbt-core v1.7

#4121 Update tutorial-document-your-models.md
  website/snippets/tutorial-document-your-models.md
Labels: content, size: x-small, new contributor

#4130 Update materializations.md
  website/docs/docs/build/materializations.md
Labels: content, size: x-small, new contributor

#4142 Clarify service token generation
  website/docs/docs/dbt-cloud-apis/service-tokens.md
Labels: content, size: x-small, Docs team, auto update

#4149 add jobs t&cs
  website/docs/community/resources/jobs-terms-and-conditions.md
  website/sidebars.js
Labels: content, size: small

#4120 Update docs.md with more clear node_color info
  website/docs/reference/resource-configs/docs.md
Labels: content, size: x-small

#4145 Select resources with the `source` `resource_type`
  website/docs/reference/node-selection/methods.md
Labels: content, size: x-small

#4138 Update _sl-plan-info.md
  website/snippets/_sl-plan-info.md
Labels: content, size: x-small, Docs team

#4056 Update verified-adapters.md
  website/docs/docs/verified-adapters.md
Labels: content, size: x-small, Docs team

#4139 Add prereqs for project dependencies beta
  website/docs/docs/collaborate/govern/project-dependencies.md
Labels: content, size: x-small

#4152 Remove Netlify-specifc code & files
  netlify.toml
  website/docusaurus.config.js
  website/functions/image-cache-wrapper.js
  website/src/components/discourse/index.js
  website/src/components/discourseBlogComments/index.js
  website/src/components/lineage/index.js
  website/static/_headers
  website/static/_redirects
Labels: content, size: large

#4151 Update label.yml
  .github/workflows/label.yml
Labels: size: x-small, Docs team

#3909 Update contribute-to-developer-blog.yml
  .github/ISSUE_TEMPLATE/contribute-to-developer-blog.yml
Labels: size: x-small, Docs team

#4154 Update avail-sl-integrations.md
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
Labels: content, size: x-small, Docs team

#4137 Update sl-getting-started.md
  website/docs/docs/build/sl-getting-started.md
Labels: content, size: x-small, Docs team

#4160 align commands for on run start/end
  website/docs/docs/build/hooks-operations.md
  website/docs/reference/project-configs/on-run-start-on-run-end.md
  website/snippets/_onrunstart-onrunend-commands.md
Labels: content, size: small, Docs team

#4158 update labeler to add label and not remove it
  .github/workflows/label.yml
Labels: size: small, Docs team

#4161 add Hex docs links
  website/docs/guides/migration/sl-migration.md
  website/snippets/_sl-partner-links.md
Labels: content, size: small, guides, Docs team

#4155 add postgres privatelink page
  website/docs/docs/cloud/secure/about-privatelink.md
  website/docs/docs/cloud/secure/postgres-privatelink.md
  website/docs/docs/cloud/secure/redshift-privatelink.md
  website/sidebars.js
Labels: content, size: medium

#4159 Fix docs about ip rules
  website/docs/docs/cloud/secure/ip-restrictions.md
Labels: content, size: x-small

#4162 Update 1-airflow-and-dbt-cloud.md
  website/docs/guides/orchestration/airflow-and-dbt-cloud/1-airflow-and-dbt-cloud.md
Labels: content, size: x-small, guides

#4165 Removing unneccesary "contact support" lines
  website/docs/docs/cloud/manage-access/set-up-sso-okta.md
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
  website/docs/docs/collaborate/git/managed-repository.md
  website/docs/guides/dbt-ecosystem/databricks-guides/productionizing-your-dbt-databricks-project.md
Labels: content, size: x-small, guides, Docs team
