Repository dbt-labs/docs.getdbt.com, pull requests merged in 2023-05, with the labels that each got.

#3306 Configure a `unique_key` for incremental materialization
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: small

#3315 Release notes: April IDE updates
  website/docs/docs/dbt-versions/release-notes/09-April-2023/apr-ide-updates.md
Labels: content, size: small, release note, Docs team

#3310 Correct typo in documentation
  website/docs/faqs/Models/configurable-model-path.md
Labels: content, size: x-small, new contributor

#3317 Add show to versioned pages
  website/dbt-versions.js
Labels: size: x-small, Docs team

#3260 add callout to avoid profile.yml confusion for cloud users
  website/docs/docs/core/about-the-cli.md
  website/docs/reference/profiles.yml.md
  website/docs/reference/warehouse-setups/bigquery-setup.md
  website/docs/reference/warehouse-setups/clickhouse-setup.md
  website/docs/reference/warehouse-setups/databricks-setup.md
  website/docs/reference/warehouse-setups/doris-setup.md
  website/docs/reference/warehouse-setups/glue-setup.md
  website/docs/reference/warehouse-setups/materialize-setup.md
  website/docs/reference/warehouse-setups/postgres-setup.md
  website/docs/reference/warehouse-setups/redshift-setup.md
  website/docs/reference/warehouse-setups/snowflake-setup.md
  website/docs/reference/warehouse-setups/spark-setup.md
  website/docs/reference/warehouse-setups/trino-setup.md
  website/sidebars.js
  website/snippets/ide-ga-banner.md
  website/snippets/warehouse-setups-cloud-callout.md
Labels: content, size: medium, Docs team

#3313 Updated Starburst Galaxy Quickstart
  website/docs/docs/quickstarts/dbt-cloud/starburst-galaxy-qs.md
  website/static/img/quickstarts/dbt-cloud/starburst-galaxy-config-s3.png
Labels: content, size: x-small, new contributor

#3276 Fix duplicate title tags development
  website/docs/docs/about/overview.md
  website/docs/docs/build/exposures.md
  website/docs/docs/build/metrics.md
  website/docs/docs/build/seeds.md
  website/docs/docs/build/snapshots.md
  website/docs/docs/build/sources.md
  website/docs/docs/build/tests.md
  website/docs/docs/dbt-cloud-apis/schema-metadata-exposures.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-metrics.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-model.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-seed.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-seeds.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-snapshots.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-source.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-tests.mdx
  website/docs/reference/artifacts/dbt-artifacts.md
  website/docs/reference/artifacts/sources-json.md
  website/docs/reference/commands/cmd-docs.md
  website/docs/reference/commands/debug.md
  website/docs/reference/commands/seed.md
  website/docs/reference/commands/source.md
  website/docs/reference/commands/test.md
  website/docs/reference/dbt-jinja-functions/config.md
  website/docs/reference/dbt-jinja-functions/debug-method.md
  website/docs/reference/dbt-jinja-functions/model.md
  website/docs/reference/dbt-jinja-functions/schema.md
  website/docs/reference/dbt-jinja-functions/source.md
  website/docs/reference/project-configs/quoting.md
  website/docs/reference/resource-configs/database.md
  website/docs/reference/resource-configs/docs.md
  website/docs/reference/resource-configs/schema.md
  website/docs/reference/resource-configs/tags.md
  website/docs/reference/resource-properties/config.md
  website/docs/reference/resource-properties/database.md
  website/docs/reference/resource-properties/quoting.md
  website/docs/reference/resource-properties/schema.md
  website/docs/reference/resource-properties/tests.md
  website/docusaurus.config.js
  website/src/pages/community/forum.js
Labels: content, size: medium

#3230 Update model.md
  website/docs/reference/artifacts/manifest-json.md
  website/docs/reference/dbt-jinja-functions/model.md
Labels: content, size: medium, Docs team

#3323 Update model.md
  website/docs/reference/dbt-jinja-functions/model.md
Labels: content, size: x-small

#3324 Revert "Fix duplicate title tags development"
  website/docs/docs/about/overview.md
  website/docs/docs/build/exposures.md
  website/docs/docs/build/metrics.md
  website/docs/docs/build/seeds.md
  website/docs/docs/build/snapshots.md
  website/docs/docs/build/sources.md
  website/docs/docs/build/tests.md
  website/docs/docs/dbt-cloud-apis/schema-metadata-exposures.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-metrics.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-model.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-seed.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-seeds.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-snapshots.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-source.mdx
  website/docs/docs/dbt-cloud-apis/schema-metadata-tests.mdx
  website/docs/reference/artifacts/dbt-artifacts.md
  website/docs/reference/artifacts/sources-json.md
  website/docs/reference/commands/cmd-docs.md
  website/docs/reference/commands/debug.md
  website/docs/reference/commands/seed.md
  website/docs/reference/commands/source.md
  website/docs/reference/commands/test.md
  website/docs/reference/dbt-jinja-functions/config.md
  website/docs/reference/dbt-jinja-functions/debug-method.md
  website/docs/reference/dbt-jinja-functions/schema.md
  website/docs/reference/dbt-jinja-functions/source.md
  website/docs/reference/project-configs/quoting.md
  website/docs/reference/resource-configs/database.md
  website/docs/reference/resource-configs/docs.md
  website/docs/reference/resource-configs/schema.md
  website/docs/reference/resource-configs/tags.md
  website/docs/reference/resource-properties/config.md
  website/docs/reference/resource-properties/database.md
  website/docs/reference/resource-properties/quoting.md
  website/docs/reference/resource-properties/schema.md
  website/docs/reference/resource-properties/tests.md
  website/docusaurus.config.js
  website/src/pages/community/forum.js
Labels: content, size: medium, Docs team

#3320 Update dbt-cloud-tips.md
  website/docs/docs/cloud/dbt-cloud-tips.md
Labels: content, size: small, Docs team

#3319 Update set-up-snowflake-oauth.md
  website/docs/docs/cloud/manage-access/set-up-snowflake-oauth.md
Labels: content, size: small

#3312 Clarify reasonable use language
  website/docs/docs/dbt-cloud-apis/metadata-querying.md
Labels: content, size: x-small

#3329 Some top-level options are now only on sub-commands
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
Labels: content, size: x-small, guides

#3150 New IDE user interface and subfolder
  website/docs/docs/cloud/about-cloud/about-cloud-ide.md
  website/docs/docs/cloud/about-cloud/architecture.md
  website/docs/docs/cloud/about-cloud/dbt-cloud-features.md
  website/docs/docs/cloud/dbt-cloud-ide/dbt-cloud-tips.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/collaborate/environments/dbt-cloud-environments.md
  website/docs/docs/collaborate/git/merge-conflicts.md
  website/docs/docs/collaborate/git/version-control-basics.md
  website/docs/docs/dbt-versions/release-notes/10-Mar-2023/mar-ide-updates.md
  website/docs/docs/dbt-versions/release-notes/11-Feb-2023/feb-ide-updates.md
  website/docs/docs/dbt-versions/release-notes/12-Jan-2023/ide-updates.md
  website/docs/docs/dbt-versions/release-notes/24-Nov-2022/ide-features-ide-deprecation.md
  website/docs/docs/dbt-versions/release-notes/25-Oct-2022/new-ide-launch.md
  website/docs/docs/dbt-versions/release-notes/35-dbt-cloud-changelog-2019-2020.md
  website/docs/docs/deploy/job-commands.md
  website/docs/docs/running-a-dbt-project/run-your-dbt-projects.md
  website/docs/reference/dbt-commands.md
  website/sidebars.js
  website/static/_redirects
  website/static/img/docs/dbt-cloud/cloud-ide/change-branch-modal.png
  website/static/img/docs/dbt-cloud/cloud-ide/commit-changes-modal.png
  website/static/img/docs/dbt-cloud/cloud-ide/compiled-code-console-tab.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/editing-components-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/editor-tab-menu-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-basic-layout.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-cmd-status.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-console-overview.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-csv.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-editing.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-editor-command-palette-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-file-search-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-git-diff-view-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-global-command-palette-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-inv-history-drawer.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-markdown-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-minimap.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-options-menu-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-results.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-side-menu.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-status-modal-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/invocation-components-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/lineage-console-tab.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/results-console-tab.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/revert-uncommitted-changes-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/version-control-options-menu.png
Labels: content, size: large, Docs team

#3335 Add tip callout for videos
  website/docs/docs/quickstarts/dbt-cloud/starburst-galaxy-qs.md
Labels: content, size: x-small, Docs team

#3166 Updates to SSO URIs (DO NOT PUBLISH UNTIL AUTH0 IS LIVE)
  website/docs/docs/cloud/manage-access/set-up-sso-azure-active-directory.md
  website/docs/docs/cloud/manage-access/set-up-sso-google-workspace.md
  website/docs/docs/cloud/manage-access/set-up-sso-okta.md
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: small, Docs team

#3158 Auth0 Migration instructions (DO NOT MERGE UNTIL AUTH0 MIGRATION IS LIVE)
  website/docs/docs/cloud/manage-access/auth0-migration.md
  website/docs/docs/cloud/manage-access/set-up-sso-azure-active-directory.md
  website/sidebars.js
  website/snippets/auth0-uri.md
  website/static/img/docs/dbt-cloud/access-control/aad-app-registration.png
  website/static/img/docs/dbt-cloud/access-control/app-overview.png
  website/static/img/docs/dbt-cloud/access-control/cloud-sso-fields.png
  website/static/img/docs/dbt-cloud/access-control/enable-auth0.png
  website/static/img/docs/dbt-cloud/access-control/google-cloud-sso.png
  website/static/img/docs/dbt-cloud/access-control/google-uri.png
  website/static/img/docs/dbt-cloud/access-control/new-okta-completed.png
  website/static/img/docs/dbt-cloud/access-control/new-okta-config.png
  website/static/img/docs/dbt-cloud/access-control/redirect-URI.png
  website/static/img/docs/dbt-cloud/access-control/sso-project.png
Labels: content, size: medium, Docs team

#3337 dbt-snowflake supports Python 3.11 now
  website/docs/faqs/Core/install-python-compatibility.md
Labels: content, size: x-small

#3305 Add Model contracts section
  website/docs/reference/resource-configs/trino-configs.md
Labels: content, size: x-small

#3346 Update Exclude
  website/docs/reference/node-selection/exclude.md
Labels: content, size: x-small, new contributor

#3347 Add dbt test and dbt build to fail fast
  website/docs/reference/global-configs.md
Labels: content, size: x-small, new contributor

#3345 Fix for issue 2893 capitalize YAML [REVIEW]
  website/blog/2021-09-15-september-21-product-email.md
  website/blog/2023-02-14-passing-the-dbt-certification-exam.md
  website/docs/docs/build/seeds.md
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
  website/docs/docs/collaborate/govern/model-access.md
  website/docs/docs/collaborate/govern/model-contracts.md
  website/docs/docs/dbt-versions/release-notes/33-January-2022/IDE-autocomplete-more.md
  website/docs/docs/quickstarts/dbt-core/manual-install-qs.md
  website/docs/faqs/Docs/document-all-columns.md
  website/docs/faqs/Project/yaml-file-extension.md
  website/docs/guides/legacy/getting-help.md
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
  website/docs/guides/migration/versions/08-upgrading-to-v1.0.md
  website/docs/guides/migration/versions/09-upgrading-to-v0.21.md
  website/docs/guides/migration/versions/11-Older versions/upgrading-to-0-17-0.md
  website/docs/guides/orchestration/custom-cicd-pipelines/2-lint-on-push.md
  website/docs/guides/orchestration/custom-cicd-pipelines/3-dbt-cloud-job-on-merge.md
  website/docs/guides/orchestration/custom-cicd-pipelines/4-dbt-cloud-job-on-pr.md
  website/docs/reference/configs-and-properties.md
  website/docs/reference/dbt-jinja-functions/as_text.md
  website/docs/reference/dbt-jinja-functions/env_var.md
  website/docs/reference/dbt-jinja-functions/fromyaml.md
  website/docs/reference/dbt-jinja-functions/toyaml.md
  website/docs/reference/global-configs.md
  website/docs/reference/model-configs.md
  website/docs/reference/node-selection/yaml-selectors.md
  website/docs/reference/project-configs/query-comment.md
  website/docs/reference/project-configs/require-dbt-version.md
  website/docs/reference/resource-configs/contract.md
  website/docs/reference/resource-configs/firebolt-configs.md
  website/docs/reference/resource-configs/grants.md
  website/docs/reference/resource-configs/meta.md
  website/docs/reference/resource-properties/access.md
  website/docs/reference/resource-properties/config.md
  website/docs/reference/resource-properties/description.md
  website/docs/reference/resource-properties/versions.md
  website/docs/reference/seed-configs.md
  website/docs/reference/snapshot-configs.md
  website/docs/reference/source-configs.md
  website/docs/reference/warehouse-setups/trino-setup.md
  website/docs/sql-reference/other/sql-comments.md
  website/docs/terms/dry.md
Labels: content, size: medium, developer blog, guides, new contributor

#3221 Data Engineers + dbt 1.5: Evolving the Craft for Scale
  website/blog/2023-05-01-evolving-data-engineer-craft.md
Labels: size: medium, developer blog

#3358 Change `source-paths` to `model-paths`
  website/docs/guides/dbt-ecosystem/dbt-python-snowpark/6-foundational-structure.md
Labels: content, size: x-small, guides, new contributor

#3355 Add Iceberg to the docs
  website/docs/reference/resource-configs/spark-configs.md
Labels: content, size: small, new contributor

#3361 Update cloud-ci-job.md
  website/docs/docs/deploy/cloud-ci-job.md
Labels: content, size: x-small

#3333 Deprecation/EOL clarification
  website/docs/docs/dbt-versions/core-versions.md
  website/snippets/core-versions-table.md
Labels: content, size: small, Docs team

#3363 Redirect claire's old structure blog to winnie's guide
  website/blog/2019-05-01-how-we-structure-dbt-projects.md
  website/blog/2021-02-05-dbt-project-checklist.md
  website/blog/2021-02-09-how-to-configure-your-dbt-repository-one-or-many.md
  website/blog/2021-11-26-welcome-to-the-dbt-developer-blog.md
  website/static/_redirects
Labels: content, size: large, developer blog

#3349 Add Optional Postgres SSL Connection Parameters
  website/docs/reference/warehouse-setups/postgres-setup.md
Labels: content, size: small, new contributor

#3371 Adding information about temp tables
  website/docs/docs/build/incremental-models.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: medium, Docs team

#3318 Document that print doesn't work in Python models
  website/docs/docs/build/python-models.md
Labels: content, size: x-small

#3211 add dbt compile faq
  website/docs/docs/running-a-dbt-project/run-your-dbt-projects.md
  website/docs/faqs/Warehouse/db-connection-dbt-compile.md
  website/docs/reference/commands/compile.md
Labels: content, size: small, Docs team

#3373 Update _redirects
  website/static/_redirects
Labels: content, size: x-small, Docs team

#3372 Delete old environments file
  website/docs/docs/collaborate/environments.md
Labels: content, size: small, Docs team

#3376 Updating links in style guide
  contributing/content-style-guide.md
Labels: size: small, Docs team

#3271 update docs redirects
  website/static/_redirects
Labels: content, size: small

#3381 Update auth0-migration.md
  website/docs/docs/cloud/manage-access/auth0-migration.md
  website/snippets/auth0-uri.md
Labels: content, size: x-small, Docs team

#1632 Fix/threads doc
  website/blog/2021-02-05-dbt-project-checklist.md
  website/docs/docs/core/connection-profiles.md
  website/docs/docs/dbt-versions/release-notes/23-Dec-2022/default-thread-value.md
  website/docs/docs/deploy/job-scheduler.md
  website/docs/docs/running-a-dbt-project/using-threads.md
  website/sidebars.js
  website/static/_redirects
Labels: content, size: small, developer blog

#3389 update used gh actions ahead of node12 deprecation
  .github/workflows/add_issue_to_project.yml
  .github/workflows/add_pr_to_project.yml
  .github/workflows/create_next_pr.yml
  .github/workflows/cypress_tests.yml
  .github/workflows/labelsizer.yml
  .github/workflows/lint.yml
  .github/workflows/team-labeler.yml
  website/blog/2022-07-26-pre-commit-dbt.md
  website/blog/2023-01-27-autoscaling-ci.md
  website/docs/guides/orchestration/custom-cicd-pipelines/2-lint-on-push.md
Labels: content, size: small, developer blog, guides, new contributor

#3390 Update content-style-guide.md
  contributing/content-style-guide.md
Labels: size: small, Docs team

#3338 Add Mikael's DevBlog
  website/blog/2023-05-04-generating-dynamic-docs.md
  website/blog/authors.yml
  website/static/img/blog/2023-05-04-generating-dynamic-docs/1.png
  website/static/img/blog/2023-05-04-generating-dynamic-docs/2.jpg
  website/static/img/blog/2023-05-04-generating-dynamic-docs/3.png
  website/static/img/blog/2023-05-04-generating-dynamic-docs/4.png
  website/static/img/blog/2023-05-04-generating-dynamic-docs/5.jpg
  website/static/img/blog/authors/mikael-thorup.jpeg
Labels: content, size: large, developer blog

#3393 Fix typo in creating-new-materializations.md
  website/docs/guides/advanced/creating-new-materializations.md
Labels: content, size: x-small, guides

#3388 Minor edits to formula1 guide
  website/docs/guides/dbt-ecosystem/dbt-python-snowpark/7-folder-structure.md
  website/docs/guides/dbt-ecosystem/dbt-python-snowpark/8-sources-and-staging.md
Labels: content, size: small, guides

#3387 Update 1-env-guide-overview.md
  website/docs/guides/best-practices/environment-setup/1-env-guide-overview.md
Labels: content, size: x-small, guides

#3283 Update about-cloud-setup.md
  website/docs/docs/cloud/about-cloud-setup.md
Labels: content, size: x-small, Docs team

#3394 adding ability to have 4 or 5 columns in cards
  website/docs/docs/cloud/about-cloud/dbt-cloud-features.md
  website/src/css/custom.css
Labels: content, size: small, Docs team

#3391 Update upgrade-core-in-cloud.md
  website/docs/docs/dbt-versions/upgrade-core-in-cloud.md
Labels: content, size: small

#3395 Updates to migration doc based on UX changes
  website/docs/docs/cloud/manage-access/auth0-migration.md
  website/static/img/docs/dbt-cloud/access-control/azure-enable.png
  website/static/img/docs/dbt-cloud/access-control/google-enable.png
  website/static/img/docs/dbt-cloud/access-control/saml-enable.png
Labels: content, size: small, Docs team

#3215 slim down slim ci description
  website/docs/docs/deploy/cloud-ci-job.md
Labels: content, size: small

#870 Update quoting.md with Snowflake example
  website/docs/reference/project-configs/quoting.md
Labels: content, good first issue, size: x-small, Hackathon

#3398 Link to debug-level logging
  website/docs/reference/commands/debug.md
Labels: content, size: x-small

#3378 add docs about permissions in sql server
  website/docs/reference/resource-configs/mssql-configs.md
Labels: content, size: small

#1121 Update metadata-querying.md
  website/docs/docs/dbt-cloud/dbt-cloud-api/metadata/metadata-querying.md
  website/snippets/metadata-api-prerequisites.md
Labels: content, size: medium, merge-conflict-cli

#3321 v1.5 guide: behavior change for empty tests key
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
Labels: content, size: small, guides

#3409 Update 2022-05-24-joining-snapshot-complexity.md
  website/blog/2022-05-24-joining-snapshot-complexity.md
Labels: size: small, developer blog

#3399 Update starburst-galaxy-qs.md
  website/docs/docs/quickstarts/dbt-cloud/starburst-galaxy-qs.md
Labels: content, size: x-small

#3417 Ly discovery api
  website/docs/docs/cloud/about-cloud/dbt-cloud-features.md
  website/docs/docs/dbt-cloud-apis/access-metadata-api.md
  website/docs/docs/dbt-cloud-apis/apis-overview.md
  website/docs/docs/dbt-cloud-apis/discovery-api.md
  website/docs/docs/dbt-cloud-apis/discovery-querying.md
  website/docs/docs/dbt-cloud-apis/discovery-use-cases-and-examples.md
  website/docs/docs/dbt-cloud-apis/metadata-api.md
  website/docs/docs/dbt-cloud-apis/metadata-querying.md
  website/docs/docs/dbt-cloud-apis/metadata-use-case-guides.md
  website/docs/docs/dbt-cloud-apis/schema-discovery-environment.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-exposure.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-exposures.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-metric.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-metrics.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-model.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-modelByEnv.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-models.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-seed.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-seeds.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-snapshots.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-source.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-sources.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-test.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-tests.mdx
  website/docs/docs/dbt-cloud-apis/schema.jsx
  website/docs/docs/dbt-cloud-apis/service-tokens.md
  website/docs/docs/dbt-cloud/dbt-cloud-api/metadata/metadata-querying.md
  website/docs/docs/dbt-versions/release-notes/26-Sept-2022/metadata-api-data-retention-limits.md
  website/docs/docs/deploy/about-state.md
  website/docs/docs/deploy/dashboard-status-tiles.md
  website/docs/docs/deploy/job-scheduler.md
  website/docs/docs/deploy/webhooks.md
  website/docs/docs/use-dbt-semantic-layer/dbt-semantic-layer.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-semantic-layer.md
  website/docs/guides/dbt-ecosystem/databricks-guides/how_to_optimize_dbt_models_on_databricks.md
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
  website/docs/guides/orchestration/webhooks/serverless-datadog.md
  website/sidebars.js
  website/snippets/available-beta-banner-metadata.md
  website/snippets/cloud-feature-parity.md
  website/snippets/discovery-public-preview-banner.md
  website/snippets/metadata-api-prerequisites.md
  website/snippets/sl-prerequisites.md
  website/snippets/sl-set-up-steps.md
  website/static/_redirects
  website/static/img/Filtering.png
  website/static/img/Paginate.png
  website/static/img/docs/dbt-cloud/discovery-api/data-freshness-metadata.jpg
  website/static/img/docs/dbt-cloud/discovery-api/dbt-dag.jpg
  website/static/img/docs/dbt-cloud/discovery-api/discovery-api-figure.png
  website/static/img/docs/dbt-cloud/discovery-api/example-dag.png
  website/static/img/docs/dbt-cloud/discovery-api/graphql.jpg
  website/static/img/docs/dbt-cloud/discovery-api/graphql_header.jpg
  website/static/img/docs/dbt-cloud/discovery-api/lineage-graph-with-freshness-info.png
  website/static/img/docs/dbt-cloud/discovery-api/lineage-graph.png
  website/static/img/docs/dbt-cloud/discovery-api/model-timing.jpg
  website/static/img/docs/dbt-cloud/discovery-api/plot-of-executiontime.png
  website/static/img/docs/dbt-cloud/discovery-api/plot-of-runelapsedtime.png
  website/static/img/docs/dbt-cloud/discovery-api/source-freshness-page.png
Labels: content, size: large, guides, Docs team

#3415 adding run history infoto deploy jobs page
  website/docs/docs/deploy/dbt-cloud-job.md
  website/static/img/docs/dbt-cloud/deployment/run-history.jpg
Labels: content, size: small, Docs team

#3418 Release notes for Discovery API
  website/docs/docs/dbt-versions/release-notes/08-May-2023/discovery-api-public-preview.md
Labels: content, size: small, Docs team

#2090 Update test-selection-examples.md
  website/docs/reference/node-selection/test-selection-examples.md
Labels: content, size: x-small

#3421 update image to remove master branch
  website/static/img/docs/dbt-cloud/deployment/run-history.jpg
Labels: content, size: x-small, Docs team

#3420 Adding migration information to Auth0 doc
  website/docs/docs/cloud/manage-access/auth0-migration.md
  website/static/img/docs/dbt-cloud/access-control/begin-migration.png
  website/static/img/docs/dbt-cloud/access-control/sso-migration-available.png
Labels: content, size: small, Docs team

#3419 Bug/versioned toc
  website/src/theme/DocItem/Layout/index.js
Labels: size: medium

#3423 Andrefurlan db db docs
  website/docs/docs/build/incremental-models.md
  website/docs/guides/dbt-ecosystem/databricks-guides/how-to-set-up-your-databricks-dbt-project.md
  website/docs/reference/model-configs.md
  website/docs/reference/resource-configs/databricks-configs.md
  website/docs/reference/resource-configs/persist_docs.md
  website/docs/reference/resource-properties/freshness.md
  website/docs/reference/warehouse-setups/databricks-setup.md
  website/sidebars.js
Labels: content, size: large, guides, Docs team

#3424 Update databricks-configs.md
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: x-small

#3425 Update databricks-configs.md
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: x-small

#3427 Release note for run history improvements
  website/docs/docs/dbt-versions/release-notes/08-May-2023/run-history-improvements.md
  website/static/img/docs/release-notes/run-history-improvements.gif
Labels: content, size: small, Docs team

#3429 Update Discovery API release note
  website/docs/docs/dbt-versions/release-notes/08-May-2023/discovery-api-public-preview.md
  website/docs/docs/dbt-versions/release-notes/08-May-2023/run-details-and-logs-improvements.md
Labels: content, size: small, Docs team

#3436 Updating the auth0 guide per feedback
  website/docs/docs/cloud/manage-access/auth0-migration.md
  website/snippets/auth0-uri.md
  website/static/img/docs/dbt-cloud/access-control/new-okta-completed.png
Labels: content, size: x-small, Docs team

#3433 Update setup-azure.md
  website/docs/docs/cloud/git/setup-azure.md
Labels: content, size: small

#3416 update metrics calculate grain description
  website/docs/docs/build/metrics.md
Labels: content, size: x-small, auto update

#3438 Update sidebars.js - rename Cloud APIs for clarity
  website/sidebars.js
Labels: size: x-small

#3440 Adding note about login slug to Auth0
  website/docs/docs/cloud/manage-access/auth0-migration.md
Labels: content, size: x-small, Docs team

#3442 Fix redirect
  website/static/_redirects
Labels: content, size: x-small, Docs team

#3445 Changing Auth0 enablement language
  website/docs/docs/cloud/manage-access/auth0-migration.md
Labels: content, size: small, Docs team
