Repository dbt-labs/docs.getdbt.com, pull requests merged in 2023-08, with the labels that each got.

#3839 remove retry from cloud supported commands
  website/docs/reference/commands/retry.md
  website/docs/reference/dbt-commands.md
Labels: content, size: x-small

#3842 Fix beta tag
  website/docs/guides/best-practices/how-we-build-our-metrics/semantic-layer-1-intro.md
Labels: content, size: x-small, guides

#3840 Fix broken links to "Related documentation"
  website/docs/docs/build/custom-aliases.md
Labels: content, size: x-small

#3735 Placement of command options
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
  website/docs/reference/project-configs/log-path.md
  website/docs/reference/project-configs/target-path.md
Labels: content, size: medium, guides, Docs team, auto update

#3841 add migration guide
  website/docs/guides/migration/sl-migration.md
  website/sidebars.js
Labels: content, size: medium, guides, auto update

#3844 add focus areas to 1.6 release docs
  website/docs/guides/migration/versions/01-upgrading-to-v1.6.md
Labels: content, size: x-small, guides

#3847 Add callout to homebrew docs
  website/docs/docs/core/homebrew-install.md
  website/docs/guides/migration/versions/01-upgrading-to-v1.6.md
Labels: content, size: x-small, guides

#3848 Fix warehouse->snowflake_warehouse in MV documentation
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: x-small, new contributor

#3807 update dbt commands
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/reference/dbt-commands.md
Labels: content, size: medium, Docs team

#3855 IDE v1.2 release note
  website/docs/docs/dbt-versions/release-notes/05-Aug-2023/ide-v1.2.md
Labels: content, size: small, Docs team

#3857 Update snowflake-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: x-small

#3856 Update ide-v1.2.md
  website/docs/docs/dbt-versions/release-notes/05-Aug-2023/ide-v1.2.md
  website/package-lock.json
  website/static/_redirects
Labels: content, size: large, Docs team

#3849 Add in Developer Blog announcing Materialized Views
  website/blog/2023-08-01-announcing-materialized-views.md
  website/blog/authors.yml
  website/static/img/blog/2023-08-01-announcing-materialized-views/materialized-incremental-twins.jpg
  website/static/img/blog/2023-08-01-announcing-materialized-views/streaming-pipeline.png
Labels: content, size: medium, developer blog

#3858 Making Semantic Layer QS and getting started guides consistent
  website/docs/docs/build/sl-getting-started.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-sl.md
  website/snippets/_sl-configure-metricflow.md
  website/snippets/_sl-create-semanticmodel.md
  website/snippets/_sl-define-metrics.md
  website/snippets/_sl-install-metricflow.md
  website/snippets/_sl-test-and-query-metrics.md
Labels: content, size: large, Docs team

#3859 Update _new-sl-setup.md
  website/snippets/_new-sl-setup.md
Labels: content, size: x-small, Docs team

#3806 CI updates phase 2
  website/docs/docs/dbt-versions/release-notes/07-June-2023/ci-updates-phase1-rn.md
  website/docs/docs/dbt-versions/release-notes/07-June-2023/product-docs-jun.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/continuous-integration.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/deploy/job-settings.md
  website/docs/guides/best-practices/environment-setup/1-env-guide-overview.md
  website/docs/guides/best-practices/environment-setup/2-one-deployment-environment.md
  website/docs/guides/best-practices/environment-setup/3-many-deployment-environments.md
  website/docs/guides/dbt-ecosystem/databricks-guides/productionizing-your-dbt-databricks-project.md
  website/docs/guides/legacy/best-practices.md
  website/docs/guides/orchestration/custom-cicd-pipelines/4-dbt-cloud-job-on-pr.md
  website/docs/reference/commands/clone.md
  website/sidebars.js
  website/snippets/cloud-feature-parity.md
  website/static/_redirects
  website/static/img/docs/dbt-cloud/using-dbt-cloud/ci-job-adv-settings.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/create-ci-job.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/create-deploy-job.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/deploy-job-adv-settings.png
Labels: content, size: medium, guides, Docs team, auto update

#3860 Updating Usage Language
  website/docs/reference/global-configs/usage-stats.md
Labels: content, size: x-small, Docs team

#3814 Update grants.md with grant syntax note
  website/docs/reference/resource-configs/grants.md
Labels: content, size: x-small

#3861 Update Cloud support for retry with additional nuance
  website/docs/reference/commands/retry.md
  website/docs/reference/dbt-commands.md
Labels: content, size: x-small, auto update

#3864 Update sl-migration.md
  website/docs/guides/migration/sl-migration.md
Labels: content, size: x-small, guides

#3828 Update typo in 4-dbt-cloud-job-on-pr.md
  website/docs/guides/orchestration/custom-cicd-pipelines/4-dbt-cloud-job-on-pr.md
Labels: content, size: x-small, guides, new contributor

#3865 Typo in code example
  website/docs/docs/build/cumulative-metrics.md
Labels: content, size: x-small

#3850 Add screenshot to prod environment setup
  website/docs/docs/deploy/deploy-environments.md
  website/static/img/docs/dbt-cloud/using-dbt-cloud/prod-settings.jpg
Labels: content, size: x-small

#3866 Align allowed aggregations
  website/docs/docs/build/measures.md
Labels: content, size: x-small

#3863 Add link to Related docs section
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
Labels: content, size: x-small, Docs team, auto update

#3871 Update semantic-layer-3-build-semantic-models.md
  website/docs/guides/best-practices/how-we-build-our-metrics/semantic-layer-3-build-semantic-models.md
Labels: content, size: small, guides, Docs team

#3872 Adding Databricks to MV
  website/docs/guides/migration/versions/01-upgrading-to-v1.6.md
Labels: content, size: x-small, guides, Docs team

#3852 Fixing broken internal links
  website/docs/docs/build/jinja-macros.md
  website/docs/docs/build/python-models.md
  website/docs/docs/cloud/git/connect-github.md
  website/docs/docs/collaborate/govern/model-contracts.md
  website/docs/guides/best-practices/materializations/materializations-guide-3-configuring-materializations.md
  website/docs/guides/best-practices/materializations/materializations-guide-4-incremental-models.md
  website/docs/guides/migration/tools/refactoring-legacy-sql.md
  website/docs/guides/orchestration/webhooks/zapier-ms-teams.md
  website/docs/guides/orchestration/webhooks/zapier-new-cloud-job.md
  website/docs/guides/orchestration/webhooks/zapier-refresh-mode-report.md
  website/docs/guides/orchestration/webhooks/zapier-refresh-tableau-workbook.md
  website/docs/guides/orchestration/webhooks/zapier-slack.md
  website/docs/quickstarts/snowflake-qs.md
Labels: content, size: small, guides, Docs team

#3722 Create new guide for updated CI
  website/docs/guides/best-practices/environment-setup/1-env-guide-overview.md
  website/docs/guides/best-practices/environment-setup/2-one-deployment-environment.md
  website/docs/guides/best-practices/environment-setup/3-many-deployment-environments.md
  website/docs/guides/orchestration/custom-cicd-pipelines/1-cicd-background.md
  website/docs/guides/orchestration/set-up-ci/1-introduction.md
  website/docs/guides/orchestration/set-up-ci/2-quick-setup.md
  website/docs/guides/orchestration/set-up-ci/3-run-dbt-project-evaluator.md
  website/docs/guides/orchestration/set-up-ci/4-lint-on-push.md
  website/docs/guides/orchestration/set-up-ci/5-multiple-checks.md
  website/sidebars.js
  website/static/_redirects
Labels: content, size: large, guides

#3875 Fast-follow for CI improvements beta
  website/docs/docs/deploy/ci-jobs.md
Labels: content, size: x-small, Docs team

#3878 Update ratio metrics overview to reference metrics instead of measures
  website/docs/docs/build/metrics-overview.md
Labels: content, size: small

#3880 Update ratio-metrics.md to reflect use of metrics as inputs
  website/docs/docs/build/ratio-metrics.md
Labels: content, size: small

#3867 Update build-metrics-intro.md
  website/docs/docs/build/build-metrics-intro.md
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/sl-getting-started.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-sl.md
  website/snippets/_v2-sl-prerequisites.md
Labels: content, size: small, Docs team

#3851 Update 'How we structure' for SL
  website/docs/guides/best-practices/how-we-structure/1-guide-overview.md
  website/docs/guides/best-practices/how-we-structure/2-staging.md
  website/docs/guides/best-practices/how-we-structure/3-intermediate.md
  website/docs/guides/best-practices/how-we-structure/4-marts.md
  website/docs/guides/best-practices/how-we-structure/5-semantic-layer-marts.md
  website/docs/guides/best-practices/how-we-structure/6-the-rest-of-the-project.md
  website/sidebars.js
Labels: content, size: medium, guides

#3836 add additional webhooks timeout info
  website/docs/docs/deploy/webhooks.md
Labels: content, size: x-small

#3883 Update language to be more mf-clear
  website/docs/guides/best-practices/how-we-build-our-metrics/semantic-layer-1-intro.md
  website/docs/guides/best-practices/how-we-build-our-metrics/semantic-layer-2-setup.md
  website/docs/guides/best-practices/how-we-build-our-metrics/semantic-layer-3-build-semantic-models.md
  website/docs/guides/best-practices/how-we-build-our-metrics/semantic-layer-4-build-metrics.md
  website/docs/guides/best-practices/how-we-build-our-metrics/semantic-layer-5-refactor-a-mart.md
  website/docs/guides/best-practices/how-we-build-our-metrics/semantic-layer-6-advanced-metrics.md
  website/docs/guides/best-practices/how-we-build-our-metrics/semantic-layer-7-conclusion.md
Labels: content, size: medium, guides

#3869 Fix typo
  website/docs/reference/resource-configs/redshift-configs.md
Labels: content, size: x-small, new contributor

#3846 Fix error in predicates
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small

#3887 SL fast follows
  website/docs/docs/build/cumulative-metrics.md
  website/docs/docs/build/dimensions.md
  website/docs/docs/build/join-logic.md
  website/docs/docs/build/measures.md
  website/docs/docs/build/semantic-models.md
  website/docs/docs/build/validation.md
  website/snippets/_sl-partner-links.md
Labels: content, size: medium, Docs team

#3874 Example usage of `foreign_key` and `unique` constraints
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small

#3892 Adding billing page
  website/docs/docs/cloud/billing.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#3884 Remove dbt updates tag from devblog
  website/blog/2021-09-15-september-21-product-email.md
  website/blog/2021-10-15-october-21-product-update-email.md
  website/blog/2021-11-15-november-21-product-email.md
  website/blog/2022-08-31-august-product-update.md
  website/blog/2022-10-19-polyglot-dbt-python-dataframes-and-sql.md
  website/blog/2023-04-26-deprecating-dbt-metrics.md
  website/blog/2023-05-01-evolving-data-engineer-craft.md
  website/blog/categories.yml
Labels: size: small, developer blog

#3873 Update docs to reflect Teradata as a verified adapter
  website/docs/docs/supported-data-platforms.md
  website/static/img/icons/teradata.svg
  website/static/img/icons/white/teradata.svg
Labels: content, size: x-small

#3895 sl docs fast follows based on user feedback
  website/docs/docs/build/cumulative-metrics.md
  website/docs/docs/build/derived-metrics.md
  website/docs/docs/build/dimensions.md
  website/docs/docs/build/measures.md
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/ratio-metrics.md
  website/docs/docs/build/simple.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
  website/snippets/_sl-define-metrics.md
Labels: content, size: medium

#3893 Fixing italics on Billing FAQ
  website/docs/docs/cloud/billing.md
Labels: content, size: x-small, Docs team

#3891 Update enterprise-permissions.md
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: small, Docs team

#3885 Update database.md
  website/docs/reference/resource-configs/database.md
Labels: content, size: x-small

#3843 version block
  website/docs/reference/resource-configs/postgres-configs.md
  website/docs/reference/resource-configs/redshift-configs.md
Labels: content, size: small

#3831 Update pr-template.md
  website/docs/docs/collaborate/git/pr-template.md
Labels: content, size: x-small

#3896 SL fast follows, query link, and clarify primary entity
  website/docs/docs/build/cumulative-metrics.md
  website/docs/docs/build/dimensions.md
  website/docs/docs/build/semantic-models.md
  website/docs/docs/build/sl-getting-started.md
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-sl.md
  website/docs/docs/use-dbt-semantic-layer/sl-architecture.md
  website/docs/guides/migration/sl-migration.md
  website/snippets/_new-sl-setup.md
  website/snippets/_sl-test-and-query-metrics.md
  website/static/img/docs/dbt-cloud/semantic-layer/new-sl-configure.jpg
  website/static/img/docs/dbt-cloud/semantic-layer/sl-configure-example.jpg
  website/static/img/docs/dbt-cloud/semantic-layer/sl-initial-page.jpg
Labels: content, size: medium, guides, Docs team

#3879 Alpha docs for CLI
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: medium, Docs team

#3900 Found another typo in the table and we had a duplicate query
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
Labels: content, size: small

#3898 update avail integration content
  website/docs/guides/migration/sl-migration.md
  website/snippets/_sl-partner-links.md
Labels: content, size: x-small, guides, Docs team

#3876 Update metrics-overview.md
  website/docs/docs/build/metrics-overview.md
Labels: content, size: x-small

#3835 Update discovery-querying.md
  website/docs/docs/dbt-cloud-apis/discovery-querying.md
Labels: content, size: x-small

#3903 Update redshift-configs.md
  website/docs/reference/resource-configs/redshift-configs.md
Labels: content, size: x-small

#3906 Update cumulative-metrics.md
  website/docs/docs/build/cumulative-metrics.md
Labels: content, size: x-small, new contributor

#3825 disambiguate version and versions
  website/docs/docs/collaborate/govern/model-versions.md
  website/docs/reference/project-configs/version.md
  website/docs/reference/resource-properties/versions.md
  website/snippets/_version-callout.md
Labels: content, size: small, Docs team

#3899 Update sidebar, landing page, and add new pages
  website/blog/2023-07-03-data-vault-2-0-with-dbt-cloud.md
  website/docs/docs/dbt-versions/release-notes/07-June-2023/product-docs-jun.md
  website/docs/docs/dbt-versions/release-notes/09-April-2023/product-docs.md
  website/docs/docs/dbt-versions/release-notes/23-Dec-2022/new-jobs-default-as-off.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/dbt-cloud-job.md
  website/docs/docs/deploy/deploy-environments.md
  website/docs/docs/deploy/deploy-jobs.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/deploy/deployment-tools.md
  website/docs/docs/deploy/job-commands.md
  website/docs/docs/deploy/job-scheduler.md
  website/docs/docs/deploy/job-triggers.md
  website/docs/docs/deploy/jobs.md
  website/docs/guides/dbt-ecosystem/databricks-guides/productionizing-your-dbt-databricks-project.md
  website/docs/guides/orchestration/how-to-use-databricks-workflows-to-run-dbt-cloud-jobs.md
  website/docs/quickstarts/bigquery-qs.md
  website/docs/quickstarts/databricks-qs.md
  website/docs/quickstarts/redshift-qs.md
  website/docs/quickstarts/snowflake-qs.md
  website/sidebars.js
  website/static/_redirects
Labels: content, size: large, developer blog, guides, Docs team, auto update

#3736 Update constraints.md
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: medium, dbt-core v1.5, Docs team

#3905 Update set-up-sso-saml-2.0.md to remove unnecessary link
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: x-small, new contributor

#3916 Updating billing page
  website/docs/docs/cloud/billing.md
Labels: content, size: small, Docs team

#3915 Changes
  website/docs/guides/orchestration/custom-cicd-pipelines/3-dbt-cloud-job-on-merge.md
Labels: content, size: x-small, guides, Docs team

#3917 Clarify flags for compile
  website/docs/reference/commands/compile.md
Labels: content, size: x-small

#3918 Removing dangling sentence
  website/docs/docs/collaborate/govern/model-access.md
Labels: content, size: x-small, new contributor

#3919 Remove "new in 0.9.0" callout
  website/docs/reference/dbt-jinja-functions/ref.md
Labels: content, size: x-small, auto update

#3922 remove callout
  website/docs/faqs/Environments/delete-environment-job.md
Labels: content, size: small, Docs team

#3920 Fix revenue example indentation on about-metricflow.md
  website/docs/docs/build/about-metricflow.md
Labels: content, size: small, new contributor, auto update

#3923 [Request] Update grammar in custom-schemas.md ⚓️🏴‍☠️😄
  website/docs/docs/build/custom-schemas.md
Labels: content, size: x-small

#3925 adding migration guide link
  website/docs/guides/migration/versions/01-upgrading-to-v1.6.md
Labels: content, size: x-small, guides, Docs team

#3534 Restructure docs
  website/docs/docs/core/connect-data-platform/redshift-setup.md
Labels: content, size: medium

#3926 Update deployment-tools.md
  website/docs/docs/deploy/deployment-tools.md
Labels: content, size: x-small

#3927 Update deployment-tools.md
  website/docs/docs/deploy/deployment-tools.md
Labels: content, size: x-small

#3928 Adds information about custom .sqlfluff and .sqlfluffignore files
  website/docs/docs/cloud/dbt-cloud-ide/lint-format.md
  website/docs/guides/best-practices/how-we-style/2-how-we-style-our-sql.md
Labels: content, size: small, guides

#3931 Add beta feature flag instructions
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: small, new contributor

#3930 Run introspection query with fields(includeDeprecated: true)
  website/docs/docs/dbt-cloud-apis/schema.jsx
Labels: content, size: x-small

#3902 add new EAT section in dbt cloud env page
  website/snippets/_cloud-environments-info.md
  website/static/img/docs/dbt-cloud/using-dbt-cloud/extended-attributes.jpg
Labels: content, size: small, Docs team

#3936 Update delete-environment-job.md
  website/docs/faqs/Environments/delete-environment-job.md
Labels: content, size: x-small, Docs team

#3622 Add example of `server_side_parameters`
  website/docs/docs/core/connect-data-platform/spark-setup.md
Labels: content, size: small

#3947 Update sl-jdbc.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
Labels: content, size: x-small

#3948 Update available-enterprise-tier-only.md
  website/snippets/available-enterprise-tier-only.md
Labels: content, size: x-small

#3949 Increment steps between pages.
  website/docs/guides/orchestration/custom-cicd-pipelines/4-dbt-cloud-job-on-pr.md
Labels: content, size: x-small, guides

#3946 update dbt-databricks docs
  website/docs/docs/core/connect-data-platform/databricks-setup.md
Labels: content, size: medium

#3950 clarify SL set up permissions
  website/snippets/_new-sl-setup.md
Labels: content, size: x-small, Docs team

#3959 Update cloud-seats-and-users.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
Labels: content, size: x-small

#3961 Update cloud-seats-and-users.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
Labels: content, size: x-small, Docs team

#3955 Update cloud-cli-installation.md
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: small

#3944 Adapter constraint support tables
  website/docs/docs/collaborate/govern/model-contracts.md
Labels: content, size: medium, Docs team

#3960 Add venv to install instructions page
  website/docs/docs/core/pip-install.md
Labels: content, size: small

#3965 Update dbt-classes.md
  website/docs/reference/dbt-classes.md
Labels: content, size: x-small, Docs team

#3962 Remove redundant characters from Auth0 SSO URIs
  website/snippets/auth0-uri.md
Labels: content, size: x-small

#3954 Update meta config
  website/docs/reference/resource-configs/meta.md
Labels: content, size: x-small

#3956 Update page title for source configs
  website/docs/reference/source-configs.md
Labels: content, size: x-small

#3967 Update develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
Labels: content, size: x-small, Docs team

#3966 Update metricflow-cli.md
  website/docs/docs/build/metricflow-cli.md
Labels: content, size: medium, Docs team

#3971 discovery-api: Remove legacy job schemas
  website/docs/docs/dbt-cloud-apis/discovery-api.md
  website/docs/docs/dbt-cloud-apis/discovery-querying.md
  website/docs/docs/dbt-cloud-apis/schema-discovery-exposure.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-exposures.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-job-metric.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-metric.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-metrics.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-model.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-modelByEnv.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-models.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-seed.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-seeds.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-snapshots.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-source.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-sources.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-test.mdx
  website/docs/docs/dbt-cloud-apis/schema-discovery-tests.mdx
  website/docs/guides/orchestration/webhooks/serverless-datadog.md
  website/sidebars.js
  website/static/_redirects
Labels: content, size: large, guides

#3386 Update 01-upgrading-to-v1.6.md
  website/docs/guides/migration/versions/01-upgrading-to-v1.6.md
Labels: content, size: small, guides, Docs team, dbt-core v1.6, do not merge

#3973 Updating Billing language
  website/docs/docs/cloud/billing.md
Labels: content, size: x-small, Docs team

#3974 Update sl-jdbc.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
Labels: content, size: x-small

#3972 Fix rendering of `config-version: 2` (and its link)
  website/docs/reference/resource-configs/plus-prefix.md
Labels: content, size: x-small

#3845 Add Upsolver documentation to DBT docs
  website/docs/docs/community-adapters.md
  website/docs/docs/core/connect-data-platform/upsolver-setup.md
  website/docs/reference/resource-configs/upsolver-configs.md
  website/sidebars.js
  website/static/_redirects
Labels: content, size: large, new contributor

#3942 adding preview/compile updates
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
Labels: content, size: x-small, Docs team

#3945 clarify SL test/query language
  website/docs/docs/build/sl-getting-started.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-sl.md
  website/sidebars.js
  website/snippets/_sl-create-semanticmodel.md
  website/snippets/_sl-define-metrics.md
  website/snippets/_sl-install-metricflow.md
  website/snippets/_sl-test-and-query-metrics.md
  website/snippets/_v2-sl-prerequisites.md
Labels: content, size: medium, Docs team

#3975 Add Kestra deployment option
  website/docs/docs/deploy/deployment-tools.md
Labels: content, size: x-small, new contributor

#3976 Update programmatic-invocations.md broken link
  website/docs/reference/programmatic-invocations.md
Labels: content, size: x-small

#3982 Update window and grain_to_date to fix typo
  website/docs/docs/build/cumulative-metrics.md
Labels: content, size: x-small

#3935 ADAP-768: Update docs for materialized views/dynamic tables in v1.6
  .gitignore
  website/docs/docs/build/materializations.md
  website/docs/faqs/Models/available-materializations.md
  website/docs/reference/resource-configs/postgres-configs.md
  website/docs/reference/resource-configs/redshift-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: medium, new contributor

#3984 Update GQL docs
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
Labels: content, size: medium

#3988 Fix PrivateLink Egress
  website/snippets/cloud-feature-parity.md
Labels: content, size: x-small, Docs team

#3986 Update sl-partner-integration-guide.md
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
Labels: content, size: x-small, guides

#3987 Fixing Redshift config typos
  website/docs/docs/dbt-versions/release-notes/08-May-2023/may-ide-updates.md
  website/docs/reference/resource-configs/redshift-configs.md
Labels: content, size: medium, Docs team

#3980 Update bigquery-setup.md
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
Labels: content, size: x-small

#3985 Error handling for dbt retry
  website/docs/reference/commands/retry.md
Labels: content, size: medium, Docs team

#3995 make weight more discoverable
  website/docs/docs/build/groups.md
  website/docs/docs/build/projects.md
  website/docs/docs/build/tests.md
  website/sidebars.js
Labels: content, size: small, Docs team

#4001 Fixing text formatting on connection page
  website/docs/docs/cloud/connect-data-platform/connect-redshift-postgresql-alloydb.md
Labels: content, size: small, Docs team

#3758 introduce "trusted" tier for adapters
  .github/ISSUE_TEMPLATE/add-adapter-to-trusted-list.yml
  website/docs/docs/connect-adapters.md
  website/docs/docs/supported-data-platforms.md
  website/docs/docs/trusted-adapters.md
  website/docs/docs/verified-adapters.md
  website/docs/guides/dbt-ecosystem/adapter-development/5-documenting-a-new-adapter.md
  website/docs/guides/dbt-ecosystem/adapter-development/8-building-a-trusted-adapter.md
  website/sidebars.js
  website/snippets/_adapters-trusted.md
  website/snippets/_adapters-verified.md
Labels: content, size: large, guides

#3913 Adding breaking changes FAQ
  website/docs/docs/collaborate/govern/model-contracts.md
Labels: content, size: small, Docs team

#4003 Auto collapse categories when new one is selected
  website/docusaurus.config.js
Labels: size: x-small, Docs team

#3911 Updates to billing FAQs
  website/docs/docs/cloud/billing.md
  website/docs/faqs/Accounts/cloud-upgrade-instructions.md
  website/docs/faqs/Accounts/payment-accepted.md
Labels: content, size: small, Docs team

#3996 Multi-cell doc updates
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
  website/docs/docs/cloud/manage-access/set-up-sso-google-workspace.md
  website/docs/docs/deploy/webhooks.md
  website/snippets/auth0-uri.md
Labels: content, size: small, Docs team

#4002 tweak new issue template
  .github/ISSUE_TEMPLATE/zzz_add-adapter-to-trusted-list.yml
Labels: size: x-small

#4004 Update databricks-configs.md to include liquid_clustered_by parameter
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: x-small, new contributor

#4005 Release note: changes to Discovery API endpoints
  website/docs/docs/dbt-versions/release-notes/05-Aug-2023/deprecation-endpoints-discovery.md
Labels: content, size: medium, Docs team, auto update
