Repository dbt-labs/docs.getdbt.com, pull requests merged in 2023-11, with the labels that each got.

#4380 Update tableau.md
  website/docs/docs/use-dbt-semantic-layer/tableau.md
Labels: content, size: x-small

#4357 update sso callout for SL
  website/snippets/_v2-sl-prerequisites.md
Labels: size: x-small, Docs team

#4374 updated teradata-setup and teradata-config pages w.r.t dbt-teradata 1.6
  website/docs/docs/core/connect-data-platform/teradata-setup.md
  website/docs/reference/resource-configs/teradata-configs.md
Labels: content, size: large, new contributor

#4340 add callout to explain the difference
  website/blog/2022-05-03-making-dbt-cloud-api-calls-using-dbt-cloud-cli.md
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: size: x-small, developer blog, Docs team, auto update

#4386 Update teradata-setup.md
  website/docs/docs/core/connect-data-platform/teradata-setup.md
Labels: content, size: x-small, Docs team

#3943 Add more warehouses to database permissions
  website/docs/docs/cloud/connect-data-platform/connect-databricks.md
  website/docs/docs/cloud/connect-data-platform/connect-redshift-postgresql-alloydb.md
  website/docs/docs/cloud/connect-data-platform/connect-snowflake.md
  website/docs/faqs/Warehouse/database-privileges.md
  website/docs/reference/database-permissions/about-database-permissions.md
  website/docs/reference/database-permissions/databricks-permissions.md
  website/docs/reference/database-permissions/postgres-permissions.md
  website/docs/reference/database-permissions/redshift-permissions.md
  website/docs/reference/database-permissions/snowflake-permissions.md
  website/docs/reference/references-overview.md
  website/docs/reference/snowflake-permissions.md
  website/sidebars.js
Labels: content, size: large, new contributor

#4358 Update sl-architecture.md
  website/docs/docs/use-dbt-semantic-layer/sl-architecture.md
  website/docs/docs/use-dbt-semantic-layer/tableau.md
Labels: content, size: small, Docs team

#4372 Migration guide move to docs
  .github/pull_request_template.md
  website/blog/2021-11-23-how-to-upgrade-dbt-versions.md
  website/blog/2022-08-31-august-product-update.md
  website/docs/docs/build/project-variables.md
  website/docs/docs/core/installation-overview.md
  website/docs/docs/dbt-versions/core-upgrade/00-upgrading-to-v1.7.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.6.md
  website/docs/docs/dbt-versions/core-upgrade/02-upgrading-to-v1.5.md
  website/docs/docs/dbt-versions/core-upgrade/03-upgrading-to-dbt-utils-v1.0.md
  website/docs/docs/dbt-versions/core-upgrade/04-upgrading-to-v1.4.md
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.3.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.2.md
  website/docs/docs/dbt-versions/core-upgrade/07-upgrading-to-v1.1.md
  website/docs/docs/dbt-versions/core-upgrade/08-upgrading-to-v1.0.md
  website/docs/docs/dbt-versions/core-upgrade/09-upgrading-to-v0.21.md
  website/docs/docs/dbt-versions/core-upgrade/10-upgrading-to-v0.20.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-11-0.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-12-0.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-13-0.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-14-0.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-14-1.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-15-0.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-16-0.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-17-0.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-18-0.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-19-0.md
  website/docs/docs/dbt-versions/release-notes/04-Sept-2023/product-docs-summer-rn.md
  website/docs/docs/dbt-versions/release-notes/09-April-2023/product-docs.md
  website/docs/docs/dbt-versions/release-notes/10-Mar-2023/1.0-deprecation.md
  website/docs/docs/dbt-versions/release-notes/35-dbt-cloud-changelog-2019-2020.md
  website/docs/docs/dbt-versions/upgrade-core-in-cloud.md
  website/docs/guides/dbt-ecosystem/dbt-python-snowpark/6-foundational-structure.md
  website/docs/guides/migration/tools/migrating-from-spark-to-databricks.md
  website/sidebars.js
  website/snippets/_upgrade-move.md
  website/snippets/core-versions-table.md
  website/snippets/metadata-api-prerequisites.md
  website/vercel.json
Labels: content, size: large, Docs team

#4388 Update vercel.json
  website/vercel.json
Labels: size: x-small, Docs team

#4387 Corrected the heading of "dependent packages version"
  website/docs/docs/core/connect-data-platform/teradata-setup.md
Labels: content, size: x-small

#4373 1.7 beta to GA
  website/dbt-versions.js
  website/docs/docs/dbt-versions/core-upgrade/00-upgrading-to-v1.7.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.6.md
  website/snippets/core-versions-table.md
Labels: content, size: small, guides, Docs team

#4384 Update set-up-sso-saml-2.0.md
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: x-small

#4389 Update `dbt-cloud` config syntax links for `dbt_project.yml`
  website/docs/reference/dbt_project.yml.md
Labels: content, size: x-small

#4341 Update content-style-guide.md
  contributing/content-style-guide.md
Labels: size: small, Docs team

#3803 Static IP addresses
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
Labels: content, size: small, Docs team

#4377 adding clone / defer blog post.md
  website/docs/reference/commands/clone.md
Labels: content, size: x-small

#4392 Remove incorrect dash under owner dict
  website/docs/guides/best-practices/how-we-mesh/mesh-3-implementation.md
Labels: content, size: x-small, guides

#4385 Automate crawler
  .github/workflows/crawler.yml
Labels: size: small, trigger-crawl

#4396 PrivateLink availability banner
  website/docs/docs/cloud/secure/about-privatelink.md
  website/docs/docs/cloud/secure/databricks-privatelink.md
  website/docs/docs/cloud/secure/postgres-privatelink.md
  website/docs/docs/cloud/secure/redshift-privatelink.md
  website/docs/docs/cloud/secure/snowflake-privatelink.md
  website/snippets/_available-tiers-privatelink.md
Labels: content, size: small, Docs team

#4398 add cycle detection info
  website/docs/guides/best-practices/how-we-mesh/mesh-2-structures.md
Labels: content, size: x-small, guides, Docs team

#4399 Mark 1.6 under critical support
  website/snippets/core-versions-table.md
Labels: content, size: x-small, new contributor

#4404 Add info about run duration
  website/docs/docs/deploy/jobs.md
Labels: content, size: x-small, Docs team, auto update

#4403 Update constraints.md
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small

#4347 Updates to email/slack job notifications
  website/docs/docs/deploy/job-notifications.md
  website/docs/faqs/Accounts/slack.md
  website/docs/guides/orchestration/webhooks/zapier-ms-teams.md
  website/docs/guides/orchestration/webhooks/zapier-slack.md
  website/snippets/slack-notifications-config-steps.md
  website/static/img/docs/dbt-cloud/Navigate-to-integrations.png
  website/static/img/docs/dbt-cloud/Navigate-to-notifications.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/email-notifications.png
  website/static/img/docs/deploy/example-email-notification-settings-page.png
  website/static/img/docs/deploy/example-notification-external-email.png
  website/static/img/docs/deploy/example-notification-slack-channels.png
  website/static/img/docs/deploy/example-slack-notification-settings-page.png
  website/vercel.json
Labels: content, size: medium, Docs team, auto update

#4406 Use quotes for integer values within `runtime_config.properties`
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
Labels: content, size: x-small

#4394 updates to resource path
  website/docs/reference/resource-configs/resource-path.md
  website/docs/reference/source-configs.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#4401 remove file add redirect
  website/docs/faqs/Project/docs-for-multiple-projects.md
  website/vercel.json
Labels: content, size: small, Docs team, trigger-crawl

#3588 Update connect-redshift-postgresql-alloydb.md
  website/docs/docs/cloud/connect-data-platform/connect-redshift-postgresql-alloydb.md
Labels: content, size: small

#4397 Updated billing page
  website/docs/docs/build/sl-getting-started.md
  website/docs/docs/cloud/billing.md
  website/docs/docs/dbt-versions/release-notes/03-Oct-2023/sl-ga.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-sl.md
  website/docs/docs/use-dbt-semantic-layer/sl-architecture.md
Labels: content, size: medium, Docs team

#4413 Updating billing page language
  website/docs/docs/cloud/billing.md
Labels: content, size: x-small, Docs team

#4414 Update example for disabling a source table
  website/docs/reference/resource-configs/resource-path.md
  website/docs/reference/source-configs.md
Labels: content, size: small

#4354 cloud cli updates
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/configure-cloud-cli.md
  website/docs/reference/commands/clone.md
  website/docs/reference/dbt-commands.md
Labels: content, size: medium, Docs team

#4412 ENTERPRISE-822: Allie / updating ip restriction docs
  website/docs/docs/cloud/secure/ip-restrictions.md
Labels: content, size: x-small

#4219 `enabled` config for semantic models
  website/docs/reference/resource-configs/enabled.md
Labels: content, size: small

#4218 `meta` config for semantic models
  website/docs/reference/resource-configs/meta.md
Labels: content, size: small

#4393 Update pre-hook-post-hook.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
Labels: content, size: small, Docs team, auto update

#4402 remove callout and add tabs as examples
  website/docs/reference/resource-configs/alias.md
  website/docs/reference/resource-configs/database.md
  website/docs/reference/resource-configs/schema.md
Labels: content, size: large, Docs team

#4422 Update prereqs for webhooks
  website/docs/docs/deploy/webhooks.md
Labels: content, size: x-small, Docs team

#4423 Update regions-ip-addresses.md
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
Labels: content, size: x-small

#4425 Update dbt-cloud-environments.md
  website/docs/docs/dbt-cloud-environments.md
Labels: content, size: x-small, new contributor

#4428 Remove beta callout
  website/docs/docs/cloud/about-cloud-develop-defer.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/docs/deploy/deploy-environments.md
  website/snippets/_explorer-beta-banner.md
  website/snippets/_explorer-beta-note.md
Labels: size: small, Docs team

#4431 Adding batch id field
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
Labels: content, size: x-small, Docs team

#4427 Update version.md
  website/docs/reference/project-configs/version.md
Labels: content, size: small, Docs team

#4405 Release note for job notification updates
  website/docs/docs/dbt-versions/release-notes/02-Nov-2023/job-notifications-rn.md
Labels: content, size: small, Docs team, auto update

#4426 Update metricflow-commands.md
  website/docs/docs/build/metricflow-commands.md
  website/docs/guides/best-practices/how-we-build-our-metrics/semantic-layer-4-build-metrics.md
Labels: content, size: small, Docs team

#4438 Small formatting changes for configs & properties
  website/docs/reference/configs-and-properties.md
  website/docs/reference/dbt_project.yml.md
  website/docs/reference/resource-configs/docs.md
  website/docs/reference/source-properties.md
Labels: content, size: small

#4434 Link to reference/resource-configs/schema#tests
  website/docs/reference/resource-configs/store_failures.md
Labels: content, size: x-small, new contributor

#4435 clarify defer behavior
  website/docs/docs/cloud/about-cloud-develop-defer.md
Labels: content, size: small, Docs team

#4439 Callout snippet for properties and configs
  website/docs/reference/analysis-properties.md
  website/docs/reference/exposure-properties.md
  website/docs/reference/macro-properties.md
  website/docs/reference/source-properties.md
  website/snippets/_config-prop-callout.md
Labels: content, size: small

#4445 clarify mf doc
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-4-build-metrics.md
  website/docs/docs/build/metricflow-commands.md
Labels: content, size: small, Docs team

#4450 Fix rendering of hyperlink
  website/docs/reference/resource-configs/docs.md
Labels: content, size: x-small

#4453 Fixing set up ci forwarder
  website/vercel.json
Labels: size: x-small, Docs team

#4451 tweak defer language
  website/docs/docs/cloud/about-cloud-develop-defer.md
Labels: content, size: small, Docs team

#4446 Update meta.md
  website/docs/reference/resource-configs/meta.md
Labels: content, size: x-small, Docs team

#4454 Correcting grain: MONTH syntax
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
Labels: content, size: small, Docs team

#4455 Fixing generic examples on group page
  website/docs/reference/resource-configs/group.md
Labels: content, size: small, Docs team

#4458 Adding mesh guide redirects
  website/vercel.json
Labels: size: small, Docs team

#4456 Updating order of examples
  website/docs/reference/resource-configs/enabled.md
  website/docs/reference/resource-configs/group.md
Labels: content, size: medium, Docs team

#4457 Removing Future Release Dates
  website/snippets/core-versions-table.md
Labels: content, size: x-small, Docs team

#4460 Adding enteprise availability to multicell
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
Labels: content, size: x-small, Docs team

#4459 Updating run results Schema to v5
  website/docs/reference/artifacts/run-results-json.md
Labels: content, size: x-small, Docs team

#4407 Create devblog for environment differentiation
  website/blog/2023-11-14-specify-prod-environment.md
  website/blog/categories.yml
  website/static/img/blog/2023-11-06-differentiate-prod-and-staging-environments/data-landscape.excalidraw
  website/static/img/blog/2023-11-06-differentiate-prod-and-staging-environments/data-landscape.png
Labels: content, size: large, developer blog

#4462 Update source-freshness.md
  website/docs/docs/deploy/source-freshness.md
Labels: content, size: x-small

#4469 Update saved query documentation for MetricFlow release
  website/docs/docs/build/saved-queries.md
Labels: content, size: small

#4430 Adding 6 headshots for Q4 community spotlight
  website/docs/community/spotlight/alison-stanton.md
  website/docs/community/spotlight/bruno-de-lima.md
  website/docs/community/spotlight/dakota-kelley.md
  website/docs/community/spotlight/fabiyi-opeyemi.md
  website/docs/community/spotlight/josh-devlin.md
  website/docs/community/spotlight/karen-hsieh.md
  website/docs/community/spotlight/oliver-cramer.md
  website/docs/community/spotlight/sam-debruyn.md
  website/docs/community/spotlight/stacy-lo.md
  website/docs/community/spotlight/sydney-burns.md
  website/src/components/communitySpotlightList/index.js
  website/static/img/community/spotlight/alison.jpg
  website/static/img/community/spotlight/dakota.jpg
  website/static/img/community/spotlight/oliver.jpg
  website/static/img/community/spotlight/sam.jpg
  website/static/img/community/spotlight/stacy.jpg
  website/static/img/community/spotlight/sydney.jpg
Labels: content, size: large, auto update

#4461 Update tableau.md
  website/docs/docs/use-dbt-semantic-layer/tableau.md
Labels: content, size: small

#4452 add table for sev definitions
  website/docs/docs/dbt-support.md
Labels: content, size: medium, Docs team

#4467 Fixed small typo in Data warehouse vs data lake section.
  website/docs/terms/data-warehouse.md
Labels: content, size: x-small

#4472 add clone step in cloud cli doc
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/configure-cloud-cli.md
Labels: content, size: small, Docs team

#4473 Update `saved_queries` and `group_by`
  website/docs/docs/build/saved-queries.md
Labels: content, size: x-small

#4202 Update databricks-configs.md for tblproperties
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: small

#4476 Update callout
  website/docs/docs/core/connect-data-platform/fabric-setup.md
Labels: content, size: x-small, Docs team

#4477 Update cloud-cli-installation.md
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: x-small, Docs team

#4478 Dark mode icon
  website/docs/guides/microsoft-fabric-qs.md
  website/static/img/icons/white/fabric.svg
Labels: content, size: medium, guides, Docs team, auto update

#4470 Fix examples for `dbt deps --add-package`
  website/docs/reference/commands/deps.md
Labels: content, size: small

#4443 Fix config example for `dbt_project.yml`
  website/docs/docs/build/semantic-models.md
Labels: content, size: x-small

#4484 Update prereqs for CI and GitLab
  website/docs/docs/deploy/ci-jobs.md
Labels: content, size: x-small, Docs team, auto update

#4479 Removed repeated line of text.
  website/docs/terms/data-wrangling.md
Labels: content, size: x-small

#4488 Update redshift-qs.md
  website/docs/docs/core/connect-data-platform/redshift-setup.md
  website/docs/guides/redshift-qs.md
Labels: content, size: x-small, guides, Docs team

#4411 auto copy header link
  website/docusaurus.config.js
  website/src/css/custom.css
  website/static/img/check.png
  website/static/img/copy.png
  website/static/js/headerLinkCopy.js
Labels: content, size: medium, Docs team

#4489 Update connect-redshift-postgresql-alloydb.md
  website/docs/docs/cloud/connect-data-platform/connect-redshift-postgresql-alloydb.md
Labels: content, size: x-small, Docs team

#4486 correct exposure definition state in metadata docs
  website/docs/docs/dbt-cloud-apis/project-state.md
Labels: content, size: x-small

#4487 Conclusion - changed 'and' to 'or'
  website/docs/terms/data-catalog.md
Labels: content, size: x-small, auto update

#4464 Standardize links in "Related documentation"
  website/docs/reference/configs-and-properties.md
Labels: content, size: x-small, auto update

#4465 updated dbt-teradata-util compatibility matrix
  website/docs/docs/core/connect-data-platform/teradata-setup.md
Labels: content, size: x-small, auto update

#4490 update twitter logo
  website/docusaurus.config.js
Labels: size: x-small, Docs team, auto update

#4442 Semantic Layer configs for `dbt_project.yml`
  website/docs/reference/dbt_project.yml.md
Labels: content, size: medium, auto update

#4495 Update checklist items in pr template
  .github/pull_request_template.md
Labels: size: x-small, Docs team, auto update

#4494 Delete website/docs/dbt-cli directory
  website/docs/dbt-cli/cli-overview.md
  website/docs/docs/about/overview.md
  website/vercel.json
Labels: content, size: medium, Docs team

#4485 Dremio Lakehouse Guide
  website/docs/guides/dremio-lakehouse.md
  website/static/img/guides/dremio/dremio-cloned-repo.png
  website/static/img/guides/dremio/dremio-dev-application.png
  website/static/img/guides/dremio/dremio-dev-space.png
  website/static/img/guides/dremio/dremio-nyc-weather.png
  website/static/img/guides/dremio/dremio-sample-data.png
  website/static/img/guides/dremio/dremio-test-results.png
Labels: content, size: medium, guides, Docs team

#4496 Update graphql querying docs
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
Labels: content, size: large

#4468 Remove create_metric parameter reference from 1.6 docs
  website/docs/docs/build/measures.md
  website/docs/docs/build/semantic-models.md
  website/snippets/_sl-measures-parameters.md
Labels: content, size: medium

#4437 Glue is trusted
  website/docs/docs/supported-data-platforms.md
  website/docs/docs/trusted-adapters.md
  website/snippets/_adapters-trusted.md
  website/snippets/_adapters-verified.md
  website/static/img/icons/glue.svg
  website/static/img/icons/white/glue.svg
Labels: content, size: medium

#4501 add command examples to run model versions
  website/docs/docs/collaborate/govern/model-versions.md
  website/docs/reference/resource-properties/latest_version.md
  website/docs/reference/resource-properties/versions.md
Labels: content, size: small, Docs team

#4502 upgrade from 1.5.0 to 1.6.0
  website/docs/docs/core/connect-data-platform/vertica-setup.md
Labels: content, size: x-small

#4505 Update versions.md
  website/docs/reference/resource-properties/versions.md
Labels: content, size: x-small, Docs team

#4448 add config descriptions per user feedback
  website/docs/reference/model-configs.md
  website/docs/reference/seed-configs.md
  website/docs/reference/snapshot-configs.md
  website/docs/reference/source-configs.md
  website/docs/reference/test-configs.md
  website/snippets/_config-description-general.md
  website/snippets/_config-description-resource.md
Labels: content, size: small, Docs team, auto update

#4500 Update alison-stanton.md
  website/docs/community/spotlight/alison-stanton.md
Labels: content, size: medium, Docs team, auto update

#4506 Update Featured Spotlight Member
  website/docusaurus.config.js
Labels: size: x-small

#4507 Update environment-variables.md
  website/docs/docs/build/environment-variables.md
Labels: content, size: x-small, new contributor

#3541 add resusable snippet for data platform pages
  website/docs/docs/core/connect-data-platform/alloydb-setup.md
  website/docs/docs/core/connect-data-platform/athena-setup.md
  website/docs/docs/core/connect-data-platform/azuresynapse-setup.md
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
  website/docs/docs/core/connect-data-platform/clickhouse-setup.md
  website/docs/docs/core/connect-data-platform/databend-setup.md
  website/docs/docs/core/connect-data-platform/databricks-setup.md
  website/docs/docs/core/connect-data-platform/decodable-setup.md
  website/docs/docs/core/connect-data-platform/doris-setup.md
  website/docs/docs/core/connect-data-platform/dremio-setup.md
  website/docs/docs/core/connect-data-platform/duckdb-setup.md
  website/docs/docs/core/connect-data-platform/exasol-setup.md
  website/docs/docs/core/connect-data-platform/fabric-setup.md
  website/docs/docs/core/connect-data-platform/fal-setup.md
  website/docs/docs/core/connect-data-platform/firebolt-setup.md
  website/docs/docs/core/connect-data-platform/glue-setup.md
  website/docs/docs/core/connect-data-platform/greenplum-setup.md
  website/docs/docs/core/connect-data-platform/hive-setup.md
  website/docs/docs/core/connect-data-platform/ibmdb2-setup.md
  website/docs/docs/core/connect-data-platform/impala-setup.md
  website/docs/docs/core/connect-data-platform/infer-setup.md
  website/docs/docs/core/connect-data-platform/iomete-setup.md
  website/docs/docs/core/connect-data-platform/layer-setup.md
  website/docs/docs/core/connect-data-platform/materialize-setup.md
  website/docs/docs/core/connect-data-platform/mindsdb-setup.md
  website/docs/docs/core/connect-data-platform/mssql-setup.md
  website/docs/docs/core/connect-data-platform/mysql-setup.md
  website/docs/docs/core/connect-data-platform/oracle-setup.md
  website/docs/docs/core/connect-data-platform/postgres-setup.md
  website/docs/docs/core/connect-data-platform/redshift-setup.md
  website/docs/docs/core/connect-data-platform/rockset-setup.md
  website/docs/docs/core/connect-data-platform/singlestore-setup.md
  website/docs/docs/core/connect-data-platform/snowflake-setup.md
  website/docs/docs/core/connect-data-platform/spark-setup.md
  website/docs/docs/core/connect-data-platform/sqlite-setup.md
  website/docs/docs/core/connect-data-platform/teradata-setup.md
  website/docs/docs/core/connect-data-platform/tidb-setup.md
  website/docs/docs/core/connect-data-platform/trino-setup.md
  website/docs/docs/core/connect-data-platform/vertica-setup.md
  website/docs/guides/adapter-creation.md
  website/snippets/_setup-pages-intro.md
Labels: content, size: large, Docs team

#4512 Updating "Future Release" language
  website/docs/docs/dbt-versions/core-versions.md
Labels: content, size: x-small, Docs team

#4513 Adding package-lock to 1.7 guide
  website/docs/docs/dbt-versions/core-upgrade/00-upgrading-to-v1.7.md
Labels: content, size: x-small, Docs team

#4498 Update pip syntax
  website/blog/2021-11-29-open-source-community-growth.md
  website/blog/2022-04-14-add-ci-cd-to-bitbucket.md
  website/blog/2022-05-03-making-dbt-cloud-api-calls-using-dbt-cloud-cli.md
  website/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-2-setup.md
  website/docs/docs/build/metricflow-commands.md
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/connect-adapters.md
  website/docs/docs/core/connect-data-platform/hive-setup.md
  website/docs/docs/core/connect-data-platform/spark-setup.md
  website/docs/docs/core/connect-data-platform/starrocks-setup.md
  website/docs/docs/core/connect-data-platform/trino-setup.md
  website/docs/docs/core/connect-data-platform/upsolver-setup.md
  website/docs/docs/core/docker-install.md
  website/docs/docs/core/pip-install.md
  website/docs/docs/core/source-install.md
  website/docs/docs/dbt-versions/core-upgrade/08-upgrading-to-v1.0.md
  website/docs/faqs/Core/install-pip-best-practices.md
  website/docs/guides/adapter-creation.md
  website/docs/guides/codespace-qs.md
  website/docs/guides/custom-cicd-pipelines.md
  website/docs/guides/set-up-ci.md
  website/docs/guides/sl-migration.md
  website/snippets/_setup-pages-intro.md
  website/snippets/_sl-test-and-query-metrics.md
Labels: content, size: medium, developer blog, guides, Docs team

#4516 Fixing guide typo
  website/docs/guides/dremio-lakehouse.md
Labels: content, size: x-small, guides, Docs team

#4508 need successful runs for changes to documentation
  website/docs/docs/collaborate/cloud-build-and-view-your-docs.md
Labels: content, size: x-small, Docs team

#4519 update file name
  website/docs/reference/resource-configs/target_schema.md
Labels: content, size: x-small, new contributor

#4521 Update feb-ide-updates.md
  website/docs/docs/dbt-versions/release-notes/11-Feb-2023/feb-ide-updates.md
Labels: content, size: x-small, Docs team

#4518 best-practice-workflows.md - change style guide link to docs.getdbt.com
  website/docs/best-practices/best-practice-workflows.md
Labels: content, size: x-small

#4517 Add cache action to lint workflow
  .github/workflows/lint.yml
  package-lock.json
Labels: size: small

#4524 Update auth0-migration.md
  website/docs/docs/cloud/manage-access/auth0-migration.md
Labels: content, size: x-small

#4527 Fix doris GitHub repo
  website/docs/docs/core/connect-data-platform/doris-setup.md
Labels: content, size: x-small

#4522 fix(docs): correct explanation of `sum` expression for order_total
  website/docs/docs/build/about-metricflow.md
Labels: content, size: x-small, new contributor

#4511 Invite user instructions
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/cloud/manage-access/invite-users.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/access-control/default-user-invite.png
  website/static/img/docs/dbt-cloud/access-control/email-invite.png
  website/static/img/docs/dbt-cloud/access-control/invite-users.png
  website/static/img/docs/dbt-cloud/access-control/resend-invite.png
  website/static/img/docs/dbt-cloud/access-control/sso-user-invite.png
  website/static/img/docs/dbt-cloud/access-control/users-screen.png
Labels: size: medium, Docs team

#4535 adding badge component
  website/snippets/_cloud-environments-info.md
Labels: content, size: x-small, Docs team

#4531 add faq
  website/docs/docs/dbt-cloud-apis/service-tokens.md
  website/docs/faqs/Troubleshooting/ip-restrictions.md
Labels: content, size: small, Docs team

#4545 Update install-pip-os-prereqs.md
  website/docs/faqs/Core/install-pip-os-prereqs.md
Labels: content, size: x-small

#4537 Updates to dbt Explorer
  website/docs/docs/collaborate/explore-multiple-projects.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/dbt-versions/release-notes/02-Nov-2023/explorer-updates-rn.md
  website/sidebars.js
Labels: content, size: medium, Docs team, auto update

#4544 remove page
  website/docs/docs/deploy/airgapped.md
  website/vercel.json
Labels: content, size: small, Docs team

#4547 Add date in YAML front matter
  website/docs/docs/dbt-versions/release-notes/02-Nov-2023/explorer-updates-rn.md
  website/docs/docs/dbt-versions/release-notes/02-Nov-2023/job-notifications-rn.md
  website/docs/docs/dbt-versions/release-notes/02-Nov-2023/microsoft-fabric-support-rn.md
Labels: content, size: x-small, Docs team

#4543 updating table
  website/snippets/core-version-support.md
  website/snippets/core-versions-table.md
Labels: content, size: small, Docs team

#4410 clarify use cases for packages
  website/docs/docs/build/packages.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/snippets/_packages_or_dependencies.md
Labels: content, size: medium, Docs team

#4503 create develop section on sidebar
  website/docs/docs/about-setup.md
  website/docs/docs/build/build-metrics-intro.md
  website/docs/docs/build/metricflow-commands.md
  website/docs/docs/cloud/about-cloud-develop.md
  website/docs/docs/cloud/about-cloud-setup.md
  website/docs/docs/cloud/about-develop-dbt.md
  website/docs/docs/connect-adapters.md
  website/docs/docs/core/about-core-setup.md
  website/docs/docs/core/about-dbt-core.md
  website/docs/docs/core/connect-data-platform/profiles.yml.md
  website/docs/docs/core/docker-install.md
  website/docs/docs/core/installation-overview.md
  website/docs/docs/dbt-versions/core-upgrade/00-upgrading-to-v1.7.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.6.md
  website/docs/docs/dbt-versions/core-upgrade/02-upgrading-to-v1.5.md
  website/docs/docs/dbt-versions/core-upgrade/04-upgrading-to-v1.4.md
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.3.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.2.md
  website/docs/docs/dbt-versions/core-upgrade/07-upgrading-to-v1.1.md
  website/docs/docs/dbt-versions/core-upgrade/08-upgrading-to-v1.0.md
  website/docs/docs/dbt-versions/core-versions.md
  website/docs/docs/deploy/job-commands.md
  website/docs/docs/running-a-dbt-project/run-your-dbt-projects.md
  website/docs/guides/dremio-lakehouse.md
  website/docs/guides/manual-install-qs.md
  website/docs/reference/dbt-commands.md
  website/sidebars.js
  website/vercel.json
Labels: content, size: large, guides, Docs team, auto update, trigger-crawl

#4550 Update banner copy
  website/docusaurus.config.js
Labels: size: x-small

#4553 adding core redirect
  website/vercel.json
Labels: size: x-small, Docs team

#4549 removing limitation bullet
  website/docs/docs/build/cumulative-metrics.md
Labels: content, size: x-small, Docs team

#4548 removing redundant landing page
  website/docs/docs/cloud/dbt-cloud-ide/dbt-cloud-ide.md
  website/docs/docs/core/about-core-setup.md
  website/vercel.json
Labels: content, size: small, Docs team, trigger-crawl

#4198 Update databricks-configs.md (insert_overwrite incompatibility)
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: x-small

#4538 Fast-follows for MS Fabric docs
  website/docs/docs/cloud/connect-data-platform/about-connections.md
  website/docs/docs/cloud/connect-data-platform/connect-microsoft-fabric.md
  website/docs/docs/core/connect-data-platform/about-core-connections.md
  website/docs/docs/core/connect-data-platform/fabric-setup.md
  website/docs/docs/dbt-versions/release-notes/02-Nov-2023/microsoft-fabric-support-rn.md
  website/docs/guides/microsoft-fabric-qs.md
  website/sidebars.js
  website/snippets/_adapters-verified.md
Labels: content, size: medium, guides, Docs team, auto update

#4542 New best practice guide for clone
  website/docs/best-practices/clone-incremental-models.md
  website/sidebars.js
  website/static/img/best-practices/clone-command.png
  website/static/img/best-practices/dag-example.png
  website/static/img/best-practices/slim-ci-job.png
Labels: content, size: medium, Docs team

#4557 adding custom materialization link
  website/docs/docs/build/materializations.md
  website/docs/guides/create-new-materializations.md
Labels: content, size: x-small, guides, Docs team

#4561 removing hex video link
  website/docs/docs/use-dbt-semantic-layer/sl-architecture.md
  website/docs/guides/sl-migration.md
Labels: size: small, Docs team

#4560 Adding landing pages for autogenerated FAQ directories
  website/docs/faqs/API/_category_.yaml
  website/docs/faqs/Accounts/_category_.yaml
  website/docs/faqs/Core/_category_.yaml
  website/docs/faqs/Docs/_category_.yaml
  website/docs/faqs/Environments/_category_.yaml
  website/docs/faqs/Git/_category_.yaml
  website/docs/faqs/Jinja/_category_.yaml
  website/docs/faqs/Models/_category_.yaml
  website/docs/faqs/Project/_category_.yaml
  website/docs/faqs/Runs/_category_.yaml
  website/docs/faqs/Seeds/_category_.yaml
  website/docs/faqs/Snapshots/_category_.yaml
  website/docs/faqs/Tests/_category_.yaml
  website/docs/faqs/Troubleshooting/_category_.yaml
  website/docs/faqs/Warehouse/_category_.yaml
Labels: content, size: medium, Docs team

#4444 add timescaledb as community adapter
  website/docs/docs/community-adapters.md
Labels: content, size: x-small
