Repository dbt-labs/docs.getdbt.com, pull requests merged in 2023-12, with the labels that each got.

#4556 Instructions for configure PrivateLink for VCS
  website/docs/docs/cloud/secure/vcs-privatelink.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/accept-request.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/privatelink-vcs-architecture.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/vcs-setup-existing.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/vcs-setup-new.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/vpc-endpoint-service-name.png
Labels: content, size: medium, Docs team

#4567 Community award badge and meta descriptions
  website/src/components/communitySpotlightCard/index.js
  website/src/components/communitySpotlightCard/styles.module.css
  website/src/components/communitySpotlightList/index.js
Labels: size: medium

#4571 update static URLs for both US MT and US MC
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
Labels: content, size: x-small

#4584 Clarify Explorer lineage state
  website/docs/docs/collaborate/explore-projects.md
Labels: content, size: x-small, auto update

#4573 Update semantic-models.md
  website/docs/docs/build/semantic-models.md
Labels: content, size: x-small, Docs team

#4593 Fix callouts
  website/docs/docs/collaborate/model-performance.md
  website/docs/docs/collaborate/project-recommendations.md
Labels: size: x-small, Docs team, auto update

#4579 [ENT-1039] add link to the new VCS docs on the about-privatelink page
  website/docs/docs/cloud/secure/about-privatelink.md
Labels: content, size: x-small

#4586 Fix API endpoint link
  website/docs/docs/deploy/retry-jobs.md
Labels: content, size: x-small

#4595 Add missing ` character
  contributing/content-style-guide.md
Labels: size: x-small

#4596 Update _v2-sl-prerequisites.md
  website/snippets/_v2-sl-prerequisites.md
Labels: content, size: x-small, Docs team

#4566 Update databricks-configs.md to cover compute per model
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: medium

#4601 Release note for GA of extended attrs
  website/docs/docs/dbt-versions/release-notes/74-Dec-2023/external-attributes.md
Labels: content, size: small, Docs team, auto update

#4594 Update sso-overview.md
  website/docs/docs/cloud/manage-access/sso-overview.md
Labels: content, size: x-small

#4606 Fix menu display for the Jinja `return` function
  website/docs/reference/dbt-jinja-functions/return.md
Labels: content, size: x-small

#4608 add cloud cli-related faqs
  website/docs/docs/build/metricflow-commands.md
  website/snippets/_sl-faqs.md
Labels: content, size: small, Docs team

#4609 add other artifacts link
  website/docs/reference/artifacts/dbt-artifacts.md
  website/docs/reference/artifacts/other-artifacts.md
Labels: content, size: x-small, Docs team

#4612 Fix tiny typos in materializations-guide-4-incremental-models.md
  website/docs/best-practices/materializations/materializations-guide-4-incremental-models.md
Labels: content, size: x-small, new contributor

#4617 Update audit-log.md
  website/docs/docs/cloud/manage-access/audit-log.md
Labels: content, size: small

#4619 remove sso limitation
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: x-small, Docs team

#4600 Update community awards
  website/docs/community/spotlight/alison-stanton.md
  website/docs/community/spotlight/bruno-de-lima.md
  website/docs/community/spotlight/dakota-kelley.md
  website/docs/community/spotlight/fabiyi-opeyemi.md
  website/docs/community/spotlight/josh-devlin.md
  website/docs/community/spotlight/karen-hsieh.md
  website/docs/community/spotlight/oliver-cramer.md
  website/docs/community/spotlight/sam-debruyn.md
  website/docs/community/spotlight/stacy-lo.md
  website/docs/community/spotlight/sydney-burns.md
Labels: content, size: small

#4621 Update set-up-your-databricks-dbt-project.md
  website/docs/guides/set-up-your-databricks-dbt-project.md
Labels: content, size: x-small, guides

#4624 Updating MC1 availability
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
Labels: content, size: x-small, Docs team

#4623 Do not display 'metric' and 'metrics' in Discovery API job query fields table
  website/docs/docs/dbt-cloud-apis/schema-discovery-job.mdx
  website/docs/docs/dbt-cloud-apis/schema.jsx
Labels: content, size: x-small

#4614 Update dbt-unity-catalog-best-practices.md
  website/docs/best-practices/dbt-unity-catalog-best-practices.md
Labels: content, size: x-small

#4576 Update service-tokens.md
  website/docs/docs/dbt-cloud-apis/service-tokens.md
Labels: content, size: x-small

#4587 Fix image issues in airflow guide
  website/docs/guides/airflow-and-dbt-cloud.md
  website/static/img/guides/orchestration/airflow-and-dbt-cloud/connection-type-configured.png
Labels: content, size: medium, guides

#4628 Update databricks-configs.md
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: small

#4618 links to graph operators
  website/docs/reference/node-selection/syntax.md
Labels: content, size: small, Docs team

#4626 SL for product analytics blog
  website/blog/2023-12-11-semantic-layer-on-semantic-layer.md
  website/blog/authors.yml
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-1-intro.md
  website/static/img/blog/2023-12-11-semantic-layer-on-semantic-layer/Screenshot-dag.png
  website/static/img/blog/2023-12-11-semantic-layer-on-semantic-layer/Screenshot-gsheets.png
  website/static/img/blog/2023-12-11-semantic-layer-on-semantic-layer/Screenshot-hex.png
  website/static/img/blog/2023-12-11-semantic-layer-on-semantic-layer/Screenshot-metrics-dag.png
  website/static/img/blog/authors/jordan.jpeg
Labels: content, size: medium, developer blog

#4636 Update infer-dbt documentation to fix broken links and add infer-configs page
  website/docs/docs/core/connect-data-platform/infer-setup.md
  website/docs/reference/resource-configs/infer-configs.md
  website/sidebars.js
Labels: content, size: medium

#4632 Expectations for tests in OSS pull requests
  website/docs/community/resources/oss-expectations.md
Labels: content, size: x-small

#4631 Fix missing end backtick for a config name in a heading
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-14-0.md
Labels: content, size: x-small

#4611 Update deploy-jobs.md
  website/docs/docs/deploy/deploy-jobs.md
Labels: content, size: small

#4578 Add materialized view configuration for BigQuery
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: medium

#4589 Update materialized view configuration for redshift
  website/docs/reference/resource-configs/redshift-configs.md
Labels: content, size: medium

#4590 add materialized view configuration for postgres
  website/docs/reference/resource-configs/postgres-configs.md
Labels: content, size: medium

#4582 Update dynamic table configuration for Snowflake
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: medium

#4640 Update description of testing best practices for OSS contributions
  website/docs/community/resources/oss-expectations.md
Labels: content, size: x-small

#4638 Ensure that the valid and default strategies are up-to-date and accurate per adapter
  website/docs/docs/build/incremental-models.md
Labels: content, size: small

#4629 Switch SCD example to entity type `natural`
  website/docs/docs/build/dimensions.md
Labels: content, size: x-small

#4643 Too many backticks
  website/docs/reference/resource-configs/access.md
Labels: content, size: x-small

#4647 remove callout
  website/docs/docs/build/join-logic.md
Labels: content, size: x-small, Docs team

#4644 Remove rogue hyperlink
  website/docs/reference/dbt-jinja-functions/config.md
Labels: content, size: x-small

#4574 Add related defer in Cloud doc
  website/docs/reference/node-selection/defer.md
Labels: content, size: x-small

#4565 Fix z-order syntax
  website/docs/guides/dbt-models-on-databricks.md
Labels: content, size: x-small, guides

#4592 Changing `tests` to `data-tests`
  website/blog/2021-11-22-dbt-labs-pr-template.md
  website/blog/2021-11-22-primary-keys.md
  website/blog/2021-11-29-dbt-airflow-spiritual-alignment.md
  website/blog/2021-12-05-how-to-build-a-mature-dbt-project-from-scratch.md
  website/blog/2022-04-19-complex-deduplication.md
  website/blog/2022-09-28-analyst-to-ae.md
  website/blog/2022-10-19-polyglot-dbt-python-dataframes-and-sql.md
  website/blog/2023-01-24-aggregating-test-failures.md
  website/blog/2023-07-03-data-vault-2-0-with-dbt-cloud.md
  website/docs/best-practices/custom-generic-tests.md
  website/docs/docs/build/data-tests.md
  website/docs/docs/build/jinja-macros.md
  website/docs/docs/build/projects.md
  website/docs/docs/build/sources.md
  website/docs/docs/build/sql-models.md
  website/docs/docs/collaborate/documentation.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/collaborate/govern/model-contracts.md
  website/docs/docs/dbt-versions/core-upgrade/03-upgrading-to-dbt-utils-v1.0.md
  website/docs/docs/dbt-versions/core-upgrade/07-upgrading-to-v1.1.md
  website/docs/docs/dbt-versions/core-upgrade/08-upgrading-to-v1.0.md
  website/docs/docs/dbt-versions/core-upgrade/10-upgrading-to-v0.20.md
  website/docs/docs/introduction.md
  website/docs/faqs/Models/specifying-column-types.md
  website/docs/faqs/Project/properties-not-in-config.md
  website/docs/faqs/Tests/available-tests.md
  website/docs/faqs/Tests/custom-test-thresholds.md
  website/docs/guides/building-packages.md
  website/docs/guides/dbt-python-snowpark.md
  website/docs/guides/productionize-your-dbt-databricks-project.md
  website/docs/reference/commands/test.md
  website/docs/reference/configs-and-properties.md
  website/docs/reference/data-test-configs.md
  website/docs/reference/dbt_project.yml.md
  website/docs/reference/model-properties.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/project-configs/test-paths.md
  website/docs/reference/resource-configs/alias.md
  website/docs/reference/resource-configs/database.md
  website/docs/reference/resource-configs/meta.md
  website/docs/reference/resource-configs/store_failures_as.md
  website/docs/reference/resource-properties/columns.md
  website/docs/reference/resource-properties/config.md
  website/docs/reference/resource-properties/data-tests.md
  website/docs/reference/seed-properties.md
  website/docs/reference/snapshot-properties.md
  website/docs/reference/source-properties.md
  website/docs/terms/data-wrangling.md
  website/docs/terms/primary-key.md
  website/docs/terms/surrogate-key.md
  website/sidebars.js
  website/snippets/_run-result.md
  website/snippets/tutorial-add-tests-to-models.md
  website/vercel.json
Labels: size: large, Docs team, auto update

#4652 Dynamic default `incremental_strategy` for dbt-postgres and dbt-redshift
  website/docs/reference/resource-configs/postgres-configs.md
  website/docs/reference/resource-configs/redshift-configs.md
Labels: content, size: small

#4653 `merge` is the default `incremental_strategy` since dbt-databricks 1.0.0
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: x-small

#4649 Display supported incremental strategies in a tabular format
  website/docs/docs/build/incremental-models.md
Labels: content, size: small

#4627 Remove unnecessary step from dbx orch guide
  website/docs/guides/how-to-use-databricks-workflows-to-run-dbt-cloud-jobs.md
Labels: content, size: x-small, guides

#4625 update prod settings image
  website/static/img/docs/dbt-cloud/using-dbt-cloud/prod-settings.jpg
Labels: content, size: x-small

#4540 Update explanation of contract enforcement
  website/docs/docs/collaborate/govern/model-contracts.md
Labels: content, size: x-small

#4656 Fix `stg_customers` spelling
  website/docs/guides/snowflake-qs.md
Labels: content, size: x-small, guides, new contributor

#4641 Add hover details component
  website/docs/docs/cloud/cloud-cli-installation.md
  website/snippets/_sl-faqs.md
  website/src/components/detailsToggle/index.js
  website/src/components/detailsToggle/styles.module.css
  website/src/theme/MDXComponents/index.js
Labels: size: medium, Docs team

#4655 Explain how transactions (and rollbacks) are handled for incremental strategies
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small

#4597 Example to use instead of N.B.
  contributing/content-style-guide.md
Labels: size: x-small

#4662 Only display intro (rather than entire article) during listing of blog posts
  website/blog/2023-05-02-modeling-ragged-time-varying-hierarchies.md
Labels: size: x-small, developer blog

#3989 clarify macro properties aren't supported in dbt_project.yml
  website/docs/reference/configs-and-properties.md
  website/docs/reference/dbt_project.yml.md
Labels: content, size: small, Docs team

#4659 detailsToggle fast follow
  website/snippets/_sl-faqs.md
  website/src/components/detailsToggle/index.js
Labels: size: small, Docs team

#4665 link to clone in ci job best practices
  website/blog/2023-10-31-to-defer-or-to-clone.md
Labels: size: x-small, developer blog, Docs team

#4661 Remove period from blog post title
  website/blog/2023-12-11-semantic-layer-on-semantic-layer.md
Labels: size: x-small, developer blog

#4666 update rn versions
  website/docs/docs/dbt-versions/release-notes/74-Dec-2023/legacy-sl.md
Labels: content, size: x-small, Docs team

#4663 Copy-pastable dbt Cloud CI check commands
  website/docs/best-practices/clone-incremental-models.md
Labels: content, size: small

#4667 Update Materialized View Blog
  website/blog/2023-08-01-announcing-materialized-views.md
Labels: size: small, developer blog

#4669 Update develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
Labels: content, size: x-small, Docs team

#4546 Differentiate between expressions that print and statements that don't
  website/docs/docs/build/jinja-macros.md
Labels: content, size: x-small

#4610 Break out configuration change monitoring from materialized views
  website/dbt-versions.js
  website/docs/docs/build/materializations.md
  website/docs/reference/resource-configs/bigquery-configs.md
  website/docs/reference/resource-configs/on_configuration_change.md
  website/docs/reference/resource-configs/postgres-configs.md
  website/docs/reference/resource-configs/redshift-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
  website/sidebars.js
Labels: content, size: medium

#4671 Typo in metrics-overview.md
  website/docs/docs/build/metrics-overview.md
Labels: content, size: x-small, new contributor

#4670 integration-guide-and-jdbc-updates.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
  website/docs/guides/sl-partner-integration-guide.md
Labels: content, size: small, guides

#4534 Clarifications about running dbt init --profile
  website/docs/reference/commands/init.md
Labels: content, size: x-small, new contributor

#4529 adjust docs config page
  website/docs/reference/resource-configs/docs.md
Labels: content, size: medium, Docs team

#4674 update join page with multi-hop limitation
  website/docs/docs/build/join-logic.md
Labels: content, size: x-small

#4675 add discourse link + simplify language
  website/docs/docs/build/incremental-models.md
Labels: content, size: small, Docs team

#4681 Update spark-setup.md
  website/docs/docs/core/connect-data-platform/spark-setup.md
  website/snippets/dbt-databricks-for-databricks.md
  website/snippets/warehouse-setups-cloud-callout.md
Labels: content, size: small

#4682 remove dup
  website/sidebars.js
Labels: size: x-small

#4673 Add Partner Integration Guide to dbt Developer Blog
  website/blog/2023-12-20-partner-integration-guide.md
  website/blog/authors.yml
Labels: size: medium, developer blog, auto update

#4686 Add on_table_exists 'replace' option to Starburst/Trino
  website/docs/docs/core/connect-data-platform/trino-setup.md
  website/docs/reference/resource-configs/trino-configs.md
Labels: content, size: x-small

#4688 Adding multi cell migration page
  website/docs/docs/cloud/migration.md
Labels: content, size: small, Docs team, auto update

#4684 Update repo caching
  website/snippets/_cloud-environments-info.md
Labels: content, size: x-small, Docs team, auto update

#4588 Add oauth_console authentication to Starburst/Trino
  website/docs/docs/core/connect-data-platform/trino-setup.md
Labels: content, size: small

#4683 add missing pages to sidebar
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-1-intro.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-2-setup.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-3-build-semantic-models.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-4-build-metrics.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-5-refactor-a-mart.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-6-advanced-metrics.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-7-conclusion.md
  website/docs/docs/build/metricflow-commands.md
  website/sidebars.js
Labels: content, size: small, Docs team

#4690 Migration from dbt-vertica 1.6.0 to 1.7.x
  website/docs/docs/core/connect-data-platform/vertica-setup.md
Labels: content, size: x-small

#4692 update author
  website/blog/authors.yml
Labels: size: x-small, developer blog

#4668 add SL rn
  website/docs/docs/dbt-versions/release-notes/74-Dec-2023/dec-sl-updates.md
Labels: content, size: small, Docs team

#4691 Update keyboard-shortcuts.md
  website/docs/docs/cloud/dbt-cloud-ide/keyboard-shortcuts.md
Labels: content, size: small, Docs team

#4680 Update snowflake-setup.md
  website/docs/docs/cloud/connect-data-platform/connect-snowflake.md
  website/docs/docs/core/connect-data-platform/snowflake-setup.md
Labels: content, size: small

#4585 Updated as per dbt-teradata 1.7.0
  website/docs/docs/core/connect-data-platform/teradata-setup.md
Labels: content, size: x-small

#4676 Update job-scheduler.md
  website/docs/docs/dbt-versions/release-notes/79-July-2023/faster-run.md
  website/docs/docs/deploy/job-scheduler.md
Labels: content, size: small, new contributor
