Repository dbt-labs/docs.getdbt.com, pull requests merged in 2023-01, with the labels that each got.

#2635 Update dag.md
  website/docs/terms/dag.md
Labels: content, size: x-small

#2633 Update seeds.md
  website/docs/docs/build/seeds.md
Labels: content, size: x-small

#2624 update typo on metrics calendar model
  website/docs/docs/build/metrics.md
Labels: content, size: x-small

#2403 Corrects default port for dbt docs serve
  website/docs/reference/commands/cmd-docs.md
Labels: content, size: x-small

#789 add info on downgrading dbt with pip
  website/docs/docs/get-started/pip-install.md
Labels: content, size: small, merge-conflict-cli

#2562 Update data-catalog.md
  website/docs/terms/data-catalog.md
Labels: content, size: x-small

#2644 Fix method for list resources in rpc section
  website/docs/reference/commands/rpc.md
Labels: content, size: x-small

#2572 remove ide ga snippet
  website/docs/docs/get-started/dbt-cloud-features.md
  website/docs/docs/get-started/develop-in-the-cloud.md
Labels: content, size: x-small

#2652 Sync and remove duplicate docs page
  _redirects
  website/docs/docs/build/python-models.md
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: large

#2656 Update pull_request_template.md
  .github/pull_request_template.md
Labels: size: small

#2647 replace word for accessibility and translation
  website/docs/docs/dbt-versions/release-notes/02-Dec-2022/default-thread-value.md
Labels: content, size: x-small

#2654 Adds SQL reference content 5th batch
  website/blog/2021-09-11-sql-dateadd.md
  website/blog/2022-06-30-lower-sql-function.md
  website/blog/2022-07-05-datediff-sql-love-letter.md
  website/docs/sql-reference/aggregate-functions/sql-array-agg.md
  website/docs/sql-reference/date-functions/sql-dateadd.md
  website/docs/sql-reference/date-functions/sql-datediff.md
  website/docs/sql-reference/date-functions/sql-datepart.md
  website/docs/sql-reference/operators/sql-in.md
  website/docs/sql-reference/operators/sql-or.md
  website/docs/sql-reference/sql-cast.md
  website/docs/sql-reference/sql-comments.md
  website/docs/sql-reference/sql-strings.md
  website/docs/sql-reference/statements/sql-select.md
  website/docs/sql-reference/string-functions/sql-concat.md
  website/docs/sql-reference/string-functions/sql-lower.md
  website/docs/sql-reference/string-functions/sql-trim.md
  website/docs/sql-reference/string-functions/sql-upper.md
  website/docs/sql-reference/window-functions/sql-rank.md
  website/docs/sql-reference/window-functions/sql-row-number.md
  website/sidebars.js
Labels: content, size: large, developer blog

#2609 Dbt msft azure sql typo
  website/docs/docs/supported-data-platforms.md
Labels: content, size: x-small

#2649 Add link to methods in yaml selector docs
  website/docs/reference/node-selection/yaml-selectors.md
Labels: content, size: x-small

#2667 Add 6th batch of SQL reference content
  website/docs/sql-reference/date-functions/sql-datediff.md
  website/docs/sql-reference/operators/sql-between.md
  website/docs/sql-reference/operators/sql-ilike.md
  website/docs/sql-reference/sql-data-types.md
  website/docs/sql-reference/sql-strings.md
  website/docs/sql-reference/statements/sql-from.md
  website/sidebars.js
Labels: content, size: large

#2665 Updating get started next steps
  _redirects
  website/docs/docs/dbt-cloud/cloud-ide/ide-beta.md
  website/docs/docs/get-started/getting-started/building-your-first-project.md
  website/snippets/tutorial-next-steps-setting-up.md
Labels: content, size: small

#2666 Remove extra ( from code example for load_relation
  website/docs/reference/dbt-jinja-functions/adapter.md
Labels: content, size: x-small

#2669 dbt-databricks is now officially supported
  website/docs/reference/warehouse-setups/databricks-setup.md
Labels: content, size: x-small

#2672 Add SQL reference content batch #7
  website/blog/2022-07-05-date-trunc-sql-love-letter.md
  website/docs/sql-reference/date-functions/sql-date-trunc.md
  website/docs/sql-reference/operators/sql-and.md
  website/docs/sql-reference/operators/sql-ilike.md
  website/docs/sql-reference/operators/sql-like.md
  website/docs/sql-reference/operators/sql-not.md
  website/sidebars.js
Labels: content, size: large, developer blog

#1500 Add notes about invoking adapter methods in Jinja space
  website/docs/reference/dbt-jinja-functions/adapter.md
Labels: content, size: x-small

#2648 replaced 'see' with 'visit' for link
  website/docs/docs/dbt-versions/release-notes/02-Dec-2022/new-jobs-default-as-off.md
Labels: content, size: x-small

#2680 remove extra word "the"
  website/docs/guides/best-practices/how-we-structure/3-intermediate.md
Labels: content, size: x-small, guides

#2512 Add examples to dbt jinja function model docs
  website/docs/reference/dbt-jinja-functions/model.md
Labels: content, size: small

#2640 sl partner integration guide
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-semantic-layer.md
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/semantic-layer/connection-architecture.jpg
  website/static/img/docs/dbt-cloud/semantic-layer/entity-lineage.jpg
Labels: content, size: large, guides, semantic-layer-guides

#2677 Call out explicit need to create new branches
  website/docs/docs/collaborate/git/version-control-basics.md
Labels: content, size: x-small

#2662 Updating to address current manifest schema V#
  website/docs/reference/artifacts/manifest-json.md
Labels: content, size: small, dbt-core v1.4

#2660 Updating supported Python version
  website/docs/faqs/Core/install-python-compatibility.md
Labels: content, size: small, dbt-core v1.4

#2659 Updating information about Snowflake sprocs
  website/docs/docs/build/python-models.md
Labels: content, size: x-small, dbt-core v1.4

#2658 Adding new context method local_md5 for v1.4
  website/docs/reference/dbt-jinja-functions/local-md5.md
Labels: content, size: small, dbt-core v1.4

#2657 Exposures support for metrics in Core v1.4
  website/docs/docs/build/exposures.md
  website/docs/reference/exposure-properties.md
  website/static/img/docs/building-a-dbt-project/dag-exposures.png
  website/static/img/docs/building-a-dbt-project/dbt-docs-exposures.png
Labels: content, size: medium, dbt-core v1.4

#2676 favor-state option support for --defer
  website/docs/reference/node-selection/defer.md
Labels: content, size: x-small, dbt-core v1.4

#2678 Support for tarball URLs
  website/docs/docs/build/packages.md
Labels: content, size: small, dbt-core v1.4

#2534 Changes to docs due to 0.20/1 deprecation
  contributing/single-sourcing-content.md
  website/dbt-versions.js
  website/docs/docs/build/incremental-models.md
  website/docs/docs/build/snapshots.md
  website/docs/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-choosing-a-dbt-version.md
  website/docs/docs/dbt-versions/core-versions.md
  website/docs/docs/dbt-versions/upgrade-core-in-cloud.md
  website/docs/docs/deploy/source-freshness.md
  website/docs/docs/get-started/connection-profiles.md
  website/docs/faqs/Project/properties-not-in-config.md
  website/docs/faqs/Snapshots/snapshotting-freshness-for-one-source.md
  website/docs/faqs/Tests/testing-sources.md
  website/docs/reference/commands/build.md
  website/docs/reference/commands/deps.md
  website/docs/reference/commands/source.md
  website/docs/reference/configs-and-properties.md
  website/docs/reference/dbt-jinja-functions/dispatch.md
  website/docs/reference/dbt-jinja-functions/env_var.md
  website/docs/reference/model-configs.md
  website/docs/reference/model-properties.md
  website/docs/reference/node-selection/defer.md
  website/docs/reference/node-selection/exclude.md
  website/docs/reference/node-selection/graph-operators.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/node-selection/putting-it-together.md
  website/docs/reference/node-selection/set-operators.md
  website/docs/reference/node-selection/state-comparison-caveats.md
  website/docs/reference/node-selection/syntax.md
  website/docs/reference/node-selection/test-selection-examples.md
  website/docs/reference/node-selection/yaml-selectors.md
  website/docs/reference/project-configs/dispatch-config.md
  website/docs/reference/resource-configs/column_types.md
  website/docs/reference/resource-configs/fail_calc.md
  website/docs/reference/resource-configs/limit.md
  website/docs/reference/resource-configs/meta.md
  website/docs/reference/resource-configs/persist_docs.md
  website/docs/reference/resource-configs/quote_columns.md
  website/docs/reference/seed-configs.md
  website/docs/reference/seed-properties.md
  website/docs/reference/snapshot-properties.md
  website/docs/reference/test-configs.md
  website/snippets/core-versions-table.md
Labels: content, size: large, dbt-core v1.4

#2646 Updates to upgrade guides for 1.4
  website/docs/docs/build/exposures.md
  website/docs/docs/build/packages.md
  website/docs/docs/build/python-models.md
  website/docs/faqs/Core/install-python-compatibility.md
  website/docs/guides/migration/versions/03-upgrading-to-dbt-utils-v1.0.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
  website/docs/guides/migration/versions/06-upgrading-to-v1.2.md
  website/docs/guides/migration/versions/07-upgrading-to-v1.1.md
  website/docs/guides/migration/versions/08-upgrading-to-v1.0.md
  website/docs/reference/artifacts/manifest-json.md
  website/docs/reference/dbt-jinja-functions/local-md5.md
  website/docs/reference/exposure-properties.md
  website/docs/reference/node-selection/defer.md
  website/static/img/docs/building-a-dbt-project/dag-exposures.png
  website/static/img/docs/building-a-dbt-project/dbt-docs-exposures.png
Labels: content, size: large, guides, dbt-core v1.4

#2661 dbt-materialize: update Materialize profile and configs page
  website/docs/reference/resource-configs/materialize-configs.md
  website/docs/reference/warehouse-setups/materialize-setup.md
Labels: content, size: small

#2683 Sort authors keys alphabetically
  website/blog/authors.yml
Labels: size: large, developer blog

#2695 Update add_issue_to_project.yml
  .github/workflows/add_issue_to_project.yml
Labels: size: x-small

#2679 add FAQ entry, remove custom branch from PR template page
  website/docs/docs/collaborate/git/pr-template.md
  website/docs/faqs/Environments/custom-branch-settings.md
Labels: content, size: small

#2696 Add SQL Reference content 8th batch
  website/docs/sql-reference/clauses/sql-having.md
  website/docs/sql-reference/joins/sql-inner-join.md
  website/docs/sql-reference/operators/sql-any-all.md
  website/docs/sql-reference/statements/sql-group-by.md
  website/docs/sql-reference/string-functions/sql-lower.md
  website/sidebars.js
Labels: content, size: large

#2691 warn_error_options docs
  website/docs/reference/global-configs.md
  website/docs/reference/profiles.yml.md
Labels: content, size: small, dbt-core v1.4

#2393 Update permissions for Python models on GCP
  website/docs/docs/build/python-models.md
Labels: content, size: x-small

#2689 improve vertica content
  website/docs/reference/resource-configs/vertica-configs.md
  website/docs/reference/warehouse-setups/vertica-setup.md
Labels: content, size: large

#2650 first time contributor welcome bot and auto labeler
  .github/config.yml
  .github/workflows/label.yml
Labels: size: small, new contributor

#2694 Update events-logs docs for v1.4
  website/docs/reference/dbt-jinja-functions/env_var.md
  website/docs/reference/dbt-jinja-functions/invocation_id.md
  website/docs/reference/events-logging.md
Labels: content, size: medium, dbt-core v1.4

#2682 Clarify github app integration requirements
  website/docs/docs/collaborate/git/connect-github.md
Labels: content, size: medium

#2704 improve vertica content
  website/docs/reference/warehouse-setups/vertica-setup.md
Labels: content, size: x-small

#2706 Change /sql-reference/ folder structure
  website/docs/sql-reference/data-type/sql-data-types.md
  website/docs/sql-reference/data-type/sql-strings.md
  website/docs/sql-reference/other/sql-cast.md
  website/docs/sql-reference/other/sql-comments.md
  website/docs/sql-reference/statements/sql-distinct.md
  website/sidebars.js
Labels: content, size: small

#2698 Reorg v1.4 migration guide + small tweaks
  website/docs/docs/build/python-models.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
  website/docs/reference/node-selection/defer.md
Labels: content, size: medium, guides, dbt-core v1.4

#2688 Updating Metrics page for 1.4
  website/docs/docs/build/metrics.md
Labels: content, size: medium, dbt-core v1.4

#2681 Adding 'incremental_predicates1 information
  website/docs/docs/build/incremental-models.md
Labels: content, size: medium, dbt-core v1.4

#2198 Remove quotes
  website/docs/docs/dbt-versions/release-notes/05-Sept-2022/metadata-api-data-retention-limits.md
Labels: content, size: x-small, merge-conflict-cli

#1532 Adding metrics to list of top-level keys
  website/docs/reference/artifacts/manifest-json.md
Labels: content, size: x-small

#2670 remove api v4 docs page since its not really supported
  _redirects
  website/src/pages/dbt-cloud/api-v4.js
Labels: size: small

#2697 Add BQ configs: `time_ingestion_partitioning` + `copy_partitions`
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: medium, dbt-core v1.4

#2707 Fix v1.4 migration guide link
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
Labels: content, size: x-small, guides

#2634 Add information about dbt-databend-cloud adapter
  website/docs/docs/supported-data-platforms.md
  website/docs/reference/warehouse-setups/databend-setup.md
  website/sidebars.js
Labels: content, size: medium

#2563 Update data-lineage.md
  website/docs/terms/data-lineage.md
Labels: content, size: x-small

#2490 Update check_cols.md
  website/docs/reference/resource-configs/check_cols.md
Labels: content, size: x-small

#2468 Update store_failures.md
  website/docs/reference/resource-configs/store_failures.md
Labels: content, size: x-small

#2684 Make grouping a first-class citizen in your data quality checks
  website/blog/2022-08-17-managing-surrogate-keys-in-dbt.md
  website/blog/2023-01-17-grouping-data-tests.md
  website/blog/authors.yml
  website/docs/terms/etl.md
  website/docs/terms/monotonically-increasing.md
  website/docs/terms/surrogate-key.md
  website/static/img/blog/2023-01-17-grouping-data-tests/1-monotonicity.png
  website/static/img/blog/2023-01-17-grouping-data-tests/2-missing.png
  website/static/img/blog/authors/emily-riederer.jpeg
Labels: content, size: medium, developer blog

#2629 Added server_side_parameters for thrift connection method
  website/docs/reference/warehouse-setups/spark-setup.md
Labels: content, size: x-small

#2708 remove unnecessary s
  website/docs/reference/warehouse-setups/mindsdb-setup.md
Labels: content, engineering, size: x-small

#2422 Update needed version of git to 2.26.0 for
  website/docs/docs/build/packages.md
Labels: content, size: x-small

#991 Fix specification for on-run-start and on-run-end
  website/docs/faqs/Snapshots/snapshot-hooks.md
Labels: content, good first issue, size: x-small, merge-conflict-cli, new contributor

#1460 Update run_query.md
  website/docs/reference/dbt-jinja-functions/run_query.md
Labels: content, size: small

#2630 replace surrogate_key by generate_surrogate_key
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small

#2664 Add "report a problem" experience to our websites
  website/src/components/callout/styles.module.css
  website/src/components/hubspotForm/index.js
  website/src/components/hubspotForm/styles.module.css
  website/src/css/custom.css
  website/src/pages/report-a-problem.js
Labels: size: medium

#2715 Fix `firstVersion` typo
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small

#2685 change behaviour to behavior - us spelling
  website/docs/guides/migration/versions/03-upgrading-to-dbt-utils-v1.0.md
Labels: content, size: x-small, guides

#2717 update databricks to 1.3.0
  website/docs/docs/supported-data-platforms.md
Labels: content, size: x-small

#2721 correct api curl request
  website/docs/docs/dbt-versions/release-notes/14-dbt-cloud-changelog-2021.md
Labels: content, size: x-small

#2699 In-page anchors not working when loaded from URL
  website/src/css/custom.css
  website/src/theme/DocItem/Layout/index.js
  website/src/utils/use-hash-link.js
Labels: size: small

#2675 new faq for api token rotation and find user id
  website/docs/docs/dbt-cloud-apis/user-tokens.md
  website/docs/faqs/API/rotate-token.md
  website/docs/faqs/Accounts/find-user-id.md
Labels: content, size: medium

#2415 Remove advice to avoid multi outputs for int models
  website/docs/guides/best-practices/how-we-structure/3-intermediate.md
Labels: content, size: small, guides

#2329 Clarify that threads is optional and dbname alias
  website/docs/reference/warehouse-setups/postgres-setup.md
Labels: content, size: x-small

#2718 Add SQL Reference content bactch #9
  website/docs/sql-reference/clauses/sql-where.md
  website/docs/sql-reference/data-type/sql-data-types.md
  website/docs/sql-reference/joins/sql-cross-join.md
  website/docs/sql-reference/joins/sql-full-outer-join.md
  website/docs/sql-reference/joins/sql-inner-join.md
  website/docs/sql-reference/joins/sql-left-join.md
  website/docs/sql-reference/joins/sql-right-join.md
  website/docs/sql-reference/joins/sql-self-join.md
  website/docs/sql-reference/statements/sql-case-statement.md
  website/sidebars.js
Labels: content, size: large

#1448 Update the exposure page to remove the metrics word
  website/docs/docs/build/exposures.md
Labels: content, size: x-small, merge-conflict-cli

#2030 fix nested curies in macro!
  website/blog/2022-04-19-complex-deduplication.md
Labels: size: small, developer blog

#2723 Update best-practices.md
  website/docs/guides/legacy/best-practices.md
Labels: content, size: x-small, guides

#2711 Revert "Added server_side_parameters for thrift connection method"
  website/docs/reference/warehouse-setups/spark-setup.md
Labels: content, size: x-small

#2728 Update set-up-sso-azure-active-directory.md
  website/docs/docs/collaborate/manage-access/set-up-sso-azure-active-directory.md
Labels: content, size: x-small

#2701 Update set-up-sso-saml-2.0.md
  website/docs/docs/collaborate/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: medium

#2671 remove-metrics-ready content
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
Labels: content, size: x-small

#2722 small nits
  website/docs/faqs/API/rotate-token.md
Labels: content, size: x-small

#2720 Update incremental-models.md
  website/docs/docs/build/incremental-models.md
Labels: content, size: small

#2643 Feature/dbt in browser static release
  .vscode/settings.json
  website/.npmrc
  website/package-lock.json
  website/package.json
  website/plugins/customWebpackConfig/index.js
  website/src/components/dbt-editor/index.js
  website/src/components/dbt-editor/menu-item.js
  website/src/components/dbt-editor/styles.module.css
  website/src/components/dbt-editor/utils/build-sidebar.js
  website/src/components/dbt-editor/utils/parse-csv.js
  website/src/components/lineage/index.js
  website/src/components/lineage/utils/transform-lineage-nodes.js
  website/src/theme/MDXComponents/index.js
  website/static/img/file-icon.svg
  website/static/img/folder-open.svg
  website/static/img/folder.svg
  website/static/img/info-icon.svg
  website/static/img/sample_email_data.png
  website/static/img/seed-icon.svg
Labels: content, size: large

#2575 clarify docs generate steps
  website/docs/docs/collaborate/cloud-build-and-view-your-docs.md
  website/docs/docs/deploy/source-freshness.md
Labels: content, size: small

#2724 add git providers link to gs guides
  website/docs/docs/get-started/getting-started/getting-set-up/setting-up-bigquery.md
  website/docs/docs/get-started/getting-started/getting-set-up/setting-up-databricks.md
  website/docs/docs/get-started/getting-started/getting-set-up/setting-up-redshift.md
  website/docs/docs/get-started/getting-started/getting-set-up/setting-up-snowflake.md
  website/snippets/available-git-providers.md
  website/snippets/tutorial-managed-repo.md
Labels: content, size: small

#2735 Lightbox component adjustment
  website/src/components/lightbox/index.js
  website/src/components/lightbox/styles.module.css
Labels: size: x-small

#2740 Dark mode table fix
  website/src/css/custom.css
Labels: size: x-small

#2737 Add Noah's DevBlog post
  website/blog/2023-01-24-aggregating-test-failures.md
  website/blog/authors.yml
  website/static/img/blog/authors/noah-kennedy.png
Labels: content, size: medium, developer blog

#2692 Update Reverse ETL vendor list
  website/docs/terms/reverse-etl.md
Labels: content, size: x-small, new contributor

#2744 Small typos and grammar fixes: "about" and "build" sections
  website/docs/docs/about/overview.md
  website/docs/docs/build/environment-variables.md
  website/docs/docs/build/incremental-models.md
  website/docs/docs/build/jinja-macros.md
  website/docs/docs/build/metrics.md
  website/docs/docs/build/projects.md
  website/docs/docs/build/tests.md
Labels: content, size: small, new contributor

#2736 update copy for "realtime events" page in Community section
  website/docs/community/contributing/contributing-realtime-events.md
Labels: content, size: small

#2357 Replace asciinema link by a gif of the terminal
  website/blog/2022-07-26-pre-commit-dbt.md
  website/static/img/blog/2022-07-26-pre-commit-dbt/pre-commit-run-all-files.gif
Labels: content, size: x-small, developer blog

#2169 change "should" to "can"
  website/docs/docs/get-started/pip-install.md
Labels: content, size: x-small, merge-conflict-cli

#2064 Added a useful link
  website/docs/guides/best-practices/how-we-structure/3-intermediate.md
Labels: content, size: x-small, guides, new contributor

#2743 Clarify PR Template settings behavior by git provider
  website/docs/docs/collaborate/git/pr-template.md
Labels: content, size: small

#2713 create rss feed plugin
  website/docs/docs/dbt-versions/release-notes/09-April-2022/credentials-saved.md
  website/docs/docs/dbt-versions/release-notes/13-dbt-cloud-changelog-2019-2020.md
  website/docs/docs/dbt-versions/release-notes/14-dbt-cloud-changelog-2021.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/plugins/buildGlobalData/get-directory-files.js
  website/plugins/buildRSSFeeds/index.js
  website/static/feeds/atom.xml
  website/static/feeds/rss.json
  website/static/feeds/rss.xml
Labels: content, size: large

#2358 Mention updated_at config for check strategy
  website/docs/docs/build/snapshots.md
Labels: content, size: x-small, new contributor

#2369 Add `not_null` example for `where` in generic test
  website/docs/reference/resource-configs/where.md
Labels: content, size: x-small, new contributor

#2755 Revert addition of `VersionBlock`s to Manifest page
  website/docs/reference/artifacts/manifest-json.md
Labels: content, size: small

#2752 Add info for status of model with warning
  website/docs/reference/dbt-jinja-functions/exceptions.md
Labels: content, size: x-small, new contributor

#2700 Add dbt-fal adapter
  website/dbt-versions.js
  website/docs/docs/supported-data-platforms.md
  website/docs/reference/resource-configs/fal-configs.md
  website/docs/reference/warehouse-setups/fal-setup.md
  website/sidebars.js
Labels: content, size: medium

#2751 Run create_next_pr workflow only in the dbt-labs org
  .github/workflows/create_next_pr.yml
Labels: size: x-small

#2753 add git providers
  website/docs/docs/deploy/regions-ip-addresses.md
Labels: content, size: x-small

#2733 replace callout with quote
  website/docs/faqs/API/rotate-token.md
Labels: content, size: small

#965 Update to "Upgrading to 1.0.0"
  website/docs/guides/migration/versions/08-upgrading-to-v1.0.md
Labels: content, size: x-small, guides, merge-conflict-cli

#2760 Misc editorial fixes, largely in the guides section
  website/docs/docs/build/custom-schemas.md
  website/docs/docs/build/materializations.md
  website/docs/docs/build/metrics.md
  website/docs/docs/build/projects.md
  website/docs/docs/building-a-dbt-project/dont-nest-your-curlies.md
  website/docs/docs/collaborate/git/import-a-project-by-git-url.md
  website/docs/docs/collaborate/git/setup-azure.md
  website/docs/docs/get-started/getting-started-dbt-core.md
  website/docs/docs/get-started/getting-started/getting-set-up/setting-up-bigquery.md
  website/docs/docs/get-started/getting-started/getting-set-up/setting-up-snowflake.md
  website/docs/docs/get-started/learning-more/refactoring-legacy-sql.md
  website/docs/docs/get-started/learning-more/using-jinja.md
  website/docs/guides/best-practices/how-we-structure/2-staging.md
  website/docs/guides/best-practices/how-we-structure/3-intermediate.md
  website/docs/guides/best-practices/how-we-structure/4-marts.md
  website/docs/guides/best-practices/how-we-structure/5-the-rest-of-the-project.md
Labels: content, size: medium, guides

#2758 Fix small rendering error on log/target path docs
  website/docs/reference/project-configs/log-path.md
  website/docs/reference/project-configs/target-path.md
Labels: content, size: x-small, new contributor

#1753 Create modify-owner-column.md
  website/docs/faqs/Docs/modify-owner-column.md
Labels: content, size: small

#2761 Update audit-log.md
  website/docs/docs/collaborate/manage-access/audit-log.md
Labels: content, size: x-small, upcoming ship

#2762 Create team-labeler
  .github/teams.yml
  .github/workflows/team-labeler
Labels: size: small, Docs team

#2756 Fixing versionblocks syntax
  website/docs/reference/artifacts/manifest-json.md
Labels: content, size: small

#2769 Update regions-ip-addresses.md to include Single Tenant instances
  website/docs/docs/deploy/regions-ip-addresses.md
Labels: content, size: x-small, new contributor

#2768 Small wording change to environments.md
  website/docs/docs/collaborate/environments.md
Labels: content, size: x-small, new contributor

#2764 Update versions marked as latest with 1.4 launch
  website/docs/docs/use-dbt-semantic-layer/set-dbt-semantic-layer.md
  website/docs/guides/migration/versions/04-upgrading-to-v1.4.md
  website/docs/guides/migration/versions/05-upgrading-to-v1.3.md
  website/snippets/sl-prerequisites.md
  website/snippets/sl-set-up-steps.md
Labels: content, size: small, guides

#2763 Changing commit and push to commit and sync
  website/docs/docs/collaborate/git/merge-conflicts.md
  website/docs/docs/dbt-cloud/cloud-ide/ide-beta.md
Labels: content, size: x-small

#2776 Reverting 2670: Re-adding api v4 docs page until deprecation
  _redirects
  website/src/pages/dbt-cloud/api-v4.js
Labels: size: small

#2774 remove scratchpad reference
  website/snippets/tutorial-initiate-project.md
Labels: content, size: x-small, Docs team

#2627 Clarify that `on_schema_change` only tracks top-level changes
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small

#2779 Update set-up-sso-google-workspace.md
  website/docs/docs/collaborate/manage-access/set-up-sso-google-workspace.md
Labels: content, size: x-small

#2778 Update set-up-sso-saml-2.0.md
  website/docs/docs/collaborate/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: x-small

#2784 updated databricks support for PKs
  website/docs/terms/primary-key.md
Labels: content, size: x-small, new contributor

#1054 add note to docs to explain pre-hook and post-hook examples
  website/docs/reference/resource-configs/pre-hook-post-hook.md
  website/snippets/post-and-pre-hooks-sql-statement.md
Labels: content, size: small

#1107 Update cloud-enabling-continuous-integration-with-github.md
  website/docs/docs/deploy/cloud-ci-job.md
Labels: content, size: x-small

#2759 Update installation-overview.md
  website/docs/docs/get-started/installation-overview.md
Labels: content, size: small, upcoming ship, Docs team

#2783 update package-lock to use latest version of ua-parser-js
  website/package-lock.json
Labels: size: large

#2757 adding first Databricks ecosystem guide - how to set up your project
  website/docs/guides/dbt-ecosystem/databricks-guides/dbt-unity-catalog-best-practices.md
  website/docs/guides/dbt-ecosystem/databricks-guides/how-to-set-up-your-databricks-dbt-project.md
  website/sidebars.js
  website/static/img/guides/databricks-guides/databricks-connection-env-vars.png
  website/static/img/guides/databricks-guides/databricks-env-variables.png
Labels: content, size: medium, guides, new contributor
