Repository dbt-labs/docs.getdbt.com, pull requests merged in 2023-04, with the labels that each got.

#3102 Create how-to-use-databricks-workflows-to-run-dbt-cloud-jobs.md
  website/docs/docs/deploy/deployment-tools.md
  website/docs/guides/orchestration/how-to-use-databricks-workflows-to-run-dbt-cloud-jobs.md
  website/sidebars.js
Labels: content, size: medium, guides

#3126 update link format
  website/docs/reference/dbt-jinja-functions/statement-blocks.md
Labels: content, size: x-small, Docs team

#3127 swap staging promo into announcements bar
  website/docusaurus.config.js
Labels: size: x-small

#3087 upgrade to 2.3.1 version
  website/package-lock.json
  website/package.json
Labels: size: large

#2786 Update snowflake-setup.md
  website/docs/reference/warehouse-setups/snowflake-setup.md
Labels: content, size: small, dbt-core v1.5

#3037 fixing source.yml code snippet
  website/docs/docs/build/sources.md
Labels: content, size: x-small, Needs tech review

#3129 1.5 Feature deprecations for target and logs
  website/docs/reference/project-configs/log-path.md
  website/docs/reference/project-configs/target-path.md
Labels: content, size: small, Docs team

#3114 Add ability to version control folders
  website/dbt-versions.js
  website/docusaurus.config.js
  website/plugins/buildGlobalData/index.js
  website/src/theme/DocSidebarItem/index.js
  website/src/utils/category-version-check.js
Labels: size: medium

#3130 Adding new method
  website/docs/reference/node-selection/methods.md
Labels: content, size: small, dbt-core v1.5, Docs team

#3120 Adjust Card component so it can accept HTML
  website/src/components/card/index.js
  website/src/components/card/styles.module.css
Labels: size: small

#3132 Add queryString prop with docusaurus upgrade
  contributing/adding-page-components.md
Labels: size: small, Docs team

#3139 Webhooks course learning video
  website/docs/docs/deploy/webhooks.md
Labels: content, size: x-small, Docs team

#3104 Add descriptions to all jinja page s
  website/docs/reference/dbt-jinja-functions/adapter.md
  website/docs/reference/dbt-jinja-functions/as_bool.md
  website/docs/reference/dbt-jinja-functions/as_native.md
  website/docs/reference/dbt-jinja-functions/as_number.md
  website/docs/reference/dbt-jinja-functions/as_text.md
  website/docs/reference/dbt-jinja-functions/builtins.md
  website/docs/reference/dbt-jinja-functions/config.md
  website/docs/reference/dbt-jinja-functions/cross-database-macros.md
  website/docs/reference/dbt-jinja-functions/dbt-project-yml-context.md
  website/docs/reference/dbt-jinja-functions/dbt_version.md
  website/docs/reference/dbt-jinja-functions/debug-method.md
  website/docs/reference/dbt-jinja-functions/dispatch.md
  website/docs/reference/dbt-jinja-functions/doc.md
  website/docs/reference/dbt-jinja-functions/env_var.md
  website/docs/reference/dbt-jinja-functions/exceptions.md
  website/docs/reference/dbt-jinja-functions/execute.md
  website/docs/reference/dbt-jinja-functions/flags.md
  website/docs/reference/dbt-jinja-functions/fromjson.md
  website/docs/reference/dbt-jinja-functions/fromyaml.md
  website/docs/reference/dbt-jinja-functions/graph.md
  website/docs/reference/dbt-jinja-functions/invocation_id.md
  website/docs/reference/dbt-jinja-functions/local-md5.md
  website/docs/reference/dbt-jinja-functions/log.md
  website/docs/reference/dbt-jinja-functions/model.md
  website/docs/reference/dbt-jinja-functions/modules.md
  website/docs/reference/dbt-jinja-functions/on-run-end-context.md
  website/docs/reference/dbt-jinja-functions/print.md
  website/docs/reference/dbt-jinja-functions/profiles-yml-context.md
  website/docs/reference/dbt-jinja-functions/project_name.md
  website/docs/reference/dbt-jinja-functions/ref.md
  website/docs/reference/dbt-jinja-functions/return.md
  website/docs/reference/dbt-jinja-functions/run_query.md
  website/docs/reference/dbt-jinja-functions/run_started_at.md
  website/docs/reference/dbt-jinja-functions/schema.md
  website/docs/reference/dbt-jinja-functions/schemas.md
  website/docs/reference/dbt-jinja-functions/selected_resources.md
  website/docs/reference/dbt-jinja-functions/set.md
  website/docs/reference/dbt-jinja-functions/source.md
  website/docs/reference/dbt-jinja-functions/statement-blocks.md
  website/docs/reference/dbt-jinja-functions/target.md
  website/docs/reference/dbt-jinja-functions/this.md
  website/docs/reference/dbt-jinja-functions/tojson.md
  website/docs/reference/dbt-jinja-functions/toyaml.md
  website/docs/reference/dbt-jinja-functions/var.md
  website/docs/reference/dbt-jinja-functions/zip.md
  website/src/theme/DocCard/index.js
Labels: content, size: medium, Docs team

#3125 Add info how to find deploy keys in dbt cloud
  website/docs/docs/cloud/git/import-a-project-by-git-url.md
Labels: content, size: small, Docs team

#3123 Add Tableau workbook refresh via webhooks
  website/docs/guides/orchestration/webhooks/zapier-refresh-tableau-workbook.md
Labels: content, size: medium, guides, new contributor

#3134 Updates to env var names
  website/docs/docs/deploy/about-state.md
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
  website/docs/reference/global-configs.md
  website/docs/reference/node-selection/defer.md
  website/docs/reference/node-selection/methods.md
Labels: content, size: medium, guides, Docs team

#3152 RN - API Endpoint order by restrictions
  website/docs/docs/dbt-versions/release-notes/09-April-2023/api-endpoint-restriction.md
Labels: content, size: small, Docs team

#3154 Update api-endpoint-restriction.md
  website/docs/docs/dbt-versions/release-notes/09-April-2023/api-endpoint-restriction.md
Labels: content, size: x-small, Docs team

#3137 Adding text for version optional
  website/docs/reference/project-configs/config-version.md
Labels: content, size: x-small, Docs team

#3155 Removing contact support instructions
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
  website/docs/docs/cloud/manage-access/set-up-sso-okta.md
Labels: content, size: small, Docs team

#3156 fixing redirects
  _redirects
Labels: size: large, Docs team

#3138 Changes to dbt list command
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
Labels: content, size: x-small, guides, Docs team

#3162 Fix typo - pluralize 'projects'
  website/docs/faqs/Project/multiple-resource-yml-files.md
Labels: content, size: x-small

#3165 Update 2023-03-30-guide-to-debug-in-jinja.md
  website/blog/2023-03-30-guide-to-debug-in-jinja.md
Labels: size: x-small, developer blog

#3163 Update snapshots.md
  website/docs/docs/build/snapshots.md
Labels: content, size: x-small, Needs tech review

#3159 cleaning up old data-sparks page content
  _redirects
  website/docs/docs/cloud/connect-data-platform/connect-your-database.md
  website/docs/docs/cloud/develop-in-the-cloud.md
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
Labels: content, size: large, guides, Docs team

#3172 Minor editorial adjustments
  website/docs/docs/dbt-versions/release-notes/09-April-2023/api-endpoint-restriction.md
  website/docs/docs/dbt-versions/release-notes/09-April-2023/scheduler-optimized.md
Labels: content, size: x-small, Docs team

#3176 Fixing adapter link
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
Labels: content, size: x-small, guides, Docs team

#3173 dbt show outline
  website/docs/reference/commands/show.md
  website/docs/reference/dbt-commands.md
  website/sidebars.js
  website/static/img/docs/reference/dbt-show.png
Labels: content, size: small, Docs team

#3177 Docs for `--project-dir` and `DBT_PROJECT_DIR`
  website/docs/reference/dbt_project.yml.md
Labels: content, size: small

#3180 New global configs
  website/docs/reference/global-configs.md
Labels: content, size: small, Docs team

#3101 model versions
  website/docs/docs/collaborate/govern/model-versions.md
  website/docs/docs/dbt-versions/release-notes/09-April-2023/api-endpoint-restriction.md
  website/docs/docs/dbt-versions/release-notes/09-April-2023/scheduler-optimized.md
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
  website/docs/reference/dbt-jinja-functions/ref.md
  website/docs/reference/model-properties.md
  website/docs/reference/resource-properties/constraints.md
  website/docs/reference/resource-properties/defined-in.md
  website/docs/reference/resource-properties/include-exclude.md
  website/docs/reference/resource-properties/latest-version.md
  website/docs/reference/resource-properties/v.md
Labels: content, size: large, guides

#3118 Document dbtRunner (programmatic invocation)
  website/dbt-versions.js
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
  website/docs/reference/events-logging.md
  website/docs/reference/programmatic-invocations.md
  website/sidebars.js
Labels: content, size: medium, guides, dbt-core v1.5

#3059 dbt Core quickstart with GH codespaces
  _redirects
  website/docs/docs/build/projects.md
  website/docs/docs/introduction.md
  website/docs/docs/quickstarts/dbt-core/codespace-qs.md
  website/docs/docs/quickstarts/dbt-core/manual-install-qs.md
  website/docs/docs/quickstarts/overview.md
  website/docs/guides/dbt-ecosystem/databricks-guides/how-to-set-up-your-databricks-dbt-project.md
  website/sidebars.js
  website/static/img/codespace-quickstart/postCreateCommand.png
  website/static/img/command-line.png
  website/static/img/icons/command-line.svg
  website/static/img/icons/github-codespace.svg
  website/static/img/icons/github.svg
  website/static/img/icons/white/command-line.svg
  website/static/img/icons/white/github-codespace.svg
  website/static/img/icons/white/github.svg
Labels: content, size: medium, guides, Docs team

#3186 Update button text
  website/docs/docs/quickstarts/dbt-cloud/bigquery-qs.md
  website/docs/docs/quickstarts/dbt-cloud/databricks-qs.md
  website/docs/docs/quickstarts/dbt-cloud/redshift-qs.md
  website/docs/docs/quickstarts/dbt-cloud/snowflake-qs.md
  website/docs/docs/quickstarts/dbt-cloud/starburst-galaxy-qs.md
  website/snippets/quickstarts/schedule-a-job.md
Labels: content, size: medium, Docs team

#3185 Adding information about role permission
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
Labels: content, size: x-small, Docs team

#3178 Events in v1.5: added `node_relation` to `node_info`
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
  website/docs/reference/events-logging.md
Labels: content, size: medium, guides

#3153 Add note about ephemeral models from python
  website/docs/docs/build/python-models.md
Labels: content, size: x-small, Needs tech review

#3171 Update multi-project docs for v1.5.0-rc1 (!)
  _redirects
  website/dbt-versions.js
  website/docs/docs/build/custom-aliases.md
  website/docs/docs/build/groups.md
  website/docs/docs/collaborate/govern/about-model-governance.md
  website/docs/docs/collaborate/govern/model-access.md
  website/docs/docs/collaborate/govern/model-contracts.md
  website/docs/docs/collaborate/govern/model-versions.md
  website/docs/docs/collaborate/publish/about-publishing-models.md
  website/docs/docs/collaborate/publish/model-versions.md
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
  website/docs/reference/dbt-jinja-functions/ref.md
  website/docs/reference/model-properties.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/resource-configs/contract.md
  website/docs/reference/resource-configs/group.md
  website/docs/reference/resource-properties/access.md
  website/docs/reference/resource-properties/constraints.md
  website/docs/reference/resource-properties/include-exclude.md
  website/docs/reference/resource-properties/latest-version.md
  website/docs/reference/resource-properties/versions.md
  website/sidebars.js
Labels: content, size: large, guides

#3190 Revising v1.5 guide -> announce RC
  website/dbt-versions.js
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
  website/docs/reference/artifacts/manifest-json.md
  website/sidebars.js
Labels: content, size: medium, guides

#3169 Update cloud-ci-job.md
  website/docs/docs/deploy/cloud-ci-job.md
Labels: content, size: x-small

#3195 Fix syntax examples for model versions
  website/docs/docs/collaborate/govern/model-versions.md
Labels: content, size: small

#3196 clarify work retention language
  website/docs/docs/cloud/develop-in-the-cloud.md
  website/docs/reference/dbt-commands.md
  website/static/img/docs/dbt-cloud/cloud-ide/ide-unsaved-modal.jpg
Labels: content, size: medium, Docs team

#3204 Update log.md
  website/docs/reference/dbt-jinja-functions/log.md
Labels: content, size: x-small, Docs team

#3209 Excision of editorial hyperbole.
  website/docs/reference/node-selection/state-comparison-caveats.md
Labels: content, size: x-small

#2166 Don't include the most recent data when doing an incremental update
  website/docs/docs/building-a-dbt-project/building-models/python-models.md
Labels: content, size: x-small

#3147 Update sl-partner-integration-guide.md
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
Labels: content, size: small, guides, Docs team

#2885 adding code block examples
  contributing/content-style-guide.md
Labels: size: x-small, Docs team

#3183 Update develop-in-the-cloud.md
  website/docs/docs/cloud/develop-in-the-cloud.md
Labels: content, size: x-small, Docs team

#3206 change Learn to Resources
  website/docusaurus.config.js
Labels: size: x-small

#3188 Fast-follow for dbt Core/Trino setup page
  website/docs/docs/cloud/connect-data-platform/connect-starburst-trino.md
  website/docs/reference/warehouse-setups/trino-setup.md
  website/snippets/connect-starburst-trino/roles-starburst-enterprise.md
  website/snippets/connect-starburst-trino/schema-db-fields.md
Labels: content, size: medium, Docs team

#3205 Update materializations-guide-4-incremental-models.md
  website/docs/guides/best-practices/materializations/materializations-guide-4-incremental-models.md
Labels: content, size: x-small, guides

#3213 Link to the actual explanation of persists_docs
  website/docs/sql-reference/other/sql-comments.md
Labels: content, size: x-small, new contributor

#3217 remove outdated callout
  website/docs/reference/node-selection/methods.md
Labels: content, size: small, Docs team

#3218 Use file paths in the `analyses/` directory
  website/docs/docs/build/analyses.md
Labels: content, size: x-small

#3225 Correct links to Starburst
  website/docs/docs/quickstarts/dbt-cloud/starburst-galaxy-qs.md
Labels: content, size: x-small

#3223 Improve style
  website/snippets/connect-starburst-trino/roles-starburst-enterprise.md
Labels: content, size: x-small

#3222 Improve dbt-trino connection overview page
  website/docs/docs/cloud/connect-data-platform/connect-starburst-trino.md
Labels: content, size: small, new contributor

#3210 [Blog] Building a Kimball dimensional model
  website/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt.md
  website/blog/authors.yml
  website/static/img/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt/3nf-to-dimensional-model.png
  website/static/img/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt/conversation.png
  website/static/img/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt/data-modelling.png
  website/static/img/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt/dbt-dag.png
  website/static/img/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt/dimension-tables.png
  website/static/img/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt/fct_sales.png
  website/static/img/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt/sales-order-header-detail.png
  website/static/img/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt/snowflake-schema.png
  website/static/img/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt/source-schema.png
  website/static/img/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt/star-schema.png
  website/static/img/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt/target-schema.png
  website/static/img/blog/authors/jonathan-neo.png
Labels: content, size: large, developer blog, new contributor

#3234 Update 2023-04-18-building-a-kimball-dimensional-model-with-dbt.md
  website/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt.md
Labels: size: small, developer blog

#3228 Note: IAM authentication isn't supported in Cloud
  website/docs/docs/quickstarts/dbt-cloud/redshift-qs.md
Labels: content, size: x-small

#3238 Dbt dimensional model blog minor fixes
  website/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt.md
Labels: size: small, developer blog

#3243 Update access.md yml example
  website/docs/reference/resource-properties/access.md
Labels: content, size: x-small

#3235 Update dbt_run_on_merge.yml file
  website/docs/guides/orchestration/custom-cicd-pipelines/3-dbt-cloud-job-on-merge.md
Labels: content, size: x-small, guides, new contributor

#3142 [Docs] Fixed contract syntax in dbt_project.yml file
  website/docs/reference/model-configs.md
Labels: content, size: x-small, dbt-core v1.5, new contributor

#3106 Updates to Vertica content based on core 1.4.0
  website/docs/reference/resource-configs/vertica-configs.md
  website/docs/reference/warehouse-setups/vertica-setup.md
Labels: content, size: medium

#3250 Added `label` as an optional property.
  website/docs/docs/build/exposures.md
Labels: content, size: x-small

#3227 Update set-up-snowflake-oauth.md
  website/docs/docs/cloud/manage-access/set-up-snowflake-oauth.md
Labels: content, size: x-small

#3247 VersionBlock for groups within the `graph` context variable
  website/docs/reference/dbt-jinja-functions/graph.md
Labels: content, size: medium

#3255 Add Arthur's DevBlog on moving alteryx workflows to dbt
  website/blog/2023-04-24-framework-refactor-alteryx-dbt.md
  website/static/img/blog/2023-04-24-framework-refactor-alteryx-dbt/Figure1.png
  website/static/img/blog/2023-04-24-framework-refactor-alteryx-dbt/Figure3.png
  website/static/img/blog/2023-04-24-framework-refactor-alteryx-dbt/Figure4.png
  website/static/img/blog/2023-04-24-framework-refactor-alteryx-dbt/Figure5.png
  website/static/img/blog/2023-04-24-framework-refactor-alteryx-dbt/Figure6.png
  website/static/img/blog/2023-04-24-framework-refactor-alteryx-dbt/Figure7.png
Labels: content, size: medium, developer blog

#3224 Clarify requirements for catalogs and schemas
  website/docs/docs/cloud/connect-data-platform/connect-starburst-trino.md
  website/snippets/connect-starburst-trino/schema-db-fields.md
Labels: content, size: x-small

#3263 Copyedit on kimball blog
  website/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt.md
Labels: size: x-small, developer blog

#3265 Minor fixes to copy
  website/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt.md
Labels: size: x-small, developer blog

#3232 Revisions & additions to Model Versions
  _redirects
  website/docs/docs/collaborate/govern/model-access.md
  website/docs/docs/collaborate/govern/model-contracts.md
  website/docs/docs/collaborate/govern/model-versions.md
  website/docs/reference/model-properties.md
  website/docs/reference/resource-properties/latest_version.md
  website/docs/reference/resource-properties/versions.md
  website/sidebars.js
Labels: content, size: large

#3254 Webhook timeout
  website/docs/docs/deploy/webhooks.md
Labels: content, size: x-small, new contributor

#3231 starburst-trino-ga release note - to merge apr 27th
  website/docs/docs/dbt-versions/release-notes/09-April-2023/starburst-trino-ga.md
Labels: content, size: small, Docs team

#3274 minor change to create new branch
  website/blog/2023-04-24-framework-refactor-alteryx-dbt.md
Labels: size: x-small, developer blog, Docs team

#3151 clarify dbt commands and turn into table
  website/docs/reference/dbt-commands.md
Labels: content, size: small, Docs team

#3244 Update wording
  website/docs/docs/collaborate/govern/model-contracts.md
Labels: content, size: x-small, Docs team

#3275 add recommended browsers to dbt cloud features
  website/docs/docs/cloud/about-cloud/dbt-cloud-features.md
Labels: content, size: x-small, Docs team

#3268 Update dbt project tree with v1.0 conventions
  website/docs/guides/best-practices/how-we-structure/1-guide-overview.md
Labels: content, size: x-small, guides

#3262 To Add to prerequisites as per customer request
  website/docs/docs/use-dbt-semantic-layer/set-dbt-semantic-layer.md
  website/snippets/sl-prerequisites.md
Labels: content, size: x-small, new contributor

#3246 Include `dbt test` in the `on-run-start` and `on-run-end` hooks' documentation
  website/docs/docs/build/hooks-operations.md
Labels: content, size: x-small, new contributor

#3281 rm staging announcement bar
  website/docusaurus.config.js
Labels: size: x-small

#3251 Align the filename with the snapshot name
  website/docs/docs/build/snapshots.md
Labels: content, size: small

#3286 adding webhookds id and uuid info
  website/docs/docs/deploy/webhooks.md
Labels: content, size: x-small, Docs team

#3220 [April 27, 2023 9AM PST] dbt Cloud GA for Starburst/Trino adapter support
  website/docs/docs/cloud/connect-data-platform/about-connections.md
  website/docs/docs/dbt-versions/release-notes/09-April-2023/starburst-trino-ga.md
  website/docs/docs/quickstarts/dbt-cloud/starburst-galaxy-qs.md
  website/docs/reference/warehouse-setups/trino-setup.md
Labels: content, size: small, Docs team

#3287 New Blog Post
  website/blog/2023-04-26-deprecating-dbt-metrics.md
Labels: size: medium, developer blog

#3288 [v1.5] Final fixups for groups + access
  website/docs/docs/collaborate/govern/model-access.md
  website/docs/reference/resource-configs/group.md
  website/docs/reference/resource-properties/access.md
Labels: content, size: small

#3240 Preparations for 1.5 GA
  website/dbt-versions.js
  website/docs/docs/collaborate/govern/about-model-governance.md
  website/docs/docs/collaborate/govern/model-access.md
  website/docs/docs/collaborate/govern/model-contracts.md
  website/docs/docs/collaborate/govern/model-versions.md
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
  website/snippets/core-versions-table.md
Labels: content, size: small, guides, Docs team

#3291 Update 2023-01-27-autoscaling-ci.md
  website/blog/2023-01-27-autoscaling-ci.md
Labels: size: x-small, developer blog, Docs team

#3293 Update enterprise permissions for webhooks
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
Labels: content, size: medium

#3292 Clarify permissions to create a webhook sub
  website/docs/docs/deploy/webhooks.md
Labels: content, size: x-small

#3289 Remove period in title
  website/docs/docs/dbt-versions/release-notes/09-April-2023/starburst-trino-ga.md
Labels: content, size: x-small, Docs team

#3296 Remove build commands for branch
  netlify.toml
Labels: size: x-small

#3294 Update commands that produce manifest in v1.5
  website/docs/reference/artifacts/manifest-json.md
Labels: content, size: x-small

#3269 Update environment-variables.md
  website/docs/docs/build/environment-variables.md
Labels: content, size: small

#3297 Fixed typo documention -> documentation
  website/docs/reference/warehouse-setups/snowflake-setup.md
Labels: content, size: x-small

#3302 add banners w SL / metrics updates link
  website/docs/docs/build/metrics.md
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/docs/docs/use-dbt-semantic-layer/dbt-semantic-layer.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-semantic-layer.md
  website/docs/docs/use-dbt-semantic-layer/set-dbt-semantic-layer.md
  website/docs/guides/dbt-ecosystem/sl-partner-integration-guide.md
Labels: content, size: small, guides, Docs team

#3298 Adding the 3rd blog of our Databricks series
  website/docs/guides/dbt-ecosystem/databricks-guides/productionizing-your-dbt-databricks-project.md
  website/sidebars.js
  website/static/img/guides/databricks-guides/deployment_monitor_dbx.png
Labels: content, size: medium, guides

#3304 fixing changelog typo
  website/docs/reference/resource-configs/tags.md
  website/docs/reference/resource-properties/config.md
Labels: content, size: x-small, Docs team

#3279 Create new product docs release note
  website/docs/docs/dbt-versions/release-notes/09-April-2023/product-docs.md
Labels: content, size: small, Docs team

#3278 updated faq to clarify how to add or delete users
  website/docs/docs/cloud/manage-access/about-access.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/faqs/Accounts/delete-users.md
  website/static/img/docs/dbt-cloud/faq-account-settings-billing.jpg
  website/static/img/docs/dbt-cloud/faq-account-settings-enterprise.jpg
  website/static/img/docs/dbt-cloud/faq-account-settings-users.jpg
Labels: content, size: medium, Docs team

#3295 Update with MD API reasonable use info
  website/docs/docs/dbt-cloud-apis/metadata-querying.md
Labels: content, size: x-small

#3067 Community spotlight update
  website/docs/community/spotlight/anya-prosvetova.md
  website/docs/community/spotlight/bruno-de-lima.md
  website/docs/community/spotlight/david-effiong.md
  website/docs/community/spotlight/emily-riederer.md
  website/docs/community/spotlight/karen-hsieh.md
  website/docs/community/spotlight/shinya-takimoto.md
  website/docusaurus.config.js
  website/plugins/buildSpotlightIndexPage/index.js
  website/src/components/communitySpotlightCard/index.js
  website/src/components/communitySpotlightCard/styles.module.css
  website/src/components/communitySpotlightList/index.js
  website/src/components/hero/index.js
  website/src/pages/index.js
  website/src/theme/DocItem/Content/index.js
  website/src/theme/DocItem/Content/styles.module.css
  website/static/img/community/spotlight/anya-prosvetova.jpg
  website/static/img/community/spotlight/bruno-de-lima.jpg
  website/static/img/community/spotlight/david-effiong.jpg
  website/static/img/community/spotlight/emily-riederer.jpg
  website/static/img/community/spotlight/karen-hsieh.jpg
  website/static/img/community/spotlight/shinya-takimoto.jpg
Labels: content, size: large

#3309 Update redshift-setup.md
  website/docs/reference/warehouse-setups/redshift-setup.md
Labels: content, size: x-small, new contributor
