Repository dbt-labs/docs.getdbt.com, pull requests merged in 2023-07, with the labels that each got.

#3655 correct installation command
  website/docs/docs/build/about-metricflow.md
  website/docs/docs/build/sl-getting-started.md
Labels: content, size: small, Docs team

#3659 Create snapshot-target-is-not-a-snapshot-table.md
  website/docs/docs/build/snapshots.md
  website/docs/faqs/Snapshots/snapshot-target-is-not-a-snapshot-table.md
Labels: content, size: small

#3661 Document dataproc_batch field for configuring Dataproc Serverless jobs
  website/docs/docs/build/python-models.md
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
Labels: content, size: small

#3654 Feature/data vault blog post
  website/blog/2023-07-03-data-vault-2-0-with-dbt-cloud.md
  website/blog/authors.yml
  website/static/img/blog/2023-07-03-data-vault-2-0-with-dbt-cloud/data-dungeon-meme.jpeg
  website/static/img/blog/2023-07-03-data-vault-2-0-with-dbt-cloud/reservoir-dam-hallucination.png
  website/static/img/blog/authors/rastislav-zdechovan.png
Labels: content, size: medium, developer blog

#3664 Small fixes to Data Vault post
  website/blog/2023-07-03-data-vault-2-0-with-dbt-cloud.md
Labels: size: x-small, developer blog

#3660 Update 2-one-deployment-environment.md
  website/docs/guides/best-practices/environment-setup/2-one-deployment-environment.md
Labels: content, size: x-small, guides, Docs team

#3663 Update 12-machine-learning-training-testing.md
  website/docs/guides/dbt-ecosystem/dbt-python-snowpark/10-python-transformations.md
  website/docs/guides/dbt-ecosystem/dbt-python-snowpark/11-machine-learning-prep.md
  website/docs/guides/dbt-ecosystem/dbt-python-snowpark/12-machine-learning-training-testing.md
Labels: content, size: large, guides, new contributor

#3662 clarify when to use sqlfluff and sqlfmt
  website/docs/docs/cloud/dbt-cloud-ide/lint-format.md
Labels: content, size: small, Docs team

#3667 Data Vault blog post: Update template project link
  website/blog/2023-07-03-data-vault-2-0-with-dbt-cloud.md
Labels: size: x-small, developer blog

#3652 Update post-hook for "latest" model version
  website/docs/docs/collaborate/govern/model-versions.md
Labels: content, size: x-small, dbt-core v1.5

#3618 reconfig deploy
  website/docs/docs/build/custom-schemas.md
  website/docs/docs/cloud/about-cloud/dbt-cloud-features.md
  website/docs/docs/cloud/about-cloud/tenancy.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/collaborate/environments/dbt-cloud-environments.md
  website/docs/docs/collaborate/environments/environments-in-dbt.md
  website/docs/docs/core/connect-data-platform/connection-profiles.md
  website/docs/docs/core/dbt-core-environments.md
  website/docs/docs/dbt-cloud-apis/discovery-api.md
  website/docs/docs/dbt-cloud-apis/project-state.md
  website/docs/docs/dbt-cloud-environments.md
  website/docs/docs/deploy/dbt-cloud-job.md
  website/docs/docs/deploy/deploy-environments.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/deploy/deployment-tools.md
  website/docs/docs/deploy/job-commands.md
  website/docs/docs/deploy/job-settings.md
  website/docs/docs/deploy/monitor-jobs.md
  website/docs/docs/deploy/slim-ci-jobs.md
  website/docs/docs/environments-in-dbt.md
  website/docs/faqs/Environments/profile-name.md
  website/docs/faqs/Environments/target-names.md
  website/docs/guides/best-practices/environment-setup/1-env-guide-overview.md
  website/docs/guides/best-practices/environment-setup/2-one-deployment-environment.md
  website/docs/guides/best-practices/environment-setup/3-many-deployment-environments.md
  website/docs/guides/dbt-ecosystem/databricks-guides/productionizing-your-dbt-databricks-project.md
  website/docs/guides/legacy/best-practices.md
  website/docs/reference/node-selection/defer.md
  website/sidebars.js
  website/snippets/_cloud-environments-info.md
  website/snippets/_test-tenancy.md
  website/static/_redirects
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/create-deploy-env.jpg
Labels: content, size: large, guides, Docs team

#3671 Update about-metricflow.md
  website/docs/docs/build/about-metricflow.md
Labels: content, size: x-small, Docs team, auto update

#3668 clarify custom test name header
  website/docs/reference/resource-properties/tests.md
Labels: content, size: small, Docs team, auto update

#3669 clarify property.yml function
  website/docs/reference/snapshot-configs.md
Labels: content, size: x-small, Docs team, auto update

#3300 Add style guide
  website/docs/guides/best-practices/how-we-style/0-how-we-style-our-dbt-projects.md
  website/docs/guides/best-practices/how-we-style/1-how-we-style-our-dbt-models.md
  website/docs/guides/best-practices/how-we-style/2-how-we-style-our-sql.md
  website/docs/guides/best-practices/how-we-style/3-how-we-style-our-python.md
  website/docs/guides/best-practices/how-we-style/4-how-we-style-our-jinja.md
  website/docs/guides/best-practices/how-we-style/5-how-we-style-our-yaml.md
  website/docs/guides/best-practices/how-we-style/6-how-we-style-conclusion.md
  website/sidebars.js
Labels: content, size: large, guides

#3679 Update SQL example SL getting started
  website/docs/docs/build/sl-getting-started.md
Labels: content, size: x-small

#3680 Js fix metrics link
  website/docs/docs/build/metrics.md
Labels: content, size: x-small

#3674 Dremio-setup: changes
  website/docs/docs/core/connect-data-platform/dremio-setup.md
Labels: content, size: x-small

#3683 Update example macro to handle `None`
  website/docs/reference/resource-configs/where.md
Labels: content, size: x-small

#3684 Add query complexity reasonable use language
  website/docs/docs/dbt-cloud-apis/discovery-querying.md
Labels: content, size: small

#3681 Update sl-getting-started.md
  website/docs/docs/build/about-metricflow.md
  website/docs/docs/build/sl-getting-started.md
Labels: content, size: small, Docs team, auto update

#3687 Update sl-getting-started.md
  website/docs/docs/build/sl-getting-started.md
Labels: content, size: x-small, Docs team

#3688 Update sl-getting-started.md
  website/docs/docs/build/sl-getting-started.md
Labels: content, size: x-small, Docs team

#3596 Adding new state selectors
  website/docs/reference/node-selection/methods.md
Labels: content, size: small, Docs team

#3599 Removing (future) tag
  website/docs/reference/resource-configs/contract.md
Labels: content, size: x-small, Docs team

#3685 Update slim-ci-jobs.md
  website/docs/docs/deploy/slim-ci-jobs.md
Labels: content, size: x-small, Docs team, auto update

#3689 Simplify the example for `get_where_subquery`
  website/docs/reference/resource-configs/where.md
Labels: content, size: small

#3690 Dremio is now an officially verified adapter
  website/docs/docs/supported-data-platforms.md
  website/static/img/icons/dremio.svg
  website/static/img/icons/white/dremio.svg
Labels: content, size: medium

#3666 create docs rn for june
  website/docs/docs/dbt-versions/release-notes/07-June-2023/product-docs-jun.md
Labels: content, size: small, Docs team, auto update

#3694 remove autoscaling ci blog
  website/blog/2023-01-27-autoscaling-ci.md
  website/static/_redirects
Labels: content, size: large, developer blog

#3624 adding partial file
  contributing/single-sourcing-content.md
Labels: size: medium, Docs team

#3695 add hyphen to read-only for consistency
  website/docs/docs/cloud/manage-access/about-access.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
  website/docs/docs/cloud/manage-access/licenses-and-groups.md
  website/docs/docs/cloud/manage-access/self-service-permissions.md
  website/docs/docs/cloud/manage-access/set-up-bigquery-oauth.md
Labels: content, size: small, Docs team

#3701 update metrics
  website/docs/docs/build/sl-getting-started.md
Labels: content, size: x-small

#3708 Fix cents_to_dollars macro example
  website/docs/docs/build/jinja-macros.md
Labels: content, size: x-small, Docs team

#3702 Standardize config titles
  website/docs/reference/resource-configs/database.md
  website/docs/reference/resource-configs/docs.md
  website/docs/reference/resource-configs/schema.md
  website/docs/reference/resource-configs/tags.md
Labels: content, size: x-small

#3709 Update auth0-migration.md
  website/docs/docs/cloud/manage-access/auth0-migration.md
Labels: content, size: x-small

#3713 add clarifying access url note
  website/docs/docs/deploy/dashboard-status-tiles.md
Labels: content, size: small, Docs team

#3697 to address pr #1252
  website/docs/docs/build/environment-variables.md
Labels: content, size: x-small, Docs team

#3711 Update oracle adapter docs with Python models
  website/docs/docs/core/connect-data-platform/oracle-setup.md
Labels: content, size: medium

#3715 Semantic Model attribute is `defaults` not `default`
  website/docs/docs/build/semantic-models.md
Labels: content, size: x-small

#3716 update to metadata only token
  website/docs/docs/deploy/dashboard-status-tiles.md
Labels: content, size: x-small

#3717 change semantic model attribute to defaults
  website/docs/docs/build/about-metricflow.md
  website/docs/docs/build/dimensions.md
Labels: content, size: x-small, Docs team

#3719 `merge` is not (yet) supported in dbt-redshift for v1.6
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small

#3734 Update AdapterVersion log message
  website/docs/docs/dbt-versions/core-versions.md
Labels: content, size: small, Docs team, auto update

#3732 Update connect-github.md
  website/docs/docs/cloud/git/connect-github.md
Labels: content, size: x-small

#3577 cross-project `ref` + model `access` + `dependencies.yml`
  website/dbt-versions.js
  website/docs/docs/build/packages.md
  website/docs/docs/collaborate/govern/model-access.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/guides/migration/versions/01-upgrading-to-v1.6.md
  website/docs/reference/dbt_project.yml.md
  website/sidebars.js
Labels: content, size: medium, guides

#3739 Update the command reference to include retry for Cloud
  website/docs/reference/dbt-commands.md
Labels: content, size: x-small, Docs team

#3741 default --> deafults
  website/docs/docs/build/dimensions.md
  website/docs/docs/build/measures.md
Labels: content, size: x-small

#3729 Initial documentation for `thread_id` context variable
  website/dbt-versions.js
  website/docs/reference/dbt-jinja-functions/thread_id.md
Labels: content, size: small

#3744 Update trino-configs.md
  website/docs/reference/resource-configs/trino-configs.md
Labels: content, size: x-small

#3316 Switch from dots to underscores for versioning
  website/docs/docs/collaborate/govern/model-versions.md
Labels: content, size: x-small, upcoming ship, dbt-core v1.6

#3750 Update earliest version for materialized views in adapters
  website/docs/reference/resource-configs/bigquery-configs.md
  website/docs/reference/resource-configs/postgres-configs.md
  website/docs/reference/resource-configs/redshift-configs.md
Labels: content, size: small, dbt-core v1.6, auto update

#3753 Revert "`merge` is not (yet) supported in dbt-redshift for v1.6"
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small

#3746 New `graph_summary.json` artifact with graph summary info
  website/docs/reference/artifacts/other-artifacts.md
Labels: content, size: small, auto update

#3731 dbt debug --connection flag
  website/docs/reference/commands/debug.md
Labels: content, size: small, Docs team, auto update

#3733 metric nodes `depends_on`
  website/docs/docs/build/measures.md
  website/docs/docs/build/semantic-models.md
  website/snippets/_metrics-dependencies.md
Labels: content, size: small, Docs team

#3743 replace screenshot with code block
  website/docs/reference/commands/compile.md
  website/docs/reference/commands/show.md
  website/static/img/docs/reference/dbt-compile.png
  website/static/img/docs/reference/dbt-show-failing-test.png
  website/static/img/docs/reference/dbt-show.png
Labels: content, size: medium, Docs team

#3712 Update job-scheduler.md
  website/docs/docs/deploy/job-scheduler.md
Labels: content, size: x-small

#3756 adding subcommand to invocation_args_dict
  website/docs/reference/dbt-jinja-functions/flags.md
Labels: content, size: medium

#3761 clarify project creator
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
Labels: content, size: x-small, Docs team

#3707 Info about admin api v2 vs v3
  website/docs/docs/dbt-cloud-apis/admin-cloud-api.md
Labels: content, size: x-small, Docs team, auto update

#3764 New screenshot for gsuite migration to Auth0
  website/docs/docs/cloud/manage-access/set-up-sso-google-workspace.md
  website/static/img/docs/dbt-cloud/access-control/google-enable.png
Labels: content, size: x-small

#3754 Expanded docs for `deprecation_date`
  website/docs/docs/collaborate/govern/model-versions.md
  website/docs/reference/resource-properties/deprecation_date.md
Labels: content, size: medium

#3767 Service token update text
  website/docs/docs/dbt-cloud-apis/service-tokens.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/service-token-date.png
Labels: content, size: small, Docs team

#3742 dbt clone command
  website/dbt-versions.js
  website/docs/reference/commands/clone.md
  website/docs/reference/dbt-commands.md
  website/docs/reference/node-selection/defer.md
  website/docs/reference/node-selection/syntax.md
  website/sidebars.js
Labels: content, size: medium

#3728 Revise v1.6 migration guide
  website/dbt-versions.js
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/guides/migration/versions/01-upgrading-to-v1.6.md
  website/docs/reference/artifacts/dbt-artifacts.md
  website/docs/reference/artifacts/manifest-json.md
  website/docs/reference/commands/cmd-docs.md
  website/docs/reference/node-selection/defer.md
  website/docs/reference/node-selection/syntax.md
Labels: content, size: medium, guides, dbt-core v1.6

#3776 Update auto-update config
  .github/workflows/autoupdate.yml
Labels: size: x-small, Docs team

#3778 Update metrics-overview.md
  website/docs/docs/build/cumulative-metrics.md
  website/docs/docs/build/metrics-overview.md
Labels: content, size: small, Docs team

#3748 Create blog for ChatGPT
  website/blog/2023-07-17-GPT-and-dbt-test.md
  website/blog/authors.yml
  website/blog/src.md
  website/static/img/blog/2023-07-17-GPT-and-dbt-test/image1.png
  website/static/img/blog/2023-07-17-GPT-and-dbt-test/image2.png
  website/static/img/blog/2023-07-17-GPT-and-dbt-test/image3.png
  website/static/img/blog/authors/pedro_brito.jpeg
Labels: content, size: medium, developer blog, Docs team

#3766 Fix link in debugging-schema-names.md
  website/docs/guides/legacy/debugging-schema-names.md
Labels: content, size: x-small, guides, Docs team, auto update

#3781 Fix: Typo fix in modify-owner-column.md
  website/docs/faqs/Docs/modify-owner-column.md
Labels: content, size: x-small

#3774 Update snowflake-permissions.md
  website/docs/reference/snowflake-permissions.md
Labels: content, size: x-small

#3757 delete old SL blogs/partner guide and other changes
  website/blog/2022-07-27-understanding-the-components-of-the-dbt-semantic-layer.md
  website/blog/2022-10-12-how-to-design-and-structure-metrics.md
  website/docs/docs/dbt-cloud-apis/sl-api-overview.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
  website/docs/docs/dbt-cloud-apis/sl-manifest.md
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-sl.md
  website/docs/docs/use-dbt-semantic-layer/sl-architecture.md
  website/docs/guides/migration/sl-migration.md
  website/snippets/_legacy-sl-callout.md
  website/snippets/_new-sl-changes.md
  website/snippets/_new-sl-setup.md
  website/snippets/_sl-plan-info.md
  website/snippets/_v2-sl-prerequisites.md
  website/static/_redirects
Labels: content, size: large, developer blog, guides, Docs team

#3771 Js add specs and cli docs
  website/docs/docs/build/about-metricflow.md
  website/docs/docs/build/build-metrics-intro.md
  website/docs/docs/build/measures.md
  website/docs/docs/build/metricflow-cli.md
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/sl-getting-started.md
  website/sidebars.js
Labels: content, size: large

#3784 Update semantic-models.md
  website/docs/docs/build/semantic-models.md
Labels: content, size: x-small

#3780 Apply small edits
  website/docs/quickstarts/starburst-galaxy-qs.md
Labels: content, size: small, new contributor

#3794 Update compile.md w/ link to Introspective Queries documentation
  website/docs/reference/commands/compile.md
Labels: content, size: x-small

#3791 Update database.md to fix a link & clarify Redshift specific issue
  website/docs/reference/resource-configs/database.md
Labels: content, size: x-small

#3782 adding beta t&c
  website/docs/docs/dbt-versions/experimental-features.md
  website/docs/docs/dbt-versions/product-lifecycles.md
  website/static/assets/beta-tc.pdf
Labels: content, size: x-small, Docs team

#3740 Custom collect_freshness macro updates
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
Labels: content, size: x-small, guides, Docs team, auto update

#3797 Update contract with better description
  website/docs/reference/resource-configs/contract.md
Labels: content, size: x-small, Docs team

#3795 add specs + timespine
  website/docs/docs/build/dimensions.md
  website/docs/docs/build/entities.md
  website/docs/docs/build/measures.md
  website/docs/docs/build/metricflow-time-spine.md
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/semantic-models.md
  website/docs/docs/build/sl-getting-started.md
Labels: content, size: large

#3800 Update incremental-models.md
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small, new contributor

#3783 Update metricflow-time-spine.md
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: small

#3796 Add Datafold to 3rd-party column-level lineage providers
  website/docs/terms/data-lineage.md
Labels: content, size: x-small

#3801 docs/guides/orchestration/custom-cicd-pipelines/2-lint-on-push
  website/docs/guides/orchestration/custom-cicd-pipelines/2-lint-on-push.md
Labels: content, size: x-small, guides, new contributor

#3676 Draft of modeling ragged time-varying hierarchies
  website/blog/2023-05-02-modeling-ragged-time-varying-hierarchies.md
  website/blog/authors.yml
  website/static/img/blog/2023-05-02-modeling-ragged-time-varying-hierarchies/hierarchy.png
  website/static/img/blog/authors/sterling-paramore.png
Labels: content, size: large, developer blog, new contributor

#3809 Update metricflow-time-spine.md
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: x-small, Docs team

#3810 Update metricflow-time-spine.md
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: x-small, Docs team

#3738 New empty mode for indirect selection
  website/docs/reference/node-selection/test-selection-examples.md
  website/docs/reference/node-selection/yaml-selectors.md
Labels: size: medium, Docs team, auto update

#3811 Update number of indirect selection modes for Core 1.5+
  website/docs/reference/node-selection/test-selection-examples.md
Labels: content, size: x-small

#3808 fix indenting, add Snowflake SSO note
  website/docs/docs/cloud/secure/redshift-privatelink.md
  website/docs/docs/cloud/secure/snowflake-privatelink.md
Labels: content, size: small

#3817 Outdent the user_signup semantic model key
  website/docs/docs/build/join-logic.md
Labels: content, size: x-small

#3816 Update lint-format.md
  website/docs/docs/cloud/dbt-cloud-ide/lint-format.md
Labels: content, size: x-small

#3819 Update join-logic.md
  website/docs/docs/build/join-logic.md
Labels: content, size: x-small, Docs team

#3820 Update develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
Labels: content, size: x-small, Docs team

#3827 Fix typo
  website/docs/docs/build/metrics-overview.md
Labels: content, size: x-small, Docs team

#3495 Enhancing enterprise permissions page
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: large, Docs team

#3830 Fix quickstart example
  website/snippets/quickstarts/change-way-model-materialized.md
Labels: content, size: x-small, Docs team

#3833 patch: fix-typo-in-constraints-md
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small, new contributor

#3834 patch: fix-typo-in-quickstart-semantic-layer-md
  website/docs/docs/use-dbt-semantic-layer/quickstart-semantic-layer.md
Labels: content, size: x-small

#3837 1.6 GA Docs changes
  website/dbt-versions.js
  website/docs/guides/migration/versions/01-upgrading-to-v1.6.md
  website/docs/guides/migration/versions/02-upgrading-to-v1.5.md
  website/snippets/core-versions-table.md
Labels: content, size: small, guides, Docs team

#3751 Community Spotlight Members Round 2
  website/docs/community/spotlight/alan-cruickshank.md
  website/docs/community/spotlight/fabiyi-opeyemi.md
  website/docs/community/spotlight/faith-lierheimer.md
  website/docs/community/spotlight/jing-yu-lim.md
  website/docs/community/spotlight/josh-devlin.md
  website/docs/community/spotlight/owen-prough.md
  website/docusaurus.config.js
  website/src/components/communitySpotlightCard/index.js
  website/src/components/communitySpotlightCard/styles.module.css
  website/src/components/communitySpotlightList/index.js
  website/static/img/community/spotlight/alan-cruickshank.jpg
  website/static/img/community/spotlight/fabiyi-opeyemi.jpg
  website/static/img/community/spotlight/faith-lierheimer.jpg
  website/static/img/community/spotlight/jing-lim.jpg
  website/static/img/community/spotlight/josh-devlin.jpg
  website/static/img/community/spotlight/owen-prough.jpg
Labels: content, size: large

#3838 Test 3
  website/docs/docs/dbt-support.md
Labels: content, size: x-small, Docs team
