Repository dbt-labs/docs.getdbt.com, pull requests merged in 2024-06, with the labels that each got.

#5591 fix: correct typo
  website/docs/docs/cloud/about-cloud/about-dbt-cloud.md
Labels: content, size: x-small

#5590 Update connect-snowflake.md
  website/docs/docs/cloud/connect-data-platform/connect-snowflake.md
Labels: content, size: x-small, new contributor

#5576 Improves readability but rearranging the list of refable nodes for expected property in exposures
  website/docs/docs/build/exposures.md
Labels: content, size: x-small

#5594 Update programmatic-invocations.md
  website/docs/reference/programmatic-invocations.md
Labels: content, size: x-small, new contributor

#5549 Fix/update links to dbt learn
  website/blog/2021-11-22-dbt-labs-pr-template.md
  website/blog/2021-11-22-primary-keys.md
  website/blog/2021-12-05-how-to-build-a-mature-dbt-project-from-scratch.md
  website/blog/2022-05-19-redshift-configurations-dbt-model-optimizations.md
  website/blog/2022-07-19-migrating-from-stored-procs.md
  website/blog/2022-11-30-dbt-project-evaluator.md
  website/blog/2023-03-30-guide-to-debug-in-jinja.md
  website/docs/best-practices/dbt-unity-catalog-best-practices.md
  website/docs/docs/build/build-metrics-intro.md
  website/docs/docs/cloud/about-cloud-setup.md
  website/docs/docs/deploy/webhooks.md
  website/docs/docs/get-started-dbt.md
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/docs/guides/adapter-creation.md
  website/docs/guides/azure-synapse-analytics-qs.md
  website/docs/guides/bigquery-qs.md
  website/docs/guides/codespace-qs.md
  website/docs/guides/core-cloud-2.md
  website/docs/guides/core-to-cloud-1.md
  website/docs/guides/core-to-cloud-3.md
  website/docs/guides/databricks-qs.md
  website/docs/guides/dbt-python-snowpark.md
  website/docs/guides/mesh-qs.md
  website/docs/guides/microsoft-fabric-qs.md
  website/docs/guides/productionize-your-dbt-databricks-project.md
  website/docs/guides/redshift-qs.md
  website/docs/guides/refactoring-legacy-sql.md
  website/docs/guides/sl-migration.md
  website/docs/guides/sl-snowflake-qs.md
  website/docs/guides/snowflake-qs.md
  website/docs/guides/starburst-galaxy-qs.md
  website/docs/terms/dag.md
  website/docusaurus.config.js
  website/snippets/_sl-course.md
  website/src/pages/index.js
Labels: content, size: medium, developer blog, guides

#5597 1.4 deprecation from docs
  website/dbt-versions.js
  website/docs/docs/build/custom-aliases.md
  website/docs/docs/build/exposures.md
  website/docs/docs/build/incremental-strategy.md
  website/docs/docs/build/packages.md
  website/docs/docs/build/python-models.md
  website/docs/docs/core/connect-data-platform/snowflake-setup.md
  website/docs/faqs/Git/gitignore.md
  website/docs/faqs/Project/why-version-2.md
  website/docs/faqs/Troubleshooting/gitignore.md
  website/docs/reference/artifacts/manifest-json.md
  website/docs/reference/commands/list.md
  website/docs/reference/dbt-jinja-functions/builtins.md
  website/docs/reference/dbt-jinja-functions/graph.md
  website/docs/reference/dbt_project.yml.md
  website/docs/reference/events-logging.md
  website/docs/reference/exposure-properties.md
  website/docs/reference/global-configs/cache.md
  website/docs/reference/global-configs/logs.md
  website/docs/reference/global-configs/print-output.md
  website/docs/reference/node-selection/defer.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/node-selection/syntax.md
  website/docs/reference/node-selection/test-selection-examples.md
  website/docs/reference/node-selection/yaml-selectors.md
  website/docs/reference/resource-configs/bigquery-configs.md
  website/docs/reference/resource-configs/group.md
  website/docs/reference/resource-configs/singlestore-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: large, guides, Docs team

#5595 Deprecating v1.3 from docs site
  website/dbt-versions.js
  website/docs/docs/build/custom-aliases.md
  website/docs/docs/build/exposures.md
  website/docs/docs/build/incremental-strategy.md
  website/docs/docs/build/packages.md
  website/docs/docs/build/python-models.md
  website/docs/docs/build/sql-models.md
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
  website/docs/docs/core/connect-data-platform/connection-profiles.md
  website/docs/docs/core/connect-data-platform/snowflake-setup.md
  website/docs/faqs/Git/gitignore.md
  website/docs/faqs/Project/why-version-2.md
  website/docs/faqs/Troubleshooting/gitignore.md
  website/docs/guides/dbt-python-snowpark.md
  website/docs/reference/artifacts/manifest-json.md
  website/docs/reference/artifacts/run-results-json.md
  website/docs/reference/commands/list.md
  website/docs/reference/commands/run.md
  website/docs/reference/dbt-jinja-functions/builtins.md
  website/docs/reference/dbt-jinja-functions/cross-database-macros.md
  website/docs/reference/dbt-jinja-functions/env_var.md
  website/docs/reference/dbt-jinja-functions/flags.md
  website/docs/reference/dbt-jinja-functions/graph.md
  website/docs/reference/dbt-jinja-functions/model.md
  website/docs/reference/dbt_project.yml.md
  website/docs/reference/events-logging.md
  website/docs/reference/exposure-properties.md
  website/docs/reference/global-configs/cache.md
  website/docs/reference/global-configs/logs.md
  website/docs/reference/global-configs/print-output.md
  website/docs/reference/node-selection/defer.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/node-selection/syntax.md
  website/docs/reference/node-selection/test-selection-examples.md
  website/docs/reference/node-selection/yaml-selectors.md
  website/docs/reference/resource-configs/bigquery-configs.md
  website/docs/reference/resource-configs/docs.md
  website/docs/reference/resource-configs/enabled.md
  website/docs/reference/resource-configs/full_refresh.md
  website/docs/reference/resource-configs/group.md
  website/docs/reference/resource-configs/singlestore-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
  website/docs/reference/resource-properties/config.md
  website/docs/terms/dataframe.md
Labels: content, size: large, guides, Docs team

#5599 Update resource-type.md
  website/docs/reference/global-configs/resource-type.md
Labels: content, size: small, Docs team

#5604 Preview launch of the dbt Snowflake Native App
  website/blog/2023-12-11-semantic-layer-on-semantic-layer.md
  website/blog/2024-05-02-semantic-layer-llm.md
  website/docs/docs/build/about-metricflow.md
  website/docs/docs/build/build-metrics-intro.md
  website/docs/docs/cloud-integrations/about-snowflake-native-app.md
  website/docs/docs/cloud-integrations/avail-sl-integrations.md
  website/docs/docs/cloud-integrations/overview.md
  website/docs/docs/cloud-integrations/semantic-layer/gsheets.md
  website/docs/docs/cloud-integrations/semantic-layer/tableau.md
  website/docs/docs/cloud-integrations/set-up-snowflake-native-app.md
  website/docs/docs/dbt-versions/2023-release-notes.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
  website/docs/docs/use-dbt-semantic-layer/setup-sl.md
  website/docs/docs/use-dbt-semantic-layer/sl-faqs.md
  website/docs/faqs/Troubleshooting/sl-alpn-error.md
  website/docs/guides/core-cloud-2.md
  website/docs/guides/core-to-cloud-3.md
  website/docs/guides/sl-snowflake-qs.md
  website/sidebars.js
  website/snippets/_new-sl-setup.md
  website/snippets/_sl-connect-and-query-api.md
  website/snippets/_sl-partner-links.md
  website/static/img/docs/cloud-integrations/architecture-dbt-snowflake-native-app.png
  website/static/img/docs/cloud-integrations/example-ask-dbt-native-app.png
  website/static/img/docs/cloud-integrations/example-dbt-snowflake-native-app.png
  website/static/img/docs/cloud-integrations/example-snowflake-native-app-service-token.png
  website/static/img/docs/cloud-integrations/semantic_layer_configuration.png
  website/vercel.json
Labels: content, size: large, developer blog, guides, Docs team

#5593 add searchInput to handleDataFilter
  website/src/components/quickstartGuideList/index.js
Labels: size: small, Docs team

#5605 removes integration
  website/snippets/_sl-partner-links.md
Labels: content, size: small, Docs team

#5601 Update KoLV language in v1.8 guide
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
Labels: content, size: x-small

#5584 Propose changes to OSS expectations
  website/docs/community/resources/oss-expectations.md
Labels: content, size: small

#5611 Clean up the example of sql to metricflow
  website/docs/docs/build/about-metricflow.md
Labels: content, size: x-small, new contributor

#5616 Add package config info to more surface areas
  website/docs/reference/configs-and-properties.md
  website/docs/reference/model-configs.md
Labels: content, size: small, Docs team

#5614 Fabric incrementals
  website/docs/docs/build/incremental-strategy.md
  website/docs/reference/resource-configs/fabric-configs.md
Labels: content, size: x-small

#5419 Update import-a-project-by-git-url.md
  website/docs/docs/cloud/git/import-a-project-by-git-url.md
  website/docs/docs/collaborate/git/pr-template.md
  website/static/img/docs/collaborate/pr-template-example.jpg
  website/static/img/docs/collaborate/repo-details.jpg
Labels: content, size: small

#5587 Update 5-semantic-layer-marts.md
  website/docs/best-practices/how-we-structure/5-semantic-layer-marts.md
  website/docs/docs/build/semantic-models.md
  website/docs/guides/sl-snowflake-qs.md
Labels: content, size: medium, Docs team, auto update

#5620 Update set-up-snowflake-native-app.md
  website/docs/docs/cloud-integrations/set-up-snowflake-native-app.md
Labels: content, size: x-small

#5619 Reorganize the deployment-tools.md file
  website/docs/docs/deploy/deployment-tools.md
  website/static/img/docs/running-a-dbt-project/dbt_cloud_orchestra_trigger.png
  website/static/img/docs/running-a-dbt-project/orchestra_lineage_dbt_cloud.png
Labels: content, size: medium, Docs team, auto update

#5615 Bridging versionless language
  website/docs/docs/build/unit-tests.md
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/enable-dbt-assist.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/core-versions.md
  website/docs/docs/dbt-versions/product-lifecycles.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
  website/docs/docs/use-dbt-semantic-layer/sl-cache.md
  website/docs/guides/core-cloud-2.md
  website/docs/guides/core-to-cloud-1.md
  website/docs/guides/core-to-cloud-3.md
  website/docs/guides/mesh-qs.md
  website/docs/guides/sl-snowflake-qs.md
  website/docs/reference/global-configs/legacy-behaviors.md
  website/docs/reference/resource-properties/unit-tests.md
  website/snippets/_cloud-environments-info.md
  website/snippets/_config-dbt-version-check.md
  website/static/img/blog/2024-05-07-unit-testing/unit-test-terminal-output.png
  website/static/img/blog/authors/dbeatty.jpeg
Labels: content, size: small, guides, Docs team

#5628 Update saved-queries.md
  website/docs/docs/build/saved-queries.md
Labels: content, size: x-small

#5621 Update metrics-overview.md
  website/docs/docs/build/metrics-overview.md
Labels: content, size: x-small, Docs team

#5634 Update query-comment.md: materliazed -> materialized
  website/docs/reference/project-configs/query-comment.md
Labels: content, size: x-small

#5638 Updated docs for creds in askdbt
  website/docs/docs/cloud-integrations/set-up-snowflake-native-app.md
Labels: content, size: small

#5639 update doc about sl creds in the llm schema
  website/docs/docs/cloud-integrations/set-up-snowflake-native-app.md
Labels: content, size: x-small

#5618 Environments permissions about page
  website/docs/docs/cloud/secure/environment-permissions.md
Labels: content, size: medium, Docs team

#5645 Adding environment permission setup beta
  website/docs/docs/cloud/secure/environment-permissions-setup.md
  website/docs/docs/cloud/secure/environment-permissions.md
  website/static/img/docs/dbt-cloud/add-permissions.png
  website/static/img/docs/dbt-cloud/environment-options.png
  website/static/img/docs/dbt-cloud/groups-and-licenses.png
  website/static/img/docs/dbt-cloud/no-option.png
  website/static/img/docs/dbt-cloud/read-only-access.png
  website/static/img/docs/dbt-cloud/write-access.png
Labels: content, size: medium, Docs team

#5643 add a 'access explorer from dbt cloud features' page
  website/docs/docs/collaborate/access-from-dbt-cloud.md
  website/docs/docs/collaborate/dbt-explorer-faqs.md
  website/docs/docs/collaborate/explore-projects.md
  website/sidebars.js
  website/static/img/docs/collaborate/dbt-explorer/explorer-from-ide.jpg
  website/static/img/docs/collaborate/dbt-explorer/explorer-from-lineage.gif
  website/static/img/docs/collaborate/dbt-explorer/explorer-from-model-timing.jpg
Labels: content, size: medium, Docs team, trigger-crawl

#5641 Links within the "affected states by node type" table
  website/docs/docs/dbt-cloud-apis/project-state.md
Labels: content, size: small

#5650 Use a more direct link for the `metric` resource type
  website/docs/reference/global-configs/resource-type.md
Labels: content, size: x-small

#5630 Eat updates
  website/docs/docs/build/environment-variables.md
  website/docs/docs/cloud/connect-data-platform/connect-snowflake.md
  website/docs/docs/deploy/deploy-environments.md
  website/snippets/_cloud-environments-info.md
Labels: content, size: medium

#5644 Update sharing-documentation.md
  website/docs/faqs/Docs/_category_.yaml
  website/docs/faqs/Docs/long-descriptions.md
  website/docs/faqs/Docs/sharing-documentation.md
Labels: content, size: small, Docs team

#5633 clarify build on docs content and move doc to dag section
  website/blog/2021-02-05-dbt-project-checklist.md
  website/blog/2021-12-05-how-to-build-a-mature-dbt-project-from-scratch.md
  website/blog/2022-09-28-analyst-to-ae.md
  website/blog/2023-02-14-passing-the-dbt-certification-exam.md
  website/blog/2023-05-04-generating-dynamic-docs.md
  website/docs/best-practices/how-we-structure/6-the-rest-of-the-project.md
  website/docs/docs/build/documentation.md
  website/docs/docs/build/exposures.md
  website/docs/docs/build/projects.md
  website/docs/docs/build/sources.md
  website/docs/docs/build/sql-models.md
  website/docs/docs/cloud/dbt-assist.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/collaborate/build-and-view-your-docs.md
  website/docs/docs/collaborate/cloud-build-and-view-your-docs.md
  website/docs/docs/collaborate/collaborate-with-others.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/dbt-cloud-apis/discovery-api.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-18-0.md
  website/docs/docs/deploy/artifacts.md
  website/docs/docs/deploy/job-commands.md
  website/docs/docs/deploy/source-freshness.md
  website/docs/docs/introduction.md
  website/docs/docs/running-a-dbt-project/run-your-dbt-projects.md
  website/docs/faqs/Docs/_category_.yaml
  website/docs/faqs/Docs/long-descriptions.md
  website/docs/faqs/Docs/sharing-documentation.md
  website/docs/guides/building-packages.md
  website/docs/guides/core-cloud-2.md
  website/docs/guides/dbt-python-snowpark.md
  website/docs/guides/productionize-your-dbt-databricks-project.md
  website/docs/reference/artifacts/catalog-json.md
  website/docs/reference/artifacts/dbt-artifacts.md
  website/docs/reference/artifacts/manifest-json.md
  website/docs/reference/artifacts/other-artifacts.md
  website/docs/reference/commands/cmd-docs.md
  website/docs/reference/dbt-jinja-functions/doc.md
  website/docs/reference/project-configs/docs-paths.md
  website/docs/reference/resource-properties/description.md
  website/docs/terms/dag.md
  website/docs/terms/dry.md
  website/docs/terms/primary-key.md
  website/sidebars.js
  website/snippets/tutorial-document-your-models.md
  website/snippets/tutorial-next-steps-tests.md
  website/static/img/docs/dbt-cloud/access-explorer.gif
  website/static/img/docs/dbt-cloud/dbt-docs-generate-command.png
  website/static/img/docs/dbt-cloud/discovery-api/dbt-dag.jpg
  website/static/img/docs/dbt-cloud/explore-icon.jpg
  website/static/img/docs/dbt-cloud/explore-nav.jpg
  website/static/img/docs/dbt-cloud/using-dbt-cloud/98c05c5-Screen_Shot_2019-02-08_at_9.18.22_PM.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/data-sources.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/edit-job-generate-artifacts.png
  website/vercel.json
Labels: content, size: large, developer blog, guides, Docs team, trigger-crawl

#5642 External access snowpark blog with eqt
  website/blog/2024-06-12-putting-your-dag-on-the-internet.md
  website/blog/authors.yml
  website/static/img/blog/2024-06-12-putting-your-dag-on-the-internet/.gitkeep
  website/static/img/blog/2024-06-12-putting-your-dag-on-the-internet/image1.png
  website/static/img/blog/authors/ernesto-ongaro.png
  website/static/img/blog/authors/filip-eqt.png
  website/static/img/blog/authors/sebastian-eqt.png
Labels: size: medium

#5656 docs: Added hint to fabric utils macros
  website/docs/reference/resource-configs/fabric-configs.md
Labels: content, size: x-small, new contributor

#5653 add git permissions error faq
  website/docs/faqs/Git/github-permissions.md
  website/docs/faqs/Git/gitlab-authentication.md
  website/docs/faqs/Git/run-on-pull.md
  website/static/img/repository-details-faq.jpg
Labels: content, size: small, Docs team

#5655 Adding disclaimer to Auth0 migration
  website/docs/docs/cloud/manage-access/auth0-migration.md
Labels: content, size: x-small, Docs team

#5660 Note the important internal change from `argparse` to `click` in v1.5
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.5.md
Labels: content, size: x-small

#5661 Update native app setup step
  website/docs/docs/cloud-integrations/set-up-snowflake-native-app.md
Labels: content, size: small, Docs team

#5663 update doc reference to link to the docs jinja function instead of all jinja functions
  website/docs/docs/build/documentation.md
Labels: content, size: x-small

#5600 Dc jc/update mesh guide
  website/docs/best-practices/how-we-mesh/mesh-1-intro.md
  website/docs/best-practices/how-we-mesh/mesh-2-who-is-dbt-mesh-for.md
  website/docs/best-practices/how-we-mesh/mesh-3-structures.md
  website/docs/best-practices/how-we-mesh/mesh-4-implementation.md
  website/docs/best-practices/how-we-mesh/mesh-5-faqs.md
  website/docs/guides/core-to-cloud-3.md
  website/sidebars.js
  website/static/img/best-practices/how-we-mesh/combined_splits.png
  website/static/img/best-practices/how-we-mesh/horizontal_split.png
  website/static/img/best-practices/how-we-mesh/vertical_split.png
Labels: content, size: medium

#5662 Redo #5601
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
Labels: content, size: x-small

#5667 Update environment-permissions.md
  website/docs/docs/cloud/secure/environment-permissions.md
Labels: content, size: x-small

#5607 Propose an update to data-tests.md
  website/docs/docs/build/data-tests.md
  website/docs/faqs/Tests/available-tests.md
Labels: content, size: x-small

#5668 Update 01-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
Labels: content, size: x-small, Docs team

#5589 Add examples of Redshift Serverless config
  website/docs/docs/cloud/connect-data-platform/connect-redshift-postgresql-alloydb.md
  website/docs/docs/core/connect-data-platform/redshift-setup.md
Labels: content, size: small

#5659 Options for retaining previous behavior of `dbt deps` for v1.7+
  website/docs/docs/build/packages.md
  website/docs/docs/dbt-versions/core-upgrade/02-upgrading-to-v1.7.md
  website/docs/reference/commands/deps.md
Labels: content, size: medium

#5669 Update set-up-snowflake-native-app.md
  website/docs/docs/cloud-integrations/set-up-snowflake-native-app.md
Labels: content, size: x-small

#5671 Experiment-driven update - Docs navigation
  website/docusaurus.config.js
Labels: size: small

#5487 Update model-versions.md
  website/docs/docs/collaborate/govern/model-versions.md
Labels: content, size: x-small

#5672 Update documentation on yml version defaults
  website/docs/reference/project-configs/config-version.md
Labels: content, size: x-small

#5675 Revise dates for legacy behaviours
  website/docs/reference/global-configs/legacy-behaviors.md
Labels: content, size: small

#5676 Update spark-setup.md
  website/docs/docs/core/connect-data-platform/spark-setup.md
Labels: content, size: small

#5306 Update incremental-models.md
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small, new contributor

#5183 Update deploy-jobs.md
  website/docs/docs/deploy/deploy-jobs.md
Labels: content, size: x-small

#5657 add cookbook recipe content type
  contributing/content-types.md
Labels: size: small, Docs team

#5683 Update linter gif
  website/static/img/docs/dbt-cloud/cloud-ide/sqlfluff.gif
Labels: content, size: x-small, Docs team

#5596 Update postgres-permissions.md
  website/docs/reference/database-permissions/postgres-permissions.md
Labels: content, size: small, new contributor

#5686 Experiment-driven Update - Guides in main nav
  website/docusaurus.config.js
  website/src/components/expandable/styles.module.css
Labels: size: small

#5674 Adding migration to sidebar and removing old items
  website/docs/docs/cloud/migration.md
  website/sidebars.js
Labels: content, size: small, Docs team

#5689 Adding lifecycle pills to API docs
  website/docs/docs/dbt-cloud-apis/apis-overview.md
  website/docs/docs/dbt-cloud-apis/service-tokens.md
  website/docs/docs/dbt-cloud-apis/user-tokens.md
Labels: content, size: x-small, Docs team

#5684 Update metricflow-commands.md
  website/docs/docs/build/metricflow-commands.md
Labels: content, size: medium, Docs team

#5690 Job warnings
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/deploy/job-notifications.md
  website/docs/docs/deploy/monitor-jobs.md
  website/static/img/docs/deploy/example-email-notification-settings-page.png
  website/static/img/docs/deploy/example-notification-slack-channels.png
  website/static/img/docs/deploy/example-slack-notification-settings-page.png
Labels: content, size: small, Docs team, auto update

#5691 Redshift profile iam fix
  website/docs/docs/cloud/connect-data-platform/connect-redshift-postgresql-alloydb.md
  website/docs/docs/core/connect-data-platform/redshift-setup.md
Labels: content, size: medium

#5696 Update link
  website/docs/docs/deploy/webhooks.md
Labels: content, size: x-small, Docs team

#5697 Add redirect for mesh structures
  website/vercel.json
Labels: size: x-small

#5694 Fix links in mesh qs
  website/docs/guides/mesh-qs.md
  website/vercel.json
Labels: content, size: small, guides, Docs team

#5699 add credentials info
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: x-small, Docs team

#5687 Update sources model with clear comment on what freshness block is used by the customers table
  website/docs/docs/build/sources.md
Labels: size: x-small, new contributor

#5704 Add links for clarity
  website/docs/docs/build/python-models.md
Labels: content, size: x-small, Docs team

#5703 Edit user licenses with Explorer
  website/docs/docs/build/exposures.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/static/img/docs/building-a-dbt-project/dag-exposures.png
  website/static/img/docs/building-a-dbt-project/dbt-docs-exposures.png
  website/static/img/docs/building-a-dbt-project/dbt-explorer-exposures.jpg
Labels: content, size: x-small

#5702 Put the `grant_access_to` limitation behind a version block to avoid confusion
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: x-small, external-adapters-team

#5609 add excel sl integration
  website/docs/docs/cloud-integrations/semantic-layer/excel.md
  website/docs/docs/cloud-integrations/semantic-layer/gsheets.md
  website/docs/docs/cloud-integrations/semantic-layer/tableau.md
  website/docs/docs/dbt-versions/release-notes.md
  website/sidebars.js
  website/snippets/_sl-excel-gsheets.md
  website/snippets/_sl-partner-links.md
  website/static/img/icons/excel.svg
  website/static/img/icons/white/excel.svg
Labels: content, size: large, Docs team, trigger-crawl

#5705 Update Semantic Layer Guide
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-1-intro.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-2-setup.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-3-build-semantic-models.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-4-build-metrics.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-5-advanced-metrics.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-5-refactor-a-mart.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-6-terminology.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-7-semantic-structure.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-8-refactor-a-rollup.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-9-conclusion.md
  website/docs/best-practices/how-we-structure/4-marts.md
  website/docs/best-practices/how-we-structure/5-semantic-layer-marts.md
  website/docs/best-practices/how-we-structure/5-the-rest-of-the-project.md
  website/docs/docs/build/semantic-models.md
  website/docs/docs/use-dbt-semantic-layer/sl-faqs.md
  website/sidebars.js
  website/vercel.json
Labels: content, size: large, trigger-crawl

#5709 Update links to changelogs in migration guides
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/core-upgrade/02-upgrading-to-v1.7.md
Labels: content, size: x-small

#5708 Clarify AI Assist
  website/docs/docs/cloud/dbt-assist-data.md
Labels: content, size: x-small

#5695 Add pip reinstall
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: x-small, Docs team

#5711 remove outdated dbt example projects
  website/docs/faqs/Project/example-projects.md
Labels: content, size: x-small, Docs team

#5712 Updates query param handling on /guides
  website/src/components/quickstartGuideList/index.js
Labels: size: small

#5612 Updates to merge jobs
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/deploy/jobs.md
  website/docs/docs/deploy/merge-jobs.md
  website/docs/docs/deploy/monitor-jobs.md
  website/docs/docs/deploy/run-visibility.md
  website/static/img/docs/dbt-cloud/deployment/run-history.jpg
  website/static/img/docs/dbt-cloud/deployment/run-history.png
  website/static/img/docs/dbt-cloud/model-timing.jpg
  website/static/img/docs/dbt-cloud/model-timing.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/example-azuredevops-new-event.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/example-create-merge-job.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/example-github-push-events.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/example-gitlab-push-events.png
Labels: content, size: medium, Docs team, auto update
