Repository dbt-labs/docs.getdbt.com, pull requests merged in 2024-05, with the labels that each got.

#5387 Update project-variables.md
  website/docs/docs/build/project-variables.md
Labels: content, size: x-small

#5415 Update explorer prereqs
  website/docs/docs/collaborate/explore-projects.md
Labels: content, size: x-small, Docs team

#5409 update dimensions
  website/docs/docs/build/dimensions.md
  website/docs/docs/build/metrics-overview.md
Labels: content, size: medium, Docs team

#5388 Update environment-variables.md
  website/docs/docs/build/environment-variables.md
Labels: content, size: x-small, Docs team, auto update

#5397 update cmd K in search bar
  website/src/css/custom.css
Labels: size: small, Docs team, auto update

#5410 Move-seeds-faq
  website/docs/docs/build/seeds.md
  website/docs/faqs/Seeds/configurable-data-path.md
  website/vercel.json
Labels: content, size: x-small, Docs team, auto update

#5390 Update metricflow-commands.md
  website/docs/docs/build/metricflow-commands.md
  website/snippets/_sl-test-and-query-metrics.md
Labels: content, size: small, Docs team, auto update

#5416 Explain all commands that will create a semantic manifest
  website/docs/docs/dbt-cloud-apis/sl-manifest.md
Labels: content, size: x-small

#5356 Staging environment adds
  website/blog/2022-09-13-the-case-against-cherry-picking.md
  website/blog/2023-11-14-specify-prod-environment.md
  website/docs/docs/cloud/about-cloud-develop-defer.md
  website/docs/docs/collaborate/dbt-explorer-faqs.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/docs/deploy/deploy-environments.md
Labels: content, size: medium, Docs team

#5389 Revise docs for behavior change flags
  website/docs/docs/dbt-versions/2024-release-notes.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/reference/global-configs/legacy-behaviors.md
Labels: content, size: medium

#5423 Update cloud-cli-installation.md
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: small, Docs team

#5425 Use zapier-style link markdown
  website/docs/guides/zapier-slack.md
Labels: content, size: x-small, guides, new contributor

#5408 clarifies percentile in agg field for mesures
  website/docs/docs/build/dimensions.md
  website/docs/docs/build/measures.md
  website/docs/docs/build/metrics-overview.md
  website/snippets/_sl-measures-parameters.md
Labels: content, size: medium, Docs team, auto update

#5421 Update adapter creation guide
  website/docs/docs/dbt-versions/core-versions.md
  website/docs/guides/adapter-creation.md
  website/static/img/adapter-guide/adapter architecture - postgres.png
  website/static/img/adapter-guide/adapter-architecture-diagram.png
Labels: content, size: medium, guides, Docs team

#5407 Update materializations-guide-3-configuring-materializations.md
  website/docs/best-practices/materializations/materializations-guide-3-configuring-materializations.md
Labels: content, size: small

#5329 1.8 RC Updates
  website/dbt-versions.js
  website/docs/docs/build/unit-tests.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/snippets/core-versions-table.md
Labels: content, size: small, Docs team, auto update

#5429 Add 'dbt Latest' dev blog
  website/blog/2024-05-22-latest-dbt-stability-improvement-innovation.md
  website/blog/authors.yml
  website/static/img/blog/2024-05-22-latest-dbt/testing-deploy-pipeline.png
  website/static/img/blog/authors/chenyu-li.png
  website/static/img/blog/authors/colin-rogers.jpeg
  website/static/img/blog/authors/michelle-ark.png
Labels: content, size: medium, developer blog

#5214 GA of Keep on latest version
  website/docs/docs/dbt-versions/2024-release-notes.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/release-notes/69-May-2024/keep-on-latest-version.md
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
  website/docs/guides/core-to-cloud-1.md
  website/docs/reference/global-configs/version-compatibility.md
  website/docs/reference/project-configs/require-dbt-version.md
  website/snippets/_config-dbt-version-check.md
Labels: content, size: medium, guides, Docs team, auto update

#5436 Update 2024-05-22-latest-dbt-stability-improvement-innovation.md
  website/blog/2024-05-22-latest-dbt-stability-improvement-innovation.md
Labels: size: x-small, developer blog, Docs team

#5441 Adding a release note for May behavior change flag
  website/docs/docs/dbt-versions/release-notes/69-May-2024/no-spaces-in.md
  website/snippets/core-versions-table.md
Labels: content, size: small, Docs team

#5437 Update 01-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
Labels: content, size: x-small

#5378 DO NOT MERGE - Update gsheets.md
  website/docs/docs/use-dbt-semantic-layer/gsheets.md
  website/snippets/_sl-partner-links.md
Labels: content, size: small

#5438 Update SL Streamlit app blog
  website/blog/2024-05-02-semantic-layer-llm.md
Labels: size: small, developer blog

#5440 Fix incorrect `create_metric_display_name` reference in measure params
  website/snippets/_sl-measures-parameters.md
Labels: content, size: x-small

#5350 add natural key example
  website/docs/docs/build/dimensions.md
  website/docs/docs/build/entities.md
Labels: content, size: small, Docs team, auto update

#4420 Update SingleStore configuration with a new info
  website/docs/docs/core/connect-data-platform/singlestore-setup.md
  website/docs/reference/resource-configs/singlestore-configs.md
Labels: size: medium, new contributor

#5178 Update dbt-cloud-environments.md
  website/docs/docs/dbt-cloud-environments.md
  website/snippets/_cloud-environments-info.md
Labels: content, size: small, auto update

#5443 Small upgrade guide fixes
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
Labels: content, size: x-small, Docs team

#5431 Update about-develop-dbt.md
  website/docs/docs/cloud/about-develop-dbt.md
Labels: content, size: x-small, Docs team

#5445 Provide a truncated version of the blog post for the main page that lists all blog entries
  website/blog/2024-05-02-semantic-layer-llm.md
  website/blog/2024-05-22-latest-dbt-stability-improvement-innovation.md
Labels: size: x-small, developer blog

#5422 Add Explorer to seats and users table
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
Labels: content, size: x-small, Docs team

#5446 Removing Homebrew for core installs
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/core/docker-install.md
  website/docs/docs/core/homebrew-install.md
  website/docs/docs/core/installation-overview.md
  website/docs/docs/core/pip-install.md
  website/sidebars.js
  website/vercel.json
Labels: content, size: medium, Docs team

#5444 Update docs for github settings changes and small typo
  website/docs/guides/custom-cicd-pipelines.md
Labels: content, size: x-small, guides

#5449 Link to the environment variables that are available for setting
  website/docs/reference/global-configs/environment-variable-configs.md
Labels: content, size: x-small

#5454 add deprecation callout
  website/docs/docs/core/connect-data-platform/fal-setup.md
  website/docs/reference/resource-configs/fal-configs.md
Labels: content, size: small, Docs team

#5457 remove owner parameter
  website/docs/docs/build/about-metricflow.md
  website/docs/docs/build/cumulative-metrics.md
  website/docs/docs/build/derived-metrics.md
  website/docs/docs/build/entities.md
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/ratio-metrics.md
Labels: content, size: small, Docs team

#5459 Fix outdated on-prem reference
  website/docs/docs/cloud/manage-access/set-up-snowflake-oauth.md
Labels: content, size: x-small, Docs team

#5460 Table aliases needed to unit test joins
  website/docs/docs/build/unit-tests.md
Labels: content, size: x-small, Docs team

#5461 Unit testing Dev Blog post
  website/blog/2024-05-07-unit-testing.md
  website/static/img/blog/2024-05-07-unit-testing/hello-world.png
  website/static/img/blog/2024-05-07-unit-testing/unit-test-terminal-output.png
Labels: content, size: medium, developer blog

#5473 Unit test best practice
  website/docs/docs/build/unit-tests.md
Labels: content, size: x-small, Docs team

#5475 Deprecated functionality for v1.8
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/core-upgrade/02-upgrading-to-v1.7.md
  website/docs/docs/dbt-versions/core-upgrade/03-upgrading-to-v1.6.md
Labels: content, size: small, Docs team

#5474 1,8 GA table updates
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/snippets/core-versions-table.md
Labels: content, size: x-small, Docs team

#5434 Update warnings.md
  website/docs/reference/global-configs/warnings.md
Labels: content, size: medium, Docs team

#5485 rn entry for sl caching
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#5288 [ok to merge] caching docs
  website/docs/docs/build/saved-queries.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/docs/docs/use-dbt-semantic-layer/sl-cache.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/semantic-layer/cache-creation-flow.jpg
  website/static/img/docs/dbt-cloud/semantic-layer/declarative-cache-query-flow.jpg
Labels: content, size: medium

#5482 rn for azure st cloud cli
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#5486 add loom video and cache fast follows!
  website/docs/docs/use-dbt-semantic-layer/sl-cache.md
Labels: content, size: small, Docs team, trigger-crawl

#5472 New `date` macro
  website/docs/reference/dbt-jinja-functions/cross-database-macros.md
Labels: content, size: small, Docs team, auto update

#5376 Unit test exit codes
  website/docs/docs/build/unit-tests.md
Labels: content, size: small, Docs team

#5492 v1.7 is no longer the latest version
  website/docs/docs/dbt-versions/core-upgrade/02-upgrading-to-v1.7.md
Labels: content, size: x-small

#5490 Update keyboard-shortcuts.md
  website/docs/docs/cloud/dbt-cloud-ide/keyboard-shortcuts.md
Labels: content, size: small, Docs team

#5495 Update constraints.md
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small

#5374 add add'l faq to SL
  website/docs/docs/use-dbt-semantic-layer/sl-cache.md
  website/docs/docs/use-dbt-semantic-layer/sl-faqs.md
Labels: content, size: small, Docs team

#5479 add link to dbt power user
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: small, Docs team

#5480 ide info about file size repo limit
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/dbt-cloud-environments.md
Labels: content, size: medium, Docs team

#5471 The "unit_test" selection method
  website/docs/reference/node-selection/methods.md
Labels: content, size: small

#5466 spring launch lifecycle updates
  website/docs/docs/build/unit-tests.md
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/configure-cloud-cli.md
  website/docs/docs/cloud/manage-access/set-up-databricks-oauth.md
  website/docs/docs/collaborate/govern/project-dependencies.md
Labels: content, size: small, Docs team

#5489 add note about dbt version in unit test docs
  website/docs/docs/build/unit-tests.md
  website/docs/reference/resource-properties/unit-tests.md
Labels: content, size: x-small

#5493 release note for spring launch
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: medium, Docs team

#5478 adding new docs for dbt assist
  website/docs/docs/cloud/about-cloud/about-dbt-cloud.md
  website/docs/docs/cloud/dbt-assist-data.md
  website/docs/docs/cloud/dbt-assist.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/enable-dbt-assist.md
  website/docs/docs/cloud/use-dbt-assist.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/cloud-ide/dbt-assist-doc.gif
  website/static/img/docs/dbt-cloud/cloud-ide/dbt-assist-test.gif
  website/static/img/docs/dbt-cloud/cloud-ide/dbt-assist-toggle.jpg
Labels: content, size: medium, Docs team

#5488 GA of dbt Explorer
  website/docs/docs/collaborate/column-level-lineage.md
  website/docs/docs/collaborate/explore-multiple-projects.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/collaborate/model-performance.md
  website/docs/docs/collaborate/project-recommendations.md
  website/static/img/docs/collaborate/dbt-explorer/example-cel.png
  website/static/img/docs/collaborate/dbt-explorer/example-evolution-lens.png
  website/static/img/docs/collaborate/dbt-explorer/example-materialization-type-lense.png
  website/static/img/docs/collaborate/dbt-explorer/example-materialization-type.jpg
  website/static/img/docs/collaborate/dbt-explorer/example-overview-cll.png
  website/static/img/docs/collaborate/dbt-explorer/example-parsing-error-pill.png
  website/static/img/docs/collaborate/dbt-explorer/example-prop-inherit.png
  website/static/img/docs/collaborate/dbt-explorer/example-test-status.jpg
  website/static/img/docs/collaborate/dbt-explorer/example-test-type.jpg
Labels: content, size: medium, Docs team, auto update

#5456 Fix `format` in example for inline SQL
  website/docs/reference/resource-properties/data-formats.md
Labels: content, size: x-small

#5469 Fix code example for listing exposures based on resource type
  website/docs/reference/node-selection/methods.md
Labels: content, size: x-small

#5505 Updating lifecycles
  website/docs/docs/build/unit-tests.md
  website/docs/docs/cloud/manage-access/set-up-databricks-oauth.md
  website/docs/reference/resource-properties/unit-tests.md
Labels: content, size: small, Docs team

#5309 [DO NOT MERGE YET] Add metrics as dimensions docs
  website/docs/docs/build/advanced-topics.md
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/ref-metrics-in-filters.md
  website/sidebars.js
Labels: content, size: medium, trigger-crawl

#5467 [mega branch] main spring launch event PR
  website/docs/best-practices/how-we-mesh/mesh-4-faqs.md
  website/docs/docs/build/unit-tests.md
  website/docs/docs/cloud/about-cloud-develop-defer.md
  website/docs/docs/cloud/about-cloud/about-dbt-cloud.md
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/configure-cloud-cli.md
  website/docs/docs/cloud/dbt-assist-data.md
  website/docs/docs/cloud/dbt-assist.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/enable-dbt-assist.md
  website/docs/docs/cloud/manage-access/set-up-databricks-oauth.md
  website/docs/docs/cloud/use-dbt-assist.md
  website/docs/docs/collaborate/column-level-lineage.md
  website/docs/docs/collaborate/explore-multiple-projects.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/docs/collaborate/model-performance.md
  website/docs/docs/collaborate/project-recommendations.md
  website/docs/docs/dbt-cloud-environments.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/deploy/deploy-environments.md
  website/docs/reference/resource-properties/unit-tests.md
  website/sidebars.js
  website/snippets/_cloud-environments-info.md
  website/static/img/docs/collaborate/dbt-explorer/example-cel.png
  website/static/img/docs/collaborate/dbt-explorer/example-evolution-lens.png
  website/static/img/docs/collaborate/dbt-explorer/example-materialization-type-lense.png
  website/static/img/docs/collaborate/dbt-explorer/example-materialization-type.jpg
  website/static/img/docs/collaborate/dbt-explorer/example-overview-cll.png
  website/static/img/docs/collaborate/dbt-explorer/example-parsing-error-pill.png
  website/static/img/docs/collaborate/dbt-explorer/example-prop-inherit.png
  website/static/img/docs/collaborate/dbt-explorer/example-test-status.jpg
  website/static/img/docs/collaborate/dbt-explorer/example-test-type.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/dbt-assist-doc.gif
  website/static/img/docs/dbt-cloud/cloud-ide/dbt-assist-test.gif
  website/static/img/docs/dbt-cloud/cloud-ide/dbt-assist-toggle.jpg
Labels: content, size: large, Docs team, trigger-crawl

#5507 Adding release note disclaimer
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/dbt-versions/release-notes/69-May-2024/keep-on-latest-version.md
  website/docs/docs/dbt-versions/release-notes/69-May-2024/no-spaces-in.md
  website/docs/docs/dbt-versions/release-notes/70-Apr-2024/apr-sl.md
  website/docs/docs/dbt-versions/release-notes/70-Apr-2024/merge-jobs.md
  website/docs/docs/dbt-versions/release-notes/71-Mar-2024/mar-sl-updates.md
  website/docs/docs/dbt-versions/release-notes/71-Mar-2024/product-docs-jan-rn.md
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/exports-rn.md
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/feb-sl-updates.md
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/ide-git-edit.md
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/job-completion-trigger.md
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/keep-on-latest-version.md
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/override-dbt-version.md
  website/docs/docs/dbt-versions/release-notes/73-Jan-2024/jan-sl-updates.md
  website/docs/docs/dbt-versions/release-notes/73-Jan-2024/partial-parsing.md
  website/vercel.json
Labels: content, size: large, Docs team

#5509 remove sm and metrics from dbt assisst
  website/docs/docs/cloud/about-cloud/about-cloud-ide.md
  website/docs/docs/cloud/about-cloud/about-dbt-cloud.md
  website/docs/docs/cloud/dbt-assist.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/use-dbt-assist.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: small, Docs team

#5511 Update dbt-assist.md
  website/docs/docs/cloud/dbt-assist.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/use-dbt-assist.md
Labels: content, size: small, Docs team

#5451 Update gsheets.md
  website/docs/docs/use-dbt-semantic-layer/gsheets.md
Labels: content, size: x-small

#5512 update typo and add pagination next
  website/docs/docs/cloud/dbt-assist.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: small, Docs team

#5463 Update databricks-configs.md for 1.8.0
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: medium

#5508 Redshift unit test limitation
  website/docs/docs/build/unit-tests.md
  website/docs/reference/resource-configs/redshift-configs.md
Labels: content, size: medium, Docs team

#5515 change Databricks PL setup steps to get the correct instance identifier
  website/docs/docs/cloud/secure/databricks-privatelink.md
Labels: content, size: x-small

#5517 Lifecycle updates for dbt Cloud
  website/docs/docs/dbt-versions/product-lifecycles.md
Labels: content, size: small, Docs team

#5518 Update cmd-docs.md
  website/docs/reference/commands/cmd-docs.md
Labels: content, size: x-small

#5470 combine and simplify sq and exports
  website/docs/docs/build/saved-queries.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
  website/docs/reference/dbt_project.yml.md
  website/docs/reference/resource-configs/enabled.md
  website/docs/reference/resource-configs/group.md
  website/docs/reference/resource-configs/meta.md
  website/docs/reference/resource-properties/config.md
  website/sidebars.js
Labels: content, size: large, Docs team

#5516 Update card component guides routing fixes
  website/src/components/quickstartGuideList/index.js
Labels: size: small

#5514 Update docusaurus.config.js
  website/docusaurus.config.js
Labels: size: x-small, Docs team

#5256 Update quickstartGuideList component to enable sharing links to filtered results
  website/src/components/quickstartGuideList/index.js
Labels: size: small, Docs team

#5513 add prune branches feature
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
  website/docs/docs/dbt-versions/release-notes.md
  website/static/img/docs/dbt-cloud/cloud-ide/prune-branch-modal.jpg
Labels: content, size: medium, Docs team

#5510 Archiving 2023 release notes
  website/docs/docs/dbt-versions/2023-release-notes.md
  website/docs/docs/dbt-versions/release-notes/74-Dec-2023/dec-sl-updates.md
  website/docs/docs/dbt-versions/release-notes/74-Dec-2023/external-attributes.md
  website/docs/docs/dbt-versions/release-notes/74-Dec-2023/legacy-sl.md
  website/docs/docs/dbt-versions/release-notes/75-Nov-2023/explorer-updates-rn.md
  website/docs/docs/dbt-versions/release-notes/75-Nov-2023/job-notifications-rn.md
  website/docs/docs/dbt-versions/release-notes/75-Nov-2023/microsoft-fabric-support-rn.md
  website/docs/docs/dbt-versions/release-notes/75-Nov-2023/repo-caching.md
  website/docs/docs/dbt-versions/release-notes/76-Oct-2023/api-v2v3-limit.md
  website/docs/docs/dbt-versions/release-notes/76-Oct-2023/cloud-cli-pp.md
  website/docs/docs/dbt-versions/release-notes/76-Oct-2023/custom-branch-fix-rn.md
  website/docs/docs/dbt-versions/release-notes/76-Oct-2023/dbt-deps-auto-install.md
  website/docs/docs/dbt-versions/release-notes/76-Oct-2023/explorer-public-preview-rn.md
  website/docs/docs/dbt-versions/release-notes/76-Oct-2023/native-retry-support-rn.md
  website/docs/docs/dbt-versions/release-notes/76-Oct-2023/product-docs-sept-rn.md
  website/docs/docs/dbt-versions/release-notes/76-Oct-2023/sl-ga.md
  website/docs/docs/dbt-versions/release-notes/77-Sept-2023/ci-updates-phase2-rn.md
  website/docs/docs/dbt-versions/release-notes/77-Sept-2023/ci-updates-phase3-rn.md
  website/docs/docs/dbt-versions/release-notes/77-Sept-2023/product-docs-summer-rn.md
  website/docs/docs/dbt-versions/release-notes/77-Sept-2023/removing-prerelease-versions.md
  website/docs/docs/dbt-versions/release-notes/78-Aug-2023/deprecation-endpoints-discovery.md
  website/docs/docs/dbt-versions/release-notes/78-Aug-2023/ide-v1.2.md
  website/docs/docs/dbt-versions/release-notes/78-Aug-2023/sl-revamp-beta.md
  website/docs/docs/dbt-versions/release-notes/79-July-2023/faster-run.md
  website/docs/docs/dbt-versions/release-notes/80-June-2023/admin-api-rn.md
  website/docs/docs/dbt-versions/release-notes/80-June-2023/ci-updates-phase1-rn.md
  website/docs/docs/dbt-versions/release-notes/80-June-2023/lint-format-rn.md
  website/docs/docs/dbt-versions/release-notes/80-June-2023/product-docs-jun.md
  website/docs/docs/dbt-versions/release-notes/81-May-2023/discovery-api-public-preview.md
  website/docs/docs/dbt-versions/release-notes/81-May-2023/may-ide-updates.md
  website/docs/docs/dbt-versions/release-notes/81-May-2023/product-docs-may.md
  website/docs/docs/dbt-versions/release-notes/81-May-2023/run-details-and-logs-improvements.md
  website/docs/docs/dbt-versions/release-notes/81-May-2023/run-history-endpoint.md
  website/docs/docs/dbt-versions/release-notes/81-May-2023/run-history-improvements.md
  website/docs/docs/dbt-versions/release-notes/82-April-2023/api-endpoint-restriction.md
  website/docs/docs/dbt-versions/release-notes/82-April-2023/apr-ide-updates.md
  website/docs/docs/dbt-versions/release-notes/82-April-2023/product-docs.md
  website/docs/docs/dbt-versions/release-notes/82-April-2023/scheduler-optimized.md
  website/docs/docs/dbt-versions/release-notes/82-April-2023/starburst-trino-ga.md
  website/docs/docs/dbt-versions/release-notes/83-Mar-2023/1.0-deprecation.md
  website/docs/docs/dbt-versions/release-notes/83-Mar-2023/apiv2-limit.md
  website/docs/docs/dbt-versions/release-notes/83-Mar-2023/mar-ide-updates.md
  website/docs/docs/dbt-versions/release-notes/83-Mar-2023/public-preview-trino-in-dbt-cloud.md
  website/docs/docs/dbt-versions/release-notes/84-Feb-2023/feb-ide-updates.md
  website/docs/docs/dbt-versions/release-notes/84-Feb-2023/no-partial-parse-config.md
  website/docs/docs/dbt-versions/release-notes/85-Jan-2023/ide-updates.md
  website/docs/docs/deploy/job-scheduler.md
  website/docs/docs/deploy/run-visibility.md
  website/sidebars.js
Labels: content, size: large, Docs team

#5452 Add `enable_list_inference` and `intermediate_format` as new BQ configurations for 1.7
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: small, external-adapters-team

#5521 Greg altimate docs
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small

#5522 Update example in databricks-configs.md
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: x-small

#5464 Update access-gdrive-credential.md
  website/docs/faqs/Troubleshooting/access-gdrive-credential.md
Labels: content, size: small, new contributor

#5271 Update sql-dateadd.md
  website/docs/sql-reference/date-functions/sql-dateadd.md
Labels: content, size: small, new contributor

#5526 Add manifest v12 for dbt Core v1.8
  website/snippets/_manifest-versions.md
Labels: content, size: x-small

#5523 replace cache diagrams
  website/docs/docs/build/metrics-overview.md
  website/static/img/docs/dbt-cloud/semantic-layer/cache-creation-flow.jpg
  website/static/img/docs/dbt-cloud/semantic-layer/declarative-cache-query-flow.jpg
Labels: content, size: x-small, Docs team

#5496 synapse best practice guide
  website/blog/2024-05-17-synapse-best-practices.md
  website/blog/authors.yml
  website/static/img/blog/authors/anders-rain.jpg
Labels: content, size: medium, guides

#5524 Starburst/Trino - on_table_exists modes are applicable to a full-refr…
  website/docs/reference/resource-configs/trino-configs.md
Labels: content, size: x-small

#5499 Update-clarify-sq-cmd
  website/docs/docs/build/saved-queries.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
  website/docs/reference/global-configs/resource-type.md
Labels: content, size: medium, Docs team

#5532 clarify jinja not programming language
  website/docs/docs/build/jinja-macros.md
Labels: content, size: x-small

#5530 clarify where docs serve is supported to ensure
  website/docs/reference/commands/cmd-docs.md
Labels: content, size: x-small, Docs team

#5529 Updating API access URLs
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
  website/static/img/docs/dbt-cloud/access-urls.png
Labels: content, size: small, Docs team

#5534 Archiving 2022 release notes
  website/docs/docs/core/connect-data-platform/connection-profiles.md
  website/docs/docs/dbt-versions/2022-release-notes.md
  website/docs/docs/dbt-versions/release-notes/86-Dec-2022/default-thread-value.md
  website/docs/docs/dbt-versions/release-notes/86-Dec-2022/new-jobs-default-as-off.md
  website/docs/docs/dbt-versions/release-notes/86-Dec-2022/private-packages-clone-git-token.md
  website/docs/docs/dbt-versions/release-notes/87-Nov-2022/dbt-databricks-unity-catalog-support.md
  website/docs/docs/dbt-versions/release-notes/87-Nov-2022/ide-features-ide-deprecation.md
  website/docs/docs/dbt-versions/release-notes/88-Oct-2022/cloud-integration-azure.md
  website/docs/docs/dbt-versions/release-notes/88-Oct-2022/new-ide-launch.md
  website/docs/docs/dbt-versions/release-notes/89-Sept-2022/liststeps-endpoint-deprecation.md
  website/docs/docs/dbt-versions/release-notes/89-Sept-2022/metadata-api-data-retention-limits.md
  website/docs/docs/dbt-versions/release-notes/91-Aug-2022/ide-improvement-beta.md
  website/docs/docs/dbt-versions/release-notes/91-Aug-2022/support-redshift-ra3.md
  website/docs/docs/dbt-versions/release-notes/92-July-2022/render-lineage-feature.md
  website/docs/docs/dbt-versions/release-notes/93-May-2022/gitlab-auth.md
  website/docs/docs/dbt-versions/release-notes/94-April-2022/audit-log.md
  website/docs/docs/dbt-versions/release-notes/94-April-2022/credentials-saved.md
  website/docs/docs/dbt-versions/release-notes/94-April-2022/email-verification.md
  website/docs/docs/dbt-versions/release-notes/94-April-2022/scheduler-improvements.md
  website/docs/docs/dbt-versions/release-notes/95-March-2022/ide-timeout-message.md
  website/docs/docs/dbt-versions/release-notes/95-March-2022/prep-and-waiting-time.md
  website/docs/docs/dbt-versions/release-notes/96-February-2022/DAG-updates-more.md
  website/docs/docs/dbt-versions/release-notes/96-February-2022/service-tokens-more.md
  website/docs/docs/dbt-versions/release-notes/97-January-2022/IDE-autocomplete-more.md
  website/docs/docs/dbt-versions/release-notes/97-January-2022/model-timing-more.md
  website/sidebars.js
Labels: content, size: large, Docs team

#5535 Update mesh-4-faqs.md
  website/docs/best-practices/how-we-mesh/mesh-4-faqs.md
Labels: content, size: x-small, Docs team

#5539 Update repo limit
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
Labels: content, size: x-small, Docs team, auto update

#5503 Make clear that KoLV includes the current core version
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
Labels: content, size: x-small

#5540 Update release-notes.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#5546 FIxed typo
  website/docs/reference/resource-properties/data-formats.md
Labels: content, size: x-small, new contributor

#5550 Add `is_incremental()` as another case when you will need to force dependencies
  website/docs/reference/dbt-jinja-functions/ref.md
Labels: content, size: small

#5544 Adds clarification about checking in package-lock.yml
  website/docs/reference/commands/deps.md
Labels: content, size: x-small

#5555 Deleting page
  website/docs/docs/cloud/manage-access/mfa.md
Labels: content, size: medium, Docs team, trigger-crawl

#5531 updates the expandable component
  website/src/components/expandable/index.js
  website/src/components/expandable/styles.module.css
  website/src/theme/MDXComponents/index.js
  website/static/js/headerLinkCopy.js
Labels: content, size: medium, Docs team

#5552 add connector link in tableau exchange
  website/docs/docs/use-dbt-semantic-layer/tableau.md
  website/snippets/_sl-course.md
Labels: content, size: x-small, Docs team

#5556 Revert "updates the expandable component"
  website/src/components/expandable/index.js
  website/src/components/expandable/styles.module.css
  website/src/theme/MDXComponents/index.js
  website/static/js/headerLinkCopy.js
Labels: content, size: medium, Docs team

#5551 update explorer faqs
  website/docs/docs/collaborate/dbt-explorer-faqs.md
Labels: content, size: small, Docs team

#5559 Clarify CLL caveats
  website/docs/docs/collaborate/column-level-lineage.md
Labels: content, size: x-small

#5557 Update vercel.json
  website/vercel.json
Labels: size: x-small

#5561 update expandables component v2
  website/docs/docs/build/custom-schemas.md
  website/docs/docs/build/fill-nulls-advanced.md
  website/docs/docs/build/metricflow-commands.md
  website/docs/docs/cloud/configure-cloud-cli.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/collaborate/dbt-explorer-faqs.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/dbt-versions/2023-release-notes.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/use-dbt-semantic-layer/sl-faqs.md
  website/docs/guides/core-cloud-2.md
  website/docs/reference/dbt-jinja-functions/statement-blocks.md
  website/snippets/_config-dbt-version-check.md
  website/src/components/expandable/index.js
  website/src/components/expandable/styles.module.css
  website/src/theme/MDXComponents/index.js
  website/static/js/headerLinkCopy.js
Labels: content, size: large, guides, Docs team, auto update

#5568 Add reference to VPCE ID network policies for SF OAuth docs
  website/docs/docs/cloud/manage-access/set-up-snowflake-oauth.md
Labels: content, size: x-small

#5562 remove outdated callout for discovery api docs
  website/docs/docs/dbt-cloud-apis/discovery-api.md
  website/docs/docs/dbt-cloud-apis/discovery-querying.md
  website/docs/docs/dbt-cloud-apis/schema-discovery-environment.mdx
  website/snippets/discovery-public-preview-banner.md
  website/snippets/metadata-api-prerequisites.md
Labels: content, size: small, Docs team, auto update

#5558 Removing v1.2 from docs
  website/dbt-versions.js
  website/docs/docs/build/hooks-operations.md
  website/docs/docs/build/incremental-strategy.md
  website/docs/docs/build/python-models.md
  website/docs/docs/core/connect-data-platform/connection-profiles.md
  website/docs/docs/core/connect-data-platform/oracle-setup.md
  website/docs/docs/core/connect-data-platform/postgres-setup.md
  website/docs/docs/core/connect-data-platform/redshift-setup.md
  website/docs/reference/commands/init.md
  website/docs/reference/dbt-jinja-functions/cross-database-macros.md
  website/docs/reference/dbt-jinja-functions/modules.md
  website/docs/reference/global-configs/json-artifacts.md
  website/docs/reference/global-configs/logs.md
  website/docs/reference/global-configs/project-flags.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/node-selection/yaml-selectors.md
  website/docs/reference/resource-configs/enabled.md
  website/docs/reference/resource-configs/grants.md
  website/docs/reference/resource-configs/persist_docs.md
  website/docs/reference/resource-configs/plus-prefix.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
  website/docs/reference/resource-properties/config.md
  website/docs/sql-reference/date-functions/sql-date-trunc.md
  website/docs/sql-reference/date-functions/sql-dateadd.md
  website/docs/sql-reference/date-functions/sql-datediff.md
  website/snippets/grants-vs-access-to.md
  website/snippets/hooks-to-grants.md
Labels: content, size: medium, Docs team

#5572 Fixing redirect for partial parsing
  website/vercel.json
Labels: size: x-small, Docs team

#5579 Adjust wildcard redirect
  website/vercel.json
Labels: size: small

#5563 add missing colon
  website/snippets/_sl-test-and-query-metrics.md
Labels: content, size: x-small, Docs team, auto update

#5565 Update data-tests.md
  website/docs/docs/build/data-tests.md
Labels: content, size: x-small, Docs team, auto update

#5564 add dbt mesh to tenancy table
  website/snippets/cloud-feature-parity.md
Labels: content, size: small, Docs team

#5545 Update dbt_project.yml.md
  website/docs/docs/build/saved-queries.md
  website/docs/docs/build/semantic-models.md
  website/docs/reference/configs-and-properties.md
  website/docs/reference/dbt_project.yml.md
Labels: content, size: medium, Docs team, auto update

#5583 Change to lower case
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/introduction.md
Labels: content, size: x-small

#5578 Allowed and default values for `LOG_FORMAT` and `LOG_FORMAT_FILE`
  website/docs/reference/global-configs/logs.md
Labels: content, size: small

#5581 Link to docs for `print()` macro
  website/docs/docs/build/python-models.md
  website/docs/reference/global-configs/logs.md
  website/docs/reference/global-configs/print-output.md
Labels: content, size: small

#5580 Update content-style-guide.md
  contributing/content-style-guide.md
Labels: size: x-small, Docs team

#5570 Add details of where to store fixtures for unit tests
  website/docs/docs/build/unit-tests.md
Labels: content, size: x-small

#5585 update unit test versioned models link
  website/docs/docs/build/unit-tests.md
  website/docs/reference/resource-properties/unit-tests.md
  website/vercel.json
Labels: content, size: small, Docs team

#5586 Update exports.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: x-small, Docs team
