Repository dbt-labs/docs.getdbt.com, pull requests merged in 2024-01, with the labels that each got.

#4695 clarify cross project ref pages/headers
  website/docs/best-practices/how-we-mesh/mesh-1-intro.md
  website/docs/best-practices/how-we-mesh/mesh-2-structures.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.6.md
  website/docs/faqs/Models/unique-model-names.md
  website/docs/reference/dbt-jinja-functions/ref.md
  website/snippets/_packages_or_dependencies.md
Labels: content, size: small, Docs team, trigger-crawl

#4697 Fix link
  website/docs/guides/custom-cicd-pipelines.md
Labels: content, size: x-small, guides, Docs team

#4698 Update constraints.md
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small, Docs team

#4699 Update pull_request_template.md
  .github/pull_request_template.md
Labels: size: small, Docs team

#4696 add note about ref support
  website/docs/docs/dbt-cloud-apis/sl-api-overview.md
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
  website/docs/guides/sl-migration.md
Labels: content, size: small, guides, Docs team

#4704 Remove callout from page
  website/docs/docs/core/connect-data-platform/dremio-setup.md
Labels: content, size: x-small, auto update

#4708 Fix typo in `append_new_columns` header
  website/docs/reference/resource-configs/vertica-configs.md
Labels: content, size: x-small, new contributor

#4701 Add callout to PrivateLink docs about Environment Variables
  website/docs/docs/cloud/secure/about-privatelink.md
  website/snippets/_privatelink-hostname-restriction.md
Labels: content, size: small, do not merge

#4710 Update debug-method to state dev env only
  website/docs/reference/dbt-jinja-functions/debug-method.md
Labels: content, size: x-small, Docs team

#4707 update link to materializations source code
  website/docs/guides/create-new-materializations.md
  website/docs/reference/resource-configs/full_refresh.md
  website/docs/reference/resource-configs/store_failures.md
  website/docs/reference/resource-configs/strategy.md
  website/docs/reference/resource-configs/where.md
Labels: content, size: small, guides

#4646 Partial parsing UI
  website/docs/docs/dbt-versions/release-notes/73-Jan-2024/partial-parsing.md
  website/docs/docs/dbt-versions/release-notes/75-Nov-2023/repo-caching.md
  website/docs/reference/parsing.md
  website/snippets/_cloud-environments-info.md
  website/static/img/docs/deploy/example-account-settings.png
  website/static/img/docs/deploy/example-repo-caching.png
Labels: content, size: medium, Docs team, auto update

#4702 add dbt mesh faq page
  website/docs/best-practices/how-we-mesh/mesh-1-intro.md
  website/docs/best-practices/how-we-mesh/mesh-4-faqs.md
  website/sidebars.js
Labels: content, size: large, Docs team

#4687 add hover function + disclaimer css
  website/src/components/detailsToggle/index.js
  website/src/components/detailsToggle/styles.module.css
  website/src/components/faqs/index.js
  website/src/components/faqs/styles.module.css
Labels: size: medium, Docs team

#4717 Update lint-format.md
  website/docs/docs/cloud/dbt-cloud-ide/lint-format.md
Labels: content, size: small

#4705 Update cumulative-metrics.md
  website/docs/docs/build/cumulative-metrics.md
Labels: content, size: x-small

#4713 `DO_NOT_TRACK=0` is not the same as `DBT_SEND_ANONYMOUS_USAGE_STATS=True`
  website/docs/reference/global-configs/usage-stats.md
Labels: content, size: x-small

#4530 Remove pinned version from dbt-meshify link
  website/docs/best-practices/how-we-mesh/mesh-3-implementation.md
Labels: content, size: x-small

#4409 Update mesh guide intro
  website/docs/best-practices/how-we-mesh/mesh-1-intro.md
Labels: content, size: small, guides

#4336 Update model-contracts.md for supported models
  website/docs/docs/collaborate/govern/model-contracts.md
Labels: content, size: small, new contributor

#4660 Update manual-install-qs.md to remove steps that are no longer required
  website/docs/guides/manual-install-qs.md
Labels: size: x-small, new contributor

#4716 User-defined custom incremental strategies
  website/docs/docs/build/incremental-models.md
Labels: content, size: medium

#4715 Mesh FAQ follow up
  website/docs/best-practices/how-we-mesh/mesh-4-faqs.md
Labels: content, size: small, Docs team

#4723 Fixing the forever looping redirect
  website/vercel.json
Labels: size: x-small, Docs team

#4712 Update target.md
  website/docs/reference/dbt-jinja-functions/target.md
Labels: content, size: small, Docs team

#4720 Fix example for saved queries
  website/docs/docs/build/saved-queries.md
Labels: content, size: small

#4672 Add dbt extrica docs
  website/docs/docs/community-adapters.md
  website/docs/docs/core/connect-data-platform/extrica-setup.md
  website/sidebars.js
Labels: content, size: medium

#4536 Defer to prod dev blog
  website/blog/2023-12-20-partner-integration-guide.md
  website/blog/2024-01-09-defer-in-development.md
  website/static/img/blog/2023-12-04-defer-in-development/defer-toggle.png
  website/static/img/blog/2023-12-04-defer-in-development/prod-and-dev-defer.png
  website/static/img/blog/2023-12-04-defer-in-development/prod-and-dev-full.png
  website/static/img/blog/2023-12-04-defer-in-development/prod-and-dev-mixed.png
  website/static/img/blog/2023-12-04-defer-in-development/prod-and-dev-model-c.png
  website/static/img/blog/2023-12-04-defer-in-development/prod-environment-plain.png
  website/static/img/blog/2023-12-04-defer-in-development/willem.png
Labels: content, size: medium, developer blog

#4725 update lede
  website/blog/2024-01-09-defer-in-development.md
  website/static/img/blog/2023-12-04-defer-in-development/prod-and-dev-full.png
  website/static/img/blog/2024-01-09-defer-in-development/defer-toggle.png
  website/static/img/blog/2024-01-09-defer-in-development/prod-and-dev-defer.png
  website/static/img/blog/2024-01-09-defer-in-development/prod-and-dev-full.png
  website/static/img/blog/2024-01-09-defer-in-development/prod-and-dev-mixed.png
  website/static/img/blog/2024-01-09-defer-in-development/prod-and-dev-model-c.png
  website/static/img/blog/2024-01-09-defer-in-development/prod-environment-plain.png
  website/static/img/blog/2024-01-09-defer-in-development/willem.png
Labels: size: small, developer blog

#4730 Trivial grammar fix in `materializations.md`
  website/docs/docs/build/materializations.md
Labels: content, size: x-small

#4729 Update constraints.md
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small, Docs team

#4493 Clarify which node / resource types support `node_color`
  website/docs/reference/analysis-properties.md
  website/docs/reference/model-properties.md
  website/docs/reference/resource-configs/docs.md
  website/docs/reference/seed-properties.md
  website/docs/reference/snapshot-properties.md
Labels: content, size: small, Docs team

#4726 Deleting as_text page
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-17-0.md
  website/docs/reference/dbt-jinja-functions/as_text.md
  website/vercel.json
Labels: content, size: medium, Docs team

#4732 Update 2024-01-09-defer-in-development.md
  website/blog/2024-01-09-defer-in-development.md
Labels: size: x-small, developer blog

#4734 Remove unused snippets
  website/snippets/available-beta-banner.md
  website/snippets/sl-considerations-banner.md
  website/snippets/test-snippet.md
  website/snippets/tutorial-create-new-dbt-cloud-account.md
  website/snippets/tutorial-initiate-project.md
Labels: content, size: medium, Docs team

#4736 Remove privatelink from exceptions
  website/snippets/_cloud-environments-info.md
Labels: content, size: x-small

#4714 Update builtins.md
  website/docs/reference/dbt-jinja-functions/builtins.md
Labels: content, size: x-small, new contributor

#4738 adding callout
  website/docs/docs/cloud/configure-cloud-cli.md
  website/snippets/_new-sl-setup.md
Labels: content, size: small, Docs team

#4733 Update set-up-bigquery-oauth.md
  website/docs/docs/cloud/manage-access/set-up-bigquery-oauth.md
Labels: content, size: x-small, Docs team, auto update

#4744 remove ellipses
  website/docs/docs/cloud/configure-cloud-cli.md
Labels: content, size: x-small, Docs team, auto update

#4743 Fix dbt Cloud setup link in quickstart-sl.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-sl.md
Labels: content, size: x-small

#4679 Correct notes on BQ constraint definition and enforcement.
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small

#4658 Blog post addition: Serverless dlt + dbt project
  website/blog/2023-12-15-serverless-free-tier-data-stack-with-dlt-and-dbt-core.md
  website/blog/authors.yml
  website/static/img/blog/authors/ejohnston.png
  website/static/img/blog/serverless-free-tier-data-stack-with-dlt-and-dbt-core/architecture_diagram.png
  website/static/img/blog/serverless-free-tier-data-stack-with-dlt-and-dbt-core/map_screenshot.png
Labels: content, size: medium, developer blog, new contributor

#4746 Update link to debug-level logging
  website/docs/reference/commands/debug.md
Labels: content, size: x-small

#4724 add conversion-metrics-docs
  website/docs/docs/build/about-metricflow.md
  website/docs/docs/build/conversion-metrics.md
  website/docs/docs/build/metrics-overview.md
  website/sidebars.js
  website/snippets/_sl-define-metrics.md
  website/static/img/docs/dbt-cloud/semantic-layer/conversion-metrics-fill-null.png
Labels: content, size: large, Docs team

#4748 Fix-links
  website/blog/2023-08-01-announcing-materialized-views.md
  website/docs/best-practices/materializations/materializations-guide-2-available-materializations.md
  website/docs/docs/running-a-dbt-project/using-threads.md
  website/vercel.json
Labels: content, size: small, developer blog, Docs team

#4751 Update sl-graphql.md
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
Labels: size: small, Docs team, auto update

#4753 update code to align with table
  website/docs/docs/build/conversion-metrics.md
  website/docs/docs/build/metrics-overview.md
Labels: content, size: small, Docs team, auto update

#4758 Include brew update command in Cloud CLI install docs
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: x-small

#4754 add plan/accounts guidance to style guide
  contributing/content-style-guide.md
Labels: size: small, Docs team

#4764 Better link to Snowflake docs in snowflake-setup.md
  website/docs/docs/core/connect-data-platform/snowflake-setup.md
Labels: content, size: x-small, new contributor

#4765 Update derived-metrics.md
  website/docs/docs/build/derived-metrics.md
Labels: content, size: x-small

#4763 update release note
  website/docs/docs/dbt-versions/release-notes/76-Oct-2023/sl-ga.md
Labels: content, size: x-small, Docs team

#4741 add dbt.current_timestamp()
  website/docs/reference/dbt-jinja-functions/cross-database-macros.md
Labels: content, size: small, Docs team, auto update

#4523 add note about SQL Analytics endpoints
  website/docs/docs/core/connect-data-platform/fabric-setup.md
Labels: content, size: x-small, adapters, auto update

#4766 Clarify license types and IT type
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
Labels: content, size: small

#4772 clarify permissions and profiles in enterprise permissions table
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small, Docs team

#4731 consider scrolling for hover function
  website/src/components/detailsToggle/index.js
Labels: size: medium, Docs team

#4770 Updating freshness ref page
  website/docs/reference/resource-properties/freshness.md
Labels: content, size: small, Docs team

#4769 Removing deprecated env var DBT_ARTIFACT_STATE_PATH from notes and example
  website/docs/reference/node-selection/syntax.md
Labels: content, size: x-small, Docs team

#4740 add missing options
  website/docs/docs/core/connect-data-platform/profiles.yml.md
Labels: content, size: x-small, Docs team, auto update

#4735 adding hover behavior for images
  website/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt.md
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
  website/docs/docs/cloud/dbt-cloud-ide/lint-format.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/collaborate/cloud-build-and-view-your-docs.md
  website/docs/docs/collaborate/explore-multiple-projects.md
  website/docs/docs/collaborate/model-performance.md
  website/docs/docs/deploy/dashboard-status-tiles.md
  website/docs/faqs/Git/git-migration.md
  website/src/components/lightbox/index.js
  website/src/components/lightbox/styles.module.css
Labels: content, size: medium, developer blog, guides, Docs team

#4783 Update semantic-models.md
  website/docs/docs/build/semantic-models.md
Labels: content, size: x-small, Docs team

#4706 Update to CI jobs page
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/continuous-integration.md
Labels: content, size: small, Docs team, auto update

#4604 Update sl-jdbc.md
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
Labels: content, size: medium

#4774 fix typo and re-format sql
  website/docs/docs/build/conversion-metrics.md
Labels: content, size: x-small

#4768 adds fill_nulls_with to all metric types
  website/docs/docs/build/conversion-metrics.md
  website/docs/docs/build/cumulative-metrics.md
  website/docs/docs/build/derived-metrics.md
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/ratio-metrics.md
  website/docs/docs/build/simple.md
Labels: content, size: medium, Docs team

#4785 add closing parenthesis
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
Labels: content, size: small

#4782 update VCS and postgres PL docs for accuracy and completeness
  website/docs/docs/cloud/secure/postgres-privatelink.md
  website/docs/docs/cloud/secure/redshift-privatelink.md
  website/docs/docs/cloud/secure/vcs-privatelink.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/vpc-endpoint-service-name.png
  website/static/img/docs/dbt-cloud/privatelink-allow-principals.png
  website/static/img/docs/dbt-cloud/privatelink-endpoint-service-name.png
  website/static/img/docs/dbt-cloud/redshiftprivatelink5.png
  website/static/img/docs/dbt-cloud/redshiftprivatelink6.png
Labels: content, size: medium

#4793 Update where.md
  website/docs/reference/resource-configs/where.md
Labels: content, size: x-small

#4794 Fix table column
  website/docs/docs/dbt-cloud-apis/discovery-use-cases-and-examples.md
Labels: size: x-small, auto update

#4789 Update semantic-layer-6-advanced-metrics.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-6-advanced-metrics.md
Labels: content, size: small, new contributor

#4750 add guidance to using underscores or dots for dbt model naming
  website/docs/best-practices/how-we-style/1-how-we-style-our-dbt-models.md
  website/docs/docs/build/models.md
  website/docs/docs/build/sql-models.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
Labels: content, size: medium, Docs team

#4756 remove image with old dbt logo
  website/docs/reference/resource-properties/description.md
Labels: content, size: small, Docs team, auto update

#4786 Update transfer-account.md
  website/docs/faqs/Accounts/transfer-account.md
Labels: content, size: x-small

#4801 Update migration.md
  website/docs/docs/cloud/migration.md
Labels: content, size: x-small

#4806 Update grants.md
  website/docs/reference/resource-configs/grants.md
Labels: content, size: x-small

#4807 added a new image for the groups & licenses page
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/group-list-2.png
Labels: content, size: x-small

#4802 Update bigquery-configs.md
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: x-small, new contributor

#4791 [ENT-1132] Job Runner Role
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: medium

#4816 Cross-project reference (via "project" dependency) requires upstream public model
  website/docs/docs/collaborate/govern/project-dependencies.md
Labels: content, size: x-small

#4813 Rm --dry-run flag from dbt deps
  website/docs/reference/commands/deps.md
Labels: content, size: x-small

#4817 update materialization link
  website/docs/guides/create-new-materializations.md
Labels: content, size: x-small, guides, Docs team

#4792 adding dbt env command
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/configure-cloud-cli.md
  website/docs/reference/commands/dbt-environment.md
  website/docs/reference/dbt-commands.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#4795 Update metrics-overview.md
  website/docs/docs/build/metrics-overview.md
Labels: content, size: x-small

#4820 dbt power user link change
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: x-small

#4826 Update migration.md
  website/docs/docs/cloud/migration.md
Labels: content, size: small

#4818 update broken links
  website/docs/guides/create-new-materializations.md
  website/docs/guides/debug-schema-names.md
  website/docs/reference/events-logging.md
  website/docs/reference/resource-configs/full_refresh.md
  website/docs/reference/resource-configs/store_failures.md
  website/docs/reference/resource-configs/strategy.md
Labels: content, size: small, guides, Docs team, auto update

#4823 Update link to `jq` manual
  website/docs/docs/dbt-versions/core-upgrade/02-upgrading-to-v1.5.md
Labels: content, size: x-small, auto update

#4825 Add missing example for `dbt compile --inline`
  website/docs/reference/commands/compile.md
Labels: content, size: small, auto update

#4821 Document the `log_cache_events` config
  website/docs/reference/global-configs/logs.md
Labels: content, size: x-small, auto update

#4777 add info on hiding deleted branches in IDE
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
Labels: content, size: small, Docs team

#4824 fixed references in group private access example.
  website/docs/docs/build/groups.md
Labels: content, size: x-small

#4828 Fix adapter cards
  website/snippets/_adapters-trusted.md
  website/snippets/_adapters-verified.md
Labels: content, size: small, Docs team, auto update

#4812 Update tableau.md
  website/docs/docs/use-dbt-semantic-layer/tableau.md
Labels: content, size: small

#4796 jan SL rn
  website/docs/docs/dbt-versions/release-notes/73-Jan-2024/jan-sl-updates.md
Labels: content, size: small, Docs team

#4837 Update scientific notation
  website/docs/docs/dbt-versions/release-notes/73-Jan-2024/jan-sl-updates.md
Labels: content, size: x-small, Docs team

#4839 Update add_issue_to_project.yml
  .github/workflows/add_issue_to_project.yml
Labels: size: x-small, Docs team

#4841 Revert "Update add_issue_to_project.yml"
  .github/workflows/add_issue_to_project.yml
Labels: size: x-small, Docs team
