Repository dbt-labs/docs.getdbt.com, pull requests merged in 2024-03, with the labels that each got.

#5026 Update gsheets.md
  website/docs/docs/use-dbt-semantic-layer/gsheets.md
Labels: content, size: x-small

#5031 Update databricks-qs.md
  website/docs/guides/databricks-qs.md
Labels: content, size: x-small, guides

#5030 Update tableau.md
  website/docs/docs/use-dbt-semantic-layer/tableau.md
Labels: content, size: small

#5027 fix ms teams webhook redirect typo
  website/vercel.json
Labels: size: x-small

#4928 add clarification btw semantic.manifes.json and manifest.json
  website/docs/reference/artifacts/other-artifacts.md
Labels: content, size: x-small, Docs team, auto update

#4913 clarify ssh tunnel dbt connection error
  website/docs/docs/cloud/connect-data-platform/connect-redshift-postgresql-alloydb.md
Labels: content, size: medium, Docs team, auto update

#5025 update keep on latest version beta
  website/docs/docs/build/unit-tests.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
Labels: content, size: small

#5032 Remove trailing dash on header IDs when using LifeCycle component
  website/static/js/headerLinkCopy.js
Labels: content, size: medium

#5029 Create january Product Docs release note
  website/docs/docs/dbt-versions/release-notes/71-Mar-2024/product-docs-jan-rn.md
Labels: content, size: small, Docs team

#5028 Updating migration guides
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/core-upgrade/02-upgrading-to-v1.7.md
  website/docs/reference/artifacts/run-results-json.md
Labels: content, size: small, Docs team

#5034 Joey blog cta to coalesce 2024
  website/blog/ctas.yml
  website/blog/metadata.yml
Labels: size: x-small, developer blog, new contributor

#5040 Fix example
  website/docs/docs/core/connect-data-platform/redshift-setup.md
Labels: content, size: x-small, auto update

#5039 Update meta.md
  website/docs/reference/resource-configs/meta.md
Labels: content, size: x-small, new contributor, auto update

#5008 Update persist_docs.md to reflect dbx fix
  website/docs/reference/resource-configs/persist_docs.md
Labels: content, size: x-small, auto update

#5041 Add prod run for configuration
  website/docs/docs/collaborate/govern/model-access.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/reference/resource-configs/access.md
Labels: content, size: small, Docs team

#5044 Document how to set Python version for snowpark
  website/docs/docs/build/python-models.md
Labels: content, size: x-small

#5048 update db from dbt-tutorial to raw
  website/snippets/quickstarts/_build-your-first-model.md
Labels: content, size: x-small, Docs team

#4860 Fix incorrect timezone parameters order for convert_timezone function in docs
  website/docs/reference/resource-properties/freshness.md
Labels: content, size: x-small, new contributor

#4967 Update Github Actions Versions
  website/docs/guides/custom-cicd-pipelines.md
Labels: content, size: x-small, guides

#5049 Update supported-data-platforms.md
  website/docs/docs/supported-data-platforms.md
Labels: content, size: x-small, new contributor

#5050 Fix logos
  website/snippets/_adapters-trusted.md
  website/static/img/icons/apache-spark.svg
  website/static/img/icons/postgres.svg
  website/static/img/icons/white/apache-spark.svg
  website/static/img/icons/white/postgres.svg
Labels: content, size: small, Docs team, auto update

#4964 Update change-way-model-materialized.md
  website/snippets/quickstarts/change-way-model-materialized.md
Labels: content, size: x-small

#5043 Update sqlite-setup.md
  website/docs/docs/core/connect-data-platform/sqlite-setup.md
Labels: content, size: x-small, new contributor

#5051 Handle `v` keyword argument for model versions
  website/docs/reference/dbt-jinja-functions/builtins.md
Labels: content, size: x-small

#5046 Updating v1.8 beta docs
  website/docs/docs/build/unit-tests.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/snippets/core-versions-table.md
Labels: content, size: x-small, Docs team

#5056 Add AlloyDB to data platforms available within dbt Cloud
  website/docs/docs/cloud/connect-data-platform/about-connections.md
Labels: content, size: x-small

#5055 Update custom-generic-tests.md
  website/docs/best-practices/custom-generic-tests.md
Labels: size: x-small

#5052 Update example for overriding the `ref` macro
  website/docs/reference/dbt-jinja-functions/builtins.md
Labels: content, size: small

#5060 remove cloud cli support for --start/--end-time
  website/docs/docs/build/metricflow-commands.md
Labels: content, size: small, Docs team

#5063 Update starrocks-setup.md
  website/docs/docs/core/connect-data-platform/starrocks-setup.md
Labels: content, size: x-small

#5045 chore: improve dbt-athena profile page
  website/docs/docs/core/connect-data-platform/athena-setup.md
Labels: content, size: x-small

#5066 Updating metadata permission
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small, Docs team

#4973 clariy multihop depth
  website/docs/docs/build/join-logic.md
Labels: content, size: small, Docs team, auto update

#5064 clarify varchar default limit and how to exceed
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small, Docs team

#5071 Cleaning up legacy behavior section
  website/docs/reference/global-configs/legacy-behaviors.md
Labels: content, size: small, Docs team

#5035 Update pip syntax
  website/docs/docs/core/pip-install.md
Labels: content, size: x-small, Docs team

#5070 Hide toc headers
  website/src/theme/DocItem/Layout/index.js
Labels: content, size: small

#5076 Core issue template
  .github/ISSUE_TEMPLATE/external-core-team.yml
  .github/ISSUE_TEMPLATE/improve-the-site.yml
Labels: size: medium, Docs team

#5024 add DBT_EXPORT_SAVED_QUERIES
  website/docs/docs/build/saved-queries.md
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/exports-rn.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
  website/static/img/docs/dbt-cloud/semantic-layer/env-var-dbt-exports.jpg
Labels: content, size: medium, Docs team, auto update

#5023 add meta to metrics
  website/docs/docs/build/metrics-overview.md
  website/docs/reference/resource-configs/meta.md
Labels: content, size: medium, Docs team, auto update

#5021 add cache to SQ config
  website/docs/docs/build/saved-queries.md
Labels: content, size: medium, Docs team, auto update

#5075 Update and rename new idea issue template
  .github/ISSUE_TEMPLATE/contribute-to-developer-blog.yml
  .github/ISSUE_TEMPLATE/propose-new-content.yml
Labels: size: medium, Docs team

#5081 Fixing copy pasta error to issue template
  .github/ISSUE_TEMPLATE/external-core-team.yml
Labels: size: x-small, Docs team

#5058 add move to cloud guide part 1
  website/docs/docs/core/about-core-setup.md
  website/docs/docs/core/installation-overview.md
  website/docs/guides/core-to-cloud-1.md
  website/docs/guides/manual-install-qs.md
  website/package-lock.json
  website/package.json
  website/src/components/confetti/index.js
  website/src/components/confetti/styles.modules.css
  website/src/css/custom.css
  website/src/theme/MDXComponents/index.js
Labels: content, size: large, guides, Docs team, auto update

#5017 Data_tests callout
  website/docs/docs/build/data-tests.md
Labels: content, size: small, Docs team

#5084 Remove webhook triggering run, redirect to trigger
  website/docs/docs/deploy/deploy-jobs.md
  website/docs/guides/zapier-new-cloud-job.md
  website/vercel.json
Labels: content, size: medium, guides

#5078 Improve the instructions for overriding a model from a package
  website/docs/reference/resource-configs/enabled.md
Labels: content, size: x-small

#5013 Cortex devblog
  website/blog/2024-02-29-cortex-slack.md
  website/docs/faqs/Core/install-python-compatibility.md
  website/static/img/blog/2024-02-29-cortex-slack/slack-summaries.png
Labels: size: medium, developer blog

#5090 fix img link for cortext blog
  website/blog/2024-02-29-cortex-slack.md
Labels: size: x-small, developer blog, Docs team

#5091 explicitly call out enterprise as the only plans needing updated for native git integrations
  website/docs/docs/cloud/migration.md
Labels: content

#5088 Update cloud-cli-installation.md
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/configure-cloud-cli.md
Labels: content, size: medium, Docs team

#5092 Align example command and output for interactive compile
  website/docs/reference/commands/compile.md
Labels: content, size: x-small

#5093 Fix: Updated order refs to order-by in MetricFlow docs
  website/docs/docs/build/metricflow-commands.md
Labels: content, size: small

#5101 Generalize hyperlink description to "Fill null values for metrics"
  website/docs/docs/build/conversion-metrics.md
Labels: content, size: x-small, auto update

#5100 `conversion` is a valid metric `type`
  website/docs/docs/build/metrics-overview.md
Labels: content, size: x-small

#5096 Update Snowpark Guide -- dbt-python-snowpark.md
  website/docs/guides/dbt-python-snowpark.md
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/4-configure-dbt/1-open-partner-connect.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/9-sql-transformations/1-dag.png
Labels: content, size: medium, guides

#5102 add note about ip address allow list
  website/docs/docs/use-dbt-semantic-layer/gsheets.md
Labels: content, size: x-small, Docs team

#5097 SL supports sso with cloud cli
  website/docs/docs/use-dbt-semantic-layer/exports.md
  website/snippets/_v2-sl-prerequisites.md
Labels: content, size: x-small, Docs team, auto update

#5099 add incremental landing page
  contributing/content-style-guide.md
  website/blog/2023-04-18-building-a-kimball-dimensional-model-with-dbt.md
  website/docs/best-practices/clone-incremental-models.md
  website/docs/best-practices/materializations/materializations-guide-4-incremental-models.md
  website/docs/docs/build/dbt-tips.md
  website/docs/docs/build/incremental-models-overview.md
  website/docs/docs/build/incremental-models.md
  website/docs/docs/build/incremental-strategy.md
  website/docs/docs/build/materializations.md
  website/docs/docs/build/python-models.md
  website/docs/docs/core/connect-data-platform/teradata-setup.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.4.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-v0.20.md
  website/docs/guides/migrate-from-spark-to-databricks.md
  website/docs/guides/migrate-from-stored-procedures.md
  website/docs/reference/resource-configs/bigquery-configs.md
  website/docs/reference/resource-configs/clickhouse-configs.md
  website/docs/reference/resource-configs/databricks-configs.md
  website/docs/reference/resource-configs/firebolt-configs.md
  website/docs/reference/resource-configs/glue-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
  website/docs/reference/resource-configs/spark-configs.md
  website/docs/reference/resource-properties/unit-test-overrides.md
  website/docs/terms/dml.md
  website/sidebars.js
  website/static/img/docs/building-a-dbt-project/incremental-diagram.jpg
  website/vercel.json
Labels: content, size: large, developer blog, guides, Docs team, auto update

#5095 Remove speculative subtypes and optional properties for exposures
  website/docs/docs/build/exposures.md
Labels: content, size: x-small

#5105 add updated info about exports and cloud ide support
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: x-small, Docs team, auto update

#5079 Fix example for configuring a custom alias in YAML
  website/docs/docs/build/custom-aliases.md
Labels: content, size: x-small

#5106 Missing parenthesis when mentioning the Prettier YAML formatter
  website/docs/best-practices/how-we-style/5-how-we-style-our-yaml.md
Labels: content, size: x-small

#5107 Most recent Python + dbt-core versions in upper left
  website/snippets/_python-compatibility-matrix.md
Labels: content, size: small

#5067 revising and condensing definitions
  website/docs/reference/global-configs/indirect-selection.md
  website/docs/reference/node-selection/test-selection-examples.md
  website/package-lock.json
  website/snippets/_indirect-selection-definitions.md
  website/static/img/docs/reference/indirect-selection-buildable.png
  website/static/img/docs/reference/indirect-selection-cautious.png
  website/static/img/docs/reference/indirect-selection-dbt-build.png
  website/static/img/docs/reference/indirect-selection-eager.png
  website/static/img/docs/reference/indirect-selection-empty.png
Labels: content, size: medium, Docs team

#5108 Update _v2-sl-prerequisites.md
  website/snippets/_v2-sl-prerequisites.md
Labels: content, size: x-small, auto update

#5086 Core to cloud fast follows
  website/docs/guides/core-to-cloud-1.md
Labels: content, size: small, guides, Docs team, auto update

#5085 move to 'dont nest curlies' doc to sidebar
  website/docs/best-practices/dont-nest-your-curlies.md
  website/docs/faqs/Jinja/quoting-column-names.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
  website/sidebars.js
  website/vercel.json
Labels: content, size: small, Docs team, auto update

#5077 clarify dimensions supported in semantic models
  website/docs/docs/build/semantic-models.md
Labels: content, size: small, Docs team

#5115 Moves the list of commands up in the menu
  website/sidebars.js
Labels: size: small, Docs team, auto update

#5080 add redshift and bq to supported adapters for freshness
  website/docs/reference/resource-properties/freshness.md
Labels: content, size: small, Docs team, auto update

#5125 Cortex additional sample code
  website/blog/2024-02-29-cortex-slack.md
Labels: size: medium, developer blog

#5112 Fix default for `target` and `target_path`
  website/docs/reference/global-configs/about-global-configs.md
Labels: content, size: x-small

#5113 Fix environment variables that are not yet available
  website/docs/reference/global-configs/about-global-configs.md
Labels: content, size: x-small

#5116 Clarify sentence meaning
  website/docs/docs/collaborate/explore-projects.md
Labels: content, size: small, Docs team, auto update

#5126 Public preview of keep with latest
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
  website/docs/reference/global-configs/version-compatibility.md
  website/docs/reference/project-configs/require-dbt-version.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/example-environment-settings.png
Labels: content, size: small, Docs team, auto update

#5072 Updating SLA from 1-2 bus days to 3-5 bus days.
  website/docs/docs/cloud/secure/databricks-privatelink.md
  website/docs/docs/cloud/secure/postgres-privatelink.md
  website/docs/docs/cloud/secure/redshift-privatelink.md
  website/docs/docs/cloud/secure/snowflake-privatelink.md
  website/docs/docs/cloud/secure/vcs-privatelink.md
  website/snippets/_PrivateLink-SLA.md
Labels: content, size: small, new contributor

#5127 add link to job chaining and fix post date
  website/blog/2024-02-29-cortex-slack.md
Labels: size: x-small, developer blog

#5124 update example for unit testing dbt_utils macro override
  website/docs/reference/resource-properties/unit-test-overrides.md
Labels: content, size: x-small

#5120 Condense region table
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
Labels: content, size: x-small, Docs team

#5122 Add link to package hub disclaimer page
  website/docs/docs/build/packages.md
Labels: content, size: x-small

#5103 Update bigquery-configs.md
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: x-small, new contributor

#5123 Update usage-stats.md
  website/docs/reference/global-configs/usage-stats.md
Labels: content, size: small, auto update

#5110 Update invocation_id.md
  website/docs/reference/dbt-jinja-functions/invocation_id.md
Labels: content, size: x-small

#5114 Adding visual to indirect selection reference page
  website/docs/reference/global-configs/indirect-selection.md
Labels: content, size: small, Docs team

#5130 add an faq to guide users on yaml parse errors
  website/docs/faqs/Troubleshooting/could-not-parse-project.md
  website/docs/faqs/Troubleshooting/git-revlist-error.md
  website/docs/faqs/Troubleshooting/partial-parsing-error.md
  website/docs/faqs/Troubleshooting/runtime-error-could-not-find-profile.md
  website/docs/faqs/Troubleshooting/unused-model-configurations.md
Labels: content, size: small, Docs team

#5131 Update parse.md
  website/docs/reference/commands/parse.md
Labels: content, size: x-small

#5128 Update query-comment.md
  website/docs/reference/project-configs/query-comment.md
Labels: content, size: x-small, Docs team, auto update

#5132 update tenancy docs to reflect changes to Semantic Layer availability
  website/snippets/cloud-feature-parity.md
Labels: content, size: x-small

#5133 Update gsheets.md
  website/docs/docs/use-dbt-semantic-layer/gsheets.md
Labels: content, size: x-small

#4937 Update store_failures.md
  website/docs/reference/resource-configs/store_failures.md
Labels: content, size: x-small, new contributor

#5139 Link to documentation for `dbt_project.yml`
  website/docs/reference/global-configs/about-global-configs.md
Labels: content, size: x-small

#5129 fix qs code and remove snippet
  website/docs/guides/bigquery-qs.md
  website/docs/guides/databricks-qs.md
  website/docs/guides/microsoft-fabric-qs.md
  website/docs/guides/redshift-qs.md
  website/docs/guides/snowflake-qs.md
  website/docs/guides/starburst-galaxy-qs.md
  website/snippets/quickstarts/_build-your-first-model.md
Labels: content, size: large, guides, Docs team

#5135 clarify dbt show is only for SQL models - not python
  website/docs/reference/commands/show.md
Labels: content, size: x-small, Docs team

#5145 Link to anonymous usage stats page
  website/docs/reference/parsing.md
Labels: content, size: x-small

#5148 Update dbt-commands.md
  website/docs/reference/dbt-commands.md
Labels: content, size: x-small

#5152 Update the example commands for the "state" selector method
  website/docs/reference/node-selection/methods.md
Labels: content, size: x-small

#5151 Wildcards require single or double quotes for `zsh` shell
  website/docs/reference/node-selection/methods.md
Labels: content, size: x-small

#5150 The "saved_query" selector method
  website/docs/reference/node-selection/methods.md
Labels: content, size: small

#5149 Update source-freshness.md
  website/docs/docs/deploy/source-freshness.md
Labels: content, size: x-small

#5155 Update exports.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: small, Docs team

#5153 Update json-artifacts.md
  website/docs/reference/global-configs/json-artifacts.md
Labels: content, size: x-small

#5165 Fix anchor link in `data-tests.md`
  website/docs/docs/build/data-tests.md
Labels: content, size: x-small

#5164 Update fill-nulls-advanced.md
  website/docs/docs/build/fill-nulls-advanced.md
Labels: content, size: small

#5167 Add mutiny script
  website/docusaurus.config.js
  website/static/js/mutiny.js
Labels: content, size: small

#5166 Fix meta dbt_project.yml example
  website/docs/reference/resource-configs/meta.md
Labels: content, size: x-small

#5161 Clarifying roles required to setup Azure DevOps
  website/docs/docs/cloud/git/connect-azure-devops.md
  website/docs/docs/cloud/git/setup-azure.md
Labels: content, size: medium, Docs team

#5168 Add dbt_project.yml example to new data tests syntax callout
  website/docs/docs/build/data-tests.md
Labels: content, size: small

#5160 Update methods.md
  website/docs/reference/node-selection/methods.md
Labels: content, size: x-small

#5170 Update FAQ on Could not parse the dbt project
  website/docs/faqs/Troubleshooting/could-not-parse-project.md
Labels: content, size: small, Docs team, auto update

#5136 Update freshness.md
  website/docs/reference/resource-properties/freshness.md
Labels: content, size: x-small, Docs team, auto update

#5141 add cloud cli overview img
  website/docs/docs/cloud/cloud-cli-installation.md
  website/static/img/docs/dbt-cloud/cloud-cli-overview.jpg
Labels: content, size: x-small, Docs team, auto update

#5163 add missing features to parity table
  website/snippets/cloud-feature-parity.md
Labels: content, size: small, Docs team

#5171 Update contract.md
  website/docs/reference/resource-configs/contract.md
Labels: content, size: x-small

#5172 Update constraints.md
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small

#5174 Update snowflake-setup.md
  website/docs/docs/cloud/connect-data-platform/connect-snowflake.md
  website/docs/docs/core/connect-data-platform/snowflake-setup.md
Labels: content, size: small, Docs team

#5173 Update constraints.md
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small

#5089 Improvements to applied source metadata
  website/docs/docs/core/connect-data-platform/about-core-connections.md
  website/docs/docs/dbt-cloud-apis/project-state.md
Labels: content, size: small, Docs team, auto update

#5179 update examples from hard code to ref function
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small, Docs team, auto update

#5177 sort adapters order
  website/sidebars.js
Labels: size: medium, Docs team

#5180 FIx spacing to avoid horizontal scroling
  website/docs/guides/adapter-creation.md
  website/docs/guides/airflow-and-dbt-cloud.md
  website/docs/guides/bigquery-qs.md
  website/docs/guides/building-packages.md
  website/docs/guides/codespace-qs.md
  website/docs/guides/core-to-cloud-1.md
  website/docs/guides/create-new-materializations.md
  website/docs/guides/custom-cicd-pipelines.md
  website/docs/guides/databricks-qs.md
  website/docs/guides/dbt-models-on-databricks.md
  website/docs/guides/dbt-python-snowpark.md
  website/docs/guides/debug-errors.md
  website/docs/guides/debug-schema-names.md
  website/docs/guides/dremio-lakehouse.md
  website/docs/guides/how-to-use-databricks-workflows-to-run-dbt-cloud-jobs.md
  website/docs/guides/manual-install-qs.md
  website/docs/guides/microsoft-fabric-qs.md
  website/docs/guides/migrate-from-spark-to-databricks.md
  website/docs/guides/migrate-from-stored-procedures.md
  website/docs/guides/productionize-your-dbt-databricks-project.md
  website/docs/guides/redshift-qs.md
  website/docs/guides/refactoring-legacy-sql.md
  website/docs/guides/serverless-datadog.md
  website/docs/guides/serverless-pagerduty.md
  website/docs/guides/set-up-ci.md
  website/docs/guides/set-up-your-databricks-dbt-project.md
  website/docs/guides/sl-migration.md
  website/docs/guides/sl-partner-integration-guide.md
  website/docs/guides/snowflake-qs.md
  website/docs/guides/starburst-galaxy-qs.md
  website/docs/guides/using-jinja.md
  website/docs/guides/zapier-ms-teams.md
  website/docs/guides/zapier-refresh-mode-report.md
  website/docs/guides/zapier-refresh-tableau-workbook.md
  website/docs/guides/zapier-slack.md
Labels: content, size: medium, guides, Docs team

#5185 Fixing QS spacing issue
  website/docs/guides/bigquery-qs.md
  website/docs/guides/databricks-qs.md
  website/docs/guides/microsoft-fabric-qs.md
  website/docs/guides/redshift-qs.md
  website/docs/guides/starburst-galaxy-qs.md
Labels: content, size: small, guides, Docs team

#5188 Update cloud-cli-installation.md
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: x-small, Docs team

#5189 Update saved-queries.md
  website/docs/docs/build/saved-queries.md
Labels: content, size: medium, Docs team, auto update

#5184 update lifecycle to integration
  website/snippets/_sl-partner-links.md
Labels: content, size: x-small, Docs team, auto update

#5190 Update metrics-overview.md
  website/docs/docs/build/metrics-overview.md
Labels: content, size: x-small

#5181 Deactivated jobs
  website/docs/docs/deploy/deploy-jobs.md
  website/docs/docs/deploy/job-scheduler.md
  website/static/img/docs/dbt-cloud/deployment/example-deactivated-deploy-job.png
Labels: size: small, Docs team, auto update

#5194 Update cloud-cli-installation.md
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: small

#5169 Updates to Explorer docs
  website/docs/docs/collaborate/explore-projects.md
  website/static/img/docs/collaborate/dbt-explorer/catalog-sidebar-v1.gif
  website/static/img/docs/collaborate/dbt-explorer/example-keyword-search.png
  website/static/img/docs/collaborate/dbt-explorer/example-materialization-type-lense.png
  website/static/img/docs/collaborate/dbt-explorer/example-model-details.png
  website/static/img/docs/collaborate/dbt-explorer/example-project-lineage-graph.png
  website/static/img/docs/collaborate/dbt-explorer/example-search-sidebar.png
  website/static/img/docs/collaborate/dbt-explorer/lineage-v1.gif
  website/static/img/docs/collaborate/dbt-explorer/model-resource-details-v1.gif
  website/static/img/docs/collaborate/dbt-explorer/search-v1.gif
Labels: content, size: medium, Docs team, auto update

#5195 Fast-follow nits
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/deploy/job-scheduler.md
  website/static/img/docs/dbt-cloud/deployment/example-deactivated-deploy-job.png
Labels: content, size: small, Docs team, auto update
