Repository dbt-labs/docs.getdbt.com, pull requests merged in 2024-07, with the labels that each got.

#5714 add img to billing page
  website/docs/docs/cloud/billing.md
  website/static/img/docs/building-a-dbt-project/billing.jpg
Labels: content, size: x-small, Docs team

#5710 add dashboard filters hit cache callout
  website/docs/docs/use-dbt-semantic-layer/sl-cache.md
Labels: content, size: small, Docs team

#5717 Update packages.md
  website/docs/docs/build/packages.md
Labels: content, size: x-small, Docs team

#5720 fix(redirects): update redirects for sl guide update
  website/vercel.json
Labels: content, size: small

#5677 dbt-teradata 1.8.0 changes
  website/docs/docs/core/connect-data-platform/teradata-setup.md
  website/docs/reference/resource-configs/teradata-configs.md
Labels: content, size: medium

#5729 fixes to sentence case
  website/docusaurus.config.js
  website/sidebars.js
  website/src/pages/community/events.js
  website/src/pages/community/forum.js
  website/src/pages/index.js
Labels: size: small, Docs team

#5733 Clarify that metrics can be used in query-level filters
  website/docs/docs/build/ref-metrics-in-filters.md
Labels: content, size: small, new contributor

#5730 add label limitation to tableau doc
  website/docs/docs/cloud-integrations/semantic-layer/tableau.md
Labels: content, size: x-small, Docs team

#5688 add cumulative metrics granularity info
  website/docs/docs/build/conversion-metrics.md
  website/docs/docs/build/cumulative-metrics.md
  website/docs/docs/build/simple.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: large, Docs team, auto update

#5716 Update configure-cloud-cli.md
  website/docs/docs/cloud/configure-cloud-cli.md
Labels: size: small, Docs team

#5731 add validation warning for exp in derived
  website/docs/docs/build/derived-metrics.md
Labels: content, size: x-small, Docs team

#5735 Update _enterprise-permissions-table.md
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small

#5721 Add MFA explainer
  website/docs/docs/cloud/connect-data-platform/connect-snowflake.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/extended-attributes-mfa.jpg
Labels: content, size: medium

#5740 Update semantic-layer-2-setup.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-2-setup.md
Labels: content, size: x-small, new contributor

#5741 Add versionless value for admin api and terraform
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
Labels: content, size: x-small, Docs team

#5744 Update redshift-configs.md
  website/docs/reference/resource-configs/redshift-configs.md
Labels: content, size: medium, Docs team

#5746 Ado limited pat
  website/docs/docs/cloud/git/setup-azure.md
Labels: content, size: small

#5750 add info about case sensitivity
  website/docs/docs/collaborate/govern/project-dependencies.md
Labels: content, size: small, Docs team

#5652 Updating events module location for dbt 1.8
  website/docs/reference/programmatic-invocations.md
Labels: content, size: small, new contributor

#5761 Update cumulative-metrics.md
  website/docs/docs/build/cumulative-metrics.md
Labels: content, size: small, new contributor

#5762 Azure remove preview
  website/docs/docs/cloud/connect-data-platform/about-connections.md
  website/docs/docs/cloud/connect-data-platform/connect-azure-synapse-analytics.md
  website/docs/docs/get-started-dbt.md
  website/docs/guides/azure-synapse-analytics-qs.md
Labels: content, size: small, guides, Docs team

#5766 finish sentence
  website/docs/guides/mesh-qs.md
Labels: content, size: x-small, guides

#5763 Update mesh-qs.md
  website/docs/guides/mesh-qs.md
Labels: content, size: x-small, guides

#5769 replace imgs with clearer ones
  website/docs/docs/cloud/billing.md
  website/static/img/docs/building-a-dbt-project/billing-job-page.jpg
  website/static/img/docs/building-a-dbt-project/billing-project-page.jpg
  website/static/img/docs/building-a-dbt-project/billing-usage-page.jpg
  website/static/img/docs/building-a-dbt-project/billing.jpg
Labels: content, size: small, Docs team

#5654 add nodes to project state doc
  website/docs/docs/dbt-cloud-apis/project-state.md
Labels: content, size: small, Docs team

#5770 Update dbt-support.md
  website/docs/docs/dbt-support.md
Labels: content, size: x-small, Docs team

#5764 fix malformed sources.yml
  website/docs/guides/mesh-qs.md
Labels: content, size: x-small, guides, auto update

#5768 Double quoted columns failed on snowflake
  website/docs/guides/mesh-qs.md
Labels: content, size: x-small, guides, auto update

#5765 update the context set by the previous sections of the tutorial
  website/docs/guides/mesh-qs.md
Labels: content, size: x-small, guides

#5759 Add 'Semantic Layer in pieces' blog post
  website/blog/2024-07-08-building-your-semantic-layer-in-pieces.md
  website/static/img/blog/2024-07-09-semantic-layer-in-pieces/elsa_meme.jpg
  website/static/img/blog/2024-07-09-semantic-layer-in-pieces/rollup_dag.png
Labels: content, size: medium, developer blog

#5758 Add dbt Make Open Data project example
  website/docs/faqs/Project/example-projects.md
Labels: content, size: x-small, new contributor

#5723 fix(metrics overview): clean up typo in example
  website/docs/docs/build/metrics-overview.md
Labels: content, size: x-small

#5754 update scd docs per feedback
  website/docs/docs/build/dimensions.md
Labels: content, size: medium, Docs team

#5775 Link all all migration guides instead of hard-pinning to v1.4 migration guide
  website/docs/docs/core/installation-overview.md
Labels: content, size: x-small

#5776 Add section headers to separate the different sections
  website/docs/reference/resource-configs/contract.md
Labels: content, size: x-small

#5767 add detailed instructions
  website/docs/guides/mesh-qs.md
Labels: content, size: x-small, guides

#5649 Removes Azure log exception
  website/docs/docs/cloud/manage-access/audit-log.md
Labels: content, size: x-small, Docs team

#5772 Align pill with expandable header
  website/src/components/expandable/styles.module.css
Labels: size: x-small, Docs team, auto update

#5782 Update unit-tests.md
  website/docs/docs/build/unit-tests.md
Labels: content, size: x-small

#5778 add job memory limit faq
  website/docs/docs/deploy/job-scheduler.md
  website/docs/faqs/Troubleshooting/job-memory-limits.md
Labels: content, size: small, Docs team

#5726 Azure IPs
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
Labels: content, size: x-small, Docs team

#5784 Update authentication.md
  website/docs/docs/dbt-cloud-apis/authentication.md
Labels: content, size: x-small, Docs team

#5786 Update service-tokens.md
  website/docs/docs/dbt-cloud-apis/service-tokens.md
Labels: content, size: x-small

#5781 Upgrade to Keep on latest version
  website/docs/docs/dbt-versions/versionless-cloud.md
  website/sidebars.js
Labels: content, size: medium, Docs team, auto update

#5753 Update linter docs for dbt Cloud CLI
  website/docs/docs/cloud/configure-cloud-cli.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: small, Docs team, auto update

#5787 Adding v1.9 beta to the docs
  website/blog/2022-08-31-august-product-update.md
  website/dbt-versions.js
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
  website/docs/docs/dbt-versions/core-upgrade/07-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/core-upgrade/08-upgrading-to-v1.7.md
  website/docs/docs/dbt-versions/core-upgrade/09-upgrading-to-v1.6.md
  website/docs/docs/dbt-versions/core-upgrade/10-upgrading-to-v1.5.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/12-upgrading-to-v1.4.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/13-upgrading-to-v1.3.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/14-upgrading-to-v1.2.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/15-upgrading-to-v1.1.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/16-upgrading-to-v1.0.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-dbt-utils-v1.0.md
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
  website/docs/guides/dbt-python-snowpark.md
  website/docs/guides/migrate-from-spark-to-databricks.md
  website/snippets/core-versions-table.md
  website/vercel.json
Labels: content, size: medium, developer blog, guides, Docs team

#5789 Adding disclaimer to RBAC
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
Labels: content, size: x-small, Docs team

#5737 update measures doc
  website/docs/docs/build/join-logic.md
  website/docs/docs/build/measures.md
Labels: content, size: medium, Docs team

#5797 Updating environment permissions
  website/docs/docs/cloud/secure/environment-permissions-setup.md
  website/static/img/docs/dbt-cloud/environment-options.png
  website/static/img/docs/dbt-cloud/no-option.png
Labels: size: x-small, Docs team

#5792 clarify builtin macros aren't overridden via package
  website/docs/reference/dbt-jinja-functions/builtins.md
  website/docs/reference/dbt-jinja-functions/dispatch.md
Labels: content, size: x-small, Docs team

#5785 Restoring cross-database compatibility of example code
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small

#5800 Updated 404 link, broken link and link in doc
  website/docs/docs/build/python-models.md
Labels: content, size: x-small

#5788 Update custom-databases.md
  website/docs/docs/build/custom-databases.md
Labels: content, size: x-small

#5807 Update join-logic.md
  website/docs/docs/build/join-logic.md
Labels: content, size: x-small

#5809 remove props from gsheet doc
  website/docs/docs/cloud-integrations/semantic-layer/gsheets.md
Labels: content, size: small, Docs team

#5810 Typo in ADO page
  website/docs/docs/cloud/git/setup-azure.md
Labels: content, size: x-small, auto update

#5796 Mrbaird add hex section to sl qs guide
  website/docs/guides/sl-snowflake-qs.md
  website/snippets/_sl-connect-and-query-api.md
  website/static/img/docs/cloud-integrations/welcome_to_hex.png
  website/static/img/docs/dbt-cloud/semantic-layer/hex_collections.png
  website/static/img/docs/dbt-cloud/semantic-layer/hex_dbt_toggle.png
  website/static/img/docs/dbt-cloud/semantic-layer/hex_duplicate.png
  website/static/img/docs/dbt-cloud/semantic-layer/hex_make_sl_cell.png
  website/static/img/docs/dbt-cloud/semantic-layer/hex_new.png
  website/static/img/docs/dbt-cloud/semantic-layer/hex_new_data_connection.png
  website/static/img/docs/dbt-cloud/semantic-layer/hex_rename.png
  website/static/img/docs/dbt-cloud/semantic-layer/welcome_to_hex.png
Labels: content, size: medium, guides

#5701 Add `refresh_mode` and `initialize` for snowflake dynamic table configuration
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: medium, external-adapters-team

#5801 add python sdk for SL
  website/docs/docs/dbt-cloud-apis/sl-api-overview.md
  website/docs/docs/dbt-cloud-apis/sl-python-sdk.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#5780 Update `reuse_connections` default for `dbt-snowflake`
  website/docs/docs/core/connect-data-platform/snowflake-setup.md
Labels: content, size: medium, external-adapters-team

#5804 Explain which resource types the `ref` function applies to
  website/docs/reference/dbt-jinja-functions/ref.md
  website/docs/reference/dbt-jinja-functions/source.md
Labels: content, size: small

#5814 Instructions to generate speedscope profiles using `py-spy`
  website/docs/reference/global-configs/record-timing-info.md
Labels: content, size: x-small, auto update

#5819 codeowners: dev-multicell owns migration guide
  .github/CODEOWNERS
Labels: size: x-small

#5608 add sl access control info
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/docs/docs/use-dbt-semantic-layer/setup-sl.md
  website/docs/docs/use-dbt-semantic-layer/sl-faqs.md
  website/snippets/_new-sl-setup.md
  website/snippets/_v2-sl-prerequisites.md
  website/static/img/docs/dbt-cloud/semantic-layer/sl-add-credential.jpg
  website/static/img/docs/dbt-cloud/semantic-layer/sl-create-service-token-page.jpg
  website/static/img/docs/dbt-cloud/semantic-layer/sl-credential-created.jpg
Labels: content, size: medium, Docs team

#5803 Re-add note about unsaved ide changes
  website/docs/docs/cloud/migration.md
Labels: content, size: x-small

#5808 Update version-control-basics.md
  website/docs/docs/collaborate/git/version-control-basics.md
Labels: content, size: x-small

#5824 Update code-of-conduct.md
  website/docs/community/resources/code-of-conduct.md
Labels: content, size: x-small, new contributor

#5812 add clarifying text for exports
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: small, Docs team

#5826 Environment permissions to GA
  website/docs/docs/cloud/manage-access/environment-permissions-setup.md
  website/docs/docs/cloud/manage-access/environment-permissions.md
  website/sidebars.js
  website/vercel.json
Labels: content, size: small, Docs team

#5828 Removing erroneous permissions
  website/snippets/_self-service-permissions-table.md
Labels: content, size: x-small, Docs team

#5815 Adding a new role for marketplace apps
  website/docs/docs/cloud-integrations/set-up-snowflake-native-app.md
  website/docs/docs/dbt-cloud-apis/service-tokens.md
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: small, Docs team

#5830 Add links to new dbt Mesh learning course
  website/docs/best-practices/how-we-mesh/mesh-4-implementation.md
  website/docs/docs/collaborate/govern/project-dependencies.md
Labels: content, size: x-small, Docs team

#5679 Improved support for custom configs in data tests
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/reference/data-test-configs.md
Labels: content, size: small, Docs team, auto update

#5831 Add comment in example for description
  website/docs/docs/dbt-cloud-apis/schema-discovery-environment-applied-modelHistoricalRuns.mdx
Labels: content, size: x-small, Docs team

#5829 Global Connections
  website/docs/docs/cloud/connect-data-platform/about-connections.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/connections-legacy-model.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/connections-list.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/connections-new-model.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/connections-post-rollout-2.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/connections-post-rollout-3.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/connections-post-rollout-4.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/connections-post-rollout-5.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/connections-post-rollout.png
Labels: content, size: medium

#5837 Update description for the `docs` property
  website/docs/reference/resource-configs/docs.md
Labels: content, size: x-small

#5838 Update change-billing.md
  website/docs/faqs/Accounts/change-billing.md
Labels: content, size: x-small, new contributor

#5832 New behavior with limit parameter
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#5825 Update configure-cloud-cli.md
  website/docs/docs/cloud/configure-cloud-cli.md
Labels: content, size: x-small, new contributor

#5836 explorer - inherit column descriptions
  website/docs/docs/collaborate/column-level-lineage.md
  website/static/img/docs/collaborate/dbt-explorer/example-prop-inherit.jpg
  website/static/img/docs/collaborate/dbt-explorer/example-prop-inherit.png
Labels: content, size: x-small, Docs team

#5834 add caching/access control faq
  website/docs/docs/use-dbt-semantic-layer/setup-sl.md
  website/docs/docs/use-dbt-semantic-layer/sl-cache.md
Labels: content, size: small, Docs team

#5707 Add docs for using `psycopg2` with `dbt-postgres`
  website/docs/docs/core/connect-data-platform/postgres-setup.md
Labels: content, size: medium, external-adapters-team

#5751 add more context to ent permissions table
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: small, Docs team

#5835 add clarifying faq and info on permissions
  website/docs/reference/resource-configs/schema.md
  website/docs/reference/resource-configs/store_failures.md
Labels: content, size: small, Docs team

#5791 Update job-memory-limits.md
  website/docs/faqs/Troubleshooting/job-memory-limits.md
Labels: content, size: small, Docs team

#5798 Update oracle adapter docs
  website/docs/docs/core/connect-data-platform/oracle-setup.md
  website/docs/reference/resource-configs/oracle-configs.md
Labels: content, size: large, auto update

#5839 mesh-5-faqs.md - replace downstream with upstream
  website/docs/best-practices/how-we-mesh/mesh-5-faqs.md
Labels: content, size: x-small, new contributor, auto update

#5176 Update schema.md
  website/docs/reference/resource-configs/schema.md
Labels: content, size: small

#5182 Update environment-variables.md
  website/docs/docs/build/environment-variables.md
Labels: content, size: small

#5843 Update about-snowflake-native-app.md
  website/docs/docs/cloud-integrations/about-snowflake-native-app.md
Labels: content, size: x-small

#5817 New snapshot configs
  website/dbt-versions.js
  website/docs/docs/build/snapshots.md
  website/docs/docs/core/connect-data-platform/glue-setup.md
  website/docs/faqs/Snapshots/snapshot-target-schema.md
  website/docs/guides/debug-schema-names.md
  website/docs/reference/resource-configs/alias.md
  website/docs/reference/resource-configs/clickhouse-configs.md
  website/docs/reference/resource-configs/database.md
  website/docs/reference/resource-configs/schema.md
  website/docs/reference/resource-configs/target_database.md
  website/docs/reference/resource-configs/target_schema.md
  website/docs/reference/snapshot-configs.md
Labels: content, size: large, Docs team

#5846 Analyses support the group config since v1.5
  website/docs/reference/resource-configs/group.md
Labels: content

#5842 Fix `alias` code example for `data_tests`
  website/docs/reference/resource-configs/alias.md
Labels: size: x-small

#5847 add tidbit about managed repos not supported by prune branch
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
Labels: content, size: x-small, Docs team

#5849 Fixes table formatting
  website/docs/docs/build/snapshots.md
Labels: content, size: x-small, Docs team

#5853 Update adapter-creation.md
  website/docs/guides/adapter-creation.md
Labels: content, size: small, guides

#5854 Adding external oauth beta docs
  website/docs/docs/cloud/manage-access/external-oauth.md
  website/static/img/docs/dbt-cloud/add-api-assignment.png
  website/static/img/docs/dbt-cloud/add-api-rule.png
  website/static/img/docs/dbt-cloud/add-api-scope.png
  website/static/img/docs/dbt-cloud/callback-uri.png
  website/static/img/docs/dbt-cloud/configure-new-connection.png
  website/static/img/docs/dbt-cloud/configure-okta-app.png
  website/static/img/docs/dbt-cloud/configure-token-lifetime.png
  website/static/img/docs/dbt-cloud/create-okta-api.png
  website/static/img/docs/dbt-cloud/create-okta-app.png
  website/static/img/docs/dbt-cloud/gather-authorization-token-endpoints.png
  website/static/img/docs/dbt-cloud/gather-clientid-secret.png
  website/static/img/docs/dbt-cloud/gather-uris.png
  website/static/img/docs/dbt-cloud/metadata-example.png
  website/static/img/docs/dbt-cloud/metadata-uri.png
  website/static/img/docs/dbt-cloud/select-oauth-config.png
Labels: content, size: medium, Docs team

#5833 Devblog trigger on merge
  website/blog/2024-07-24-cityblock-merge-jobs.md
  website/blog/authors.yml
  website/static/img/blog/authors/nathaniel_burren.jpeg
Labels: content, size: large, developer blog

#5852 Update build-and-view-your-docs.md
  website/docs/docs/collaborate/build-and-view-your-docs.md
Labels: content, size: x-small, Docs team

#5856 Example of using the "config" selection method for `meta`
  website/docs/reference/node-selection/methods.md
Labels: content, size: x-small

#5840 New page to explain context methods and variables available in properties YAML files
  website/docs/reference/dbt-jinja-functions/properties-yml-context.md
Labels: content, size: small

#5860 Update github-permissions.md
  website/docs/faqs/Git/github-permissions.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/github-applications.jpg
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/github-review-request.jpg
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/github-settings.jpg
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/repository-details-faq.jpg
Labels: content, size: small

#5855 add new command
  website/docs/docs/build/metricflow-commands.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: medium, Docs team

#5862 Update snowflake-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: x-small

#4564 Update Databricks quickstart
  website/docs/guides/databricks-qs.md
Labels: content, size: medium, guides

#5047 Fix `store_failures` schema documentation
  website/docs/reference/resource-configs/schema.md
  website/docs/reference/resource-configs/store_failures.md
Labels: content, size: x-small, new contributor

#5771 About continuous deployment
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/deploy/continuous-deployment.md
  website/docs/docs/deploy/continuous-integration.md
  website/docs/docs/deploy/deployment-overview.md
  website/sidebars.js
Labels: content, size: small, Docs team, auto update

#5196 Update model-access.md
  website/docs/docs/collaborate/govern/model-access.md
Labels: content, size: x-small

#5827 Update release-notes.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: small

#5870 V1.6 EOL
  website/snippets/core-versions-table.md
Labels: content, size: x-small, Docs team

#5872 Remove cityblock devblog
  website/blog/2024-07-24-cityblock-merge-jobs.md
Labels: size: small, developer blog

#5866 Spotlight update for August 2024 - images, please merge to amada-spotlight-aug-2024
  website/docs/community/spotlight/meagan-palmer.md
  website/docs/community/spotlight/mikko-sulonen.md
  website/docs/community/spotlight/radovan-bacovic.md
  website/docusaurus.config.js
  website/src/components/communitySpotlightList/index.js
  website/static/img/community/spotlight/Meagan-Palmer.png
  website/static/img/community/spotlight/Mikko-Sulonen.png
  website/static/img/community/spotlight/Radovan-Bacovic.png
Labels: content, size: medium

#5861 add video url to faq
  website/docs/faqs/Troubleshooting/job-memory-limits.md
Labels: content, size: small, Docs team
