Repository dbt-labs/docs.getdbt.com, pull requests merged in 2024-12, with the labels that each got.

#6574 Mark dbt-databricks as supporting 'microbatch' incremental strategy
  website/docs/docs/build/incremental-strategy.md
Labels: content, size: x-small

#6578 add sl rn bug entry
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#6560 Fixing sqlfluff link
  website/docs/best-practices/how-we-style/2-how-we-style-our-sql.md
Labels: content, size: x-small, Docs team

#6521 add callout for net new snapshots
  website/docs/docs/build/snapshots.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
  website/docs/reference/snapshot-configs.md
  website/snippets/_legacy-snapshot-config.md
  website/src/components/expandable/styles.module.css
Labels: content, size: medium, Docs team

#6583 add exposure support for trust signals
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#6586 Adding status codes to run doc
  website/docs/reference/commands/run.md
Labels: content, size: small, Docs team

#6573 Snowflake permission note
  website/docs/docs/cloud/connect-data-platform/connect-snowflake.md
Labels: content, size: small, Docs team

#6584 Adding note to Entra ID
  website/docs/docs/cloud/manage-access/set-up-sso-microsoft-entra-id.md
Labels: content, size: x-small, Docs team

#6592 Removing old snippet
  website/docs/docs/build/hooks-operations.md
  website/docs/reference/dbt-jinja-functions/this.md
  website/docs/reference/project-configs/on-run-start-on-run-end.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
  website/snippets/hooks-to-grants.md
Labels: content, size: small, Docs team

#6591 Updating default timeout
  website/docs/docs/core/connect-data-platform/redshift-setup.md
Labels: content, size: x-small, Docs team, auto update

#6582 add key configs for adapters using microbatch
  website/docs/docs/build/incremental-microbatch.md
Labels: content, size: medium, Docs team, trigger-crawl

#6590 add batch property to model jinja fnction
  website/docs/reference/dbt-jinja-functions/model.md
Labels: content, size: small, Docs team, trigger-crawl

#6558 [merge after dec 5th] adds new hard_deletes config
  website/docs/docs/build/snapshots.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/reference/resource-configs/hard-deletes.md
  website/docs/reference/resource-configs/invalidate_hard_deletes.md
  website/docs/reference/resource-configs/snapshot_meta_column_names.md
  website/docs/reference/snapshot-configs.md
  website/sidebars.js
  website/snippets/_hard-deletes.md
Labels: content, size: large, Docs team, trigger-crawl

#6596 Fixing redirect syntax
  website/vercel.json
Labels: size: x-small, Docs team

#6588 add microbatch to data platform configs
  website/docs/reference/resource-configs/bigquery-configs.md
  website/docs/reference/resource-configs/postgres-configs.md
  website/docs/reference/resource-configs/redshift-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
  website/docs/reference/resource-configs/spark-configs.md
Labels: content, size: small, Docs team

#6597 update auth0 uri link
  website/snippets/access_url.md
Labels: content, size: x-small, Docs team

#6595 Update hard-deletes.md
  website/docs/reference/resource-configs/hard-deletes.md
Labels: content, size: x-small, Docs team

#6598 Fixing broken links
  website/docs/docs/build/packages.md
  website/docs/docs/cloud/git/import-a-project-by-git-url.md
  website/docs/guides/adapter-creation.md
  website/docs/guides/custom-cicd-pipelines.md
  website/docs/reference/commands/init.md
  website/docs/reference/resource-configs/athena-configs.md
Labels: content, size: small, guides, Docs team

#6599 Enhancing BigQuery language
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: x-small, Docs team

#6602 Link to `store_failures_as` config instead of `--store-failures` flag
  website/docs/reference/resource-configs/alias.md
Labels: content, size: x-small

#6603 Add caveat about including all necessary given input fixtures for unit tests
  website/docs/docs/build/unit-tests.md
Labels: content, size: x-small

#6605 dbt looks for unit tests in the directories in the `model-paths` config
  website/docs/reference/project-configs/model-paths.md
Labels: content, size: x-small

#6606 Separate adapter-specific caveats for unit tests
  website/docs/docs/build/unit-tests.md
Labels: content, size: x-small

#6600 Adding folders to dbtignore
  website/docs/reference/dbtignore.md
Labels: content, size: x-small, Docs team

#6604 Link to docs for `model-paths` configuration
  website/docs/docs/build/unit-tests.md
Labels: content, size: x-small

#6579 add new integration page
  website/docs/docs/cloud/account-integrations.md
  website/docs/docs/cloud/enable-dbt-copilot.md
  website/docs/docs/cloud/git/connect-azure-devops.md
  website/docs/docs/dbt-versions/release-notes.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/account-integration-ai.jpg
  website/static/img/docs/dbt-cloud/account-integration-azure-manual.jpg
  website/static/img/docs/dbt-cloud/account-integration-azure-target.jpg
  website/static/img/docs/dbt-cloud/account-integration-dbtlabs.jpg
  website/static/img/docs/dbt-cloud/account-integration-git.jpg
  website/static/img/docs/dbt-cloud/account-integration-oauth.jpg
  website/static/img/docs/dbt-cloud/account-integration-openai.jpg
  website/static/img/docs/dbt-cloud/account-integrations.jpg
Labels: content, size: medium, Docs team

#6575 Add resource-config pages for microbatch configs
  website/docs/docs/build/incremental-microbatch.md
  website/docs/reference/resource-configs/batch_size.md
  website/docs/reference/resource-configs/begin.md
  website/docs/reference/resource-configs/lookback.md
  website/sidebars.js
Labels: content, size: medium

#6559 Create 2024-11-27-test-smarter-part-2--initial commit
  website/blog/2024-11-27-test-smarter-part-2.md
  website/static/img/blog/2024-11-27-test-smarter-part-2/testing_pipeline.png
Labels: size: medium, developer blog, trigger-crawl

#6304 Update mssql-setup.md
  website/docs/docs/core/connect-data-platform/mssql-setup.md
Labels: size: x-small

#6607 Swap latest callouts for fka versionless inline
  website/blog/2021-11-23-how-to-upgrade-dbt-versions.md
  website/blog/2024-04-22-extended-attributes.md
  website/blog/2024-06-12-putting-your-dag-on-the-internet.md
Labels: size: small, developer blog

#6608 Updated upgrading to v1.9 guide to included parallel batch execution and added links to incremental microbatch page
  website/docs/docs/build/incremental-microbatch.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
Labels: content, size: x-small

#6601 Created concurrent batches page
  website/docs/reference/resource-properties/concurrent_batches.md
  website/sidebars.js
Labels: content, size: medium

#6589 Created new section called Parallel batch execution
  website/docs/docs/build/incremental-microbatch.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
  website/docs/reference/resource-properties/concurrent_batches.md
  website/sidebars.js
Labels: content, size: medium

#6610 Remove link to customizing the name of a model's database identifier using the `alias` model config
  website/docs/docs/build/unit-tests.md
Labels: content, size: x-small

#6615 Updated prod environment image
  website/docs/docs/deploy/deploy-environments.md
  website/static/img/docs/dbt-cloud/using-dbt-cloud/prod-settings-1.png
Labels: content, size: x-small

#6616 add links to microbatch configs
  website/docs/docs/build/incremental-microbatch.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
  website/docs/reference/resource-configs/batch_size.md
  website/docs/reference/resource-configs/begin.md
  website/docs/reference/resource-configs/lookback.md
Labels: content, size: small, Docs team

#6618 Update incremental-strategy.md
  website/docs/docs/build/incremental-strategy.md
Labels: content, size: x-small, Docs team

#6620 Updated CLI doc to provide info on stuck session error
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: x-small

#6623 Update databricks-privatelink.md
  website/docs/docs/cloud/secure/databricks-privatelink.md
Labels: content, size: x-small

#6626 GA v1.9 in docs
  website/dbt-versions.js
  website/snippets/core-versions-table.md
Labels: content, size: x-small, Docs team

#6627 Fixing syntax
  website/docs/reference/global-configs/indirect-selection.md
Labels: content, size: x-small, Docs team

#6581 update model level to ga
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/deploy/model-notifications.md
  website/docs/docs/deploy/monitor-jobs.md
Labels: content, size: small, Docs team

#6594 add callout for collections synching
  website/docs/docs/cloud-integrations/configure-auto-exposures.md
Labels: content, size: x-small, Docs team

#6609 add alias/filter fields to simple and converesion metrics
  website/docs/docs/build/conversion-metrics.md
  website/docs/docs/build/simple.md
Labels: content, size: small, Docs team

#6630 Altering syntax
  website/docs/reference/project-configs/seed-paths.md
Labels: content, size: x-small, Docs team

#6625 Add unit tests limitations section for BigQuery (for `STRUCT`)
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: x-small, auto update

#6635 add gitlab webhook faq
  website/docs/docs/cloud/git/connect-gitlab.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/faqs/Troubleshooting/error-importing-repo.md
  website/docs/faqs/Troubleshooting/gitlab-webhook.md
Labels: content, size: medium, Docs team

#6631 add rn entry for execution_project
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#6636 move unique_key page under general configs
  website/docs/reference/model-configs.md
  website/docs/reference/resource-configs/unique_key.md
  website/sidebars.js
Labels: content, size: medium, Docs team, trigger-crawl

#6637 Updated mesh doc to add new prod environment img
  website/docs/guides/mesh-qs.md
  website/static/img/docs/dbt-cloud/using-dbt-cloud/prod-settings-1.png
Labels: content, size: x-small, guides

#6639 Update get-started-dbt.md
  website/docs/docs/get-started-dbt.md
Labels: content, size: small, Docs team

#6642 add new inline sql generation section
  website/docs/docs/cloud/about-cloud/about-dbt-cloud.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-copilot.md
  website/docs/docs/cloud/use-dbt-copilot.md
  website/static/img/docs/dbt-cloud/cloud-ide/copilot-sql-generation-prompt.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/copilot-sql-generation.gif
Labels: content, size: medium, Docs team, trigger-crawl

#6551 Update "OSS Expectations"
  website/docs/community/resources/oss-expectations.md
Labels: content, size: medium

#6629 Update CSP policy
  website/vercel.json
Labels: size: x-small

#6644 Update incremental-microbatch.md
  website/docs/docs/build/incremental-microbatch.md
Labels: content, size: x-small, Docs team

#6646 Stop claiming that dbt 1.8 is the latest version now that 1.9 has entered General Availability
  website/docs/docs/dbt-versions/core-upgrade/07-upgrading-to-v1.8.md
Labels: content, size: x-small

#6564 Platform connections: Add new data platform adapter for CrateDB
  website/docs/docs/community-adapters.md
  website/docs/docs/core/connect-data-platform/cratedb-setup.md
  website/docs/reference/resource-configs/no-configs.md
  website/sidebars.js
Labels: content, size: medium, new contributor

#6643 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size: small, Docs team

#6649 Update snowflake-permissions.md
  website/docs/reference/database-permissions/snowflake-permissions.md
Labels: content, size: x-small, new contributor

#6652 Models with introspective queries can not be unit tested
  website/docs/docs/build/unit-tests.md
Labels: content, size: x-small

#6654 Reducing page complexity and typo
  website/docs/docs/core/connect-data-platform/dremio-setup.md
Labels: content, size: x-small, Docs team

#6662 add to our yaml style best practice guide
  website/docs/best-practices/how-we-style/5-how-we-style-our-yaml.md
Labels: content, size: x-small, Docs team

#6651 add supported examples for alias
  website/docs/reference/resource-configs/alias.md
Labels: content, size: medium, Docs team

#6661 `dbt retry` will only work if dbt can parse the project and generate a manifest
  website/docs/docs/deploy/retry-jobs.md
Labels: content, size: x-small

#6660 Rephrase the two criteria for resolving `ref` calls with the `--defer` flag
  website/docs/reference/node-selection/defer.md
Labels: content, size: small

#6628 Adding to contracts ref
  website/docs/reference/resource-configs/contract.md
Labels: content, size: small, Docs team

#6529 Fix compiled name of DBT_ENV_CUSTOM_ENV_MY_FAVORITE_NUMBER
  website/docs/reference/dbt-jinja-functions/env_var.md
Labels: content, size: x-small, new contributor

#6666 Update Compatible release track
  website/dbt-versions.js
  website/docs/docs/dbt-versions/cloud-release-tracks.md
  website/docs/docs/dbt-versions/compatible-track-changelog.md
Labels: content, size: medium

#6658 Adding property file config for materializations
  website/docs/docs/build/materializations.md
Labels: content, size: small, Docs team

#6657 Updating old source freshness language
  website/docs/docs/build/dbt-tips.md
  website/docs/docs/build/sources.md
  website/docs/docs/dbt-cloud-apis/discovery-use-cases-and-examples.md
  website/docs/docs/deploy/artifacts.md
  website/docs/docs/deploy/source-freshness.md
  website/docs/faqs/Models/insert-records.md
  website/docs/guides/productionize-your-dbt-databricks-project.md
  website/docs/guides/refactoring-legacy-sql.md
  website/docs/reference/artifacts/dbt-artifacts.md
  website/docs/reference/artifacts/sources-json.md
  website/docs/reference/commands/source.md
  website/docs/reference/source-configs.md
Labels: content, size: small, guides, Docs team

#6656 Enhancing node selection and state selector
  website/blog/2022-04-14-add-ci-cd-to-bitbucket.md
  website/docs/docs/build/exposures.md
  website/docs/docs/build/groups.md
  website/docs/docs/collaborate/govern/model-versions.md
  website/docs/docs/dbt-versions/core-upgrade/07-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/core-upgrade/09-upgrading-to-v1.6.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/13-upgrading-to-v1.3.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/14-upgrading-to-v1.2.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/15-upgrading-to-v1.1.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-17-0.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/guides/set-up-ci.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/node-selection/state-comparison-caveats.md
  website/docs/reference/node-selection/syntax.md
  website/docs/reference/resource-properties/latest_version.md
Labels: content, size: large, developer blog, guides, Docs team

#6668 Delay publishing Compatible release track updates until ~Dec 17
  website/dbt-versions.js
  website/docs/docs/dbt-versions/cloud-release-tracks.md
  website/docs/docs/dbt-versions/compatible-track-changelog.md
Labels: content, size: medium

#6665 update vale and tj changed files gha
  .github/workflows/vale.yml
  styles/config/vocabularies/EN/accept.txt
  styles/config/vocabularies/EN/reject.txt
  styles/custom/Typos.yml
Labels: size: small, Docs team

#6663 adding notes for tests and documentation to dbt copilot
  website/docs/docs/build/data-tests.md
  website/docs/docs/build/documentation.md
  website/docs/docs/build/semantic-models.md
  website/snippets/_dbt-copilot-avail.md
Labels: content, size: small, Docs team

#6664 add rn for ST issue for SL and query history
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#6672 remove preview from athena
  website/docs/docs/cloud/connect-data-platform/about-connections.md
Labels: content, size: x-small, Docs team

#6671 add semantic models and saved queries to about dbt projects page
  website/docs/docs/build/projects.md
Labels: content, size: x-small

#6648 Update --favor-state note
  website/docs/docs/cloud/about-cloud-develop-defer.md
Labels: content, size: x-small, new contributor

#6667 add azure st support
  website/docs/docs/dbt-versions/release-notes.md
  website/snippets/_v2-sl-prerequisites.md
  website/snippets/cloud-feature-parity.md
Labels: content, size: x-small, Docs team

#6670 adds sigma as SL integration
  website/docs/docs/dbt-versions/release-notes.md
  website/snippets/_sl-partner-links.md
  website/static/img/icons/question-mark.svg
  website/static/img/icons/sigma.svg
  website/static/img/icons/white/redshift.svg
  website/static/img/icons/white/rocket.svg
  website/static/img/icons/white/sigma.svg
Labels: content, size: large, Docs team

#6641 Correct bind mount for profiles.yml in documentation
  website/docs/docs/core/docker-install.md
Labels: content, size: small, new contributor

#6677 Remove extra fields in create table statements
  website/docs/guides/redshift-qs.md
Labels: content, size: x-small, guides

#6676 Update job-scheduler.md
  website/docs/docs/deploy/job-scheduler.md
Labels: content, size: x-small

#6679 Update model-notifications.md - description is not allowed as a group property
  website/docs/docs/deploy/model-notifications.md
Labels: content, size: x-small, new contributor

#6680 highlight job completion more on docs
  website/docs/docs/deploy/about-ci.md
  website/docs/docs/deploy/deploy-jobs.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/deploy/jobs.md
  website/static/img/docs/deploy/deploy-job-completion.jpg
Labels: content, size: small, Docs team, trigger-crawl

#6675 Private packages beta
  website/docs/docs/build/packages.md
Labels: content, size: medium, Docs team

#6669 Revert "Delay publishing Compatible release track updates until ~Dec 17"
  website/dbt-versions.js
  website/docs/docs/dbt-versions/cloud-release-tracks.md
  website/docs/docs/dbt-versions/compatible-track-changelog.md
Labels: content, size: medium, Docs team

#6678 Update grants to include revocation examples
  website/docs/reference/resource-configs/grants.md
Labels: content, size: medium

#6686 Fix join_to_timespine indentation
  website/docs/docs/build/metrics-overview.md
Labels: content, size: x-small

#6621 add new data health signal page
  website/docs/docs/collaborate/data-health-signals.md
  website/docs/docs/collaborate/data-tile.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/dbt-versions/release-notes.md
  website/sidebars.js
  website/static/img/docs/collaborate/dbt-explorer/data-health-signal.gif
  website/static/img/docs/collaborate/dbt-explorer/data-health-signal.jpg
  website/static/img/docs/collaborate/dbt-explorer/trust-signal-caution.png
  website/static/img/docs/collaborate/dbt-explorer/trust-signal-healthy.png
  website/static/img/docs/collaborate/dbt-explorer/trust-signal-unknown.png
  website/static/img/docs/collaborate/dbt-explorer/trust-signals-degraded.jpg
Labels: content, size: medium, Docs team, trigger-crawl

#6580 [do not merge] auto exposures to ga
  website/docs/docs/cloud-integrations/configure-auto-exposures.md
  website/docs/docs/cloud-integrations/overview.md
  website/docs/docs/collaborate/auto-exposures.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#6054 Added docs for quota project
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
Labels: content, size: small, new contributor

#6696 Update ci-jobs.md
  website/docs/docs/deploy/ci-jobs.md
Labels: content, size: small

#6703 Update snowflake-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: x-small

#6704 Fix various typos
  website/docs/docs/build/packages.md
  website/docs/docs/cloud-integrations/about-snowflake-native-app.md
  website/docs/docs/cloud/git/setup-azure.md
  website/docs/docs/cloud/manage-access/external-oauth.md
  website/docs/docs/cloud/manage-access/invite-users.md
  website/docs/docs/cloud/manage-access/mfa.md
  website/docs/docs/collaborate/data-tile.md
  website/docs/docs/collaborate/explore-multiple-projects.md
  website/docs/docs/core/connect-data-platform/azuresynapse-setup.md
  website/docs/docs/core/connect-data-platform/ibmdb2-setup.md
  website/docs/docs/core/connect-data-platform/layer-setup.md
  website/docs/docs/core/connect-data-platform/postgres-setup.md
  website/docs/docs/core/connect-data-platform/spark-setup.md
  website/docs/docs/core/connect-data-platform/upsolver-setup.md
  website/docs/docs/dbt-cloud-apis/authentication.md
  website/docs/docs/dbt-versions/2022-release-notes.md
  website/docs/docs/dbt-versions/2023-release-notes.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
  website/docs/docs/dbt-versions/core-upgrade/10-upgrading-to-v1.5.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-16-0.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-0-17-0.md
  website/docs/docs/dbt-versions/release-notes/98-dbt-cloud-changelog-2021.md
  website/docs/docs/dbt-versions/release-notes/99-dbt-cloud-changelog-2019-2020.md
  website/docs/docs/deploy/merge-jobs.md
  website/docs/docs/deploy/webhooks.md
Labels: content, size: medium, new contributor

#6706 Added backticks to doc
  website/docs/docs/core/pip-install.md
Labels: content, size: x-small

#6674 add missing snapshot yaml examples
  website/docs/reference/resource-configs/alias.md
  website/docs/reference/resource-configs/contract.md
  website/docs/reference/resource-configs/database.md
  website/docs/reference/resource-configs/enabled.md
  website/docs/reference/resource-configs/group.md
  website/docs/reference/resource-configs/persist_docs.md
  website/docs/reference/resource-configs/schema.md
Labels: content, size: medium, Docs team

#6673 add global version callout component
  website/docs/docs/collaborate/govern/model-versions.md
  website/docs/reference/project-configs/version.md
  website/docs/reference/resource-configs/dbt_valid_to_current.md
  website/docs/reference/resource-properties/versions.md
  website/snippets/_model-version-callout.md
  website/src/components/versionCallout/index.js
  website/src/theme/MDXComponents/index.js
Labels: content, size: small, Docs team

#6710 Added global version callout
  website/docs/docs/build/unit-tests.md
  website/docs/reference/resource-configs/snapshot_meta_column_names.md
Labels: content, size: x-small

#6709 replace callout w component
  website/docs/docs/build/environment-variables.md
  website/docs/docs/build/unit-tests.md
  website/docs/reference/global-configs/version-compatibility.md
  website/docs/reference/resource-configs/batch_size.md
  website/docs/reference/resource-configs/begin.md
  website/docs/reference/resource-configs/delimiter.md
  website/docs/reference/resource-configs/event-time.md
  website/docs/reference/resource-configs/hard-deletes.md
  website/docs/reference/resource-configs/lookback.md
  website/docs/reference/resource-configs/snapshot_meta_column_names.md
  website/docs/reference/resource-properties/concurrent_batches.md
  website/docs/reference/resource-properties/unit-tests.md
  website/src/components/versionCallout/index.js
Labels: content, size: small, Docs team

#6682 Update databricks-configs.md for merge settings
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: x-small

#6702 remove description value from model notifications example
  website/docs/docs/deploy/model-notifications.md
Labels: size: small, Docs team

#6700 clarify full-refresh behavior
  website/docs/docs/build/incremental-microbatch.md
  website/docs/reference/resource-configs/full_refresh.md
Labels: content, size: small, Docs team

#6708 add explorer udpates
  website/docs/docs/collaborate/explore-projects.md
Labels: content, size: x-small, Docs team

#6701 clarify email mismatch in external oauth
  website/docs/docs/cloud/manage-access/external-oauth.md
Labels: content, size: medium, Docs team

#6633 [do not merge] dimensions/measures/entities support meta tag
  website/docs/docs/build/dimensions.md
  website/docs/docs/build/entities.md
  website/docs/docs/build/measures.md
  website/docs/docs/build/simple.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/reference/resource-configs/meta.md
  website/snippets/_sl-measures-parameters.md
Labels: content, size: large, Docs team

#6713 Improve the documentaiton for upgrading-to-v1.7.md
  website/docs/docs/dbt-versions/core-upgrade/08-upgrading-to-v1.7.md
Labels: content, size: x-small

#6714 Update meta.md
  website/docs/reference/resource-configs/meta.md
Labels: content, size: x-small, Docs team

#6632 saved queries support tags
  website/docs/docs/build/saved-queries.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
  website/docs/reference/resource-configs/tags.md
Labels: content, size: large, Docs team, trigger-crawl

#6691 consolidates git provider options
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
  website/docs/docs/cloud/git/git-configuration-in-dbt-cloud.md
  website/docs/docs/cloud/git/import-a-project-by-git-url.md
  website/docs/docs/cloud/git/managed-repository.md
  website/docs/docs/collaborate/git/managed-repository.md
  website/docs/docs/collaborate/git/pr-template.md
  website/docs/faqs/Git/gitignore.md
  website/docs/faqs/Troubleshooting/ide-session-unknown-error.md
  website/docs/guides/dbt-python-snowpark.md
  website/docs/guides/sl-snowflake-qs.md
  website/docs/guides/snowflake-qs.md
  website/sidebars.js
  website/snippets/available-git-providers.md
  website/vercel.json
Labels: content, size: medium, guides, Docs team, trigger-crawl

#6705 clarify ado behavior
  website/docs/docs/build/packages.md
Labels: content, size: small, Docs team

#6690 add clarifying info on how MF joins works
  website/docs/docs/build/join-logic.md
Labels: content, size: medium, Docs team
