Repository dbt-labs/docs.getdbt.com, pull requests merged in 2024-09, with the labels that each got.

#5996 Update 5-the-rest-of-the-project.md
  website/docs/best-practices/how-we-structure/5-the-rest-of-the-project.md
Labels: content, size: x-small, new contributor

#5997 remove sentence
  website/docs/best-practices/how-we-structure/5-the-rest-of-the-project.md
Labels: content, size: x-small

#5998 add file names for clarity
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: small, Docs team

#6000 Update metricflow-time-spine.md
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: small

#5999 adding x proj ref to overview page
  website/docs/docs/build/metricflow-time-spine.md
  website/docs/docs/collaborate/govern/about-model-governance.md
Labels: content, size: small, Docs team

#6001 update callout and clarify title to blog
  website/blog/2022-04-14-add-ci-cd-to-bitbucket.md
Labels: size: x-small, developer blog, Docs team

#6002 Updating multi cell migration page
  website/docs/docs/cloud/migration.md
Labels: content, size: medium, Docs team

#6004 Updating beta banner
  website/src/theme/DocRoot/Layout/Main/index.js
Labels: size: x-small, Docs team

#6009 Update EOL banners
  website/src/theme/DocRoot/Layout/Main/index.js
Labels: size: x-small, Docs team

#6010 Removing github login
  website/docs/docs/cloud/about-cloud/browsers.md
  website/docs/docs/cloud/git/connect-github.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: small, Docs team

#6015 Update set-up-snowflake-oauth.md
  website/docs/docs/cloud/manage-access/set-up-snowflake-oauth.md
Labels: content, size: x-small

#6006 Add a text in docs to prevent using -- for comment.
  website/docs/docs/build/jinja-macros.md
Labels: content, size: x-small

#6011 add model paths callout
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-7-semantic-structure.md
  website/docs/guides/sl-snowflake-qs.md
Labels: content, size: small, guides, Docs team

#5972 General examples of calling a macro in a hook
  website/docs/docs/build/hooks-operations.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
Labels: content, size: medium

#5994 add search heavy frontmatter
  website/blog/2022-04-14-add-ci-cd-to-bitbucket.md
  website/docs/guides/custom-cicd-pipelines.md
Labels: content, size: x-small, guides, Docs team

#6020 update ip doc and add clarification
  website/docs/docs/cloud/secure/ip-restrictions.md
Labels: content, size: small, Docs team

#6021 Removing versions
  website/dbt-versions.js
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
Labels: content, size: small

#6019 Update "Behavior changes"
  website/docs/docs/dbt-versions/core-upgrade/07-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/reference/global-configs/about-global-configs.md
  website/docs/reference/global-configs/behavior-changes.md
  website/docs/reference/global-configs/project-flags.md
  website/sidebars.js
  website/vercel.json
Labels: content, size: medium

#6022 Adding guidance for custom display
  website/dbt-versions.js
Labels: size: x-small, Docs team

#6018 needs PM review - update data health tile
  website/docs/docs/collaborate/data-tile.md
Labels: content, size: small, Docs team

#5984 aug sl release notes
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/guides/core-cloud-2.md
Labels: content, size: x-small, guides, Docs team

#6005 Update model-query-history.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/collaborate/model-query-history.md
  website/static/img/docs/collaborate/dbt-explorer/model-consumption-lenses.jpg
  website/static/img/docs/collaborate/dbt-explorer/model-consumption-list.jpg
  website/static/img/docs/collaborate/dbt-explorer/model-query-lenses.jpg
  website/static/img/docs/collaborate/dbt-explorer/model-query-list.jpg
  website/static/img/docs/collaborate/dbt-explorer/model-query-queried-models.jpg
  website/static/img/docs/collaborate/dbt-explorer/model-query-usage-queries.jpg
  website/static/img/docs/collaborate/dbt-explorer/most-consumed-models.jpg
  website/static/img/docs/collaborate/model-consumption-queries.jpg
Labels: content, size: small, trigger-crawl

#6023 Snapshot relase note
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#5982 add new deploy sl section
  website/docs/docs/cloud-integrations/avail-sl-integrations.md
  website/docs/docs/use-dbt-semantic-layer/consume-metrics.md
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/docs/docs/use-dbt-semantic-layer/deploy-sl.md
  website/docs/docs/use-dbt-semantic-layer/setup-sl.md
  website/docs/docs/use-dbt-semantic-layer/sl-architecture.md
  website/docs/guides/sl-snowflake-qs.md
  website/sidebars.js
  website/snippets/_sl-run-prod-job.md
Labels: content, size: medium, guides, Docs team, trigger-crawl

#6026 correct github repository
  website/docs/docs/core/connect-data-platform/postgres-setup.md
Labels: size: x-small, new contributor

#6025 Add links related to the `execute` context variable
  website/docs/reference/dbt-jinja-functions/execute.md
Labels: content, size: x-small

#6030 Replace angled single quotes with regular single quotes
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: small, new contributor

#6036 Fix release note
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#6034 add powerbi example
  website/docs/docs/collaborate/data-tile.md
  website/docs/docs/use-dbt-semantic-layer/deploy-sl.md
  website/static/img/docs/collaborate/dbt-explorer/data-tile-iframe.jpg
  website/static/img/docs/collaborate/dbt-explorer/data-tile-stale.jpg
  website/static/img/docs/collaborate/dbt-explorer/power-bi-final.png
  website/static/img/docs/collaborate/dbt-explorer/power-bi-measure-tools.png
  website/static/img/docs/collaborate/dbt-explorer/power-bi-measure.png
  website/static/img/docs/collaborate/dbt-explorer/power-bi.png
  website/static/img/docs/collaborate/dbt-explorer/tableau-example.png
Labels: content, size: medium, Docs team

#6038 Update model.md
  website/docs/reference/dbt-jinja-functions/model.md
Labels: content, size: x-small

#6039 Update data-tile.md
  website/docs/docs/collaborate/data-tile.md
Labels: content, size: x-small, Docs team

#6040 Update sl-python-sdk.md
  website/docs/docs/dbt-cloud-apis/sl-python-sdk.md
Labels: content, size: x-small, Docs team, auto update

#6041 updates to core/cloud guide
  website/docs/guides/core-cloud-2.md
  website/docs/guides/core-to-cloud-1.md
  website/snippets/_core-to-cloud-guide-table.md
Labels: content, size: small, guides, Docs team

#6028 add troubleshooting snippet and reference it on three pages
  website/docs/docs/cloud/secure/postgres-privatelink.md
  website/docs/docs/cloud/secure/redshift-privatelink.md
  website/docs/docs/cloud/secure/vcs-privatelink.md
  website/mgb-sfpl.json
  website/snippets/_privatelink-troubleshooting.md
Labels: content, size: medium

#5991 Link snowflake account
  website/docs/docs/cloud-integrations/about-snowflake-native-app.md
  website/static/img/docs/dbt-cloud/snowflake-link-account-prompt.png
  website/static/img/docs/dbt-cloud/snowflake-link-dbt-cloud.png
Labels: content, size: small, Docs team

#6045 Add CD figure
  website/docs/docs/deploy/continuous-deployment.md
  website/static/img/docs/dbt-cloud/using-dbt-cloud/cd-workflow.png
Labels: content, size: x-small, Docs team

#6044 Athena Preview
  website/docs/docs/cloud/connect-data-platform/connect-amazon-athena.md
  website/docs/docs/core/connect-data-platform/athena-setup.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: small, Docs team

#6043 Updated project splitting section
  website/docs/best-practices/how-we-structure/5-the-rest-of-the-project.md
Labels: content, size: x-small

#6046 Adding preview flag
  website/docs/docs/cloud/connect-data-platform/about-connections.md
Labels: content, size: x-small, Docs team

#6042 Update sl-jdbc.md
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
Labels: content, size: small, Docs team, trigger-crawl

#6056 update faq
  website/docs/faqs/Troubleshooting/access_token_error.md
  website/docs/faqs/Troubleshooting/auth-expired-error.md
  website/docs/guides/debug-errors.md
  website/vercel.json
Labels: content, size: small, Docs team

#6053 Update constraints.md
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: small, new contributor

#6058 update project permission for developer
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small, Docs team

#6033 Update Advanced CI overview and related pages
  website/docs/docs/deploy/about-ci.md
  website/docs/docs/deploy/advanced-ci.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/continuous-integration.md
  website/docs/docs/deploy/run-visibility.md
  website/sidebars.js
  website/snippets/_cloud-environments-info.md
Labels: content, size: medium, Docs team, auto update

#6062 Fix card
  website/docs/docs/deploy/about-ci.md
Labels: content, size: x-small, Docs team

#6061 DBT-VERTICA 1.8.5
  website/docs/docs/core/connect-data-platform/vertica-setup.md
Labels: content, size: x-small, new contributor

#6065 Update configure-auto-exposures.md
  website/docs/docs/cloud-integrations/configure-auto-exposures.md
  website/docs/docs/collaborate/auto-exposures.md
Labels: content, size: small, Docs team

#6070 fix(typo): correct wrong reference to --profiles-dir option in CLI
  website/docs/reference/global-configs/about-global-configs.md
Labels: content, size: x-small, new contributor

#6071 Update webhooks.md
  website/docs/docs/deploy/webhooks.md
Labels: content, size: small

#6069 Change snapshot strategy name to "check" in heading.
  website/docs/reference/resource-configs/strategy.md
Labels: content, size: x-small, new contributor

#6057 Fix version orders
  contributing/single-sourcing-content.md
  website/dbt-global-variables.js
  website/dbt-versions.js
  website/src/components/variable/index.js
  website/src/components/versionBlock/index.js
  website/src/theme/DocRoot/Layout/Main/index.js
  website/src/theme/MDXComponents/index.js
  website/src/utils/available-in-current-version.js
  website/src/utils/category-version-check.js
  website/src/utils/page-version-check.js
  website/src/utils/sort-versions.js
Labels: content, size: large

#6073 Changing deprecation date
  website/docs/docs/dbt-cloud-apis/user-tokens.md
Labels: content, size: x-small, Docs team

#6074 Update significant typo in version-control-basics.md
  website/docs/docs/collaborate/git/version-control-basics.md
Labels: content, size: x-small, new contributor

#6079 Refer to properties.yml instead of schema.yml.
  website/docs/docs/build/sources.md
Labels: content, size: x-small

#6080 Remove colon after parameter for consistency.
  website/docs/reference/resource-properties/identifier.md
Labels: content, size: x-small

#6078 Add year to community recipient badge
  website/docs/community/spotlight/alison-stanton.md
  website/docs/community/spotlight/bruno-de-lima.md
  website/docs/community/spotlight/dakota-kelley.md
  website/docs/community/spotlight/fabiyi-opeyemi.md
  website/docs/community/spotlight/josh-devlin.md
  website/docs/community/spotlight/karen-hsieh.md
  website/docs/community/spotlight/oliver-cramer.md
  website/docs/community/spotlight/sam-debruyn.md
  website/docs/community/spotlight/stacy-lo.md
  website/docs/community/spotlight/sydney-burns.md
  website/src/components/communitySpotlightCard/index.js
Labels: content, size: small

#6088 Add checks for sorting versions
  website/src/utils/available-in-current-version.js
  website/src/utils/sort-versions.js
Labels: size: small

#6090 Fix: Added selector syntax for export query example
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: x-small

#6077 Account settings
  website/docs/docs/cloud/account-settings.md
  website/docs/docs/dbt-versions/2023-release-notes.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/deploy/about-ci.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/guides/core-to-cloud-1.md
  website/docs/guides/core-to-cloud-3.md
  website/sidebars.js
  website/snippets/_cloud-environments-info.md
  website/static/img/docs/dbt-cloud/example-sidebar-account-settings.png
Labels: content, size: medium, Docs team, auto update

#6093 Update metrics-overview.md
  website/docs/docs/build/metrics-overview.md
Labels: content, size: x-small, Docs team

#6089 Remove unnecessary bracket
  website/docs/reference/dbt-jinja-functions/adapter.md
Labels: content, size: x-small, new contributor

#6085 Move misplaced space around an ` ENV_VAR`
  website/docs/reference/global-configs/usage-stats.md
Labels: content, size: x-small

#6096 Update dimensions.md
  website/docs/docs/build/dimensions.md
Labels: content, size: x-small, Docs team

#6095 Add `clone` and `docs generate` to list of commands `retry` supports.
  website/docs/reference/commands/retry.md
Labels: content, size: x-small

#6094 Update behavior-changes.md
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: small, Docs team

#6092 Add behavior change flag docs for adapter maintainers
  website/docs/guides/adapter-creation.md
Labels: content, size: medium, guides

#6091 Prevent build of rss feeds and throw warning message if not production
  website/plugins/buildRSSFeeds/index.js
Labels: size: x-small

#6084 Update saved-queries.md
  website/docs/docs/build/saved-queries.md
Labels: content, size: small, Docs team

#6014 New env variables
  website/docs/docs/build/environment-variables.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: small, Docs team

#6099 Make it clearer that the redirect url needs to be updated
  website/docs/docs/cloud/manage-access/set-up-snowflake-oauth.md
  website/static/img/docs/dbt-cloud/access-control/oauth-connections.jpg
Labels: content, size: small

#6104 Update set-up-snowflake-oauth.md
  website/docs/docs/cloud/manage-access/set-up-snowflake-oauth.md
  website/static/img/docs/dbt-cloud/access-control/oauth-connections.jpg
Labels: content, size: small, Docs team

#6087 Updated setup Azure doc following Slack post
  website/docs/docs/cloud/git/setup-azure.md
Labels: content, size: small

#6107 "Data tests" instead of "schema tests"
  website/docs/reference/resource-properties/quote.md
Labels: content, size: x-small

#6097 Update metricflow-time-spine.md
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: small, Docs team

#6109 Removing banners
  website/src/theme/DocRoot/Layout/Main/index.js
Labels: size: small

#6121 Adding API recreation suggestion
  website/docs/docs/cloud/connect-data-platform/about-connections.md
Labels: content, size: x-small, Docs team

#6116 Remove Stemma from the list
  website/docs/terms/data-catalog.md
  website/docs/terms/data-lineage.md
Labels: content, size: x-small

#6120 Grants caveats for Snowflake's database roles and Redshift's groups and roles
  website/docs/reference/resource-configs/grants.md
Labels: content, size: x-small

#6114 Fix description for code example for `--resource-type` flag
  website/docs/reference/global-configs/resource-type.md
Labels: content, size: x-small

#6113 docs: Update json
  website/docs/terms/json.md
Labels: content, size: x-small, new contributor

#6108 Update schema.md
  website/docs/reference/resource-configs/schema.md
Labels: content, size: x-small, Docs team

#6124 update dbt_cloud.yml example
  website/docs/docs/cloud/configure-cloud-cli.md
Labels: content, size: small

#6123 Updating Databricks QS
  website/docs/guides/databricks-qs.md
  website/static/img/databricks_tutorial/images/choose_plan.png
  website/static/img/databricks_tutorial/images/choose_provider.png
  website/static/img/databricks_tutorial/images/signup_form.png
  website/static/img/databricks_tutorial/images/start_quickstart.png
Labels: content, size: small, guides, Docs team

#6037 Updating access page
  website/docs/docs/cloud/manage-access/about-access.md
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/assign-group-permissions.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/dbt-cloud-group-config.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/edit-user.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/environment-access-control.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/group-attributes.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/license-dropdown.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/new-group.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/okta-app-dashboard.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/okta-group-config.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/post-login-screen.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/production-restricted.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/rbac-account-home.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/sample-email.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/sso-login-url.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/sso-login.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/sso-mapping.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/sso-window-details.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/staging-access.png
Labels: content, size: large, Docs team

#6134 Fixing point
  website/docs/docs/cloud/manage-access/about-access.md
Labels: content, size: x-small, Docs team

#6016 Update the multicell migration page with eng clarifications
  website/docs/docs/cloud/migration.md
Labels: content, size: x-small

#6115 This works starting v1.6: `--select resource_type:source`
  website/docs/reference/node-selection/methods.md
Labels: content, size: x-small

#6100 Update sso-overview.md to describe disabling password logins for admins
  website/docs/docs/cloud/manage-access/sso-overview.md
Labels: content, size: x-small

#6143 explorer overview ga
  website/docs/docs/collaborate/explore-projects.md
Labels: content, size: x-small, Docs team

#6106 add sl env var support
  website/docs/docs/build/environment-variables.md
  website/docs/docs/cloud/configure-cloud-cli.md
  website/docs/docs/dbt-versions/release-notes.md
  website/snippets/_new-sl-setup.md
  website/snippets/_sl-env-vars.md
Labels: content, size: small, Docs team

#6133 Remove old workarounds
  website/docs/reference/resource-configs/target_schema.md
Labels: size: small, Docs team

#6076 Linting option for CI jobs
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/continuous-integration.md
  website/static/img/docs/dbt-cloud/using-dbt-cloud/create-ci-job.png
Labels: content, size: small, Docs team, auto update

#6138 update model query history
  website/docs/docs/collaborate/model-query-history.md
  website/docs/docs/dbt-versions/release-notes.md
  website/static/img/docs/collaborate/dbt-explorer/enable-query-history-success.jpg
  website/static/img/docs/collaborate/dbt-explorer/enable-query-history.jpg
  website/static/img/docs/collaborate/dbt-explorer/model-consumption-lenses.jpg
  website/static/img/docs/collaborate/dbt-explorer/model-consumption-list.jpg
  website/static/img/docs/collaborate/dbt-explorer/model-consumption-queries.jpg
  website/static/img/docs/collaborate/dbt-explorer/most-consumed-models.jpg
Labels: content, size: small, Docs team, trigger-crawl

#6139 update data health tile to ga
  website/docs/docs/collaborate/data-tile.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: small, Docs team, trigger-crawl

#6135 IDE idle session timeout
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
Labels: content, size: x-small, Docs team

#6152 Removing erroneous audit feature
  website/docs/docs/cloud/manage-access/audit-log.md
Labels: content, size: x-small, Docs team

#6155 Update explore-projects.md
  website/docs/docs/collaborate/explore-projects.md
Labels: content, size: x-small, Docs team

#6154 Update metricflow-time-spine.md
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: small

#6029 Package dependencies may be included in either `packages.yml` or `dependencies.yml`
  website/snippets/_packages_or_dependencies.md
Labels: content, size: x-small

#6156 microsoft excel to ga
  website/docs/docs/cloud-integrations/semantic-layer/excel.md
  website/docs/docs/dbt-versions/release-notes.md
  website/snippets/_sl-partner-links.md
Labels: content, size: x-small, Docs team

#6153 Remove 'beta' wording from current api v2/v3 docs
  website/docs/docs/dbt-cloud-apis/admin-cloud-api.md
  website/sidebars.js
Labels: size: small

#6072 update sl ide support
  website/docs/docs/build/metricflow-commands.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
  website/docs/guides/sl-snowflake-qs.md
  website/snippets/_sl-test-and-query-metrics.md
Labels: content, size: medium, guides, Docs team, trigger-crawl

#6142 update auto exposures to preview
  website/docs/docs/cloud-integrations/configure-auto-exposures.md
  website/docs/docs/collaborate/auto-exposures.md
Labels: content, size: small, Docs team

#6160 fix syntax for `require-dbt-version`
  website/docs/reference/project-configs/require-dbt-version.md
Labels: content, size: x-small, new contributor

#6167 Update typo in example for excluding versions in unit tests
  website/docs/reference/resource-properties/unit-testing-versions.md
Labels: content, size: x-small

#6165 Update model-versions.md
  website/docs/docs/collaborate/govern/model-versions.md
Labels: size: x-small, new contributor

#6166 Update set.md
  website/docs/reference/dbt-jinja-functions/set.md
Labels: content, size: x-small

#6117 Added a caution callout for updated_at
  website/docs/reference/resource-configs/updated_at.md
Labels: content, size: x-small

#6169 Added version block
  website/docs/reference/resource-configs/updated_at.md
Labels: content, size: x-small

#6174 Hybrid mesh blog
  website/blog/2024-10-04-hybrid-mesh.md
  website/static/img/blog/2024-09-30-hybrid-mesh/hybrid-mesh.png
Labels: content, size: medium, developer blog, Docs team, trigger-crawl

#6180 Remove sl list as a command since it's the base group command
  website/docs/docs/build/metricflow-commands.md
Labels: content, size: small

#6177 External oauth
  website/docs/docs/cloud/manage-access/external-oauth.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#6181 Update metricflow-commands.md
  website/docs/docs/build/metricflow-commands.md
Labels: content, size: small, Docs team
