Repository dbt-labs/docs.getdbt.com, pull requests merged in 2024-10, with the labels that each got.

#6183 Update heading level
  website/docs/faqs/Troubleshooting/job-memory-limits.md
Labels: content, size: x-small, Docs team

#6171 Simplify recommendations for using packages.yml and dependencies.yml
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/snippets/_packages_or_dependencies.md
Labels: content, size: small, Docs team

#6182 Update metricflow-time-spine.md
  website/docs/docs/build/metricflow-time-spine.md
  website/docs/reference/model-properties.md
Labels: content, size: small, Docs team

#6186 Update about-cloud-develop-defer.md
  website/docs/docs/cloud/about-cloud-develop-defer.md
Labels: content, size: x-small

#6173 remove deprecation warning
  website/docs/docs/build/data-tests.md
  website/docs/reference/global-configs/warnings.md
Labels: content, size: x-small, Docs team

#6192 `dbt test` supports `--resource-type` / `--exclude-resource-type` CLI flags and related environment variables
  website/docs/reference/global-configs/resource-type.md
Labels: content, size: small

#6191 Singular data tests can now be documented
  website/docs/docs/build/documentation.md
  website/docs/reference/project-configs/docs-paths.md
  website/docs/reference/resource-properties/description.md
Labels: content, size: medium

#6195 Link to docs for generic data tests
  website/docs/reference/project-configs/test-paths.md
Labels: content, size: x-small

#6164 Remove legacy v2 Admin API docs
  website/docs/docs/dbt-cloud-apis/admin-cloud-api.md
  website/sidebars.js
  website/vercel.json
Labels: content, size: small

#6119 Updated breaking changes section
  website/docs/docs/collaborate/govern/model-contracts.md
Labels: content, size: x-small

#6189 Document new recommended syntax for `foreign_key` constraints
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: medium

#6141 add trust signals to explorer
  website/docs/docs/collaborate/explore-projects.md
  website/static/img/docs/collaborate/dbt-explorer/example-keyword-search.png
  website/static/img/docs/collaborate/dbt-explorer/trust-signal-caution.png
  website/static/img/docs/collaborate/dbt-explorer/trust-signal-health.jpg
  website/static/img/docs/collaborate/dbt-explorer/trust-signal-healthy.png
  website/static/img/docs/collaborate/dbt-explorer/trust-signal-unknown.png
  website/static/img/docs/collaborate/dbt-explorer/trust-signals-degraded.jpg
Labels: content, size: medium, Docs team

#6208 add time spine/granularity to model props, clarify time spine docs
  website/docs/docs/build/dimensions.md
  website/docs/docs/build/metricflow-time-spine.md
  website/docs/reference/model-properties.md
Labels: content, size: medium

#6203 Add missing space
  website/docs/guides/adapter-creation.md
Labels: content, size: x-small, guides, auto update

#6144 explorer previews release notes
  website/docs/docs/cloud-integrations/configure-auto-exposures.md
  website/docs/docs/collaborate/auto-exposures.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/dbt-versions/release-notes.md
  website/static/img/docs/collaborate/dbt-explorer/example-keyword-search.png
  website/static/img/docs/collaborate/dbt-explorer/trust-signal-caution.png
  website/static/img/docs/collaborate/dbt-explorer/trust-signal-health.jpg
  website/static/img/docs/collaborate/dbt-explorer/trust-signal-healthy.png
  website/static/img/docs/collaborate/dbt-explorer/trust-signal-unknown.png
  website/static/img/docs/collaborate/dbt-explorer/trust-signals-degraded.jpg
Labels: content, size: medium, Docs team, trigger-crawl

#6111 Roadmap - Shutdown Docs AE Glossary
  website/docs/docs/build/incremental-models.md
  website/docs/sql-reference/aggregate-functions/sql-sum.md
  website/docs/terms/cte.md
  website/docs/terms/dag.md
  website/docs/terms/data-catalog.md
  website/docs/terms/data-extraction.md
  website/docs/terms/data-lake.md
  website/docs/terms/data-lineage.md
  website/docs/terms/data-warehouse.md
  website/docs/terms/data-wrangling.md
  website/docs/terms/dataframe.md
  website/docs/terms/ddl.md
  website/docs/terms/deploying.md
  website/docs/terms/dimensional-modeling.md
  website/docs/terms/dml.md
  website/docs/terms/dry.md
  website/docs/terms/edw.md
  website/docs/terms/elt.md
  website/docs/terms/grain.md
  website/docs/terms/hover-terms.md
  website/docs/terms/idempotent.md
  website/docs/terms/json.md
  website/docs/terms/materialization.md
  website/docs/terms/model.md
  website/docs/terms/monotonically-increasing.md
  website/docs/terms/predicate-pushdown.md
  website/docs/terms/primary-key.md
  website/docs/terms/relational-database.md
  website/docs/terms/subquery.md
  website/docs/terms/surrogate-key.md
  website/docs/terms/table.md
  website/docs/terms/view.md
  website/docusaurus.config.js
  website/sidebars.js
  website/src/components/term/index.js
  website/src/components/term/styles.module.css
  website/vercel.json
Labels: content, size: large

#6206 Snapshot config can be set in schema / properties YAML file starting v1.9
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/reference/snapshot-configs.md
Labels: content, size: small

#6162 Beta documentation for Snowflake Iceberg tables
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: large, Docs team

#6210 Updated build guide
  website/docs/reference/commands/build.md
Labels: content, size: small

#6212 Adding feedback to iceberg table
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: small, Docs team

#6213 Hyperlinks for snapshot configs for property YAML files
  website/docs/reference/snapshot-configs.md
Labels: content, size: small

#6199 Changing old API links
  website/blog/2022-05-03-making-dbt-cloud-api-calls-using-dbt-cloud-cli.md
  website/docs/docs/cloud/connect-data-platform/about-connections.md
  website/docs/docs/dbt-cloud-apis/migrating-to-v2.md
  website/docs/docs/dbt-versions/2022-release-notes.md
  website/docs/docs/dbt-versions/2023-release-notes.md
Labels: content, size: small, developer blog, Docs team

#6215 Clarify users should run producer project in staging to resolve cross…
  website/docs/docs/collaborate/govern/project-dependencies.md
Labels: content, size: x-small, Docs team

#6151 Moving adapter behavior changes
  website/docs/reference/global-configs/adapter-behavior-changes.md
  website/docs/reference/global-configs/behavior-changes.md
  website/docs/reference/global-configs/redshift-changes.md
  website/sidebars.js
Labels: content, size: small, Docs team, trigger-crawl

#6214 Fixing syntax
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: x-small, Docs team

#6216 Update dbt-support.md
  website/docs/docs/dbt-support.md
Labels: content

#6217 Release note for 1.9 / versionless inferring primary key within manifest based on constraints
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#6207 Adding caveat to the false positives
  website/docs/reference/node-selection/state-comparison-caveats.md
Labels: content, size: small, Docs team

#6223 Update state-comparison-caveats.md
  website/docs/reference/node-selection/state-comparison-caveats.md
Labels: content, size: small, Docs team

#6220 Fix typo for `default_value` for the `contract` dictionary (which defaults to `false`)
  website/docs/reference/resource-configs/contract.md
Labels: content, size: x-small

#6221 Updating self-service page
  website/docs/docs/cloud/git/connect-github.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/cloud/manage-access/self-service-permissions.md
  website/docs/docs/dbt-cloud-apis/service-tokens.md
  website/docs/guides/sl-snowflake-qs.md
  website/package-lock.json
  website/sidebars.js
  website/snippets/_new-sl-setup.md
  website/snippets/_self-service-permissions-table.md
Labels: content, size: large, guides, Docs team

#6196 GA of Compare changes feature
  website/docs/docs/cloud/account-settings.md
  website/docs/docs/deploy/advanced-ci.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/run-visibility.md
Labels: content, size: small, Docs team, auto update

#6232 Remove the patch level from dbt Cloud version numbers
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: x-small

#6204 New behavior changes
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: small, Docs team

#6190 add new spec to references pages
  website/docs/reference/configs-and-properties.md
  website/docs/reference/project-configs/snapshot-paths.md
  website/docs/reference/resource-configs/check_cols.md
  website/docs/reference/resource-configs/invalidate_hard_deletes.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
  website/docs/reference/resource-configs/snapshot_name.md
  website/docs/reference/resource-configs/strategy.md
  website/docs/reference/resource-configs/unique_key.md
  website/docs/reference/resource-configs/updated_at.md
  website/docs/reference/snapshot-configs.md
  website/docs/reference/snapshot-properties.md
  website/snippets/_snapshot-yaml-spec.md
Labels: content, size: large, Docs team

#6188 add new spec to snapshot page
  website/docs/docs/build/snapshots.md
Labels: content, size: large, Docs team

#6187 add new snapshot spec - main
  website/docs/docs/build/snapshots.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/faqs/Snapshots/snapshot-target-is-not-a-snapshot-table.md
  website/docs/reference/configs-and-properties.md
  website/docs/reference/project-configs/snapshot-paths.md
  website/docs/reference/resource-configs/check_cols.md
  website/docs/reference/resource-configs/invalidate_hard_deletes.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
  website/docs/reference/resource-configs/snapshot_name.md
  website/docs/reference/resource-configs/strategy.md
  website/docs/reference/resource-configs/unique_key.md
  website/docs/reference/resource-configs/updated_at.md
  website/docs/reference/snapshot-configs.md
  website/docs/reference/snapshot-properties.md
  website/snippets/_snapshot-yaml-spec.md
Labels: content, size: large, Docs team, trigger-crawl

#6211 New `snapshot_meta_column_names` config for dbt snapshots
  website/dbt-versions.js
  website/docs/docs/build/snapshots.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/reference/resource-configs/snapshot_meta_column_names.md
  website/docs/reference/snapshot-configs.md
  website/sidebars.js
Labels: content, size: medium

#6219 Remove hyperlink within code example
  website/docs/docs/build/metrics-overview.md
Labels: content, size: x-small

#6184 [Core] 1.9 upgrade guide
  website/dbt-versions.js
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: medium, Docs team

#6234 Update link after adapter-specific behavior changes moved to new file adapter-specific behavior changes to their own folder
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: x-small

#6236 Remove duplicated release note content
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small

#6229 add sm to dbt assist copilot
  website/docs/docs/cloud/dbt-assist.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/use-dbt-assist.md
  website/docs/docs/dbt-versions/release-notes.md
  website/static/img/docs/dbt-cloud/cloud-ide/dbt-assist-doc.gif
  website/static/img/docs/dbt-cloud/cloud-ide/dbt-assist.gif
Labels: content, size: small, Docs team

#6145 add custom granularities to mf timespine
  website/docs/docs/build/metricflow-time-spine.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: medium, Docs team, trigger-crawl

#6194 "Microbatch" incremental strategy
  website/dbt-versions.js
  website/docs/docs/build/incremental-microbatch.md
  website/docs/docs/build/incremental-models-overview.md
  website/docs/docs/build/incremental-strategy.md
  website/docs/docs/dbt-versions/release-notes.md
  website/sidebars.js
  website/static/img/docs/building-a-dbt-project/microbatch/event_time.png
  website/static/img/docs/building-a-dbt-project/microbatch/microbatch_backfill.png
  website/static/img/docs/building-a-dbt-project/microbatch/microbatch_filters.png
  website/static/img/docs/building-a-dbt-project/microbatch/microbatch_lookback.png
Labels: content, size: large

#6150 Explorer workshop guide
  website/docs/guides/explorer-qs.md
  website/static/img/quickstarts/dbt-cloud/dbt_explorer_advanced_search.png
  website/static/img/quickstarts/dbt-cloud/dbt_explorer_dag.png
  website/static/img/quickstarts/dbt-cloud/dbt_explorer_project_recs.png
  website/static/img/quickstarts/dbt-cloud/explorer_models_tab.png
  website/static/img/quickstarts/dbt-cloud/explorer_performance_tab.png
  website/static/img/quickstarts/dbt-cloud/go_to_jobs.png
  website/static/img/quickstarts/dbt-cloud/run_job.png
Labels: content, size: medium, guides, auto update, trigger-crawl

#6227 add release note to singular test enhancment
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team, auto update

#6230 Adding version blocks to iceberg
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: x-small, Docs team

#5995 Updated constraints doc following slack
  website/docs/best-practices/how-we-structure/5-the-rest-of-the-project.md
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: medium

#6241 Update constraints.md
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small

#6239 `state_modified_compare_more_unrendered_values` behavior change flag
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/reference/global-configs/behavior-changes.md
  website/docs/reference/node-selection/state-comparison-caveats.md
Labels: content, size: small

#6242 snapshot fast follows
  website/docs/docs/build/snapshots.md
  website/snippets/_snapshot-yaml-spec.md
Labels: content, size: small, Docs team

#6237 Adding Teradata configs page
  website/docs/docs/cloud/connect-data-platform/connect-teradata.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/teradata-connection.png
  website/static/img/docs/dbt-cloud/teradata-deployment.png
Labels: content, size: small, Docs team

#6243 Adding link to microbatch from the 1.9 upgrade guide
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
Labels: content, size: x-small, Docs team

#6246 Dbt cloud teradata quickstart
  website/docs/guides/teradata-qs.md
  website/static/img/teradata/dbt_cloud_teradata_account_settings.png
  website/static/img/teradata/dbt_cloud_teradata_development_credentials.png
  website/static/img/teradata/dbt_cloud_teradata_setup_connection_start.png
Labels: content, size: large, guides

#6248 Editing teradata guide
  website/docs/guides/teradata-qs.md
Labels: content, size: large, guides, Docs team

#6249 Fix bad ref in microbatch docs
  website/docs/docs/build/incremental-microbatch.md
Labels: content, size: x-small

#6233 update explorer overview to preview
  website/docs/docs/collaborate/explore-projects.md
Labels: content, size: x-small, Docs team

#6253 SL updates for coalesce
  website/docs/docs/build/metricflow-time-spine.md
  website/docs/docs/dbt-cloud-apis/sl-api-overview.md
  website/docs/docs/dbt-cloud-apis/sl-python-sdk.md
Labels: content, size: x-small, Docs team

#6254 add note about defer toggle not avail for sl commands
  website/docs/docs/build/metricflow-commands.md
  website/docs/docs/cloud/about-cloud-develop-defer.md
  website/static/img/docs/dbt-cloud/defer-toggle.jpg
Labels: content, size: x-small, Docs team

#6255 clarify toggle needs to be enabled
  website/docs/docs/build/metricflow-commands.md
  website/docs/docs/cloud/about-cloud-develop-defer.md
Labels: content, size: x-small, Docs team

#6235 initial draft of cloud_cli guide
  website/docs/guides/qs-cloud-cli.md
  website/static/img/cloud-cli-guide/finder-vscode-check.png
  website/static/img/cloud-cli-guide/setup-poweruser-01.png
  website/static/img/cloud-cli-guide/setup-poweruser-02.png
  website/static/img/cloud-cli-guide/setup-poweruser-03.png
  website/static/img/cloud-cli-guide/terminal-git-check.png
  website/static/img/cloud-cli-guide/using-poweruser-01.png
  website/static/img/cloud-cli-guide/using-poweruser-02.png
  website/static/img/cloud-cli-guide/using-poweruser-03.png
  website/static/img/cloud-cli-guide/using-poweruser-04.png
Labels: content, size: large, guides, auto update

#6209 add additional ratio metric example
  website/docs/docs/build/ratio-metrics.md
Labels: content, size: small, Docs team

#6256 Iceberg blog
  website/blog/2024-10-04-iceberg-is-an-implementation-detail.md
  website/blog/authors.yml
  website/static/img/blog/2024-10-04-iceberg-blog/2024-10-03-iceberg-support.png
  website/static/img/blog/2024-10-04-iceberg-blog/iceberg_materialization.png
Labels: content, size: medium, developer blog, Docs team

#6257 Adding teradata to landing pages
  website/docs/docs/cloud/connect-data-platform/about-connections.md
  website/snippets/_adapters-trusted.md
Labels: content, size: x-small, Docs team

#6252 clarify mf timespine confusion
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: medium, Docs team

#6260 Clarification for incremental-microbatch.md
  website/docs/docs/build/incremental-microbatch.md
Labels: content, size: x-small

#6259 add SL excel course link
  website/docs/docs/cloud-integrations/semantic-layer/excel.md
  website/snippets/_sl-course.md
Labels: content, size: x-small, Docs team

#6258 align platform support
  website/docs/docs/core/connect-data-platform/athena-setup.md
  website/docs/docs/core/connect-data-platform/azuresynapse-setup.md
  website/snippets/_adapters-trusted.md
Labels: content, size: x-small, Docs team

#6200 [DO NOT MERGE] New blog about features
  website/blog/2024-10-05-snowflake-feature-store.md
  website/blog/authors.yml
  website/static/img/blog/authors/luis-leon.png
  website/static/img/blog/authors/randy-pettus.png
  website/static/img/blog/example-features-produced.png
  website/static/img/blog/example-snowflake-ui.png
  website/static/img/blog/example-training-data-set.png
Labels: content, size: large, developer blog, Docs team, auto update

#6262 fix spelling
  website/docs/best-practices/how-we-mesh/mesh-4-implementation.md
Labels: content, size: x-small

#6266 Update avail-sl-integrations.md
  website/docs/docs/cloud-integrations/avail-sl-integrations.md
Labels: content, size: x-small, Docs team

#6265 Update incremental-microbatch.md
  website/docs/docs/build/incremental-microbatch.md
Labels: content, size: small

#5941 Implement ForeThought Solve Widget
  website/docusaurus.config.js
Labels: size: small

#6270 add enterprise pill to auto exposures
  website/docs/docs/cloud-integrations/configure-auto-exposures.md
  website/docs/docs/collaborate/auto-exposures.md
  website/snippets/_auto-exposures-view.md
Labels: content, size: x-small, Docs team

#6267 semantic manifest artifact
  website/docs/docs/dbt-cloud-apis/sl-api-overview.md
  website/docs/reference/artifacts/dbt-artifacts.md
  website/docs/reference/artifacts/other-artifacts.md
  website/docs/reference/artifacts/sl-manifest.md
  website/sidebars.js
  website/snippets/_sl-run-prod-job.md
  website/vercel.json
Labels: content, size: small, Docs team

#6272 add python sdk rn
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#6276 Referenced node in defer
  website/docs/reference/node-selection/defer.md
Labels: content, size: x-small

#6271 fix: Correct agg index configuration for Firebolt
  website/docs/reference/resource-configs/firebolt-configs.md
Labels: content

#6269 Update incremental-microbatch.md
  website/docs/docs/build/incremental-microbatch.md
Labels: content, size: small, new contributor

#6280 Update model-contracts.md
  website/docs/docs/collaborate/govern/model-contracts.md
Labels: content, size: x-small, Docs team

#6282 Coalesce 2024 announcements
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: small, Docs team

#6277 Relocate "test" heading for defer docs
  website/docs/reference/node-selection/defer.md
Labels: content, size: x-small

#6285 Update external links to SL instructions
  website/snippets/_sl-partner-links.md
Labels: content, size: small, new contributor

#5623 add vale linting to docs as ci check
  .github/workflows/vale.yml
  .hyperlint/config.yaml
  .vale.ini
  styles/Vocab/EN/accept.txt
  styles/Vocab/EN/reject.txt
  styles/custom/LatinAbbreviations.yml
  styles/custom/Metrics.yml
  styles/custom/Repitition.yml
  styles/custom/SentenceCaseHeaders.yml
  styles/custom/Typos.yml
  styles/custom/UIElements.yml
Labels: size: large, Docs team

#6128 add ci check that auto comments preview link
  .github/workflows/preview-link.yml
Labels: size: medium, Docs team

#6287 Fix typo in deprecation warning supression docs
  website/docs/reference/resource-properties/deprecation_date.md
Labels: content, size: x-small, new contributor

#6284 [do not merge yet] update docs banner to biweekly demos
  website/blog/ctas.yml
  website/blog/metadata.yml
  website/docusaurus.config.js
Labels: size: small, developer blog, Docs team

#6292 initial BYOK docs
  website/docs/docs/cloud/dbt-copilot.md
  website/docs/docs/cloud/enable-dbt-copilot.md
Labels: size: small

#6290 add truncate to blogs
  website/blog/2024-10-04-iceberg-is-an-implementation-detail.md
  website/blog/2024-10-05-snowflake-feature-store.md
Labels: size: x-small, developer blog, Docs team

#6291 Update bigquery-configs.md
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: x-small, new contributor

#6298 Fix documentation about of `batch_size` supported values and default
  website/docs/docs/build/incremental-microbatch.md
Labels: content, size: x-small, new contributor

#6297 Update bigquery-configs.md
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: small

#6295 Fixing link for data tests
  website/docs/docs/build/data-tests.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
Labels: content, size: small, Docs team

#6278 remove styles page
  contributing/adding-page-components.md
  website/src/pages/styles.js
  website/vercel.json
Labels: size: medium, Docs team, trigger-crawl

#6273 manually add widget title
  website/docusaurus.config.js
Labels: size: x-small, Docs team

#6300 Update behavior-changes.md
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: x-small, Docs team

#6303 Update incremental-microbatch.md
  website/docs/docs/build/incremental-microbatch.md
Labels: content, size: x-small

#6299 Fix linter default
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/continuous-integration.md
Labels: content, size: x-small, Docs team

#6231 Update snowflake-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: large, new contributor

#6286 Update model SQLs for Teradata
  website/docs/guides/teradata-qs.md
Labels: content, size: medium, guides

#6296 Update databricks-configs.md adding compression algorithm.
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: x-small

#6311 Update advanced-ci.md
  website/docs/docs/deploy/advanced-ci.md
Labels: content, size: x-small

#6218 Model-level notifications
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/deploy/model-notifications.md
  website/docs/docs/deploy/monitor-jobs.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/example-enable-model-notifications.png
Labels: content, size: medium, Docs team, auto update

#6317 Updated docs to add section on fail-over to production and staging ennvironment / resolve refs in dowstream projects
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/guides/mesh-qs.md
Labels: content, size: x-small, guides

#6305 An example of separating semantic model (pure yaml) from dbt model (yaml, sql, python)
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-3-build-semantic-models.md
Labels: content, size: medium

#6310 Updating licenses, access, and RBAC
  website/docs/best-practices/how-we-mesh/mesh-5-faqs.md
  website/docs/docs/cloud/about-cloud/architecture.md
  website/docs/docs/cloud/manage-access/about-access.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
  website/docs/docs/cloud/manage-access/environment-permissions.md
  website/docs/docs/cloud/manage-access/licenses-and-groups.md
  website/docs/docs/cloud/manage-access/set-up-sso-google-workspace.md
  website/docs/docs/cloud/manage-access/set-up-sso-okta.md
  website/docs/docs/dbt-cloud-apis/service-tokens.md
  website/docs/docs/deploy/webhooks.md
Labels: content, size: large, Docs team

#6316 Update cumulative-metrics.md
  website/docs/docs/build/cumulative-metrics.md
Labels: content, size: medium, Docs team

#6314 remove defer callout
  website/docs/docs/build/metricflow-commands.md
  website/docs/docs/cloud/about-cloud-develop-defer.md
Labels: content, size: x-small, Docs team

#6178 Experiment-driven Update: Quicklinks in header
  website/src/components/hero/index.js
  website/src/components/hero/styles.module.css
  website/src/components/quickstartGuideList/index.js
Labels: size: medium

#6325 update gitignore faq
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
  website/docs/faqs/Git/gitignore.md
  website/static/img/docs/dbt-cloud/cloud-ide/ide-options-menu-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/restart-ide.jpg
Labels: content, size: small, Docs team

#6328 Update job-notifications.md
  website/docs/docs/deploy/job-notifications.md
Labels: content, size: small, Docs team

#6324 Git signed commits
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-cloud-ide/git-commit-signing.md
  website/docs/docs/dbt-versions/release-notes.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/example-git-signed-commits-setting.png
  website/static/img/docs/dbt-cloud/git-sign-verified.jpg
Labels: content, size: medium, Docs team, auto update

#6323 Add release note to checklist
  .github/pull_request_template.md
Labels: size: x-small, Docs team

#6327 add sigma instructions to data health tile
  website/docs/docs/collaborate/data-tile.md
  website/static/img/docs/collaborate/dbt-explorer/sigma-example.jpg
Labels: content, size: small, Docs team

#6335 add data type and time zone considerations
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: small, Docs team

#6340 update agg_time_dimension example
  website/docs/docs/build/measures.md
Labels: content, size: x-small, Docs team

#6341 Update metricflow-commands.md
  website/docs/docs/build/metricflow-commands.md
Labels: content, size: small, Docs team

#6342 Update snowflake-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: x-small

#6347 Update service-tokens.md
  website/docs/docs/dbt-cloud-apis/service-tokens.md
Labels: content, size: x-small, Docs team

#6348 Removes erroneous permission field
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small, Docs team

#6349 Update invite-users.md
  website/docs/docs/cloud/manage-access/invite-users.md
Labels: content, size: small

#6352 Update configure-auto-exposures.md
  website/docs/docs/cloud-integrations/configure-auto-exposures.md
Labels: content, size: x-small, Docs team

#6307 Update data test descriptions
  website/docs/reference/resource-properties/description.md
Labels: content, size: small, Docs team

#6301 update ui elements
  styles/custom/UIElements.yml
Labels: size: small, Docs team

#6359 Updating screenshot
  website/static/img/docs/cloud-integrations/example-snowflake-native-app-service-token.png
Labels: content, size: x-small

#6358 Deprecating user API key from docs
  website/docs/docs/dbt-cloud-apis/apis-overview.md
  website/docs/docs/dbt-cloud-apis/authentication.md
  website/docs/docs/dbt-cloud-apis/service-tokens.md
  website/docs/docs/dbt-cloud-apis/user-tokens.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/faqs/API/rotate-token.md
  website/docs/faqs/Accounts/find-user-id.md
  website/docs/guides/how-to-use-databricks-workflows-to-run-dbt-cloud-jobs.md
  website/docs/guides/serverless-datadog.md
  website/docs/guides/serverless-pagerduty.md
  website/docs/guides/zapier-ms-teams.md
  website/docs/guides/zapier-refresh-mode-report.md
  website/docs/guides/zapier-slack.md
Labels: content, size: medium, guides, Docs team

#6361 Update configure-auto-exposures.md
  website/docs/docs/cloud-integrations/configure-auto-exposures.md
Labels: content, size: x-small, Docs team

#6356 udpate cloud ide ui imgs
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
  website/static/img/docs/dbt-cloud/cloud-ide/editor-tab-menu-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-basic-layout.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-command-bar.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-console-overview.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-editing.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-editor-command-palette-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-file-search-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-git-diff-view-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-global-command-palette-with-save.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-minimap.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/ide-side-menu.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/lineage-console-tab.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/revert-uncommitted-changes-with-save.jpg
Labels: content, size: small, Docs team

#6362 add teradata
  website/docs/docs/get-started-dbt.md
Labels: content, size: x-small, Docs team

#6357 Disclaimer on state modified behavior change
  website/docs/reference/global-configs/behavior-changes.md
  website/docs/reference/node-selection/state-comparison-caveats.md
  website/snippets/_state-modified-compare.md
Labels: content, size: small, Docs team

#6350 Adding 1.9 dbt-databricks documentation for new python model config
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: medium

#6366 Adjust package documentation
  website/docs/docs/build/packages.md
Labels: content, size: x-small, new contributor

#6367 Update v1.7 EOL for dbt Cloud Enterprise customers
  website/snippets/core-versions-table.md
Labels: content, size: small

#6363 Update instructions on documenting a singular test
  website/docs/docs/build/data-tests.md
Labels: content, size: x-small

#6369 fix anchor link
  website/docs/docs/cloud/manage-access/audit-log.md
Labels: content, size: x-small, Docs team

#6279 add sl and env img
  website/docs/docs/dbt-cloud-environments.md
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/docs/docs/use-dbt-semantic-layer/sl-faqs.md
  website/static/img/dbt-env.png
  website/static/img/docs/dbt-cloud/semantic-layer/sl-concept.png
Labels: content, size: small, Docs team

#6339 Update advanced-ci.md
  website/docs/docs/deploy/advanced-ci.md
Labels: content, size: x-small

#6336 Nfiann-bigquery-cloud-config
  website/docs/docs/cloud/connect-data-platform/connnect-bigquery.md
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
  website/snippets/_bigquery-dataproc.md
  website/static/img/bigquery/bigquery-optional-config.png
Labels: content, size: medium

#6373 Removing Python 3.8 support
  website/docs/docs/core/connect-data-platform/glue-setup.md
  website/docs/docs/core/connect-data-platform/teradata-setup.md
  website/docs/faqs/Core/install-pip-os-prereqs.md
  website/docs/faqs/Core/install-python-compatibility.md
  website/snippets/_python-compatibility-matrix.md
Labels: content, size: small, Docs team

#6378 update advanced ci
  website/docs/docs/cloud/account-settings.md
  website/docs/docs/deploy/advanced-ci.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/continuous-integration.md
  website/static/img/docs/dbt-cloud/using-dbt-cloud/create-ci-job.png
Labels: content, size: small, Docs team

#6375 Remove v1.6 from docs
  contributing/single-sourcing-content.md
  website/dbt-versions.js
  website/docs/docs/build/environment-variables.md
  website/docs/docs/build/metricflow-time-spine.md
  website/docs/docs/build/packages.md
  website/docs/docs/build/saved-queries.md
  website/docs/docs/build/semantic-models.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/docs/core/connect-data-platform/about-core-connections.md
  website/docs/docs/core/connect-data-platform/spark-setup.md
  website/docs/reference/artifacts/run-results-json.md
  website/docs/reference/commands/cmd-docs.md
  website/docs/reference/commands/deps.md
  website/docs/reference/commands/init.md
  website/docs/reference/dbt_project.yml.md
  website/docs/reference/global-configs/resource-type.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/resource-configs/access.md
  website/docs/reference/resource-configs/bigquery-configs.md
  website/docs/reference/resource-configs/contract.md
  website/docs/reference/resource-configs/databricks-configs.md
  website/docs/reference/resource-configs/enabled.md
  website/docs/reference/resource-configs/group.md
  website/docs/reference/resource-configs/meta.md
  website/docs/reference/resource-configs/postgres-configs.md
  website/docs/reference/resource-configs/redshift-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
  website/docs/reference/resource-properties/config.md
  website/docs/reference/resource-properties/freshness.md
  website/src/theme/DocRoot/Layout/Main/index.js
Labels: content, size: large, Docs team

#6351 add microbatch updates
  website/docs/docs/build/incremental-microbatch.md
Labels: content, size: x-small, Docs team

#6379 Update databricks-configs.md for remaining 1.9 changes
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: medium

#6381 Fix markdown format in deprecation_date.md
  website/docs/reference/resource-properties/deprecation_date.md
Labels: content, size: x-small, new contributor

#6377 oct MF release notes and jdbc
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: medium, Docs team

#6380 Info about MFA
  website/docs/docs/cloud/manage-access/mfa.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: size: small, Docs team

#6388 Update transfer-account.md
  website/docs/faqs/Accounts/transfer-account.md
Labels: content, size: x-small

#6368 Patch 10
  website/docs/reference/global-configs/adapter-behavior-changes.md
  website/docs/reference/global-configs/databricks-changes.md
  website/sidebars.js
Labels: content, size: small

#6390 Updated model timing image
  website/static/img/best-practices/materializations/model-timing-diagram.png
Labels: content, size: x-small
