Repository dbt-labs/docs.getdbt.com, pull requests merged in 2024-02, with the labels that each got.

#4781 Update index.js
  website/src/components/lightbox/index.js
Labels: size: x-small, Docs team

#4845 Remove duplicate `log_format` in profiles.yml.md
  website/docs/docs/core/connect-data-platform/profiles.yml.md
Labels: content, size: x-small, new contributor

#4846 Update docs banner
  website/docusaurus.config.js
Labels: size: x-small

#4830 remove hover function
  website/src/components/detailsToggle/index.js
  website/src/components/faqs/index.js
  website/src/components/lightbox/index.js
Labels: size: medium, Docs team

#4850 Clarify the relationship between --quiet and --log-level
  website/docs/reference/global-configs/logs.md
Labels: content, size: small, Docs team

#4849 Update state-comparison-caveats.md
  website/docs/reference/node-selection/state-comparison-caveats.md
Labels: content, size: small, Docs team

#4831 User develops override
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/override-dbt-version.md
  website/docs/docs/dbt-versions/upgrade-core-in-cloud.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/example-override-version.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/example-verify-overridden-version.png
Labels: content, size: small, Docs team, auto update

#4815 Rework custom schema docs
  website/docs/docs/build/custom-schemas.md
Labels: content, size: medium, auto update

#4836 Update sl-partner-integration-guide.md
  website/docs/docs/build/saved-queries.md
  website/docs/guides/sl-partner-integration-guide.md
Labels: content, size: small, guides, auto update

#4855 `unique_key` applies to the input rather than the output
  website/docs/reference/resource-configs/unique_key.md
Labels: content, priority: high, size: x-small, auto update

#4857 Testing for uniqueness prior to snapshots
  website/docs/reference/resource-configs/unique_key.md
Labels: content, size: x-small, auto update

#4856 Update Slack integration prereqs
  website/docs/docs/deploy/job-notifications.md
Labels: content, size: x-small, Docs team, auto update

#4853 Adding "Access" to Regions and IPs page
  contributing/content-style-guide.md
  website/blog/2023-12-20-partner-integration-guide.md
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
  website/docs/docs/cloud/billing.md
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/connect-data-platform/about-connections.md
  website/docs/docs/cloud/connect-data-platform/connect-redshift-postgresql-alloydb.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/git/connect-gitlab.md
  website/docs/docs/cloud/git/setup-azure.md
  website/docs/docs/cloud/manage-access/invite-users.md
  website/docs/docs/cloud/manage-access/set-up-bigquery-oauth.md
  website/docs/docs/cloud/manage-access/set-up-databricks-oauth.md
  website/docs/docs/cloud/manage-access/set-up-snowflake-oauth.md
  website/docs/docs/cloud/manage-access/set-up-sso-google-workspace.md
  website/docs/docs/cloud/manage-access/set-up-sso-okta.md
  website/docs/docs/dbt-cloud-apis/discovery-querying.md
  website/docs/docs/dbt-cloud-apis/migrating-to-v2.md
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
  website/docs/docs/dbt-versions/release-notes/76-Oct-2023/api-v2v3-limit.md
  website/docs/docs/dbt-versions/release-notes/76-Oct-2023/sl-ga.md
  website/docs/docs/dbt-versions/release-notes/78-Aug-2023/sl-revamp-beta.md
  website/docs/docs/dbt-versions/release-notes/80-June-2023/admin-api-rn.md
  website/docs/docs/dbt-versions/release-notes/82-April-2023/api-endpoint-restriction.md
  website/docs/docs/dbt-versions/release-notes/83-Mar-2023/apiv2-limit.md
  website/docs/docs/dbt-versions/release-notes/84-Feb-2023/feb-ide-updates.md
  website/docs/docs/dbt-versions/release-notes/89-Sept-2022/liststeps-endpoint-deprecation.md
  website/docs/docs/deploy/dashboard-status-tiles.md
  website/docs/docs/deploy/run-visibility.md
  website/docs/docs/deploy/webhooks.md
  website/docs/docs/running-a-dbt-project/using-the-dbt-ide.md
  website/docs/faqs/API/rotate-token.md
  website/docs/faqs/Accounts/transfer-account.md
  website/docs/guides/how-to-use-databricks-workflows-to-run-dbt-cloud-jobs.md
  website/docs/guides/starburst-galaxy-qs.md
  website/sidebars.js
  website/snippets/_sl-plan-info.md
  website/snippets/login_url_note.md
  website/static/img/docs/dbt-cloud/find-account.png
  website/vercel.json
Labels: content, size: medium, Docs team, auto update

#4747 Add documentation about the dbt-risingwave adapter
  website/docs/docs/community-adapters.md
  website/docs/docs/core/connect-data-platform/risingwave-setup.md
  website/sidebars.js
Labels: size: medium, new contributor

#4854 Update change-way-model-materialized.md
  website/snippets/quickstarts/change-way-model-materialized.md
Labels: content, size: x-small, new contributor

#4861 The "plus" graph operator also selects the model itself
  website/docs/reference/node-selection/graph-operators.md
Labels: content, size: x-small, auto update

#4862 Update data-catalog.md
  website/docs/terms/data-catalog.md
Labels: content, size: x-small, new contributor

#4868 exports fast follows
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: small

#4805 Account-scoped personal access tokens
  website/docs/docs/dbt-cloud-apis/authentication.md
  website/docs/docs/dbt-cloud-apis/user-tokens.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#4873 exports fast follows
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/saved-queries.md
  website/docs/docs/dbt-versions/product-lifecycles.md
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/exports-rn.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: small, Docs team

#4875 Removing company language to abide by request from legal
  website/blog/2023-01-24-aggregating-test-failures.md
Labels: size: small, developer blog, new contributor

#4878 pr to update ado screenshots and clarify steps
  website/docs/docs/cloud/manage-access/set-up-sso-azure-active-directory.md
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
  website/static/img/docs/dbt-cloud/access-control/basic-saml.jpg
  website/static/img/docs/dbt-cloud/access-control/saml.jpg
  website/static/img/docs/dbt-cloud/access-control/single-sign-on-overview.jpg
Labels: content, size: medium, Docs team, auto update

#4771 Update ci-jobs.md
  website/docs/docs/deploy/ci-jobs.md
Labels: content, size: medium, auto update

#4727 dbt Core v1.8 docs beta init
  website/dbt-versions.js
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/core-upgrade/02-upgrading-to-v1.7.md
  website/docs/docs/dbt-versions/core-upgrade/03-upgrading-to-v1.6.md
  website/docs/docs/dbt-versions/core-upgrade/04-upgrading-to-dbt-utils-v1.0.md
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.5.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.4.md
  website/docs/docs/dbt-versions/core-upgrade/07-upgrading-to-v1.3.md
  website/docs/docs/dbt-versions/core-upgrade/08-upgrading-to-v1.2.md
  website/docs/docs/dbt-versions/core-upgrade/09-upgrading-to-v1.1.md
  website/docs/docs/dbt-versions/core-upgrade/10-upgrading-to-v1.0.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-v0.20.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/upgrading-to-v0.21.md
Labels: size: small, Docs team

#4881 Update deploy-environments.md to add explicit mention of EAT in deployment connections
  website/docs/docs/deploy/deploy-environments.md
Labels: content, size: small

#4883 Add `schema` & `alias` to export table
  website/docs/docs/build/saved-queries.md
Labels: content, size: x-small

#4884 Update source.md
  website/docs/reference/commands/source.md
Labels: content, size: x-small

#4879 Fixing email example
  website/docs/docs/dbt-cloud-apis/user-tokens.md
Labels: content, size: small, Docs team

#4877 Update metricflow-commands.md
  website/docs/docs/build/metricflow-commands.md
Labels: content, size: small, Docs team

#4885 Update resource-path.md
  website/docs/reference/resource-configs/resource-path.md
Labels: content, size: x-small

#4804 adding more usecases to lifecycle component
  website/docs/docs/introduction.md
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/src/components/lifeCycle/index.js
  website/src/components/lifeCycle/styles.module.css
  website/src/css/custom.css
  website/src/theme/DocItem/Layout/index.js
Labels: size: medium, Docs team, auto update

#4892 Update data-tests.md. Correct misspelling.
  website/docs/docs/build/data-tests.md
Labels: content, size: x-small

#4894 Correct state requirement / caveat for clarity
  website/docs/docs/dbt-cloud-apis/project-state.md
Labels: content, size: x-small

#4891 Update data-tests.md. Solving double negative.
  website/docs/docs/build/data-tests.md
Labels: content, size: x-small, new contributor

#4866 Update fabric-setup.md
  website/docs/docs/core/connect-data-platform/fabric-setup.md
Labels: content, size: x-small

#4896 Update metricflow-commands.md
  website/docs/docs/build/metricflow-commands.md
  website/docs/docs/build/saved-queries.md
Labels: content, size: x-small, Docs team

#4893 Update _sl-measures-parameters.md
  website/snippets/_sl-measures-parameters.md
Labels: content, size: x-small

#4900 clarify where to find gsheets auth fields
  website/docs/docs/use-dbt-semantic-layer/gsheets.md
  website/docs/docs/use-dbt-semantic-layer/tableau.md
  website/static/img/docs/dbt-cloud/semantic-layer/sl-and-gsheets.jpg
Labels: content, size: small, Docs team

#4903 Beta explorer cll
  .github/ISSUE_TEMPLATE/internal-orch-team.yml
  .github/workflows/repo-sync.yml
  website/docs/docs/collaborate/column-level-lineage.md
  website/docs/docs/collaborate/model-performance.md
  website/docs/docs/collaborate/project-recommendations.md
  website/sidebars.js
  website/static/img/docs/collaborate/dbt-explorer/example-cll.png
  website/static/img/docs/collaborate/dbt-explorer/example-parsing-error-pill.png
Labels: content, size: medium, Docs team, auto update

#4902 Explorer dev blog
  website/blog/2023-12-15-serverless-free-tier-data-stack-with-dlt-and-dbt-core.md
  website/blog/2024-02-13-dbt-explorer.md
  website/static/img/blog/2024-02-13-dbt-explorer/column-level-lineage.png
  website/static/img/blog/2024-02-13-dbt-explorer/embedded-metadata-model.png
  website/static/img/blog/2024-02-13-dbt-explorer/embedded-metadata-source.png
  website/static/img/blog/2024-02-13-dbt-explorer/full-lineage.png
  website/static/img/blog/2024-02-13-dbt-explorer/model-execution.png
  website/static/img/blog/2024-02-13-dbt-explorer/recommendations.png
Labels: content, size: medium, developer blog

#4906 Fix hyphen
  website/docs/docs/cloud/billing.md
Labels: content, size: x-small, Docs team, auto update

#4907 Reword CLL prereqs for clarity
  website/docs/docs/collaborate/column-level-lineage.md
Labels: content, size: x-small

#4915 Fix URL to docs for log and target paths
  website/docs/reference/global-configs/yaml-configurations.md
Labels: content, size: x-small

#4899 update to group_by
  website/docs/docs/build/saved-queries.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: small, Docs team, auto update

#4911 add populate_cache to profiles.yml
  website/docs/docs/core/connect-data-platform/profiles.yml.md
Labels: content, size: x-small, Docs team

#4918 Update sl-graphql.md
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
Labels: content, size: x-small

#4920 Update vercel.json
  website/vercel.json
Labels: size: x-small, Docs team

#4919 update lifecycle component to accept strings + commas
  website/src/components/lifeCycle/index.js
Labels: size: x-small, Docs team

#4603 Adding Unit testing docs and reference page
  website/docs/docs/build/unit-tests.md
  website/docs/reference/commands/test.md
  website/docs/reference/resource-configs/store_failures_as.md
  website/docs/reference/resource-properties/unit-tests.md
  website/sidebars.js
Labels: content, size: large, Docs team

#4923 Add link
  website/docs/terms/data-lineage.md
Labels: content, size: x-small, Docs team, auto update

#4887 latest version
  website/blog/2021-11-23-how-to-upgrade-dbt-versions.md
  website/docs/best-practices/clone-incremental-models.md
  website/docs/best-practices/how-we-mesh/mesh-4-faqs.md
  website/docs/docs/build/about-metricflow.md
  website/docs/docs/build/unit-tests.md
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/configure-cloud-cli.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/core-upgrade/02-upgrading-to-v1.7.md
  website/docs/docs/dbt-versions/core-upgrade/03-upgrading-to-v1.6.md
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.5.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.4.md
  website/docs/docs/dbt-versions/core-upgrade/07-upgrading-to-v1.3.md
  website/docs/docs/dbt-versions/core-upgrade/08-upgrading-to-v1.2.md
  website/docs/docs/dbt-versions/core-upgrade/09-upgrading-to-v1.1.md
  website/docs/docs/dbt-versions/core-upgrade/10-upgrading-to-v1.0.md
  website/docs/docs/dbt-versions/core-versions.md
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/keep-on-latest-version.md
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/override-dbt-version.md
  website/docs/docs/dbt-versions/release-notes/74-Dec-2023/legacy-sl.md
  website/docs/docs/dbt-versions/release-notes/76-Oct-2023/sl-ga.md
  website/docs/docs/dbt-versions/release-notes/78-Aug-2023/sl-revamp-beta.md
  website/docs/docs/dbt-versions/release-notes/81-May-2023/may-ide-updates.md
  website/docs/docs/dbt-versions/release-notes/83-Mar-2023/1.0-deprecation.md
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
  website/docs/docs/deploy/retry-jobs.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
  website/docs/reference/commands/deps.md
  website/docs/reference/commands/version.md
  website/docs/reference/dbt-commands.md
  website/docs/reference/global-configs/version-compatibility.md
  website/docs/reference/project-configs/require-dbt-version.md
  website/sidebars.js
  website/snippets/_cloud-environments-info.md
  website/snippets/_config-dbt-version-check.md
  website/snippets/_new-sl-setup.md
  website/snippets/_sl-deprecation-notice.md
  website/snippets/_sl-faqs.md
  website/snippets/_v2-sl-prerequisites.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/Environment-settings.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/example-environment-settings.png
  website/vercel.json
Labels: content, size: large, Docs team, auto update

#4922 Link to reference docs for the `target-path` configuration
  website/docs/docs/dbt-cloud-apis/sl-manifest.md
Labels: content, size: x-small

#4921 How to configure the target path directory that artifacts are written to
  website/docs/reference/artifacts/dbt-artifacts.md
Labels: content, size: x-small

#4895 Update mindsdb-setup.md
  website/docs/docs/core/connect-data-platform/mindsdb-setup.md
Labels: content, size: x-small

#4925 Add info about CLL data platform support
  website/docs/docs/collaborate/column-level-lineage.md
Labels: content, size: small, Docs team, auto update

#4847 new expandable component
  website/docs/docs/introduction.md
  website/src/components/expandable/index.js
  website/src/components/expandable/styles.module.css
  website/src/theme/MDXComponents/index.js
  website/static/js/headerLinkCopy.js
Labels: content, size: medium, Docs team, auto update

#4932 clarify bq qs step after config block change
  website/snippets/quickstarts/change-way-model-materialized.md
Labels: content, size: x-small, Docs team

#4897 Create 2024-01-15-dbt-server-deprecation-announcement
  website/blog/2024-01-15-dbt-server-deprecation-announcement.md
  website/blog/authors.yml
  website/static/img/blog/authors/roxi-dahlke.png
Labels: size: small, developer blog

#4934 Clarify search in Explorer
  website/docs/docs/collaborate/explore-projects.md
Labels: content, size: small

#4870 Trigger on job completion
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/job-completion-trigger.md
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/keep-on-latest-version.md
  website/docs/docs/deploy/deploy-jobs.md
  website/docs/docs/deploy/job-scheduler.md
  website/docs/docs/deploy/run-visibility.md
  website/static/img/docs/dbt-cloud/deployment/example-job-details.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/create-deploy-job.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/deploy-job-adv-settings.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/example-triggers-section.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/job-schedule.png
Labels: size: medium, Docs team, auto update

#4927 update hover and remove scroll
  website/src/components/lightbox/index.js
Labels: size: small, Docs team

#4926 add support for data platforms in exports doc
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: x-small, Docs team

#4943 Update screenshot
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/override-dbt-version.md
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/example-override-version.png
Labels: content, size: small, Docs team, auto update

#4944 Latest version fast-follows
  website/docs/reference/global-cli-flags.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/example-environment-settings.png
Labels: content, size: small, Docs team, auto update

#4942 add SL faqs
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-1-intro.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-7-conclusion.md
  website/docs/docs/build/build-metrics-intro.md
  website/docs/docs/build/sl-getting-started.md
  website/docs/docs/dbt-cloud-apis/sl-api-overview.md
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-sl.md
  website/docs/docs/use-dbt-semantic-layer/setup-sl.md
  website/docs/docs/use-dbt-semantic-layer/sl-architecture.md
  website/docs/docs/use-dbt-semantic-layer/sl-faqs.md
  website/docs/guides/sl-migration.md
  website/docs/guides/sl-partner-integration-guide.md
  website/sidebars.js
  website/src/components/expandable/styles.module.css
Labels: content, size: large, guides, Docs team

#4948 Update docker-install.md fixing broken link
  website/docs/docs/core/docker-install.md
Labels: content, size: x-small, new contributor

#4949 Update access_token_error.md
  website/docs/faqs/Troubleshooting/access_token_error.md
Labels: content, size: small

#4951 Update mssql-setup.md
  website/docs/docs/core/connect-data-platform/mssql-setup.md
Labels: content, size: x-small

#4954 Clarify model contracts are not supported for other resource types
  website/docs/docs/collaborate/govern/model-contracts.md
Labels: content, size: x-small

#4950 Update documentation.md
  website/docs/docs/collaborate/documentation.md
Labels: content, size: x-small, Docs team

#4956 Update sl-faqs.md
  website/docs/docs/use-dbt-semantic-layer/sl-faqs.md
Labels: content, size: x-small

#4960 chore(docs): Fix little typo in custom-schemas page
  website/docs/docs/build/custom-schemas.md
Labels: content, size: x-small, new contributor

#4963 Update schedule-a-job.md
  website/snippets/quickstarts/schedule-a-job.md
Labels: content, size: x-small

#4961 Update tableau.md
  website/docs/docs/use-dbt-semantic-layer/tableau.md
Labels: content, size: x-small

#4912 adds sl course link and updates fill_nulls_with and join_to_timespine
  website/docs/docs/build/about-metricflow.md
  website/docs/docs/build/build-metrics-intro.md
  website/docs/docs/build/conversion-metrics.md
  website/docs/docs/build/cumulative-metrics.md
  website/docs/docs/build/derived-metrics.md
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/ratio-metrics.md
  website/docs/docs/build/semantic-models.md
  website/docs/docs/build/simple.md
  website/docs/docs/build/sl-getting-started.md
  website/docs/docs/use-dbt-semantic-layer/avail-sl-integrations.md
  website/docs/docs/use-dbt-semantic-layer/gsheets.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-sl.md
  website/docs/docs/use-dbt-semantic-layer/setup-sl.md
  website/docs/docs/use-dbt-semantic-layer/tableau.md
  website/docs/guides/sl-migration.md
  website/docs/guides/sl-partner-integration-guide.md
  website/snippets/_sl-course.md
Labels: content, size: large, guides, Docs team, auto update

#4968 add a SL faq addressing data platforms
  website/docs/docs/use-dbt-semantic-layer/sl-faqs.md
Labels: content, size: small, Docs team

#4962 Enhance Maturity definition
  website/docs/docs/build/exposures.md
  website/docs/reference/exposure-properties.md
Labels: content, size: small, Docs team

#4958 Intervals update
  website/docs/docs/deploy/deploy-jobs.md
  website/docs/docs/deploy/job-scheduler.md
  website/static/img/docs/dbt-cloud/deployment/deploy-scheduler.jpg
  website/static/img/docs/dbt-cloud/using-dbt-cloud/example-triggers-section.png
Labels: content, size: small, Docs team, auto update

#4969 simplify unit testing example
  website/docs/docs/build/unit-tests.md
  website/docs/reference/resource-properties/unit-tests.md
Labels: content, size: medium

#4976 agg_time_dimenson required if the model contains measures
  website/docs/docs/build/semantic-models.md
Labels: content, size: x-small

#4959 add documentation for unit testing incremental models
  website/docs/docs/build/unit-tests.md
  website/docs/reference/resource-properties/unit-tests.md
Labels: content, size: medium

#4980 update docs to reflect main git enhancements
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
  website/docs/docs/cloud/dbt-cloud-ide/lint-format.md
  website/docs/docs/collaborate/git/version-control-basics.md
  website/docs/faqs/Environments/custom-branch-settings.md
  website/docs/guides/bigquery-qs.md
  website/docs/guides/databricks-qs.md
  website/docs/guides/microsoft-fabric-qs.md
  website/docs/guides/redshift-qs.md
  website/docs/guides/snowflake-qs.md
  website/docs/guides/starburst-galaxy-qs.md
  website/snippets/quickstarts/_build-your-first-model.md
  website/snippets/quickstarts/schedule-a-job.md
Labels: content, size: large, guides, Docs team

#4979 Update unit-tests.md
  website/docs/docs/build/unit-tests.md
Labels: content, size: x-small, new contributor

#4978 add more info to overrides for unit testing
  website/docs/reference/resource-properties/unit-tests.md
Labels: content, size: medium

#4970 add fill nulls guide
  website/docs/docs/build/advanced-topics.md
  website/docs/docs/build/build-metrics-intro.md
  website/docs/docs/build/conversion-metrics.md
  website/docs/docs/build/cumulative-metrics.md
  website/docs/docs/build/derived-metrics.md
  website/docs/docs/build/fill-nulls-advanced.md
  website/docs/docs/build/measures.md
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/ratio-metrics.md
  website/docs/docs/build/simple.md
  website/sidebars.js
Labels: content, size: medium

#4971 Suggest >= consistently in incremental models
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small

#4983 Add recursive CTE in BQ to not supported list
  website/docs/docs/collaborate/govern/model-contracts.md
Labels: content, size: x-small

#4987 Fixed docs for permissions of team admin and database admin
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small

#4986 Update constraints.md
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small, Docs team

#4972 Edit primary branch in IDE release note and docs changes
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
  website/docs/docs/cloud/dbt-cloud-ide/lint-format.md
  website/docs/docs/collaborate/git/version-control-basics.md
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/ide-git-edit.md
  website/docs/faqs/Environments/custom-branch-settings.md
  website/docs/guides/bigquery-qs.md
  website/docs/guides/databricks-qs.md
  website/docs/guides/microsoft-fabric-qs.md
  website/docs/guides/redshift-qs.md
  website/docs/guides/snowflake-qs.md
  website/docs/guides/starburst-galaxy-qs.md
  website/snippets/quickstarts/_build-your-first-model.md
  website/snippets/quickstarts/schedule-a-job.md
  website/static/img/docs/dbt-cloud/using-dbt-cloud/commit-popup.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/create-new-branch.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/protected.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/read-only.png
Labels: content, size: large, Docs team

#4992 Profiles global configs
  website/docs/docs/core/connect-data-platform/profiles.yml.md
Labels: content, size: small, guides, Docs team

#4977 Adding new indirect selection pages
  website/dbt-versions.js
  website/docs/docs/core/connect-data-platform/profiles.yml.md
  website/docs/reference/global-configs/indirect-selection.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#4995 update lnk for push.ai
  website/snippets/_sl-partner-links.md
Labels: content, size: x-small, Docs team

#4814 Project flags, for global config defaults + behavior change migrations
  .github/pull_request_template.md
  website/dbt-versions.js
  website/docs/docs/core/connect-data-platform/profiles.yml.md
  website/docs/docs/dbt-cloud-apis/sl-manifest.md
  website/docs/docs/dbt-versions/core-upgrade/08-upgrading-to-v1.2.md
  website/docs/docs/dbt-versions/core-upgrade/10-upgrading-to-v1.0.md
  website/docs/reference/artifacts/dbt-artifacts.md
  website/docs/reference/dbt_project.yml.md
  website/docs/reference/events-logging.md
  website/docs/reference/global-cli-flags.md
  website/docs/reference/global-configs/about-global-configs.md
  website/docs/reference/global-configs/command-line-options.md
  website/docs/reference/global-configs/indirect-selection.md
  website/docs/reference/global-configs/json-artifacts.md
  website/docs/reference/global-configs/legacy-behaviors.md
  website/docs/reference/global-configs/logs.md
  website/docs/reference/global-configs/parsing.md
  website/docs/reference/global-configs/project-flags.md
  website/docs/reference/global-configs/record-timing-info.md
  website/docs/reference/global-configs/version-compatibility.md
  website/docs/reference/global-configs/yaml-configurations.md
  website/docs/reference/parsing.md
  website/docs/reference/project-configs/clean-targets.md
  website/docs/reference/project-configs/log-path.md
  website/docs/reference/project-configs/target-path.md
  website/docs/reference/resource-configs/severity.md
  website/sidebars.js
  website/vercel.json
Labels: content, size: large

#4975 Fast follows for Unit Testing
  website/docs/docs/build/unit-tests.md
  website/docs/reference/commands/build.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/resource-properties/data-formats.md
  website/docs/reference/resource-properties/unit-test-input.md
  website/docs/reference/resource-properties/unit-test-overrides.md
  website/docs/reference/resource-properties/unit-testing-versions.md
  website/docs/reference/resource-properties/unit-tests.md
  website/sidebars.js
Labels: content, size: large, Docs team

#4997 add unit testing callout to upgrade guide
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
Labels: content, size: x-small

#4993 Add yellowbrick adapter docs
  website/docs/docs/community-adapters.md
  website/docs/docs/core/connect-data-platform/yellowbrick-setup.md
  website/docs/reference/resource-configs/yellowbrick-configs.md
  website/sidebars.js
Labels: content, size: medium, new contributor

#5001 Updating upgrade guide
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
Labels: content, size: medium, Docs team

#5004 CLI to dbt Core CLI
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/core-upgrade/02-upgrading-to-v1.7.md
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.5.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.4.md
  website/docs/docs/dbt-versions/core-upgrade/07-upgrading-to-v1.3.md
  website/docs/docs/dbt-versions/core-upgrade/08-upgrading-to-v1.2.md
  website/docs/docs/dbt-versions/core-upgrade/09-upgrading-to-v1.1.md
  website/docs/docs/dbt-versions/core-upgrade/10-upgrading-to-v1.0.md
Labels: content, size: small, Docs team

#5005 clarify st availability
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/ide-git-edit.md
Labels: content, size: x-small, Docs team

#4874 Remove Verified Adapter Program
  website/docs/docs/cloud/connect-data-platform/connect-databricks.md
  website/docs/docs/community-adapters.md
  website/docs/docs/connect-adapters.md
  website/docs/docs/core/connect-data-platform/about-core-connections.md
  website/docs/docs/supported-data-platforms.md
  website/docs/docs/trusted-adapters.md
  website/docs/docs/verified-adapters.md
  website/docs/guides/adapter-creation.md
  website/sidebars.js
  website/snippets/_adapters-trusted.md
  website/snippets/_adapters-verified.md
Labels: size: large, auto update

#5002 Adding 1.8 install changes
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-2-setup.md
  website/docs/docs/core/homebrew-install.md
  website/docs/docs/core/pip-install.md
  website/docs/docs/core/source-install.md
  website/snippets/_setup-pages-intro.md
Labels: content, size: medium, Docs team

#5009 Self-service permissions update
  website/docs/docs/cloud/manage-access/self-service-permissions.md
  website/snippets/_self-service-permissions-table.md
Labels: content, size: medium, Docs team

#5012 Update install-python-compatibility.md
  website/docs/faqs/Core/install-python-compatibility.md
Labels: content, size: x-small, Docs team

#5015 Updating python support versions
  website/docs/faqs/Core/install-python-compatibility.md
  website/snippets/_python-compatibility-matrix.md
Labels: content, size: small, Docs team

#5014 Unit testing data types
  website/docs/docs/build/unit-tests.md
  website/docs/reference/resource-properties/data-types.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#4974 New attributes in run_results.json
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/reference/artifacts/run-results-json.md
Labels: content, size: medium, Docs team

#5022 Update exports.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: small, Docs team, auto update

#5020 feb sl and mf rn
  website/docs/docs/dbt-versions/release-notes/72-Feb-2024/feb-sl-updates.md
Labels: content, size: small, Docs team, auto update

#4994 fixes typo and table formatting
  website/docs/guides/adapter-creation.md
Labels: content, size: small, guides, Docs team, auto update
