Repository dbt-labs/docs.getdbt.com, pull requests merged in 2024-04, with the labels that each got.

#5205 Sl march updates
  website/docs/docs/dbt-versions/release-notes/70-Apr-2024/mar-sl-updates.md
Labels: content, size: small, Docs team

#5186 Use the full configuration name (`loaded_at_field`)
  website/docs/docs/core/connect-data-platform/about-core-connections.md
Labels: content, size: small

#5202 Update other-artifacts.md
  website/docs/reference/artifacts/other-artifacts.md
Labels: content, size: x-small

#5200 Update run-results-json.md
  website/docs/reference/artifacts/run-results-json.md
Labels: content, size: x-small

#5208 Updates to for clearer CI
  website/docs/docs/deploy/continuous-integration.md
Labels: content, size: x-small, Docs team

#5175 add add'l info to SL qs
  website/snippets/_sl-test-and-query-metrics.md
Labels: content, size: small, Docs team, auto update

#5212 moving SL RN to march
  website/docs/docs/dbt-versions/release-notes/71-Mar-2024/mar-sl-updates.md
Labels: content, size: x-small, Docs team

#5213 Small fix for wording for `on_configuration_change`
  website/docs/reference/resource-configs/on_configuration_change.md
Labels: content, size: x-small

#5054 Rebrand of Azure Active Directory to Microsoft Entra ID
  website/docs/docs/cloud/connect-data-platform/connect-microsoft-fabric.md
  website/docs/docs/cloud/git/setup-azure.md
  website/docs/docs/cloud/manage-access/about-access.md
  website/docs/docs/cloud/manage-access/auth0-migration.md
  website/docs/docs/cloud/manage-access/licenses-and-groups.md
  website/docs/docs/cloud/manage-access/set-up-sso-microsoft-entra-id.md
  website/docs/docs/cloud/manage-access/sso-overview.md
  website/docs/docs/core/connect-data-platform/fabric-setup.md
  website/docs/docs/core/connect-data-platform/mssql-setup.md
  website/docs/reference/resource-configs/fabric-configs.md
  website/docs/reference/resource-configs/mssql-configs.md
  website/sidebars.js
  website/vercel.json
Labels: content, size: medium, Docs team, auto update

#5221 Update code example for `fail_calc`
  website/docs/reference/resource-configs/fail_calc.md
Labels: content, size: x-small

#5033 Fast-follow for latest version
  website/docs/reference/artifacts/dbt-artifacts.md
  website/docs/reference/commands/debug.md
  website/docs/reference/commands/version.md
  website/docs/reference/dbt-jinja-functions/dbt_version.md
  website/docs/reference/project-configs/query-comment.md
Labels: content, size: small, Docs team, auto update

#5223 Update billing page with proper `group-by` sl syntax
  website/docs/docs/cloud/billing.md
Labels: content, size: small

#5187 Link to configuration for sources
  website/docs/docs/core/connect-data-platform/about-core-connections.md
Labels: content, size: x-small

#5220 [#5218] Fix Configuration for max_staleness should be string with explicit format, instead of integer
  website/blog/2023-08-01-announcing-materialized-views.md
Labels: size: x-small, developer blog, new contributor

#5207 Fix heading and links for `loaded_at_field`
  website/docs/reference/resource-properties/freshness.md
Labels: content, size: small

#5211 Documenting custom materializations
  website/docs/faqs/Docs/documenting-macros.md
Labels: content, size: small

#5210 Defining multiple `primary_key` constraints at the column level is not supported
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small

#5227 Fix syntax in SL / MF Dimensions page
  website/docs/docs/build/dimensions.md
Labels: content, size: small

#5230 Update databricks-configs.md to discuss tblproperties.
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: small

#5233 add core to cloud guide 3
  website/docs/docs/core/about-core-setup.md
  website/docs/docs/core/installation-overview.md
  website/docs/guides/core-to-cloud-1.md
  website/docs/guides/core-to-cloud-2.md
  website/docs/guides/core-to-cloud-3.md
  website/snippets/_core-to-cloud-guide-table.md
Labels: content, size: large, guides, Docs team

#5235 Update saved-queries.md
  website/docs/docs/build/saved-queries.md
Labels: content, size: x-small

#5225 Update sl-graphql.md
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
Labels: content, size: x-small, Docs team

#5237 dbt Explorer FAQs
  website/docs/docs/collaborate/column-level-lineage.md
  website/docs/docs/collaborate/dbt-explorer-faqs.md
  website/docs/docs/collaborate/explore-multiple-projects.md
  website/docs/docs/collaborate/model-performance.md
  website/docs/docs/collaborate/project-recommendations.md
  website/sidebars.js
Labels: content, size: medium, Docs team, auto update

#5243 remove mention of the adapter toggle since it was removed
  website/docs/guides/migrate-from-spark-to-databricks.md
Labels: content, size: x-small, guides

#5245 Enhancing constraints tables
  website/docs/docs/collaborate/govern/model-contracts.md
Labels: content, size: medium, Docs team

#5248 Fix term tags that can't be within code blocks
  website/docs/reference/dbt-jinja-functions/adapter.md
Labels: content, size: x-small

#5250 Link to the `alias` model configuration page
  website/docs/docs/build/custom-aliases.md
Labels: content, size: x-small

#5246 Beware custom `fail_calc` in tests that have the potential to return no rows at all
  website/docs/reference/resource-configs/fail_calc.md
Labels: content, size: small

#5193 Update connect-adapters.md
  website/docs/docs/connect-adapters.md
Labels: content, size: x-small, auto update

#5197 Update _packages_or_dependencies.md
  website/snippets/_packages_or_dependencies.md
Labels: content, size: x-small, auto update

#5204 Update snowflake-setup.md
  website/docs/docs/core/connect-data-platform/snowflake-setup.md
Labels: content, size: x-small, auto update

#5251 Update lint-format.md
  website/docs/docs/cloud/dbt-cloud-ide/lint-format.md
Labels: content, size: x-small, Docs team

#5228 Snowflake source freshness
  website/docs/docs/deploy/source-freshness.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: small, Docs team

#5249 Fix the example for `api.Relation.create()`
  website/docs/guides/create-new-materializations.md
Labels: content, size: x-small, guides

#5247 Example using a `{% do return(...) %}` statement in a Jinja macro
  website/docs/reference/dbt-jinja-functions/return.md
Labels: content, size: small

#5255 Update databricks-configs.md so that only 1.7 content shows on 1.7
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: x-small, auto update

#5198 Update execute.md
  website/docs/reference/dbt-jinja-functions/execute.md
Labels: content, size: small, auto update

#5266 Adds ls troubleshooting tips
  website/docs/reference/node-selection/syntax.md
Labels: content, size: small

#5257 Fix typo in exports.md resource type selector
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: x-small, new contributor

#5259 Update version-control-basics.md
  website/docs/docs/collaborate/git/version-control-basics.md
Labels: content, size: small, Docs team

#4728 Update _enterprise-permissions-table.md
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small

#5265 Update exports.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: x-small, Docs team

#5263 Update set-up-databricks-oauth.md
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
  website/docs/docs/cloud/manage-access/set-up-databricks-oauth.md
Labels: content, size: small

#5262 Adds basic documentation and example for external access integrations & secrets (Snowpark concept)
  website/docs/docs/build/python-models.md
Labels: content, size: small

#5273 Update deploy-jobs.md
  website/docs/docs/deploy/deploy-jobs.md
Labels: content, size: small, Docs team

#5267 Staging environment
  website/docs/docs/deploy/deploy-environments.md
  website/snippets/_cloud-environments-info.md
  website/static/img/docs/collaborate/dbt-explorer/explore-staging-env.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/create-staging-environment.png
Labels: content, size: medium, Docs team

#5274 Update dbt-support.md
  website/docs/docs/dbt-support.md
Labels: content, size: x-small

#5284 Explorer: open in IDE feature
  website/docs/docs/collaborate/explore-projects.md
  website/static/img/docs/collaborate/dbt-explorer/example-model-details.png
  website/static/img/docs/collaborate/dbt-explorer/example-open-in-ide-icon.png
  website/static/img/docs/collaborate/dbt-explorer/example-project-lineage-graph.png
  website/static/img/docs/collaborate/dbt-explorer/example-search-sidebar.png
  website/static/img/docs/collaborate/dbt-explorer/example-tabs-sidebar.png
Labels: content, size: small, Docs team

#5277 Remove recursion from unit test scenarios
  website/docs/docs/build/unit-tests.md
Labels: content, size: x-small

#5278 Cross-database `cast` macro
  website/docs/reference/dbt-jinja-functions/cross-database-macros.md
Labels: content, size: small, dbt-core v1.8

#5272 Remove non-functional example command and fix other one
  website/docs/reference/node-selection/syntax.md
Labels: content, size: x-small

#5285 Update ide-user-interface.md
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
Labels: content, size: x-small, Docs team

#5154 update version block to display content
  website/docs/docs/build/data-tests.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
Labels: content, size: small, Docs team, auto update

#5232 adds core to cloud guide part 2
  website/docs/docs/core/about-core-setup.md
  website/docs/docs/core/installation-overview.md
  website/docs/guides/core-cloud-2.md
  website/docs/guides/core-to-cloud-1.md
  website/docs/guides/core-to-cloud-3.md
  website/docs/guides/manual-install-qs.md
  website/snippets/_cloud-environments-info.md
  website/snippets/_core-to-cloud-guide-table.md
Labels: content, size: large, guides, Docs team

#5268 Snowflake Privatelink VPC Endpoint ID Docs
  website/docs/docs/cloud/secure/snowflake-privatelink.md
  website/static/img/docs/dbt-cloud/snowflakeprivatelink2.png
  website/static/img/docs/dbt-cloud/snowflakeprivatelink3.png
Labels: content, size: small, new contributor

#5264 initial guide steps (draft)
  website/docs/best-practices/how-we-mesh/mesh-3-implementation.md
  website/docs/best-practices/how-we-mesh/mesh-4-faqs.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/guides/mesh-qs.md
  website/static/img/guides/dbt-mesh/add_fct_orders_v2.png
  website/static/img/guides/dbt-mesh/break_contract.png
  website/static/img/guides/dbt-mesh/create-new-project.gif
  website/static/img/guides/dbt-mesh/cross_proj_ref_autocomplete.png
  website/static/img/guides/dbt-mesh/cross_proj_ref_compile.png
  website/static/img/guides/dbt-mesh/cross_proj_ref_lineage.png
  website/static/img/guides/dbt-mesh/da_lineage.png
  website/static/img/guides/dbt-mesh/deprecation_date_warning.png
  website/static/img/guides/dbt-mesh/finance_create_file.png
  website/static/img/guides/dbt-mesh/generate_docs_on_run.png
  website/static/img/guides/dbt-mesh/initialize_repo.png
  website/static/img/guides/dbt-mesh/jaffle_da_final_lineage.png
  website/static/img/guides/dbt-mesh/job_run_now.png
  website/static/img/guides/dbt-mesh/project_names.png
  website/static/img/guides/dbt-mesh/set_project_artifacts.png
  website/static/img/guides/dbt-mesh/trigger_on_completion.png
Labels: content, size: large, guides

#5236 Add "pill" property to Card component
  website/snippets/_adapters-trusted.md
  website/src/components/card/index.js
  website/src/components/card/styles.module.css
Labels: size: medium

#5229 Update gsheets.md
  website/docs/docs/use-dbt-semantic-layer/gsheets.md
  website/static/img/docs/dbt-cloud/semantic-layer/gsheets-query-builder.jpg
Labels: content, size: medium

#5281 add docs for format: sql unit testing
  website/docs/docs/build/unit-tests.md
  website/docs/reference/resource-properties/data-formats.md
  website/docs/reference/resource-properties/unit-tests.md
Labels: content, size: medium

#5298 Adding name field
  website/docs/reference/data-test-configs.md
Labels: size: small, Docs team

#5244 Trigger on Git merge
  website/docs/docs/dbt-versions/release-notes/70-Apr-2024/merge-jobs.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/deploy/job-scheduler.md
  website/docs/docs/deploy/jobs.md
  website/docs/docs/deploy/merge-jobs.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/using-dbt-cloud/Enabling-CI/ADO CI Check.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/GitLab-Pipeline.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/example-create-merge-job.png
Labels: content, size: medium, Docs team, auto update

#5302 Recommend using a service account for BitBucket
  website/docs/docs/cloud/git/import-a-project-by-git-url.md
Labels: content, size: x-small, Docs team

#5290 Update metricflow-commands.md
  website/docs/docs/build/metricflow-commands.md
Labels: content, size: small, Docs team

#5300 Update core-to-cloud-1.md
  website/docs/guides/core-to-cloud-1.md
Labels: content, size: x-small, guides, Docs team

#5269 create a get started landing page
  website/docs/docs/get-started-dbt.md
  website/docs/docs/introduction.md
  website/sidebars.js
  website/src/pages/index.js
  website/static/img/docs/cloud-overview.jpg
Labels: content, size: medium, Docs team, trigger-crawl

#5295 Deprecating support for spaces
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
Labels: content, size: x-small, Docs team

#5296 Note about source freshness query
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
Labels: content, size: x-small, Docs team, auto update

#5293 Adding profile and target
  website/docs/reference/global-configs/about-global-configs.md
Labels: content, size: x-small, Docs team, auto update

#5292 Adding resource-type flag
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/reference/global-configs/about-global-configs.md
  website/docs/reference/global-configs/resource-type.md
  website/sidebars.js
Labels: content, size: small, Docs team, auto update

#5294 Update mesh-qs.md
  website/docs/guides/mesh-qs.md
Labels: content, size: small, guides, Docs team

#5242 SL x snowflake guide
  website/docs/docs/build/about-metricflow.md
  website/docs/docs/build/build-metrics-intro.md
  website/docs/docs/build/sl-getting-started.md
  website/docs/docs/cloud/billing.md
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
  website/docs/docs/dbt-versions/release-notes/78-Aug-2023/sl-revamp-beta.md
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/docs/docs/use-dbt-semantic-layer/quickstart-sl.md
  website/docs/docs/use-dbt-semantic-layer/setup-sl.md
  website/docs/docs/use-dbt-semantic-layer/sl-faqs.md
  website/docs/guides/sl-migration.md
  website/docs/guides/sl-snowflake-qs.md
  website/sidebars.js
  website/snippets/_new-sl-setup.md
  website/snippets/_sl-connect-and-query-api.md
  website/snippets/_sl-run-prod-job.md
  website/snippets/_sl-test-and-query-metrics.md
  website/static/img/docs/dbt-cloud/semantic-layer/sl-gsheets.jpg
  website/static/img/docs/dbt-cloud/semantic-layer/sl-ide-dag.jpg
  website/static/img/docs/dbt-cloud/semantic-layer/sl-snowflake-confirm.jpg
  website/vercel.json
Labels: content, size: large, guides, Docs team, trigger-crawl

#5287 add more detailed steps and warnings to Databricks PL doc
  website/docs/docs/cloud/secure/databricks-privatelink.md
Labels: content, size: small

#5312 Update exports.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: small, Docs team

#5314 Update dimensions.md
  website/docs/docs/build/dimensions.md
Labels: content, size: x-small, new contributor

#5316 Update mesh-4-faqs.md
  website/docs/best-practices/how-we-mesh/mesh-4-faqs.md
Labels: content, size: small, Docs team

#5308 Fast-follows for merge jobs
  website/docs/docs/deploy/merge-jobs.md
  website/docs/guides/custom-cicd-pipelines.md
Labels: content, size: small, guides, Docs team, auto update

#5324 Update measures.md
  website/docs/docs/build/measures.md
Labels: content, size: medium

#5328 [Fix] Remove root package-lock.json and update correct one
  package-lock.json
  website/package-lock.json
Labels: size: small

#5335 Link to graph operators
  website/docs/reference/node-selection/syntax.md
Labels: content, size: x-small, Docs team, auto update

#5336 Auth
  website/docs/docs/cloud/manage-access/mfa.md
  website/static/img/docs/dbt-cloud/create-security-key.png
  website/static/img/docs/dbt-cloud/enter-code.png
  website/static/img/docs/dbt-cloud/mfa-enrollment.png
  website/static/img/docs/dbt-cloud/scan-qr.png
  website/static/img/docs/dbt-cloud/sms-enter-phone.png
Labels: content, size: medium, Docs team

#5340 Fix incorrect semantic model sample code
  website/docs/guides/sl-snowflake-qs.md
Labels: content, size: x-small, guides

#5325 update sl guide per feedback
  website/docs/guides/sl-snowflake-qs.md
Labels: content, size: small, guides, Docs team

#5345 Updated Terms of Use header for mfa docs
  website/docs/docs/cloud/manage-access/mfa.md
Labels: content, size: x-small

#5318 Fix docs for `log_path` flag / config
  website/docs/reference/global-configs/about-global-configs.md
Labels: content, size: x-small

#5326 Handle case when an incremental table is empty
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small

#5313 Use ancestor/descendant terminology instead of parent/child
  website/docs/reference/node-selection/graph-operators.md
Labels: content, size: small

#5319 Include overriding the `ref` macro in the v1.5 migration guide
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.5.md
Labels: content, size: x-small

#5332 Fix CLI flag and environment variable for `log_path`
  website/docs/reference/global-configs/about-global-configs.md
Labels: content, size: x-small

#5343 Correct SL guide inconsistencies
  website/docs/guides/sl-snowflake-qs.md
  website/snippets/_sl-test-and-query-metrics.md
Labels: content, size: medium, guides, Docs team, auto update

#5344 updates the SL partner connect ui
  website/docs/guides/snowflake-qs.md
Labels: content, size: x-small, guides, Docs team

#5348 clarify .exe file in cloud cli instructions
  website/docs/docs/cloud/cloud-cli-installation.md
Labels: content, size: x-small, Docs team

#5351 Upgrade instructions for model names that contain spaces
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
Labels: content, size: x-small

#5315 Update cte.md
  website/docs/terms/cte.md
Labels: content, size: x-small

#5354 Update banner for spring launches
  website/docusaurus.config.js
Labels: size: x-small, Docs team

#5357 clarify scd table and key for scd table
  website/docs/docs/build/dimensions.md
Labels: content, size: small, Docs team

#5366 Update SL graphql api docs for SingleTenant
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
Labels: content, size: x-small

#5365 Fixing format error
  website/docs/reference/commands/build.md
Labels: content, size: x-small, Docs team

#5361 Update example for prerelease versions to use semantic versioning syntax
  website/docs/docs/build/packages.md
Labels: content, size: x-small

#5372 adds config to example
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/semantic-models.md
  website/docs/reference/resource-configs/group.md
Labels: content, size: medium

#5362 Fix access URLs for Disco API
  website/docs/docs/dbt-cloud-apis/discovery-querying.md
Labels: content, size: small, Docs team, auto update

#5371 update copy and link
  website/docusaurus.config.js
Labels: size: x-small, Docs team

#5358 update ide doc to add env_var
  website/docs/docs/build/environment-variables.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
Labels: content, size: small, Docs team

#5303 Next
  website/docs/docs/dbt-versions/2024-release-notes.md
  website/sidebars.js
Labels: size: medium, Docs team

#5379 Fixing headers
  website/docs/docs/dbt-versions/2024-release-notes.md
Labels: content, size: x-small, Docs team

#5299 Clarifying zero copy cloning
  website/docs/reference/commands/clone.md
Labels: content, size: x-small, Docs team

#5206 Fixing Examples
  website/docs/docs/core/connect-data-platform/databricks-setup.md
  website/docs/docs/core/connect-data-platform/hive-setup.md
  website/docs/reference/resource-configs/databricks-configs.md
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: medium, Docs team

#5363 DBT_ENV_SECRET syntax change
  website/docs/docs/build/environment-variables.md
  website/docs/docs/build/packages.md
  website/docs/docs/dbt-versions/core-upgrade/01-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/core-upgrade/02-upgrading-to-v1.7.md
  website/docs/docs/dbt-versions/core-upgrade/03-upgrading-to-v1.6.md
  website/docs/guides/core-to-cloud-1.md
  website/docs/reference/dbt-jinja-functions/env_var.md
Labels: content, size: small, guides, Docs team, auto update

#5364 Unit tests don't support recursive SQL
  website/docs/docs/build/unit-tests.md
Labels: content, size: x-small, Docs team, auto update

#5367 Clarifying BigQuery unit test
  website/docs/docs/build/unit-tests.md
  website/docs/reference/resource-properties/data-types.md
Labels: content, size: x-small, Docs team

#5380 1.5 EOL
  website/snippets/core-versions-table.md
Labels: content, size: x-small, Docs team

#5393 Added links to terms of service and privacy policy
  website/docs/docs/cloud/manage-access/mfa.md
Labels: content, size: x-small

#5346 Add security headers
  website/vercel.json
Labels: size: small

#5400 Remove stale banner
  website/docs/docs/dbt-cloud-apis/discovery-use-cases-and-examples.md
  website/snippets/_discovery_api_job_deprecation_notice.md
Labels: content, Docs team

#5405 chore: fix link in "connecting-to-two-dbs-not-allowed.md"
  website/docs/faqs/Warehouse/connecting-to-two-dbs-not-allowed.md
Labels: content, size: x-small, new contributor

#5404 Update could-not-parse-project.md
  website/docs/faqs/Troubleshooting/could-not-parse-project.md
Labels: content, size: x-small

#5401 update audit log docs
  website/docs/docs/cloud/manage-access/audit-log.md
Labels: content, size: medium, auto update

#5373 Apr SL release notes
  website/docs/docs/dbt-versions/2024-release-notes.md
  website/docs/docs/dbt-versions/release-notes/70-Apr-2024/apr-sl.md
  website/docs/docs/use-dbt-semantic-layer/tableau.md
Labels: content, size: medium, Docs team, auto update

#5413 this pr updates the cloud parity table
  website/snippets/cloud-feature-parity.md
Labels: content, size: x-small, Docs team

#5349 update label parameter
  website/docs/docs/build/conversion-metrics.md
  website/docs/docs/build/cumulative-metrics.md
  website/docs/docs/build/derived-metrics.md
  website/docs/docs/build/dimensions.md
  website/docs/docs/build/measures.md
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/ratio-metrics.md
  website/docs/docs/build/semantic-models.md
  website/docs/docs/build/simple.md
  website/docs/guides/sl-partner-integration-guide.md
  website/snippets/_sl-measures-parameters.md
Labels: content, size: medium, Docs team

#5359 Fix `install_prerelease` syntax
  website/docs/docs/build/packages.md
Labels: content, size: x-small

#5414 Update img-src in CSP header
  website/vercel.json
Labels: size: x-small
