Repository dbt-labs/docs.getdbt.com, pull requests merged in 2024-11, with the labels that each got.

#6394 Define `pure marts`
  website/docs/best-practices/how-we-structure/4-marts.md
Labels: content, size: x-small, Docs team

#6400 Update Versionless FAQ
  website/docs/docs/dbt-versions/versionless-cloud.md
  website/snippets/core-versions-table.md
Labels: content, size: medium

#6401 fix: Add missing paren in star macro blog
  website/blog/2022-07-13-star-sql-love-letter.md
Labels: size: x-small, developer blog, new contributor

#6407 adds invalidate_hard_deletes from snapshot configs page
  website/docs/reference/snapshot-configs.md
Labels: content, size: small, Docs team

#6408 add mf timespine behavior change
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: small, Docs team

#6410 Updated images to match the new UI
  website/docs/docs/dbt-cloud-apis/discovery-api.md
  website/static/img/docs/collaborate/dbt-explorer/example-model-details.png
  website/static/img/docs/dbt-cloud/discovery-api/model-timing.png
Labels: content, size: x-small

#6413 Adding clarification to group license assignment
  website/docs/docs/cloud/manage-access/about-access.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
Labels: content, size: small, Docs team

#6364 Fix SQL statements, add claryfing comments in the Teradata quickstart
  website/docs/guides/teradata-qs.md
Labels: content, size: medium, guides

#6419 Updates versionless backend "version" to 1.10
  website/dbt-versions.js
Labels: size: x-small, Docs team

#6421 update to date_day
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: x-small, Docs team

#6420 Removing old version
  website/dbt-versions.js
Labels: size: x-small, Docs team

#6425 Updated image to match new UI
  website/docs/docs/dbt-cloud-apis/discovery-use-cases-and-examples.md
Labels: content, size: x-small

#6430 add dot ai to sl integrations
  website/snippets/_sl-partner-links.md
  website/static/img/icons/dot-ai.svg
  website/static/img/icons/white/dot-ai.svg
Labels: content, size: large, Docs team

#6429 Logging relational cache events
  website/docs/reference/global-configs/cache.md
  website/docs/reference/global-configs/logs.md
  website/snippets/_log-relational-cache.md
Labels: content, size: small

#5978 when columns removed for an incremental model
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small, new contributor

#6431 Updated image in dbt Cloud environments doc
  website/docs/docs/dbt-cloud-environments.md
  website/static/img/docs/dbt-cloud/refresh-ide/new-environment-fields.png
Labels: content, size: x-small

#6415 Updaing audit log definitions
  website/docs/docs/cloud/manage-access/audit-log.md
Labels: content, size: medium, Docs team

#6434 Update shorthand SL order syntax for JDBC api
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
Labels: content, size: x-small

#6435 Snowflake and Core OAuth
  website/docs/docs/core/connect-data-platform/snowflake-setup.md
Labels: content, size: small, Docs team

#6439 Updated images in docs
  website/docs/docs/deploy/deploy-environments.md
  website/docs/docs/deploy/job-commands.md
  website/docs/docs/deploy/run-visibility.md
  website/static/img/docs/collaborate/dbt-explorer/explore-staging-env.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/create-deploy-env.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/prod-settings.png
  website/static/img/docs/dbt-cloud/deployment/access-logs.png
  website/static/img/docs/dbt-cloud/deployment/run-history.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/fail-dbtdeps.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/prod-settings.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/using_ci_dbt_cloud.png
Labels: content, size: x-small

#6445 Pagination for Snowflake objects
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: small, Docs team

#6437 Update contributing content
  README.md
  contributing/developer-blog.md
Labels: size: medium, Docs team

#6446 Update incremental-strategy.md
  website/docs/docs/build/incremental-strategy.md
Labels: content, size: x-small, Docs team

#6448 remove snapshot query best practices--not relevant anymore for 1.9 and beyond
  website/docs/docs/build/snapshots.md
Labels: content, size: small

#6449 Fix typos
  website/docs/docs/cloud/connect-data-platform/about-connections.md
  website/docs/docs/cloud/connect-data-platform/connect-redshift-postgresql-alloydb.md
Labels: content, size: x-small

#6443 add supported links to diff resource types
  website/docs/reference/macro-properties.md
  website/docs/reference/resource-configs/meta.md
  website/docs/reference/resource-properties/schema.md
Labels: content, size: small, Docs team

#6442 Update snapshots.md
  website/docs/docs/build/snapshots.md
Labels: content, size: x-small, Docs team

#6451 fix: to_columns must be an array
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small, new contributor

#6251 teradata setup changes for dbt-cloud and python support
  website/docs/docs/core/connect-data-platform/teradata-setup.md
Labels: content, size: small

#6432 Updated image on experimental feaures page and versions page
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/job-settings.png
  website/static/img/docs/dbt-versions/experimental-feats.png
Labels: content, size: x-small

#6453 add sl ci img
  website/docs/docs/deploy/ci-jobs.md
  website/static/img/docs/dbt-cloud/deployment/sl-ci-job.png
Labels: content, size: x-small, Docs team

#6444 add new credential only flow
  website/docs/docs/dbt-versions/release-notes.md
  website/snippets/_new-sl-setup.md
  website/static/img/docs/dbt-cloud/semantic-layer/sl-add-service-token.gif
  website/static/img/docs/dbt-cloud/semantic-layer/sl-credential-no-service-token.jpg
Labels: content, size: medium, Docs team

#6418 Added section to Python models doc to discuss third party packages following this the thread: https://dbt-labs.slack.com/archives/C05FWBP9X1U/p1730272033637189
  website/docs/docs/build/python-models.md
Labels: content, size: small

#6458 Updated language from gear to account settings
  website/docs/docs/build/custom-target-names.md
  website/docs/docs/cloud-integrations/set-up-snowflake-native-app.md
  website/docs/docs/cloud/manage-access/environment-permissions-setup.md
  website/docs/docs/cloud/manage-access/set-up-bigquery-oauth.md
  website/static/img/docs/dbt-cloud/using-dbt-cloud/dbt-cloud-enterprise/BQ-auth/dbt-cloud-bq-id-secret-02.png
Labels: content, size: small

#6461 Updated language in docs for global UI project
  website/docs/guides/azure-synapse-analytics-qs.md
  website/docs/guides/bigquery-qs.md
  website/docs/guides/microsoft-fabric-qs.md
  website/docs/guides/redshift-qs.md
  website/docs/guides/sl-snowflake-qs.md
  website/docs/guides/snowflake-qs.md
Labels: content, size: small, guides

#6459 Made changes to language / text in docs. Updated "gear menu" to "Account settings"
  website/docs/docs/cloud-integrations/set-up-snowflake-native-app.md
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
  website/docs/docs/deploy/webhooks.md
  website/docs/faqs/Accounts/change-billing.md
Labels: content, size: small

#6433 Update external-oauth.md
  website/docs/docs/cloud/manage-access/external-oauth.md
  website/docs/faqs/Troubleshooting/failed-snowflake-oauth-connection.md
Labels: content, size: small, Docs team

#5603 add visual editor docs
  website/docs/docs/cloud/about-cloud/about-dbt-cloud.md
  website/docs/docs/cloud/about-develop-dbt.md
  website/docs/docs/cloud/use-visual-editor.md
  website/docs/docs/cloud/visual-editor-interface.md
  website/docs/docs/cloud/visual-editor.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/visual-editor/built-in-ai.jpg
  website/static/img/docs/dbt-cloud/visual-editor/config-panel.jpg
  website/static/img/docs/dbt-cloud/visual-editor/config-panel.png
  website/static/img/docs/dbt-cloud/visual-editor/connector.jpg
  website/static/img/docs/dbt-cloud/visual-editor/connector.png
  website/static/img/docs/dbt-cloud/visual-editor/edit-model.jpg
  website/static/img/docs/dbt-cloud/visual-editor/edit-model.png
  website/static/img/docs/dbt-cloud/visual-editor/operator.jpg
  website/static/img/docs/dbt-cloud/visual-editor/operator.png
  website/static/img/docs/dbt-cloud/visual-editor/visual-editor.jpg
  website/static/img/docs/dbt-cloud/visual-editor/visual-editor.png
Labels: content, size: medium, Docs team

#6455 add behavior flag for microbatch
  website/docs/docs/build/incremental-microbatch.md
  website/docs/docs/build/incremental-strategy.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: small, Docs team

#6462 Updated language for Global UI project
  website/docs/guides/starburst-galaxy-qs.md
  website/docs/guides/teradata-qs.md
Labels: content, size: x-small, guides

#6466 Revert "add behavior flag for microbatch"
  website/docs/docs/build/incremental-microbatch.md
  website/docs/docs/build/incremental-strategy.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: small, Docs team

#6465 Update cloud-feature-parity.md
  website/snippets/cloud-feature-parity.md
Labels: content, size: x-small, Docs team

#6464 Update deps.md
  website/docs/reference/commands/deps.md
Labels: content, size: medium, Docs team

#6470 Add BQ timeout to list of migration gotchas
  website/docs/docs/dbt-versions/versionless-cloud.md
Labels: content, size: x-small

#6476 Adding redirect
  website/vercel.json
Labels: size: x-small, Docs team

#6338 Adding sortable tables
  website/package-lock.json
  website/package.json
  website/src/components/sortableTable/index.js
  website/src/theme/MDXComponents/index.js
Labels: content, size: medium, Docs team

#6473 Adding clarifying language
  website/docs/docs/cloud/connect-data-platform/connect-snowflake.md
Labels: content, size: x-small, Docs team

#6438 Adding multiple unique keys
  website/docs/docs/build/snapshots.md
  website/docs/reference/resource-configs/unique_key.md
Labels: content, size: small, Docs team

#6479 Enhancing permissions table
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: medium, Docs team

#6478 There is no `--no-warn-error` CLI flag
  website/docs/reference/global-configs/about-global-configs.md
Labels: content, size: x-small

#6484 Update behavior-changes.md
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: x-small, Docs team

#6485 Update manual-install-qs.md
  website/docs/guides/manual-install-qs.md
Labels: content, size: x-small, guides, Docs team

#6486 Updated image and language to match new UI
  website/docs/faqs/Environments/delete-environment-job.md
  website/docs/faqs/Git/git-migration.md
  website/docs/faqs/Git/github-permissions.md
  website/docs/faqs/Git/gitignore.md
  website/docs/faqs/Project/delete-a-project.md
  website/package-lock.json
  website/package.json
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/delete-environment.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/delete-job.png
  website/static/img/docs/dbt-cloud/cloud-ide/gitignore-italics.png
  website/static/img/docs/dbt-cloud/delete_projects_from_dbt_cloud.png
  website/static/img/docs/dbt-cloud/disconnect-repo.png
Labels: content, size: large

#6481 Enhancing table borders
  website/src/css/custom.css
Labels: size: small, Docs team

#6489 Update snapshot-configs.md
  website/docs/reference/snapshot-configs.md
Labels: content, size: x-small, Docs team

#6312 Generic data tests accept arbitrary configs
  website/docs/reference/data-test-configs.md
Labels: content, size: small, dbt-core v1.9

#6490 Updated images so they are more up to date
  website/docs/guides/adapter-creation.md
  website/static/img/adapter-guide/0-full-release-notes.png
  website/static/img/adapter-guide/1-announcement.png
  website/static/img/adapter-guide/2-short-description.png
  website/static/img/adapter-guide/3-additional-resources.png
  website/static/img/adapter-guide/4-installation.png
  website/static/img/adapter-guide/6-thank-contribs.png
Labels: content, size: x-small, guides

#6493 Updated docs to match the new UI
  website/docs/docs/build/environment-variables.md
  website/docs/docs/collaborate/build-and-view-your-docs.md
  website/docs/faqs/Environments/custom-branch-settings.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/dev-environment-custom-branch.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/Environment Variables/navigate-to-env-vars.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/documentation-job-execution-settings.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/documentation-project-details.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/jobs-settings-target-name.png
Labels: content, size: small

#6495 Update data-tests.md
  website/docs/docs/build/data-tests.md
Labels: content, size: x-small, Docs team

#6496 Updated language and images as part of Global UI and images project
  website/docs/docs/build/environment-variables.md
  website/docs/docs/cloud/billing.md
  website/docs/docs/cloud/configure-cloud-cli.md
  website/docs/docs/cloud/git/connect-github.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-github/github-connect-1.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/connecting-github/github-connect.png
Labels: content, size: small

#6500 Update databricks-configs.md typo
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: x-small

#6498 Update image and language
  website/docs/docs/cloud/git/connect-gitlab.md
  website/docs/docs/cloud/git/import-a-project-by-git-url.md
  website/docs/docs/cloud/manage-access/audit-log.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/cloud/manage-access/set-up-databricks-oauth.md
Labels: content, size: small

#6501 Updated language and image
  website/docs/docs/cloud/manage-access/set-up-sso-microsoft-entra-id.md
  website/docs/faqs/Project/dbt-source-freshness.md
  website/docs/guides/dbt-python-snowpark.md
  website/docs/reference/dbt-jinja-functions/target.md
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/5-development-schema-name/1-settings-gear-icon.png
Labels: content, size: small, guides

#6497 Removing Duplicate Info
  website/docs/best-practices/how-we-structure/2-staging.md
Labels: content, size: x-small

#6384 add event _time to sources/snapshots/models/seeds
  website/docs/reference/model-configs.md
  website/docs/reference/seed-configs.md
  website/docs/reference/snapshot-configs.md
  website/docs/reference/source-configs.md
Labels: content, size: large, Docs team

#6383 add event_time page
  website/docs/docs/build/incremental-microbatch.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/deploy/advanced-ci.md
  website/docs/reference/model-configs.md
  website/docs/reference/resource-configs/event-time.md
  website/docs/reference/seed-configs.md
  website/docs/reference/snapshot-configs.md
  website/docs/reference/source-configs.md
  website/sidebars.js
  website/static/img/docs/deploy/apples_to_apples.png
Labels: content, size: large, Docs team, trigger-crawl

#6505 Updated img for imaging project
  website/static/img/docs/dbt-cloud/using-dbt-cloud/data-sources.png
Labels: content, size: x-small

#6308 add dbt_valid_to_current
  website/docs/docs/build/snapshots.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/reference/resource-configs/dbt_valid_to_current.md
  website/sidebars.js
Labels: content, size: medium, Docs team, trigger-crawl

#6506 Update release-notes.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small

#6508 Delete .github/ISSUE_TEMPLATE/internal-orch-team.yml
  .github/ISSUE_TEMPLATE/internal-orch-team.yml
Labels: size: small, Docs team

#6457 merge nov 20th - update sql linting to ga
  website/docs/docs/cloud/dbt-cloud-ide/lint-format.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/continuous-integration.md
Labels: content, size: small, Docs team, trigger-crawl

#6346 merge nov 20th - include custom cmd advanced ci
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/deploy/advanced-ci.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/job-commands.md
  website/static/img/docs/deploy/dbt-compare.jpg
Labels: content, size: small, Docs team, trigger-crawl

#6511 Update snowflake-privatelink.md
  website/docs/docs/cloud/secure/snowflake-privatelink.md
Labels: content, size: small

#6370 Fix materialized view label
  website/docs/docs/build/materializations.md
Labels: content, size: x-small

#6514 Limited support of custom incremental strategies
  website/docs/docs/build/incremental-strategy.md
Labels: content, size: x-small, Docs team

#6518 Mention Snowflake Enterprise or higher is required for query history functionality
  website/docs/docs/collaborate/model-query-history.md
Labels: content, size: x-small

#6519 Update regions-ip-addresses.md for azure us region
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
Labels: content, size: x-small

#6517 Update enable-dbt-copilot.md
  website/docs/docs/cloud/enable-dbt-copilot.md
Labels: content, size: x-small

#6515 Update snapshots.md
  website/docs/docs/build/snapshots.md
Labels: content, size: x-small, Docs team

#6354 Athena quickstart
  website/docs/guides/athena-qs.md
Labels: content, size: large, guides, Docs team

#6516 Updates databricks-configs.md to correct reference to `time_zone_value` in documentation example code
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: x-small, new contributor

#6525 Update model-query-history.md
  website/docs/docs/collaborate/model-query-history.md
Labels: content, size: small

#6524 fix broken links on the dbt-RisingWave page.
  website/docs/docs/core/connect-data-platform/risingwave-setup.md
Labels: content, size: small

#6523 Update sample code to handle new dbt log line
  website/docs/guides/zapier-ms-teams.md
  website/docs/guides/zapier-slack.md
Labels: content, size: x-small, guides

#6527 update upgrade guide
  website/docs/docs/build/snapshots.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
Labels: size: x-small, Docs team

#6526 auto-exposures allowlist for tableau server
  website/docs/docs/cloud-integrations/configure-auto-exposures.md
  website/docs/docs/collaborate/auto-exposures.md
Labels: content, size: x-small, Docs team

#6533 update schema config
  website/docs/reference/resource-configs/schema.md
Labels: content, size: x-small, Docs team

#6532 Update query-comment.md
  website/docs/reference/project-configs/query-comment.md
Labels: content, size: x-small, Docs team

#6534 add required and type to sm and metrics
  website/docs/docs/build/conversion-metrics.md
  website/docs/docs/build/cumulative-metrics.md
  website/docs/docs/build/derived-metrics.md
  website/docs/docs/build/dimensions.md
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/ratio-metrics.md
  website/docs/docs/build/semantic-models.md
  website/docs/docs/build/simple.md
  website/snippets/_sl-measures-parameters.md
Labels: content, size: medium, Docs team

#6539 Update metricflow-time-spine.md
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: x-small

#6537 Core v1.9 RC updates
  website/dbt-versions.js
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
  website/snippets/core-versions-table.md
Labels: content, size: x-small, Docs team

#6540 Update python-models.md to reflect changed default behaviour
  website/docs/docs/build/python-models.md
Labels: content, size: small

#6541 SL release note - job override
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#6535 Update 06-upgrading-to-v1.9.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
Labels: content, size: x-small, Docs team

#6542 Update configure-auto-exposures.md
  website/docs/docs/cloud-integrations/configure-auto-exposures.md
  website/docs/docs/collaborate/auto-exposures.md
Labels: content, size: x-small, Docs team

#6546 add log level file
  website/docs/reference/global-configs/logs.md
Labels: content, size: small, Docs team

#6545 list all column api properties
  website/docs/reference/dbt-classes.md
Labels: content, size: x-small, Docs team

#6423 Updating migration for ST
  website/docs/docs/cloud/manage-access/auth0-migration.md
Labels: content, size: small, Docs team

#6548 Update merge jobs language
  website/docs/docs/deploy/merge-jobs.md
Labels: content, size: x-small, new contributor

#6554 Remove Environments from environment level permissions
  website/docs/docs/cloud/manage-access/environment-permissions.md
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small

#6549 update dbt copilot gif
  website/static/img/docs/dbt-cloud/cloud-ide/dbt-assist-toggle.jpg
  website/static/img/docs/dbt-cloud/cloud-ide/dbt-assist.gif
  website/static/img/docs/dbt-cloud/cloud-ide/dbt-copilot-doc.gif
Labels: content, size: x-small, Docs team

#6544 clarify microbatch per feedback
  website/docs/docs/build/incremental-microbatch.md
  website/docs/docs/build/incremental-models.md
Labels: content, size: small, Docs team

#6557 Update dbt-commands.md
  website/docs/reference/dbt-commands.md
Labels: content, size: x-small, new contributor

#6547 add relative path snippet
  website/docs/reference/project-configs/analysis-paths.md
  website/docs/reference/project-configs/asset-paths.md
  website/docs/reference/project-configs/docs-paths.md
  website/docs/reference/project-configs/macro-paths.md
  website/docs/reference/project-configs/model-paths.md
  website/docs/reference/project-configs/seed-paths.md
  website/docs/reference/project-configs/snapshot-paths.md
  website/docs/reference/project-configs/test-paths.md
  website/snippets/_relative-path.md
Labels: content, size: medium, Docs team

#6556 Update model-notifications
  website/docs/docs/deploy/model-notifications.md
Labels: size: small, trigger-crawl

#6555 Adding Azure to Auth0 chart
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
  website/docs/docs/cloud/manage-access/sso-overview.md
  website/snippets/auth0-uri.md
  website/static/img/docs/dbt-cloud/access-control/sso-uri.png
Labels: content, size: small, Docs team

#6563 Update connnect-bigquery.md
  website/docs/docs/cloud/connect-data-platform/connnect-bigquery.md
Labels: content, size: x-small, Docs team, auto update

#6565 Clarify microbatch run dates
  website/docs/docs/build/incremental-microbatch.md
Labels: content, size: x-small

#6313 Configuring database for data tests
  website/docs/reference/resource-configs/database.md
Labels: content, size: small

#6482 Enhancing existing tables
  website/docs/docs/cloud/connect-data-platform/connect-starburst-trino.md
  website/docs/docs/cloud/git/connect-gitlab.md
  website/docs/docs/cloud/manage-access/self-service-permissions.md
Labels: content, size: medium, Docs team

#6566 Update snapshots.md
  website/docs/docs/build/snapshots.md
Labels: content, size: x-small, Docs team

#6568 Update snapshot-configs.md
  website/docs/reference/snapshot-configs.md
Labels: content, size: x-small, Docs team

#6570 add snippet to versions and model contracts
  website/docs/docs/collaborate/govern/model-contracts.md
  website/docs/reference/resource-properties/versions.md
  website/snippets/_versions-contracts.md
Labels: content, size: small, Docs team

#6569 Update python-models.md
  website/docs/docs/build/python-models.md
Labels: content, size: x-small, Docs team, auto update

#6571 Add example for Starburst Galaxy-specific host
  website/docs/docs/core/connect-data-platform/trino-setup.md
Labels: content
