Repository dbt-labs/docs.getdbt.com, pull requests merged in 2024-08, with the labels that each got.

#5874 Update measures.md
  website/docs/docs/build/measures.md
Labels: content, size: x-small

#5875 Update measures.md
  website/docs/docs/build/measures.md
Labels: content, size: x-small

#5745 Nfiann-customizing-schema-guide
  website/docs/docs/collaborate/git/version-control-basics.md
  website/docs/guides/customize-schema-alias.md
  website/static/img/docs/dbt-cloud/using-dbt-cloud/Environment Variables/custom-schema-env-var-targetname.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/Environment Variables/custom-schema-env-var.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/custom-schema-env-var-targetname.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/env-var-target-name.png
Labels: content, size: large, guides, trigger-crawl

#4685 Updating Login URL Examples
  website/docs/docs/cloud/configure-cloud-cli.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/deploy/deployment-tools.md
  website/docs/faqs/API/rotate-token.md
  website/docs/faqs/Accounts/find-user-id.md
  website/docs/guides/airflow-and-dbt-cloud.md
  website/docs/guides/bigquery-qs.md
  website/docs/guides/how-to-use-databricks-workflows-to-run-dbt-cloud-jobs.md
  website/docs/guides/redshift-qs.md
  website/docs/guides/starburst-galaxy-qs.md
  website/docs/guides/zapier-ms-teams.md
  website/docs/guides/zapier-slack.md
  website/docs/reference/dbt_project.yml.md
Labels: content, size: medium, guides, Docs team

#5878 Adding MFA docs
  website/docs/docs/cloud/manage-access/mfa.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#5876 Update data-test-configs.md to specify versionless
  website/docs/reference/data-test-configs.md
Labels: content, size: x-small, Docs team

#5859 Clarify that tests is backwards compatible to data_tests
  website/docs/docs/build/data-tests.md
Labels: content, priority: high, size: small

#5877 Adding Azure tenancy for preview
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
  website/docs/docs/cloud/about-cloud/tenancy.md
  website/docs/docs/cloud/secure/snowflake-privatelink.md
  website/snippets/cloud-feature-parity.md
Labels: content, size: small, Docs team

#5880 Remove empty FAQ in snapshots page
  website/docs/docs/build/snapshots.md
  website/docs/reference/resource-configs/target_schema.md
Labels: content, size: x-small

#5879 Update adapter-creation.md
  website/docs/guides/adapter-creation.md
Labels: content, size: x-small, guides, Docs team

#5873 Update about-snowflake-native-app.md
  website/docs/docs/cloud-integrations/about-snowflake-native-app.md
Labels: content, size: x-small

#5881 Adding release notes
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#5728 Add info about the Terraform provider
  website/docs/docs/dbt-cloud-apis/admin-cloud-api.md
  website/docs/docs/dbt-cloud-apis/apis-overview.md
Labels: content, size: small

#5858 Add athena adapter preview
  website/docs/docs/cloud/connect-data-platform/about-connections.md
  website/docs/docs/cloud/connect-data-platform/connect-amazon-athena.md
  website/sidebars.js
  website/snippets/_adapters-trusted.md
Labels: content, size: small, Docs team

#5889 Updating language to Versionless
  website/blog/2021-11-23-how-to-upgrade-dbt-versions.md
  website/blog/2024-04-22-extended-attributes.md
  website/blog/2024-05-22-latest-dbt-stability-improvement-innovation.md
  website/blog/2024-06-12-putting-your-dag-on-the-internet.md
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/unit-tests.md
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/connect-data-platform/connect-amazon-athena.md
  website/docs/docs/cloud/enable-dbt-assist.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
  website/docs/docs/dbt-versions/core-upgrade/07-upgrading-to-v1.8.md
  website/docs/docs/dbt-versions/core-versions.md
  website/docs/docs/dbt-versions/product-lifecycles.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
  website/docs/docs/dbt-versions/versionless-cloud.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
  website/docs/docs/use-dbt-semantic-layer/sl-cache.md
  website/docs/guides/core-cloud-2.md
  website/docs/guides/core-to-cloud-1.md
  website/docs/guides/core-to-cloud-3.md
  website/docs/guides/mesh-qs.md
  website/docs/guides/sl-snowflake-qs.md
  website/docs/reference/commands/version.md
  website/docs/reference/data-test-configs.md
  website/docs/reference/global-configs/legacy-behaviors.md
  website/docs/reference/global-configs/version-compatibility.md
  website/docs/reference/project-configs/require-dbt-version.md
  website/docs/reference/resource-configs/target_database.md
  website/docs/reference/resource-configs/target_schema.md
  website/docs/reference/resource-properties/unit-tests.md
  website/snippets/_cloud-environments-info.md
  website/snippets/_config-dbt-version-check.md
Labels: size: medium, Docs team

#5258 Update run_query.md arguments
  website/docs/reference/dbt-jinja-functions/run_query.md
Labels: content, size: x-small, new contributor

#5885 Explicitly state that a model contract enforces the column ordering
  website/docs/docs/collaborate/govern/model-contracts.md
Labels: content, size: x-small

#5894 Fix JSON examples
  website/docs/docs/deploy/webhooks.md
Labels: content, size: x-small, Docs team

#5890 update bidirectional projects for mesh
  website/docs/best-practices/how-we-mesh/mesh-2-who-is-dbt-mesh-for.md
  website/docs/best-practices/how-we-mesh/mesh-3-structures.md
  website/docs/best-practices/how-we-mesh/mesh-5-faqs.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/snippets/_mesh-cycle-detection.md
Labels: content, size: small

#5893 Release version(s) that a PR will be included within
  website/docs/community/resources/oss-expectations.md
Labels: content, size: x-small

#5888 updated DB multi-cell link
  website/docs/docs/cloud/manage-access/set-up-databricks-oauth.md
Labels: content, size: x-small

#5795 Update docs to clarify the way aliases are used in CTEs
  website/docs/docs/build/custom-aliases.md
  website/docs/docs/build/materializations.md
  website/docs/reference/resource-configs/alias.md
Labels: content, size: small

#5383 Update schema.md
  website/docs/reference/resource-configs/schema.md
Labels: content, size: x-small

#5693 Update warnings.md
  website/docs/reference/global-configs/warnings.md
Labels: content, size: x-small

#5897 Change where clause in unique_key example
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small

#5899 Update ci-jobs.md
  website/docs/docs/deploy/ci-jobs.md
Labels: content, size: x-small

#5868 Update Firebolt features and connection parameters
  website/docs/docs/core/connect-data-platform/firebolt-setup.md
  website/docs/reference/resource-configs/firebolt-configs.md
Labels: content, size: medium, new contributor

#5756 Updating bq config doc
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: x-small

#5901 Update data-test-configs.md
  website/docs/reference/data-test-configs.md
Labels: content, size: small

#3822 Update redshift-configs.md
  website/docs/reference/resource-configs/redshift-configs.md
Labels: content, size: small, new contributor

#5898 Merging syntax sections
  website/docs/reference/node-selection/syntax.md
Labels: content, size: small, Docs team

#5900 Update ClickHouse doc
  website/docs/docs/core/connect-data-platform/clickhouse-setup.md
  website/docs/reference/resource-configs/clickhouse-configs.md
Labels: content, size: medium

#5867 add dbt mesh x sl faqs
  website/docs/best-practices/how-we-mesh/mesh-5-faqs.md
  website/docs/docs/use-dbt-semantic-layer/sl-faqs.md
  website/docs/guides/mesh-qs.md
  website/docs/guides/sl-snowflake-qs.md
  website/snippets/_sl-dbt-mesh-faq.md
Labels: content, size: small, guides, Docs team

#5905 Fixing table
  website/snippets/cloud-feature-parity.md
Labels: content, size: x-small, Docs team

#5904 Add defer image to docs
  website/docs/docs/cloud/about-cloud-develop-defer.md
  website/docs/reference/node-selection/defer.md
  website/static/img/docs/reference/defer-diagram.png
Labels: content, size: x-small, new contributor

#5906 Update `list saved-queries` command
  website/docs/docs/build/metricflow-commands.md
Labels: content, size: x-small

#5887 Update validation.md
  website/docs/docs/build/validation.md
Labels: content, size: small, Docs team

#5902 add explorer course snippet
  website/docs/docs/collaborate/column-level-lineage.md
  website/docs/docs/collaborate/explore-multiple-projects.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/collaborate/model-performance.md
  website/docs/docs/collaborate/project-recommendations.md
  website/snippets/_explorer-course-link.md
Labels: content, size: small, Docs team

#5909 Adding Entra ID to Oauth
  website/docs/docs/cloud/manage-access/external-oauth.md
Labels: content, size: medium, Docs team

#5911 Editorial fixes
  website/docs/docs/cloud/manage-access/external-oauth.md
Labels: content, size: medium, Docs team

#5912 Fix Jinja `ref` formatting nit
  website/docs/docs/build/data-tests.md
Labels: content, size: x-small

#5910 Update banner for Coalesce
  website/docusaurus.config.js
Labels: size: x-small, Docs team, auto update

#5368 [review and merge in aug 2024] remove fal related resources
  website/blog/maching-learning-dbt-baton-pass.md
  website/dbt-versions.js
  website/docs/docs/community-adapters.md
  website/docs/docs/core/connect-data-platform/fal-setup.md
  website/docs/reference/resource-configs/fal-configs.md
  website/sidebars.js
  website/vercel.json
Labels: content, size: medium, developer blog, new contributor, trigger-crawl

#5914 Update exports.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: x-small, Docs team

#5915 add faq to snowflake app per pm
  website/docs/docs/cloud-integrations/set-up-snowflake-native-app.md
  website/snippets/_new-sl-setup.md
Labels: content, size: small, Docs team, auto update

#5917 Updating Oauth
  website/docs/docs/cloud/manage-access/external-oauth.md
Labels: content, size: x-small, Docs team

#5896 model query and auto-exposures beta
  website/docs/docs/build/exposures.md
  website/docs/docs/cloud-integrations/configure-auto-exposures.md
  website/docs/docs/cloud-integrations/overview.md
  website/docs/docs/collaborate/auto-exposures.md
  website/docs/docs/collaborate/data-tile.md
  website/docs/docs/collaborate/dbt-explorer-faqs.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/collaborate/model-query-history.md
  website/docs/docs/dbt-cloud-apis/discovery-api.md
  website/docs/docs/dbt-cloud-apis/discovery-use-cases-and-examples.md
  website/docs/docs/deploy/dashboard-status-tiles.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/deploy/monitor-jobs.md
  website/docs/guides/productionize-your-dbt-databricks-project.md
  website/sidebars.js
  website/snippets/_auto-exposures-view.md
  website/static/img/docs/cloud-integrations/auto-exposures/cloud-add-integration.jpg
  website/static/img/docs/cloud-integrations/auto-exposures/cloud-integration-details.jpg
  website/static/img/docs/cloud-integrations/auto-exposures/cloud-select-collections.jpg
  website/static/img/docs/cloud-integrations/auto-exposures/explorer-lineage.jpg
  website/static/img/docs/cloud-integrations/auto-exposures/explorer-lineage2.jpg
  website/static/img/docs/cloud-integrations/auto-exposures/explorer-view-file-tree.jpg
  website/static/img/docs/cloud-integrations/auto-exposures/explorer-view-resources.jpg
  website/static/img/docs/cloud-integrations/auto-exposures/tableau-copy-token.jpg
  website/static/img/docs/cloud-integrations/auto-exposures/tableau-create-pat.jpg
  website/static/img/docs/cloud-integrations/auto-exposures/tableau-enable-pat.jpg
  website/static/img/docs/cloud-integrations/auto-exposures/tablueau-serverurl.jpg
  website/static/img/docs/collaborate/dbt-explorer/data-tile-example.jpg
  website/static/img/docs/collaborate/dbt-explorer/data-tile-exposures.jpg
  website/static/img/docs/collaborate/dbt-explorer/data-tile-iframe.jpg
  website/static/img/docs/collaborate/dbt-explorer/data-tile-pass.jpg
  website/static/img/docs/collaborate/dbt-explorer/data-tile-setup.jpg
  website/static/img/docs/collaborate/dbt-explorer/data-tile-stale.jpg
  website/static/img/docs/collaborate/dbt-explorer/model-query-credentials.jpg
  website/static/img/docs/collaborate/dbt-explorer/model-query-lenses.jpg
  website/static/img/docs/collaborate/dbt-explorer/model-query-list.jpg
  website/static/img/docs/collaborate/dbt-explorer/model-query-queried-models.jpg
  website/static/img/docs/collaborate/dbt-explorer/model-query-usage-queries.jpg
  website/static/img/docs/dbt-cloud/discovery-api/data-freshness-metadata.jpg
  website/vercel.json
Labels: content, size: large, Docs team, auto update, trigger-crawl

#5921 Update model-query-history.md
  website/docs/docs/collaborate/model-query-history.md
Labels: content, size: x-small, Docs team

#5922 Add saved_queries to example semantic_manifest file
  website/docs/docs/dbt-cloud-apis/sl-manifest.md
Labels: content, size: small

#5924 update data health tile screenshot
  website/docs/docs/collaborate/data-tile.md
  website/static/img/docs/collaborate/dbt-explorer/data-tiles.png
Labels: content, size: x-small

#5926 fix average aggregation type in measure snippet
  website/snippets/_sl-measures-parameters.md
Labels: content, size: x-small

#5918 Fix markdown h1 bug for guides
  website/src/components/quickstartTOC/index.js
  website/src/css/custom.css
  website/src/theme/DocItem/Content/index.js
Labels: content, size: small, guides

#5925 Update set-up-sso-microsoft-entra-id.md
  website/docs/docs/cloud/manage-access/set-up-sso-microsoft-entra-id.md
Labels: content, size: x-small

#5923 Updating token deprecation date
  website/docs/docs/dbt-cloud-apis/user-tokens.md
Labels: content, size: x-small, Docs team

#5929 Azure private link
  website/docs/docs/cloud/secure/databricks-privatelink.md
  website/docs/docs/cloud/secure/snowflake-privatelink.md
Labels: content, size: medium, Docs team

#5930 Adding new MF command
  website/docs/docs/build/metricflow-commands.md
  website/docs/docs/build/validation.md
Labels: content, size: small, Docs team

#5919 Update speaking-at-a-meetup.md
  website/docs/community/resources/speaking-at-a-meetup.md
Labels: content, size: medium, Docs team

#5928 Custom config fast-follow
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#5931 Fix wording for data tile beta
  website/docs/docs/collaborate/data-tile.md
Labels: content, size: x-small

#5882 add subdaily granularity
  website/docs/docs/build/dimensions.md
  website/docs/docs/build/metricflow-time-spine.md
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/semantic-models.md
  website/docs/docs/build/simple.md
  website/docs/docs/dbt-versions/release-notes.md
  website/static/img/time_spines.png
Labels: content, size: large, Docs team

#5935 Fix resource-type
  website/docs/reference/global-configs/resource-type.md
Labels: content, size: small, Docs team

#5945 update tip
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: x-small

#5949 Reformated info section under Personally auth with Github
  website/docs/docs/cloud/git/connect-github.md
Labels: content, size: x-small

#5957 Fix whitespace and callout
  website/docs/docs/cloud/secure/databricks-privatelink.md
Labels: content, size: small, Docs team

#5948 Typo in external OAuth page
  website/docs/docs/cloud/manage-access/external-oauth.md
Labels: content, size: x-small

#5946 Update unit-testing-versions.md
  website/docs/reference/resource-properties/unit-testing-versions.md
Labels: content, size: small

#5959 Update exports.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
Labels: content, size: x-small, Docs team

#5937 Update semantic-layer-8-refactor-a-rollup.md
  website/docs/best-practices/how-we-build-our-metrics/semantic-layer-8-refactor-a-rollup.md
Labels: content, size: small, new contributor

#5938 Add links to the model term page
  website/docs/terms/model.md
Labels: content, size: x-small

#5958 delete duplicate sentence
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
Labels: content, size: x-small

#5950 Mention that Account Viewer also has access to Audit Logs
  website/docs/docs/cloud/manage-access/audit-log.md
Labels: content, size: x-small

#5965 Adding cloud tag
  website/snippets/_adapters-trusted.md
Labels: content, size: x-small, Docs team

#5962 Add permission to service token
  website/docs/docs/dbt-cloud-apis/service-tokens.md
Labels: content, size: x-small, Docs team

#5956 Update _sl-excel-gsheets.md
  website/docs/docs/cloud-integrations/semantic-layer/excel.md
  website/snippets/_sl-excel-gsheets.md
Labels: content, size: small, auto update, trigger-crawl

#5963 Fixing redirects
  website/vercel.json
Labels: size: x-small, Docs team, auto update, trigger-crawl

#5966 update versionless img
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/example-environment-settings.png
Labels: content, size: x-small, Docs team, auto update

#5967 add snapshot_name file to sidebar
  website/sidebars.js
Labels: size: x-small, Docs team, auto update

#5960 created ide session unknown error page following slack message
  website/docs/faqs/Troubleshooting/ide-session-unknown-error.md
Labels: content, size: small

#5954 Skip download of artifacts with dbt Cloud CLI
  website/docs/docs/cloud/configure-cloud-cli.md
  website/docs/reference/artifacts/dbt-artifacts.md
Labels: content, size: x-small, Docs team, auto update

#5903 Beta docs for compare changes
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/continuous-integration.md
  website/docs/docs/deploy/run-visibility.md
  website/snippets/_cloud-environments-info.md
  website/static/img/docs/dbt-cloud/example-artifacts-tab.png
  website/static/img/docs/dbt-cloud/example-ci-compare-changes-tab.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/create-ci-job.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/example-github-ci-report.png
  website/static/img/docs/deploy/example-account-settings.png
Labels: content, size: medium, Docs team, auto update

#5975 Fix config names for `pre_hook` and `post_hook`
  website/docs/reference/model-configs.md
Labels: content, size: x-small

#5973 Threads config update in teradata-setup.md
  website/docs/docs/core/connect-data-platform/teradata-setup.md
Labels: content, size: x-small, new contributor

#5971 Link to example of macro in a on-run hook
  website/docs/reference/project-configs/on-run-start-on-run-end.md
Labels: content, size: x-small

#5955 snowflake-oauth: document where to locate the redirect URI
  website/docs/docs/cloud/manage-access/set-up-snowflake-oauth.md
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/snowflake-oauth-redirect-uri.png
Labels: content, size: small

#5942 Add comment on new flow
  website/docs/docs/cloud/connect-data-platform/about-connections.md
Labels: content, size: x-small

#5976 BigQuery workaround for Global Connections
  website/docs/docs/cloud/connect-data-platform/connnect-bigquery.md
Labels: content, size: medium

#5947 Update sl-snowflake-qs.md
  website/docs/guides/sl-snowflake-qs.md
Labels: content, size: small, guides

#5968 update faq to ref resource names
  website/docs/docs/build/sql-models.md
  website/docs/docs/dbt-versions/core-upgrade/09-upgrading-to-v1.6.md
  website/docs/faqs/Models/unique-model-names.md
  website/docs/faqs/Project/unique-resource-names.md
  website/docs/guides/azure-synapse-analytics-qs.md
  website/docs/guides/bigquery-qs.md
  website/docs/guides/databricks-qs.md
  website/docs/guides/manual-install-qs.md
  website/docs/guides/microsoft-fabric-qs.md
  website/docs/guides/redshift-qs.md
  website/docs/guides/sl-snowflake-qs.md
  website/docs/guides/snowflake-qs.md
  website/docs/guides/starburst-galaxy-qs.md
  website/vercel.json
Labels: content, size: medium, Docs team

#5952 docs(spark-setup): improve namespace caveat description
  website/docs/docs/core/connect-data-platform/spark-setup.md
Labels: content, size: x-small, new contributor

#5940 Merge in the on_configuration_change config on relevant pages
  website/docs/reference/model-configs.md
  website/docs/reference/node-selection/defer.md
  website/docs/reference/resource-configs/full_refresh.md
  website/docs/reference/resource-configs/materialized.md
  website/docs/reference/resource-configs/on_configuration_change.md
Labels: content, size: small

#5979 add add'l granularities
  website/docs/docs/build/dimensions.md
Labels: content, size: x-small, Docs team

#5980 Better description in slack unfurls for full_refersh config
  website/docs/reference/resource-configs/full_refresh.md
Labels: content, size: x-small, auto update

#5969 Update sl-snowflake-qs.md
  website/docs/guides/sl-snowflake-qs.md
Labels: content, size: small, guides, Docs team

#5936 Add `--host` docs to `docs serve`
  website/docs/reference/commands/cmd-docs.md
Labels: content, size: small, new contributor

#5974 [Roadmap] Custom version name functionality
  website/dbt-versions.js
  website/src/stores/VersionContext.js
  website/src/theme/NavbarItem/DropdownNavbarItem.js
Labels: size: medium

#5916 add note about enterprise plans
  website/docs/docs/cloud/connect-data-platform/about-connections.md
Labels: content, size: small, Docs team

#5939 Changes to pull_request_template.md for clarity and flow
  .github/pull_request_template.md
Labels: size: small

#5216 Update entities.md
  website/docs/docs/build/entities.md
Labels: content, size: medium

#5989 Update databricks-configs.md with iceberg table example
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: x-small

#5987 Advanced CI
  website/docs/docs/deploy/advanced-ci.md
  website/docs/docs/deploy/continuous-integration.md
  website/sidebars.js
  website/static/img/docs/deploy/compare-changes.png
  website/static/img/docs/deploy/compare-credentials.png
  website/static/img/docs/deploy/compare-expired.png
Labels: content, size: small, Docs team, trigger-crawl

#5992 add versionblocks to cumulative metrics doc
  website/docs/docs/build/cumulative-metrics.md
Labels: content, size: medium, Docs team

#5986 We currently don't support unit testing models that use the `materialized view` materialization
  website/docs/docs/build/unit-tests.md
Labels: content, size: x-small

#5977 consolidate excel gsheets
  website/docs/docs/cloud-integrations/semantic-layer/excel.md
  website/docs/docs/cloud-integrations/semantic-layer/gsheets.md
  website/snippets/_sl-excel-gsheets.md
  website/static/img/docs/dbt-cloud/semantic-layer/gsheets-query-builder.jpg
  website/static/img/docs/dbt-cloud/semantic-layer/query-builder.png
Labels: content, size: small, Docs team, auto update, trigger-crawl

#5990 Fix blockquote text color in admonitions
  website/src/css/custom.css
Labels: content, size: x-small

#5961 Add athena ref page
  website/docs/reference/resource-configs/athena-configs.md
  website/sidebars.js
Labels: content, size: large, Docs team

#5993 Clarify current support level for contracts for materialized views
  website/docs/docs/collaborate/govern/model-contracts.md
Labels: content, size: x-small
