Repository dbt-labs/docs.getdbt.com, pull requests merged in 2025-08, with the labels that each got.

#7724 Adding clarifying language
  website/docs/docs/core/connect-data-platform/profiles.yml.md
Labels: content, size: x-small, Docs team

#7567 Add in Adapter Properties for dbt-snowflake iceberg catalog configurations
  website/docs/docs/mesh/iceberg/snowflake-iceberg-support.md
Labels: content, size: small

#7729 Discovery API
  website/docs/docs/dbt-cloud-apis/discovery-use-cases-and-examples.md
Labels: content, size: small

#7728 Fixed documented warning in warnings.md
  website/docs/reference/global-configs/warnings.md
Labels: content, size: x-small

#7734 Clarify expected behavior of `relationships` data test
  website/docs/reference/resource-properties/data-tests.md
Labels: content, size: x-small

#7738 Add link to SQL comprehension blog on new concepts page
  website/docs/docs/fusion/new-concepts.md
Labels: content, size: x-small

#7722 Typos in impala-setup.md
  website/docs/docs/core/connect-data-platform/impala-setup.md
Labels: content, size: x-small

#7737 Update docusaurus.config.js to forethought privacy policy override
  website/docusaurus.config.js
Labels: size: x-small, Docs team

#7742 Add Redshift to list of Fusion-supported adapters
  website/snippets/_deprecation-warnings.md
Labels: content, size: x-small

#7696 Lakebase docs
  website/docs/docs/cloud/connect-data-platform/connect-redshift-postgresql-alloydb.md
  website/docs/docs/core/connect-data-platform/alloydb-setup.md
  website/docs/docs/core/connect-data-platform/lakebase-setup.md
  website/sidebars.js
  website/snippets/_adapters-trusted.md
  website/static/img/icons/lakebase.svg
Labels: content, size: medium

#7709 Add GCP London
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
Labels: content, size: x-small

#7677 Update redshift-setup.md
  website/docs/docs/core/connect-data-platform/redshift-setup.md
Labels: content, size: small

#7751 updating CTA for dbt workshop
  website/blog/ctas.yml
  website/blog/metadata.yml
  website/docusaurus.config.js
Labels: size: small, developer blog, Docs team

#7756 Add Redshift as a supported platform for Advanced CI
  website/docs/docs/deploy/advanced-ci.md
Labels: content, size: x-small

#7755 Add the prerequisite to have a Web redirect URI
  website/docs/docs/cloud/git/setup-azure-service-user.md
Labels: content, size: x-small

#7698 Snowflake ignore case
  website/docs/reference/dbt_project.yml.md
  website/docs/reference/project-configs/quoting.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: medium, size: small, Docs team

#7758 update maturity dates for require_generic_test_arguments_property flag
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: x-small, size: small

#7736 Fix explanation for `schema_table_unique` option for `s3_data_naming`
  website/docs/reference/resource-configs/athena-configs.md
Labels: content, size: x-small

#7773 Update freshness.md-loaded_at_field on line 207 improperly indented
  website/docs/reference/resource-properties/freshness.md
Labels: content, size: x-small

#7767 compatible changelogs for august release
  website/docs/docs/dbt-versions/compatible-track-changelog.md
Labels: content, size: medium

#7772 Update/catalog course videos
  website/snippets/_explorer-course-link.md
Labels: content, size: x-small

#7759 Add Catalog and Copilot info to Account settings page
  website/docs/docs/cloud/account-settings.md
  website/docs/docs/cloud/enable-dbt-copilot.md
  website/docs/docs/dbt-versions/2023-release-notes.md
  website/docs/docs/dbt-versions/2024-release-notes.md
  website/docs/docs/explore/explore-projects.md
  website/static/img/docs/deploy/account-settings-advanced-ci.png
  website/static/img/docs/deploy/account-settings-partial-parsing.png
  website/static/img/docs/deploy/account-settings-repository-caching.png
  website/static/img/docs/deploy/example-account-settings.png
Labels: content, size: small

#7774 Update scim.md
  website/docs/docs/cloud/manage-access/scim.md
Labels: content, size: x-small

#7770 Update redshift-privatelink.md - clarification on port 5439
  website/docs/docs/cloud/secure/redshift-privatelink.md
Labels: content, size: x-small

#7757 Clarifying Insights prerequisite
  website/docs/docs/explore/dbt-insights.md
Labels: content, size: x-small, Docs team

#7753 Update parsing.md
  website/docs/reference/parsing.md
Labels: content, size: x-small, size: small

#7771 Add arguments property to Data tests page
  website/docs/reference/resource-properties/data-tests.md
Labels: content, size: medium

#7776 Adding authentication table
  website/docs/docs/cloud/connect-data-platform/about-connections.md
  website/snippets/_dbt_connection_support.md
Labels: content, size: small, Docs team

#7779 Insert `arguments` property to code samples
  website/docs/best-practices/custom-generic-tests.md
  website/docs/best-practices/how-we-style/5-how-we-style-our-yaml.md
  website/docs/docs/build/data-tests.md
  website/docs/faqs/Tests/uniqueness-two-columns.md
  website/docs/guides/dbt-python-snowpark.md
  website/docs/guides/teradata-qs.md
  website/docs/reference/data-test-configs.md
  website/docs/reference/node-selection/defer.md
  website/docs/reference/resource-configs/alias.md
  website/docs/reference/resource-configs/limit.md
  website/docs/reference/resource-configs/where.md
  website/docs/reference/resource-properties/config.md
  website/snippets/_configs-properties.md
  website/snippets/tutorial-add-tests-to-models.md
  website/snippets/tutorial-document-your-models.md
Labels: content, size: medium, guides

#7780 Fix typo in athena-qs.md
  website/docs/guides/athena-qs.md
Labels: content, size: x-small, guides, new contributor

#7784 Remove `git pull` command from the "Define properties" docs
  website/docs/reference/define-properties.md
Labels: content, size: x-small, new contributor

#7795 Fusion feature updates
  website/docs/docs/cloud/connect-data-platform/connnect-bigquery.md
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
  website/docs/docs/dbt-versions/core-upgrade/04-upgrading-to-fusion.md
  website/docs/docs/fusion/supported-features.md
  website/docs/faqs/Warehouse/bq-impersonate-service-account-why.md
  website/snippets/_fusion-dwh.md
  website/snippets/_fusion-missing-features.md
  website/snippets/_fusion-supported-packages.md
Labels: content, size: medium, size: small, Docs team

#7797 Enhancing extension language
  website/snippets/_install-dbt-extension.md
Labels: content

#7786 Update core-to-cloud-1.md to remove additional config for git setup
  website/docs/guides/core-to-cloud-1.md
Labels: content, size: x-small, guides

#7787 Update packages.md
  website/docs/docs/build/packages.md
Labels: content, size: x-small

#7769 Use curlies for `s3_staging_dir` Athena connection profile config
  website/docs/reference/resource-configs/athena-configs.md
Labels: content, size: x-small

#7793 dbt-trino supports microbatch incremental strategy
  website/docs/docs/build/incremental-strategy.md
Labels: content, size: x-small

#7777 Update link from non-maintained package to a maintained fork
  website/docs/docs/build/dbt-tips.md
Labels: content, size: x-small

#7799 Adding recommended assignments to cost management
  website/docs/docs/cloud/cost-management/cost-management.md
Labels: content, size: x-small, Docs team

#7809 Include required `cloud-platform` scope
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
Labels: content

#7561 Remove alter table add one column
  website/docs/reference/snapshot-configs.md
Labels: content, size: x-small

#7763 Update remote MCP docs to capture sql tool capabilities
  website/docs/docs/dbt-ai/about-mcp.md
  website/docs/docs/dbt-ai/setup-remote-mcp.md
Labels: content, size: small

#7768 change AWS Snowflake PL doc to add support and instructions for Internal Stage PL
  website/docs/docs/cloud/secure/snowflake-privatelink.md
  website/snippets/_private-connectivity-matrix.md
  website/static/img/docs/dbt-cloud/snowflake-internal-stage-dns.png
Labels: content, size: small, new contributor

#7815 Removing content
  website/docs/docs/cloud/cost-management/cost-management.md
Labels: content

#7820 Update explore-global-nav.md
  website/docs/docs/explore/explore-global-nav.md
Labels: content

#7808 Building the remote dbt MCP server blog post
  website/blog/2025-08-26-building-the-remote-dbt-mcp-server.md
  website/blog/authors.yml
  website/docs/docs/dbt-ai/setup-local-mcp.md
  website/static/img/blog/2025-08-26-building-the-remote-dbt-mcp-server/remote-dbt-mcp.png
  website/static/img/blog/authors/devon_fulcher.JPG
Labels: content, developer blog

#7827 Add permissions to team-labeler workflow
  .github/workflows/team-labeler.yml
Labels: Docs team

#7825 Clarify remote MCP usage
  website/docs/docs/dbt-ai/setup-remote-mcp.md
Labels: content

#7829 Updated cloud CLI instructions
  website/docs/docs/cloud/configure-cloud-cli.md
Labels: content

#7832 Fixing input value
  website/docs/docs/build/conversion-metrics.md
  website/docs/docs/build/cumulative-metrics.md
  website/docs/docs/build/simple.md
Labels: content, Docs team

#7484 Update yaml-selectors.md
  website/docs/reference/node-selection/yaml-selectors.md
Labels: content, size: x-small, new contributor

#7835 Update external-metadata-ingestion.md
  website/docs/docs/explore/external-metadata-ingestion.md
Labels: content

#7840 Fix the reference link for state
  website/docs/reference/node-selection/defer.md
Labels: content, new contributor

#7839 Updating banner and blog CTA for Coalesce 2025
  website/blog/ctas.yml
  website/blog/metadata.yml
  website/docusaurus.config.js
Labels: developer blog, Docs team

#7846 add setup doc for BQ PSC, add beta designation
  website/docs/docs/cloud/secure/about-private-connectivity.md
  website/docs/docs/cloud/secure/bigquery-psc.md
  website/docs/docs/cloud/secure/secure-your-tenant.md
  website/sidebars.js
  website/snippets/_private-connectivity-matrix.md
Labels: content

#7817 testing gen file for release notes
  website/docs/docs/dbt-versions/dbt-cloud-release-notes-gen.md
  website/sidebars.js
Labels: content, Docs team

#7849 Update menu name in schedule-a-job.md
  website/snippets/quickstarts/schedule-a-job.md
Labels: content

#7851 Update BigQuery language
  website/docs/docs/cloud/connect-data-platform/connect-bigquery.md
Labels: content, Docs team

#7852 Removes old SSO callout
  website/docs/docs/cloud/manage-access/set-up-sso-google-workspace.md
  website/docs/docs/cloud/manage-access/set-up-sso-microsoft-entra-id.md
  website/docs/docs/cloud/manage-access/set-up-sso-okta.md
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
  website/snippets/_sso-docs-mt-available.md
Labels: content, Docs team

#7842 Add section on environment write access
  website/docs/docs/cloud/manage-access/about-access.md
  website/snippets/_enterprise-permissions-table.md
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/environment-write.png
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/access-control/sample-access-policy.png
Labels: content, Docs team
