Repository dbt-labs/docs.getdbt.com, pull requests merged in 2025-09, with the labels that each got.

#7856 Add behavior of commas in a --select command
  website/docs/reference/node-selection/methods.md
  website/docs/reference/node-selection/syntax.md
  website/snippets/_using-commas.md
Labels: content

#7848 `dbt show` only supports selecting a single node
  website/docs/reference/commands/show.md
Labels: content

#7862 Update setup-remote-mcp.md
  website/docs/docs/dbt-ai/setup-remote-mcp.md
Labels: content

#7864 Separate example shell commands from files
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content

#7867 Add sqlfmt limitation
  website/docs/docs/cloud/dbt-cloud-ide/lint-format.md
Labels: content

#7859 Change Repository Access Reccomendations in Manual-Install Guide
  website/docs/guides/manual-install-qs.md
Labels: content, guides, new contributor

#7872 add a note to document the DATABRICKS_SKIP_OPTIMIZE option (#7871)
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, new contributor

#7879 Update clone-incremental-models.md
  website/docs/best-practices/clone-incremental-models.md
Labels: content

#7861 Image refresh
  website/docs/docs/cloud/manage-access/auth0-migration.md
  website/docs/guides/airflow-and-dbt-cloud.md
  website/docs/guides/mf-time-spine.md
  website/static/img/docs/dbt-cloud/access-control/azure-enable.png
  website/static/img/docs/dbt-cloud/access-control/google-enable.png
  website/static/img/docs/dbt-cloud/access-control/saml-enable.png
  website/static/img/guides/dremio/dremio-dev-application.png
  website/static/img/guides/orchestration/airflow-and-dbt-cloud/airflow-login.png
  website/static/img/guides/orchestration/airflow-and-dbt-cloud/connection-type-configured.png
  website/static/img/mf-guide-fiscal-preview.jpg
  website/static/img/mf-guide-fiscal-preview.png
  website/static/img/mf-guide-preview-time-spine-table.jpg
  website/static/img/mf-guide-preview-time-spine-table.png
  website/static/img/mf-guide-query.jpg
  website/static/img/mf-guide-query.png
  website/static/img/quickstarts/dbt-cloud/validate-mf-timespine-output.jpg
  website/static/img/quickstarts/dbt-cloud/validate-mf-timespine-output.png
Labels: content, guides

#7878 docs: compatibility matrix and configs updation
  website/docs/docs/core/connect-data-platform/teradata-setup.md
  website/docs/reference/resource-configs/teradata-configs.md
Labels: content

#7873 Fixing BQ PSC navigation in docs
  website/docs/docs/cloud/secure/bigquery-psc.md
Labels: content

#7885 Remove sidebar TOC
  website/docs/guides/manual-install-qs.md
Labels: content, guides

#7915 Remove note about phased rollout
  website/docs/docs/cloud/git/connect-azure-devops.md
Labels: content

#7921 Rename Query page to dbt Insights
  website/docs/faqs/Accounts/_account-specific-features.md
Labels: content

#7924 Adding flags.WHICH definition
  website/docs/reference/dbt-jinja-functions/flags.md
Labels: content, Docs team

#7925 Fusion lifecycle
  website/docs/docs/dbt-versions/product-lifecycles.md
Labels: content, Docs team

#7922 updated warning about other VSCode extensions
  website/snippets/_install-dbt-extension.md
Labels: content

#7928 Adding windows support back to VSCE
  website/docs/docs/about-dbt-extension.md
  website/snippets/_install-dbt-extension.md
Labels: content, Docs team

#7927 Updating BYOK language
  website/docs/docs/cloud/billing.md
Labels: content, Docs team

#7905 Fix mentioning of non-existing page on Marts page
  website/docs/best-practices/how-we-structure/4-marts.md
Labels: content, new contributor

#7876 Update env_var.md to correct DBT_PASSWORD to DBT_ENV_SECRET_<PASSWORD>
  website/docs/reference/dbt-jinja-functions/env_var.md
Labels: content

#7930 Fix indentation in data-test-configs.md
  website/docs/reference/data-test-configs.md
Labels: content

#7920 Adding autofix for core in dbt platform
  website/docs/docs/cloud/dbt-cloud-ide/autofix-deprecations.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
  website/docs/docs/cloud/dbt-cloud-ide/keyboard-shortcuts.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/cloud-ide/autofix-button.png
  website/static/img/docs/dbt-cloud/cloud-ide/autofix-success.png
  website/static/img/docs/dbt-cloud/cloud-ide/command-history.png
  website/static/img/docs/dbt-cloud/cloud-ide/ide-options-menu-with-save.png
  website/static/img/docs/dbt-cloud/cloud-ide/proceed-with-autofix.png
Labels: content, Docs team

#7933 Fix trailing comma in MCP config
  website/docs/docs/dbt-ai/setup-local-mcp.md
Labels: content

#7940 Simplify custom-test-thresholds.md
  website/docs/faqs/Tests/custom-test-thresholds.md
Labels: content, new contributor

#7919 Update pip-install.md
  website/docs/docs/core/pip-install.md
Labels: content

#7926 Updating BigQuery PSC documentation
  website/docs/docs/cloud/secure/bigquery-psc.md
Labels: content

#7938 SAO doc updates
  website/docs/docs/dbt-versions/core-upgrade/08-upgrading-to-v1.7.md
  website/docs/docs/deploy/state-aware-setup.md
  website/docs/reference/resource-configs/freshness.md
  website/docs/reference/resource-properties/freshness.md
Labels: content

#7950 Update about-dbt-install.md
  website/docs/docs/about-dbt-install.md
Labels: content, Docs team

#7951 Update fusion-qs.md
  website/docs/guides/fusion-qs.md
Labels: content, guides, Docs team

#7948 Adding error message to example
  website/docs/docs/dbt-versions/core-upgrade/04-upgrading-to-fusion.md
Labels: content, Docs team

#7946 Clarfying SMS support
  website/docs/docs/cloud/manage-access/mfa.md
Labels: content, Docs team

#7953 Update mesh-qs.md
  website/docs/guides/mesh-qs.md
Labels: content, guides

#7956 update catalog screenshot
  website/static/img/guides/dbt-mesh/jaffle_da_final_lineage.png
Labels: content, Docs team

#7955 add extension page url img
  website/docs/docs/about-dbt-extension.md
  website/docs/docs/dbt-extension-features.md
  website/docs/docs/install-dbt-extension.md
  website/static/img/docs/extension/extension-features.png
Labels: content, Docs team

#7917 Update sidebar and top navbar on docs site
  website/docusaurus.config.js
  website/sidebars.js
  website/src/css/custom.css
Labels: Docs team

#7962 add yaml file location to unit tests
  website/docs/reference/resource-properties/data-formats.md
  website/docs/reference/resource-properties/unit-test-input.md
  website/docs/reference/resource-properties/unit-test-overrides.md
  website/docs/reference/resource-properties/unit-testing-versions.md
  website/docs/reference/resource-properties/unit-tests.md
Labels: content, Docs team

#7936 Update legacy plan details in billing documentation
  website/docs/docs/cloud/billing.md
Labels: content, Docs team

#7968 Clarify instructions for Snowflake OAuth
  website/docs/docs/cloud/manage-access/snowflake-external-oauth.md
Labels: content, Docs team

#7906 Updated hive-configs.md with other configurable parameters.
  website/docs/docs/core/connect-data-platform/hive-setup.md
  website/docs/reference/resource-configs/hive-configs.md
Labels: content

#7971 Update fusion-qs.md
  website/docs/guides/fusion-qs.md
Labels: content, guides, Docs team

#7974 Adding new plaform connection info
  website/docs/docs/cloud/cost-management/cost-management.md
  website/docs/docs/explore/external-metadata-ingestion.md
Labels: content, Docs team
