Repository dbt-labs/docs.getdbt.com, pull requests merged in 2025-06, with the labels that each got.

#7394 update docs banner
  website/blog/ctas.yml
  website/blog/metadata.yml
  website/docusaurus.config.js
Labels: size: small, developer blog, Docs team

#7393 update to catalog and fix pills
  website/docs/docs/cloud/about-cloud/about-dbt-cloud.md
  website/docs/docs/explore/dbt-explorer-faqs.md
  website/docs/docs/explore/explore-projects.md
  website/docs/docs/explore/external-metadata-ingestion.md
  website/sidebars.js
  website/snippets/_explorer-course-link.md
  website/snippets/_generate-metadata.md
Labels: content, size: medium, Docs team

#7400 Update steps on installing VS code extension
  website/docs/docs/install-dbt-extension.md
  website/static/img/docs/extension/download-registration-2.png
Labels: content, size: small

#7392 change intro text location and fix typos
  website/docs/docs/fusion/about-fusion.md
  website/docs/docs/fusion/install-fusion.md
  website/docs/docs/fusion/new-concepts.md
  website/snippets/_fusion-beta-callout.md
Labels: content, size: small, Docs team

#7398 Fix sentence saying sources containing spaces are deprecated
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: x-small

#7391 Gaining access to the Latest Fusion release track
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
Labels: content, size: x-small

#7380 `dbt Labs Inc` to `dbtLabsInc`
  website/snippets/_install-dbt-extension.md
Labels: content, size: x-small, new contributor

#7407 Fix typo in static_analysis config
  website/docs/docs/fusion/new-concepts.md
Labels: content, size: x-small

#7406 Update external-oauth.md with scope name specifics
  website/docs/docs/cloud/manage-access/external-oauth.md
Labels: content, size: x-small, Docs team

#7415 Updated freshness examples
  website/docs/docs/deploy/state-aware-setup.md
  website/docs/reference/model-configs.md
  website/docs/reference/resource-configs/freshness.md
Labels: content, size: medium

#7412 Updated cost management instructions to grant permission to organization usage
  website/docs/docs/cloud/cost-management/cost-management.md
Labels: content, size: x-small, new contributor

#7418 Redesign - Main Nav
  website/docusaurus.config.js
  website/src/css/custom.css
  website/static/img/dbt-logo-light.svg
  website/static/img/dbt-logo.svg
Labels: content, size: large

#7419 Removed callouts
  website/docs/docs/deploy/state-aware-setup.md
  website/docs/reference/model-configs.md
  website/docs/reference/resource-configs/freshness.md
Labels: content, size: small

#7421 Spacing fix
  website/docs/docs/cloud/manage-access/scim.md
Labels: content, size: x-small, Docs team

#7425 Redesign - Blog Cards
  website/src/components/blogPostCard/index.js
  website/src/components/blogPostCard/styles.module.css
  website/src/css/custom.css
  website/src/pages/index.js
  website/static/img/static-bg.png
Labels: content, size: medium

#7426 Redesign - Link Section
  website/src/css/custom.css
  website/src/pages/index.js
Labels: size: medium

#7429 update model level
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/deploy/model-notifications.md
Labels: content, size: small, Docs team

#7430 Add gql endpoint
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: small, Docs team

#7433 Redesign - End of Page CTA
  website/src/css/custom.css
  website/src/pages/index.js
  website/static/img/bottom-cta-bg.jpg
Labels: content, size: medium

#7435 Update _enterprise-permissions-table.md
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small

#7437 Update databricks-iceberg-support.md
  website/docs/docs/mesh/iceberg/databricks-iceberg-support.md
Labels: content, size: x-small

#7436 Update databricks-iceberg-support.md
  website/docs/docs/mesh/iceberg/databricks-iceberg-support.md
Labels: content, size: x-small, new contributor

#7434 Redesign - Hero
  website/src/css/custom.css
  website/src/css/typography.css
  website/src/pages/index.js
  website/static/img/batons/baton-hero.png
Labels: content, size: medium

#7441 Redesign - Guides Index/Detail Pages
  website/docs/docs/build/data-tests.md
  website/docs/docs/mesh/iceberg/databricks-iceberg-support.md
  website/src/components/checkboxGroup/styles.module.css
  website/src/components/expandable/styles.module.css
  website/src/components/quickstartGuideCard/index.js
  website/src/components/quickstartGuideCard/styles.module.css
  website/src/components/quickstartGuideList/styles.module.css
  website/src/components/quickstartTOC/styles.module.css
  website/src/components/searchInput/styles.module.css
  website/src/css/custom.css
Labels: size: medium, size: large

#7445 Adding fusion support table
  website/docs/docs/fusion/install-fusion.md
Labels: content, size: small, Docs team

#7446 Editing group description
  website/docs/docs/cloud/manage-access/about-access.md
Labels: content, size: x-small, Docs team

#7438 Update groups doc
  website/docs/docs/build/groups.md
Labels: content, size: small

#7440 source_freshness_run_project_hooks is true by default
  website/docs/reference/global-configs/about-global-configs.md
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: x-small

#7444 Redesign - Interior Page Components
  website/src/components/IntroText/styles.module.css
  website/src/components/lifeCycle/index.js
  website/src/components/lifeCycle/styles.module.css
  website/src/css/custom.css
  website/src/css/typography.css
Labels: size: medium

#7448 Fix commands in the show command doc
  website/docs/reference/commands/show.md
Labels: content, size: x-small

#7451 Add devops to Canvas prereqs
  website/snippets/_canvas-prerequisites.md
Labels: content, size: x-small, Docs team

#7449 update blog index styles
  website/src/css/custom.css
  website/src/theme/BlogSidebar/Desktop/styles.module.css
Labels: size: small

#7452 Redesign/devblog detail
  website/src/css/custom.css
Labels: size: small

#7450 Redesign - Community Spotlight
  website/src/components/communitySpotlightCard/index.js
  website/src/components/communitySpotlightCard/styles.module.css
  website/src/components/communitySpotlightList/index.js
  website/src/components/hero/index.js
  website/src/css/custom.css
Labels: size: small

#7454 Adding cost management permissions
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: medium, Docs team

#7447 Add note about backwards compatibility to legacy properties
  website/docs/reference/resource-configs/access.md
  website/docs/reference/resource-configs/docs.md
  website/docs/reference/resource-configs/group.md
  website/docs/reference/resource-configs/tags.md
Labels: content, size: small

#7459 Athena/Glue do not have PL support in MT AWS envs, fixing matrix
  website/snippets/_private-connectivity-matrix.md
Labels: content, size: x-small

#7455 [Fusion] Add Databricks support; update supported features matrix
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/fusion/install-fusion.md
  website/docs/docs/fusion/supported-features.md
  website/snippets/_fusion-auth.md
  website/snippets/_fusion-dwh.md
  website/snippets/_fusion-missing-features.md
Labels: content, size: medium

#7467 Redesign/slider pagination
  website/src/css/custom.css
Labels: size: small

#7466 Detail and Alert color adjustments
  website/snippets/_new-sl-setup.md
  website/src/components/detailsToggle/styles.module.css
  website/src/css/custom.css
Labels: content, size: medium, size: small

#7280 Copilot Whitelisting
  website/docs/docs/cloud/dbt-copilot-faqs.md
Labels: content, size: small

#7469 add overflow adjustment
  website/src/css/custom.css
Labels: size: x-small

#7470 Clarifying cost management availability
  website/docs/docs/cloud/cost-management/cost-management.md
Labels: content, size: x-small, Docs team

#7405 Update connnect-bigquery.md
  website/docs/docs/cloud/connect-data-platform/connnect-bigquery.md
Labels: content, size: x-small

#7464 Update samples for group.owners and exposure.owners
  website/docs/docs/build/groups.md
  website/docs/reference/exposure-properties.md
Labels: content, size: small

#7475 Update scim.md
  website/docs/docs/cloud/manage-access/scim.md
Labels: content, size: x-small

#7478 Clarity on Starter plan seats
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
Labels: content, size: x-small

#7480 Adding additional SCIM instructions
  website/docs/docs/cloud/manage-access/scim.md
  website/static/img/docs/dbt-cloud/access-control/customappsso-attributes.png
  website/static/img/docs/dbt-cloud/access-control/customappsso-entry.png
Labels: content, size: small, Docs team

#7477 Update snapshot.md
  website/docs/reference/commands/snapshot.md
Labels: content, size: x-small, new contributor

#7462 Update data-tile.md to replace Explorer references with Catalog
  website/docs/docs/explore/data-tile.md
Labels: content, size: small

#7322 Fix partial_parse flag
  website/docs/reference/global-configs/parsing.md
Labels: content, size: x-small, new contributor

#7340 Clarify `merge_update_columns` support
  website/docs/docs/build/incremental-strategy.md
Labels: content, size: x-small, new contributor

#7356 Update snapshot-configs.md
  website/docs/reference/snapshot-configs.md
Labels: content, size: x-small, new contributor

#7486 Update sources.md
  website/docs/docs/build/sources.md
Labels: content, size: x-small

#7495 Removing reference to version for SQLFLuff in UI
  website/docs/docs/cloud/dbt-cloud-ide/lint-format.md
Labels: content, size: x-small, Docs team

#7496 GCP Status page
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
Labels: content, size: x-small, Docs team

#7162 Add new config to Snowflake page
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: small, do not merge

#7488 fix pagination next and lifecycle statuses
  website/docs/docs/cloud/about-cloud-develop-defer.md
  website/docs/docs/cloud/about-cloud-setup.md
  website/docs/docs/cloud/connect-data-platform/about-connections.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-copilot-faqs.md
  website/docs/docs/cloud/dbt-copilot.md
  website/docs/docs/cloud/use-dbt-copilot.md
  website/docs/docs/dbt-cloud-environments.md
  website/docs/docs/explore/access-dbt-insights.md
  website/docs/docs/explore/access-from-dbt-cloud.md
  website/docs/docs/explore/dbt-insights.md
  website/docs/docs/explore/explore-your-data.md
  website/docs/docs/explore/navigate-dbt-insights.md
Labels: content, size: small, Docs team

#7510 json to JSON
  website/blog/2022-10-24-demystifying-event-streams.md
  website/blog/2023-12-15-serverless-free-tier-data-stack-with-dlt-and-dbt-core.md
  website/blog/2024-06-12-putting-your-dag-on-the-internet.md
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
  website/docs/docs/dbt-versions/release-notes/99-dbt-cloud-changelog-2019-2020.md
  website/docs/reference/dbt-jinja-functions/fromjson.md
  website/docs/reference/dbt-jinja-functions/tojson.md
  website/docs/reference/resource-configs/duckdb-configs.md
Labels: content, size: small, developer blog, Docs team

#7509 csv to CSV
  website/blog/2022-11-22-move-spreadsheets-to-your-dwh.md
  website/docs/docs/build/metricflow-commands.md
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
  website/docs/docs/dbt-versions/release-notes/99-dbt-cloud-changelog-2019-2020.md
  website/docs/guides/dbt-python-snowpark.md
  website/docs/reference/resource-configs/clickhouse-configs.md
  website/docs/reference/resource-configs/duckdb-configs.md
  website/docs/reference/resource-configs/firebolt-configs.md
  website/docs/reference/resource-configs/teradata-configs.md
  website/docs/reference/resource-properties/data-formats.md
Labels: content, size: medium, size: small, developer blog, guides, Docs team

#7511 SL now supports Trino
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/use-dbt-semantic-layer/setup-sl.md
  website/docs/docs/use-dbt-semantic-layer/sl-faqs.md
  website/snippets/_v2-sl-prerequisites.md
Labels: content, size: x-small, Docs team

#7499 Amy bigquery iceberg docs
  package-lock.json
  website/docs/docs/mesh/iceberg/bigquery-iceberg-support.md
  website/sidebars.js
Labels: content, size: medium, size: large

#7516 Update bigquery-iceberg-support.md
  website/docs/docs/mesh/iceberg/bigquery-iceberg-support.md
Labels: content, size: x-small

#7500 quickstart should say databricks is supported
  website/docs/guides/fusion-qs.md
Labels: content, size: x-small, guides

#7485 doc for dbt-trino issue 479
  website/docs/reference/resource-configs/trino-configs.md
Labels: content, size: x-small, new contributor

#7518 Grant update for EMI
  website/docs/docs/explore/external-metadata-ingestion.md
Labels: content, size: small

#7525 Update connnect-bigquery.md
  website/docs/docs/cloud/connect-data-platform/connnect-bigquery.md
Labels: content, size: x-small

#7501 Update Which token type should you use section
  website/docs/docs/dbt-cloud-apis/authentication.md
Labels: content, size: x-small

#7529 Fix Iceberg Catalog tiles
  website/docs/docs/mesh/iceberg/apache-iceberg-support.md
Labels: content, size: x-small

#7534 Adding image to guide
  website/docs/guides/fusion-qs.md
Labels: content, size: x-small, guides, Docs team

#7531 Adding managed repo download
  website/docs/docs/cloud/git/managed-repository.md
  website/docs/docs/dbt-versions/release-notes.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/download-managed-repo.png
Labels: content, size: small, Docs team

#7465 Fix GIT_BRANCH var in build
  website/docusaurus.config.js
Labels: size: x-small, size: small

#7541 Revert "Fix GIT_BRANCH var in build"
  website/docusaurus.config.js
Labels: size: x-small, size: small

#7544 Update scim.md
  website/docs/docs/cloud/manage-access/scim.md
Labels: content, size: x-small

#7540 Fix - Adjust hyperlinks to match WWW
  website/src/components/card/styles.module.css
  website/src/components/quickstartTOC/styles.module.css
  website/src/css/custom.css
Labels: size: small

#7546 Fix sidebar collapse button styles
  website/src/css/custom.css
Labels: size: small

#7535 tiny syntax and captialization fixes
  website/docs/docs/mesh/iceberg/bigquery-iceberg-support.md
  website/docs/docs/mesh/iceberg/snowflake-iceberg-support.md
Labels: content, size: x-small

#7479 Add documentation for databricks column configs
  website/docs/docs/core/connect-data-platform/databricks-setup.md
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: medium, size: small

#7549 Power BI with SL is beta
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small

#7520 Hybrid projects preview
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small

#7539 Fix pagination in Apache Iceberg Support page
  website/docs/docs/mesh/iceberg/apache-iceberg-support.md
Labels: content, size: x-small

#7537 Fix missing code ticks
  website/docs/docs/mesh/iceberg/snowflake-iceberg-support.md
Labels: content, size: x-small

#7427 added blog about the new vscode extension experience
  website/blog/2025-06-16-the-new-dbt-vscode-extension.md
  website/blog/authors.yml
  website/static/img/blog/2025-06-16-the-new-dbt-vscode-extension/vs_code_extension_cll.png
  website/static/img/blog/2025-06-16-the-new-dbt-vscode-extension/vs_code_extension_column_error.png
  website/static/img/blog/2025-06-16-the-new-dbt-vscode-extension/vs_code_extension_function_error.png
  website/static/img/blog/2025-06-16-the-new-dbt-vscode-extension/vs_code_extension_project_lineage.png
  website/static/img/blog/2025-06-16-the-new-dbt-vscode-extension/vs_code_extension_refactoring.webm
  website/static/img/blog/authors/bruno-lima.png
Labels: content, size: large, developer blog, auto update

#7397 Clarify dynamic ref behaviour during parsing
  website/blog/authors.yml
  website/docs/reference/dbt-jinja-functions/ref.md
Labels: content, size: medium, developer blog

#7345 Update dbt_project.yml.md to apply new test syntax
  website/docs/reference/dbt_project.yml.md
Labels: content, size: x-small

#7526 Update deprecated tests to data_tests in YAML styling documentation
  website/docs/best-practices/how-we-style/5-how-we-style-our-yaml.md
Labels: content, size: x-small

#7489 DBT_CLOUD_INVOCATION_CONTEXT
  website/docs/best-practices/best-practice-workflows.md
  website/docs/docs/build/environment-variables.md
Labels: content, size: small

#7562 Updating dbt extension pages
  website/docs/docs/about-dbt-extension.md
  website/docs/docs/install-dbt-extension.md
Labels: content, size: small, Docs team

#7568 PR to adjust the code block font size when used in markdown headers
  website/src/css/custom.css
Labels: size: small

#7575 Entra ID admin and DW admin
  website/docs/docs/cloud/manage-access/external-oauth.md
Labels: content, size: x-small

#7564 Update tab styles
  website/src/css/custom.css
Labels: size: medium

#7578 Update pr-template to include Bitbucket server/data center option
  website/docs/docs/cloud/git/pr-template.md
Labels: content, size: x-small
