Repository dbt-labs/docs.getdbt.com, pull requests merged in 2025-03, with the labels that each got.

#6961 Update data-tests.md
  website/docs/reference/resource-properties/data-tests.md
Labels: content, size: small

#6962 Documenting --static flag for docs
  website/docs/reference/commands/cmd-docs.md
Labels: content, size: x-small, Docs team

#6963 Adding clarity to location_root
  website/docs/reference/resource-configs/spark-configs.md
Labels: content, size: x-small, Docs team

#6966 Removing old section
  website/docs/docs/build/python-models.md
Labels: content, size: x-small, Docs team

#6803 add snapshot page detailing legacy syntax
  website/docs/docs/build/snapshots.md
  website/docs/reference/resource-configs/snapshots-jinja-legacy.md
  website/sidebars.js
Labels: content, size: large, Docs team

#6968 Update invalidate_hard_deletes.md
  website/docs/reference/resource-configs/invalidate_hard_deletes.md
Labels: content, size: small, Docs team

#6926 dbt debug docs
  website/docs/reference/commands/debug.md
  website/docs/reference/dbt-commands.md
  website/static/img/reference/dbt-debug-ide.jpg
Labels: content, size: medium, Docs team

#6970 add dbt cloud status link
  website/docusaurus.config.js
Labels: size: x-small, Docs team

#6969 add dbt_project.yml examples to meta config
  website/docs/reference/resource-configs/meta.md
Labels: content, size: medium, Docs team

#6967 Update developer permissions on project
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small

#6964 Enabled config support in unit tests
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
  website/docs/reference/resource-properties/unit-tests.md
Labels: content, size: x-small, Docs team

#6973 Update content-style-guide.md with grammar corrections
  contributing/content-style-guide.md
Labels: size: x-small

#6972 Adding v1.10 to the menu
  website/dbt-versions.js
Labels: size: x-small, Docs team

#6979 Revert "Adding v1.10 to the menu"
  website/dbt-versions.js
Labels: size: x-small, Docs team

#6980 Add applicable `group by` clauses
  website/blog/2023-02-01-ingestion-time-partitioning-bigquery.md
Labels: size: x-small, developer blog

#6981 add a note for `node_color` that this will not reflect in Explorer.
  website/docs/reference/resource-configs/docs.md
Labels: content, size: small

#6986 Grammar Update to trusted-adapters.md
  website/docs/docs/trusted-adapters.md
Labels: content, size: x-small, new contributor

#6987 Grammar Update to contribute-core-adapters.md
  website/docs/docs/contribute-core-adapters.md
Labels: content, size: x-small

#6960 Update environment-permissions-setup.md
  website/docs/docs/cloud/manage-access/environment-permissions-setup.md
Labels: content, size: small, Docs team

#6984 Update project-dependencies.md
  website/docs/docs/cloud/connect-data-platform/about-connections.md
  website/docs/docs/collaborate/govern/about-model-governance.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/docs/deploy/deploy-environments.md
  website/docs/faqs/Environments/diff-database-environment.md
Labels: content, size: small, Docs team

#6991 add fqn consideration to auto exposures
  website/snippets/_auto-exposures-considerations-tb.md
  website/static/img/docs/cloud-integrations/auto-exposures/graphiql-example.png
  website/static/img/docs/cloud-integrations/auto-exposures/manifest-json-example.png
Labels: content, size: small, Docs team

#6990 Update model-query-history.md
  website/docs/docs/collaborate/model-query-history.md
Labels: content, size: small, Docs team

#6995 Adding password requirements to docs
  website/docs/docs/cloud/manage-access/about-access.md
Labels: content, size: small, Docs team

#6988 add snowflake insert_overwrite support
  website/docs/docs/build/incremental-strategy.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: small, Docs team

#6993 Update docusaurus.config.js
  website/docusaurus.config.js
Labels: size: x-small, Docs team

#6992 clarify matching img example
  website/snippets/_auto-exposures-considerations-tb.md
Labels: content, size: x-small, Docs team

#6998 Update link to the dbt-utils schema tests
  website/docs/faqs/Tests/available-tests.md
Labels: content, size: x-small, new contributor

#6997 Update ADO step
  website/docs/docs/cloud/git/setup-azure-service-principal.md
Labels: content, size: x-small, Docs team

#6989 Update compatible-track-changelog.md
  website/docs/docs/dbt-versions/compatible-track-changelog.md
Labels: content, size: medium

#6994 Update athena-setup.md to reflect repo move
  website/docs/docs/core/connect-data-platform/athena-setup.md
Labels: size: x-small

#7001 Adjust category order in _config.md file
  website/docs/guides/_config.md
  website/src/components/quickstartGuideList/index.js
Labels: content, size: small, guides

#6999 Update prefix for consistency
  website/docs/docs/build/environment-variables.md
Labels: content, size: x-small, Docs team

#7003 update repo links to reflect repo move
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
  website/docs/docs/core/connect-data-platform/postgres-setup.md
  website/docs/docs/core/connect-data-platform/redshift-setup.md
  website/docs/docs/core/connect-data-platform/snowflake-setup.md
  website/docs/docs/core/connect-data-platform/spark-setup.md
Labels: content, size: small, Docs team

#7006 Add info for `package:this` selector
  website/docs/reference/node-selection/methods.md
Labels: content, size: x-small

#7002 1.10 beta version to dropdown
  website/dbt-versions.js
Labels: size: x-small, Docs team

#6744 Source freshness
  website/docs/docs/build/sources.md
  website/docs/reference/commands/source.md
Labels: content, size: medium

#7007 Add script to check for Qualified cookie to hide Forethought widget
  website/docusaurus.config.js
  website/static/js/hide-forethought.js
Labels: content, size: small

#7008 Updated VE prerequisites
  website/package-lock.json
  website/snippets/_visual-editor-prerequisites.md
Labels: content, size: medium

#7009 Parallel execution support
  website/docs/docs/build/parallel-batch-execution.md
Labels: content, size: small, Docs team

#6977 Update visual-editor-interface.md
  website/docs/docs/cloud/visual-editor-interface.md
Labels: content, size: x-small

#6836 clarifies mf timespine & creates mini guide
  website/docs/docs/build/metricflow-time-spine.md
  website/docs/guides/mf-time-spine.md
  website/static/img/mf-guide-fiscal-preview.jpg
  website/static/img/mf-guide-preview-time-spine-table.jpg
  website/static/img/mf-guide-query.jpg
  website/static/img/quickstarts/dbt-cloud/validate-mf-timespine-output.jpg
Labels: content, size: medium, guides, Docs team

#6983 Adding dbt-ibm-netezza setup and config files
  website/docs/docs/community-adapters.md
  website/docs/docs/core/connect-data-platform/ibmnetezza-setup.md
  website/docs/reference/resource-configs/ibm-netezza-config.md
  website/sidebars.js
Labels: content, size: medium, new contributor

#5783 dbt Core and DuckDB Quickstart
  website/docs/docs/dbt-cloud-apis/user-tokens.md
  website/docs/docs/get-started-dbt.md
  website/docs/guides/codespace-qs.md
  website/docs/guides/duckdb-qs.md
  website/static/img/icons/duckdb-seeklogo.svg
  website/static/img/icons/white/duckdb-seeklogo.svg
  website/vercel.json
Labels: content, size: large, guides, auto update

#7012 Removing Coalesce 2024 guide
  website/docs/docs/dbt-versions/2024-release-notes.md
  website/docs/guides/qs-cloud-cli.md
  website/vercel.json
Labels: content, size: large, guides, Docs team, trigger-crawl

#7013 ADO Service principal release note [Publish 3/17]
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#7017 Setting up Snowflake oauth: add secondary roles config
  website/docs/docs/cloud/manage-access/set-up-snowflake-oauth.md
Labels: content, size: small

#7020 Update discovery-querying.md
  website/docs/docs/dbt-cloud-apis/discovery-querying.md
Labels: size: x-small, Docs team

#7019 Update databricks-privatelink.md
  website/docs/docs/cloud/secure/databricks-privatelink.md
Labels: content, size: x-small, new contributor

#7018 change pill color
  website/src/components/lifeCycle/index.js
Labels: size: x-small, Docs team

#7016 add dbt-ibm-netezza to trusted table
  website/docs/docs/community-adapters.md
  website/snippets/_adapters-trusted.md
  website/static/img/icons/dbt-ibm-netezza.svg
  website/static/img/icons/white/dbt-ibm-netezza.svg
Labels: content, size: small, Docs team

#6978 The sample and empty flag
  website/dbt-versions.js
  website/docs/docs/build/empty-flag.md
  website/docs/docs/build/sample-flag.md
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.10.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#7015 IS-4364 INC-2182/swap-tj-actions
  .github/workflows/vale.yml
Labels: size: x-small, new contributor

#6770 Visual Editor quickstart guide
  website/docs/guides/visual-editor-qs.md
  website/static/img/docs/dbt-cloud/visual-editor/aggregation.png
  website/static/img/docs/dbt-cloud/visual-editor/demo-model-github.png
  website/static/img/docs/dbt-cloud/visual-editor/join-connected.png
  website/static/img/docs/dbt-cloud/visual-editor/join-not-connected.png
  website/static/img/docs/dbt-cloud/visual-editor/one-model-operator.png
  website/static/img/docs/dbt-cloud/visual-editor/operator-tile.png
  website/static/img/docs/dbt-cloud/visual-editor/operators.png
  website/static/img/docs/dbt-cloud/visual-editor/order.png
  website/static/img/docs/dbt-cloud/visual-editor/output-model.png
  website/static/img/docs/dbt-cloud/visual-editor/preview-data.png
  website/static/img/docs/dbt-cloud/visual-editor/preview-join.png
  website/static/img/docs/dbt-cloud/visual-editor/run-results.png
  website/static/img/docs/dbt-cloud/visual-editor/two-model-operators.png
  website/static/img/docs/dbt-cloud/visual-editor/ve-create-new-model.png
  website/static/img/docs/dbt-cloud/visual-editor/ve-main-menu.png
  website/static/img/docs/dbt-cloud/visual-editor/ve-model-folder.png
  website/static/img/docs/dbt-cloud/visual-editor/ve-screen.png
Labels: content, size: large, guides, Docs team

#7031 Update sl-snowflake-qs.md
  website/docs/guides/sl-snowflake-qs.md
Labels: content, size: small, guides, Docs team

#7034 Update sl-snowflake-qs.md (ratio type metric)
  website/docs/guides/sl-snowflake-qs.md
Labels: content, size: x-small, guides, new contributor

#7033 dbt Cloud release tracks - GA
  website/docs/docs/dbt-versions/cloud-release-tracks.md
  website/docs/docs/dbt-versions/compatible-track-changelog.md
  website/docs/docs/dbt-versions/release-notes.md
  website/snippets/core-versions-table.md
Labels: content, size: small

#6976 Update visual-editor.md
  website/docs/docs/cloud/visual-editor.md
Labels: content, size: x-small

#6975 Clarify that `accepted_values` test ignores `null` values
  website/docs/reference/resource-properties/data-tests.md
Labels: content, size: x-small

#7035 Dynamic tables
  website/docs/docs/cloud/billing.md
Labels: content, size: x-small

#7038 Updating Visual Editor docs
  website/docs/docs/cloud/use-visual-editor.md
  website/docs/docs/cloud/visual-editor-interface.md
  website/docs/docs/cloud/visual-editor.md
  website/docs/guides/visual-editor-qs.md
  website/static/img/docs/dbt-cloud/visual-editor/aggregation.png
  website/static/img/docs/dbt-cloud/visual-editor/built-in-ai.jpg
  website/static/img/docs/dbt-cloud/visual-editor/config-panel.jpg
  website/static/img/docs/dbt-cloud/visual-editor/config-panel.png
  website/static/img/docs/dbt-cloud/visual-editor/connector.jpg
  website/static/img/docs/dbt-cloud/visual-editor/connector.png
  website/static/img/docs/dbt-cloud/visual-editor/edit-model.jpg
  website/static/img/docs/dbt-cloud/visual-editor/join-connected.png
  website/static/img/docs/dbt-cloud/visual-editor/join-not-connected.png
  website/static/img/docs/dbt-cloud/visual-editor/one-model-operator.png
  website/static/img/docs/dbt-cloud/visual-editor/operator.jpg
  website/static/img/docs/dbt-cloud/visual-editor/operator.png
  website/static/img/docs/dbt-cloud/visual-editor/operators.png
  website/static/img/docs/dbt-cloud/visual-editor/order.png
  website/static/img/docs/dbt-cloud/visual-editor/output-model.png
  website/static/img/docs/dbt-cloud/visual-editor/preview-join.png
  website/static/img/docs/dbt-cloud/visual-editor/run-results.png
  website/static/img/docs/dbt-cloud/visual-editor/two-model-operators.png
  website/static/img/docs/dbt-cloud/visual-editor/ve-screen.png
  website/static/img/docs/dbt-cloud/visual-editor/visual-editor.jpg
  website/static/img/docs/dbt-cloud/visual-editor/visual-editor.png
Labels: content, size: medium, guides, Docs team

#7025 Adding sample flag to event time
  website/docs/reference/resource-configs/event-time.md
Labels: content, size: x-small, Docs team

#6877 fixing <WHCode> and changing it to <Tabs>
  website/docs/docs/build/python-models.md
Labels: content, size: medium, Docs team

#6622 Update pull_request_template.md
  .github/pull_request_template.md
Labels: size: small, Docs team

#7042 Revert "refresh jobs for downstream exposures"
  website/docs/docs/build/exposures.md
  website/docs/docs/build/view-documentation.md
  website/docs/docs/cloud-integrations/configure-auto-exposures.md
  website/docs/docs/cloud-integrations/downstream-exposures-tableau.md
  website/docs/docs/cloud-integrations/downstream-exposures.md
  website/docs/docs/cloud-integrations/orchestrate-exposures.md
  website/docs/docs/cloud-integrations/overview.md
  website/docs/docs/cloud/about-cloud/about-dbt-cloud.md
  website/docs/docs/collaborate/auto-exposures.md
  website/docs/docs/collaborate/data-tile.md
  website/docs/docs/collaborate/dbt-explorer-faqs.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/collaborate/view-downstream-exposures.md
  website/docs/docs/dbt-versions/2024-release-notes.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/deploy/monitor-jobs.md
  website/docs/docs/deploy/orchestrate-exposures.md
  website/docs/guides/explorer-qs.md
  website/sidebars.js
  website/snippets/_active-auto-exposures-overview.md
  website/snippets/_auto-exposures-considerations-tb.md
  website/snippets/_auto-exposures-view.md
  website/static/img/docs/cloud-integrations/auto-exposures/active-exposure-log.jpg
  website/static/img/docs/cloud-integrations/auto-exposures/active-exposures-env-var.jpg
  website/vercel.json
Labels: content, size: large, guides, Docs team

#7000 SL pbi beta
  website/docs/docs/cloud-integrations/semantic-layer/power-bi.md
  website/docs/docs/dbt-versions/release-notes.md
  website/sidebars.js
  website/snippets/_sl-partner-links.md
  website/static/img/docs/cloud-integrations/sl-pbi/pbi-directquery.jpg
  website/static/img/docs/cloud-integrations/sl-pbi/pbi-encrypted.jpg
  website/static/img/docs/cloud-integrations/sl-pbi/pbi-gateway-cloud-connections.jpg
  website/static/img/docs/cloud-integrations/sl-pbi/pbi-manual-gateway.jpg
  website/static/img/docs/cloud-integrations/sl-pbi/pbi-settings.jpg
  website/static/img/docs/cloud-integrations/sl-pbi/pbi-sidepanel.jpg
  website/static/img/docs/cloud-integrations/sl-pbi/sl-pbi.jpg
  website/static/img/icons/pbi.svg
  website/static/img/icons/white/pbi.svg
Labels: size: medium, Docs team

#7052 Update _git-providers-supporting-ci.md
  website/snippets/_git-providers-supporting-ci.md
Labels: content, size: x-small

#7011 dbt copilot ide ga
  website/docs/docs/cloud/about-cloud/about-dbt-cloud.md
  website/docs/docs/cloud/build-ve-copilot.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-copilot.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-copilot-data.md
  website/docs/docs/cloud/dbt-copilot-faqs.md
  website/docs/docs/cloud/dbt-copilot.md
  website/docs/docs/cloud/enable-dbt-copilot.md
  website/docs/docs/cloud/use-dbt-copilot.md
  website/docs/docs/cloud/use-visual-editor.md
  website/docs/terms/hover-terms.md
  website/sidebars.js
  website/snippets/_dbt-copilot-avail.md
  website/snippets/_use-copilot-edit-code.md
  website/snippets/_use-copilot-resources.md
  website/snippets/_use-copilot-ve.md
  website/static/img/docs/dbt-cloud/copilot-diff.jpg
  website/static/img/docs/dbt-cloud/copilot-generate.jpg
  website/static/img/docs/dbt-cloud/copilot-output.jpg
  website/static/img/docs/dbt-cloud/copilot-ve-formula.gif
  website/static/img/icons/copilot.svg
  website/static/img/icons/white/copilot.svg
  website/vercel.json
Labels: content, size: large, Docs team

#7048 Restore-active-exposures
  website/docs/docs/build/exposures.md
  website/docs/docs/build/view-documentation.md
  website/docs/docs/cloud-integrations/configure-auto-exposures.md
  website/docs/docs/cloud-integrations/downstream-exposures-tableau.md
  website/docs/docs/cloud-integrations/downstream-exposures.md
  website/docs/docs/cloud-integrations/orchestrate-exposures.md
  website/docs/docs/cloud-integrations/overview.md
  website/docs/docs/cloud/about-cloud/about-dbt-cloud.md
  website/docs/docs/collaborate/auto-exposures.md
  website/docs/docs/collaborate/data-tile.md
  website/docs/docs/collaborate/dbt-explorer-faqs.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/collaborate/view-downstream-exposures.md
  website/docs/docs/dbt-versions/2024-release-notes.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/deploy/monitor-jobs.md
  website/docs/docs/deploy/orchestrate-exposures.md
  website/docs/guides/explorer-qs.md
  website/sidebars.js
  website/snippets/_active-auto-exposures-overview.md
  website/snippets/_auto-exposures-considerations-tb.md
  website/snippets/_auto-exposures-view.md
  website/static/img/docs/cloud-integrations/auto-exposures/active-exposure-log.jpg
  website/static/img/docs/cloud-integrations/auto-exposures/active-exposures-env-var.jpg
  website/vercel.json
Labels: content, size: large, Docs team, trigger-crawl

#7054 Update deployment-overview.md
  website/docs/docs/deploy/deployment-overview.md
Labels: content, size: small, Docs team

#7055 Release notes for Developer Day
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small

#6971 loaded_at_query config for freshness
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.10.md
  website/docs/reference/resource-properties/freshness.md
Labels: content, size: medium, Docs team

#7053 Snowflake MFA
  website/docs/docs/cloud/connect-data-platform/connect-snowflake.md
Labels: content, size: x-small

#7057 Change request
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/dbt-versions/2024-release-notes.md
  website/docs/guides/core-to-cloud-3.md
  website/docs/guides/debug-errors.md
Labels: content, size: small, guides

#7056 Add Databricks to Visual Editor
  website/snippets/_visual-editor-prerequisites.md
Labels: content, size: x-small, Docs team

#7040 [DOCS]Update refactoring-legacy-sql.md
  website/docs/guides/refactoring-legacy-sql.md
Labels: content, size: x-small, guides, new contributor

#7041 model query history ga
  website/docs/docs/collaborate/model-query-history.md
Labels: content, size: small, Docs team

#7059 add clarification about jinja vs sql comments
  website/docs/reference/dbt-jinja-functions/ref.md
Labels: content, size: small, Docs team

#7060 Sample flag release note
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#7062 Redshift-managed Serverless PrivateLink update
  website/docs/docs/cloud/secure/redshift-privatelink.md
Labels: size: small, new contributor

#7061 Add new constant component for displaying constant values
  website/constants.js
  website/src/components/constant/index.js
  website/src/theme/MDXComponents/index.js
Labels: content, size: small

#7064 update sl pbi connector image
  website/docs/docs/cloud-integrations/semantic-layer/power-bi.md
  website/static/img/docs/cloud-integrations/sl-pbi/pbi-directquery.jpg
Labels: content, size: x-small, Docs team

#7065 Update account-settings.md
  website/docs/docs/cloud/account-settings.md
Labels: content, size: x-small, Docs team

#7067 azure open byok ga
  website/docs/docs/cloud/account-integrations.md
  website/docs/docs/cloud/enable-dbt-copilot.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#7068 update docs banner
  website/blog/ctas.yml
  website/blog/metadata.yml
  website/docusaurus.config.js
Labels: size: x-small, developer blog, Docs team

#7075 Update about-snowflake-native-app.md
  website/docs/docs/cloud-integrations/about-snowflake-native-app.md
Labels: content, size: x-small

#7076 Update about-snowflake-native-app.md
  website/docs/docs/cloud-integrations/about-snowflake-native-app.md
Labels: content, size: x-small

#7081 Update snowflake-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: x-small

#7080 Update utils for dbt-fabric to tsql-utils
  website/docs/reference/resource-configs/fabric-configs.md
Labels: content, size: x-small, new contributor

#7082 apply sugg
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: x-small, Docs team

#7083 update regex to strip url
  website/src/theme/CodeBlock/Content/String.js
Labels: size: medium, Docs team

#7085 Job viewer update
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
Labels: content, size: x-small

#7084 exposures is missing from dbt_project.yml docs
  website/docs/docs/build/exposures.md
  website/docs/reference/dbt_project.yml.md
  website/docs/reference/define-properties.md
  website/docs/reference/exposure-properties.md
  website/docs/reference/resource-configs/tags.md
Labels: content, size: small, Docs team

#7069 Deleting duplicate entry
  website/docs/reference/artifacts/other-artifacts.md
  website/docs/reference/artifacts/sl-manifest.md
Labels: content, size: small, Docs team

#7070 Moving include to subsection of versions
  website/docs/docs/collaborate/govern/model-versions.md
  website/docs/reference/model-properties.md
  website/docs/reference/resource-properties/include-exclude.md
  website/docs/reference/resource-properties/versions.md
  website/sidebars.js
  website/vercel.json
Labels: content, size: medium, Docs team

#7072 Moving quote to column page
  website/docs/faqs/Project/properties-not-in-config.md
  website/docs/reference/define-properties.md
  website/docs/reference/model-properties.md
  website/docs/reference/resource-properties/columns.md
  website/docs/reference/resource-properties/quote.md
  website/docs/reference/seed-properties.md
  website/docs/reference/snapshot-properties.md
  website/docs/reference/source-properties.md
  website/sidebars.js
  website/vercel.json
Labels: content, size: large, Docs team

#7077 Adding link for granularity
  website/docs/reference/model-properties.md
Labels: content, size: x-small, Docs team

#7088 Updating read-only licenses
  website/docs/docs/cloud/manage-access/about-access.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#7091 Update billing.md
  website/docs/docs/cloud/billing.md
Labels: content

#7073 Updating database definition
  website/docs/reference/resource-configs/database.md
Labels: content, size: x-small, Docs team

#7074 Updating properties not configs
  website/docs/reference/define-properties.md
Labels: content, size: x-small, Docs team

#7094 Caution new feature delay for cautious orgs on Extended
  website/docs/docs/dbt-versions/cloud-release-tracks.md
Labels: content, size: x-small

#7090 Adding license type snippet
  website/docs/docs/cloud/manage-access/about-access.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/snippets/_cloud-license-types.md
Labels: content, size: small, Docs team

#6491 Add dbt-duckdb docs
  website/docs/reference/resource-configs/duckdb-configs.md
  website/sidebars.js
Labels: content, size: large, new contributor

#7095 Warn people not to get into premature-governance
  website/docs/docs/collaborate/govern/about-model-governance.md
  website/docs/docs/collaborate/govern/model-access.md
  website/docs/docs/collaborate/govern/model-contracts.md
  website/docs/docs/collaborate/govern/model-versions.md
  website/snippets/_model-governance-rollback.md
Labels: content, size: small

#7096 model name casing needs to match
  website/docs/docs/build/sql-models.md
  website/docs/reference/model-configs.md
  website/docs/reference/model-properties.md
  website/docs/reference/resource-properties/model_name.md
  website/snippets/_configs-properties.md
Labels: content, size: small, Docs team

#7093 add finer grains example
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: medium, Docs team

#7097 state modifed update
  website/docs/reference/node-selection/methods.md
Labels: content, size: small

#7101 Add sources to BQ guide
  website/docs/guides/bigquery-qs.md
Labels: content, size: medium, guides, Docs team

#7103 Consolidating lines
  website/docs/reference/resource-configs/store_failures.md
Labels: content, size: x-small, Docs team

#7108 Update dbt-copilot.md
  website/docs/docs/cloud/dbt-copilot.md
Labels: content, size: x-small

#7102 New environment variable
  website/docs/docs/build/environment-variables.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#7107 Removing webhooks from table
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: medium, Docs team

#7116 SL supports postgres
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
  website/snippets/_v2-sl-prerequisites.md
Labels: content, size: x-small, Docs team

#7115 SL enabled for ST accounts
  website/docs/docs/cloud-integrations/semantic-layer/excel.md
  website/docs/docs/cloud-integrations/semantic-layer/gsheets.md
  website/docs/docs/cloud-integrations/semantic-layer/power-bi.md
  website/docs/docs/cloud-integrations/semantic-layer/tableau.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/guides/sl-snowflake-qs.md
  website/snippets/_v2-sl-prerequisites.md
Labels: content, size: small, guides, Docs team

#7098 Update deprecation warning in `target_schema`
  website/docs/reference/resource-configs/target_schema.md
Labels: content, size: x-small

#7121 Revert hybrid-setup
  website/docs/docs/deploy/hybrid-setup.md
Labels: content, size: medium

#7105 [MERGE ON MARCH 31st] Deprecating old versions from Cloud
  website/docs/docs/dbt-versions/release-notes.md
  website/snippets/core-versions-table.md
Labels: content, size: x-small, Docs team

#7114 Updating loaded_at_query
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.10.md
  website/docs/reference/resource-properties/freshness.md
Labels: content, size: small, Docs team

#7111 SCIM for SSO beta docs
  website/docs/docs/cloud/manage-access/scim.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/access-control/enable-scim.png
  website/static/img/docs/dbt-cloud/access-control/scim-manual-updates.png
  website/static/img/docs/dbt-cloud/access-control/scim-okta-config.png
  website/static/img/docs/dbt-cloud/access-control/scim-provisioned.png
Labels: content, size: medium, Docs team
