Repository dbt-labs/docs.getdbt.com, pull requests merged in 2025-10, with the labels that each got.

#7976 Fix change_tracking and update catalog_name format
  website/docs/docs/mesh/iceberg/snowflake-iceberg-support.md
Labels: content, new contributor

#7977 add callout to agents.md
  website/snippets/_install-dbt-extension.md
Labels: content, Docs team

#7980 Update _fusion-missing-features.md-remove query_comment
  website/snippets/_fusion-missing-features.md
Labels: content

#7978 Cost management in private preview
  website/docs/docs/cloud/cost-management/cost-management.md
Labels: content, Docs team

#7987 Adding private pill
  website/docs/docs/cloud/cost-management/cost-management.md
  website/src/components/lifeCycle/index.js
  website/src/components/lifeCycle/lifecycle-urls.js
  website/src/components/lifeCycle/styles.module.css
Labels: content, Docs team

#7992 Removing old note
  website/docs/guides/redshift-qs.md
Labels: content, guides, Docs team

#7993 remove CodeGenCodeLens
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
Labels: content, new contributor

#7999 Fix typos in webhook JSON payload examples
  website/docs/docs/deploy/webhooks.md
Labels: content, new contributor

#8001 Update dbt-copilot-faqs.md
  website/docs/docs/cloud/dbt-copilot-faqs.md
Labels: content

#7994 fix first step of GCP Snowflake PSC setup doc
  website/docs/docs/cloud/secure/snowflake-psc.md
Labels: content

#7981 [Publish Oct 8th] MCP Tools
  website/docs/docs/dbt-ai/about-mcp.md
  website/docs/docs/dbt-ai/setup-remote-mcp.md
Labels: content, Docs team

#7995 MCP OAuth [Publish Oct 8th]
  website/docs/docs/dbt-ai/integrate-mcp-claude.md
  website/docs/docs/dbt-ai/integrate-mcp-cursor.md
  website/docs/docs/dbt-ai/integrate-mcp-vscode.md
  website/docs/docs/dbt-ai/setup-local-mcp.md
  website/docs/docs/dbt-versions/release-notes.md
  website/snippets/_mcp-config-files.md
  website/static/img/mcp/select-project.png
Labels: content, Docs team

#8006 Update scim.md
  website/docs/docs/cloud/manage-access/scim.md
Labels: content
