Repository dbt-labs/docs.getdbt.com, pull requests merged in 2025-05, with the labels that each got.

#7272 Mark `microbatch` as a supported strategy for dbt-athena
  website/docs/docs/build/incremental-strategy.md
Labels: content, size: x-small

#7271 Update `require_resource_names_without_space` and `source_freshness_run_project_hooks` to reach cloud maturity in May 2025
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: x-small

#7273 Update discovery-querying.md
  website/docs/docs/dbt-cloud-apis/discovery-querying.md
Labels: content, size: x-small

#7270 Fix example for tag based node selection
  website/docs/reference/resource-configs/tags.md
Labels: size: x-small

#7275 add links to new learn courses
  website/docs/best-practices/materializations/materializations-guide-1-guide-overview.md
  website/docs/docs/build/incremental-models-overview.md
  website/docs/docs/build/materializations.md
  website/docs/docs/build/snapshots.md
  website/docs/guides/create-new-materializations.md
  website/docs/reference/snapshot-configs.md
  website/docs/reference/snapshot-properties.md
  website/snippets/_materialization-video-callout.md
Labels: content, size: medium, guides, Docs team

#7274 Update about-model-governance.md
  website/docs/docs/mesh/govern/about-model-governance.md
Labels: content, size: x-small, Docs team

#7133 Redshift sources for unit tests
  website/docs/docs/build/unit-tests.md
  website/docs/reference/resource-configs/redshift-configs.md
Labels: content, size: x-small

#7277 Update mesh-1-intro.md
  website/docs/best-practices/how-we-mesh/mesh-1-intro.md
Labels: content, size: x-small, Docs team

#7263 Added steps on how to replace API key with PAT
  website/docs/docs/dbt-cloud-apis/user-tokens.md
Labels: content, size: small

#7255 Adding blog post on AI evaluation with dbt
  website/blog/2025-04-04-ai-evaluation-and-how-dbt-can-help.md
  website/blog/authors.yml
  website/static/img/blog/2025-04-04-ai-evaluation-and-how-dbt-can-help/ai_eval_blog_image_four.png
  website/static/img/blog/2025-04-04-ai-evaluation-and-how-dbt-can-help/ai_eval_blog_image_one.png
  website/static/img/blog/2025-04-04-ai-evaluation-and-how-dbt-can-help/ai_eval_blog_image_three.png
  website/static/img/blog/2025-04-04-ai-evaluation-and-how-dbt-can-help/ai_eval_blog_image_two.png
  website/static/img/blog/authors/kyle_dempsey.png
Labels: content, size: medium, developer blog, new contributor

#7279 Added models directory
  website/docs/docs/build/sql-models.md
Labels: content, size: small

#7282 Update connection-profiles.md
  website/docs/docs/core/connect-data-platform/connection-profiles.md
Labels: content, size: x-small

#7283 Update duckdb-qs.md
  website/docs/guides/duckdb-qs.md
Labels: content, size: x-small, guides, new contributor

#7285 Update python-models.md
  website/docs/docs/build/python-models.md
Labels: content, size: x-small

#7287 Fix indentation
  website/docs/docs/deploy/hybrid-setup.md
Labels: content, size: x-small

#7288 Update 2025-04-04-ai-evaluation-and-how-dbt-can-help.md
  website/blog/2025-04-04-ai-evaluation-and-how-dbt-can-help.md
Labels: size: x-small, developer blog

#7278 BigQuery WIF beta docs
  website/docs/docs/cloud/connect-data-platform/connnect-bigquery.md
  website/docs/docs/cloud/manage-access/external-oauth.md
  website/docs/docs/cloud/manage-access/set-up-bigquery-oauth.md
  website/static/img/docs/dbt-cloud/wif/bigquery-adapter.png
Labels: content, size: medium, Docs team

#7289 Fixed BigQuery DataFrames product name
  website/docs/docs/build/python-models.md
  website/docs/docs/cloud/connect-data-platform/connnect-bigquery.md
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
  website/docs/guides/dbt-python-bigframes.md
Labels: content, size: small, guides

#7292 Update redshift-setup.md
  website/docs/docs/core/connect-data-platform/redshift-setup.md
Labels: content, size: x-small

#7290 Update discovery-querying.md
  website/docs/docs/dbt-cloud-apis/discovery-querying.md
Labels: content, size: x-small

#7284 Restructured Python section in Bigquery doc
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: small

#7293 Update bigquery-setup.md
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
Labels: content, size: x-small

#7294 Update set-up-snowflake-oauth.md
  website/docs/docs/cloud/manage-access/set-up-snowflake-oauth.md
Labels: content, size: x-small

#7298 Update set-up-bigquery-oauth.md
  website/docs/docs/cloud/manage-access/set-up-bigquery-oauth.md
Labels: content, size: x-small

#7299 Added more info about package-lock.yml
  website/docs/reference/commands/deps.md
Labels: content, size: x-small

#7276 Update oss-expectations.md
  website/docs/community/resources/oss-expectations.md
Labels: content, size: x-small

#7296 [merge after may 8th] mark core versions 1.7 and 1.8 as EOL
  website/snippets/core-versions-table.md
Labels: content, size: x-small

#7301 Revert because incoming webhooks have been fixed
  website/docs/docs/cloud/git/connect-gitlab.md
Labels: content, size: x-small, Docs team

#7302 Fixing copilot language
  website/docs/docs/cloud/enable-dbt-copilot.md
Labels: content, size: x-small, Docs team

#7304 Update set-up-bigquery-oauth.md
  website/docs/docs/cloud/manage-access/set-up-bigquery-oauth.md
Labels: content, size: x-small

#7155 update private connectivity matrix and Snowflake PL pages
  website/docs/docs/cloud/secure/about-private-connectivity.md
  website/docs/docs/cloud/secure/snowflake-private-link.md
  website/docs/docs/cloud/secure/snowflake-privatelink.md
  website/snippets/_private-connectivity-matrix.md
Labels: content, size: medium

#7310 Docs updates
  website/docs/docs/explore/access-dbt-insights.md
  website/docs/docs/explore/dbt-insights.md
  website/docs/docs/explore/navigate-dbt-insights.md
Labels: content, Docs team

#7309 SCIM doc updates
  website/docs/docs/cloud/manage-access/scim.md
Labels: content, size: x-small, Docs team

#7311 Email verification for SSO
  website/docs/docs/cloud/manage-access/invite-users.md
  website/docs/docs/cloud/manage-access/sso-overview.md
Labels: content, size: small

#7315 Update set-up-bigquery-oauth.md
  website/docs/docs/cloud/manage-access/set-up-bigquery-oauth.md
Labels: content, size: x-small

#7314 Update bigquery-setup.md
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
Labels: content, size: small

#7317 Fixed link to data platforms
  website/docs/docs/build/python-models.md
Labels: content, size: x-small

#7318 Update bigquery-configs.md
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: x-small

#7313 Update CM documentation
  website/docs/docs/cloud/cost-management/cost-management.md
  website/static/img/docs/dbt-cloud/cost-management/cost-management-viewer.png
  website/static/img/docs/dbt-cloud/cost-management/cost-trends.png
  website/static/img/docs/dbt-cloud/cost-management/dashboard-upper.png
  website/static/img/docs/dbt-cloud/cost-management/render-lineage.png
Labels: content, size: small, Docs team

#7319 Update defer doc to clarify deferral order
  website/docs/docs/cloud/about-cloud-develop-defer.md
Labels: content, size: x-small

#7295 Add guidelines for screenshots
  contributing/content-style-guide.md
  contributing/images/callout-thickness.png
  contributing/images/sample-callouts.png
  contributing/images/sample-numbered-callouts.png
Labels: size: small

#7325 Remove unwanted semicolon from SL quickstart
  website/docs/guides/mf-time-spine.md
Labels: content, size: x-small, guides

#7331 Updating CM features
  website/docs/docs/cloud/cost-management/cost-management.md
  website/static/img/docs/dbt-cloud/cost-management/configure-metadata.png
Labels: content, size: x-small, Docs team

#7306 Update compatible-track-changelog.md - May 2025
  website/docs/docs/dbt-versions/compatible-track-changelog.md
Labels: content, size: medium

#7087 Splitting up privatelink docs
  website/blog/2024-04-22-extended-attributes.md
  website/docs/docs/cloud/about-cloud/architecture.md
  website/docs/docs/cloud/secure/about-private-connectivity.md
  website/docs/docs/cloud/secure/about-privatelink.md
  website/docs/docs/cloud/secure/databricks-private-link.md
  website/docs/docs/cloud/secure/databricks-privatelink.md
  website/docs/docs/cloud/secure/ip-restrictions.md
  website/docs/docs/cloud/secure/postgres-privatelink.md
  website/docs/docs/cloud/secure/redshift-privatelink.md
  website/docs/docs/cloud/secure/secure-your-tenant.md
  website/docs/docs/cloud/secure/snowflake-private-link.md
  website/docs/docs/cloud/secure/snowflake-privatelink.md
  website/docs/docs/cloud/secure/vcs-privatelink.md
  website/sidebars.js
  website/snippets/_PrivateLink-SLA.md
  website/snippets/_available-tiers-private-connection.md
  website/snippets/_private-connection-SLA.md
  website/snippets/_private-connection-across-providers.md
  website/snippets/_private-connection-hostname-restriction.md
  website/snippets/_private-connectivity-matrix.md
  website/snippets/_privatelink-across-providers.md
  website/snippets/_privatelink-hostname-restriction.md
  website/vercel.json
Labels: content, size: large, Docs team

#7329 Updating deprecations list
  website/docs/reference/deprecations.md
  website/static/img/docs/dbt-cloud/deprecation-list.png
  website/static/img/docs/dbt-cloud/deprecation-warnings.png
Labels: content, size: medium, Docs team

#7332 Removing updated content tags from guide
  website/docs/guides/adapter-creation.md
  website/docs/guides/airflow-and-dbt-cloud.md
  website/docs/guides/bigquery-qs.md
  website/docs/guides/building-packages.md
  website/docs/guides/core-cloud-2.md
  website/docs/guides/core-to-cloud-1.md
  website/docs/guides/core-to-cloud-3.md
  website/docs/guides/create-new-materializations.md
  website/docs/guides/custom-cicd-pipelines.md
  website/docs/guides/customize-schema-alias.md
  website/docs/guides/databricks-qs.md
  website/docs/guides/dbt-models-on-databricks.md
  website/docs/guides/dbt-python-bigframes.md
  website/docs/guides/dbt-python-snowpark.md
  website/docs/guides/debug-errors.md
  website/docs/guides/debug-schema-names.md
  website/docs/guides/dremio-lakehouse.md
  website/docs/guides/explorer-qs.md
  website/docs/guides/how-to-use-databricks-workflows-to-run-dbt-cloud-jobs.md
  website/docs/guides/manual-install-qs.md
  website/docs/guides/mf-time-spine.md
  website/docs/guides/microsoft-fabric-qs.md
  website/docs/guides/migrate-from-spark-to-databricks.md
  website/docs/guides/migrate-from-stored-procedures.md
  website/docs/guides/productionize-your-dbt-databricks-project.md
  website/docs/guides/refactoring-legacy-sql.md
  website/docs/guides/serverless-datadog.md
  website/docs/guides/serverless-pagerduty.md
  website/docs/guides/set-up-ci.md
  website/docs/guides/set-up-your-databricks-dbt-project.md
  website/docs/guides/sl-migration.md
  website/docs/guides/sl-partner-integration-guide.md
  website/docs/guides/sl-snowflake-qs.md
  website/docs/guides/using-jinja.md
  website/docs/guides/zapier-ms-teams.md
  website/docs/guides/zapier-refresh-mode-report.md
  website/docs/guides/zapier-refresh-tableau-workbook.md
  website/docs/guides/zapier-slack.md
Labels: content, size: small, guides, Docs team

#7339 Update 4-marts.md
  website/docs/best-practices/how-we-structure/4-marts.md
Labels: content, size: x-small, new contributor

#7323 Cleanup of v1.7
  website/dbt-versions.js
  website/docs/docs/build/data-tests.md
  website/docs/docs/build/metricflow-commands.md
  website/docs/docs/build/metrics-overview.md
  website/docs/docs/build/packages.md
  website/docs/docs/build/saved-queries.md
  website/docs/docs/cloud/connect-data-platform/connect-snowflake.md
  website/docs/docs/core/connect-data-platform/postgres-setup.md
  website/docs/docs/core/connect-data-platform/profiles.yml.md
  website/docs/docs/core/connect-data-platform/snowflake-setup.md
  website/docs/docs/core/pip-install.md
  website/docs/docs/core/source-install.md
  website/docs/docs/dbt-versions/core-upgrade/08-upgrading-to-v1.7.md
  website/docs/docs/use-dbt-semantic-layer/exports.md
  website/docs/guides/migrate-from-spark-to-databricks.md
  website/docs/reference/commands/deps.md
  website/docs/reference/commands/test.md
  website/docs/reference/global-configs/behavior-changes.md
  website/docs/reference/global-configs/project-flags.md
  website/docs/reference/global-configs/resource-type.md
  website/docs/reference/global-configs/warnings.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/programmatic-invocations.md
  website/docs/reference/resource-configs/access.md
  website/docs/reference/resource-configs/databricks-configs.md
  website/docs/reference/resource-configs/meta.md
  website/docs/reference/resource-properties/description.md
  website/docs/reference/resource-properties/freshness.md
  website/docs/reference/resource-properties/versions.md
  website/snippets/_config-dbt-version-check.md
  website/snippets/_setup-pages-intro.md
  website/snippets/core-versions-table.md
Labels: content, size: large

#7342 Update pypi badge for athena to point to `dbt-athena`
  website/snippets/_adapters-trusted.md
Labels: content, size: x-small

#7355 More deprecations
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.10.md
  website/docs/reference/deprecations.md
Labels: content, size: x-small, size: medium, size: small, Docs team

#7347 fix defaults for behavior change flags
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: small

#7349 Updating dashboard docs
  website/docs/docs/cloud/cost-management/cost-management.md
  website/static/img/docs/dbt-cloud/cost-management/consumption-queries.png
  website/static/img/docs/dbt-cloud/cost-management/cost.png
  website/static/img/docs/dbt-cloud/cost-management/lens-consumption-query-history.png
  website/static/img/docs/dbt-cloud/cost-management/lens-execution-cost.png
  website/static/img/docs/dbt-cloud/cost-management/lens-resource-type.png
  website/static/img/docs/dbt-cloud/cost-management/query-execution-count.png
  website/static/img/docs/dbt-cloud/cost-management/resource-description.png
Labels: content, size: medium, Docs team

#7338 Query updates
  website/docs/docs/cloud/git/connect-github.md
  website/docs/docs/explore/access-dbt-insights.md
  website/docs/docs/explore/navigate-dbt-insights.md
  website/sidebars.js
  website/static/img/docs/dbt-insights/develop-menu.png
  website/static/img/docs/dbt-insights/insights-chart.png
  website/static/img/docs/dbt-insights/insights-copilot.png
  website/static/img/docs/dbt-insights/insights-details.png
  website/static/img/docs/dbt-insights/insights-explorer.png
  website/static/img/docs/dbt-insights/insights-export-csv.png
  website/static/img/docs/dbt-insights/insights-main.png
  website/static/img/docs/dbt-insights/insights-query-history.png
  website/static/img/docs/dbt-insights/insights-results.png
  website/static/img/docs/dbt-insights/manage-bookmarks.png
Labels: content, size: medium, Docs team

#7361 Redirect fix
  website/vercel.json
Labels: size: x-small, Docs team

#7365 Update Onehouse SQL link
  website/docs/docs/cloud/connect-data-platform/connect-onehouse.md
Labels: content, size: x-small

#7372 Update CoC to include fusion repo and capture broader virtual events set
  website/docs/community/resources/code-of-conduct.md
Labels: content, size: x-small

#7368 Fix broken link to section header in "External Metadata Ingestion" page
  website/docs/docs/explore/external-metadata-ingestion.md
Labels: content, size: x-small

#7370 Add troubleshooting step
  website/docs/guides/fusion-qs.md
  website/snippets/_about-fusion.md
Labels: content, size: small, guides, Docs team

#7377 Update snowflake-iceberg-support.md
  website/docs/docs/mesh/iceberg/snowflake-iceberg-support.md
Labels: content, size: x-small

#7378 Update 05-upgrading-to-v1.10.md
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.10.md
Labels: content, size: x-small, Docs team

#7359 Updated freshness examples
  website/docs/docs/build/sources.md
  website/docs/faqs/Project/exclude-table-from-freshness.md
  website/docs/reference/commands/source.md
  website/docs/reference/resource-properties/freshness.md
  website/docs/reference/resource-properties/overrides.md
Labels: content, size: medium

#7383 Fixed link to fusion blog
  website/docs/docs/fusion/supported-features.md
Labels: content, size: x-small

#7385 Unlist doc
  website/docs/docs/mesh/iceberg/databricks-iceberg-support.md
Labels: content, size: x-small, Docs team

#7390 Update snowflake-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: x-small
