Repository dbt-labs/docs.getdbt.com, pull requests merged in 2025-07, with the labels that each got.

#7303 Added workaround for column titles in mixed case
  website/docs/reference/resource-configs/persist_docs.md
Labels: content, size: small

#7583 Add audit log retention period
  website/docs/docs/cloud/manage-access/audit-log.md
Labels: content, size: x-small

#7581 Update scim.md
  website/docs/docs/cloud/manage-access/scim.md
Labels: content, size: x-small

#7587 Add ModelParamUsageDeprecation in deprecations
  website/docs/reference/deprecations.md
Labels: content, size: x-small

#7595 File editor amendments
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
Labels: content, size: x-small, size: small

#7597 Canvas is GA
  website/docs/guides/canvas-qs.md
Labels: content, guides

#7585 Remove and redirect report-a-problem page
  website/src/pages/report-a-problem.js
  website/vercel.json
Labels: size: small

#7563 dbt_scd_id
  website/docs/reference/resource-configs/snapshot_meta_column_names.md
Labels: content, size: x-small, size: small

#7554 add a july 2025 note regarding skipping compatible track release
  website/docs/docs/dbt-versions/compatible-track-changelog.md
Labels: content, size: x-small

#7598 Update enable-dbt-copilot.md
  website/docs/docs/cloud/enable-dbt-copilot.md
Labels: content, size: x-small

#7584 Update mesh-2-who-is-dbt-mesh-for.md - Fix Ratio English
  website/docs/best-practices/how-we-mesh/mesh-2-who-is-dbt-mesh-for.md
Labels: content, size: x-small, new contributor

#7573 Added the missing dbt seed command to the duckdb quickstart guide
  website/docs/guides/duckdb-qs.md
Labels: content, size: x-small, guides

#7599 Update upgrade-dbt-version-in-cloud.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
  website/docs/docs/fusion/supported-features.md
  website/docs/guides/fusion-qs.md
Labels: content, size: x-small, size: small, Docs team

#7602 Add release note for SL
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, size: medium

#7613 python_functions bq dataframe quick doc update
  website/docs/docs/build/python-models.md
Labels: content, size: x-small

#7580 Update 2024-05-07-unit-testing.md
  website/blog/2024-05-07-unit-testing.md
  website/static/img/blog/2024-05-07-unit-testing/changed_code.png
Labels: size: x-small, size: small, developer blog, Docs team

#7615 Replace --models with --select
  website/docs/reference/node-selection/syntax.md
Labels: content, size: x-small

#7603 EMI updates
  website/docs/docs/explore/external-metadata-ingestion.md
Labels: content, size: small

#7616 small nit change
  website/docs/docs/build/python-models.md
Labels: content, size: x-small

#7619 misspelling
  website/docs/reference/global-configs/logs.md
Labels: content, size: x-small, new contributor

#7614 Remove non-paginated samples
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
Labels: content, size: medium

#7607 retry_on_database_errors
  website/docs/docs/core/connect-data-platform/snowflake-setup.md
Labels: content, size: small

#7504 Jinja compilation environment
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/docs/explore/access-dbt-insights.md
  website/static/img/docs/dbt-insights/insights-jinja-environment.png
Labels: content, size: x-small, size: small, Docs team

#7624 Img update for Analyze your data in dbt guide
  website/docs/guides/analyze-data-qs.md
  website/static/img/guides/analyst-qs/catalog-search.png
  website/static/img/guides/analyst-qs/details.png
  website/static/img/guides/analyst-qs/query.png
Labels: content, size: x-small

#7621 Fix info about the --model flag
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.10.md
  website/docs/reference/deprecations.md
Labels: content, size: x-small

#7106 H3 to H2 upgrade (please don't merge just yet)
  website/docs/docs/core/pip-install.md
Labels: content, size: x-small, size: small

#7634 Add information on `GenericJSONSchemaValidationDeprecation` deprecation
  website/docs/reference/deprecations.md
Labels: content, size: x-small, size: small

#7635 Remove tags under config for lf_tags_config
  website/docs/reference/resource-configs/athena-configs.md
Labels: content, size: x-small

#7638 Snippet for env_var function
  website/docs/docs/core/connect-data-platform/connection-profiles.md
  website/docs/reference/dbt-jinja-functions/env_var.md
  website/snippets/_env-var-secrets.md
Labels: content, size: small

#7628 Update SL docs to mention Fusion limitation
  website/docs/docs/use-dbt-semantic-layer/dbt-sl.md
  website/docs/docs/use-dbt-semantic-layer/setup-sl.md
  website/snippets/_sl-run-prod-job.md
Labels: content, size: small

#7641 Incremental predicates
  website/docs/docs/build/incremental-models.md
  website/docs/docs/build/incremental-strategy.md
  website/snippets/_incremental-predicates.md
Labels: content, size: medium

#7646 Add SL release note for new parameters
  website/docs/docs/build/saved-queries.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small

#7650 Add deprecation to Using the + prefix doc and some formatting fixes
  website/docs/reference/deprecations.md
  website/docs/reference/resource-configs/plus-prefix.md
  website/snippets/_missing-prefix.md
Labels: content, size: small

#7651 Images update for Leverage dbt to generate...guide
  website/docs/guides/dbt-python-snowpark.md
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/5-development-schema-name/1-settings-gear-icon.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/5-development-schema-name/4-initialize-dbt-project.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/5-development-schema-name/5-first-commit-and-push.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/5-development-schema-name/6-initalize-project.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/5-development-schema-name/7-IDE-overview.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/7-folder-structure/1-create-folder.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/7-folder-structure/2-file-path.png
Labels: content, size: x-small, guides

#7653 Add more info about defining groups
  website/docs/best-practices/how-we-structure/5-the-rest-of-the-project.md
  website/docs/docs/build/groups.md
  website/snippets/_define-groups.md
Labels: content, size: medium

#7654 Power bi integration preview
  website/docs/docs/cloud-integrations/semantic-layer/power-bi.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: small

#7658 Update snapshot-configs.md
  website/docs/reference/snapshot-configs.md
Labels: content, size: x-small

#7660 sql_header
  website/docs/reference/resource-configs/sql_header.md
Labels: content, size: small

#7659 Metricflow time spine
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: x-small

#7666 Update expandable to have is_open configurable
  website/src/components/expandable/index.js
Labels: size: x-small

#7664 Image refresh part 5
  website/docs/docs/cloud/git/setup-azure-service-user.md
  website/static/img/api-access-profile.jpg
  website/static/img/docs/dbt-cloud/connecting-azure-devops/azure-service-user.png
  website/static/img/docs/dbt-cloud/read-only-access.png
  website/static/img/docs/dbt-cloud/snowflake-link-dbt-cloud.png
  website/static/img/docs/dbt-cloud/teradata-deployment.png
  website/static/img/docs/dbt-cloud/write-access.png
  website/static/img/repository-details-faq.jpg
Labels: content, size: small

#7669 SCIM Availability
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#7674 update the Redshift docs with tcp-keepalive configurations
  website/docs/docs/core/connect-data-platform/redshift-setup.md
Labels: content, size: x-small

#7671 Img refresh 2025
  website/docs/guides/dbt-python-snowpark.md
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/13-testing/1-generic-testing-file-tree.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/13-testing/2-macro-testing.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/13-testing/3-gte-macro-applied-to-pit-stops.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/13-testing/4-custom-singular-test.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/14-documentation/1-docs-icon.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/15-deployment/1-merge-to-main-branch.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/15-deployment/2-ui-select-environments.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/15-deployment/4-run-production-job.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/7-folder-structure/3-tree-of-new-folders.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/8-sources-and-staging/1-staging-folder.png
  website/static/img/guides/dbt-ecosystem/dbt-python-snowpark/8-sources-and-staging/2-delete-example.png
Labels: content, size: x-small, size: small, guides

#7676 Generic test `arguments` deprecations and behavior change flags
  website/docs/reference/deprecations.md
  website/docs/reference/global-configs/behavior-changes.md
Labels: content, size: medium

#7684 Update 2025-07-111-train-linear-regression-model-dbt-bigframes.md
  website/blog/2025-07-111-train-linear-regression-model-dbt-bigframes.md
Labels: size: x-small, developer blog, Docs team

#7690 Dynamic tables link correction
  website/docs/docs/mesh/iceberg/snowflake-iceberg-support.md
Labels: content, size: x-small

#7691 Snowflake MFA enforcement
  website/docs/docs/cloud/connect-data-platform/connect-snowflake.md
Labels: content, size: small

#7703 Add signed commits requirement
  website/docs/community/contributing/contributing-coding.md
Labels: content, size: x-small

#7702 Refactor Examples section
  website/docs/reference/global-configs/resource-type.md
Labels: content, size: medium

#7700 Update tags doc
  website/docs/reference/resource-configs/tags.md
Labels: content, size: small

#7705 Creating packages
  website/docs/docs/build/packages.md
Labels: content, size: small

#7707 document ModulesItertoolsUsageDeprecation
  website/docs/reference/dbt-jinja-functions/modules.md
  website/docs/reference/deprecations.md
Labels: content, size: medium

#7668 Rework static analysis docs
  website/docs/docs/fusion/new-concepts.md
  website/src/manim-visualizations/.gitignore
  website/src/manim-visualizations/README.md
  website/src/manim-visualizations/fusion_static_analysis_concepts.py
  website/src/manim-visualizations/manim.cfg
  website/src/manim-visualizations/requirements.txt
  website/static/img/fusion/CoreJitRun.mp4
  website/static/img/fusion/FusionAotRun.mp4
  website/static/img/fusion/FusionJitCompileUnsafe.mp4
  website/static/img/fusion/FusionJitRunUnsafe.mp4
  website/static/img/fusion/FusionJitRunUnsafeComplexDag.mp4
  website/static/img/fusion/annotated_steps.png
  website/static/img/fusion/aot-compilation.png
  website/static/img/fusion/introspection-mixed.png
  website/static/img/fusion/introspection-normal.png
  website/static/img/fusion/jit-compilation.png
Labels: content, size: large

#7712 Update gitlab notification
  website/docs/docs/cloud/git/connect-gitlab.md
Labels: content, size: x-small, Docs team

#7713 Adding context to build_after
  website/docs/reference/model-configs.md
  website/docs/reference/resource-configs/freshness.md
Labels: content, size: small, Docs team

#7718 Update database admin permissions
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small, Docs team

#7610 added documentation for external-tables and fallback_schema
  website/docs/reference/resource-configs/teradata-configs.md
Labels: content, size: medium

#7720 Joellabes service token updates
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
  website/docs/docs/dbt-cloud-apis/service-tokens.md
Labels: content, size: small

#7721 Updating Stakeholder role
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small, Docs team
