Repository dbt-labs/docs.getdbt.com, pull requests merged in 2025-01, with the labels that each got.

#6720 Update incremental-microbatch.md
  website/docs/docs/build/incremental-microbatch.md
Labels: content, size: x-small, new contributor

#6717 Fix fragment identifier
  website/docs/reference/commands/run-operation.md
Labels: content, size: x-small

#6719 6715 improve documentation for dbt clean options
  website/docs/docs/dbt-versions/core-upgrade/08-upgrading-to-v1.7.md
  website/docs/reference/commands/clean.md
Labels: content, size: small

#6721 Update batch_size.md
  website/docs/reference/resource-configs/batch_size.md
Labels: content, size: x-small, Docs team

#6723 Update connection-profiles.md
  website/docs/docs/core/connect-data-platform/connection-profiles.md
  website/docs/docs/core/connect-data-platform/profiles.yml.md
Labels: content, size: small, Docs team

#6722 add clarification about groups and licenses
  website/docs/docs/cloud/manage-access/about-access.md
Labels: content, size: small, Docs team

#6725 Fix typo
  website/docs/docs/build/unit-tests.md
Labels: content, size: x-small

#6726 Fixing link
  website/blog/2024-05-07-unit-testing.md
Labels: size: x-small, developer blog, Docs team

#6724 Move 'delete job/env' content to dedicated environment pages
  website/docs/docs/dbt-cloud-environments.md
  website/docs/docs/deploy/deploy-environments.md
  website/docs/docs/deploy/deploy-jobs.md
  website/docs/faqs/Environments/delete-environment-job.md
  website/snippets/_delete-environment.md
  website/snippets/_delete-job.md
Labels: content, size: medium, Docs team

#6727 Added multiple project call out
  website/docs/docs/build/projects.md
Labels: content, size: x-small

#6731 update check cols all syntax to be correct
  website/docs/reference/resource-configs/check_cols.md
Labels: content, size: x-small

#6732 Update usage-stats.md
  website/docs/reference/global-configs/usage-stats.md
Labels: content, size: x-small, Docs team

#6739 Update incremental-models.md
  website/docs/docs/build/incremental-models.md
Labels: content, size: x-small, new contributor

#6737 add plus operator example to tags doc
  website/docs/reference/node-selection/graph-operators.md
  website/docs/reference/resource-configs/tags.md
Labels: content, size: small, Docs team

#6740 chore: remove duplicated 'the'
  website/blog/2022-04-19-dbt-cloud-postman-collection.md
  website/blog/2022-05-17-stakeholder-friendly-model-names.md
  website/docs/docs/cloud/manage-access/set-up-sso-okta.md
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/dbt-versions/release-notes/99-dbt-cloud-changelog-2019-2020.md
  website/docs/reference/dbt-jinja-functions/run_started_at.md
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: medium, developer blog, new contributor

#6729 Update version.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/reference/commands/version.md
Labels: content, size: x-small

#6742 remove grant usage on redshift permissions
  website/docs/reference/database-permissions/redshift-permissions.md
Labels: content, size: x-small, Docs team

#6743 Fix tip callout box in Redshift Quickstart guide
  website/docs/guides/redshift-qs.md
Labels: content, size: x-small, guides

#6745 Deleted old prod settings img files
  website/static/img/docs/dbt-cloud/using-dbt-cloud/prod-settings.jpg
  website/static/img/docs/dbt-cloud/using-dbt-cloud/prod-settings.png
Labels: content, size: x-small

#6733 update description property page
  website/docs/reference/resource-properties/description.md
Labels: content, size: medium, Docs team

#6746 add context about updated_at support
  website/docs/docs/build/snapshots.md
  website/docs/reference/resource-configs/updated_at.md
Labels: content, size: x-small, Docs team

#6749 update dbt_is_deleted to string
  website/docs/docs/build/snapshots.md
  website/docs/reference/resource-configs/snapshot_meta_column_names.md
Labels: content, size: medium, Docs team

#6750 Updating links
  website/docs/docs/cloud/manage-access/set-up-sso-google-workspace.md
  website/docs/docs/cloud/manage-access/set-up-sso-microsoft-entra-id.md
Labels: content, size: x-small, Docs team

#6752 Fix: Update metrics-overview.md Cumulative Metrics Section
  website/docs/docs/build/metrics-overview.md
Labels: content, size: x-small, new contributor

#6754 Update databricks daggers
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: medium

#6748 Update upgrade-dbt-version-in-cloud.md
  website/docs/docs/dbt-versions/upgrade-dbt-version-in-cloud.md
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/example-override-version.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/choosing-dbt-version/example-verify-overridden-version.png
  website/static/img/docs/dbt-cloud/cloud-configuring-dbt-cloud/cloud-upgrading-dbt-versions/upgrade-environment.png
Labels: content, size: small, Docs team

#6399 Update where.md to enhance the usability of the example
  website/docs/reference/resource-configs/where.md
Labels: content, size: small, new contributor

#6692 Git providers supporting CI
  website/docs/docs/cloud/git/git-configuration-in-dbt-cloud.md
  website/docs/docs/cloud/git/import-a-project-by-git-url.md
  website/docs/docs/deploy/about-ci.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/continuous-integration.md
  website/snippets/_git-providers-supporting-ci.md
Labels: content, size: small

#6751 Adding user license to audit log
  website/docs/docs/cloud/manage-access/audit-log.md
Labels: content, size: x-small, Docs team

#6659 Change SAML instructions to not use email for NameID
  website/docs/docs/cloud/manage-access/set-up-sso-okta.md
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/okta/okta-3-saml-settings-top.png
Labels: content, size: small

#6755 add context about yaml config
  website/docs/docs/build/metricflow-time-spine.md
Labels: content, size: small, Docs team

#6758 add note about webhook limit
  website/docs/docs/deploy/webhooks.md
Labels: size: small, Docs team

#6762 Update run-results-json.md
  website/docs/reference/artifacts/run-results-json.md
Labels: content, size: x-small

#6761 Update 06-upgrading-to-v1.9.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
Labels: content, size: x-small, Docs team

#6763 Update snowflake-qs.md
  website/docs/guides/snowflake-qs.md
Labels: content, size: x-small, guides

#6765 Change callout on staging environments
  website/blog/2023-11-14-specify-prod-environment.md
Labels: size: x-small, developer blog

#6766 caveat that incremental model needs to exist in the db before running unit test
  website/docs/docs/build/unit-tests.md
Labels: content, size: small, Docs team

#6760 clarify what type of time column can be used for event_time
  website/docs/reference/resource-configs/event-time.md
Labels: content, size: small, Docs team

#6757 add model example in tags doc
  website/docs/reference/resource-configs/tags.md
Labels: content, size: medium, Docs team

#6767 Update customize-schema-alias.md
  website/docs/guides/customize-schema-alias.md
Labels: content, size: x-small, guides, Docs team

#6769 Update deploy-jobs.md
  website/docs/docs/deploy/deploy-jobs.md
Labels: content, size: x-small, Docs team

#6771 add related docs to custom schema/alias/db
  website/docs/docs/build/custom-aliases.md
  website/docs/docs/build/custom-databases.md
  website/docs/docs/build/custom-schemas.md
Labels: content, size: small, Docs team

#6764 Add changelogs for 1/2025 compatible update
  website/docs/docs/dbt-versions/compatible-track-changelog.md
Labels: content, size: small

#6773 Updated Microsoft Excel doc to add additional info on 1 min time limit
  website/docs/docs/cloud-integrations/semantic-layer/excel.md
Labels: content, size: x-small

#6780 Update data-tests.md (clarify usage of singular tests in the `tests` directory)
  website/docs/docs/build/data-tests.md
Labels: content, size: x-small

#6741 Update snowflake-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: x-small

#6774 add visibility to where filter and clarify where text
  website/docs/docs/build/metricflow-commands.md
Labels: content, size: medium, Docs team

#6787 Adding supported adapters to hard_deletes
  website/docs/reference/resource-configs/hard-deletes.md
Labels: content, size: x-small, Docs team

#6782 alphabetize submenus on docs sidebar
  website/docs/docs/build/enhance-your-code.md
  website/docs/docs/build/incremental-strategy.md
  website/docs/docs/cloud/about-cloud-develop-defer.md
  website/docs/docs/connect-adapters.md
  website/docs/docs/dbt-cloud-apis/sl-api-overview.md
  website/docs/docs/dbt-cloud-apis/user-tokens.md
  website/docs/docs/deploy/monitor-jobs.md
  website/docs/docs/supported-data-platforms.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#6788 Update lint-format.md
  website/docs/docs/cloud/dbt-cloud-ide/lint-format.md
Labels: content, size: x-small, Docs team

#6783 clarify update/insert/replace in microbatch
  website/docs/docs/build/incremental-microbatch.md
Labels: content, size: small, Docs team

#6789 Note that dbt parse doesn't put compiled code in its manifest
  website/docs/reference/commands/parse.md
Labels: content, size: x-small

#6784 Deprecated environment variables for state and defer
  website/docs/reference/node-selection/syntax.md
Labels: content, size: small

#6791 add changelog link to release track
  website/docs/docs/dbt-versions/cloud-release-tracks.md
Labels: content, size: x-small, Docs team

#6792 clarify snapshot folder location
  website/docs/reference/snapshot-configs.md
Labels: content, size: small, Docs team

#6647 Adding ADO service principal
  website/docs/docs/cloud/git/setup-azure.md
  website/static/img/docs/cloud-integrations/assign-app-to-members.png
  website/static/img/docs/cloud-integrations/azure-subscription.png
  website/static/img/docs/cloud-integrations/create-service-principal.png
  website/static/img/docs/cloud-integrations/review-and-assign.png
  website/static/img/docs/cloud-integrations/service-principal-fields.png
  website/static/img/docs/dbt-cloud/connecting-azure-devops/AD app.png
  website/static/img/docs/dbt-cloud/connecting-azure-devops/add-service-principal.png
Labels: content, size: medium, Docs team

#6779 Adding entra ID sso saml migration
  website/docs/docs/cloud/manage-access/auth0-migration.md
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
  website/static/img/docs/dbt-cloud/access-control/azure-enable.png
  website/static/img/docs/dbt-cloud/access-control/edit-entra-saml.png
  website/static/img/docs/dbt-cloud/access-control/entra-id-saml.png
  website/static/img/docs/dbt-cloud/access-control/google-enable.png
  website/static/img/docs/dbt-cloud/access-control/new-okta-completed.png
  website/static/img/docs/dbt-cloud/access-control/new-okta-config.png
  website/static/img/docs/dbt-cloud/access-control/saml-enable-entra.png
  website/static/img/docs/dbt-cloud/access-control/saml-enable.png
  website/static/img/docs/dbt-cloud/access-control/sso-uri.png
Labels: content, size: medium, Docs team

#6794 Staging Environment
  website/snippets/_cloud-environments-info.md
Labels: content, size: small

#6790 add rn entry for refreshing access token after snowflake sso expiration
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#6786 Move limitation to more appropriate location for athena configs
  website/docs/reference/resource-configs/athena-configs.md
Labels: content, size: small, Docs team

#6795 Archiving 2024 release notes
  website/docs/docs/dbt-versions/2024-release-notes.md
  website/docs/docs/dbt-versions/release-notes.md
  website/sidebars.js
Labels: content, size: large, Docs team

#6797 Move metrics key
  website/docs/docs/build/metrics-overview.md
Labels: size: small, Docs team

#6775 add metric alias to sl api
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: large, Docs team

#6798 sl rn saved queries w no exports
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#6694 [merge jan 21st] add devhub blog entry - data control plane
  website/blog/2024-12-22-wish-i-had-a-control-plane-for-my-renovation.md
  website/blog/authors.yml
  website/static/img/blog/2024-12-22-why-i-wish-i-had-a-control-plane-for-my-renovation/control-plane.png
  website/static/img/blog/authors/mwan.png
Labels: content, size: medium, developer blog, Docs team

#6785 Shutdown final terms
  website/docs/terms/elt.md
  website/docs/terms/etl.md
  website/docs/terms/reverse-etl.md
  website/vercel.json
Labels: content, size: large

#6804 add azure region to email template
  website/docs/docs/cloud/secure/databricks-privatelink.md
Labels: content, size: x-small, Docs team

#6776 Created a new dark mode document
  website/docs/docs/cloud/about-cloud/dark-mode.md
  website/docs/docs/dbt-versions/release-notes.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/using-dbt-cloud/dark-mode.png
  website/static/img/docs/dbt-cloud/using-dbt-cloud/theme-selection-in-the-ide.png
Labels: content, size: small

#6793 add slack to enterprise table
  website/docs/docs/cloud/account-integrations.md
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small, Docs team

#6807 Removing Azure preview tags
  website/docs/docs/cloud/about-cloud/tenancy.md
  website/snippets/cloud-feature-parity.md
Labels: content, size: x-small, Docs team

#6809 Update account-integrations.md
  website/docs/docs/cloud/account-integrations.md
Labels: content, size: x-small, Docs team

#6808 Update model-query-history.md
  website/docs/docs/collaborate/model-query-history.md
Labels: size: x-small, Docs team

#6800 add section to explain select and selector
  website/docs/reference/node-selection/methods.md
  website/docs/reference/node-selection/syntax.md
  website/docs/reference/node-selection/yaml-selectors.md
Labels: content, size: small, Docs team

#6811 clarify metrics key location
  website/docs/docs/build/metrics-overview.md
Labels: content, size: small, Docs team

#6813 add SL rn about newlines added to ide error msgs
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#6810 Updated dark mode doc
  website/docs/docs/cloud/about-cloud/change-your-dbt-cloud-theme.md
  website/docs/docs/dbt-versions/release-notes.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/using-dbt-cloud/light-vs-dark.png
  website/vercel.json
Labels: content, size: small

#6577 updated according to dbt-teradata 1.8.2
  website/docs/docs/core/connect-data-platform/teradata-setup.md
  website/docs/reference/resource-configs/teradata-configs.md
Labels: content, size: medium

#6816 Update description.md
  website/docs/reference/resource-properties/description.md
Labels: content, size: x-small, Docs team

#6814 Update teradata-configs.md
  website/docs/reference/resource-configs/teradata-configs.md
Labels: content, size: small, Docs team

#6812 Update _cloud-environments-info.md
  website/snippets/_cloud-environments-info.md
Labels: size: small

#6819 Update metricflow-commands.md
  website/docs/docs/build/metricflow-commands.md
Labels: content, size: x-small, Docs team

#6821 Levels of SQL Execution blog post
  website/blog/2025-01-23-levels-of-sql-comprehension.md
  website/static/img/blog/2025-01-23-levels-of-sql-comprehension/level_1.png
  website/static/img/blog/2025-01-23-levels-of-sql-comprehension/level_2.png
  website/static/img/blog/2025-01-23-levels-of-sql-comprehension/level_3.png
  website/static/img/blog/2025-01-23-levels-of-sql-comprehension/validation_all_levels.png
Labels: content, size: medium, developer blog

#6823 SDF webinar CTA
  website/blog/ctas.yml
  website/blog/metadata.yml
Labels: size: x-small, developer blog

#6824 Updating sites in footer
  website/docusaurus.config.js
Labels: size: x-small, Docs team

#6822 add new dbt invocation command
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/configure-cloud-cli.md
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/faqs/Troubleshooting/long-sessions-cloud-cli.md
  website/docs/reference/commands/invocation.md
  website/docs/reference/dbt-commands.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#6829 migrate blog
  website/blog/2025-01-24-sql-comprehension-technologies.md
  website/blog/authors.yml
  website/static/img/blog/2025-01-24-sql-comprehension-technologies/binder.png
  website/static/img/blog/2025-01-24-sql-comprehension-technologies/compiler.png
  website/static/img/blog/2025-01-24-sql-comprehension-technologies/full_translation_flow.png
  website/static/img/blog/2025-01-24-sql-comprehension-technologies/logical_plan.png
  website/static/img/blog/2025-01-24-sql-comprehension-technologies/parser.png
  website/static/img/blog/2025-01-24-sql-comprehension-technologies/sentence_syntax_tree.png
  website/static/img/blog/2025-01-24-sql-comprehension-technologies/sql_syntax_tree.png
Labels: content, size: medium, developer blog

#6828 sl support --favor-state
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#6817 update full refresh
  website/docs/reference/resource-configs/full_refresh.md
Labels: content, size: small, Docs team

#6831 Quick edits to 2025-01-24-sql-comprehension-technologies.md
  website/blog/2025-01-24-sql-comprehension-technologies.md
Labels: size: small, developer blog

#6502 Nfiann-prerelease
  website/docs/docs/core/pip-install.md
Labels: content, size: medium

#6681 Create a Python virtual environment
  website/docs/docs/core/pip-install.md
  website/package-lock.json
  website/sidebars.js
Labels: content, size: medium

#6833 Remove 'databricks' as having microbatch concurrency support
  website/docs/docs/build/incremental-microbatch.md
Labels: content, size: x-small

#6835 docs: update best practices for grants
  website/docs/best-practices/best-practice-workflows.md
Labels: content, size: small

#6838 Updating SSO migration
  website/docs/docs/cloud/manage-access/auth0-migration.md
  website/static/img/docs/dbt-cloud/access-control/entra-id-saml.png
  website/static/img/docs/dbt-cloud/access-control/sso-uris.png
Labels: content, size: small, Docs team

#6826 Rearranging ADO page
  website/docs/docs/cloud/git/connect-azure-devops.md
  website/docs/docs/cloud/git/setup-azure-service-principal.md
  website/docs/docs/cloud/git/setup-azure-service-user.md
  website/sidebars.js
  website/snippets/_git-providers-supporting-ci.md
  website/vercel.json
Labels: content, size: large, Docs team

#6842 Core v1.10 upgrade framework
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.10.md
Labels: content, size: small, Docs team

#6840 Update snapshots.md to clarify folder location
  website/docs/docs/build/snapshots.md
Labels: content, size: x-small

#6841 Update biweekly to monthly mentions
  website/docs/docs/get-started-dbt.md
  website/docusaurus.config.js
Labels: content, size: x-small

#6844 Update snowflake-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: x-small

#6837 Update dremio-setup.md
  website/docs/docs/core/connect-data-platform/dremio-setup.md
Labels: content, size: x-small, new contributor

#6843 Adding redirect URI to ADO
  website/docs/docs/cloud/git/setup-azure-service-principal.md
Labels: content, size: x-small, Docs team

#6850 Cloud typo
  website/docs/faqs/Troubleshooting/auth-expired-error.md
  website/docs/guides/sl-migration.md
Labels: content, size: x-small, guides, Docs team

#6825 Establishing a single source for apis
  website/blog/2022-05-03-making-dbt-cloud-api-calls-using-dbt-cloud-cli.md
  website/vercel.json
Labels: size: large, developer blog, Docs team

#6845 add links to lifecycle pill
  website/docs/docs/introduction.md
  website/src/components/expandable/index.js
  website/src/components/lifeCycle/index.js
  website/src/components/lifeCycle/lifecycle-urls.js
  website/src/components/lifeCycle/styles.module.css
Labels: content, size: medium, Docs team

#6846 add dbt build adn dbt docs generate to view all metadata
  website/docs/docs/collaborate/explore-projects.md
Labels: content, size: x-small, Docs team

#6854 Update dbt_valid_to_current.md
  website/docs/reference/resource-configs/dbt_valid_to_current.md
Labels: content, size: x-small, Docs team

#5920 Python models Dataproc Serverless setup with packages
  website/docs/docs/build/python-models.md
Labels: content, size: small, new contributor
