Repository dbt-labs/docs.getdbt.com, pull requests merged in 2025-04, with the labels that each got.

#7123 Fix one of the code examples for `dbt_valid_to_current`
  website/docs/reference/resource-configs/dbt_valid_to_current.md
Labels: content, size: x-small

#7124 add gif and instructions to support doc
  website/docs/docs/dbt-support.md
  website/static/img/create-support-ticket.gif
Labels: content, size: x-small, Docs team

#7125 update severity page title
  website/docs/reference/resource-configs/severity.md
Labels: content, size: x-small, Docs team

#7122 Update python-models.md
  website/docs/docs/build/python-models.md
Labels: content, size: x-small

#7127 Link to instructions for creating a support ticket for dbt Cloud
  website/docs/community/resources/getting-help.md
  website/docs/docs/dbt-support.md
Labels: content, size: x-small

#7109 Adjust positioning of qualified widget button positioning
  website/src/css/custom.css
Labels: size: x-small

#7129 Make release note clearer
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#7134 Update environment-variables.md
  website/docs/docs/build/environment-variables.md
Labels: content, size: x-small

#7135 map tenancy table to status page
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
Labels: content, size: small, Docs team

#7138 Update regions-ip-addresses.md
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
Labels: content, size: x-small, Docs team

#7112 Macro annotation updates
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.10.md
  website/docs/faqs/Docs/documenting-macros.md
  website/docs/reference/global-configs/behavior-changes.md
  website/docs/reference/resource-properties/argument-type.md
  website/snippets/_validate-macro-args.md
Labels: content, size: medium, Docs team

#7141 Update bigquery-setup.md
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
Labels: content, size: x-small

#7136 add info about --profile and --target flag
  website/docs/docs/core/connect-data-platform/connection-profiles.md
  website/docs/reference/global-configs/about-global-configs.md
  website/docs/reference/project-configs/profile.md
Labels: content, size: small, Docs team, trigger-crawl

#7147 Update check_cols.md
  website/docs/reference/resource-configs/check_cols.md
Labels: content, size: x-small

#7126 Add in extra information why we need elevated privileges for Entra SSO integration
  website/docs/docs/cloud/manage-access/set-up-sso-microsoft-entra-id.md
Labels: content, size: x-small

#7128 Nfiann-arguments
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.10.md
  website/docs/faqs/Project/properties-not-in-config.md
  website/docs/reference/global-configs/behavior-changes.md
  website/docs/reference/macro-properties.md
  website/docs/reference/resource-properties/argument-type.md
  website/docs/reference/resource-properties/arguments.md
  website/package-lock.json
  website/sidebars.js
  website/snippets/_validate-macro-args.md
  website/vercel.json
Labels: content, size: large

#7149 Update information about sunsetted AWS CodeCommit
  website/docs/docs/cloud/git/import-a-project-by-git-url.md
Labels: content, size: x-small, Docs team

#7151 Update setup-azure-service-user.md
  website/docs/docs/cloud/git/setup-azure-service-user.md
Labels: content, size: x-small, Docs team

#7146 update model names
  website/docs/best-practices/materializations/materializations-guide-6-examining-builds.md
Labels: content, size: x-small, Docs team

#7142 custom time gran not supported for SL excel/gsheet
  website/docs/docs/cloud-integrations/semantic-layer/excel.md
  website/docs/docs/cloud-integrations/semantic-layer/gsheets.md
  website/snippets/_sl-excel-gsheets.md
Labels: content, size: small, Docs team

#7153 Update retry.md
  website/docs/reference/commands/retry.md
Labels: content, size: x-small, Docs team

#7139 BigFrames Quickstart
  website/docs/guides/dbt-python-bigframes.md
  website/static/img/guides/gcp-guides/gcp-bigframes-architecture.png
  website/static/img/guides/gcp-guides/gcp-bigframes-executions.png
  website/static/img/guides/gcp-guides/gcp-bigframes-runtime.png
  website/static/img/guides/gcp-guides/gcp-bigframes-source.png
Labels: content, size: medium, guides, new contributor

#7157 update hybrid requirements
  website/docs/docs/deploy/hybrid-projects.md
  website/docs/docs/deploy/hybrid-setup.md
Labels: content, size: x-small, Docs team

#7159 Fix bad link for microbatch strategy
  website/docs/docs/build/incremental-models-overview.md
Labels: content, size: x-small

#7148 clarify event-time requirements
  website/docs/docs/build/incremental-microbatch.md
  website/docs/reference/resource-configs/event-time.md
  website/snippets/_event_time_required.md
Labels: content, size: small, Docs team

#7131 Roadmap - Docs - Structured data on Dev Blog
  website/src/components/StructuredData/index.js
  website/src/theme/BlogPostPage/index.js
Labels: size: medium

#7165 Update arguments.md
  website/docs/reference/resource-properties/arguments.md
Labels: content, size: x-small, Docs team

#7160 create yaml tips section
  website/docs/best-practices/how-we-style/5-how-we-style-our-yaml.md
  website/docs/docs/build/dbt-tips.md
  website/docs/docs/build/project-variables.md
Labels: content, size: small, Docs team

#7161 add intro bullets explaining query options for SL apis
  website/docs/docs/dbt-cloud-apis/sl-graphql.md
  website/docs/docs/dbt-cloud-apis/sl-jdbc.md
Labels: content, size: medium, Docs team

#7171 GCP beta
  website/docs/docs/cloud/about-cloud/regions-ip-addresses.md
  website/snippets/cloud-feature-parity.md
Labels: content, size: small, Docs team

#7169 clarify warn-error in prod
  package-lock.json
  website/docs/reference/global-configs/warnings.md
Labels: content, size: large, Docs team

#7168 Clarifying when to use `--warn-error-options`
  package-lock.json
  website/docs/reference/dbt-jinja-functions/exceptions.md
  website/docs/reference/global-configs/warnings.md
  website/docs/reference/resource-configs/severity.md
Labels: content, size: large, Docs team

#7166 clarify model governance features
  website/docs/best-practices/how-we-mesh/mesh-5-faqs.md
  website/docs/docs/collaborate/govern/about-model-governance.md
Labels: content, size: small, Docs team

#7120 Docs for dbt-databricks v1.10.0
  website/docs/reference/global-configs/databricks-changes.md
  website/docs/reference/resource-configs/databricks-configs.md
Labels: content, size: medium

#7173 clarify why timestamp is recommended
  website/docs/docs/build/snapshots.md
Labels: content, size: small, Docs team

#7164 Update compatible-track-changelog.md - April release
  website/docs/docs/dbt-versions/compatible-track-changelog.md
Labels: content, size: medium

#7172 Rename type 'presto' to 'watsonx_presto' for DBT compatibility
  website/docs/docs/core/connect-data-platform/watsonx-presto-setup.md
  website/docs/reference/resource-configs/watsonx-presto-config.md
Labels: content, size: small

#7180 Revert "Clearing old redirects"
  website/vercel.json
Labels: size: large

#7032 New UI checkout - please don't merge just yet (may need updating)
  website/docs/faqs/Accounts/cloud-upgrade-instructions.md
  website/static/img/docs/dbt-cloud/developer-plan-allocation.png
  website/static/img/docs/dbt-cloud/downgrade-dev-flow.gif
  website/static/img/docs/dbt-cloud/enterprise-upgrade.gif
  website/static/img/docs/dbt-cloud/trial-team-flow.png
  website/static/img/docs/dbt-cloud/trial-team-payments-flow.png
Labels: content, size: small

#7182 fix(docs): Fix typo on how we style our python
  website/docs/best-practices/how-we-style/3-how-we-style-our-python.md
Labels: content, size: x-small

#7178 Updating VE prereqs
  website/docs/guides/visual-editor-qs.md
  website/snippets/_visual-editor-prerequisites.md
Labels: size: small, Docs team

#7179 Clarify Spark tblproperties config
  website/docs/reference/resource-configs/spark-configs.md
Labels: content, size: x-small

#7187 Resource type and project dependencies
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/reference/global-configs/resource-type.md
Labels: content, size: x-small

#7186 update audit log event names
  website/docs/docs/cloud/manage-access/audit-log.md
Labels: content, size: medium

#7190 Dashboard
  .github/workflows/codeowners-check.yml
  website/docs/docs/cloud/cost-management/cost-management.md
  website/sidebars.js
  website/static/img/docs/dbt-cloud/cost-management/configure-metadata.png
  website/static/img/docs/dbt-cloud/cost-management/connection-status.png
  website/static/img/docs/dbt-cloud/cost-management/cost-breakdown.png
  website/static/img/docs/dbt-cloud/cost-management/dashboard.png
  website/static/img/docs/dbt-cloud/cost-management/environment-cost-breakdown.png
  website/static/img/docs/dbt-cloud/cost-management/filter-by-environment.png
  website/static/img/docs/dbt-cloud/cost-management/filter-by-resource.png
  website/static/img/docs/dbt-cloud/cost-management/individual-environment.png
  website/static/img/docs/dbt-cloud/cost-management/project-bar.png
  website/static/img/docs/dbt-cloud/cost-management/render-lineage.png
  website/static/img/docs/dbt-cloud/cost-management/resource-type.png
  website/static/img/docs/dbt-cloud/cost-management/sort-by-consumption-query.png
  website/static/img/docs/dbt-cloud/cost-management/sort-by-execution-cost.png
  website/static/img/docs/dbt-cloud/cost-management/time-period.png
  website/static/img/docs/dbt-cloud/cost-management/warehouse-spend.png
Labels: content, size: medium, Docs team

#7185 Job admin release note
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#7193 Nfiann-update
  website/docs/docs/dbt-versions/release-notes.md
  website/snippets/_cloud-license-types.md
Labels: content, size: x-small

#7196 fix typo in init.md
  website/docs/reference/commands/init.md
Labels: content, size: x-small, new contributor

#7197 update developer ent permission
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small, Docs team

#7198 updating quickstart with various feedbacks around working and ordering
  website/docs/guides/dbt-python-bigframes.md
Labels: content, size: medium, guides

#7201 Dc/update query page docs
  website/docs/docs/cloud/about-cloud/about-dbt-cloud.md
  website/docs/docs/cloud/dbt-copilot.md
  website/docs/docs/cloud/use-dbt-copilot.md
  website/docs/docs/collaborate/access-dbt-insights.md
  website/docs/docs/collaborate/access-from-dbt-cloud.md
  website/docs/docs/collaborate/collaborate-with-others.md
  website/docs/docs/collaborate/dbt-insights.md
  website/docs/docs/collaborate/navigate-dbt-insights.md
  website/sidebars.js
  website/static/img/docs/dbt-insights/insights-chart.jpg
  website/static/img/docs/dbt-insights/insights-copilot.gif
  website/static/img/docs/dbt-insights/insights-details.jpg
  website/static/img/docs/dbt-insights/insights-ellipsis.gif
  website/static/img/docs/dbt-insights/insights-explorer.png
  website/static/img/docs/dbt-insights/insights-export-csv.jpg
  website/static/img/docs/dbt-insights/insights-main.gif
  website/static/img/docs/dbt-insights/insights-main.png
  website/static/img/docs/dbt-insights/insights-query-history.png
  website/static/img/docs/dbt-insights/insights-results.jpg
  website/vercel.json
Labels: content, size: medium

#7200 Updates to SCIM docs
  website/docs/docs/cloud/manage-access/audit-log.md
  website/docs/docs/cloud/manage-access/scim.md
  website/static/img/docs/dbt-cloud/access-control/copy-scim-token.png
  website/static/img/docs/dbt-cloud/access-control/name-scim-token.png
  website/static/img/docs/dbt-cloud/access-control/provisioning-actions.png
  website/static/img/docs/dbt-cloud/access-control/scim-okta-config.png
Labels: content, size: medium, Docs team

#7204 Add Postgres support to SL FAQ
  website/docs/docs/use-dbt-semantic-layer/sl-faqs.md
Labels: content, size: x-small

#7205 fixing constan in code pip install
  website/docs/docs/core/pip-install.md
Labels: content, size: small, Docs team

#7202 clarify supported openai models in copilot
  website/docs/docs/cloud/dbt-copilot-faqs.md
  website/docs/docs/cloud/dbt-copilot.md
  website/docs/docs/cloud/enable-dbt-copilot.md
Labels: content, size: x-small, Docs team

#7215 clarify hybrid service token permissions
  website/docs/docs/deploy/hybrid-setup.md
Labels: content, size: x-small, Docs team

#7214 ssh tunnel supported for sl
  website/docs/docs/dbt-versions/release-notes.md
  website/docs/guides/core-to-cloud-3.md
  website/snippets/_v2-sl-prerequisites.md
Labels: content, size: x-small, guides, Docs team

#7218 add-dbt-mcp dev blog
  website/blog/2025-04-18-dbt-mcp-server.md
  website/static/img/blog/2025-04-18-dbt-mcp-server/claudedesktop_project_card.png
  website/static/img/blog/2025-04-18-dbt-mcp-server/claudedesktop_settings_dbt_mcp.png
  website/static/img/blog/2025-04-18-dbt-mcp-server/mcp_architecture_overview.png
  website/static/img/blog/2025-04-18-dbt-mcp-server/mcp_use_cases.png
Labels: size: medium, developer blog

#7220 Image for links to post
  website/blog/2025-04-18-dbt-mcp-server.md
Labels: size: x-small, developer blog, Docs team

#7221 Correcting the steps on how to add project subdirectory
  website/docs/docs/build/projects.md
Labels: content, size: x-small, new contributor

#7224 Update explore-projects.md
  website/docs/docs/collaborate/explore-projects.md
Labels: content, size: small

#7208 Unit tests support `meta`
  website/docs/reference/resource-configs/meta.md
Labels: content, size: small

#7207 Unit tests support the `config` property for `enabled`, `meta`, and `tags`
  website/docs/reference/resource-properties/config.md
Labels: content, size: small

#7206 Unit tests support `enabled`
  website/docs/reference/resource-configs/enabled.md
Labels: content, size: small

#7140 Update: Getting Started with git Branching Strategies and dbt
  website/blog/2025-01-28-git-branching-strategies-and-dbt.md
Labels: size: medium, developer blog

#7199 Add lazy loading for Python SDK
  website/docs/docs/dbt-cloud-apis/sl-python-sdk.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: medium, Docs team

#7226 Add truncate mcp blog
  website/blog/2025-04-18-dbt-mcp-server.md
Labels: size: x-small, developer blog, Docs team

#7227 updates to insights page
  website/docs/docs/collaborate/access-dbt-insights.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/collaborate/navigate-dbt-insights.md
  website/static/img/docs/dbt-insights/insights-details.jpg
Labels: content, size: small, Docs team

#7203 changing VE to Canvas in titles
  website/blog/2025-04-10-dbt-cloud-sso-rbac.md
  website/constants.js
  website/docs/docs/cloud/about-cloud/about-dbt-cloud.md
  website/docs/docs/cloud/about-develop-dbt.md
  website/docs/docs/cloud/build-canvas-copilot.md
  website/docs/docs/cloud/canvas-interface.md
  website/docs/docs/cloud/canvas.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-copilot.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-copilot-faqs.md
  website/docs/docs/cloud/dbt-copilot.md
  website/docs/docs/cloud/use-canvas.md
  website/docs/docs/cloud/use-dbt-copilot.md
  website/docs/docs/cloud/visual-editor.md
  website/docs/docs/collaborate/access-dbt-insights.md
  website/docs/docs/collaborate/dbt-insights.md
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/collaborate/navigate-dbt-insights.md
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.10.md
  website/docs/docs/deploy/hybrid-projects.md
  website/docs/docs/deploy/hybrid-setup.md
  website/docs/guides/canvas-qs.md
  website/sidebars.js
  website/snippets/_canvas-prerequisites.md
  website/static/img/docs/dbt-cloud/canvas/access-canvas.png
  website/static/img/docs/dbt-cloud/canvas/aggregation.png
  website/static/img/docs/dbt-cloud/canvas/canvas-create-new-model.png
  website/static/img/docs/dbt-cloud/canvas/canvas-screen.png
  website/static/img/docs/dbt-cloud/canvas/canvas.png
  website/static/img/docs/dbt-cloud/canvas/config-panel.png
  website/static/img/docs/dbt-cloud/canvas/connector.png
  website/static/img/docs/dbt-cloud/canvas/demo-model-github.png
  website/static/img/docs/dbt-cloud/canvas/edit-model.png
  website/static/img/docs/dbt-cloud/canvas/join-connected.png
  website/static/img/docs/dbt-cloud/canvas/join-not-connected.png
  website/static/img/docs/dbt-cloud/canvas/one-model-operator.png
  website/static/img/docs/dbt-cloud/canvas/operator-tile.png
  website/static/img/docs/dbt-cloud/canvas/operators.png
  website/static/img/docs/dbt-cloud/canvas/order.png
  website/static/img/docs/dbt-cloud/canvas/output-model.png
  website/static/img/docs/dbt-cloud/canvas/preview-data.png
  website/static/img/docs/dbt-cloud/canvas/preview-join.png
  website/static/img/docs/dbt-cloud/canvas/run-results.png
  website/static/img/docs/dbt-cloud/canvas/two-model-operators.png
  website/static/img/docs/dbt-cloud/canvas/ve-model-folder.png
  website/static/img/docs/dbt-cloud/canvas/ve-screen.png
  website/static/img/docs/dbt-cloud/visual-editor/access-visual-editor.png
  website/static/img/docs/dbt-cloud/visual-editor/edit-model.png
  website/static/img/docs/dbt-cloud/visual-editor/ve-create-new-model.png
  website/static/img/docs/dbt-cloud/visual-editor/ve-main-menu.png
  website/static/img/docs/dbt-cloud/visual-editor/visual-editor.png
  website/vercel.json
Labels: content, size: large, guides, Docs team

#7219 Onboarding dbt-fabricspark adapter, adding documentation of the adapter
  website/docs/docs/core/connect-data-platform/fabric-setup.md
  website/docs/docs/core/connect-data-platform/fabricspark-setup.md
  website/docs/reference/resource-configs/fabricspark-configs.md
  website/sidebars.js
  website/snippets/_adapters-trusted.md
  website/static/img/icons/fabric_lakehouse.svg
  website/static/img/icons/fabric_warehouse.svg
  website/static/img/icons/white/fabric.svg
  website/static/img/icons/white/fabric_lakehouse.svg
  website/static/img/icons/white/fabric_warehouse.svg
Labels: content, size: large

#7230 Removing erroneous config
  website/docs/docs/core/connect-data-platform/snowflake-setup.md
Labels: content, size: medium, Docs team

#7229 replace pills with variables
  website/docs/docs/build/view-documentation.md
  website/docs/docs/cloud-integrations/downstream-exposures-tableau.md
  website/docs/docs/cloud-integrations/downstream-exposures.md
  website/docs/docs/cloud-integrations/orchestrate-exposures.md
  website/docs/docs/cloud-integrations/semantic-layer/power-bi.md
  website/docs/docs/cloud/account-integrations.md
  website/docs/docs/cloud/account-settings.md
  website/docs/docs/cloud/build-canvas-copilot.md
  website/docs/docs/cloud/canvas-interface.md
  website/docs/docs/cloud/cost-management/cost-management.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-copilot.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-cloud-ide/git-commit-signing.md
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
  website/docs/docs/cloud/dbt-copilot-faqs.md
  website/docs/docs/cloud/dbt-copilot.md
  website/docs/docs/cloud/enable-dbt-copilot.md
  website/docs/docs/cloud/git/connect-azure-devops.md
  website/docs/docs/cloud/git/setup-azure-service-principal.md
  website/docs/docs/cloud/manage-access/about-access.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/cloud/manage-access/external-oauth.md
  website/docs/docs/cloud/manage-access/set-up-databricks-oauth.md
  website/docs/docs/cloud/use-canvas.md
  website/docs/docs/cloud/use-dbt-copilot.md
  website/docs/docs/collaborate/access-dbt-insights.md
  website/docs/docs/collaborate/access-from-dbt-cloud.md
  website/docs/docs/collaborate/column-level-lineage.md
  website/docs/docs/collaborate/dbt-insights.md
  website/docs/docs/collaborate/govern/about-model-governance.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/docs/collaborate/navigate-dbt-insights.md
  website/docs/docs/collaborate/view-downstream-exposures.md
  website/docs/docs/dbt-cloud-apis/apis-overview.md
  website/docs/docs/dbt-cloud-apis/service-tokens.md
  website/docs/docs/dbt-cloud-apis/user-tokens.md
  website/docs/docs/deploy/advanced-ci.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/continuous-integration.md
  website/docs/docs/deploy/deploy-jobs.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/deploy/hybrid-projects.md
  website/docs/docs/deploy/hybrid-setup.md
  website/docs/docs/deploy/job-scheduler.md
  website/docs/docs/deploy/monitor-jobs.md
  website/docs/docs/deploy/orchestrate-exposures.md
  website/docs/docs/deploy/run-visibility.md
  website/docs/guides/core-cloud-2.md
  website/docs/guides/core-to-cloud-1.md
  website/docs/guides/core-to-cloud-3.md
  website/docs/guides/mesh-qs.md
  website/docs/reference/artifacts/dbt-artifacts.md
  website/snippets/_git-providers-supporting-ci.md
  website/snippets/_new-sl-setup.md
Labels: content, size: medium, guides, Docs team

#7228 update lifecycle to variables
  website/docs/docs/build/view-documentation.md
  website/docs/docs/cloud-integrations/downstream-exposures-tableau.md
  website/docs/docs/cloud-integrations/downstream-exposures.md
  website/docs/docs/cloud-integrations/orchestrate-exposures.md
  website/docs/docs/cloud-integrations/semantic-layer/power-bi.md
  website/docs/docs/cloud/account-integrations.md
  website/docs/docs/cloud/account-settings.md
  website/docs/docs/cloud/build-canvas-copilot.md
  website/docs/docs/cloud/canvas-interface.md
  website/docs/docs/cloud/canvas.md
  website/docs/docs/cloud/cost-management/cost-management.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-copilot.md
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/docs/docs/cloud/dbt-cloud-ide/git-commit-signing.md
  website/docs/docs/cloud/dbt-cloud-ide/ide-user-interface.md
  website/docs/docs/cloud/dbt-copilot-faqs.md
  website/docs/docs/cloud/dbt-copilot.md
  website/docs/docs/cloud/enable-dbt-copilot.md
  website/docs/docs/cloud/git/connect-azure-devops.md
  website/docs/docs/cloud/git/setup-azure-service-principal.md
  website/docs/docs/cloud/manage-access/about-access.md
  website/docs/docs/cloud/manage-access/cloud-seats-and-users.md
  website/docs/docs/cloud/manage-access/external-oauth.md
  website/docs/docs/cloud/manage-access/set-up-databricks-oauth.md
  website/docs/docs/cloud/use-canvas.md
  website/docs/docs/cloud/use-dbt-copilot.md
  website/docs/docs/collaborate/access-dbt-insights.md
  website/docs/docs/collaborate/access-from-dbt-cloud.md
  website/docs/docs/collaborate/column-level-lineage.md
  website/docs/docs/collaborate/dbt-insights.md
  website/docs/docs/collaborate/govern/about-model-governance.md
  website/docs/docs/collaborate/govern/project-dependencies.md
  website/docs/docs/collaborate/navigate-dbt-insights.md
  website/docs/docs/collaborate/view-downstream-exposures.md
  website/docs/docs/dbt-cloud-apis/apis-overview.md
  website/docs/docs/dbt-cloud-apis/service-tokens.md
  website/docs/docs/dbt-cloud-apis/user-tokens.md
  website/docs/docs/deploy/advanced-ci.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/docs/deploy/continuous-integration.md
  website/docs/docs/deploy/deploy-jobs.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/deploy/hybrid-projects.md
  website/docs/docs/deploy/hybrid-setup.md
  website/docs/docs/deploy/job-scheduler.md
  website/docs/docs/deploy/monitor-jobs.md
  website/docs/docs/deploy/orchestrate-exposures.md
  website/docs/docs/deploy/run-visibility.md
  website/docs/guides/core-cloud-2.md
  website/docs/guides/core-to-cloud-1.md
  website/docs/guides/core-to-cloud-3.md
  website/docs/guides/mesh-qs.md
  website/docs/reference/artifacts/dbt-artifacts.md
  website/snippets/_git-providers-supporting-ci.md
  website/snippets/_new-sl-setup.md
  website/src/components/lifeCycle/index.js
  website/src/components/lifeCycle/lifecycle-urls.js
Labels: size: medium, Docs team

#7175 Feature: Update constraints.md to include `warn_unenforced` example
  website/docs/reference/resource-properties/constraints.md
Labels: content, size: x-small

#7232 update banner and blog cta with showcase
  website/blog/ctas.yml
  website/blog/metadata.yml
  website/docusaurus.config.js
Labels: size: small, developer blog, Docs team

#7234 Deprecation warnings
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.10.md
Labels: content, size: small, Docs team

#7238 Update best-practice-workflows.md
  website/docs/best-practices/best-practice-workflows.md
Labels: content, size: x-small, Docs team

#7237 add column and remov pill
  website/snippets/_git-providers-supporting-ci.md
Labels: content, size: small, Docs team

#7236 clarify default groups
  website/docs/docs/cloud/manage-access/about-access.md
Labels: content, size: x-small, Docs team

#7243 fix/updates ide screenshots
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/static/img/docs/dbt-cloud/cloud-ide/cloud-ide-v2.jpg
  website/static/img/docs/dbt-cloud/refresh-ide/dev-credentials.jpg
Labels: content, size: x-small, Docs team

#7244 Add Sigma to data-tile.md --> "Examples" section description
  website/docs/docs/collaborate/data-tile.md
Labels: content, size: x-small, new contributor

#7239 Fix/upgrade guide dep warnings
  website/docs/docs/dbt-versions/core-upgrade/05-upgrading-to-v1.10.md
  website/docs/reference/resource-configs/meta.md
Labels: content, size: medium

#7245 update azure devops gif
  website/docs/docs/cloud/git/setup-azure-service-user.md
  website/static/img/docs/dbt-cloud/connecting-azure-devops/AzureDevopsAppdbtCloud.gif
Labels: content, size: x-small, Docs team

#7246 add more details to snapshot migration
  website/docs/reference/snapshot-configs.md
Labels: size: medium, Docs team

#7247 Fixed typos in Canvas topic
  website/docs/docs/cloud/use-canvas.md
Labels: content, size: x-small

#7240 Update and fix warnings config page
  website/docs/reference/global-configs/warnings.md
Labels: content, size: medium

#7250 updates cloud parity table
  website/snippets/cloud-feature-parity.md
Labels: content, size: small

#7251 Add missing apostrophe
  website/docs/guides/sl-snowflake-qs.md
Labels: content, size: x-small, guides

#7252 Created a partial file for Load Data section and added prereq in sl-snowflake-qs
  website/docs/guides/sl-snowflake-qs.md
  website/docs/guides/snowflake-qs.md
  website/snippets/_load-data.md
Labels: content, size: large, guides

#7256 Update logs.md
  website/docs/docs/dbt-versions/core-upgrade/11-Older versions/10-upgrading-to-v1.5.md
  website/docs/reference/global-configs/logs.md
Labels: content, size: small, Docs team

#7257 Added tip to use minimal config and added punctuation
  website/docs/guides/redshift-qs.md
Labels: content, size: small, guides

#7249 Add MaxCompute in community adapter
  website/docs/docs/community-adapters.md
  website/docs/docs/core/connect-data-platform/maxcompute-setup.md
  website/sidebars.js
Labels: content, size: large, new contributor

#7145 dbt-bigquery python model page update
  website/docs/docs/build/python-models.md
  website/docs/docs/cloud/connect-data-platform/connnect-bigquery.md
  website/docs/docs/core/connect-data-platform/bigquery-setup.md
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: medium, guides

#7248 Initial pass at adding deprecations page
  website/docs/reference/deprecations.md
  website/sidebars.js
Labels: content, size: medium

#7253 Update dbt-insights.md
  website/docs/docs/explore/dbt-insights.md
Labels: content, size: small, Docs team

#7259 Issue 5519 python model config
  website/docs/docs/build/python-models.md
  website/docs/reference/resource-configs/bigquery-configs.md
  website/docs/reference/resource-configs/databricks-configs.md
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: large

#7264 Update hybrid-setup.md
  website/docs/docs/deploy/hybrid-setup.md
Labels: content, size: x-small

#7261 add more clarification for result node selector
  website/docs/reference/node-selection/methods.md
Labels: content, size: small, Docs team

#7265 Update bigquery-configs.md
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: small

#7269 Clarifying job merge feature
  website/docs/docs/cloud/git/connect-gitlab.md
  website/docs/docs/deploy/merge-jobs.md
Labels: content, size: x-small, Docs team

#7267 Update Semantic Layer permission description
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
Labels: content, size: x-small, Docs team
