Repository dbt-labs/docs.getdbt.com, pull requests merged in 2025-02, with the labels that each got.

#6859 remove repeated word
  website/snippets/_cloud-environments-info.md
Labels: content, size: x-small, Docs team

#6858 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size: x-small, Docs team

#6834 add updated_at example
  website/docs/docs/build/snapshots.md
  website/docs/reference/resource-configs/updated_at.md
Labels: content, size: small, Docs team

#6861 Updated visual editor page
  website/docs/docs/cloud/use-visual-editor.md
  website/static/img/docs/dbt-cloud/visual-editor/visual-editor.png
Labels: content, size: x-small

#6851 [WIP] Upgrade Docusaurus to v3.7.0
  website/.swcrc
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/plugins/customWebpackConfig/index.js
  website/plugins/svg/package.json
  website/plugins/svg/src/index.js
  website/src/pages/dbt-cloud/api-v2-legacy.js
  website/src/theme/BlogPostPage/index.js
  website/src/theme/DocCard/index.js
  website/src/theme/DocItem/Content/index.js
  website/src/theme/DocItem/Layout/index.js
  website/src/theme/DocRoot/Layout/Main/index.js
Labels: size: large

#6862 Updated VE img
  website/docs/docs/cloud/use-visual-editor.md
  website/package-lock.json
  website/static/img/docs/dbt-cloud/visual-editor/access-visual-editor.png
  website/static/img/docs/dbt-cloud/visual-editor/visual-editor.png
Labels: content, size: x-small

#6865 Typo in dbt-source-freshness.md
  website/docs/faqs/Project/dbt-source-freshness.md
Labels: content, size: x-small

#6864 Add spring launch to CTAs
  website/blog/ctas.yml
  website/blog/metadata.yml
Labels: size: small, developer blog, Docs team

#6863 Removing confusing text
  website/docs/docs/cloud/git/setup-azure-service-principal.md
Labels: content, size: x-small, Docs team

#6852 Updating description fields
  website/docs/docs/build/analyses.md
  website/docs/docs/build/custom-aliases.md
  website/docs/docs/build/custom-schemas.md
  website/docs/docs/build/data-tests.md
  website/docs/docs/build/hooks-operations.md
  website/docs/docs/build/incremental-models.md
  website/docs/docs/build/incremental-strategy.md
  website/docs/docs/build/jinja-macros.md
  website/docs/docs/build/materializations.md
  website/docs/docs/build/models.md
  website/docs/docs/build/packages.md
  website/docs/docs/build/project-variables.md
  website/docs/docs/build/python-models.md
  website/docs/docs/build/seeds.md
  website/docs/docs/build/snapshots.md
  website/docs/docs/build/sources.md
  website/docs/docs/build/sql-models.md
  website/docs/docs/build/unit-tests.md
  website/docs/docs/core/connect-data-platform/connection-profiles.md
  website/docs/docs/core/connect-data-platform/profiles.yml.md
  website/docs/docs/core/installation-overview.md
  website/docs/docs/core/pip-install.md
  website/docs/docs/introduction.md
  website/docs/reference/commands/cmd-docs.md
  website/docs/reference/commands/compile.md
  website/docs/reference/commands/run.md
  website/docs/reference/dbt_project.yml.md
  website/docs/reference/model-configs.md
  website/docs/reference/node-selection/syntax.md
  website/docs/reference/resource-configs/bigquery-configs.md
  website/docs/reference/resource-configs/full_refresh.md
  website/docs/reference/resource-configs/pre-hook-post-hook.md
  website/docs/reference/resource-configs/tags.md
  website/docs/reference/resource-properties/data-tests.md
Labels: content, size: medium, Docs team

#6853 update css to remove lifecycle pill from toc
  website/docs/docs/introduction.md
  website/src/components/lifeCycle/index.js
  website/src/components/lifeCycle/styles.module.css
  website/src/css/custom.css
  website/static/js/headerLinkCopy.js
Labels: content, size: small, Docs team

#6866 Update snapshots.md
  website/docs/docs/build/snapshots.md
Labels: content, size: small

#6870 Revert "Establishing a single source for apis"
  website/blog/2022-05-03-making-dbt-cloud-api-calls-using-dbt-cloud-cli.md
  website/vercel.json
Labels: size: large, developer blog

#6872 Update dbt-explorer-faqs.md
  website/docs/docs/collaborate/dbt-explorer-faqs.md
  website/docs/docs/collaborate/explore-projects.md
Labels: content, size: x-small

#6873 update redirect for devblog
  website/vercel.json
Labels: size: x-small, Docs team

#6868 move configs to models subfolder
  website/docs/reference/model-configs.md
  website/docs/reference/resource-configs/batch_size.md
  website/docs/reference/resource-configs/begin.md
  website/docs/reference/resource-configs/lookback.md
  website/docs/reference/resource-properties/concurrent_batches.md
  website/sidebars.js
Labels: content, size: medium, Docs team, trigger-crawl

#6867 Added description section to data tests doc
  website/docs/reference/data-test-configs.md
Labels: content, size: small

#6593 Adding tab borders
  website/src/css/custom.css
Labels: size: medium, Docs team

#6874 Update Cache Control
  website/api/get-discourse-comments.js
  website/api/get-discourse-topics.js
  website/vercel.json
Labels: size: medium

#6875 clarify manual and auto exposures in data health tile
  website/docs/docs/collaborate/data-tile.md
  website/snippets/_auto-exposures-view.md
  website/static/img/docs/cloud-integrations/auto-exposures/explorer-view-resources.jpg
Labels: content, size: medium, Docs team

#6878 remove beta for microbatch
  website/docs/docs/build/incremental-microbatch.md
  website/docs/docs/build/incremental-models-overview.md
  website/docs/docs/build/incremental-strategy.md
Labels: content, size: small, Docs team

#6881 updated Change your dbt Cloud theme doc
  website/docs/docs/cloud/about-cloud/change-your-dbt-cloud-theme.md
  website/package-lock.json
Labels: content, size: small

#6883 remove confusing img
  website/docs/docs/build/metricflow-time-spine.md
  website/static/img/time_spines.png
Labels: content, size: x-small, Docs team

#6882 Update connect-snowflake.md
  website/docs/docs/cloud/connect-data-platform/connect-snowflake.md
Labels: content, size: x-small

#6885 Adding clarifying language to roles
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small, Docs team

#6879 add auto exposures tableau considerations
  website/docs/docs/cloud-integrations/configure-auto-exposures.md
  website/docs/docs/collaborate/auto-exposures.md
  website/snippets/_auto-exposures-considerations-tb.md
Labels: content, size: small, Docs team

#6869 Enhancing the permissions page
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: large, Docs team

#6894 refactor state selection section
  website/blog/2025-01-21-wish-i-had-a-control-plane-for-my-renovation.md
  website/docs/docs/deploy/ci-jobs.md
  website/docs/reference/node-selection/configure-state.md
  website/docs/reference/node-selection/methods.md
  website/docs/reference/node-selection/state-comparison-caveats.md
  website/docs/reference/node-selection/state-selection.md
  website/docs/reference/node-selection/syntax.md
  website/sidebars.js
Labels: content, size: medium, developer blog, Docs team

#6890 Update bigquery-configs.md
  website/docs/reference/resource-configs/bigquery-configs.md
Labels: content, size: x-small

#6892 Created VE sidebar
  website/sidebars.js
Labels: size: small

#6901 Git repo caching
  website/docs/docs/cloud/account-settings.md
Labels: content, size: x-small, Docs team

#6899 Ve jinja
  website/docs/docs/cloud/use-visual-editor.md
Labels: content, size: x-small, Docs team

#6903 Update athena-setup.md
  website/docs/docs/core/connect-data-platform/athena-setup.md
Labels: content, size: x-small

#6884 Update compatible-track-changelog.md
  website/docs/docs/dbt-versions/compatible-track-changelog.md
Labels: content, size: medium

#6911 Update to change your theme docs
  website/docs/docs/cloud/about-cloud/change-your-dbt-cloud-theme.md
Labels: content, size: small

#6904 Update Iceberg configs on Snowflake
  website/docs/reference/resource-configs/snowflake-configs.md
Labels: content, size: small

#6898 Removing cta
  website/blog/ctas.yml
  website/blog/metadata.yml
Labels: size: x-small, developer blog, Docs team

#6909 Update lint-format.md
  website/docs/docs/cloud/dbt-cloud-ide/lint-format.md
  website/docs/docs/deploy/continuous-integration.md
Labels: content, size: small, Docs team

#6900 add intro text component
  website/docs/docs/collaborate/explore-projects.md
  website/docs/docs/introduction.md
  website/docs/reference/resource-configs/alias.md
  website/src/components/IntroText/index.js
  website/src/components/IntroText/styles.module.css
  website/src/theme/DocItem/Content/index.js
  website/src/theme/MDXComponents/index.js
Labels: content, size: small, Docs team

#6913 Update account-settings.md
  website/docs/docs/cloud/account-settings.md
  website/docs/docs/deploy/deployment-overview.md
  website/docs/docs/deploy/job-scheduler.md
Labels: content, size: small, Docs team

#6912 Update environment permissions
  website/docs/docs/cloud/manage-access/environment-permissions.md
Labels: content, size: x-small

#6914 ADO service principal GA
  website/docs/docs/cloud/git/setup-azure-service-principal.md
  website/docs/docs/dbt-versions/release-notes.md
Labels: size: small, Docs team

#6902 Adding clarifying text to viewer
  website/docs/docs/cloud/manage-access/enterprise-permissions.md
Labels: content, size: x-small, Docs team

#6915 Update Support blurb
  website/docs/docs/dbt-support.md
Labels: content, size: x-small, Docs team

#6905 adding snowflake behavior changes configs
  website/docs/reference/global-configs/adapter-behavior-changes.md
  website/docs/reference/global-configs/snowflake-changes.md
  website/sidebars.js
Labels: content, size: small, Docs team

#6916 Updating the snowflake OAuth page
  website/docs/docs/cloud/manage-access/set-up-snowflake-oauth.md
  website/static/img/docs/dbt-cloud/dbt-cloud-enterprise/database-connection-snowflake-oauth.png
Labels: content, size: small, Docs team

#6917 Updating VE prerequisites
  website/docs/docs/cloud/use-visual-editor.md
  website/docs/docs/cloud/visual-editor.md
  website/snippets/_visual-editor-prerequisites.md
Labels: content, size: small, Docs team

#6908 Update dbt-support.md
  website/docs/docs/dbt-support.md
Labels: content, size: small, Docs team

#6910 Image and language update to VE docs
  website/docs/docs/cloud/use-visual-editor.md
  website/docs/docs/cloud/visual-editor-interface.md
  website/static/img/docs/dbt-cloud/visual-editor/config-panel.png
  website/static/img/docs/dbt-cloud/visual-editor/connector.png
  website/static/img/docs/dbt-cloud/visual-editor/operator.png
  website/static/img/docs/dbt-cloud/visual-editor/visual-editor.png
Labels: content, size: small

#6919 Add execute_timeout to GQL Client in Python SDK
  website/docs/docs/dbt-versions/release-notes.md
Labels: content, size: x-small, Docs team

#6921 add callout to use modules.datetime and modules.pytz for begin config
  website/docs/reference/resource-configs/begin.md
Labels: content, size: small, Docs team

#6856 Updated defer in the dbt Cloud IDE docs
  website/docs/docs/cloud/about-cloud-develop-defer.md
Labels: content, size: small

#6923 link to sql understanding blogs together
  website/blog/2025-01-23-levels-of-sql-comprehension.md
Labels: size: x-small, developer blog

#6922 update incremental strategy and add overview page
  website/docs/docs/build/incremental-strategy.md
  website/docs/reference/resource-configs/_category.yaml
  website/docs/reference/resource-configs/resource-configs.md
  website/package-lock.json
  website/sidebars.js
Labels: content, size: small, Docs team

#6925 Changing permission to correct value
  website/snippets/_enterprise-permissions-table.md
Labels: content, size: x-small, Docs team

#6924 Update git-migration.md
  website/docs/faqs/Git/git-migration.md
Labels: content, size: small, Docs team

#6927 Update configs-and-properties.md
  website/docs/reference/configs-and-properties.md
Labels: content, size: x-small

#6928 refactor parallel batch page
  website/docs/docs/build/incremental-microbatch.md
  website/docs/docs/build/incremental-models-overview.md
  website/docs/docs/build/incremental-models.md
  website/docs/docs/build/incremental-strategy.md
  website/docs/docs/build/parallel-batch-execution.md
  website/docs/docs/dbt-versions/core-upgrade/06-upgrading-to-v1.9.md
  website/docs/reference/resource-properties/concurrent_batches.md
  website/sidebars.js
Labels: content, size: medium, Docs team

#6897 External OAuth Redshift
  website/docs/docs/cloud/manage-access/external-oauth.md
Labels: content, size: medium, Docs team

#6929 Create parsing with rust blog
  website/blog/2025-02-19-faster-project-parsing-with-rust.md
  website/static/img/blog/2025-02-19-faster-project-parsing-with-rust/evaluation_strategies_1.png
  website/static/img/blog/2025-02-19-faster-project-parsing-with-rust/evaluation_strategies_2.png
  website/static/img/blog/2025-02-19-faster-project-parsing-with-rust/parse_time_comparison_linear.png
  website/static/img/blog/2025-02-19-faster-project-parsing-with-rust/parse_time_comparison_log.png
  website/static/img/blog/2025-02-19-faster-project-parsing-with-rust/parsing_10k.gif
Labels: content, size: medium, developer blog

#6930 Tweak blog landing page
  website/blog/2025-01-23-levels-of-sql-comprehension.md
  website/blog/metadata.yml
Labels: content, size: x-small, developer blog

#6799 Update cloud-cli-installation.md
  website/docs/docs/cloud/cloud-cli-installation.md
  website/docs/docs/cloud/configure-cloud-cli.md
  website/snippets/_cloud-cli-relative-path.md
Labels: content, size: small

#6920 update expandable component
  website/docs/docs/cloud/dbt-cloud-ide/develop-in-the-cloud.md
  website/src/components/expandable/index.js
  website/src/components/expandable/styles.module.css
Labels: content, size: medium, Docs team

#6895 Add watsonx spark config and setup files
  website/docs/docs/community-adapters.md
  website/docs/docs/core/connect-data-platform/watsonx-spark-setup.md
  website/docs/reference/resource-configs/watsonx-spark-config.md
  website/sidebars.js
Labels: content, size: medium, new contributor

#6937 Changing link
  website/docs/docs/core/connect-data-platform/watsonx-spark-setup.md
Labels: content, size: x-small, Docs team

#6935 CTA developer day
  website/blog/ctas.yml
  website/blog/metadata.yml
Labels: size: x-small, developer blog, Docs team

#6939 Update to add required formatting for X.509 certificate
  website/docs/docs/cloud/manage-access/set-up-sso-saml-2.0.md
Labels: content, size: small

#6938 Changing link syntax
  website/docs/docs/core/connect-data-platform/watsonx-spark-setup.md
Labels: content, size: x-small, Docs team

#6934 Update blog authors
  website/blog/authors.yml
  website/docusaurus.config.js
  website/plugins/buildAuthorPages/index.js
  website/src/components/author/index.js
  website/src/theme/BlogPostItem/Header/Author/index.js
  website/src/theme/BlogSidebar/Desktop/index.js
  website/src/theme/BlogSidebar/Desktop/styles.module.css
  website/vercel.json
Labels: size: large, developer blog

#6940 add how to add description to generic test in best pract doc
  website/docs/best-practices/custom-generic-tests.md
Labels: content, size: medium, Docs team

#6941 clarify model notifs for deployment envs only
  website/docs/docs/deploy/model-notifications.md
Labels: content, size: x-small, Docs team

#6943 added dbt-teradata's supported incremental strategies
  website/docs/docs/build/incremental-strategy.md
Labels: content, size: x-small

#6947 add redshift icon for darkmode
  website/static/img/icons/white/redshift.svg
Labels: content, size: x-small, Docs team

#6948 Update setup-azure-service-principal.md
  website/docs/docs/cloud/git/setup-azure-service-principal.md
Labels: content, size: x-small, Docs team

#6932 add info about + prefix and splits config page
  website/blog/2024-01-15-dbt-server-deprecation-announcement.md
  website/docs/reference/configs-and-properties.md
  website/docs/reference/dbt_project.yml.md
  website/docs/reference/define-configs.md
  website/docs/reference/define-properties.md
  website/docs/reference/project-configs/version.md
  website/docs/reference/resource-configs/plus-prefix.md
  website/docs/reference/resource-configs/store_failures_as.md
  website/sidebars.js
  website/snippets/_config-prop-callout.md
  website/snippets/_configs-properties.md
  website/snippets/_plus-prefix.md
Labels: content, size: large, Docs team, trigger-crawl

#6950 change order
  website/docs/docs/cloud/about-develop-dbt.md
Labels: content, size: x-small, Docs team

#6952 Update athena-setup.md
  website/docs/docs/core/connect-data-platform/athena-setup.md
Labels: content, size: x-small, Docs team

#6949 make breadcrumbs clickable in ref pages
  website/sidebars.js
Labels: size: medium, Docs team

#6953 Update 3-intermediate.md to add missing word
  website/docs/best-practices/how-we-structure/3-intermediate.md
Labels: content, size: x-small, new contributor

#6944 adds description example of core logic for generic test
  website/docs/best-practices/custom-generic-tests.md
  website/docs/docs/build/data-tests.md
  website/docs/reference/data-test-configs.md
  website/docs/reference/resource-properties/description.md
Labels: content, size: small, Docs team

#6955 Update measures.md
  website/docs/docs/build/measures.md
Labels: content, size: small, Docs team

#6957 Update environment-permissions-setup.md
  website/docs/docs/cloud/manage-access/environment-permissions-setup.md
Labels: content, size: small, Docs team
